---
import fs from 'node:fs';
import { env } from '@w0s/env-value-type';
import Layout from '@layouts/Admin.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

export const prerender = false;
const { requestParams } = Astro.locals;

const structuredData: StructuredData = {
	title: 'ウェブ巡回（リソースファイル）',
	breadcrumb: [{ path: '/admin/crawler-resource/', name: 'ウェブ巡回（リソース）' }],
};

const requestParamDir = requestParams.get('dir') ?? undefined;
const requestParamFile = requestParams.get('file') ?? undefined;

if (requestParamDir !== undefined && requestParamFile !== undefined) {
	const filePath = `${env('ROOT')}/${env('CRAWLER_RESOURCE_LOG_DIR')}/${requestParamDir}/${requestParamFile}`;

	/* ソースコード閲覧 */
	const file = (await fs.promises.readFile(filePath)).toString();
	return new Response(file);
}
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<p><strong>データがありません。</strong></p>
</Layout>
