/*
ボタン

Styleguide 1.4.
*/

/*
ボタンリンク

Markup:
<a href="/" class="c-button {{modifier_class}}">ボタン<small>（補足）</small></a>

.-nowrap - 改行しない
.-feed - Feed
.-twitter - Twitter
.-github - GitHub
.-amazon - Amazon
.-youtube - YouTube

Styleguide 1.4.1
*/
.c-button {
	--_padding-row: 0.5em;
	--_padding-col: 0.75em;
	--_border-color: var(--color-gray);
	--_width: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_font-size: 100%;
	--_icon-size: 1.25em;

	padding: var(--_padding-row) var(--_padding-col);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: var(--_width);
	color: var(--_color);
	background: var(--_background);
	font-size: var(--_font-size);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	text-decoration: none;
	outline-offset: 0.125em;

	&:disabled {
		display: none;
	}

	&:hover {
		color: var(--_color);
		box-shadow: 0 0 2px var(--_border-color);
	}

	&.-nowrap {
		white-space: nowrap;
	}

	/* トップページの見出し横では小さく表示 */
	@nest .p-top-hdg & {
		--_padding-row: 0.35em;
		--_font-size: calc(100% / var(--font-ratio-1));
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: #454545;
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: #2293dd;
		--_color: var(--color-white);
		--_background: #1da1f2;
	}

	/* GitHub */
	&.-github {
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(#ffe8ab, #f5c747);
	}

	/* YouTube */
	&.-youtube {
		--_border-color: #f33;
		--_color: #c22;
		--_background: linear-gradient(var(--color-white), #fee);
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-col: 1px;
		--_width: 100%;
	}
}

.c-button__icon {
	aspect-ratio: 1/1;
	height: var(--_icon-size);
}

.c-button__text {
	@nest .p-entry-footer-social & {
		white-space: nowrap; /* for iPad Safari */
	}
}
