/*
埋め込みコンテンツ

Styleguide 1.5.
*/

/*
キャプション

Markup:
<figcaption class="c-embedded-caption {{modifier_class}}">キャプション</figcaption>

.-data - メタデータ

Styleguide 1.5.1
*/
.c-embedded-caption {
	display: flex;
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);

	/* メタデータ */
	&.-meta {
		justify-content: flex-end;
	}

	/* 外部サービス埋め込みの元ソースリンク */
	&.-link {
		justify-content: flex-end;
	}
}
