/*
フォーム

Styleguide 1.4.
*/

/* プレースホルダー */
::placeholder {
	color: var(--color-black);
	opacity: 0.54;
}

/*
一行入力欄（type="text", type="search", type="date", ...）

Markup:
<input class="c-input {{modifier_class}}" style="--input-width: 10em"/>

.-full - 全幅
.-invalid - エラー時

Styleguide 1.4.1
*/
.c-input {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	padding: var(--form-control-padding-block);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	width: var(--width, auto);
	max-width: 100%;
	color: var(--_color);
	background: var(--_bg-color);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	/* 全幅 */
	&.-full {
		width: 100%;
	}

	&:enabled:read-write {
		&:hover {
			--_border-color: var(--outline-color);
		}

		&.-invalid {
			--_border-color: var(--invalid-border-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	&:read-only {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/*
ファイル選択（type="file"）

Markup:
<input type="file" class="c-input-file"/>

Styleguide 1.4.2
*/
.c-input-file {
	--_border-color: transparent;
	--_color: var(--color-black);
	--_bg-color: transparent;

	padding: var(--form-control-padding-block) 0;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	color: var(--_color);
	background: var(--_bg-color);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	&:enabled {
		&:hover {
			--_border-color: var(--outline-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/*
プルダウン（select）

Markup:
<select class="c-select">
<option value="" selected="">選択肢</option>
<option value="">選択肢</option>
</select>

Styleguide 1.4.3
*/
.c-select {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	padding: calc(var(--form-control-padding-block) * var(--line-height-normal) / 1.25) var(--form-control-padding-block);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	color: var(--_color);
	background: var(--_bg-color);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	&:enabled {
		&:hover {
			--_border-color: var(--outline-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/*
複数行入力（textarea）

Markup:
<textarea class="c-textarea {{modifier_class}}" style="--height: 10em"></textarea>

.-invalid - エラー時

Styleguide 1.4.4
*/
.c-textarea {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	padding: var(--form-control-padding-block);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	width: 100%;
	min-height: var(--height, auto);
	color: var(--_color);
	background: var(--_bg-color);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	&:enabled:read-write {
		&:hover {
			--_border-color: var(--outline-color);
		}

		&.-invalid {
			--_border-color: var(--invalid-border-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	&:read-only {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/*
送信ボタン

Markup:
<button class="c-submit {{modifier_class}}">ボタン</button>

.-cancel - キャンセルボタン

Styleguide 1.4.5
*/
.c-submit {
	--_border-color: var(--_bg-color);
	--_color: var(--color-white);
	--_bg-color: hsl(204 100% 42%);
	--_bg-color-hover: hsl(204 100% 48%); /* 太字の 15pt なのでコントラスト比の基準は 3:1 以上 */
	--_font-size: calc(100% * var(--font-ratio-2));
	--_ripple-color: var(--color-white);
	--_ripple-opacity: 0.25;
	--_ripple-transition-duration: 0.5s;

	padding: var(--form-control-padding-block) 1em;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: var(--_font-size);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-nowrap);
	vertical-align: middle;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	/* ripple effect */
	contain: layout;
	position: relative; /* for Safari */
	overflow: hidden;

	&:not(.-cancel) {
		outline-color: var(--color-black);
	}

	&:enabled {
		&:hover {
			--_bg-color: var(--_bg-color-hover);
		}

		/* ripple effect */
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
			opacity: 0;
			transform: scale(4);
			transition: var(--_ripple-transition-duration);
		}

		/* ripple effect */
		&:active::before {
			opacity: var(--_ripple-opacity);
			transform: scale(0);
			transition: initial;
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	/* キャンセルボタン */
	&.-cancel {
		--_color: var(--color-darkgray);
		--_bg-color: var(--color-white);
		--_bg-color-hover: var(--color-bg-verylight);
		--_border-color: var(--_color);
		--_font-size: 100%;
		--_ripple-color: var(--color-black);
	}
}

/*
ラベル

Markup:
<label class="c-label {{modifier_class}}"><span class="c-label-input__label">ラベル</span><input/></label>

.input - 一行入力欄
.check - チェックボックス、ラジオボタン

Styleguide 1.4.6
*/
.c-label {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;

	/* 一行入力欄 */
	&.-input {
	}

	/* チェックボックス、ラジオボタン */
	&.-check {
		--_border-color: transparent;
		--_bg-color: transparent;

		margin-block: calc(var(--form-control-padding-block) / 2);
		padding: calc(var(--form-control-padding-block) / 2) 0.25em;
		border: 1px solid var(--_bg-color);
		border-radius: var(--border-radius-normal);
		background: var(--_bg-color);

		&:hover {
			--_bg-color: var(--color-bg-yellow);
		}

		&:focus-within {
			--_bg-color: var(--color-bg-blue);

			outline: var(--outline-width-bold) solid var(--outline-color);
		}

		& input {
			margin: 0;
			width: 1em;
			height: 1em;
			outline: none;

			&.-invalid {
				& + .c-label-check__label {
					border-color: var(--invalid-border-color);
					background-color: #fee;
				}
			}
		}
	}
}

.c-label__text {
}

/*
ラベルアイコン

Markup:
<strong class="c-label-icon {{modifier_class}}">必須</strong>

.-optional - 任意
.-required - 必須

Styleguide 1.4.7
*/
.c-label-icon {
	--color: var(--color-white);
	--bg-color: var(--color-gray);

	padding: 0.375em 0.5em;
	border: 1px solid var(--bg-color);
	border-radius: var(--border-radius-large);
	display: inline-block;
	color: var(--color);
	background: var(--bg-color);
	font-size: calc(100% / var(--font-ratio-3));
	line-height: var(--line-height-nowrap);
	white-space: nowrap;

	&.-optional {
		--color: var(--color-white);
		--bg-color: var(--color-green);
	}

	&.-required {
		--color: var(--color-white);
		--bg-color: var(--color-red);
	}
}

/*
入力欄ごとの注釈

Markup:
<p class="c-fc-note">注釈</p>

Styleguide 1.4.8
*/
.c-fc-note {
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
}

/*
入力欄ごとのバリデートエラー文言

Markup:
<p class="c-fc-invalid">エラー文言</p>

Styleguide 1.4.9
*/
.c-fc-invalid {
	color: var(--color-red);
	font-size: calc(100% / var(--font-ratio-1));

	&::before {
		margin-inline-end: 0.25em;
		content: "⚠";
	}
}

/*
<textarea> の入力データを整形したまま表示

Markup:
<pre class="c-form-preview">プレビュー</pre>

Styleguide 1.4.10
*/
.c-textarea-preview {
	font: inherit;
	white-space: pre-wrap;
}

/*
フォームコントロールを並べる

Markup:
<div class="c-form-controls {{modifier_class}}">
<label>入力欄 <input /></label>
<label>入力欄 <input /></label>
</div>

.-center - センタリング
.-checkbox - チェックボックス
.-radio - ラジオボタン
.-submit - 送信ボタン

Styleguide 1.4.11
*/
.c-form-controls {
	--_gap-row: 1em;
	--_gap-col: 1em;

	display: flex;
	flex-flow: wrap;
	align-items: center;
	gap: var(--_gap-row) var(--_gap-col);

	/* センタリング */
	&.-center {
		justify-content: center;
	}

	/* チェックボックス、ラジオボタン */
	&.-checkbox,
	&.-radio {
		--_gap-row: 0em;
	}

	/* 送信ボタン */
	&.-submit {
		--_gap-col: 3em;
	}
}

/*
サイト内検索

Markup:
<div class="c-search">
	<span class="c-search__hidden">
		<input type="hidden" name="" value="" />
	</span>
	<span class="c-search__query">
		<input type="search" name="" />
	</span>
	<span class="c-search__submit">
		<button>Search</button>
	</span>
</div>

Styleguide 1.4.12
*/
.c-search {
	--_border-color: var(--color-lightgray);
	--_height: 2em;

	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-small);
	display: flex;
	align-items: center;
	color: var(--color-darkgray);
	background: var(--color-bg-lightblue);
	outline-offset: -1px;

	&:focus-within {
		outline: var(--outline-width-bold) solid var(--outline-color);
	}

	&:hover {
		--_border-color: var(--outline-color);
	}
}

/* <input type="hidden"> */
.c-search__hidden {
}

/* キーワード入力欄 */
.c-search__query {
	flex: 1;

	& > input {
		all: initial;
		padding: 0.25em;
		box-sizing: border-box;
		width: 100%;
		height: var(--_height);
		font: inherit;
	}
}

/* 送信ボタン */
.c-search__submit {
	& > button {
		--_color: hsl(220 70% 45%);

		all: initial;
		margin: var(--outline-width-bold);
		padding: 0.25em;
		box-sizing: border-box;
		display: flex;
		width: var(--_height);
		height: var(--_height);
		color: var(--_color);
		font: inherit;
		fill: currentColor; /* SVG */

		&:focus:not(:focus-visible) {
			--_color: hsl(220 70% 35%);
		}

		&:focus-visible {
			outline: var(--outline-width-bold) dotted var(--color-black);
		}

		&:hover {
			--_color: hsl(220 70% 55%);
		}

		& > svg {
			width: 100%;
			height: 100%;
		} /* for Chrome */
	}
}
