/*
グルーピングコンテンツ

Styleguide 1.1.
*/

/*
キャプション

Markup:
<figcaption class="c-caption {{modifier_class}}">
<p><span class="c-caption__title">「タイトル」</span>テキストテキスト</p>
</figcaption>

.-meta - メタデータ

Styleguide 1.1.1
*/
.c-caption {
	inline-size: fit-content;
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-narrow);

	:where(figure) > &:first-child {
		margin-block-end: 0.5em;
	}

	:where(figure) > &:last-child {
		margin-block-start: 0.5em;
	}

	.p-embed + & {
		color: var(--color-gray);
	}

	/* メタデータ */
	&.-meta {
		margin-inline-start: auto;
		padding-inline-start: 10%;
	}
}

.c-caption__title {
	font-weight: var(--font-weight-bold);
}
