/*
リンク

Styleguide 1.2.
*/

/*
テキストリンク（ビュレットアイコン）

Markup:
<a href="/" class="c-link">他ページ</a>
<a aria-current="page" class="c-link">現在ページ</a>

Styleguide 1.2.1
*/
.c-link {
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--color-gray);
	--_bullet-gap: 0.5em;

	margin-left: calc(var(--_bullet-width) + var(--_bullet-gap));

	& > a {
		margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
		outline-offset: 0.125em;

		&::before {
			margin-right: var(--_bullet-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-link-triangle);
			width: var(--_bullet-width);
			height: var(--_bullet-height);
			background: var(--_bullet-color);
		}

		&:any-link {
			--_bullet-color: var(--link-color-bullet);

			&:hover {
				--_bullet-color: var(--link-color-hover);
			}
		}
	}
}

/*
テキストリンク

Markup:
<a href="/" class="c-link-text">他ページへのリンク</a>
<a href="#" class="c-link-text">ページ内リンク</a>

Styleguide 1.2.2
*/
.c-link-text {
	--bullet-width: 0.45em;
	--bullet-height: 0.75em;
	--bullet-color: #0bb;
	--bullet-gap: 0.5em;
	--bullet-clip-path: var(--shape-link-triangle);

	padding-left: calc(var(--bullet-width) + var(--bullet-gap));
	display: inline-block;
	font-size: calc(1rem * var(--font-ratio-1));
	text-indent: calc(0em - var(--bullet-width) - var(--bullet-gap));

	&::before {
		margin-right: var(--bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--bullet-clip-path);
		width: var(--bullet-width);
		height: var(--bullet-height);
		background: var(--bullet-color);
		transform: rotate(var(--bullet-transform-rotate));
	}

	&:focus,
	&:hover {
		--bullet-color: var(--link-color-hover);
	}

	/* ページ内リンク */
	&[href^="#"] {
		--bullet-width: 0.75em;
		--bullet-height: 0.45em;
		--bullet-clip-path: var(--shape-pagelink-triangle);
	}
}

/*
リンクやボタンのアイコン

Markup:
<a href="/">リンク<img src="https://w0s.jp/assets/image/link_icon_image.svg" alt="(画像)" class="c-link-icon"></a>

Styleguide 1.2.3
*/
.c-link-icon {
	margin: 0 0.25em;
	box-sizing: border-box;
	height: 1.15em;
	width: auto;
	vertical-align: -0.2em;
}
