/*
リンク

Styleguide 1.3.
*/

/*
テキストリンク（ビュレットアイコン）

Markup:
<a href="/" class="c-link">他ページ</a>
<a href="#" class="c-link">同一ページ</a>
<a aria-current="page" class="c-link">現在ページ</a>

Styleguide 1.3.1
*/
.c-link {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-width: 0.45em;
	--_icon-height: 0.75em;
	--_icon-color: var(--color-gray);

	&::before {
		margin-right: 0.5em;
		content: "";
		display: inline-block;
		clip-path: var(--_icon-clip-path);
		width: var(--_icon-width);
		height: var(--_icon-height);
		background: var(--_icon-color);
	}

	&:any-link {
		/* 他ページ */
		&:not([href^="#"]) {
			--_icon-color: var(--link-color-bullet);
		}

		/* 同一ページ */
		&[href^="#"] {
			--_icon-clip-path: var(--shape-pagelink-triangle);
			--_icon-width: 0.75em;
			--_icon-height: 0.5625em;
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}

/*
リンクやボタンのアイコン

Markup:
<a href="/">リンク<img src="icon.svg" alt="ALT" class="c-link-icon"></a>

Styleguide 1.3.2
*/
.c-link-icon {
	margin: 0 0.25em;
	box-sizing: border-box;
	width: auto;
	height: 1.15em;
	vertical-align: -0.2em;
}
