/* ===== ログイン / ログアウトボタン ===== */
.c-madoka-library-button-auth {
	padding: 0.5em 0.75em 0.4em;
	border: 1px solid;
	border-radius: 0.2em;
	display: inline-block;
	font-size: calc(1rem * var(--font-ratio-1));
	font-weight: bold;
	line-height: 1;
	vertical-align: middle;
	outline-offset: 3px;

	&:hover,
	&:focus {
		box-shadow: 0 0 3px #999;
	}

	&.-login {
		border-color: #2293dd;
		color: #fff;
		background: #2293dd;

		&:hover,
		&:focus {
			background-color: #1f87cb; /* darken(#2293dd, 4%) */
		}
	}

	&.-logout {
		border-color: #345;
		color: #333;
		background-color: #fff;

		&:hover,
		&:focus {
			background-color: #fcfcfc;
		}
	}
}

.c-madoka-library-button-auth__icon {
	margin-right: 0.5em;
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: currentColor;
	vertical-align: middle;
}
