/* ===== 同人誌在庫アイコン ===== */
.c-madoka-dojin-zaiko {
	--_icon-text: none;
	--_icon-color: var(--color-black);

	&::before {
		margin-inline-end: 0.25em;
		content: var(--_icon-text);
		display: inline-block;
		min-width: 1em;
		color: var(--_icon-color);
	}

	/* 在庫あり */
	&.-stock {
		--_icon-text: "✔";
		--_icon-color: #090;
	}

	/* 在庫なし */
	&.-none {
		--_icon-text: "✘";
		--_icon-color: var(--color-red);
	}
}
