/* ===== 同人誌在庫アイコン ===== */
.c-madoka-dojin-zaiko {
	--icon-text: none;
	--icon-color: var(--color-black);

	&::before {
		margin-right: 0.25em;
		content: var(--icon-text);
		display: inline-block;
		min-width: 1em;
		color: var(--icon-color);
		font-weight: var(--font-weight-bold);
	}

	/* 在庫あり */
	&.-stock {
		--icon-text: "✓";
		--icon-color: #090;
	}

	/* 在庫なし */
	&.-none {
		--icon-text: "✘";
		--icon-color: #e00;
	}
}
