/*
テキストレベルセマンティックス

Styleguide 1.2.
*/

/*
テキストリンク（ビュレットアイコン）

Markup:
<a href="/" class="c-link">他ページ</a>
<a href="#" class="c-link">同一ページ</a>
<a aria-current="page" class="c-link">現在ページ</a>

Styleguide 1.2.1
*/
.c-link {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-width: 0.45em;
	--_icon-height: 0.75em;
	--_icon-color: var(--color-gray);

	&::before {
		margin-inline-end: 0.5em;
		content: "";
		display: inline-block;
		clip-path: var(--_icon-clip-path);
		width: var(--_icon-width);
		height: var(--_icon-height);
		background: var(--_icon-color);
	}

	&:any-link {
		/* 他ページ */
		&:not([href^="#"]) {
			--_icon-color: var(--link-color-bullet);
		}

		/* 同一ページ */
		&[href^="#"] {
			--_icon-clip-path: var(--shape-pagelink-triangle);
			--_icon-width: 0.75em;
			--_icon-height: 0.5625em;
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}

/*
ボタン、ボタン型リンク

Markup:
<button class="c-button {{modifier_class}}">
  <!-- <button> 以外にも <a href> も可 -->
  <img src="/assets/image/icon/feed.svg" alt="" class="c-button__icon"/>
  <span class="c-button__text">ボタン</span>
</button>

.-feed - Feed
.-twitter - Twitter
.-github - GitHub
.-amazon - Amazon
.-youtube - YouTube

Styleguide 1.2.2
*/
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_width: auto;
	--_color: var(--color-black);
	--_background: linear-gradient(var(--color-white), var(--color-bg-dark));
	--_font-size: 100%;
	--_icon-size: 1.25em;

	padding: var(--_padding-block) var(--_padding-inline);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: var(--_width);
	color: var(--_color);
	background: var(--_background);
	font-size: var(--_font-size);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	text-decoration: none;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	&:hover {
		color: var(--_color);
		box-shadow: 0 0 2px var(--_border-color);
	}

	/* トップページの見出し横では小さく表示 */
	@nest .p-top-hdg & {
		--_padding-block: 0.35em;
		--_font-size: calc(100% / var(--font-ratio-1));
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: #454545;
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: #2293dd;
		--_color: var(--color-white);
		--_background: #1da1f2;

		outline-color: var(--color-black);
	}

	/* GitHub */
	&.-github {
		--_border-color: var(--color-black);
		--_background: var(--color-white);
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(#ffe8ab, #f5c747);
	}

	/* YouTube */
	&.-youtube {
		--_border-color: #f33;
		--_color: #c22;
		--_background: linear-gradient(var(--color-white), #fee);
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-inline: 1px;
		--_width: 100%;
	}
}

.c-button__icon {
	width: var(--_icon-size);
	height: var(--_icon-size);
}

.c-button__text {
}

/*
ルビ

Markup:
<ruby class="c-ruby">久米田 康治<rp>（</rp><rt>くめた こうじ</rt><rp>）</rp></ruby>

Styleguide 1.2.3
*/
.c-ruby {
	display: inline-flex;
	align-items: baseline;

	& > rt,
	& > rp {
		display: inline;
		font-size: calc(100% / var(--font-ratio-1));
	}
}

/*
コード断片

Markup:
<code class="c-code">&lt;html&gt;</code>

Styleguide 1.2.4
*/
.c-code {
	padding: 0.25em;
	border-radius: var(--border-radius-normal);
	color: #080;
	background: var(--color-bg-green);
	font: var(--font-weight-bold) calc(100% / var(--font-ratio-1)) monospace;
}

/*
コードハイライト

Markup:
<span class="c-code-highlight {{modifier_class}}">&lt;<span class="c-code-highlight {{modifier_class}}">a</span>&gt;</span>

Styleguide 1.2.5
*/
.c-code-highlight {
	&.-comment,
	&.-quote {
		color: #767676; /* original: #998 */
		font-style: italic;
	}

	&.-keyword,
	&.-selector-tag,
	&.-subst {
		color: #333;
		font-weight: var(--font-weight-bold);
	}

	&.-number,
	&.-literal,
	&.-variable,
	&.-template-variable,
	&.-tag,
	&.-attr {
		color: #008080;
	}

	&.-string,
	&.-doctag {
		color: #d14;
	}

	&.-title,
	&.-section,
	&.-selector-id {
		color: #900;
		font-weight: var(--font-weight-bold);
	}

	&.-subst {
		font-weight: var(--font-weight-normal);
	}

	&.-type,
	&.-class &.-title {
		color: #458;
		font-weight: var(--font-weight-bold);
	}

	&.-tag,
	&.-name,
	&.-attribute {
		color: #000080;
		font-weight: var(--font-weight-normal);
	}

	&.-regexp,
	&.-link {
		color: #008a26; /* original: #009926 */
	}

	&.-symbol,
	&.-bullet {
		color: #990073;
	}

	/* stylelint-disable selector-class-pattern */
	&.-built_in,
	/* stylelint-enable selector-class-pattern */
	&.-builtin-name {
		color: #007eb3; /* original: #0086b3 */
	}

	&.-meta {
		color: #767676; /* original: #999 */
		font-weight: var(--font-weight-bold);
	}

	&.-deletion {
		background: #fdd;
	}

	&.-addition {
		background: #dfd;
	}

	&.-emphasis {
		font-style: italic;
	}

	&.-strong {
		font-weight: var(--font-weight-bold);
	}
}

/*
注釈リンク

Markup:
<sup class="c-annotate"><a href="#fn1" id="nt1">[1]</a></sup>

Styleguide 1.2.6
*/
.c-annotate {
	font-size: calc(100% / var(--font-ratio-2));
	vertical-align: super;

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		padding: 0.25em;
		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: #f00;
			--_bg-color: #fee;
		}

		&[role="button"] {
			/* JS 有効時のみ */
			color: var(--link-color);
			text-decoration: none;
			cursor: default;

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/*
挿入

Markup:
<span class="c-ins">テキスト</span>

Styleguide 1.2.7
*/
.c-ins {
	color: var(--color-red);
	font-weight: var(--font-weight-bold);
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

/*
削除

Markup:
<span class="c-del">テキスト</span>

Styleguide 1.2.8
*/
.c-del {
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
	text-decoration-line: line-through;
}

/*
ドメイン表記

Markup:
<a href="https://example.com/">リンク</a><b class="c-domain">(example.com)</b>

Styleguide 1.2.9
*/
.c-domain {
	margin-inline: 0.25em;
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-normal);
}

/*
Amazon 商品カテゴリ

Markup:
<b class="c-amazon-binding {{modifier_class}}">Blu-ray</b>

.-bd - BD
.-kindle - Kindle

Styleguide 1.2.10
*/
.c-amazon-binding {
	--_border-color: var(--_color);
	--_color: var(--color-gray);
	--_bg-color: var(--color-white);

	padding: 0.125em 0.5em;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-large);
	display: inline-block;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	vertical-align: middle;

	/* BD */
	&.-bd {
		--_border-color: #27b;
		--_color: #27b;
		--_bg-color: #f9f9ff;
	}

	/* Kindle */
	&.-kindle {
		--_border-color: var(--color-black);
		--_color: #f90;
		--_bg-color: var(--color-black);
	}
}

/*
更新履歴アイコン

Markup:
<b class="c-update-icon {{modifier_class}}">新規</b>

.-new - 新規
.-renew - 更新

Styleguide 1.2.11
*/
.c-update-icon {
	--_color: var(--color-white);
	--_bg-color: #767676;

	padding: 0.25em;
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-nowrap);
	white-space: nowrap;

	/* 新規 */
	&.-new {
		--_color: #90f;
		--_bg-color: #cf4;
	}

	/* 更新 */
	&.-renew {
		--_color: #90f;
		--_bg-color: #9ff;
	}
}

/*
在庫アイコン

Markup:
<span class="c-zaiko {{modifier_class}}">在庫あり</div>

.-stock - 在庫あり
.-none - 在庫なし

Styleguide 1.2.12
*/
.c-zaiko {
	--_icon-text: none;
	--_icon-color: var(--color-black);

	&::before {
		margin-inline-end: 0.25em;
		content: var(--_icon-text);
		display: inline-block;
		min-width: 1em;
		color: var(--_icon-color);
	}

	/* 在庫あり */
	&.-stock {
		--_icon-text: "✔";
		--_icon-color: #090;
	}

	/* 在庫なし */
	&.-none {
		--_icon-text: "✘";
		--_icon-color: var(--color-red);
	}
}
