/*
テキスト

Styleguide 1.1.
*/

/*
ルビ

Markup:
<ruby class="c-ruby-after">美樹 さやか<rp>（</rp><rt>みき さやか</rt><rp>）</rp></ruby>

Styleguide 1.1.1
*/
.c-ruby-after {
	display: inline-flex;
	align-items: baseline;

	& rt,
	& rp {
		display: inline;
		font-size: calc(1rem / var(--font-ratio-1));
	}
}

/*
コード断片

Markup:
<code class="c-code">&lt;html&gt;</code>

Styleguide 1.1.2
*/
.c-code {
	padding: 0.25em;
	border-radius: var(--border-radius-normal);
	color: #666;
	background: #f8f8f8;
	font: bold 90% monospace;
}

/*
マーク

Markup:
<mark class="c-mark">マーク</mark>

Styleguide 1.1.3
*/
.c-mark {
	margin: 0 0.1em;
	padding: 0 0.1em;
	border-radius: var(--border-radius-normal);
	color: #333;
	background: #ff9;
	font-weight: bold;

	@media print {
		color: inherit;
		background-color: transparent;
		text-decoration-line: underline;
	}
}

/*
挿入

Markup:
<ins class="c-ins">テキスト</ins>

Styleguide 1.1.4
*/
.c-ins {
	color: #e00;
	font-style: normal;
	font-weight: bold;
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

/*
削除

Markup:
<del class="c-del">テキスト</del>

Styleguide 1.1.5
*/
.c-del {
	color: #666;
	font-style: normal;
	font-weight: bold;
	text-decoration-line: line-through;
}

/*
リード文

Markup:
<b class="c-lede">リード文</b>

Styleguide 1.1.6
*/
.c-lede {
	color: #444;
	background: linear-gradient(transparent 0, transparent 70%, #ff9 85%, transparent 100%);
	font-size: calc(1rem * var(--font-ratio-2));
	font-weight: normal;
}

/*
注釈

Markup:
<sup class="c-annotate"><a href="#fn1" id="r1">[1]</a></sup>

Styleguide 1.1.7
*/
.c-annotate {
	margin: 0 0.5em 0 0.25em;
	font-size: 75%;
	vertical-align: text-top;

	@supports (font-variant-position: super) and (text-underline-offset: 0) {
		font-size: inherit;
		font-variant-position: super;
		text-underline-offset: 0;
		vertical-align: baseline;
	}

	& :target {
		padding: 0.2em;
		border: 1px solid #f00;
		border-radius: var(--border-radius-large);
		background: #fee;
		font-weight: bold;
	}

	& :focus:not(:focus-visible) {
		outline: none;
	}

	& :focus:not(:-moz-focusring) {
		outline: none;
	}

	& a[role="button"] {
		/* JS 有効時のみ */
		cursor: default;

		&:focus,
		&:hover {
			color: revert;
		}
	}
}

/*
コード

Markup:
<code>&lt;span&gt;Hello World!&lt;/span&gt;</code>

Styleguide 1.1.8
*/
.c-code-highlight {
	&.-comment,
	&.-quote {
		color: #767676; /* original: #998 */
		font-style: italic;
	}

	&.-keyword,
	&.-selector-tag,
	&.-subst {
		color: #333;
		font-weight: bold;
	}

	&.-number,
	&.-literal,
	&.-variable,
	&.-template-variable,
	&.-tag &.-attr {
		color: #008080;
	}

	&.-string,
	&.-doctag {
		color: #d14;
	}

	&.-title,
	&.-section,
	&.-selector-id {
		color: #900;
		font-weight: bold;
	}

	&.-subst {
		font-weight: normal;
	}

	&.-type,
	&.-class &.-title {
		color: #458;
		font-weight: bold;
	}

	&.-tag,
	&.-name,
	&.-attribute {
		color: #000080;
		font-weight: normal;
	}

	&.-regexp,
	&.-link {
		color: #008a26; /* original: #009926 */
	}

	&.-symbol,
	&.-bullet {
		color: #990073;
	}

	&.-built_in,
	&.-builtin-name {
		color: #007eb3; /* original: #0086b3 */
	}

	&.-meta {
		color: #767676; /* original: #999 */
		font-weight: bold;
	}

	&.-deletion {
		background: #fdd;
	}

	&.-addition {
		background: #dfd;
	}

	&.-emphasis {
		font-style: italic;
	}

	&.-strong {
		font-weight: bold;
	}
}

/*
ドメイン表記

Markup:
<a href="https://example.com/">リンク</a><b class="c-domain">(example.com)</b>

Styleguide 1.1.9
*/
.c-domain {
	margin: 0 0.25em;
	color: #666;
	font-size: 85%;
	font-weight: normal;
}

/*
Amazon 商品カテゴリ

Markup:
<b class="c-amazon-binding"></b>

.-bd - BD
.-kindle - Kindle

Styleguide 1.1.10
*/
.c-amazon-binding {
	--_padding: 0.125em 0.5em;
	--_border-color: var(--_color);
	--_color: var(--color-gray);
	--_bg-color: var(--color-white);

	padding: 0.125em 0.5em;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-large);
	display: inline-block;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: bold;
	line-height: var(--line-height-narrow);
	vertical-align: middle;

	/* BD */
	&.-bd {
		--_border-color: #27b;
		--_color: #27b;
		--_bg-color: #f9f9ff;
	}

	/* Kindle */
	&.-kindle {
		--_border-color: var(--color-black);
		--_color: #f90;
		--_bg-color: var(--color-black);
	}

	@nest .entry-amazon & {
		margin-left: 0.5em;
	}
}

/*
Amazon 商品が発売予定の場合の「予定」文字部分

Markup:
<em class="c-amazon-date-plan">予定</em>

Styleguide 1.1.11
*/
.c-amazon-date-plan {
	@nest .p-sidebar-amazon-link & {
		--_color: hsl(0 100% 40%);

		color: var(--_color);
	}
}

/*
更新履歴アイコン

Markup:
<b class="c-update-icon">新規</b>

.-new - 新規
.-renew - 更新

Styleguide 1.1.12
*/
.c-update-icon {
	--_color: var(--color-white);
	--_bgcolor: #767676;

	padding: 0.25em;
	border: 1px solid var(--_bgcolor);
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--_color);
	background: var(--_bgcolor);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: bold;
	line-height: var(--line-height-nowrap);
	white-space: nowrap;

	/* 新規 */
	&.-new {
		--_color: #90f;
		--_bgcolor: #cf4;
	}

	/* 更新 */
	&.-renew {
		--_color: #90f;
		--_bgcolor: #9ff;
	}
}
