/*
テキストレベルセマンティックス

Styleguide 1.2.
*/

/*
テキストリンク（ビュレットアイコン）

Markup:
<a href="/" class="c-link">他ページ</a>
<a href="#" class="c-link">同一ページ</a>
<a aria-current="page" class="c-link">現在ページ</a>

Styleguide 1.2.1
*/
.c-link {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-width: 0.45em;
	--_icon-height: 0.75em;
	--_color: var(--color-gray);

	&::before {
		margin-inline-end: 0.5em;
		content: "";
		display: inline-block;
		clip-path: var(--_icon-clip-path);
		width: var(--_icon-width);
		height: var(--_icon-height);
		background: var(--_color);
	}

	&:any-link {
		/* 他ページ */
		&:not([href^="#"]) {
			--_color: var(--link-color-bullet);
		}

		/* 同一ページ */
		&[href^="#"] {
			--_icon-clip-path: var(--shape-pagelink-triangle);
			--_icon-width: 0.75em;
			--_icon-height: 0.5625em;
		}

		&:hover {
			--_color: var(--link-color-hover);
		}
	}
}

/*
ボタン、ボタン型リンク

Markup:
<button class="c-button {{modifier_class}}">
  <!-- <button> 以外にも <a href> も可 -->
  <img src="/assets/image/icon/feed.svg" alt="" class="c-button__icon"/>
  <span class="c-button__text">ボタン</span>
</button>

.-feed - Feed
.-twitter - Twitter
.-github - GitHub
.-amazon - Amazon
.-youtube - YouTube

Styleguide 1.2.2
*/
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_width: auto;
	--_color: var(--color-black);
	--_background: linear-gradient(var(--color-white), var(--color-bg-light));
	--_font-size: 100%;
	--_icon-size: 1.25em;

	padding: var(--_padding-block) var(--_padding-inline);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: var(--_width);
	color: var(--_color);
	background: var(--_background);
	font-size: var(--_font-size);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	text-decoration: none;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	@nest button[type="button"]&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		color: var(--_color);
		box-shadow: 0 0 2px var(--_border-color);
	}

	/* トップページの見出し横では小さく表示 */
	@nest .p-top-hdg & {
		--_padding-block: 0.35em;
		--_font-size: calc(100% / var(--font-ratio-1));
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: var(--color-darkgray);
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: hsl(204 88% 43%);
		--_color: var(--color-white);
		--_background: hsl(204 88% 53%);

		outline-color: hsl(204 88% 73%);
	}

	/* GitHub */
	&.-github {
		--_border-color: var(--color-black);
		--_background: var(--color-white);
	}

	/* Amazon */
	&.-amazon {
		--_border-color: var(--color-amazon-dark);
		--_background: linear-gradient(var(--color-amazon), hsl(44 90% 62%));
	}

	/* YouTube */
	&.-youtube {
		--_border-color: var(--color-red);
		--_color: var(--color-darkred);
		--_background: linear-gradient(var(--color-white), var(--color-verylightred));
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-inline: 1px;
		--_width: 100%;
	}
}

.c-button__icon {
	width: var(--_icon-size);
	height: var(--_icon-size);
}

.c-button__text {
}

/*
ルビ

Markup:
<ruby class="c-ruby">久米田 康治<rp>（</rp><rt>くめた こうじ</rt><rp>）</rp></ruby>

Styleguide 1.2.3
*/
.c-ruby {
	display: inline-flex;
	align-items: baseline;

	& > rt,
	& > rp {
		display: inline;
		font-size: calc(100% / var(--font-ratio-1));
	}
}

/*
コード断片

Markup:
<code class="c-code">&lt;html&gt;</code>

Styleguide 1.2.4
*/
.c-code {
	padding: 0.25em;
	border-radius: var(--border-radius-normal);
	color: var(--color-green);
	background: var(--color-ultralightgreen);
	font-weight: var(--font-weight-bold);
}

/*
コードハイライト
https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css

Markup:
<span class="c-code-highlight {{modifier_class}}">&lt;<span class="c-code-highlight {{modifier_class}}">a</span>&gt;</span>

Styleguide 1.2.5
*/
.c-code-highlight {
	/* stylelint-disable selector-class-pattern */
	&.-doctag,
	&.-keyword,
	&.-template-tag,
	&.-template-variable,
	&.-type,
	&.-variable.language_ {
		/* prettylights-syntax-keyword */
		color: #d73a49;
	}

	&.-title,
	&.-title.class_,
	&.-title.class_.inherited__,
	&.-title.function_ {
		/* prettylights-syntax-entity */
		color: #6f42c1;
	}

	&.-attr,
	&.-attribute,
	&.-literal,
	&.-meta,
	&.-number,
	&.-operator,
	&.-variable,
	&.-selector-attr,
	&.-selector-class,
	&.-selector-id {
		/* prettylights-syntax-constant */
		color: #005cc5;
	}

	&.-regexp,
	&.-string {
		/* prettylights-syntax-string */
		color: #032f62;
	}

	&.-built_in,
	&.-symbol {
		/* prettylights-syntax-variable */
		color: #e36209;
	}

	&.-comment,
	&.-code,
	&.-formula {
		/* prettylights-syntax-comment */
		color: #6a737d;
	}

	&.-name,
	&.-quote,
	&.-selector-tag,
	&.-selector-pseudo {
		/* prettylights-syntax-entity-tag */
		color: #22863a;
	}

	&.-subst {
		/* prettylights-syntax-storage-modifier-import */
		color: #24292e;
	}

	&.-section {
		/* prettylights-syntax-markup-heading */
		color: #005cc5;
		font-weight: var(--font-weight-bold);
	}

	&.-bullet {
		/* prettylights-syntax-markup-list */
		color: #735c0f;
	}

	&.-emphasis {
		/* prettylights-syntax-markup-italic */
		color: #24292e;
		font-style: italic;
	}

	&.-strong {
		/* prettylights-syntax-markup-bold */
		color: #24292e;
		font-weight: var(--font-weight-bold);
	}

	&.-addition {
		/* prettylights-syntax-markup-inserted */
		color: #22863a;
		background-color: #f0fff4;
	}

	&.-deletion {
		/* prettylights-syntax-markup-deleted */
		color: #b31d28;
		background-color: #ffeef0;
	}

	&.-char.escape_,
	&.-link,
	&.-params,
	&.-property,
	&.-punctuation,
	&.-tag {
		/* purposely ignored */
	}
	/* stylelint-enable selector-class-pattern */
}

/*
注釈リンク

Markup:
<sup class="c-annotate"><a href="#fn1" id="nt1">[1]</a></sup>

Styleguide 1.2.6
*/
.c-annotate {
	font-size: calc(100% / var(--font-ratio-2));
	vertical-align: super;

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		padding: 0.25em;
		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button"] {
			/* JS 有効時のみ */
			color: var(--link-color);
			text-decoration: none;
			cursor: default;

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/*
挿入

Markup:
<span class="c-ins">テキスト</span>

Styleguide 1.2.7
*/
.c-ins {
	color: var(--color-red);
	font-weight: var(--font-weight-bold);
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

/*
削除

Markup:
<span class="c-del">テキスト</span>

Styleguide 1.2.8
*/
.c-del {
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
	text-decoration-line: line-through;
}

/*
ドメイン表記

Markup:
<a href="https://example.com/">リンク</a><b class="c-domain">(example.com)</b>

Styleguide 1.2.9
*/
.c-domain {
	margin-inline: 0.25em;
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-normal);
}

/*
Amazon 商品カテゴリ

Markup:
<b class="c-amazon-binding {{modifier_class}}">Blu-ray</b>

.-bd - BD
.-kindle - Kindle

Styleguide 1.2.10
*/
.c-amazon-binding {
	padding: 0.125em 0.5em;
	border: 1px solid var(--color-gray);
	border-radius: var(--border-radius-large);
	display: inline-block;
	color: var(--color-gray);
	background: var(--color-white);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	vertical-align: middle;
}

/*
更新履歴アイコン

Markup:
<b class="c-update-icon {{modifier_class}}">新規</b>

.-new - 新規
.-renew - 更新

Styleguide 1.2.11
*/
.c-update-icon {
	--_color: var(--color-white);
	--_bg-color: var(--color-gray);

	padding: 0.25em;
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-nowrap);
	white-space: nowrap;

	/* 新規 */
	&.-new {
		--_color: var(--color-purple);
		--_bg-color: var(--color-yellowgreen);
	}

	/* 更新 */
	&.-renew {
		--_color: var(--color-purple);
		--_bg-color: var(--color-lightblue);
	}
}

/*
tick and cross

Markup:
<span class="c-tac {{modifier_class}}">テキスト</div>

.-tick - 肯定
.-cross - 否定

Styleguide 1.2.12
*/
.c-tac {
	&::before {
		margin-inline-end: 0.25em;
		content: var(--_symbol, none);
		display: inline-block;
		min-width: 1em;
		color: var(--_color, inherit);
		text-align: center;
	}

	/* 肯定 */
	&.-tick {
		--_symbol: "✔";
		--_color: var(--color-green);
	}

	/* 否定 */
	&.-cross {
		--_symbol: "✘";
		--_color: var(--color-red);
	}
}
