/*
東急電車形態研究

Styleguide 1.6.
*/

/*
列車種別カラー

Markup:
<span class="c-tokyu-train {{modifier_class}}">普通</div>

.-local - 普通
.-gkakutei - G各停
.-bkakutei - B各停
.-hibiya - 日比谷線直通
.-semiexp - 準急
.-exp - 急行
.-ltd - 特急
.-kohnan-rapid - 弘南快速
.-ikk-rapid - 伊豆急快速
.-oigawa-exp - 大井川急行
.-hokutetsu-semiexp - 北鉄準急

Styleguide 1.6.1
*/
.c-tokyu-train {
	/* 普通 */
	&.-local {
		color: var(--color-black);
	}

	/* G各停、準急、伊豆急快速 */
	&.-gkakutei,
	&.-semiexp,
	&.-ikk-rapid {
		color: #007f00;
	}

	/* B各停、日比谷線直通 */
	&.-bkakutei,
	&.-hibiya {
		color: var(--color-blue);
	}

	/* 急行、弘南快速、大井川急行、北鉄準急 */
	&.-exp,
	&.-kohnan-rapid,
	&.-oigawa-exp,
	&.-hokutetsu-semiexp {
		color: #dc0000;
	}

	/* 特急 */
	&.-ltd {
		color: #ff4600;
	}
}

/*
台車区分

Markup:
<span class="c-tokyu-truck {{modifier_class}}">台車</div>

.-m - 動力台車
.-t - 付随台車

Styleguide 1.6.2
*/
.c-tokyu-truck {
	--icon-color: var(--color-black);
	--icon-bgcolor: var(--color-white);

	padding: 0.25em;
	border: 1px solid;
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--icon-color);
	background: var(--icon-bgcolor);
	font-size: max(calc(100% / var(--font-ratio-4)), calc(100% / var(--font-ratio-1)));
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height-nowrap);
	vertical-align: 0.125em;

	/* 動力台車 */
	&.-m {
		--icon-color: var(--color-red);
		--icon-bgcolor: #fff9f9;
	}

	/* 付随台車 */
	&.-t {
		--icon-color: var(--color-blue);
		--icon-bgcolor: #eef;
	}
}

/*
自動放送フレーズ

Markup:
<span class="c-tokyu-announce {{modifier_class}}">フレーズ</div>

.-chime - 放送開始時のチャイム
.-manners - マナー
.-menu - メニュー
.-door - 非扱
.-attention - その他注意
.-oneman - ワンマン
.-change - 乗換
.-stand - 立客
.-cm - 宣伝
.-cmsummary - 宣伝放送概略

Styleguide 1.6.3
*/
.c-tokyu-announce {
	/* 放送開始時のチャイム */
	&.-chime {
	}

	/* マナー */
	&.-manners {
		color: #080;
	}

	/* メニュー、非扱、その他注意 */
	&:is(.-menu, .-door, .-attention) {
		color: var(--color-red);
	}

	/* ワンマン */
	&.-oneman {
		color: var(--color-blue);
	}

	/* 乗換 */
	&.-change {
		color: #b0f;
	}

	/* 立客、宣伝 */
	&:is(.-stand, .-cm) {
		color: #06f;
	}

	/* 宣伝放送概略 */
	&.-cmsummary {
		padding: 0.125em 0.5em;
		border: 1px solid;
		color: #06f;
		background: #fcfcff;
		font-size: calc(100% / var(--font-ratio-1));
		font-weight: var(--font-weight-normal);

		&::before {
			margin-inline-end: 0.125em;
			content: "※";
		}
	}
}
