/* ===== 列車種別カラー ===== */
.c-tokyu-train {
	/* 普通 */
	&.-local {
		color: var(--color-black);
	}

	/* G各停、準急、伊豆急快速 */
	&.-gkakutei,
	&.-semiexp,
	&.-ikk-rapid {
		color: #007f00;
	}

	/* B各停、日比谷線直通 */
	&.-bkakutei,
	&.-hibiya {
		color: var(--color-blue);
	}

	/* 急行、弘南快速、大井川急行、北鉄準急 */
	&.-exp,
	&.-kohnan-rapid,
	&.-oigawa-exp,
	&.-hokutetsu_semiexp {
		color: #dc0000;
	}

	/* 特急 */
	&.-ltd {
		color: #ff4600;
	}
}

/* ===== 台車区分 ===== */
.c-tokyu-truck {
	--icon-color: var(--color-black);
	--icon-bgcolor: var(--color-white);

	padding: 0.25em;
	border: 1px solid;
	border-radius: var(--border-radius-normal);
	display: inline-block;
	color: var(--icon-color);
	background: var(--icon-bgcolor);
	font-size: max(calc(100% / var(--font-ratio-4)), calc(1rem / var(--font-ratio-1)));
	font-weight: normal;
	line-height: var(--line-height-nowrap);

	/* 動力台車 */
	&.-m {
		--icon-color: var(--color-red);
		--icon-bgcolor: #fff9f9;
	}

	/* 付随台車 */
	&.-t {
		--icon-color: var(--color-blue);
		--icon-bgcolor: #eef;
	}
}

/* ===== 設定機区分 ===== */
.c-tokyu-set-type {
	margin-left: 1em;
	padding: 0.1em 0.5em;
	border: 1px solid #666;
	border-radius: var(--border-radius-normal);
	display: inline-block;
	background: #eee;
	font-size: calc(1rem / var(--font-ratio-2));
	white-space: nowrap;
	text-indent: 0;
	vertical-align: text-top;
}

/* ===== 「○○と同内容」の注釈 ===== */
.c-tokyu-set-same {
	font-size: 90%;
	font-weight: normal;
}

/* ===== 自動放送色分け ===== */
.c-tokyu-announce {
	/* マナー */
	&.-manners {
		color: #080;
	}

	/* メニュー、非扱、その他注意 */
	&.-menu,
	&.-door,
	&.-attention {
		color: var(--color-red);
	}

	/* ワンマン */
	&.-oneman {
		color: var(--color-blue);
	}

	/* 乗換 */
	&.-change {
		color: #b0f;
	}

	/* 立客、宣伝 */
	&.-stand,
	&.-cm {
		color: #06f;
	}
}
