---
import ErrorSearch from '@components/ErrorSearch.astro';
import ErrorTitle from '@components/ErrorTitle.astro';
import type { StructuredDataErrorPage } from '@type/types.js';

interface Props {
	structuredData: StructuredDataErrorPage;
	search?: boolean;
}

const { structuredData, search = false } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		{import.meta.env.DEV && <meta charset="utf-8" />}
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="robots" content="noindex" />

		<link rel="stylesheet" href="/assets/style/error.css" />

		{structuredData.moduleScripts?.map((fileName) => <script src={`/assets/script/${fileName}`} type="module" />)}

		<title>w0s.jp</title>
	</head>
	<body>
		<div class="l-page">
			<header id="header" class="l-header">
				<ErrorTitle title={structuredData.heading} code={structuredData.headingCode} />
			</header>
			<main id="content" class="l-content">
				<slot />

				{search && <ErrorSearch />}
			</main>
		</div>
	</body>
</html>
