---
import SsrUtil from '@util/Ssr.js';
import Head from './include/HeadKumeta.astro';
import PageHeader from './include/PageHeaderKumeta.astro';
import PageSidebar from './include/PageSidebar.astro';
import PageFooter from './include/PageFooter.astro';
import type { StructuredData } from '../types/types.js';

interface Props {
	pagePath?: string;
	structuredData: StructuredData;
}

const { pagePath: pagePathTemp, structuredData } = Astro.props;

const pagePath = pagePathTemp ?? (await SsrUtil.getPageUrl(Astro.url));
---

<!DOCTYPE html>
<html lang="ja">
	<Head pagePath={pagePath} structuredData={structuredData} />
	<body>
		<div class="l-page">
			<PageHeader top={true} />
			<div id="content" class="l-content">
				<main class="l-content__main">
					<slot />
				</main>
			</div>

			<PageSidebar />
			<PageFooter pagePath={pagePath} />
		</div>
	</body>
</html>
