---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Date from '@components/+phrasing/Date.astro';
import Table from '@components/Table.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』の Web でのインタビュー紹介例',
	heading: 'メディア紹介 — Web',
	dateModified: dayjs('2024-04-02'),
	description: 'Web ページにおいて『魔法少女まどか☆マギカ』のインタビューが掲載された事例のリストです。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: 'メディア紹介',
		items: [
			{ path: '/madoka/library/book', name: '図書' },
			{ path: '/madoka/library/magazine', name: '雑誌' },
			{ path: '/madoka/library/newspaper', name: '新聞' },
			{ path: '/madoka/library/web', name: 'Web' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Table>
		<thead>
			<tr>
				<th scope="col">公開日</th>
				<th scope="col">タイトル</th>
				<th scope="col">インタビューイ</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><Date value="2011-06-12" /></td>
				<td><Anchor href="https://web.archive.org/web/20180310142100/https://wpb.shueisha.co.jp/2011/06/12/5189/">【アニメ】『まどか☆マギカ』の脚本家・虚淵玄「オッパイと爆発にしか興味がなかった」</Anchor></td>
				<td>虚淵玄</td>
			</tr>
			<tr>
				<td><Date value="2011-12-27" /></td>
				<td><Anchor href="https://web.archive.org/web/20160815201932/https://www.cinra.net/column/mediaartsfes2011-madomagi">意外と身近にある みんなのメディア芸術　新房昭之×宇野常寛</Anchor></td>
				<td>新房昭之</td>
			</tr>
			<tr>
				<td><Date value="2012-11-04" /></td>
				<td><Anchor href="https://www.cyzo.com/2012/11/post_11804_entry.html">「自分はハッピーエンドのつもりでいた」脚本家・虚淵玄が語る『魔法少女まどか☆マギカ』の未来</Anchor></td>
				<td>虚淵玄</td>
			</tr>
			<tr>
				<td><Date value="2012-11-06" /></td>
				<td><Anchor href="http://blog.livedoor.jp/geek/archives/51368716.html">劇場版 魔法少女まどか☆マギカ、虚淵玄先生インタビュー</Anchor></td>
				<td>虚淵玄</td>
			</tr>
			<tr>
				<td><Date value="2012-12-03" /></td>
				<td><Anchor href="https://getnews.jp/archives/276204">劇場版『魔法少女まどか☆マギカ』新房昭之総監督インタビュー「これはテレビを原作にした映画。スクリーンならではの迫力を楽しんでもらいたいです」</Anchor></td>
				<td>新房昭之</td>
			</tr>
			<tr>
				<td><Date value="2013-10-25" /></td>
				<td><Anchor href="https://toyokeizai.net/articles/-/22545">製作者が語る｢まどかマギカ｣ヒットの理由 ｢まどか☆マギカ｣は魔法少女のイメージを覆した</Anchor></td>
				<td>岩上敦宏</td>
			</tr>
			<tr>
				<td><Date value="2013-10-26" /></td>
				<td><Anchor href="https://www.cinematoday.jp/news/N0057540">『まどか☆マギカ』が切り開いたオリジナルアニメの可能性！プロデューサーが語る</Anchor></td>
				<td>岩上敦宏</td>
			</tr>
			<tr>
				<td><Date value="2013-12-01" /></td>
				<td><Anchor href="https://www.cinematoday.jp/news/N0058576">『まどか☆マギカ』新房昭之総監督、意外な心境も…制作時を振り返る</Anchor></td>
				<td>新房昭之</td>
			</tr>
			<tr>
				<td><Date value="2013-12-08" /></td>
				<td><Anchor href="https://news.mynavi.jp/article/20131208-madoka/">「新編は観客を信頼して作られている映画」- 止まらぬ『劇場版 魔法少女まどか☆マギカ』の勢いを岩上プロデューサーが語る</Anchor></td>
				<td>岩上敦宏</td>
			</tr>
			<tr>
				<td><Date value="2013-12-17" /></td>
				<td><Anchor href="https://akiba-souken.com/article/18622/">「劇場版 魔法少女まどか☆マギカ ［新編］叛逆の物語」岩上敦宏プロデューサーインタビュー</Anchor></td>
				<td>岩上敦宏</td>
			</tr>
			<tr>
				<td><Date value="2014-04-13" /></td>
				<td><Anchor href="https://ddnavi.com/interview/190818/a/">『まどマギ』の空間演出で有名な「劇団イヌカレー」に制作秘話を独占インタビュー【前編】</Anchor></td>
				<td>劇団イヌカレー</td>
			</tr>
			<tr>
				<td><Date value="2014-04-22" /></td>
				<td><Anchor href="https://ddnavi.com/interview/191850/a/">まんが日本昔ばなしが『まどマギ』空間演出の源流だった！「劇団イヌカレー」に独占インタビュー【後編】</Anchor></td>
				<td>劇団イヌカレー</td>
			</tr>
			<tr>
				<td><Date value="2014-10-10" /></td>
				<td><Anchor href="https://web.archive.org/web/20151121040637/http://sugoi-japan.jp/2015/sugoi12.html">スペシャルレポート Vol.12 アニメの力で 日本を牽引するクリエイター 新房昭之</Anchor></td>
				<td>新房昭之</td>
			</tr>
			<tr>
				<td><Date value="2016-11-08" /></td>
				<td><Anchor href="https://www.animenewsnetwork.com/feature/2016-11-08/interview-studio-shaft-president-mitsutoshi-kubota/.108592" hreflang="en" lang="en">Interview: Studio SHAFT president Mitsutoshi Kubota</Anchor></td>
				<td>久保田光俊</td>
			</tr>
			<tr>
				<td><Date value="2017-04-11" /></td>
				<td><Anchor href="https://www.animatetimes.com/news/details.php?id=1491810973">悠木碧さんが『まどかマギカ』に出会って学んだこと</Anchor></td>
				<td>悠木碧</td>
			</tr>
			<tr>
				<td><Date value="2017-04-06" /></td>
				<td><Anchor href="https://animeanime.jp/article/2017/04/06/33350.html">【インタビュー】悠木碧が語る「まどかマギカ」シリーズの想い出と今後の展開とは</Anchor></td>
				<td>悠木碧</td>
			</tr>
			<tr>
				<td><Date value="2018-10-22" /></td>
				<td><Anchor href="https://www.uta-net.com/anime/tatsujin/watanabe_sho.html">言葉の達人スペシャル(出張版)-渡辺翔-</Anchor></td>
				<td>渡辺翔</td>
			</tr>
			<tr>
				<td><Date value="2020-09-12" /></td>
				<td><Anchor href="https://ddnavi.com/interview/668574/a/">【特集：マギアレコード①】『まどか☆マギカ』のクリエイター・劇団イヌカレーが語るクリエイティブの原点</Anchor></td>
				<td>劇団イヌカレー</td>
			</tr>
			<tr>
				<td><Date value="2020-09-20" /></td>
				<td><Anchor href="https://ddnavi.com/interview/668561/a/">【特集：マギアレコード③】［見滝原魔法少女座談会］悠木 碧×斎藤千和×水橋かおり×野中 藍　10年前の記憶とともに再集結！</Anchor></td>
				<td>悠木碧、斎藤千和、水橋かおり、野中藍</td>
			</tr>
		</tbody>
	</Table>
</Layout>
