<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>TV アニメ『さよなら絶望先生』放送版とパッケージ版の比較</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">『さよなら絶望先生』放送版とパッケージ版の比較</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年3月27日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>TV アニメ『さよなら絶望先生』シリーズの TV 放送時とパッケージ版（DVD, Blu-ray）の修正箇所をまとめました。</p>
						<p>暫定的に第1期『さよなら絶望先生』の一話のみ掲載します。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="1">
						<div class="p-section__hdg">
							<h2>第1期『さよなら絶望先生』</h2>
						</div>

						<section class="p-section -hdg-b" id="1-1">
							<div class="p-section__hdg">
								<h3>一話『さよなら絶望先生』</h3>
							</div>

							<ul class="p-notes">
								<li>
									<a href="https://www.amazon.co.jp/dp/B000T6FGA4/" class="htmlbuild-icon htmlbuild-amazon-associate">DVD 第一集</a>には映像特典として「前田君オンエアver.」が収録されていますが、実際の放送時の映像とは異なり、パッケージ用に変更されたバージョンに対して前田君のハメコミ部分のみを再現したものとなります。
								</li>
							</ul>

							<section class="p-section -hdg-c" id="1-1-avan">
								<div class="p-section__hdg">
									<h4>アバン</h4>
								</div>

								<p>変更点なし</p>
							</section>

							<section class="p-section -hdg-c" id="1-1-op">
								<div class="p-section__hdg">
									<h4>オープニング</h4>
								</div>

								<p>変更点なし</p>
							</section>

							<section class="p-section -hdg-c" id="1-1-a">
								<div class="p-section__hdg">
									<h4>A パート</h4>
								</div>

								<dl class="p-video-diff">
									<div>
										<dt>2′ 46″</dt>
										<dd class="c-stack">
											<p>可符香のスカート部分の前田君モザイクが削除。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-02-46.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-02-46.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-02-46.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-02-46.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>2′ 52″</dt>
										<dd class="c-stack">
											<p>可符香のスカート部分の前田君モザイクが削除。</p>
										</dd>
									</div>
									<div>
										<dt>2′ 54″</dt>
										<dd class="c-stack">
											<p>可符香のスカート部分の前田君モザイクが削除。</p>
										</dd>
									</div>
									<div>
										<dt>3′ 14″</dt>
										<dd class="c-stack">
											<p>うろペンの静止画が挿入。</p>
										</dd>
									</div>
									<div>
										<dt>3′ 16″</dt>
										<dd class="c-stack">
											<p>櫻井女史の静止画が挿入。</p>
										</dd>
									</div>
									<div>
										<dt>3′ 16″</dt>
										<dd class="c-stack">
											<p>望の静止画が暗くなった。</p>
										</dd>
									</div>
									<div>
										<dt>4′ 38″</dt>
										<dd class="c-stack">
											<p><q>桃色右大臣</q><q>桃色大魔王</q><q>桃色若社長</q>の文字色が黒から橙に変更（なお、 4′ 32″ の<q>桃色ガブリエル</q>は放送版も橙色）。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-04-43.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-04-43.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-04-43.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-04-43.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>5′ 57″</dt>
										<dd class="c-stack">
											<p><q>絶望した</q>直前の4カットで望の目の虹彩の色が薄くなり、瞳孔が分かりやすくなった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-05-57.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-05-57.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-05-57.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-05-57.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>6′ 53″</dt>
										<dd class="c-stack">
											<p>背景にうろペンが追加。それに伴い、望がフレームインするタイミングと動作速度が遅くなった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-06-57.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-06-57.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-06-57.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-06-57.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>8′ 20″</dt>
										<dd class="c-stack">
											<p>放送版では望の右腕の袖先まで着物の柄が描かれていたが、無地に変更。</p>
										</dd>
									</div>
									<div>
										<dt>8′ 27″</dt>
										<dd class="c-stack">
											<p>放送版では望の右腕の袖先まで着物の柄が描かれていたが、無地に変更。</p>
										</dd>
									</div>
									<div>
										<dt>8′ 48″</dt>
										<dd class="c-stack">
											<p>校舎の時計の前田君の回転方向が時計回りから反時計回りに変更。</p>
										</dd>
									</div>
									<div>
										<dt>9′ 12″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>ゆとり教育で若者は土曜の半ドンで生まれる恋を失ったのです。</q>が大きくなった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-09-12.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-09-12.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-09-12.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-09-12.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>10′ 46″</dt>
										<dd class="c-stack">
											<p><q>「あ、そうだ!」</q>が<q>「麻生だ」</q>に変更。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-10-46.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-10-46.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-10-46.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-10-46.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>10′ 57″</dt>
										<dd class="c-stack">
											<p><q>「ま、待ちなさい」</q>が<q>「ま、街がない」</q>に変更。</p>
										</dd>
									</div>
									<div>
										<dt>11′ 11″</dt>
										<dd class="c-stack">
											<p>黒板の<q>糸　色望</q>の文字がやや左下がりになっていたのを修正。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-11-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-11-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-11-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-11-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
								</dl>
							</section>

							<section class="p-section -hdg-c" id="1-1-b">
								<div class="p-section__hdg">
									<h4>B パート</h4>
								</div>

								<dl class="p-video-diff">
									<div>
										<dt>11′ 28″</dt>
										<dd class="c-stack">
											<p>金曜ロードショーのパロディシーンでコウノトリの飛び方を連続した動きに変更。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 8″</dt>
										<dd class="c-stack">
											<p>左上のモブキャラの向きを変更（斜め右→右）。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 10″</dt>
										<dd class="c-stack">
											<p>奈美以外の3人の女子生徒が描き直された。前田君モザイクの位置も変わり、途中で外れてゆくようになった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-12-11.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-12-11.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-11.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-11.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>12′ 13″</dt>
										<dd class="c-stack">
											<p>奥に女子生徒が2人増加。千里、晴美、あびる作画修正。あびるの包帯が増えた。湯に浮かぶおもちゃのアヒルの位置が一部変更。前田君モザイクが外れてゆくようになった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-12-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-12-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>12′ 17″</dt>
										<dd class="c-stack">
											<p>3人の女子生徒の身体に泡が追加。前田君モザイクが外れてゆくようになった。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 24″</dt>
										<dd class="c-stack">
											<p>左側の女子生徒は後ろ姿だったが横向きに変更、胸と腰回りに葉っぱが追加。前田君モザイクが外れてゆくようになった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-12-20.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-12-20.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-20.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-12-20.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>12′ 31″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>中古のギャルゲーには手を出さないという処女信仰</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 34″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>ビックカメラで友達に会ってLR同時押し</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 48″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>パジャマパーティーなんて一生縁がない。</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>12′ 55″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>秒速5センチメートルの抜け毛</q>のフォントが変わった。</p>
										</dd>
									</div>
									<div>
										<dt>13′ 21″</dt>
										<dd class="c-stack">
											<p>黒板文字が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>13′ 37″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>このランパブのオーナーは万乗先生ですか?</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>13′ 40″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>まんが甲子園でも出席つきますか?</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>13′ 49″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>アイドルなのか声優なのかはっきししてください。　千里</q>他が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>13′ 58″</dt>
										<dd class="c-stack">
											<p>校舎の時計の前田君はゆっくり回転していたが、高速回転するようになった。</p>
										</dd>
									</div>
									<div>
										<dt>14′ 47″</dt>
										<dd class="c-stack">
											<p>望が TV で野球を見るカットの背景が白色ベースだったものが、ピンク色に多数の犬が描かれた模様に変更。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-14-47.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-14-47.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-14-47.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-14-47.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>14′ 49″</dt>
										<dd class="c-stack">
											<p>背景が無地の白色だったものが、青色に模様入りのものに変更。</p>
										</dd>
									</div>
									<div>
										<dt>15′ 42″</dt>
										<dd class="c-stack">
											<p><q>めんどくさい人　毎日きたら　どうしよう・・・</q>が<q>ストーカーの　八割は　顔見知り</q>に変更。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-15-42.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-15-42.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-15-42.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-15-42.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>16′ 10″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>学級目標　人の家のおにぎりの形を笑わない。</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>16′ 18″</dt>
										<dd class="c-stack">
											<p>モブ生徒達が暗くなった。黒板文字<q>72%の人が始めてのおしゃれが懐中時計と答えました</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>16′ 37″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>○6番目のチャクラ　×6匹目のチャトラン</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>16′ 49″</dt>
										<dd class="c-stack">
											<p>黒板文字<q>社民党がついに「女投げ」という言葉にかみついた。</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>16′ 53″</dt>
										<dd class="c-stack">
											<p>望と影郎、および後ろ姿のモブ生徒達が小さくなった。また、黒板に描かれた「神奈川沖浪裏」（富嶽三十六景）の絵が大きくなった。黒板の上に掲示された額縁が大きくなり、そこに書かれた文字のフォントも変更。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-16-53.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-16-53.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-16-53.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-16-53.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>17′ 3″</dt>
										<dd class="c-stack">
											<p>望と後ろ姿のモブ生徒達が小さくなった。また、黒板に描かれた「神奈川沖浪裏」（富嶽三十六景）の絵が大きくなった（16′ 53″ の絵とは異なる）。黒板の上に掲示された額縁が大きくなり、そこに書かれた文字のフォントも変更。</p>
										</dd>
									</div>
									<div>
										<dt>17′ 12″</dt>
										<dd class="c-stack">
											<p>望の着物の柄が無地になっていたのが修正。</p>
										</dd>
									</div>
									<div>
										<dt>17′ 14″</dt>
										<dd class="c-stack">
											<p>望の着物の柄が無地になっていたのが修正。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-17-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-17-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-17-14.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-17-14.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>17′ 20″</dt>
										<dd class="c-stack">
											<p>望の着物の色が変更。黒板文字<q>人類のヒエラルキー</q>の文字と図が大きくなった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-17-23.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-17-23.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-17-23.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-17-23.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>18′ 17″</dt>
										<dd class="c-stack">
											<p><q>ふふ、　クセに　なっちゃう・・・</q>がアポクリン汗腺の説明文に変更。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-18-17.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-18-17.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-18-17.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-18-17.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>18′ 22″</dt>
										<dd class="c-stack">
											<p>望と准、および後ろ姿のモブ生徒達が小さくなった。また、黒板に描かれた「神奈川沖浪裏」（富嶽三十六景）の絵が大きくなった（16′ 53″ や 17′ 3″ の絵とは異なる）。黒板の上に掲示された額縁が大きくなり、そこに書かれた文字のフォントも変更。</p>
										</dd>
									</div>
									<div>
										<dt>18′ 27″</dt>
										<dd class="c-stack">
											<p>モブ生徒達が暗くなった。黒板文字<q>この世こそセカンドライフ</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>19′ 20″</dt>
										<dd class="c-stack">
											<p>進路絶望調査の紙を持つ望の手の影が薄くなった。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-19-21.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-19-21.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-19-21.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-19-21.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
									<div>
										<dt>19′ 47″</dt>
										<dd class="c-stack">
											<p>モブ生徒達が暗くなった。黒板文字<q>フィンランドで虫歯になるという留学。</q>が大きくなった。</p>
										</dd>
									</div>
									<div>
										<dt>20′ 0″</dt>
										<dd class="c-stack">
											<p>望と後ろ姿のモブ生徒達が小さくなった。また、黒板に描かれた「神奈川沖浪裏」（富嶽三十六景）の絵は放送版では 16′ 53″ のものに酷似していたが、パッケージ版では描き直された。黒板の上に掲示された額縁が大きくなり、そこに書かれた文字のフォントも変更。</p>
										</dd>
									</div>
									<div>
										<dt>20′ 23″</dt>
										<dd class="c-stack">
											<p>壁に貼られた進路絶望調査の一部の文字色が濃くなったり大きくなったりする変更が行われた。</p>
										</dd>
									</div>
									<div>
										<dt>20′ 34″</dt>
										<dd class="c-stack">
											<p>壁に貼られた進路絶望調査の一部の文字色が濃くなった。</p>
										</dd>
									</div>
									<div>
										<dt>20′ 39″</dt>
										<dd class="c-stack">
											<p>望と可符香、および後ろ姿のモブ生徒達が小さくなった。また、黒板に描かれた「神奈川沖浪裏」（富嶽三十六景）の絵が大きくなった（16′ 53″ や 17′ 3″、18′ 22″、20′ 0″ の絵とは異なる）。黒板の上に掲示された額縁が大きくなり、そこに書かれた文字のフォントも変更。</p>
										</dd>
									</div>
									<div>
										<dt>20′ 51″</dt>
										<dd class="c-stack">
											<p>廊下の窓に前田君が追加。</p>

											<div class="c-flex">
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_tv_00-20-51.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_tv_00-20-51.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">TV 放送版</figcaption>
													</figure>
												</div>
												<div class="c-flex__item">
													<figure>
														<div class="p-embed -border">
															<a href="https://media.w0s.jp/image/kumeta/anime/zetsubou/diff/tv1_dvd_00-20-51.jpg" type="image/jpeg">
																<img src="https://media.w0s.jp/thumbimage/kumeta/anime/zetsubou/diff/tv1_dvd_00-20-51.jpg?type=jpeg;w=320;quality=60" alt="画像拡大" width="320" height="180" class="htmlbuild-image" />
															</a>
														</div>
														<figcaption class="c-caption">DVD 版</figcaption>
													</figure>
												</div>
											</div>
										</dd>
									</div>
								</dl>
							</section>

							<section class="p-section -hdg-c" id="1-1-ed">
								<div class="p-section__hdg">
									<h4>エンディング</h4>
								</div>

								<dl class="p-video-diff">
									<div>
										<dt>22′ 19″</dt>
										<dd class="c-stack">
											<p>キャストクレジットに<q>音無芽留　？</q>が追加。臼井影郎と新井智恵の間隔を拡大。</p>
										</dd>
									</div>
									<div>
										<dt>22′ 47″</dt>
										<dd class="c-stack">
											<p>クレジットに<q>テロップワーク　尾石達也</q>が追加。</p>
										</dd>
									</div>
								</dl>
							</section>
						</section>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
