---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Link from '@components/Link.astro';
import List from '@components/List.astro';
import ListLink from '@components/ListLink.astro';
import ListOrder from '@components/ListOrder.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』コンセプトムービー',
	heading: 'コンセプトムービー',
	dateModified: dayjs('2017-12-11'),
	description: '2015年〜2016年に開催された「MADOGATARI展」の会場で流された『コンセプトムービー』の映像について、タイプ A とタイプ B の違いなどの情報をまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: '映像',
		items: [
			{ path: '/madoka/video/connect', name: 'コネクト' },
			{ path: '/madoka/video/zenpen', name: '前編' },
			{ path: '/madoka/video/kouhen', name: '後編' },
			{ path: '/madoka/video/shinpen', name: '新編' },
			{ path: '/madoka/video/concept-movie', name: 'コンセプトムービー' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="p-table">
		<table>
			<thead>
				<tr>
					<th scope="col" colspan="2">映像</th>
					<th scope="col" rowspan="2">セリフ</th>
				</tr>
				<tr>
					<th scope="col">タイプA</th>
					<th scope="col">タイプB</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2">黒背景の右上に光源。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">キュゥべえの顔アップ。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">空が割れて、マミの巨大な石像の顔（自由の女神像、石膏の「ラボルト」みたい）が落下してくる（下から見た構図）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">バレエまどかの足元（回っている）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">巨大石像の顔が落下してくる（横から見た構図、ファーストガンダムのコロニー落としを彷彿させる）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">バレエまどかの足元（回っている）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">巨大石像の顔が落下してくる（下から見た構図）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">バレエまどかの足元（回っている）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2" rowspan="3">バレエを踊るまどか。</td>
					<td>まどか&amp;ほむら「幸せって、何かしら。」</td>
				</tr>
				<tr>
					<td colspan="2">まどか「それは、5月の麗らかな日差し。」</td>
				</tr>
				<tr>
					<td colspan="2">ほむら「それは、温かな家族。」</td>
				</tr>
				<tr>
					<td colspan="2">巨大石像の顔が地上に落ちている（横から見た構図）。</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（赤背景）"三つ鱗" を逆さにしたような図形。<img src="/madoka/video/image/concept-movie-tokyo-3uroko.svg" alt="" width="37" height="32" /></li>
							<li>（青背景）人間、あるいは妖怪(?)のような上半身。</li>
							<li>企画書が複数。</li>
						</List>
					</td>
					<td>
						<List>
							<li>バレエ姿で立っているまどかと、それを座って眺めている（ただし目は瞑っている）ほむら。</li>
							<li>穴を上から覗き込むまどか。背景には欠けた月(?)（クレーターのようなものがある）。だたし欠け方は天体のものではない。<img src="/madoka/video/image/concept-movie-osaka-crescent.svg" alt="" width="33" height="33" /></li>
							<li>企画書が複数。左上に「アイディア集」の文字が読み取れる。</li>
						</List>
					</td>
					<td>まどか「それは、朝ごはんの目玉焼き。」</td>
				</tr>
				<tr>
					<td colspan="2">"SHAFT" ロゴ （白背景に黒文字）</td>
					<td>まどか&amp;ほむら「けれど、そのどれもが天国にはないものです。」</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="3">バレエを踊るまどか。</td>
					<td>まどか&amp;ほむら「幸せって、何かしら。」</td>
				</tr>
				<tr>
					<td colspan="2">ほむら「それは、誰かに名前を呼ばれること。」</td>
				</tr>
				<tr>
					<td colspan="2">まどか「それは、誰かの名前を呼ぶこと。」</td>
				</tr>
				<tr>
					<td colspan="2">キュゥべえの顔アップ。</td>
					<td>ほむら「それは、誰かが自分を想ってくれること。」</td>
				</tr>
				<tr>
					<td colspan="2">バレエまどか上半身（目は瞑っている）。</td>
					<td>まどか&amp;ほむら「それはなにひとつ、神様にはないものでした。」</td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（橙背景）虚ろな表情をした目のアップ（ほむら?）。</li>
							<li>（橙背景）人参(?)のような形をしたものが3つ。</li>
							<li>（橙背景）ノーマル魔獣が複数体。</li>
						</List>
					</td>
					<td>
						<List>
							<li>銃を持ったマミ（魔法少女服）とその後方に首のないノーマル魔獣。魔獣の右胸部分には人の顔の右半分のようなもの。</li>
							<li>ノーマル魔獣（"パキュ キュキュ キュ"という擬音を発しレーザービームを撃つ）。</li>
							<li>手を合わせて祈るようなポーズをしているノーマル(?)魔獣。後ろ姿の設定画もあり。</li>
							<li>ノーマル魔獣、本（表紙には校章が描かれており、しおり紐にはふさが付いている）、トカゲ。</li>
							<li>中央にバレエ服まどかと、その奥にも人間（ほむら?）、両側には剣の刺さった白鳥。</li>
						</List>
					</td>
					<td>ほむら「トカゲの女の子は、神様のことがとてもかわいそうに思えてきました。」</td>
				</tr>
				<tr>
					<td colspan="2">ほむらのイヤーカフスが振り子のように揺れて止まる。</td>
					<td rowspan="2">まどか「こうしてトカゲの女の子は神様をまっぷたつに引き裂いて、その片方を天国から地上へと連れ去ってしまったのです。」</td>
				</tr>
				<tr>
					<td colspan="2">バレエまどか全身（身体を反らしたポーズ）。背後には多数の人影が見える。</td>
				</tr>
				<tr>
					<td colspan="2">制服姿のほむらが微笑みながら拍手する。左手の薬指に指輪、手の甲には宝石(?)。襟元リボンはまどかの髪留めのような形をしており、袖口の形状も異なる。</td>
					<td rowspan="2">ほむら「その残酷なまでに優しい輝き、闇の中で出逢うには……まぶしすぎる。」</td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（青背景）制服姿の胸元</li>
							<li>（緑背景）手(?)</li>
							<li>（黄背景）少女の顔</li>
							<li>（橙背景）衣装設定画(?)</li>
							<li>（紫背景）衣装設定画(?)</li>
							<li>（赤背景）衣装設定画(?)</li>
							<li>（青背景）衣装設定画(?)</li>
						</List>
					</td>
					<td>
						<List>
							<li>見滝原制服少女、襟元リボンはまどかの髪留めのような形をしている。</li>
							<li>見滝原制服少女</li>
							<li>そばかす少女</li>
							<li>見滝原制服少女、襟元リボンは通常の形。</li>
							<li>マントのようなものを羽織った少女（没案）</li>
							<li>TV版12話でクマの着ぐるみをしていた魔法少女（服も12話で着ていたものと同じか?）</li>
							<li>TV版12話でクマの着ぐるみをしていた魔法少女（服は前のカットとは違う）</li>
						</List>
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="2">月夜の下で戦っている杏子（魔法少女服）。高く積み上がったオウムのような鳥の大群の中に馬の足のようなものが見える。</td>
					<td>A「最近猫が多いね。」</td>
				</tr>
				<tr>
					<td colspan="2">B「死んだ猫が混じっているんだって。」</td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（青背景）レーザー攻撃するノーマル魔獣。</li>
							<li>（緑背景）不明</li>
							<li>（黄背景）ほむら(?)と偽街の子供(?)。</li>
							<li>（橙背景）偽街の子供(?)。</li>
						</List>
					</td>
					<td>
						<List>
							<li>なぎさ</li>
							<li>鋳鉄製の格子状の扉(?)、手紙、何かに驚いている杏子（魔法少女服）</li>
							<li>チューブガール。首から3つの管楽器の管が生えたヒト形の生き物で、女子の制服を着ている。背景は叛逆の水上カフェに似ている。</li>
							<li>囚われているさやか。両腕はなく、腕と指の骨が吊るされている。</li>
						</List>
					</td>
					<td>A「死んだ猫はどうやって見分けるの?」</td>
				</tr>
				<tr>
					<td colspan="2">オクタヴィアとサトリ魔獣（絵コンテでは「敵マジョ」と書かれている）が向い合って対峙している。TV版10話のワルプルギス戦後のような、廃墟になった街中に紫色の水が浅く広がっている光景。</td>
					<td rowspan="2">杏子「あたしが許せねえのはな、そういう訳の分かんねえ理由で他人にヤッパを向けるやつだよ!」</td>
				</tr>
				<tr>
					<td colspan="2">水面に波紋が広がる。</td>
				</tr>
				<tr>
					<td colspan="2">同じくワルプルギス戦後のような光景の場所（オクタヴィアと同一地点ではない）に仰向けに倒れている魔法少女服のさやか。アルティメットまどかの足が両足の膝部分に乗っている。</td>
					<td rowspan="2">さやか「嘘でしょ、どういうこと。なんであたしにこの文字が読めるの?」</td>
				</tr>
				<tr>
					<td colspan="2">
						封印御札。上に円環マーク、下に魔女文字が書かれている。<br />
						<span class="u-madoka-font-witch">EIEN NI SITE</span>（EIEN NI SITE）
					</td>
				</tr>
				<tr>
					<td colspan="2">小川沿いの通学路を歩いている仁美（制服）。</td>
					<td rowspan="2">仁美「それはきっと、口止めされているんですわ。魔法の御利益って内緒にしておかないと、効き目が消えてしまうものでしょう?」</td>
				</tr>
				<tr>
					<td colspan="2">囚われて封印されているさやか。両脇の柱にはオクタヴィアの手。周辺には先ほどの封印御札が多数浮遊している。</td>
				</tr>
				<tr>
					<td colspan="2">さやか顔アップ（口の周りに仮面のようなものを付けていて、目は瞑っている）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">キュゥべえの顔アップ。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">林の中を駈けるなぎさ（魔法少女服）。木の葉は落ちているが、地面には緑が広がっているので季節は早春?</td>
					<td>なぎさ「これは何やら陰謀の匂いがするのです。」</td>
				</tr>
				<tr>
					<td colspan="2">キュゥべえの顔アップ。</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（紫背景）不明</li>
							<li>（赤背景）不明</li>
							<li>（青背景）ノーマル魔獣</li>
							<li>（青背景）ノーマル魔獣</li>
							<li>（緑背景）サトリ魔獣</li>
							<li>（黄背景）制服ほむら</li>
						</List>
					</td>
					<td>
						<List>
							<li>虚ろな表情をした少女（ほむら?）の顔アップ。</li>
							<li>本棚のある部屋で弓を持ったほむら（魔法少女服）が折れた剣を突きつけられている。剣を持った相手はカーテンに隠れて見えないが、見滝原制服のように思える。</li>
							<li>格子状の扉(?)から奥を見ているほむら（魔法少女服）とさやか（制服）。扉の奥には巨大な目のようなものがこちらを見ている。</li>
							<li>10体以上の謎の生物に一人立ち向かう杏子（魔法少女服、後ろ姿）</li>
							<li>マユの塔の内部のような場所で宙を舞う悪魔ほむらと偽街の子供達。何かに襲いかかろうとしている光景?</li>
							<li>バレエ服まどか</li>
						</List>
					</td>
					<td>キュゥべえ「どうして僕が? それこそ、何のメリットもないじゃないか。」</td>
				</tr>
				<tr>
					<td colspan="2">地面が崩壊し、溶岩が噴出して燃え上がる街の遠景が写る。街には五重塔のような神社も見える。巨大な銃の上に小さく見える人影はマミ。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">腕を組み険しい顔をするマミ（魔法少女服、正面）。</td>
					<td>マミ「あなたもあなたで、誰と一緒のときも隠し事ばっかりね。」</td>
				</tr>
				<tr>
					<td colspan="2">マミ顔アップ。</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<List>
							<li>（橙背景）手紙(?)</li>
							<li>（紫背景）漏斗(?)</li>
							<li>（赤背景）本(?)</li>
						</List>
					</td>
					<td>
						<List>
							<li>カイゼル髭を生やしたクマのような生き物（ナイトメア?）と戦う偽街の子供達（ミエとレイケツ）。</li>
							<li>武器を持ち臨戦態勢のようなマミとさやか。マミは銃ではなくさやかの剣を持っている。</li>
							<li>曲がりくねった階段を奥へと進むほむらとまどか（後ろ姿）。</li>
						</List>
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">地球から巨大な構造物が生えている。地球の手前には月。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">（線画）炎の中にいる悪魔ほむら（魔法少女服）。爪が怪物のように長い。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">不敵な笑いを浮かべるほむら（魔法少女服）。左手に盾を装備しており、右手で髪をかき上げる。</td>
					<td>ほむら「私の邪魔をしようっていうの?」</td>
				</tr>
				<tr>
					<td colspan="2">木の枝にピンクのリボンが引っかかり、風に揺れている。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">まどか新魔法少女服(?)のラフ画が正面と後ろ姿の2枚。後ろ姿の方は、背中に大きなリボンが見え、首から上が描かれていない。</td>
					<td rowspan="2">まどか「もう誰も恨まなくていいの。あなたは……私が……。」</td>
				</tr>
				<tr>
					<td colspan="2">キュゥべえの瞳に映るまどかのシルエット。</td>
				</tr>
				<tr>
					<td colspan="2">何かから逃げるようにこちらへ向かって走る新魔法少女服(?)姿のまどか。後ろではカラスが飛び交う。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">赤、緑、青、紫など様々な色をしたシルエットが次々と出てくる（10人）。</td>
					<td rowspan="2">まどか「助けてくれるの? あなた達も、妖精さん?」</td>
				</tr>
				<tr>
					<td colspan="2">地球から巨大な構造物が生えている。</td>
				</tr>
				<tr>
					<td colspan="2">その構造物の上で腕を組んでいるマミ（魔法少女服、横向き）。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">銃（マミの?）から弾が発射される。</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">
						<span lang="en">Puella Magi<br />Madoka Magica<br />Concept movie</span>（白背景に黒文字）
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<Section id="theater">
		<Fragment slot="heading"><cite>シャフトシアター</cite>の流れ</Fragment>

		<p>札幌会場以降は「<cite>シャフトシアター</cite>」として3面スクリーン上映が行われ、他作品も含めた10分前後の映像となりました。</p>

		<p>金沢の「<cite>MADOGATARI GALLERY</cite>」は通常のスクリーンでしたが、様々な作品の映像が22分に渡って流れるものとなりました。</p>

		<Section id="theater-sapporo" depth={2} headingType="b">
			<Fragment slot="heading">札幌会場<small>（2016年2月）</small></Fragment>

			<ListOrder>
				<li>『〈物語〉シリーズ』振り返り映像</li>
				<li><Link href="https://www.youtube.com/watch?v=CuY2kIT4aMs">『傷物語Ⅰ 鉄血篇』公開中CM</Link></li>
				<li>『傷物語Ⅱ 熱血篇』予告</li>
				<li>『叛逆の物語』振り返り映像</li>
				<li>コンセプトムービー</li>
			</ListOrder>
		</Section>
		<Section id="theater-nagoya" depth={2} headingType="b">
			<Fragment slot="heading">名古屋会場<small>（2016年5月）</small></Fragment>

			<ListOrder>
				<li>『〈物語〉シリーズ』振り返り映像</li>
				<li><Link href="https://www.youtube.com/watch?v=eXeXNRnuBV8">『傷物語Ⅱ 熱血篇』PV 第1弾</Link></li>
				<li>『叛逆の物語』振り返り映像</li>
				<li>コンセプトムービー</li>
			</ListOrder>
		</Section>
		<Section id="theater-tokyo-encore" depth={2} headingType="b">
			<Fragment slot="heading">東京アンコール会場<small>（2016年9月）</small></Fragment>

			<ListOrder>
				<li>『〈物語〉シリーズ』振り返り映像</li>
				<li>『傷物語Ⅲ 冷血篇』予告</li>
				<li>『叛逆の物語』振り返り映像</li>
				<li>コンセプトムービー</li>
				<li><Link href="https://www.youtube.com/watch?v=rre9Ck7pxh8">『クビキリサイクル 青色サヴァンと戯言遣い』トレーラー第2弾</Link></li>
				<li><Link href="https://www.youtube.com/watch?v=zsZHGftgsXI">『マギアレコード 魔法少女まどか☆マギカ外伝』PV第1弾</Link></li>
			</ListOrder>
		</Section>
		<Section id="theater-kanazawa" depth={2} headingType="b">
			<Fragment slot="heading">金沢会場（<cite>MADOGATARI GALLERY</cite>）<small>（2016年12月）</small></Fragment>

			<ListOrder>
				<li>『暦ヒストリー』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
				<li>『惑語 魔法少女ものが☆モドカ』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
				<li>『物語シリーズ 振り返り映像』〜『傷物語&lt;Ⅲ冷血篇&gt;』予告映像 3:00</li>
				<li>『魔法少女まどか☆マギカ 振り返り映像』〜『コンセプトムービー』 5:20</li>
				<li><Link href="https://www.youtube.com/watch?v=i9bFFk7egQ4">『クビキリサイクル』OP映像</Link> 1:30</li>
				<li><Link href="https://www.youtube.com/watch?v=PO2w29PwoFk">『Fate/EXTELLA』PlayStation®4&amp;PlayStation®Vita OP映像</Link> 1:30</li>
				<li><Link href="https://www.youtube.com/watch?v=XFnrnF_v5MI">『打ち上げ花火 下から見るか? 上から見るか?』（2017年8月公開予定）予告映像</Link> 1:00</li>
				<li>『マギアレコード』告知映像 0:15</li>
				<li><Link href="https://www.youtube.com/watch?v=Fz2YwmHJtHk">『3月のライオン』※Blu-ray&amp;DVD第1巻告知映像</Link> 0:15</li>
			</ListOrder>
		</Section>
	</Section>

	<Section id="majyomoji">
		<Fragment slot="heading">魔女文字</Fragment>

		<p>映像で読めるのは一行のみですが、MADOGATARI展大阪会場以降の劇団イヌカレーボードにあった展示物では続きを確認することができ、以下のようになっていました。</p>
		<pre class="u-madoka-font-witch">EIEN NI SITE
MAHOU NARU
KOTOWARI
NO MOTONI
KONO MONO NO
JIYUUTO AI WO
UBAU</pre>
		<p>（永遠にして魔法なる理の元にこの者の自由と愛を奪う）</p>
	</Section>

	<Section id="report">
		<Fragment slot="heading">他の参加者のレポート</Fragment>

		<ListLink>
			<li>
				<Link href="https://1hatahata.blogspot.jp/2016/01/madogatari.html">個人ブログ「取り残されたオタク亭」の全体的なレポート（東京、大阪会場）</Link>
				<ul>
					<li><Link href="https://drive.google.com/file/d/0B-YK4A_Ff9CXaS1LTnRxd2JQZFE/view">同記事内のコンセプトムービーの仮タイムシート</Link></li>
				</ul>
			</li>
			<li><Link href="https://x.com/MADOGATARI/status/679515529799806976">MADOGATARI展公式アカウントの場面カット、ほむら（大阪会場）</Link></li>
			<li><Link href="https://x.com/MADOGATARI/status/679515969996238852">MADOGATARI展公式アカウントの場面カット、マミ・杏子・さやか（大阪会場）</Link></li>
			<li><Link href="https://x.com/shaft_official/status/779631373573160960">シャフト公式アカウントによる絵コンテ展示の写真（東京アンコール会場）</Link></li>
			<li><Link href="https://www.pixiv.net/member_illust.php?mode=medium&illust_id=53831867">LvaKanonさんのイラスト（東京会場）</Link></li>
			<li><Link href="https://x.com/Run_away___0x0/status/672776532322947073">蘭さん（@Run_away___0x0）のイラスト（東京会場）</Link></li>
			<li><Link href="https://x.com/warriorkk/status/690813409453977600">ワリオさん（@warriorkk）のイラスト（大阪会場）</Link></li>
			<li><Link href="https://x.com/hinomoto_hutaba/status/699089222980861952">フタバさん（@hinomoto_hutaba）のイラスト（札幌会場）</Link></li>
			<li><Link href="https://x.com/MR_NiNi/status/779919008711651328">MR.NiNiさん（@MR_NiNi）の封印さやかスケッチ（東京アンコール会場）</Link></li>
			<li><Link href="https://x.com/sayakawa3838/status/780015266365186048">ＴＺさん（@sayakawa3838）の封印さやかスケッチ（東京アンコール会場）</Link></li>
			<li><Link href="https://x.com/Tirat0926/status/780398955716685824">Tiratさん（@Tirat0926）の封印さやかや絵コンテのスケッチ（東京アンコール会場）</Link></li>
			<li><Link href="https://fusetter.com/tw/ts430">りきゅーさん（@riq_ery1205）のテキストレポート（札幌会場）</Link></li>
			<li><Link href="http://tirat.hatenablog.jp/entry/2016/04/09/053033">ぽていとーさん（id:tirat）のイラストレポート</Link></li>
		</ListLink>
	</Section>
</Layout>
