---
import Layout from '@layouts/Error.astro';
import type { StructuredDataErrorPage } from '../../@types/util.d.ts';

const structuredData: StructuredDataErrorPage = {
	heading: '認証に失敗しました',
	headingCode: '401 Unauthorized',
};
---

<Layout structuredData={structuredData}>
	<p>ユーザー名、パスワードが未入力か、正しくありません。</p>
</Layout>
