---
import Layout from '@layouts/Error.astro';
import type { StructuredDataErrorPage } from '../../@types/util.d.ts';

const structuredData: StructuredDataErrorPage = {
	heading: 'コンテンツが存在しません',
	headingCode: '404 Not Found',
	moduleScripts: ['error.mjs'],
};
---

<Layout structuredData={structuredData} search={true}>
	<p id="parentpage-msg" hidden="">「<a id="parentpage-anchor"></a>」でお探しのコンテンツが見つかるかもしれませんし、見つからないかもしれません。</p>
</Layout>
