/*
リスト

Styleguide 2.3.
*/

/*
注釈リスト

Markup:
<ul class="p-notes">
<li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
</ul>

Styleguide 2.3.5
*/
.p-notes {
	color: var(--color-darkgray);
	font-size: calc(100% / pow(var(--font-ratio), 1));

	& > li {
		margin-inline-start: 1.25em;
		list-style-type: "※ ";

		& + li {
			margin-block-start: 0.75em;
		}
	}
}

/*
リンクリスト

Markup:
<ul class="p-links">
<li><a href="https://example.com/">リンク</a></li>
<li><a href="https://example.com/">リンク</a>
<p>テキストテキストテキスト</p></li>
<li><a href="https://example.com/">リンク</a>
	<ul>
	<li><a href="https://example.com/">リンク</a></li>
	</ul></li>
</ul>

.-index - インデックスページにおける下層ページのリンク

Styleguide 2.3.6
*/
.p-links {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-block-size: 0.75em;
	--_icon-inline-size: calc(var(--_icon-block-size) * 0.6);
	--_icon-color: var(--color-gray);
	--_icon-gap: 0.5em;

	line-height: var(--line-height-normal);

	& > li {
		margin-inline-start: calc((var(--_icon-inline-size) + var(--_icon-gap)) * pow(var(--font-ratio), 2));

		& + li {
			margin-block-start: 1em;
		}

		& > ul {
			--_icon-clip-path: polygon(55% 0, 55% 45%, 100% 45%, 100% 55%, 45% 55%, 45% 0);
			--_icon-inline-size: var(--_icon-block-size);
			--_icon-color: var(--color-black);

			& > li {
				margin-block-start: 0.25em;
				margin-inline-start: calc((var(--_icon-inline-size) + var(--_icon-gap)) / 2 * pow(var(--font-ratio), 1));
			}
		}

		& > a,
		& > ul > li > a {
			margin-inline-start: calc(0px - var(--_icon-inline-size) - var(--_icon-gap));

			&::before {
				display: inline flow-root;
				clip-path: var(--_icon-clip-path);
				margin-inline-end: var(--_icon-gap);
				border-block-start: var(--_icon-block-size) solid var(--_icon-color);
				inline-size: var(--_icon-inline-size);
				content: "";
			}
		}

		& > :any-link {
			--_icon-color: var(--link-color-bullet);

			outline-offset: var(--outline-offset-linkonly);

			&:hover {
				--_icon-color: var(--link-color-hover);
			}
		}
	}

	&.-index {
		& a {
			font-size: calc(100% * pow(var(--font-ratio), 2));
		}
	}
}

/*
映像比較

Markup:
<dl class="p-video-diff">
<div>
<dt class="p-video-diff__time">タイトル</dt>
<dd class="p-video-diff__content">
テキストテキストテキスト
</dd>
</div>
</dl>

Styleguide 2.3.7
*/
.p-video-diff {
	border: 1px solid;
	background: var(--color-white);
	color: var(--color-black);

	& > div {
		padding: 1em min(1dvi, 1em);

		& + div {
			border-block-start: 1px solid;
		}

		& > dt {
			font-size: calc(100% * pow(var(--font-ratio), 1));
			font-weight: var(--font-weight-bold);
		}

		& > dd {
			margin-block-start: 0.5em;
		}
	}
}

/*
脚注リスト

Markup:
<div class="p-footnote">
<h2 class="p-footnote__hdg">脚注</h2>
<ul class="p-footnote__list">
<li>
<span class="p-footnote__no">1.</span>
<p class="p-footnote__content">テキストテキストテキスト</p>
</li>
<li>
<span class="p-footnote__no">2.</span>
<p class="p-footnote__content">テキストテキストテキスト <a href="#" class="p-footnote__backref">↩ 戻る</a></p>
</li>
</ul>
</div>

Styleguide 2.3.8
*/
.p-footnote {
	border: 1px solid var(--color-bg-light);
	border-radius: var(--border-radius-large);
	background: var(--color-bg-light);
	padding: 1em;
	font-size: calc(100% / pow(var(--font-ratio), 1));

	:not(&) + & {
		margin-block-start: calc(var(--stack-margin-base) * 6);
	}
}

.p-footnote__hdg {
}

.p-footnote__list {
	display: block table;
	margin-block-start: 0.25em;

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > * {
				border-block-start: 0.5em solid transparent;
			}
		}
	}
}

.p-footnote__no,
.p-footnote__content {
	display: table-cell;
	vertical-align: top;
}

.p-footnote__no {
	padding-block-start: 0.5em;
	text-align: end;
	white-space: nowrap;
}

.p-footnote__content {
	padding-block-start: 0.5em;
	padding-inline-start: 0.5em;
	inline-size: 100%;
}

.p-footnote__backref {
	margin-inline-start: 1em;
	font-size: calc(100% / pow(var(--font-ratio), 2));
}
