/*
その他

Styleguide 2.99.
*/

/*
ボックス

Markup:
<div class="p-box">
<p>テキスト</p>
</div>

Styleguide 2.99.1
*/
.p-box {
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 1em;
}

/*
脚注ポップオーバー

Markup:
<div class="p-footnote-popover" popover="">
<div part="content">
<p>テキスト</p>

<button part="hide-button"><img src="/assets/image/footnote-popover-close.svg" alt="閉じる"/></button>
</div>
</div>

Styleguide 2.99.3
*/
.p-footnote-popover {
	--_border-color: var(--color-border-light);
	--_hide-button-padding: 6px;
	--_hide-button-image-size: 24px;

	outline: none;

	&::part(content) {
		outline-offset: -1px;
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--color-white);
		padding: 15px;
		max-inline-size: min(30em, 100%);
		color: var(--color-black);
		font-size: calc(100% / pow(var(--font-ratio), 1));
	}

	&::part(content):focus {
		outline: var(--outline-width-bold) solid var(--outline-color);
	}

	&::part(content):hover {
		box-shadow: 0 0 0.5em var(--_border-color);
	}

	&::part(content)::before {
		display: block flow;
		float: inline-end;
		block-size: calc(var(--_hide-button-image-size) + var(--_hide-button-padding) * 2);
		inline-size: calc(var(--_hide-button-image-size) + var(--_hide-button-padding) * 2);
		content: "";
	}

	&::part(hide-button) {
		--_border-color: var(--color-white);
		--_background-color: transparent;

		position: absolute;
		inset-block-start: 1px;
		inset-inline-end: 1px;
		outline-offset: -1px;
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--_background-color);
		padding: var(--_hide-button-padding);
	}

	&::part(hide-button):focus {
		outline: var(--outline-width-bold) solid var(--outline-color);
	}

	&::part(hide-button):hover {
		--_border-color: var(--color-bg-light);
		--_background-color: var(--color-bg-superlight);
	}
}
