/* ==============================
 *   東急電車資料室
 * ============================== */

/* ===== インデックスページの下層ページへのリンク ===== */
.p-tokyu-index-table {
	background: var(--color-white);
	line-height: var(--line-height-normal);
	color: var(--color-black);
	font-size: clamp(100%, 4svi, calc(100% * pow(var(--font-ratio), 1)));

	& :is(td, th) {
		border: 1px solid var(--color-border-light);
		padding: 0.5em min(1dvi, 10px);
		line-break: strict; /* 「1000N′系」対策 */
	}

	& th {
		font-weight: var(--font-weight-normal);
	}

	& > thead {
		background-color: var(--color-superlightgreen);

		& th {
			text-align: center;
		}
	}
}

.p-tokyu-index-table__link {
	display: block flex;
	flex-wrap: wrap;
	gap: 1em;
}
