/*
リスト

Styleguide 2.3.
*/

/*
映像比較

Markup:
<dl class="p-video-diff">
<div>
<dt class="p-video-diff__time">タイトル</dt>
<dd class="p-video-diff__content">
テキストテキストテキスト
</dd>
</div>
</dl>

Styleguide 2.3.7
*/
.p-video-diff {
	border: 1px solid;
	background: var(--color-white);
	color: var(--color-black);

	& > div {
		padding: 1em min(1dvi, 1em);

		& + div {
			border-block-start: 1px solid;
		}

		& > dt {
			font-size: calc(100% * pow(var(--font-ratio), 1));
			font-weight: var(--font-weight-bold);
		}

		& > dd {
			margin-block-start: 0.5em;
		}
	}
}

/*
脚注リスト

Markup:
<div class="p-footnote">
<h2 class="p-footnote__hdg">脚注</h2>
<ul class="p-footnote__list">
<li>
<span class="p-footnote__no">1.</span>
<p class="p-footnote__content">テキストテキストテキスト</p>
</li>
<li>
<span class="p-footnote__no">2.</span>
<p class="p-footnote__content">テキストテキストテキスト <a href="#" class="p-footnote__backref">↩ 戻る</a></p>
</li>
</ul>
</div>

Styleguide 2.3.8
*/
.p-footnote {
	border: 1px solid var(--color-bg-light);
	border-radius: var(--border-radius-large);
	background: var(--color-bg-light);
	padding: 1em;
	font-size: calc(100% / pow(var(--font-ratio), 1));

	:not(&) + & {
		margin-block-start: calc(var(--stack-margin-base) * 6);
	}
}

.p-footnote__hdg {
}

.p-footnote__list {
	display: block table;
	margin-block-start: 0.25em;

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > * {
				border-block-start: 0.5em solid transparent;
			}
		}
	}
}

.p-footnote__no,
.p-footnote__content {
	display: table-cell;
	vertical-align: top;
}

.p-footnote__no {
	padding-block-start: 0.5em;
	text-align: end;
	white-space: nowrap;
}

.p-footnote__content {
	padding-block-start: 0.5em;
	padding-inline-start: 0.5em;
	inline-size: 100%;
}

.p-footnote__backref {
	margin-inline-start: 1em;
	font-size: calc(100% / pow(var(--font-ratio), 2));
}
