**/node_modules
.env
.env.*
log4js.*.json

/.crawler-resource

/astro/.astro
/astro/dist

/express/dist

/frontend/.rollup.cache
/frontend/script/tsconfig.tsbuildinfo

/public/**/*.br
/public/**/*.svg
/public/favicon.ico
/public/assets/script
/public/assets/style
/public/madoka/dojin/pdf/pictorial6
/public/madoka/dojin/pdf/pictorial7
/public/madoka/dojin/pdf/pictorial8
/public/madoka/dojin/pdf/pictorial9
/public/madoka/dojin/pdf/pictorial10
