.env
.env.*
log4js.*.json

/**/node_modules/
/.crawler-resource/
/log/

/astro/.astro/
/astro/.rollup.cache/
/astro/dist/
/astro/public/assets/script/
/astro/public/assets/style/
/astro/public/madoka/dojin/pdf/pictorial6/
/astro/public/madoka/dojin/pdf/pictorial7/
/astro/public/madoka/dojin/pdf/pictorial8/
/astro/public/madoka/dojin/pdf/pictorial9/
/astro/public/madoka/dojin/pdf/pictorial10/
/astro/script/tsconfig.tsbuildinfo

/express/dist/
