/.auth/
/log/
/node_modules/

/packages/backend/configure/type/
/packages/backend/configure/*.json
/packages/backend/log/
/packages/backend/node/dist/
/packages/backend/node/log4js*.json

/packages/frontend/.rollup.cache/
/packages/frontend/configure/type/
/packages/frontend/configure/*.json
/packages/frontend/coverage/
/packages/frontend/node/dist/
/packages/frontend/public/**/*.atom
/packages/frontend/public/**/*.br
/packages/frontend/public/**/*.html
/packages/frontend/public/**/*.map
/packages/frontend/public/**/*.svg
/packages/frontend/public/admin/crawler-resource-log/
/packages/frontend/public/assets/json/
/packages/frontend/public/assets/script/*.js
/packages/frontend/public/assets/script/*.mjs
/packages/frontend/public/assets/script/tsconfig.tsbuildinfo
/packages/frontend/public/assets/style/*.css
/packages/frontend/public/madoka/dojin/pdf/pictorial6/
/packages/frontend/public/madoka/dojin/pdf/pictorial7/
/packages/frontend/public/madoka/dojin/pdf/pictorial8/
/packages/frontend/public/madoka/dojin/pdf/pictorial9/
/packages/frontend/public/madoka/dojin/pdf/pictorial10/
/packages/frontend/public/styleguide/
/packages/frontend/public/sitemap.xml

/packages/util/dist/
