---
interface Props {
	class?: string;
	id?: string;
}

const { class: className, id } = Astro.props;
---

<table class:list={['history-table', className]} id={id}>
	<slot />
</table>

<style>
	@layer component {
		.history-table {
			--_padding-block: 0.75em;
			--_border-color: var(--color-border-dark);
			--_color: var(--color-black);
			--_bg-color: var(--color-white);
			--_text-align: start;

			@media print {
				--_border-color: var(--color-black);
			}

			inline-size: 100%;
			line-height: var(--line-height-narrow);

			& > :global(:is(thead + tbody, tbody + tbody)) {
				border-block-start: 2px solid var(--_border-color);
			}

			& :global(:is(td, th)) {
				border: 1px solid var(--_border-color);
				background-clip: padding-box; /* for Firefox, Safari (<thead> sticky) */
				background-color: var(--_bg-color);
				padding: var(--_padding-block) min(1dvi, 5px);
				text-align: var(--_text-align);
				color: var(--_color);
				font-size: clamp(calc(100% / pow(var(--font-ratio), 1)), 2svi, 100%);
			}

			& > :global(thead) {
				--_bg-color: var(--color-bg-light);
				--_text-align: center;

				position: sticky;
				inset-block-start: 0;
			}

			& > :global(tbody) {
				--_padding-block: 0.25em;
			}
		}
	}
</style>
