---
import DateWareki from '@components/+phrasing/DateWareki.astro';

interface Props {
	summary?: string;
	no?: string;
	title?: string;
	date?: string;
	possess?: ('tetsudo' | 'naimu' | 'tokyo')[];
}

const { summary, no, title, date: dateStr, possess } = Astro.props;

const possessDisplay: string[] = [];
if (possess !== undefined && dateStr !== undefined) {
	const date = new Date(dateStr);

	if (possess.includes('tetsudo')) {
		if (date < new Date('1943-11-01')) {
			possessDisplay.push('鉄道省');
		} else if (date < new Date('1945-05-19')) {
			possessDisplay.push('運輸通信省');
		} else {
			possessDisplay.push('運輸省');
		}
	}
	if (possess.includes('naimu')) {
		if (date < new Date('1948-01-01')) {
			possessDisplay.push('内務省');
		} else if (date < new Date('1948-07-10')) {
			possessDisplay.push('建設院');
		} else {
			possessDisplay.push('建設省');
		}
	}
	if (possess.includes('tokyo')) {
		if (date < new Date('1943-07-01')) {
			possessDisplay.push('東京府');
		} else {
			possessDisplay.push('東京都');
		}
	}
}
---

<div class="licence">
	{summary !== undefined && <span class="summary">{summary}</span>}
	{no !== undefined && <span class="no">{no}</span>}
	{title !== undefined && <cite class="title">{title}</cite>}
	{dateStr !== undefined && <DateWareki value={dateStr} class="date" />}{dateStr === undefined && <span class="date">時期不明</span>}
	{possessDisplay.length > 0 && <span class="possess">資料：{possessDisplay.join('、')}</span>}
</div>

<style>
	@layer component {
		.licence {
			display: block flex;
			flex-direction: column;
			gap: 0.25em;

			& > :global(*) {
				inline-size: fit-content;
			}
		}

		.summary {
			& + :global(*) {
				margin-block-start: 0.5em;
			}
		}

		.no {
			border: 1px solid;
			border-radius: var(--border-radius-normal);
			padding: 0.25em;
			color: var(--color-gray);
			font-size: calc(100% / pow(var(--font-ratio), 2));
		}

		.title {
			font-weight: var(--font-weight-bold);
		}

		.date {
		}

		.possess {
			margin-block-start: 0.25em;
			font-size: calc(100% / pow(var(--font-ratio), 2));
		}
	}
</style>
