---
interface Props {
	num: string; // 旧車号
}

const { num } = Astro.props;
---

<div class="old">
	<span class="num">{num}</span>
</div>

<style>
	.old {
		display: block flow;
		margin-block-start: 0.15em;
		font-size: 75%;
	}
</style>
