<table class="form-machine">
	<thead>
		<tr>
			<td></td>
			<slot name="series" />
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">制御装置</th>
			<slot name="cont" />
		</tr>
		<tr>
			<th scope="row">補助電源</th>
			<slot name="aps" />
		</tr>
		<tr>
			<th scope="row">空気圧縮機</th>
			<slot name="cp" />
		</tr>
		<tr>
			<th scope="row">蓄電池</th>
			<slot name="bt" />
		</tr>
	</tbody>
</table>

<style>
	@layer component {
		.form-machine {
			border-collapse: collapse;
			line-height: var(--line-height-narrow);

			& :global(:is(td, th)) {
				font-weight: var(--font-weight-normal);
			}

			& > :global(thead th) {
				padding: 0 0.25em 0.5em;
				text-align: center;
			}

			& > :global(tbody :is(td, th)) {
				border: 1px solid var(--color-black);
			}

			& > :global(tbody th) {
				background: var(--color-bg-light);
				padding: 0.5em 0.25em;
				text-align: start;
				text-wrap-mode: nowrap;
			}

			& > :global(tbody td) {
				background: var(--color-white);
				padding: 0.5em 0;
				inline-size: 8em;
				text-align: center;
				color: var(--color-black);
				font-size: calc(100% / pow(var(--font-ratio), 2));
			}
		}
	}
</style>
