<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>鉄道本執筆</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">鉄道本執筆</h1>
					</div>

					<div class="p-description" itemprop="description">
						<p>鉄道関係で執筆に関わった本の紹介、および補足を行っています。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="book">
						<div class="p-section__hdg">
							<h2>図書</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="7700">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/7700_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">東急7700系形態分類</span>
									</a>

									<div class="p-item__text">
										<p>
											<b>自費出版、<span class="htmlbuild-datetime">2019年8月</span>発売</b>
										</p>
										<p>池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しています。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="https://www.amazon.co.jp/dp/480220695X/" class="htmlbuild-amazon-associate">
										<img src="https://m.media-amazon.com/images/I/51uD92OAjNL._SL160_.jpg" alt="" width="111" height="160" class="p-item__image htmlbuild-image-amazon" />
										<span class="p-item__title">東急電鉄 1989-2019</span></a
									>

									<div class="p-item__text">
										<p>
											<b>イカロス・ムック、<span class="htmlbuild-datetime">2019年8月</span>発売</b>
										</p>
										<p>平成時代の東急電車の動向をまとめた本です。「現役車両ガイド」の一部の本文解説を担当しました。</p>
										<p><small class="u-small">（Amazon.co.jp の商品ページにリンクしています）</small></p>
									</div>
								</div>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="tetsupic">
						<div class="p-section__hdg">
							<h2>鉄道ピクトリアル</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="tetsupic851/tokyu_transfer">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/tetsupic851_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">地方私鉄へ譲渡された元東急の車両の近況</span>
									</a>

									<div class="p-item__text">
										<p><b>2011年8月号 【特集】地方私鉄の現状</b></p>
										<p>旧7000系、旧8000系、1000系など譲渡車両の概要を紹介しています。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="tetsupic789/mizuma1000">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/tetsupic789_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">水間鉄道1000形改造車デビュー</span>
									</a>

									<div class="p-item__text">
										<p><b>2007年5月号 【特集】連接車</b></p>
										<p>水間鉄道1000形のデビューにあたり、7000系からの改造箇所を紹介しています。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="tetsupic749/mm21">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/tetsupic749_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">みなとみらい線 開業前後の動き</span>
									</a>

									<div class="p-item__text">
										<p><b>2004年7月臨時増刊号 【特集】東京急行電鉄</b></p>
										<p>当時の車両動向を紹介。また桜木町廃止日、MM線開業日の様子を追いました。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="tetsupic749/ttm">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/tetsupic749_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">リニューアルオープンした電車とバスの博物館</span>
									</a>

									<div class="p-item__text">
										<p><b>2004年7月臨時増刊号 【特集】東京急行電鉄</b></p>
										<p>展示車両紹介、高津から宮崎台への移動劇のデータなど。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
