<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>“近所の売れないまんが家” 登場履歴</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">“近所の売れないまんが家” 登場履歴</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年4月25日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>久米田先生は作中にご自身をキャラクターとして登場させることが多く、『かってに改蔵』の中期以降は無精ヒゲを生やした自画像が有名ですが、初期は平安貴族や下ネタ帽を被った姿であり、一度だけ実写で登場したこともあるなど、歴史とバリエーションに富んだものとなっています。</p>
						<p>なお、ここではあくまで作中における登場例のみを取り扱うため、『行け!!南国アイスホッケー部』単行本カバーの裸写真やアニメ『さよなら絶望先生』オープニングの遺影には触れません。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#nangoku">行け!!南国アイスホッケー部</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="nangoku">
						<div class="p-section__hdg">
							<h2>行け!!南国アイスホッケー部</h2>
						</div>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第8話　真夏の激突! 月斗VS.ロブ</h3>
							</div>

							<div class="p-text">
								<p>記念すべき初登場は早くも8話目。第1部終了から2か月の休載を挟み、連載再開した巻頭カラーの回です。</p>
								<p>ここでは名前だけの登場で、<q>人は他人に対し、憎悪の念を抱く瞬間が3つある。</q>としてドイツの哲学者 “ジウコ＝タメク　1867〜1901” の名前が挙がっていおり、これは言うまでもなく “クメタ　コウジ” を逆から読んだアナグラムです。また、生まれ年は久米田先生がお生まれになった1967年の100年前となっています。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_2_p34.jpg?type=jpeg;w=300;quality=60" alt="月斗が和式便器で用を足しながら「ゆ…許せねえ」と呟いている。コマ内には次の3つの吹き出しがある。「人は他人に対し、憎悪の念を抱く瞬間が3つある。」「1つは容姿に対する侮辱を受けたとき、もう1つは思想を否定されたとき。」「そして3つ目に自分の一番恥ずかしい姿、すなわち、トイレに入っている姿をのぞかれたときである。（ドイツの哲学者　ジウコ＝タメク　1867〜1901）」" width="300" height="300" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>2巻 p.34</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第9話　新入部員勧誘㊙大作戦!</h3>
							</div>

							<div class="p-text">
								<p>連続して9話にも登場。これも名前のみの登場で、<q>猫に小判、ブタに真珠、久米田にアルマーニ、浜津にアイスリンク、</q>と例え話に使われています。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第11話　燃えるような恋をしよう!</h3>
							</div>

							<div class="p-text">
								<p>第11話では<q>どっかのくされたまんが家とその担当</q>がキャラクターとして登場します。明言こそされていませんが、これがキャラクターとしての久米田先生の最初の登場例といえるでしょう。</p>
								<p>初期の久米田先生といえば平安貴族のような自画像が有名だと思いますが、ここでは漫画家はTシャツを着た若者、担当者は眼鏡でYシャツ姿の男性として描かれており、実際のお姿を元に比較的リアルな作画をされていたことが推測されます。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_2_p109.jpg?type=jpeg;w=375;quality=60" alt="1コマ目: レストランのテーブルから立ち上がる男性2人組「そ…そうだったのか!」「少しくらいキザな方がいいのか!」、2コマ目: その男性らが笑いながら「いやぁ　どーりでちっともモテないと思いましたよ。」「これで我々がモテない原因がはっきりしましたな。」、3コマ目: 男性らが「これからはキザにいきましょう。」と叫ぶ姿を月斗とそあらが「な…何、今の人たち?」「どっかのくされたまんが家とその担当だろ。」と呆れながら見ている。" width="375" height="375" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>2巻 p.109</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第35話　涙のバレンタインデー</h3>
							</div>

							<div class="p-text">
								<p>連載開始からおよそ1年。まともにアイスホッケーをしなくなり、下ネタが多くなってきた頃の話。</p>
								<p>バレンタインデーネタの回で、原稿執筆中にヒガミを言う漫画家が描かれています。無数の男性器が散りばめられたシャツの柄にも注目。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_4_p138.jpg?type=jpeg;w=240;quality=60" alt="執筆中の漫画家「あんなお菓子メーカーの策略に踊らされてバカだよな…」、ナレーション「なーんて事をいっても、それはヒガミにしかきこえない…（久米田にチョコレートください）」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>4巻 p.138</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第37話　不死身のシモネタ男その②</h3>
							</div>

							<div class="p-text">
								<p>シーモネーター登場回のオチのコマでは漫画家とそのスタッフが登場します。ここでは頭に男性器形の被り物をしており、後の「下ネタ帽」の原型とも言えるかもしれません。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_4_p184.jpg?type=jpeg;w=240;quality=60" alt="ナレーション「その後彼がどーしたかというと…　某シモネタマンガ家のもとでアシスタントしていた!」、シーモネーター「先生、チンポはこんなもんで。」、携帯電話を片手に持った全裸の漫画家「いやぁあ! 彼は使えますよ!」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>4巻 p.184</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第40話　恐怖のチン停</h3>
							</div>

							<div class="p-text">
								<p>1か月のチンコ停止を食らった月斗のために、股間にドラッグを塗るシーンで担当から<q>そんな事やってたの?</q>と突っ込まれます。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_5_p48.jpg?type=jpeg;w=270;quality=60" alt="1コマ目: 伊藤「こいつをチンポに塗ってやっど!!」、2コマ目: 担当「そんな事やってたの?」、執筆中の漫画家「ま…まさか…」、枠外の注意書き「※注　危険ですので絶対にマネしないでください。」" width="270" height="270" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>5巻 p.48</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第45話　シーモネーター2 その②</h3>
							</div>

							<div class="p-text">
								<p>シーモネーター（USO800）が月斗達を助ける理由を問われ、<q>主人公が死んでしまったら、このまんがが終わってしまって</q>と答えるコマで漫画家が描かれています。</p>
								<p>大きなGペンを背負っていますが、同時期に描かれた読み切り作品『アシという名のもとに 〜まんが家アシスタント残酷物語〜』でも表紙イラストで主人公が巨大なGペンを構えている姿が描かれており、共通点が見られます。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_5_p119.jpg?type=jpeg;w=240;quality=60" alt="シーモネーター「主人公が死んでしまったら、このまんがが終わってしまって…　さるお方が路頭に迷ってしまうからだ。」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>5巻 p.119</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>単行本5巻巻末　サンデー元気まつり in さっぽろレポート</h3>
							</div>

							<div class="p-text">
								<p>
									<a href="https://www.amazon.co.jp/dp/B00DE1QOMK/" class="htmlbuild-amazon-associate">単行本5巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>には1992年夏に行われた「サンデー元気まつり」の漫画レポートが掲載されており、札幌会場に参加した久米田康治、西森博之、藤田和日郎の姿が描かれています。当時の作家の顔写真は週刊少年サンデー1992年28号や同29号のイベント告知ページで見ることができますが、必要以上にキャラクター化することなく、比較的忠実に描かれていることが分かります。
								</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_5_p182.jpg?type=jpeg;w=240;quality=60" alt="吹雪の中に立つ漫画家「もしこの川でおなにいしてしまった人がいるのならきっと」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>5巻 p.182</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第49話　インキンにご注意</h3>
							</div>

							<div class="p-text">
								<p>ゲストキャラ、掻杉田蛋白の登場シーンにおいて、『行け!!南国アイスホッケー部』を有害図書と指摘されてツッコミを入れています。</p>
								<p>これまでに2度、帽子を被った姿で登場していますが、ここでは帽子、服装とも黒ベタ塗りとなっており、「下ネタ帽」のビジュアルが確定しつつあるといって良いでしょう。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p13.jpg?type=jpeg;w=370;quality=60" alt="1コマ目: 掻杉田蛋白「ちなみにおいも本を出しちょる。この本は前日有害指定図書に…　ん?」と手に取った本は『行け!!南国アイスホッケー部』単行本、2コマ目: 掻杉田蛋白「間違った、こいも有害だが…」と単行本を放り投げる、漫画家「有害じゃねーよ!」" width="370" height="200" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.13</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第50話　バック・トゥ・ザ・ねーちゃん①</h3>
							</div>

							<div class="p-text">
								<p>毒田のおじさん（発明家）初登場回。タイムマシンで1年後のサンデーを買ってきたものの、『行け!!南国アイスホッケー部』が連載終了していたことに<q>それなら信ぴょう性があるわね</q>と発言したそあらへのツッコミで登場します。</p>
								<p>着物風の服と下ネタ帽、背中の巨大Gペンの3点セットが揃った初のカットです。</p>
								<p>ちなみにこの話数では後に卑猥な表現を阻止しに現れることがパターン化する平山編集長も初登場します。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p29.jpg?type=jpeg;w=240;quality=60" alt="そあら「そう…それなら信ぴょう性があるわね…」、漫画家「あっかよ! ボケーー!!」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.29</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第54話　ゲーセンの死闘!!</h3>
							</div>

							<div class="p-text">
								<p>クレーンゲーム機で勝負する月斗が「クメタ人形」が登場します。</p>
								<p>第50話と同じく、着物風の服に下ネタ帽、背中の巨大Gペンが揃っており、完全にキャラクター性を確立しています。これ以降、とくに明記のない場合は下ネタ帽を被っての登場が続きます。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p92.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 月斗「ちくしょう! 俺だって…」、2コマ目: 月斗「あー変なのつかんじまった!!　クメタ人形だ!!」、3コマ目: 月斗「はーん! こんなのいらないよ!!　そあら、どっか捨ててきてくれ!!」、4コマ目: 屋外の空き缶用ごみ箱にクメタ人形が捨てられて、顔だけが穴から覗いている" width="360" height="360" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.92</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第55話　南国探険隊出動!!</h3>
							</div>

							<div class="p-text">
								<p>前話のクレーンゲーム機と同じ流れで「クメタ式埴輪」が登場します。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p107.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 「埴輪だ!!　クメタ式埴輪だ!!」、2コマ目: そあら「は…埴輪が出てくるなんてスゴーイ!」、男性教師「すごくない!!　この埴輪は歴史的に何の価値もない。」、3コマ目: 男性教師「捨ててきてくれ!」、そあら「はあ…」、4コマ目: 公園のごみ箱にクメタ式埴輪が捨てられている" width="360" height="360" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.107</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第56話　亀頭一族の陰謀① 〜海辺の激闘〜</h3>
							</div>

							<div class="p-text">
								<p>亀頭先生の4兄弟が登場する回。海の家の診療所で痩せ衰えた漫画家が医師の診断を受けています。</p>
								<p>また、別のページの中山美穂に蹴られる妄想カットにも登場します。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p120.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 漫画家「うみが出ちゃって…」、医師「自業自得だよ、君。」、舞子「膿の家ってわけね……くだらないわ…」" width="360" height="180" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.120</p>
									</figcaption>
								</figure>
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p126.jpg?type=jpeg;w=360;quality=60" alt="つまり、中山美穂に蹴られていると思いこみ、幸せのうちに蹴り殺されるという恐ろしい技である。　ミポリン「けり! けり!」漫画家「あー! もっと蹴ってぇミポリン!」" width="360" height="180" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.126</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第59話　月斗の恋</h3>
							</div>

							<div class="p-text">
								<p>見知らぬ少女に恋をした月斗に対し、ファーストフードで舞子から<q>知らないのいい事に女の子に自分の理想押しつけちゃうのよね!</q>と分析されるシーンで、心当たりがあるかのように涙を流す漫画家が描かれています。海でもないのになぜか裸。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_6_p166.jpg?type=jpeg;w=240;quality=60" alt="舞子「男がおちいりやすいパターンだわ」、漫画家「うん。うん。」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>6巻 p.166</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第60話　インモー・ジョーンズ　失われたカーク</h3>
							</div>

							<div class="p-text">
								<p>洞窟の中で便意を催したハリセン・フォードが、床に落ちていた『行け!!南国アイスホッケー部』の単行本を尻を拭く紙として利用するカットで、壁にある漫画家の石像が涙を流しています。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_7_p11.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 床に落ちた単行本を中年男性が見つける、2コマ目: 中年男性「ラッキーこれでふいたれ!!」（涙を流す石像）" width="360" height="200" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>7巻 p.11</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第65話　潜入! 女の園</h3>
							</div>

							<div class="p-text">
								<p>とれのが捕らわれた塔での戦いで、精子の総数から人が生まれていくる確率をクメタプロダクションからのデータ提供により算出します。今回は名前だけの登場。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第69話　激闘! グルメ勝負</h3>
							</div>

							<div class="p-text">
								<p>
									食通・<ruby>具留目<rp>（</rp><rt>グルメ</rt><rp>）</rp></ruby>団吉の紹介文にて名前が登場したのち、寿司屋「巨人の寿司」にネタを仕入れている店員として描かれます。
								</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_7_p161.jpg?type=jpeg;w=240;quality=60" alt="そあら「なんかこてこてのだじゃれネタ多くない?」、月斗「ネタがくさってるよ! 仕入れてる店が悪ィんだ!」、その会話を聞きながら涙を流す漫画家（寿司屋の格好で「仕入れてる店…」の注釈）" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>7巻 p.161</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>単行本7巻巻末　早期幼児教育漫画　ズゴズゴピューガ</h3>
							</div>

							<div class="p-text">
								<p>
									<a href="https://www.amazon.co.jp/dp/B00DE1QOLG/" class="htmlbuild-amazon-associate">単行本7巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>のおまけ漫画ではアシスタント(?)達に<q>早く彼女作りなよ</q>と言われてキレたり、エッチな漫画を書いて編集長に殴られる漫画家が描かれています。
								</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_7_p182.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: ナレーション「エッチな漫画ばっか描いてると」、2コマ目: 女性の乳首を描いている漫画家に怒った男性が駆け寄ってくる、3コマ目: ナレーション「編集長にバキバコになぐられちゃうぞー」、枠外「ウゴウゴルーガみてねーとなんだかわからんなこりゃ…」" width="360" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>7巻 p.182</p>
									</figcaption>
								</figure>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第72話　スクープを追え</h3>
							</div>

							<div class="p-text">
								<p>新聞部が様々なスクープをでっち上げる回。学級新聞「浜津通信」に</p>
								<ul>
									<li><q>ドラクエⅤ問題　久米田康治のソフトは、不良品!?</q>（「悲しむ久米田こーじ」の自画像付き）</li>
									<li><q>久米田康治意地張る　＜アイスホッケーは二度とやらん＞宣言</q></li>
								</ul>
								<p>の記事があります。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_8_p22.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 女性部員「そうですね。確かに真面目すぎる記事ですね」、男性部員「なんかやじうまワイドみたいだな…」、2コマ目: 「確かに…　どーでもいい事が多いですな」" width="360" height="300" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>8巻 p.22</p>
									</figcaption>
								</figure>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第76話　聖者が街にやって来る</h3>
							</div>

							<div class="p-text">
								<p>三択老師の初登場回。</p>
								<p>クリスマスイブの夜に一人で仕事をしている漫画家の元に北崎拓先生が現れるシーンが描かれます。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_8_p100.jpg?type=jpeg;w=360;quality=60" alt="1コマ目: 北崎「なんだあクメタぁ　まーだ仕事してんのか　俺なんかとっくに終わらせてデートだぜ。」、漫画家「き、きたざきたくぅ…」、2コマ目: 北崎「まーどーせやる事ないから仕事してる方がいいかもな。」、3コマ目: 北崎「じゃーな　俺ってモテるから。」、漫画家「ちくしょー　それだけ言いに来たのか　大先パイとはいえゆるせーん。」、4コマ目: 漫画家「ん?」（北崎と彼女の頭上に何か降ってくる）、5コマ目: 漫画家「おおっ!?」（北崎と彼女の頭上で大爆発）、6コマ目: 戦車に乗った三択老師「お仕事ごくろーさまです!!」、漫画家「おおっ!! どなたか知りませんがありがとう!!」" width="360" height="450" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>8巻 p.100</p>
									</figcaption>
								</figure>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第77話　ちこう浪士</h3>
							</div>

							<div class="p-text">
								<p>年末のヒサンな事は何かというネタにて、前話に引き続き一人寂しい自虐ネタで登場。</p>
							</div>

							<div class="c-flex">
								<figure class="c-flex__item">
									<div class="p-embed">
										<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_8_p109.jpg?type=jpeg;w=240;quality=60" alt="漫画家「そーですねえ、男にとって何が悲劇かって、この人肌恋しい季節に、彼女がいない事かな。」" width="240" height="240" class="htmlbuild-image" />
									</div>
									<figcaption class="c-caption -meta">
										<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>8巻 p.109</p>
									</figcaption>
								</figure>
							</div>
						</section>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
