<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>“近所の売れないまんが家” 登場履歴</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">“近所の売れないまんが家” 登場履歴</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年4月25日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>久米田先生は作中にご自身をキャラクターとして登場させることが多く、『かってに改蔵』の中期以降は無精ヒゲを生やした自画像が有名ですが、初期は平安貴族や下ネタ帽を被った姿であり、一度だけ実写で登場したこともあるなど、歴史とバリエーションに富んだものとなっています。</p>
						<p>なお、ここではあくまで作中における登場例のみを取り扱うため、『行け!!南国アイスホッケー部』単行本カバーの裸写真やアニメ『さよなら絶望先生』オープニングの遺影には触れません。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#nangoku">行け!!南国アイスホッケー部</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="nangoku">
						<div class="p-section__hdg">
							<h2>行け!!南国アイスホッケー部</h2>
						</div>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第8話　真夏の激突! 月斗VS.ロブ</h3>
							</div>

							<div class="p-text">
								<p>記念すべき初登場は早くも8話目。第1部終了から2か月の休載を挟み、連載再開した巻頭カラーの回です。</p>
								<p>ここでは名前だけの登場で、<q>人は他人に対し、憎悪の念を抱く瞬間が3つある。</q>としてドイツの哲学者 “ジウコ＝タメク　1867〜1901” の名前が挙がっていおり、これは言うまでもなく “クメタ　コウジ” を逆から読んだアナグラムです。また、生まれ年は久米田先生がお生まれになった1967年の100年前となっています。</p>
							</div>

							<figure class="c-fit">
								<div class="p-embed">
									<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_2_p34.jpg?type=jpeg;w=300;quality=60" alt="月斗が和式便器で用を足しながら「ゆ…許せねえ」と呟いている。コマ内には次の3つの吹き出しがある。「人は他人に対し、憎悪の念を抱く瞬間が3つある。」「1つは容姿に対する侮辱を受けたとき、もう1つは思想を否定されたとき。」「そして3つ目に自分の一番恥ずかしい姿、すなわち、トイレに入っている姿をのぞかれたときである。（ドイツの哲学者　ジウコ＝タメク　1867〜1901）」" width="300" height="300" class="htmlbuild-image" />
								</div>
								<figcaption class="c-caption -meta">
									<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>第2巻 p.34</p>
								</figcaption>
							</figure>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第9話　新入部員勧誘㊙大作戦!</h3>
							</div>

							<div class="p-text">
								<p>続いては連続して9話にも登場。これも名前のみの登場で、<q>猫に小判、ブタに真珠、久米田にアルマーニ、浜津にアイスリンク、</q>と例え話に使われています。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>第11話　燃えるような恋をしよう!</h3>
							</div>

							<div class="p-text">
								<p>第11話では<q>どっかのくされたまんが家とその担当</q>がキャラクターとして登場します。明言こそされていませんが、これがキャラクターとしての久米田先生の最初の登場例といえるでしょう。</p>
								<p>初期の久米田先生といえば平安貴族のような自画像が有名だと思いますが、ここでは漫画家はTシャツを着た若者、担当者は眼鏡でYシャツ姿の男性として描かれており、実際のお姿を元に比較的リアルな作画をされていたことが推測されます。</p>
							</div>

							<figure class="c-fit">
								<div class="p-embed">
									<img src="https://media.w0s.jp/thumbimage/kumeta/yomoyama/mangaka/nangoku_2_p109.jpg?type=jpeg;w=375;quality=60" alt="1コマ目: レストランのテーブルから立ち上がる男性2人組「そ…そうだったのか!」「少しくらいキザな方がいいのか!」、2コマ目: その男性らが笑いながら「いやぁ　どーりでちっともモテないと思いましたよ。」「これで我々がモテない原因がはっきりしましたな。」、3コマ目: 男性らが「これからはキザにいきましょう。」と叫ぶ姿を月斗とそあらが「な…何、今の人たち?」「どっかのくされたまんが家とその担当だろ。」と呆れながら見ている。" width="375" height="375" class="htmlbuild-image" />
								</div>
								<figcaption class="c-caption -meta">
									<p><span class="c-caption__title">『行け!!南国アイスホッケー部』</span>第2巻 p.109</p>
								</figcaption>
							</figure>
						</section>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
