<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>久米田康治画業30周年記念「全曝し展」の様子</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">「全曝し展」の様子</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年3月27日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>2021年6月26日〜7月14日に池袋マルイで開催された<a href="https://www.kumeta-zensarashiten.com/" class="htmlbuild-host">久米田康治画業30周年記念『全曝し展』〜本当は31周年〜</a>の様子をスライドショーで紹介します。</p>
					</div>
				</div>
				<main class="l-content__main">
					<figure>
						<div class="p-embed -border">
							<iframe src="https://www.youtube-nocookie.com/embed/Dtb8tbftKsc?cc_load_policy=1" allow="accelerometer;autoplay;clipboard-write;encrypted-media;fullscreen;gyroscope;picture-in-picture" title="YouTube 動画" width="560" height="315" style="--aspect-ratio: 560/315"></iframe>
						</div>
						<figcaption class="c-caption -meta">
							<p>
								<a href="https://www.youtube.com/watch?v=Dtb8tbftKsc" class="c-caption__title htmlbuild-host">久米田康治「全曝し展」の様子</a>
							</p>
						</figcaption>
					</figure>

					<ul class="p-notes">
						<li>撮影日は基本的に2021年6月28日ですが、一部6月26日、7月7日に撮った写真も使用しています。また、物販コーナーは期間中何度か配置換えが行われています。</li>
						<li>本動画の BGM は<a href="https://dova-s.jp/bgm/play11550.html" class="htmlbuild-host">空に遥かに</a>を使用しています。</li>
					</ul>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
