<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車形態研究</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="alternate" href="/tokyu/feed" type="application/atom+xml" title="「東急電車形態研究」の新着フィード" />
		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main id="main" class="l-main">
				<div class="l-main__main">
					<div class="l-top">
						<nav class="l-top__nav" id="contents">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">サイトコンテンツ</h2>
							</div>

							<ul class="p-top-nav">
								<li class="p-top-nav__box">
									<a href="/tokyu/data/">
										<div class="p-top-nav__title">車両データ</div>
										<p class="p-top-nav__description">車歴表、編成表などの車両関連データ。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/tokyu/sty/">
										<div class="p-top-nav__title">車両形態</div>
										<p class="p-top-nav__description">台車や床下・屋根上機器の写真など。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/tokyu/yomoyama/">
										<div class="p-top-nav__title">車両よもやま</div>
										<p class="p-top-nav__description">車両や車両機器の四方山話。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/tokyu/an/">
										<div class="p-top-nav__title">自動放送</div>
										<p class="p-top-nav__description">車内で流れる自動放送フレーズの紹介。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/tokyu/set/">
										<div class="p-top-nav__title">設定器</div>
										<p class="p-top-nav__description">設定器のボタン（ダイヤル）配列。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/tokyu/book/">
										<div class="p-top-nav__title">鉄道本執筆</div>
										<p class="p-top-nav__description">鉄道関係で執筆に関わった本の紹介と補足。</p>
									</a>
								</li>
							</ul>
						</nav>

						<section class="l-top__blog" id="blog">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">ブログ</h2>
							</div>

							<div class="p-top-nav">
								<div class="p-top-nav__box">
									<a href="https://blog.w0s.jp/">
										<div class="p-top-nav__image">
											<img src="https://media.w0s.jp/thumbimage/index_nav_blog.png?type=png;w=360" srcset="https://media.w0s.jp/thumbimage/index_nav_blog.png?type=png;w=720 2x" alt="" width="360" height="180" style="--object-position: 50% 0" />
										</div>
										<div class="p-top-nav__title">富永日記帳</div>
										<p class="p-top-nav__description">ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</p>
									</a>
								</div>
							</div>
						</section>

						<section class="l-top__update" id="update">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">更新履歴</h2>
								<div class="p-top-hdg__notice">
									<a href="/tokyu/feed" type="application/atom+xml" class="c-button -feed">
										<img src="/assets/image/icon/feed.svg" alt="" class="c-button__icon" />
										<span class="c-button__text">フィード</span>
									</a>
								</div>
							</div>

							<ul class="p-top-update">
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2021年1月2日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p>同人誌<a href="/tokyu/book/7700">「東急7700系形態分類」</a>の PDF 版を BOOTH で販売開始しました（<a href="https://w0s.booth.pm/items/2649271">販売ページ</a>）。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2020年12月6日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -new">新規</b></div>
									<div class="p-top-update__info">
										<p>設定器のページに<a href="/tokyu/set/toyama_17480_denentoshi_2019">富山地方鉄道 17480形（元・田園都市線所属車）</a>を追加しました。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2020年8月3日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p>同人誌<a href="/tokyu/book/7700">「東急7700系形態分類」</a>の正誤データに年表の車号ミス1点を追加しました（Kindle版は修正反映済み）。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2020年3月20日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -new">新規</b></div>
									<div class="p-top-update__info">
										<p>自動放送のページに目黒線2018年バージョンを追加しました。（<a href="/tokyu/an/meguro_up_local_2020">上り普通</a>、<a href="/tokyu/an/meguro_up_exp_2020">上り急行</a>、<a href="/tokyu/an/meguro_down_local_2020">下り普通</a>、<a href="/tokyu/an/meguro_down_exp_2020">下り急行</a>）</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2020年2月27日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -new">新規</b></div>
									<div class="p-top-update__info">
										<p><a href="/tokyu/data/form_local">譲渡車両編成表</a>のページを作成しました。</p>
									</div>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
