---
import dayjs from 'dayjs';
import Layout from '@layouts/Kumeta.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import Table from '@components/Table.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '久米田康治作品の本誌カラー掲載回',
	heading: '本誌カラー掲載回',
	dateModified: dayjs('2022-09-16'),
	description: '漫画雑誌にカラー掲載された回のリストです。単行本や画集「悔画展」、および「全曝し展」図録への収録状況も含めています。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="nangoku">
		<Fragment slot="heading"><cite>行け!!南国アイスホッケー部</cite></Fragment>

		<p>すべて「<cite>週刊少年サンデー</cite>」掲載。</p>

		<ListNote>
			<li>本作は話数表記がないため、下表の<q>話数</q>は便宜的に付けたものです。</li>
		</ListNote>

		<Table>
			<thead>
				<tr>
					<th scope="col" rowspan="2">号数</th>
					<th scope="col" rowspan="2" aria-sort="ascending">話数</th>
					<th scope="col" colspan="2">サブタイトル</th>
					<th scope="col" rowspan="2">カラーページ</th>
					<th scope="col" rowspan="2">単行本</th>
					<th scope="col" rowspan="2"><cite>悔画展</cite></th>
					<th scope="col" rowspan="2"><cite>全曝し</cite>図録</th>
					<th scope="col" rowspan="2">備考</th>
				</tr>
				<tr>
					<th scope="col">本誌</th>
					<th scope="col">単行本</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1991年15号</td>
					<td>2</td>
					<td class="u-cell -center">―</td>
					<td>流血! UMF戦</td>
					<td>冒頭4ページ（扉含む）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td><Anchor href="https://websunday.net/4209/" icon={false}>少年サンデー名作ミュージアム</Anchor>で公開</td>
				</tr>
				<tr>
					<td>1991年17号</td>
					<td>4</td>
					<td>カナダから来た男</td>
					<td>カナダからきた男</td>
					<td>冒頭4ページ（扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1991年29号</td>
					<td>8</td>
					<td class="u-cell -center">―</td>
					<td>真夏の激突!　月斗VS.ロブ</td>
					<td>冒頭4ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>連載再開回</td>
				</tr>
				<tr>
					<td>1992年7号</td>
					<td>33</td>
					<td colspan="2">かわいい雪だるまくん</td>
					<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>本誌ではカラーとモノクロページの境目に広告ページが奇数挟まれていたため、単行本では空きページで調整</td>
				</tr>
				<tr>
					<td>1992年16号</td>
					<td>42</td>
					<td colspan="2">浜津チャンピオン・カーニバル</td>
					<td>冒頭4ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1992年27号</td>
					<td>52</td>
					<td colspan="2">南国にサーカスがやって来た!</td>
					<td>冒頭4ページ（扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1993年13号</td>
					<td>86</td>
					<td colspan="2">記念かるたQ大会</td>
					<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td>本誌ではカラーとモノクロページの境目に広告ページが奇数挟まれていたため、単行本では空きページで調整</td>
				</tr>
				<tr>
					<td>1994年12号</td>
					<td>133</td>
					<td colspan="2">リサイクルウォーズ</td>
					<td>冒頭4ページ（2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>4ページ目は月斗のみ色付きなし</td>
				</tr>
				<tr>
					<td>1994年29号</td>
					<td>149</td>
					<td colspan="2">時代は大ズモウ</td>
					<td>冒頭4ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1996年34号</td>
					<td>246（最終話）</td>
					<td colspan="2">FOREVER 南国</td>
					<td>ラスト4ページ</td>
					<td>モノクロ</td>
					<td>ラスト3ページ</td>
					<td>ラスト3ページ</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00DE1QP10/">単行本23巻</Anchor>ではモノクロ収録だが、ラスト3ページ分が表紙&amp;裏表紙でカラー掲載</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="rootp">
		<Fragment slot="heading"><cite>√P ルートパラダイス</cite></Fragment>

		<p>すべて「<cite>ヤングサンデー</cite>」掲載。</p>

		<ListNote>
			<li>本作は本誌連載時、サブタイトルが設定されていなかったため、下表では単行本のサブタイトルを記載しています。</li>
		</ListNote>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1993年 No.15</td>
					<td>1</td>
					<td>マドンナはキャバクラ嬢</td>
					<td>冒頭4ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td>本誌掲載時、第1話の話数表記はなかった</td>
				</tr>
				<tr>
					<td>1993年 No.16</td>
					<td>第2回</td>
					<td>二人だけの秘密</td>
					<td>冒頭4ページ（扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="darling">
		<Fragment slot="heading"><cite>育ってダーリン!!</cite></Fragment>

		<p>すべて「<cite>週刊少年サンデー増刊</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col" rowspan="2">号数</th>
					<th scope="col" rowspan="2" aria-sort="ascending">話数</th>
					<th scope="col" colspan="2">サブタイトル</th>
					<th scope="col" rowspan="2">カラーページ</th>
					<th scope="col" rowspan="2">単行本</th>
					<th scope="col" rowspan="2"><cite>悔画展</cite></th>
					<th scope="col" rowspan="2"><cite>全曝し</cite>図録</th>
					<th scope="col" rowspan="2">備考</th>
				</tr>
				<tr>
					<th scope="col">本誌</th>
					<th scope="col">単行本</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1994年12月号</td>
					<td class="u-cell -center"><data value="0">―</data></td>
					<td>理想の男の育て方</td>
					<td>男たるもの、いかなる時も女を喜ばせること!!</td>
					<td>冒頭4ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td>見開き扉、4ページ目</td>
					<td><Anchor href="https://websunday.net/4233/" icon={false}>少年サンデー名作ミュージアム</Anchor>で公開</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="pokapoka">
		<Fragment slot="heading"><cite>太陽の戦士ポカポカ</cite></Fragment>

		<p>すべて「<cite>週刊少年サンデー</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1996年39号</td>
					<td>第1話</td>
					<td>また掘っちゃった!!</td>
					<td>冒頭4ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1996年40号</td>
					<td>第2話</td>
					<td>オイラの名は…</td>
					<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td>3〜4ページ目</td>
					<td></td>
				</tr>
				<tr>
					<td>1997年19号</td>
					<td>第31話</td>
					<td>無益ロボ　シャンボット3</td>
					<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>単行本では見開き扉が冒頭になり、本誌1ページ目が3ページ目に移動</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="kaizo">
		<Fragment slot="heading"><cite>かってに改蔵</cite></Fragment>

		<p>特記のないものは「<cite>週刊少年サンデー</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1999年21号</td>
					<td>第48話</td>
					<td>対改蔵最終兵器!?</td>
					<td>冒頭4ページ（2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>1999年40号</td>
					<td>第65話</td>
					<td>今年の思春期…!?</td>
					<td>冒頭4ページ（2色カラー）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td>1999年49号</td>
					<td>第74話</td>
					<td>人気者でいこう…よ</td>
					<td>冒頭4ページ（2色カラー）</td>
					<td>モノクロ</td>
					<td>ウソ人気投票イラスト</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2000年27号</td>
					<td>第100話</td>
					<td>前も後もムキムキにゃん♡</td>
					<td>見開き扉の片方のみ</td>
					<td>モノクロ</td>
					<td>扉イラスト（カラー部分のみ）</td>
					<td class="u-cell -center">✘</td>
					<td>連載100回記念</td>
				</tr>
				<tr>
					<td>2000年41号</td>
					<td>第113話</td>
					<td>アイシテルと言ってくれ</td>
					<td>冒頭7ページ（ニセ表紙、見開き扉含む）</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B009JZGZTM/">単行本11巻</Anchor>、<Anchor href="https://www.amazon.co.jp/dp/4091220800/">新装版6巻</Anchor>ではモノクロ化に際して直筆のお詫びページが挿入</td>
				</tr>
				<tr>
					<td>2000年49号</td>
					<td>第121話</td>
					<td>サービスエース</td>
					<td>冒頭3ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2002年42号</td>
					<td>第207話</td>
					<td>イノセントワールド</td>
					<td>冒頭4ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2004年24号</td>
					<td>第281話</td>
					<td>原点回帰の大号令</td>
					<td>見開き扉の片方のみ</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2004年34号</td>
					<td>最終話</td>
					<td>ずっと、いっしょだよ。</td>
					<td>ラスト2ページ</td>
					<td>モノクロ（新装版カラー）</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>週刊少年マガジン 22・23号</td>
					<td>特別番外編</td>
					<td>損して得とれない</td>
					<td>扉&amp;アニメ広告1ページ</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td><q>単行本</q>列の情報は<Anchor href="https://www.amazon.co.jp/dp/4091791255/">「<cite>かってに研究しやがれBOOK</cite>」完全版</Anchor>への収録、広告ページは収録なし</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="zetsubou">
		<Fragment slot="heading"><cite>さよなら絶望先生</cite></Fragment>

		<p>すべて「<cite>週刊少年マガジン</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2005年22・23号</td>
					<td>第一話</td>
					<td>さよなら絶望先生</td>
					<td>冒頭3ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td>扉イラスト（モノクロ収録）</td>
					<td></td>
				</tr>
				<tr>
					<td>2005年43号</td>
					<td>第二十一話</td>
					<td>きもすぎて悲しみの市</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td>扉ページは単行本非収録（広告ページ扱い?）</td>
				</tr>
				<tr>
					<td>2006年25号</td>
					<td>第五十話</td>
					<td>新しくない人よ、目覚めよ</td>
					<td>冒頭2ページ</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>連載50回記念</td>
				</tr>
				<tr>
					<td>2006年50号</td>
					<td>第七十三話</td>
					<td>七五三四郎</td>
					<td>冒頭2ページ</td>
					<td>モノクロ</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2007年21・22号</td>
					<td>第九十二話</td>
					<td>おめでたき　こともなき世を　おめでたく</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td>扉ページは単行本非収録（広告ページ扱い?）</td>
				</tr>
				<tr>
					<td>2007年40号</td>
					<td>第百八話</td>
					<td>奥の抜け道</td>
					<td>扉（月見イラスト）</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td>扉ページは単行本非収録（広告ページ扱い?）</td>
				</tr>
				<tr>
					<td>2008年6号</td>
					<td>第百二十二話</td>
					<td>断崖の比較</td>
					<td>扉&amp;アニメ広告1ページ</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td>扉ページは単行本非収録（広告ページ扱い?）</td>
				</tr>
				<tr>
					<td>2008年13号</td>
					<td>第百二十九話</td>
					<td>花係の森</td>
					<td>冒頭2ページ（扉含む）</td>
					<td>カラー</td>
					<td>扉イラスト</td>
					<td>扉イラスト、2ページ目</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00A765C6O/">単行本十四集</Anchor>では扉ページは目次の前に移動</td>
				</tr>
				<tr>
					<td>2009年48号</td>
					<td>第二百話</td>
					<td>長い長いさっしん</td>
					<td>見開き扉</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td>扉イラスト</td>
					<td>連載200回記念、単行本は<Anchor href="https://www.amazon.co.jp/dp/B00A765CVY/">二一集</Anchor>に収録<small>（※二十集ではない）</small></td>
				</tr>
				<tr>
					<td>2012年28号</td>
					<td>最終話</td>
					<td>さよなら絶望先生</td>
					<td>ラスト2ページ</td>
					<td>カラー</td>
					<td>ラストページ</td>
					<td>ラストページ</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="jyoshiraku">
		<Fragment slot="heading"><cite>じょしらく</cite></Fragment>

		<p>すべて「<cite>別冊少年マガジン</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B002MQJCZO/">2009年10月号</Anchor>
					</td>
					<td>一日目</td>
					<td>犬と猫の災難</td>
					<td>扉（高座での魔梨威）&amp;作者紹介</td>
					<td>カラー</td>
					<td>単行本には扉ページのみ冒頭（目次より前）に収録</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B002QGCA4A/">2009年11月号</Anchor>
					</td>
					<td>三日目</td>
					<td>楽屋の富</td>
					<td>扉&amp;与太郎でもわかる落語高座講座!!（2ページ）</td>
					<td>モノクロ</td>
					<td>単行本には扉ページのみ収録</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B00315IMGA/">2010年2月号</Anchor>
					</td>
					<td>六日目</td>
					<td>こがね袋</td>
					<td>扉（七福神イラスト、久米田&amp;ヤス先生による新年の手書き挨拶入り）</td>
					<td>カラー</td>
					<td>単行本には新年挨拶を削除し、冒頭（目次より前）に収録</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B00EPLPJ1A/">2013年10月号</Anchor>
					</td>
					<td>最終日</td>
					<td>終末の極意</td>
					<td>扉</td>
					<td>モノクロ</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="sekadoro">
		<Fragment slot="heading"><cite>せっかち伯爵と時間どろぼう</cite></Fragment>

		<p>すべて「<cite>週刊少年マガジン</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2013年49号</td>
					<td>00′01″</td>
					<td>せっかち伯爵と時間どろぼう</td>
					<td>冒頭3ページ（見開き扉含む）</td>
					<td>扉カラー、本編モノクロ</td>
					<td>扉イラスト</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td>2014年11号</td>
					<td>00′12″</td>
					<td>時をかける幼女</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>2014年43号</td>
					<td>00′39″</td>
					<td>伯爵時空を股にかける</td>
					<td>扉</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="pulp">
		<Fragment slot="heading"><cite>スタジオパルプ</cite></Fragment>

		<p>すべて「<cite>楽園 Le Paradis</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B016ZWJU20/">17号</Anchor>
					</td>
					<td>Act1.</td>
					<td>ラストページ後（映写機を操作するひろ子）</td>
					<td>カラー</td>
					<td class="u-cell -center">✘</td>
					<td>ラストページ後イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B016ZWJRXW/">18号</Anchor>
					</td>
					<td>Act2.</td>
					<td>冒頭1ページ</td>
					<td>カラー</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07BQJXRSZ/">26号</Anchor>
					</td>
					<td></td>
					<td>総扉（屋上のひろ子&amp;高橋&amp;小林）</td>
					<td>カラー</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td>単行本には1巻の冒頭（目次より前）に収録</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07KRY9K15/">28号</Anchor>
					</td>
					<td>Act11.</td>
					<td>扉（映画を観るひろ子&amp;高橋&amp;小林）</td>
					<td>モノクロ</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="kakushigoto">
		<Fragment slot="heading"><cite>かくしごと</cite></Fragment>

		<p>すべて「<cite>月刊少年マガジン</cite>」掲載。</p>

		<ListNote>
			<li>本作は話数表記がないため、下表の<q>話数</q>は便宜的に付けたものです。</li>
		</ListNote>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B017GZEBVK/">2015年12月号</Anchor>
					</td>
					<td>予告漫画</td>
					<td class="u-cell -center">―</td>
					<td>全編（4ページ）</td>
					<td>カラー</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B018SD2K3U/">2016年1月号</Anchor>
					</td>
					<td>1</td>
					<td>第1号　かくしごと、ほか</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01GRDKGZW/">1巻表紙</Anchor>
					</td>
					<td>扉イラスト</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01BEPYLHC/">2016年3月号</Anchor>
					</td>
					<td>3</td>
					<td>第12号　衰餃子、ほか</td>
					<td>冒頭2ページ（扉含む）</td>
					<td>モノクロ</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td>単行本ではモノクロ収録だが、扉イラストのみ<Anchor href="https://www.amazon.co.jp/dp/B01N3CRBG8/">3巻</Anchor>表紙でカラー掲載</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01EWSMIPU/">2016年6月号</Anchor>
					</td>
					<td>6</td>
					<td>第31号　きめごと、ほか</td>
					<td>扉（<q>娘を愛す、娘はアイス</q>のコピー）</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01M7O7KP9/">2巻表紙</Anchor>
					</td>
					<td>扉イラスト</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01GFTJ2Y4/">2016年7月号</Anchor>
					</td>
					<td>7</td>
					<td>第35号　アシより青し、ほか</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">✘</td>
					<td>本号表紙と同じ</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01M00R5W1/">2016年11月号</Anchor>
					</td>
					<td>11</td>
					<td>第4号　コマ割りスケッチ、ほか</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B071G5C4Q1/">4巻表紙</Anchor>
					</td>
					<td class="u-cell -center">―</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01NBFALFI/">2017年1月号</Anchor>
					</td>
					<td>13</td>
					<td>第14号　すすめ!! 隊列、ほか</td>
					<td>扉（<cite>ウィークエンドハウスアレイ</cite>）</td>
					<td class="u-cell -center">✘</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td>TV アニメ OP に採用</td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B076494ZYF/">2017年11月号</Anchor>
					</td>
					<td>22</td>
					<td>第8号　私は進行、ほか</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07788BKMZ/">5巻表紙</Anchor>
					</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07CMYGMJJ/">2018年6月号</Anchor>
					</td>
					<td>28</td>
					<td>第34号　あしたの本気になぁれ、ほか</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07CSQY8YP/">6巻表紙</Anchor>
					</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07XCW3C1Q/">2019年10月号</Anchor>
					</td>
					<td>42</td>
					<td>第39号　仮眠のみじゃ死ぬセカイ、ほか</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B07XBY5XKK/">9巻表紙</Anchor>
					</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B086MY6Q5Q/">2020年5月号</Anchor>
					</td>
					<td>49</td>
					<td>姫ちゃん18歳編②</td>
					<td>扉</td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B085L7QSHK/">11巻表紙</Anchor>
					</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B08C5JSKS2/">2020年8月号</Anchor>
					</td>
					<td>52（最終話）</td>
					<td>姫ちゃん18歳編⑤</td>
					<td>ラスト2ページ</td>
					<td>カラー</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">✘</td>
					<td>単行本ではカラーページ増量</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="nankuru">
		<Fragment slot="heading"><cite>なんくる姉さん</cite></Fragment>

		<p>すべて「<cite>ヤングマガジンサード</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01BDAANXY/">2016年 Vol.3</Anchor>
					</td>
					<td>第1ざわ話</td>
					<td>なんくる姉さん</td>
					<td>冒頭3ページ（見開き扉含む）</td>
					<td>モノクロ</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B01GFTJ1YA/">2016年 Vol.7</Anchor>
					</td>
					<td>第5ざわ話</td>
					<td>つまずいたっていいじゃないか、ちゅらさんだもの</td>
					<td>扉</td>
					<td>モノクロ</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B077VM2YW9/">2018年 Vol.1</Anchor>
					</td>
					<td>第22ざわ話</td>
					<td>私が誰よりイッチン</td>
					<td>扉</td>
					<td>モノクロ</td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="shibuya">
		<Fragment slot="heading"><cite>シブヤニアファミリー</cite></Fragment>

		<p>すべて「<cite>週刊少年サンデー</cite>」掲載。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">号数</th>
					<th scope="col" aria-sort="ascending">話数</th>
					<th scope="col">サブタイトル</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col"><cite>全曝し</cite>図録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B09JW9GKPF/">2021年48号</Anchor>
					</td>
					<td>#1</td>
					<td>この街は足腰にいいんだって。</td>
					<td>扉</td>
					<td>モノクロ</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td><Anchor href="https://www.sunday-webry.com/episode/3269754496660551564">サンデーうぇぶり</Anchor>で公開</td>
				</tr>
			</tbody>
		</Table>
	</Section>

	<Section id="yomikiri">
		<Fragment slot="heading">読み切り作品</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">作品名</th>
					<th scope="col">掲載誌</th>
					<th scope="col">カラーページ</th>
					<th scope="col">単行本収録</th>
					<th scope="col"><cite>悔画展</cite></th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><cite>幽良物件仲介します</cite></td>
					<td>週刊ヤングサンデー 1996年7号</td>
					<td>扉</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091222307/"><cite>かってに改蔵</cite>　新装版13巻</Anchor>（モノクロ）</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td><cite>いいがかり姉さん</cite></td>
					<td>ヤングガンガン 2005年9号</td>
					<td>冒頭4ページ（扉含む）</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/409122086X/"><cite>かってに改蔵</cite>　新装版9巻</Anchor>（モノクロ）</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td><cite>特に負けても構わない戦いがそこにはある 〜サレジオ落穂によろしく（仮題）〜</cite></td>
					<td>週刊ヤングサンデー 2005年27号</td>
					<td>冒頭2ページ（扉含む）</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220770/"><cite>かってに改蔵</cite>　新装版3巻</Anchor>、<Anchor href="https://www.amazon.co.jp/dp/4091077110/"><cite>毎月久米田康治</cite> Vol.4</Anchor>（いずれもモノクロ）</td>
					<td>扉イラスト、本編1ページ目の遺影を持った美蘭</td>
					<td></td>
				</tr>
				<tr>
					<td><cite>下請探偵　鋸織粕日郎シリーズ「密室の留学生」</cite></td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B00AWY7WS2/">週刊少年マガジン 2013年4・5号</Anchor>
					</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td><cite>東風（不）見聞録</cite></td>
					<td>
						<Anchor href="https://www.amazon.co.jp/dp/B00E8XDI1I/">週刊少年サンデー 2013年35号</Anchor>
					</td>
					<td>冒頭2ページ（扉含む）</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
				<tr>
					<td><cite>クメショート『タワマンとも子』『リゾマンとも子』</cite></td>
					<td>週刊少年サンデー 2016年9号</td>
					<td>扉</td>
					<td class="u-cell -center">✘</td>
					<td>扉イラスト</td>
					<td></td>
				</tr>
			</tbody>
		</Table>

		<ListNote>
			<li>
				以下の読み切り作品はカラーページありません。
				<ul>
					<li><cite>アシという名のもとに 〜まんが家アシスタント残酷物語〜</cite>（1992年）</li>
					<li><Anchor href="https://www.amazon.co.jp/dp/B001H87GBU/"><cite>トリビュート失格 〜呼ばれてすいません〜</cite></Anchor>（2008年）</li>
					<li><Anchor href="https://www.amazon.co.jp/dp/B00R3BMQKQ/"><cite>オフサイドトラップ</cite></Anchor>（2015年）</li>
					<li><Anchor href="https://x.com/mangadaytoday/status/1306442957470363657"><cite>ちょみっッ</cite></Anchor>（2020年）</li>
				</ul>
			</li>
			<li>読み切り作品は<cite>全曝し展</cite>の展示対象外です（図録掲載なし）。</li>
		</ListNote>
	</Section>
</Layout>
