---
import Layout from '@layouts/Kumeta.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import List from '@components/List.astro';
import Section from '@components/Section.astro';
import Date from '@components/+phrasing/Date.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '久米田康治作品のコンビニコミック',
	heading: 'コンビニコミック',
	dateModified: '2025-11-24',
	description: '通常の単行本とは別に、いわゆるコンビニコミックと呼ばれる形で販売された本の情報をまとめました。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="kaizo-sc">
		<Fragment slot="heading"><cite>My First WIDE かってに改蔵 SPECIAL COLLECTION</cite></Fragment>

		<Amazon>
			<AmazonItem asin="4091622607" title="My First WIDE かってに改蔵 SPECIAL COLLECTION" imageId="51CX822csoL" imageWidth={112} imageHeight={160} />
		</Amazon>

		<p><Date value="2004-10-20" />発行</p>

		<List>
			<li>登場人物紹介</li>
			<li><cite>かってに改蔵</cite>　第54話</li>
			<li><cite>かってに改蔵</cite>　第56話</li>
			<li><cite>かってに改蔵</cite>　第66話</li>
			<li><cite>かってに改蔵</cite>　第69話</li>
			<li><cite>かってに改蔵</cite>　第84話</li>
			<li><cite>かってに改蔵</cite>　第114話</li>
			<li><cite>かってに改蔵</cite>　第115話</li>
			<li><cite>かってに改蔵</cite>　第129話</li>
			<li><cite>かってに改蔵</cite>　第130話</li>
			<li><cite>かってに改蔵</cite>　第137話</li>
			<li><cite>かってに改蔵</cite>　第140話</li>
			<li><cite>かってに改蔵</cite>　第153話</li>
			<li><cite>かってに改蔵</cite>　第154話</li>
			<li><cite>かってに改蔵</cite>　第177話</li>
			<li><cite>かってに改蔵</cite>　第178話</li>
			<li><cite>かってに改蔵</cite>　第180話</li>
			<li><cite>かってに改蔵</cite>　第188話</li>
			<li><cite>かってに改蔵</cite>　第193話</li>
			<li>「<cite>週刊少年サンデー</cite>」のお知らせ<small>（※広告ページ）</small></li>
			<li>「<cite>My First WIDE Book Club</cite>」のお知らせ<small>（※広告ページ）</small></li>
			<li><cite>かってに改蔵</cite>　第204話</li>
			<li><cite>かってに改蔵</cite>　第206話</li>
			<li><cite>かってに改蔵</cite>　第216話</li>
			<li><cite>かってに改蔵</cite>　第229話</li>
			<li><cite>かってに改蔵</cite>　第238話</li>
			<li><cite>かってに改蔵</cite>　第242話</li>
			<li><cite>かってに改蔵</cite>　第245話</li>
			<li><cite>かってに改蔵</cite>　第248話</li>
			<li><cite>かってに改蔵</cite>　第255話</li>
			<li><cite>かってに改蔵</cite>　第256話</li>
			<li><cite>かってに改蔵</cite>　第261話</li>
			<li><cite>かってに改蔵</cite>　第262話</li>
			<li>小学館ホームページのお知らせ<small>（※広告ページ）</small></li>
			<li>「<cite>ビックコミックコンパクト</cite>」のお知らせ<small>（※広告ページ）</small></li>
			<li>「<cite>サンデーコンパクト</cite>」のお知らせ<small>（※広告ページ）</small></li>
			<li>「<cite>My First BIG</cite>」のお知らせ<small>（※広告ページ）</small></li>
			<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
		</List>
	</Section>
	<Section id="kaizo">
		<Fragment slot="heading"><cite>My First WIDE かってに改蔵</cite></Fragment>

		<Amazon>
			<AmazonItem asin="4091627412" title="Vol.1" imageId="910QOmkvu7L" imageWidth={113} imageHeight={160} />
			<AmazonItem asin="4091627501" title="Vol.2" imageId="51FPrdrQsVL" imageWidth={119} imageHeight={160} />
			<AmazonItem asin="4091627579" title="Vol.3" imageId="91cS+kW2-ML" imageWidth={111} imageHeight={160} />
			<AmazonItem asin="4091627676" title="Vol.4" imageId="91N+-u7yt+L" imageWidth={112} imageHeight={160} />
			<AmazonItem asin="409162779X" title="Vol.5" imageId="91rXhSbdonL" imageWidth={120} imageHeight={160} />
		</Amazon>

		<Section id="kaizo1" depth={2} headingType="b">
			<Fragment slot="heading">第1巻　虎馬改造人間</Fragment>

			<p><Date value="2011-11-16" />発行</p>

			<List>
				<li>かってに人物紹介</li>
				<li><cite>かってに改蔵</cite>　第1話</li>
				<li><cite>かってに改蔵</cite>　第2話</li>
				<li><cite>かってに改蔵</cite>　第3話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.1</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.2</li>
				<li><cite>かってに改蔵</cite>　第4話</li>
				<li><cite>かってに改蔵</cite>　第5話</li>
				<li><cite>かってに改蔵</cite>　第6話</li>
				<li><cite>かってに改蔵</cite>　第7話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.3</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.4</li>
				<li><cite>かってに改蔵</cite>　第8話</li>
				<li><cite>かってに改蔵</cite>　第9話</li>
				<li><cite>かってに改蔵</cite>　第10話</li>
				<li>『<cite>かってに改蔵</cite>』ネタの素①　"天才"久米田康治・改蔵までの道!!</li>
				<li><cite>かってに改蔵</cite>　第11話</li>
				<li><cite>かってに改蔵</cite>　第12話</li>
				<li><cite>かってに改蔵</cite>　第13話</li>
				<li><cite>かってに改蔵</cite>　第14話</li>
				<li><cite>かってに改蔵</cite>　第15話</li>
				<li>南スポ 1999年第1号<small>（※『<cite>かってに改蔵</cite>』SC版第2巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第16話</li>
				<li><cite>かってに改蔵</cite>　第17話</li>
				<li><cite>かってに改蔵</cite>　第18話</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第1話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第2話</li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第1話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第2話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第3話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第4話</li>
				<li><cite>かってに改蔵</cite>　次集のお知らせ</li>
			</List>
		</Section>

		<Section id="kaizo2" depth={2} headingType="b">
			<Fragment slot="heading">第2巻　地丹という男</Fragment>

			<p><Date value="2011-12-18" />発行</p>

			<List>
				<li>かってに人物紹介</li>
				<li><cite>かってに改蔵</cite>　第19話</li>
				<li><cite>かってに改蔵</cite>　第20話</li>
				<li><cite>かってに改蔵</cite>　第21話</li>
				<li><cite>かってに改蔵</cite>　第22話</li>
				<li><cite>かってに改蔵</cite>　第23話</li>
				<li><cite>かってに改蔵</cite>　第24話</li>
				<li><cite>かってに改蔵</cite>　第25話</li>
				<li><cite>かってに改蔵</cite>　第26話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.5</li>
				<li>『<cite>月イチ　三丁目の夕日</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第27話</li>
				<li><cite>かってに改蔵</cite>　第28話</li>
				<li><cite>かってに改蔵</cite>　第29話</li>
				<li><cite>かってに改蔵</cite>　第30話</li>
				<li><cite>かってに改蔵</cite>　第31話</li>
				<li><cite>かってに改蔵</cite>　第32話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.6</li>
				<li>『<cite>藤子不二雄Ⓐ　画業60周年記念〜魔太郎がくる!!</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第33話</li>
				<li><cite>かってに改蔵</cite>　第34話</li>
				<li><cite>かってに改蔵</cite>　第35話</li>
				<li><cite>かってに改蔵</cite>　第36話</li>
				<li><cite>かってに改蔵</cite>　第37話</li>
				<li>『<cite>かってに改蔵</cite>』ネタの素②　坪内地丹という男〜地丹の取扱説明書</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第29話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第30話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第31話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第32話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第33話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.7</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第5話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第6話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第7話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第8話</li>
				<li><cite>かってに改蔵</cite>　次集のお知らせ</li>
			</List>
		</Section>

		<Section id="kaizo3" depth={2} headingType="b">
			<Fragment slot="heading">第3巻　羽美の場合</Fragment>

			<p><Date value="2012-01-18" />発行</p>

			<List>
				<li>かってに人物紹介</li>
				<li><cite>かってに改蔵</cite>　第38話</li>
				<li><cite>かってに改蔵</cite>　第39話</li>
				<li><cite>かってに改蔵</cite>　第40話</li>
				<li>白いままでは申しわけないので穴うめ企画　その1<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第41話</li>
				<li>白いままでは申しわけないので穴うめ企画　その2<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第42話</li>
				<li>白いままでは申しわけないので穴うめ企画　その3<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第43話</li>
				<li>白いままでは申しわけないので穴うめ企画　その4<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第44話</li>
				<li>白いままでは申しわけないので穴うめ企画　その5<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第45話</li>
				<li>白いままでは申しわけないので穴うめ企画　その6<small>（※『<cite>かってに改蔵</cite>』SC版第4巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第46話</li>
				<li>【オマケ】1999年の夏休みの思い出<small>（※『<cite>かってに改蔵</cite>』SC版第5巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第47話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.8</li>
				<li>『<cite>らんま1/2</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第48話</li>
				<li><cite>かってに改蔵</cite>　第49話</li>
				<li><cite>かってに改蔵</cite>　第50話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.9</li>
				<li>『<cite>うる星やつら</cite>』次集のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第51話</li>
				<li><cite>かってに改蔵</cite>　第52話</li>
				<li>【オマケ】トラウマウォーカー<small>（※『<cite>かってに改蔵</cite>』SC版第3巻収録のおまけコーナー）</small></li>
				<li><cite>かってに改蔵</cite>　第53話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.10</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第54話</li>
				<li><cite>かってに改蔵</cite>　第55話</li>
				<li><cite>かってに改蔵</cite>　第56話</li>
				<li>『<cite>かってに改蔵</cite>』ネタの素③　わかるかな!?〜改蔵でネタになった有名人研究</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第36話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第37話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第44話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第45話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.7</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第9話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第10話</li>
				<li>南国スポーツ　第6京9百億2回<small>（※『<cite>太陽の戦士ポカポカ</cite>』SC版第1巻収録のおまけコーナー）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第11話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.11</li>
				<li>「<cite>月刊少年サンデー（ゲッサン）</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第12話</li>
				<li><cite>かってに改蔵</cite>　次集のお知らせ</li>
				<li>「<cite>週刊少年サンデー</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li>「<cite>My First BIG</cite>」のお知らせ<small>（※広告ページ）</small></li>
			</List>
		</Section>

		<Section id="kaizo4" depth={2} headingType="b">
			<Fragment slot="heading">第4巻　彩園すず（博士?）</Fragment>

			<p><Date value="2012-02-18" />発行</p>

			<List>
				<li>かってに人物紹介</li>
				<li><cite>かってに改蔵</cite>　第57話</li>
				<li><cite>かってに改蔵</cite>　第58話</li>
				<li><cite>かってに改蔵</cite>　第59話</li>
				<li><cite>かってに改蔵</cite>　第60話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.12</li>
				<li>『<cite>うる星やつら</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第61話</li>
				<li><cite>かってに改蔵</cite>　第62話</li>
				<li><cite>かってに改蔵</cite>　第63話</li>
				<li><cite>かってに改蔵</cite>　第64話</li>
				<li><cite>かってに改蔵</cite>　第65話</li>
				<li><cite>かってに改蔵</cite>　第66話</li>
				<li><cite>かってに改蔵</cite>　第67話</li>
				<li><cite>かってに改蔵</cite>　第68話</li>
				<li><cite>かってに改蔵</cite>　第69話</li>
				<li><cite>かってに改蔵</cite>　第70話</li>
				<li><cite>かってに改蔵</cite>　第71話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.13</li>
				<li>特製ムック『<cite>三丁目の夕日の時代'64（昭和39年）篇</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第72話</li>
				<li><cite>かってに改蔵</cite>　第73話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.14</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第74話</li>
				<li><cite>かってに改蔵</cite>　第75話</li>
				<li>『<cite>かってに改蔵</cite>』ネタの素④　本当に役立つ! 改蔵に学ぶ! 〜失敗しないお金儲け術!!</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第28話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第43話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第56話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第57話</li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第13話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第14話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第15話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第16話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第17話</li>
				<li><cite>かってに改蔵</cite>　次集のお知らせ</li>
			</List>
		</Section>

		<Section id="kaizo5" depth={2} headingType="b">
			<Fragment slot="heading">第5巻　幸せって何だっけ!?</Fragment>

			<p><Date value="2012-03-18" />発行</p>

			<List>
				<li>かってに人物紹介</li>
				<li><cite>かってに改蔵</cite>　第76話</li>
				<li><cite>かってに改蔵</cite>　第77話</li>
				<li><cite>かってに改蔵</cite>　第78話</li>
				<li><cite>かってに改蔵</cite>　第79話</li>
				<li><cite>かってに改蔵</cite>　第80話</li>
				<li><cite>かってに改蔵</cite>　第81話</li>
				<li><cite>かってに改蔵</cite>　第82話</li>
				<li><cite>かってに改蔵</cite>　第83話</li>
				<li>『<cite>かってに改蔵</cite>』ネタの素⑤　だってヒロインですから…〜羽美ちゃんのかわいらしさ大研究</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第88話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第50話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第51話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第63話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第64話</li>
				<li>巻末特別ふろく　連想心理ゲーム　それぬけコカンジー<small>（※『<cite>行け!!南国アイスホッケー部</cite>』SC版第3巻収録のおまけコーナー）</small></li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第18話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第19話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.15</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第84話</li>
				<li><cite>かってに改蔵</cite>　第85話</li>
				<li><cite>かってに改蔵</cite>　第86話</li>
				<li><cite>かってに改蔵</cite>　第87話</li>
				<li><cite>かってに改蔵</cite>　第88話</li>
				<li><cite>かってに改蔵</cite>　第89話</li>
				<li><cite>かってに改蔵</cite>　第90話</li>
				<li><cite>かってに改蔵</cite>　第91話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.16</li>
				<li>「<cite>うる星やつら</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li><cite>かってに改蔵</cite>　第92話</li>
				<li><cite>かってに改蔵</cite>　第93話</li>
				<li><cite>かってに改蔵</cite>　第94話</li>
				<li><cite>かってに改蔵</cite>　第95話</li>
				<li><cite>かってに改蔵</cite>　第96話</li>
				<li>大切なお知らせ</li>
				<li>「<cite>My First BIG</cite>」のお知らせ<small>（※広告ページ）</small></li>
			</List>
		</Section>
	</Section>
	<Section id="kumeta">
		<Fragment slot="heading"><cite>My First BIG SPECIAL 毎月久米田康治</cite></Fragment>

		<Amazon>
			<AmazonItem asin="4091076394" title="Vol.1" imageId="A1EkyqaMWVL" imageWidth={113} imageHeight={160} />
			<AmazonItem asin="4091076653" title="Vol.2" imageId="612DpNwUXgL" imageWidth={112} imageHeight={160} />
			<AmazonItem asin="4091076734" title="Vol.3" imageId="A1QHB1xiilL" imageWidth={113} imageHeight={160} />
			<AmazonItem asin="4091077110" title="Vol.4" imageId="A1oZ07bQXAL" imageWidth={111} imageHeight={160} />
		</Amazon>

		<Section id="kumeta1" depth={2} headingType="b">
			<Fragment slot="heading">第1巻　夢の共演実現!!</Fragment>

			<p><Date value="2012-04-18" />発行</p>

			<List>
				<li><cite>さよなら絶望先生</cite>　番外編</li>
				<li>登場人物紹介<small>（<cite>かってに改蔵</cite>）</small></li>
				<li><cite>かってに改蔵</cite>　第97話</li>
				<li><cite>かってに改蔵</cite>　第98話</li>
				<li><cite>かってに改蔵</cite>　第99話</li>
				<li>とある日のオレ日記<small>（※『<cite>かってに改蔵</cite>』SC版第9巻収録のおまけコーナー、SC版と比較して全体が灰色背景となりイラスト部分のみ白抜きになる変化）</small></li>
				<li><cite>かってに改蔵</cite>　第100話</li>
				<li><cite>かってに改蔵</cite>　第101話</li>
				<li>[特別企画] 本音でここまでしゃべってしまったインタビュー<small>（※『<cite>かってに改蔵</cite>』新装版第1巻収録分の再構成、描き下ろしの1ページ漫画はラスト1コマのみの掲載）</small></li>
				<li>登場人物紹介<small>（<cite>育ってダーリン!!</cite>）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン1<small>（※話数は単行本基準）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン2<small>（※話数は単行本基準）</small></li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.17</li>
				<li>「<cite>週刊少年サンデー</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.18</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第42話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第55話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第69話</li>
				<li>巻末あぶなまんが　わたくし事ですいませんが…<small>（※『<cite>行け!!南国アイスホッケー部</cite>』SC版第12巻収録のおまけコーナー、SC版と比較して全体が灰色背景となる変化）</small></li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.19</li>
				<li>『<cite>うる星やつら</cite>』のお知らせ<small>（※広告ページ）</small></li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第20話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第21話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第22話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第23話</li>
				<li>「<cite>毎月久米田康治</cite>」次集のお知らせ</li>
				<li>「<cite>My First WIDE</cite>」のお知らせ<small>（※広告ページ）</small></li>
				<li>「<cite>My First BIG</cite>」のお知らせ<small>（※広告ページ）</small></li>
			</List>
		</Section>

		<Section id="kumeta2" depth={2} headingType="b">
			<Fragment slot="heading">第2巻　改蔵は忘れた頃にやってくる!!</Fragment>

			<p><Date value="2012-05-18" />発行</p>

			<List>
				<li>掲載作品紹介</li>
				<li><cite>地上げにスマッシュ</cite></li>
				<li>登場人物紹介<small>（<cite>かってに改蔵</cite>）</small></li>
				<li><cite>かってに改蔵</cite>　第102話</li>
				<li><cite>かってに改蔵</cite>　第103話</li>
				<li><cite>かってに改蔵</cite>　第104話</li>
				<li><cite>かってに改蔵</cite>　第105話</li>
				<li><cite>かってに改蔵</cite>　第106話</li>
				<li>[特別企画] 本音でここまでしゃべってしまったインタビュー　その2<small>（※『<cite>かってに改蔵</cite>』新装版第2巻収録分の再構成、描き下ろしの1ページ漫画は非掲載）</small></li>
				<li>登場人物紹介<small>（<cite>育ってダーリン!!</cite>）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン3<small>（※話数は単行本基準）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン4<small>（※話数は単行本基準）</small></li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.20</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.21</li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第61話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第67話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第66話</li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第24話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第25話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第26話</li>
				<li>「<cite>毎月久米田康治</cite>」次集のお知らせ</li>
				<li>「<cite>My First BIG</cite>」のお知らせ<small>（※広告ページ）</small></li>
			</List>
		</Section>

		<Section id="kumeta3" depth={2} headingType="b">
			<Fragment slot="heading">第3巻　改蔵の夏</Fragment>

			<p><Date value="2012-06-18" />発行</p>

			<List>
				<li>掲載作品紹介</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.22</li>
				<li><cite>幽良物件仲介します</cite></li>
				<li>登場人物紹介<small>（<cite>かってに改蔵</cite>）</small></li>
				<li><cite>かってに改蔵</cite>　第107話</li>
				<li><cite>かってに改蔵</cite>　第108話</li>
				<li><cite>かってに改蔵</cite>　第109話</li>
				<li><cite>かってに改蔵</cite>　第110話</li>
				<li><cite>かってに改蔵</cite>　第111話</li>
				<li><cite>かってに改蔵</cite>　第112話</li>
				<li>[特別企画] ビッグ対談　久米田康治vs.あだち充 Part.1<small>（※『<cite>かってに改蔵</cite>』新装版第14巻収録分の再構成）</small></li>
				<li>登場人物紹介<small>（<cite>育ってダーリン!!</cite>）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン5<small>（※話数は単行本基準）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン6<small>（※話数は単行本基準）</small></li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第70話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第71話</li>
				<li>登場人物紹介<small>（<cite>太陽の戦士ポカポカ</cite>）</small></li>
				<li><cite>太陽の戦士ポカポカ</cite>　第27話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第28話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第29話</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.23</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第30話</li>
			</List>
		</Section>

		<Section id="kumeta4" depth={2} headingType="b">
			<Fragment slot="heading">第4巻　夏なのにお別れですか?</Fragment>

			<p><Date value="2012-07-18" />発行</p>

			<List>
				<li>掲載作品紹介</li>
				<li>登場人物紹介<small>（<cite>かってに改蔵</cite>）</small></li>
				<li><cite>かってに改蔵</cite>　第113話</li>
				<li><cite>かってに改蔵</cite>　第114話</li>
				<li><cite>かってに改蔵</cite>　第115話</li>
				<li><cite>かってに改蔵</cite>　第116話</li>
				<li><cite>かってに改蔵</cite>　第117話</li>
				<li><cite>かってに改蔵</cite>　第118話</li>
				<li>「地丹くんFA宣言!!」てんまつ記!!!<small>（※『<cite>かってに改蔵</cite>』SC版第11巻収録のおまけコーナー）</small></li>
				<li>[特別企画] ビッグ対談　久米田康治vs.あだち充 Part.2<small>（※『<cite>かってに改蔵</cite>』新装版第14巻収録分の再構成、描き下ろしイラストは非掲載）</small></li>
				<li>登場人物紹介<small>（<cite>育ってダーリン!!</cite>）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン7<small>（※話数は単行本基準）</small></li>
				<li>とくべつふろく♡　地丹式ラヴ論<small>（※『<cite>育ってダーリン!!</cite>』新装版A巻収録のおまけコーナー）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン8<small>（※話数は単行本基準）</small></li>
				<li>とくべつふろく♡　地丹式ラヴ論<small>（※『<cite>育ってダーリン!!</cite>』新装版A巻収録のおまけコーナー）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン9<small>（※話数は単行本基準）</small></li>
				<li>とくべつふろく♡　地丹式ラヴ論<small>（※『<cite>育ってダーリン!!</cite>』新装版A巻収録のおまけコーナー）</small></li>
				<li><cite>育ってダーリン!!</cite>　レッスン10<small>（※話数は単行本基準）</small></li>
				<li>登場人物紹介<small>（<cite>行け!!南国アイスホッケー部</cite>）</small></li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第85話</li>
				<li><cite>行け!!南国アイスホッケー部</cite>　第92話</li>
				<li><cite>太陽の戦士ポカポカ</cite>　第31話</li>
				<li><cite>特に負けても構わない戦いがそこにはある 〜サレジオ落穂によろしく（仮題）〜</cite></li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.24</li>
				<li>サンデーまんが家バックステージ　久米田康治のつぶやき Vol.25</li>
				<li>次回作? 謎のキャラ表入手!!<small>（※『<cite>太陽の戦士ポカポカ</cite>』第5巻収録のおまけコーナー、左下部分は「<cite>休刊のお知らせ</cite>」に差し替え）</small>／大切なお知らせ</li>
			</List>
		</Section>
	</Section>
	<Section id="sunday-90selection">
		<Fragment slot="heading"><cite>My First BIG SPECIAL 少年サンデー '90セレクション</cite></Fragment>

		<Amazon>
			<AmazonItem asin="4091197620" title="前期" imageId="61daM9GirgL" imageWidth={113} imageHeight={160} />
			<AmazonItem asin="4091198457" title="後期" imageId="81BKHaHMc0L" imageWidth={110} imageHeight={160} />
		</Amazon>

		<Section id="sunday-90selection90-1" depth={2} headingType="b">
			<Fragment slot="heading">前期</Fragment>

			<p><Date value="2015-04-29" />発行</p>

			<List>
				<li>『<cite>H2</cite>』セクション</li>
				<li>『<cite>うしおととら</cite>』セクション</li>
				<li>『<cite>今日から俺は!!</cite>』セクション</li>
				<li>『<cite>GS美神　極楽大作戦!!</cite>』セクション</li>
				<li>『<cite>JESUS</cite>』セクション</li>
				<li>超特別企画　'90年代作家同窓会【前編】</li>
				<li>『<cite>俺たちのフィールド</cite>』セクション</li>
				<li>『<cite>ガンバ! Fly high</cite>』セクション</li>
				<li>『<cite>じゃじゃ馬グルーミン★UP!</cite>』セクション</li>
				<li>『<cite>MAJOR</cite>』セクション</li>
				<li>『<cite>名探偵コナン</cite>』セクション</li>
			</List>
		</Section>
		<Section id="sunday-90selection90-2" depth={2} headingType="b">
			<Fragment slot="heading">後期</Fragment>

			<p><Date value="2015-08-05" />発行</p>

			<List>
				<li>『<cite>DAN DOH!!</cite>』セクション</li>
				<li>『<cite>烈火の炎</cite>』セクション</li>
				<li>『<cite>め組の大吾</cite>』セクション</li>
				<li>『<cite>モンキーターン</cite>』セクション</li>
				<li>『<cite>犬夜叉</cite>』セクション</li>
				<li>超特別企画　'90年代作家同窓会【後編】</li>
				<li>『<cite>ARMS</cite>』セクション</li>
				<li>『<cite>からくりサーカス</cite>』セクション</li>
				<li>
					『<cite>かってに改蔵</cite>』セクション<ul>
						<li>第1話　<cite>改造人間誕生!?</cite></li>
						<li>あらすじ</li>
						<li>第29話　<cite>乙女の気持ち♡</cite></li>
						<li>第35話　<cite>西から来た女!!</cite></li>
						<li>第42話　<cite>こんなんでいいわけ?</cite></li>
						<li>その後のかってに改蔵</li>
					</ul>
				</li>
				<li>『<cite>天使な小生意気</cite>』セクション</li>
				<li>『<cite>ファンタジスタ</cite>』セクション</li>
			</List>
		</Section>
	</Section>
</Layout>
