---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Section from '@components/Section.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '久米田康治作品の電子書籍の非収録コンテンツ',
	heading: '電子書籍の非収録コンテンツ',
	dateModified: dayjs('2022-09-16'),
	description: '紙の本にはあるものの、電子書籍に収録されていないコンテンツをまとめました。作品によって背表紙やカバーそでのデータまで収録される事例もある一方、巻末おまけや読者投稿コーナーなどのコンテンツすら割愛されるケースもあります。',
	breadcrumb: [{ path: '/kumeta/', name: 'ホーム' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<table class="p-table">
		<thead>
			<tr>
				<th scope="col" rowspan="2">作品名</th>
				<th scope="col" rowspan="2">発行所</th>
				<th scope="col" colspan="3">カバー</th>
				<th scope="col" colspan="3">本体</th>
				<th scope="col" rowspan="2">備考</th>
			</tr>
			<tr>
				<th scope="col">背表紙</th>
				<th scope="col">裏表紙</th>
				<th scope="col">そで</th>
				<th scope="col">カバー下</th>
				<th scope="col">巻末おまけ</th>
				<th scope="col">読者投稿</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>行け!!南国アイスホッケー部</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>√P ルートパラダイス</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td>巻末おまけは1巻のみ</td>
			</tr>
			<tr>
				<td>太陽の戦士ポカポカ</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>かってに改蔵</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><a href="#kaizo-omake">詳細</a></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td>読者投稿は5巻以降</td>
			</tr>
			<tr>
				<td>育ってダーリン!!（新装版）</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>さよなら絶望先生</td>
				<td>講談社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td>読者投稿は二集以降</td>
			</tr>
			<tr>
				<td>じょしらく</td>
				<td>講談社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>せっかち伯爵と時間どろぼう</td>
				<td>講談社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td></td>
			</tr>
			<tr>
				<td>スタジオパルプ</td>
				<td>白泉社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>かくしごと</td>
				<td>講談社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>なんくる姉さん</td>
				<td>講談社</td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center"><span class="c-tac -cross">非収録</span></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td>シブヤニアファミリー</td>
				<td>小学館</td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center"><span class="c-tac -tick">収録</span></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<ul class="p-notes">
		<li>『育ってダーリン!!』の通常版は電子書籍化されていないので表には含めていません。</li>
		<li>カバー下は『かってに改蔵』3巻までは表紙、裏表紙と同じイラストです。</li>
		<li>『かってに改蔵』の一部の巻以降（『育ってダーリン!!』新装版を含む）、オビが付くケースが多くなっていますが、これも電子書籍には収録されていません。</li>
		<li>
			電子書籍は以下のストアで確認しました。
			<dl class="p-list-description">
				<dt><LinkExternal href="https://book.dmm.com/">DMM ブックス</LinkExternal></dt>
				<dd>行け!!南国アイスホッケー部、√P ルートパラダイス、育ってダーリン!!（新装版）、太陽の戦士ポカポカ、かってに改蔵、さよなら絶望先生、じょしらく</dd>
				<dt><LinkExternal href="https://www.amazon.co.jp/b?node=2250738051&tag=w0s.jp-22">Kindle ストア</LinkExternal></dt>
				<dd>せっかち伯爵と時間どろぼう、スタジオパルプ、かくしごと、なんくる姉さん、シブヤニアファミリー</dd>
			</dl>
		</li>
	</ul>

	<Section slugger={slugger} id="kaizo-omake" heading="『かってに改蔵』巻末おまけ">
		<p>『かってに改蔵』の巻末おまけコンテンツは巻によって電子書籍への収録有無が異なります。</p>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">巻数</th>
					<th scope="col">内容</th>
					<th scope="col">掲載場所</th>
					<th scope="col">電子書籍収録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>2巻</td>
					<td>南スポ　1999年第1号</td>
					<td>4話と5話の間</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220754/">新装版1巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>3巻</td>
					<td>とらうまウォーカー</td>
					<td>本編の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220762/">新装版2巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>4巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>5巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>6巻</td>
					<td>とらうまウォーカー編集部からのおねがい</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -cross">なし</span></td>
					<td></td>
				</tr>
				<tr>
					<td>7巻</td>
					<td>KDD 通話明細書</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -cross">なし</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220789/">新装版4巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>8巻</td>
					<td>めがねっ娘萌え萌え団!!結果発表</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -cross">なし</span></td>
					<td></td>
				</tr>
				<tr>
					<td>9巻</td>
					<td>ラピード久米田の編集後記</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220797/">新装版5巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>10巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>11巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>12巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>13巻</td>
					<td>かってに改蔵ミニ外伝</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220843/">新装版7巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>14巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>15巻</td>
					<td>BP（万乗パンツ）の穴</td>
					<td>読者投稿の途中</td>
					<td class="u-cell -center"><span class="c-tac -cross">なし</span></td>
					<td><LinkExternal href="https://www.amazon.co.jp/dp/4091220851/">新装版8巻</LinkExternal>にも収録</td>
				</tr>
				<tr>
					<td>16巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>17巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>18巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>19巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>20巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>21巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>22巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>23巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>24巻</td>
					<td>作者&amp;童女のちょっといい話、今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>25巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
				<tr>
					<td>26巻</td>
					<td>大反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><span class="c-tac -tick">あり</span></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</Section>
</Layout>
