---
import dayjs from 'dayjs';
import Layout from '@layouts/Kumeta.astro';
import ListDescription from '@components/ListDescription.astro';
import ListNote from '@components/ListNote.astro';
import Section from '@components/Section.astro';
import Table from '@components/Table.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import TickAndCross from '@components/+phrasing/TickAndCross.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '久米田康治作品の電子書籍の非収録コンテンツ',
	heading: '電子書籍の非収録コンテンツ',
	dateModified: dayjs('2022-09-16'),
	description: '紙の本にはあるものの、電子書籍に収録されていないコンテンツをまとめました。作品によって背表紙やカバーそでのデータまで収録される事例もある一方、巻末おまけや読者投稿コーナーなどのコンテンツすら割愛されるケースもあります。',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Table>
		<thead>
			<tr>
				<th scope="col" rowspan="2">作品名</th>
				<th scope="col" rowspan="2">発行所</th>
				<th scope="col" colspan="3">カバー</th>
				<th scope="col" colspan="3">本体</th>
				<th scope="col" rowspan="2">備考</th>
			</tr>
			<tr>
				<th scope="col">背表紙</th>
				<th scope="col">裏表紙</th>
				<th scope="col">そで</th>
				<th scope="col">カバー下</th>
				<th scope="col">巻末おまけ</th>
				<th scope="col">読者投稿</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><cite>行け!!南国アイスホッケー部</cite></td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>√P ルートパラダイス</cite></td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td>巻末おまけは1巻のみ</td>
			</tr>
			<tr>
				<td><cite>太陽の戦士ポカポカ</cite></td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>かってに改蔵</cite></td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><a href="#kaizo-omake">詳細</a></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td>読者投稿は5巻以降</td>
			</tr>
			<tr>
				<td><cite>育ってダーリン!!</cite>（新装版）</td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>さよなら絶望先生</cite></td>
				<td>講談社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td>読者投稿は二集以降</td>
			</tr>
			<tr>
				<td><cite>じょしらく</cite></td>
				<td>講談社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>せっかち伯爵と時間どろぼう</cite></td>
				<td>講談社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td></td>
			</tr>
			<tr>
				<td><cite>スタジオパルプ</cite></td>
				<td>白泉社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>かくしごと</cite></td>
				<td>講談社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>なんくる姉さん</cite></td>
				<td>講談社</td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="cross">非収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
			<tr>
				<td><cite>シブヤニアファミリー</cite></td>
				<td>小学館</td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center"><TickAndCross type="tick">収録</TickAndCross></td>
				<td class="u-cell -center">―</td>
				<td class="u-cell -center">―</td>
				<td></td>
			</tr>
		</tbody>
	</Table>

	<ListNote>
		<li>『<cite>育ってダーリン!!</cite>』の通常版は電子書籍化されていないので表には含めていません。</li>
		<li>カバー下は『<cite>かってに改蔵</cite>』3巻までは表紙、裏表紙と同じイラストです。</li>
		<li>『<cite>かってに改蔵</cite>』の一部の巻以降（『<cite>育ってダーリン!!</cite>』新装版を含む）、オビが付くケースが多くなっていますが、これも電子書籍には収録されていません。</li>
		<li>
			電子書籍は以下のストアで確認しました。
			<ListDescription>
				<div>
					<dt><Anchor href="https://book.dmm.com/">DMM ブックス</Anchor></dt>
					<dd><cite>行け!!南国アイスホッケー部</cite>、<cite>√P ルートパラダイス</cite>、<cite>育ってダーリン!!</cite>（新装版）、<cite>太陽の戦士ポカポカ</cite>、<cite>かってに改蔵</cite>、<cite>さよなら絶望先生</cite>、<cite>じょしらく</cite></dd>
				</div>
				<div>
					<dt><Anchor href="https://www.amazon.co.jp/b?node=2250738051&tag=w0s.jp-22">Kindle ストア</Anchor></dt>
					<dd><cite>せっかち伯爵と時間どろぼう</cite>、<cite>スタジオパルプ</cite>、<cite>かくしごと</cite>、<cite>なんくる姉さん</cite>、<cite>シブヤニアファミリー</cite></dd>
				</div>
			</ListDescription>
		</li>
	</ListNote>

	<Section id="kaizo-omake">
		<Fragment slot="heading">『<cite>かってに改蔵</cite>』巻末おまけ</Fragment>

		<p>『<cite>かってに改蔵</cite>』の巻末おまけコンテンツは巻によって電子書籍への収録有無が異なります。</p>

		<Table>
			<thead>
				<tr>
					<th scope="col">巻数</th>
					<th scope="col">内容</th>
					<th scope="col">掲載場所</th>
					<th scope="col">電子書籍収録</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>2巻</td>
					<td>南スポ　1999年第1号</td>
					<td>4話と5話の間</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220754/">新装版1巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>3巻</td>
					<td>とらうまウォーカー</td>
					<td>本編の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220762/">新装版2巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>4巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>5巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>6巻</td>
					<td>とらうまウォーカー編集部からのおねがい</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="cross">なし</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>7巻</td>
					<td>KDD 通話明細書</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="cross">なし</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220789/">新装版4巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>8巻</td>
					<td>めがねっ娘萌え萌え団!!結果発表</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="cross">なし</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>9巻</td>
					<td>ラピード久米田の編集後記</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220797/">新装版5巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>10巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>11巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>12巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>13巻</td>
					<td>かってに改蔵ミニ外伝</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220843/">新装版7巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>14巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>15巻</td>
					<td>BP（万乗パンツ）の穴</td>
					<td>読者投稿の途中</td>
					<td class="u-cell -center"><TickAndCross type="cross">なし</TickAndCross></td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4091220851/">新装版8巻</Anchor>にも収録</td>
				</tr>
				<tr>
					<td>16巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>17巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>18巻</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td class="u-cell -center">―</td>
					<td></td>
				</tr>
				<tr>
					<td>19巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>20巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>21巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>22巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>23巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>24巻</td>
					<td>作者&amp;童女のちょっといい話、今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>25巻</td>
					<td>今巻の反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
				<tr>
					<td>26巻</td>
					<td>大反省文</td>
					<td>読者投稿の次</td>
					<td class="u-cell -center"><TickAndCross type="tick">あり</TickAndCross></td>
					<td></td>
				</tr>
			</tbody>
		</Table>
	</Section>
</Layout>
