<!DOCTYPE html>
<html lang="ja" itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<title>久米田康治先生のインタビュー</title>

		<meta itemprop="dateModified" content="2022-07-20" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">インタビュー</h1>
						<%- include('./_include/_contents_header_date') %>
					</div>

					<div class="p-description" itemprop="description">
						<p>久米田先生によるインタビューや対談、コメントなどが掲載された事例を紹介します。</p>
						<p>なお、ラジオやテレビ等での出演例は<a href="/kumeta/kumeta/media">メディア出演</a>のページでまとめています。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link">
						<div class="p-section__hdg">
							<h2>書籍</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">書名</th>
									<th scope="col">Amazon</th>
									<th scope="col" aria-sort="ascending">発売日</th>
									<th scope="col">インタビュアー</th>
									<th scope="col">掲載ページ</th>
									<th scope="col">内容</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>週刊少年サンデー 1996年45号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">1996年10月9日</span></td>
									<td></td>
									<td>pp.452–453</td>
									<td>「投稿コミックショー」で『太陽の戦士ポカポカ』に関するインタビュー</td>
								</tr>
								<tr>
									<td>週刊少年サンデー 1998年29号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">1998年6月17日</span></td>
									<td></td>
									<td>pp.304–305</td>
									<td>「突撃!!プロテク研究所」第56回<span class="u-small">（漫画形式による仕事場訪問記）</span></td>
								</tr>
								<tr>
									<td>週刊少年サンデー 1998年30号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">1998年6月24日</span></td>
									<td></td>
									<td>pp.360–361</td>
									<td>「突撃!!プロテク研究所」第57回<span class="u-small">（漫画形式による仕事場訪問記）</span></td>
								</tr>
								<tr>
									<td>週刊少年サンデー 1998年31号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">1998年7月1日</span></td>
									<td></td>
									<td>pp.358–359</td>
									<td>「突撃!!プロテク研究所」第58回<span class="u-small">（漫画形式による仕事場訪問記）</span></td>
								</tr>
								<tr>
									<td>コミッカーズ 1998年8月号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">1998年7月</span></td>
									<td class="u-cell -center">―</td>
									<td>p.20</td>
									<td>Macintosh での着彩に関するコメント<span class="u-small">（『太陽の戦士ポカポカ』単行本カバーイラスト掲載）</span></td>
								</tr>
								<tr>
									<td>コミック・ファン 2000年8号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2000年3月15日</span></td>
									<td>福井健太</td>
									<td>pp.76–79</td>
									<td>『かってに改蔵』のネタ出しなどの話題</td>
								</tr>
								<tr>
									<td>ガンダムグッズエース</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00X65OCO6/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/21nkU7WtY+L._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2003年7月15日</span></td>
									<td></td>
									<td>p.6</td>
									<td>『機動戦士ガンダム』に関する話題、描き下ろしイラスト掲載</td>
								</tr>
								<tr>
									<td>かってに研究しやがれBOOK</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091795013/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51QJ2jJ+e+L._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2003年12月18日</span></td>
									<td></td>
									<td>pp.113–121</td>
									<td>『かってに改蔵』公式ファンブックでのインタビュー</td>
								</tr>
								<tr>
									<td>サイゾー 2004年3月号</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2004年2月18日</span></td>
									<td class="u-cell -center">―</td>
									<td>p.73</td>
									<td>電話インタビューでキレる</td>
								</tr>
								<tr>
									<td>創 2006年6月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000FGGHB0/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51J3KT7VE6L._SL80_.jpg" alt="Amazon 商品ページ" width="55" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2006年5月6日</span></td>
									<td></td>
									<td>pp.34–49</td>
									<td>『鋼の錬金術師』荒川弘との対談</td>
								</tr>
								<tr>
									<td>ぱふ 2006年9月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000GYI6Z6/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61WJ7WRHMNL._SL80_.jpg" alt="Amazon 商品ページ" width="58" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2006年7月29日</span></td>
									<td>渡辺僚一</td>
									<td>pp.44–47</td>
									<td>『さよなら絶望先生』特集</td>
								</tr>
								<tr>
									<td>季刊エス 18号（2007年春号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000NQRURM/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61AGdzNgJiL._SL80_.jpg" alt="Amazon 商品ページ" width="59" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2007年3月15日</span></td>
									<td></td>
									<td>pp.62–67</td>
									<td>『さよなら絶望先生』特集<span class="u-small">（奈美がヒロインの初期設定イラスト&amp;ネーム掲載）</span></td>
								</tr>
								<tr>
									<td>ぱふ 2007年10月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000VAMIIQ/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/610c3-BehsL._SL80_.jpg" alt="Amazon 商品ページ" width="59" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2007年8月30日</span></td>
									<td></td>
									<td>pp.30–33</td>
									<td>講談社漫画賞受賞を受けてのインタビュー<span class="u-small">（生前葬の話など）</span></td>
								</tr>
								<tr>
									<td>季刊エス 20号（2007年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000V7NVKS/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61V3YdREKyL._SL80_.jpg" alt="Amazon 商品ページ" width="57" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2007年9月15日</span></td>
									<td></td>
									<td>pp.80–84</td>
									<td>『さよなら絶望先生』特集<span class="u-small">（単行本扉絵の下絵などが掲載）</span></td>
								</tr>
								<tr>
									<td>オトナアニメ Vol.6</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/486248199X/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/616sjjnYQ2L._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2007年10月6日</span></td>
									<td>多根清史</td>
									<td>pp.108–115</td>
									<td>アニメ『さよなら絶望先生』特集</td>
								</tr>
								<tr>
									<td>アニメージュ 2008年2月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B0011FDA3W/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51t6VYjLfzL._SL80_.jpg" alt="Amazon 商品ページ" width="58" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年1月10日</span></td>
									<td></td>
									<td>pp.64–65</td>
									<td>アニメ『【俗・】さよなら絶望先生』特集<span class="u-small">（“アヌメージョ”の話など）</span></td>
								</tr>
								<tr>
									<td>アニメージュ 2008年4月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B0014BLJPO/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61PQEDYEQsL._SL80_.jpg" alt="Amazon 商品ページ" width="58" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年3月10日</span></td>
									<td></td>
									<td>pp.54–55</td>
									<td>アニメ『【俗・】さよなら絶望先生』特集、シリーズ構成の小黒祐一郎との対談</td>
								</tr>
								<tr>
									<td>季刊エス 22号（2008年春号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B001524ZRQ/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/610mWo0VtYL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年3月15日</span></td>
									<td></td>
									<td>pp.64–71</td>
									<td>アニメ『【俗・】さよなら絶望先生』特集、久米田康治×新房昭之×龍輪直征×宮本幸裕の座談会</td>
								</tr>
								<tr>
									<td>このマンガがすごい! SIDE-B</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4796664653/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61G67N8BRbL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年8月7日</span></td>
									<td>前田久</td>
									<td>pp.27–37</td>
									<td>『さよなら絶望先生』特集<span class="u-small">（インタビュー自体は持ち込みから『南国』『改蔵』の話まで多岐にわたる）</span></td>
								</tr>
								<tr>
									<td>Frontier 2008年9月号（台湾）</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2008年</span></td>
									<td></td>
									<td>pp.56–57</td>
									<td>トークショー&amp;サイン会で台湾を訪れた際のインタビュー</td>
								</tr>
								<tr>
									<td>hon-nin Vol.08</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4778311450/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51G+Ydq42OL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年9月9日</span></td>
									<td class="u-cell -center">―</td>
									<td>pp.56–58</td>
									<td>「コラム・大至急本人を!」に寄稿<span class="u-small">（日常生活で偽名を使っている話）</span></td>
								</tr>
								<tr>
									<td>季刊エス 28号（2009年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B002LTQFIO/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61xvZrKD7VL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2009年9月15日</span></td>
									<td></td>
									<td>pp.48–53</td>
									<td>アニメ『【懺・】さよなら絶望先生』特集、新房昭之監督との対談<span class="u-small">（「ネガティ部」のキャラクターデザインなどが掲載）</span></td>
								</tr>
								<tr>
									<td>オトナアニメ Vol.14</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4862484867/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51pu+K58rmL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2009年10月10日</span></td>
									<td>多根清史</td>
									<td>pp.61–65</td>
									<td>アニメ『【懺・】さよなら絶望先生』特集</td>
								</tr>
								<tr>
									<td>【懺・】さよなら絶望先生　絶望読本</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/406375801X/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51fBC6MLoQL._SL80_.jpg" alt="Amazon 商品ページ" width="53" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2009年12月17日</span></td>
									<td></td>
									<td>pp.130–139</td>
									<td>アニメ『【懺・】さよなら絶望先生』公式ファンブックでの新房昭之監督との対談</td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』1巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091220754/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/31sMkfmj8NL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年4月16日</span></td>
									<td></td>
									<td>pp.345–350</td>
									<td>「これからの人生――すっごく不安だよ篇」<span class="u-small">（描き下ろしの1ページ漫画掲載）</span></td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』2巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091220762/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51FoQO7EPbL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年4月16日</span></td>
									<td></td>
									<td>pp.345–350</td>
									<td>「これからも漫画界で生き残るために――野望篇」<span class="u-small">（描き下ろしの1ページ漫画掲載）</span></td>
								</tr>
								<tr>
									<td rowspan="2">別冊オトナアニメ　シャフト超全集!!</td>
									<td rowspan="2" class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4862485677/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61WaC9mX-9L._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td rowspan="2"><span class="htmlbuild-datetime">2010年6月10日</span></td>
									<td>多根清史</td>
									<td>pp.66–69</td>
									<td rowspan="2">アニメ『さよなら絶望先生』シリーズ特集<span class="u-small">（インタビュー内容は「オトナアニメ」Vol.6, Vol.14 の再録）</span></td>
								</tr>
								<tr>
									<td>多根清史</td>
									<td>pp.73–75</td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』6巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091220800/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51pJu1Yhu7L._SL80_.jpg" alt="Amazon 商品ページ" width="55" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年8月18日</span></td>
									<td></td>
									<td>pp.343–350</td>
									<td>「枠に囚われたい――どこかに俺の居場所があるよ篇」<span class="u-small">（描き下ろしの2ページ漫画掲載）</span></td>
								</tr>
								<tr>
									<td>ニュータイプ 2010年10月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B003ZZEWZQ/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/613gf73+8SL._SL80_.jpg" alt="Amazon 商品ページ" width="62" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年9月10日</span></td>
									<td></td>
									<td>p.137</td>
									<td>新房昭之監督の連載企画「新房昭之とおシゴトな仲間達」にゲストとして登場、監督の似顔絵イラスト掲載</td>
								</tr>
								<tr>
									<td>季刊エス 32号（2010年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00414ZH22/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61WNcvQqa7L._SL80_.jpg" alt="Amazon 商品ページ" width="61" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年9月15日</span></td>
									<td></td>
									<td>pp.44–52</td>
									<td>『新装版　かってに改蔵』特集<span class="u-small">（第1話ネームを含む連載当時の原画などが掲載）</span></td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』8巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091220851/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51nLoRGFzkL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2010年10月18日</span></td>
									<td></td>
									<td>pp.342–351</td>
									<td>「お悩み相談室」への回答</td>
								</tr>
								<tr>
									<td>別冊少年マガジン 2011年2月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B004GI13FS/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/6120TLYNhPL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年1月8日</span></td>
									<td></td>
									<td>pp.6–7</td>
									<td>「じょしらく問答」<span class="u-small">（ヤス先生と共に読者からの質問に答える企画）</span></td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』12巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091222293/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/512zbcsXFUL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年3月18日</span></td>
									<td></td>
									<td>pp.356–361</td>
									<td>前半は『改蔵』アニメ化第一報、後半は「お悩み相談室」への回答</td>
								</tr>
								<tr>
									<td>別冊オトナアニメ　コミック×アニメの最前線!!</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4862487068/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61P2MjuDitL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年3月24日</span></td>
									<td>多根清史</td>
									<td>pp.14–17</td>
									<td>アニメ『さよなら絶望先生』Blu-ray BOX 化 &amp;『かってに改蔵』OVA 化を記念した特集</td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』13巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091222307/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51HqeIiTeXL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年4月18日</span></td>
									<td></td>
									<td>pp.349–360</td>
									<td>「お悩み相談室」への回答</td>
								</tr>
								<tr>
									<td>さよなら絶望先生全書</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4902948087/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51mp2IGjYzL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年5月2日</span></td>
									<td>小黒祐一郎</td>
									<td>pp.286–295</td>
									<td>小黒祐一郎との対談</td>
								</tr>
								<tr>
									<td>季刊エス 35号（2011年夏号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B0052N4NNA/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61QJA7O8+IL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年6月15日</span></td>
									<td></td>
									<td>pp.58–63</td>
									<td>OVA『かってに改蔵』特集、久米田康治×新房昭之×龍輪直征×高山カツヒコの座談会</td>
								</tr>
								<tr>
									<td>新装版『かってに改蔵』14巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091222358/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51Ehugd2f8L._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年6月17日</span></td>
									<td></td>
									<td>pp.341–355</td>
									<td>あだち充との対談<span class="u-small">（描き下ろしの1ページイラスト掲載）</span></td>
								</tr>
								<tr>
									<td rowspan="2">かってに研究しやがれBOOK　完全版セット</td>
									<td rowspan="2" class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091791255/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51tHpg2lsqL._SL60_.jpg" alt="Amazon 商品ページ" width="60" height="41" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td rowspan="2"><span class="htmlbuild-datetime">2011年8月18日</span></td>
									<td></td>
									<td>復刻版<br />pp.113–121</td>
									<td>2003年発売のオリジナル版と同じ</td>
								</tr>
								<tr>
									<td></td>
									<td>追補版<br />pp.26–33</td>
									<td>インタビュー冒頭はこれまで住まわれた物件の話で、描き下ろしのショート漫画も掲載</td>
								</tr>
								<tr>
									<td>『じょしらく』参巻</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B009KYCNES/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51qqmBmKtEL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年10月7日</span></td>
									<td></td>
									<td>pp.124–125</td>
									<td>別冊少年マガジン 2011年2月号の再録<span class="u-small">（じょしらく問答）</span></td>
								</tr>
								<tr>
									<td>毎月久米田康治 Vol.1</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091076394/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61TQPgpup+L._SL80_.jpg" alt="Amazon 商品ページ" width="57" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2012年4月20日</span></td>
									<td></td>
									<td>pp.101–106</td>
									<td>新装版『かってに改蔵』1巻の再録<span class="u-small">（描き下ろし漫画は最後の1コマのみ収録、「取材後の雑感」は非収録）</span></td>
								</tr>
								<tr>
									<td>毎月久米田康治 Vol.2</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091076653/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/612DpNwUXgL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2012年5月18日</span></td>
									<td></td>
									<td>pp.121–126</td>
									<td>新装版『かってに改蔵』2巻の再録<span class="u-small">（描き下ろし漫画は非収録）</span></td>
								</tr>
								<tr>
									<td>毎月久米田康治 Vol.3</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091076734/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61gQ4ymGpSL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2012年6月15日</span></td>
									<td></td>
									<td>pp.131–136</td>
									<td>新装版『かってに改蔵』14巻（あだち充対談）の分割再録</td>
								</tr>
								<tr>
									<td>毎月久米田康治 Vol.4</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091077110/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61j3bP46XoL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2012年7月20日</span></td>
									<td></td>
									<td>pp.108–112</td>
									<td>新装版『かってに改蔵』14巻（あだち充対談）の分割再録</td>
								</tr>
								<tr>
									<td>季刊エス 40号（2012年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B009146KCS/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61BJsJyOL+L._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2012年9月15日</span></td>
									<td></td>
									<td>pp.42–45</td>
									<td>『さよなら絶望先生』連載完結記念<span class="u-small">（最終話のネームなどが掲載）</span></td>
								</tr>
								<tr>
									<td>有頂天家族公式読本</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/434402415X/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51PLRBOZGbL._SL80_.jpg" alt="Amazon 商品ページ" width="54" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2013年6月27日</span></td>
									<td></td>
									<td>pp.92–97</td>
									<td>『有頂天家族』森見登美彦との対談</td>
								</tr>
								<tr>
									<td>ダ・ヴィンチ 2013年8月号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00DGX14JY/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51mzihdSVQL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2013年7月5日</span></td>
									<td class="u-cell -center">―</td>
									<td>p.55</td>
									<td>『有頂天家族』森見登美彦インタビューの中でコメントを寄せる</td>
								</tr>
								<tr>
									<td>毎月あだち充 Vol.32</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/409119298X/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51kmwmx8+kL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2013年11月29日</span></td>
									<td>飯田一史</td>
									<td>pp.256–260</td>
									<td>「拝啓あだち充様」Vol.24 のゲスト、あだち作品の話</td>
								</tr>
								<tr>
									<td>毎月あだち充 Vol.33</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091193269/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/617EMW3Fz+L._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2013年12月27日</span></td>
									<td>飯田一史</td>
									<td>pp.266–270</td>
									<td>前号に引き続き「拝啓あだち充様」Vol.25 のゲスト、あだち充向けの色紙イラスト掲載</td>
								</tr>
								<tr>
									<td>マガジンSPECIAL 2014年3号</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00I8S17T4/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61TECKAdzHL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2014年2月20日</span></td>
									<td>野中コウ</td>
									<td>pp.85–89</td>
									<td>「まんがたり!」第7回<span class="u-small">（漫画形式による取材記）</span></td>
								</tr>
								<tr>
									<td>季刊エス 46号（2014年春号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00I9H1X16/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61LTQnPbgHL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2014年3月15日</span></td>
									<td></td>
									<td>pp.62–67</td>
									<td>『せっかち伯爵と時間どろぼう』特集<span class="u-small">（初期キャラクターデザイン、第1話ネームなどが掲載）</span></td>
								</tr>
								<tr>
									<td>少年サンデー '90セレクション　前期</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4091197620/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61daM9GirgL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2015年4月24日</span></td>
									<td></td>
									<td>pp.429–438</td>
									<td>「超特別企画　'90年代作家同窓会【前編】」久米田康治×皆川亮二×七月鏡一×藤原芳秀×村枝賢一×河合克敏×藤田和日郎の座談会</td>
								</tr>
								<tr>
									<td>Febri Vol.29（2015年7月号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00YAC8OP2/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61V++H3OJHL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2015年6月17日</span></td>
									<td>宮昌太朗</td>
									<td>pp.137–140</td>
									<td>『行け!!南国アイスホッケー部』から『せっかち伯爵と時間どろぼう』まで全連載作品の振り返り</td>
								</tr>
								<tr>
									<td>少年サンデー '90セレクション　後期</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2015年7月31日</span></td>
									<td></td>
									<td>pp.521–530</td>
									<td>「超特別企画　'90年代作家同窓会【後編】」久米田康治×皆川亮二×七月鏡一×藤原芳秀×村枝賢一×河合克敏×藤田和日郎の座談会</td>
								</tr>
								<tr>
									<td>悔画展</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/406364992X/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51m9Oqxw9kL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2016年6月30日</span></td>
									<td>（担当編集）</td>
									<td></td>
									<td>久米田康治画集</td>
								</tr>
								<tr>
									<td>季刊エス 55号（2016年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B01J4AC48C/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/61SVy-s5CmL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2016年9月15日</span></td>
									<td></td>
									<td>pp.74–79</td>
									<td>『かくしごと』特集<span class="u-small">（後藤親子のプロトタイプデザインや予告編の下描きなどが掲載）</span></td>
								</tr>
								<tr>
									<td>マンガ好きのためのマンガ家インタビュー集</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4758015414/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51Vd17YVAyL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2017年7月1日</span></td>
									<td>宮昌太朗</td>
									<td>pp.226–239</td>
									<td>Febri Vol.29 の再録</td>
								</tr>
								<tr>
									<td rowspan="4">新房昭之×シャフト　クロニクル</td>
									<td rowspan="4" class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/4835457013/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/510waYsj0oL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td rowspan="4"><span class="htmlbuild-datetime">2019年11月23日</span></td>
									<td></td>
									<td>pp.23–26</td>
									<td>季刊エス 20号の再録<span class="u-small">（さよなら絶望先生）</span></td>
								</tr>
								<tr>
									<td></td>
									<td>pp.27–36</td>
									<td>季刊エス 22号の再録<span class="u-small">（アニメ【俗・】さよなら絶望先生）</span></td>
								</tr>
								<tr>
									<td></td>
									<td>pp.65–74</td>
									<td>季刊エス 28号の再録<span class="u-small">（アニメ【懺・】さよなら絶望先生）</span></td>
								</tr>
								<tr>
									<td></td>
									<td>pp.141–150</td>
									<td>季刊エス 35号の再録<span class="u-small">（OVA かってに改蔵）</span></td>
								</tr>
								<tr>
									<td>季刊エス 71号（2020年秋号）</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B08FS9TR6T/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51ThdlLzcGL._SL80_.jpg" alt="Amazon 商品ページ" width="61" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2020年9月15日</span></td>
									<td></td>
									<td>pp.68–77</td>
									<td>『かくしごと』完結記念<span class="u-small">（最終話下描きや終盤プロットなどが掲載）</span></td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link">
						<div class="p-section__hdg">
							<h2>Web</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">サイト名</th>
									<th scope="col">タイトル</th>
									<th scope="col" aria-sort="ascending">掲載日</th>
									<th scope="col">インタビュアー</th>
									<th scope="col">内容</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>コミックナタリー</td>
									<td><a href="https://natalie.mu/comic/pp/joshiraku">TVアニメ「じょしらく」 原作担当・久米田康治インタビュー</a></td>
									<td><span class="htmlbuild-datetime">2012年7月4日</span></td>
									<td>井上潤哉</td>
									<td>『じょしらく』アニメ化に際してのインタビュー</td>
								</tr>
								<tr>
									<td>ワコムタブレットサイト</td>
									<td><a href="https://tablet.wacom.co.jp/article/creative-case-studymanga-kumeta">CREATIVE CASE STUDY/MANGA 久米田康治</a></td>
									<td><span class="htmlbuild-datetime">2014年4月13日</span></td>
									<td class="u-cell -center">―</td>
									<td>『せっかち伯爵と時間どろぼう』の執筆に使用している液晶ペンタブレットの感想</td>
								</tr>
								<tr>
									<td>講談社コミックプラス</td>
									<td><a href="https://news.kodansha.co.jp/20160415_c01">【正直やる気なかった？】『さよなら絶望先生』の久米田康治、最新作裏話</a></td>
									<td><span class="htmlbuild-datetime">2016年4月15日</span></td>
									<td></td>
									<td>『かくしごと』に関する話題</td>
								</tr>
								<tr>
									<td>コミックナタリー</td>
									<td><a href="https://natalie.mu/comic/pp/kumetakoji">久米田康治、画業26年目インタビュー</a></td>
									<td><span class="htmlbuild-datetime">2016年6月30日</span></td>
									<td>小林聖</td>
									<td>画集「悔画展」、およびこれまでの主要連載作品の振り返り</td>
								</tr>
								<tr>
									<td>アニメイトタイムズ</td>
									<td><a href="https://www.animatetimes.com/news/details.php?id=1592300639">春アニメ『かくしごと』原作者・久米田康治インタビュー</a></td>
									<td><span class="htmlbuild-datetime">2020年6月18日</span></td>
									<td>喜多嶋さえ</td>
									<td>『かくしごと』の原作とアニメ化、自身のメディア出演に関する話題</td>
								</tr>
								<tr>
									<td>ニコニコニュース　オリジナル</td>
									<td><a href="https://originalnews.nico/274028">「絶望先生」作者にとって最終回は“供養”である。「かってに改蔵」から最新作「かくしごと」まで、マンガ家・久米田康治が語る“終盤の急展開”に込めた想い</a></td>
									<td><span class="htmlbuild-datetime">2020年12月1日</span></td>
									<td>金沢俊吾</td>
									<td>『かってに改蔵』『さよなら絶望先生』『かくしごと』の最終回や作品の畳み方に関する話題</td>
								</tr>
								<tr>
									<td>ソニーミュージック</td>
									<td><a href="https://www.sonymusic.co.jp/artist/EiichiOhtaki/info/526013">『ロンバケ』発売40周年記念!! あのジャケット・アートワークとの夢のコラボ・ポスター企画第2弾は、漫画家・久米田康治氏とのコラボレーションが実現!!</a></td>
									<td><span class="htmlbuild-datetime">2021年1月21日</span></td>
									<td class="u-cell -center">―</td>
									<td>「A LONG VACATION」に関するコメント寄稿</td>
								</tr>
								<tr>
									<td>SUUMO</td>
									<td><a href="https://hikkoshi.suumo.jp/oyakudachi/10944.html">&quot;変わった物件&quot;を好む漫画家・久米田康治さんの引越し遍歴</a></td>
									<td><span class="htmlbuild-datetime">2022年7月15日</span></td>
									<td>前田久</td>
									<td>これまで住まわれてきた物件に関する話題</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link">
						<div class="p-section__hdg">
							<h2>新聞</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">誌名</th>
									<th scope="col" aria-sort="ascending">発行日</th>
									<th scope="col">掲載面</th>
									<th scope="col">内容</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>アニカン Vol.43 2007年10月号A</td>
									<td><span class="htmlbuild-datetime">2007年9月21日</span></td>
									<td>1, 4–5面</td>
									<td>アニメ『さよなら絶望先生』特集、神谷浩史との対談</td>
								</tr>
								<tr>
									<td>読売新聞　2021年4月19日　夕刊</td>
									<td><span class="htmlbuild-datetime">2021年4月19日</span></td>
									<td>3面</td>
									<td>「作家100人　コロナ禍切り取る」 Day to Day 企画に関するコメント寄稿</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link">
						<div class="p-section__hdg">
							<h2>冊子</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">名称</th>
									<th scope="col">Amazon</th>
									<th scope="col" aria-sort="ascending">発行日</th>
									<th scope="col">掲載ページ</th>
									<th scope="col">内容</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>アニメ『さよなら絶望先生　序〜絶望少女撰集〜』DVD ブックレット</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B000VR5WWS/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/515Tla3HyZL._SL80_.jpg" alt="Amazon 商品ページ" width="59" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年1月1日</span></td>
									<td></td>
									<td>新房昭之監督と共にミニインタビューが掲載</td>
								</tr>
								<tr>
									<td>舞台『49日後…』パンフレット</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00GGL5OY4/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/71xnxrA3bQL._SL60_.jpg" alt="Amazon 商品ページ" width="60" height="45" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2008年4月12日</span></td>
									<td>pp.34–35</td>
									<td>生前葬に関するインタビュー、描き下ろしイラスト掲載</td>
								</tr>
								<tr>
									<td>OVA『かってに改蔵』Blu-ray &amp; DVD 中巻　ブックレット</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B004MTV5B8/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51QUtAzxiPL._SL80_.jpg" alt="Amazon 商品ページ" width="56" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2011年8月10日</span></td>
									<td>pp.20–23</td>
									<td>前田くん同席によるインタビュー</td>
								</tr>
								<tr>
									<td>
										アニメ『じょしらく』小冊子<htmlbuild-footnote><a href="http://king-cr.jp/special/joshiraku/news/news02.html" class="htmlbuild-host">AKIHABARA ゲーマーズでの配布イベント</a>で配られたもの。</htmlbuild-footnote>
									</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2012年6月30日</span></td>
									<td></td>
									<td>ヤス先生や水島努監督、主要キャストと共にミニインタビューが掲載</td>
								</tr>
								<tr>
									<td>アニメ『じょしらく』Blu-ray &amp; DVD 五巻　ブックレット</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B008HTLJVK/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/51jzkgvOvhL._SL80_.jpg" alt="Amazon 商品ページ" width="60" height="80" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2013年2月27日</span></td>
									<td></td>
									<td>ヤス先生と共にミニインタビューが掲載</td>
								</tr>
								<tr>
									<td>アニメ『じょしらく』Blu-ray BOX ブックレット</td>
									<td class="u-cell -center">
										<div class="p-embed-link">
											<a href="https://www.amazon.co.jp/dp/B00XUAE19S/" class="htmlbuild-amazon-associate">
												<img src="https://m.media-amazon.com/images/I/81b9bbiUnQL._SL60_.jpg" alt="Amazon 商品ページ" width="60" height="40" class="htmlbuild-image-amazon" />
											</a>
										</div>
									</td>
									<td><span class="htmlbuild-datetime">2015年8月12日</span></td>
									<td>p.28</td>
									<td>Blu-ray &amp; DVD 五巻ブックレットの再録</td>
								</tr>
								<tr>
									<td>TV アニメ『かくしごと』スペシャルイベント 〜こんなイベントやって姫にバレたらどーする!〜　パンフレット</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2020年12月12日</span></td>
									<td>p.5</td>
									<td>主に TV アニメ『かくしごと』に関するQ&amp;A<span class="u-small">（別のページに描き下ろしイラスト掲載）</span></td>
								</tr>
								<tr>
									<td>『劇場編集版かくしごと ―ひめごとはなんですか―』パンフレット</td>
									<td></td>
									<td><span class="htmlbuild-datetime">2021年6月26日</span></td>
									<td></td>
									<td>神谷浩史との対談</td>
								</tr>
							</tbody>
						</table>
					</section>

					<htmlbuild-footnotes></htmlbuild-footnotes>
				</main>
				<div class="l-content__footer"><%- include('./_include/_contents_footer_source') %></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
