---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '魔法少女まどか☆マギカ展',
	description: '2011年〜2014年に行われた「魔法少女まどか☆マギカ展」の開催情報をまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'ホーム' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger} id="event" heading="魔法少女まどか☆マギカ展">
		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">期間</th>
					<th scope="col">場所</th>
					<th scope="col">紹介サイト</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">池袋</th>
					<td>2011年12月27日(火)〜12月31日(土)</td>
					<td>サンシャインシティ 文化会館2階 Dホール</td>
					<td>
						<ul>
							<li><a href="https://web.archive.org/web/20120108065131/http://www.mpsinc.co.jp/madoka-magica-event/outline/tokyo.html">公式ページ</a></li>
							<li><a href="http://ascii.jp/elem/000/000/659/659217/">ASCII.jp</a></li>
							<li><a href="http://aug333.blog75.fc2.com/blog-entry-476.html">ちょっと気になっただけです。</a></li>
							<li><a href="http://aterahira.seesaa.net/article/243273673.html">あてらひら♪</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">大阪</th>
					<td>2012年2月10日(金)〜12日(日)</td>
					<td>ATCホール</td>
					<td>
						<ul>
							<li><a href="https://web.archive.org/web/20120210011039/http://www.mpsinc.co.jp/madoka-magica-event/outline/osaka.html">公式ページ</a></li>
							<li><a href="http://mixi.jp/list_diary.pl?id=10127183&year=2012&month=2&day=15">からあげ＠くらげーさんの日記</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">名古屋</th>
					<td>2012年3月20日(火・祝)〜25日(日)</td>
					<td>吹上ホール</td>
					<td>
						<ul>
							<li><a href="https://web.archive.org/web/20120320100523/http://www.mpsinc.co.jp/madoka-magica-event/outline/nagoya.html">公式ページ</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">広島</th>
					<td>2013年3月30日(土)〜31日(日)</td>
					<td>広島アニプリズム</td>
					<td>
						<ul>
							<li>
								<a href="https://web.archive.org/web/20130314012956/http://www.mpsinc.co.jp/madoka-magica-event/outline/hiroshima.html">公式ページ</a>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</Section>

	<Section slugger={slugger} id="event-shinpen" heading="劇場版　魔法少女まどか☆マギカ展（新編）">
		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">地域</th>
					<th scope="col" aria-sort="ascending">期間</th>
					<th scope="col">場所</th>
					<th scope="col">紹介サイト</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">池袋</th>
					<td>2014年5月3日(土)〜6日(火・祝)</td>
					<td>池袋サンシャインシティ ワールドインポートマート4階 展示ホールA</td>
					<td>
						<ul>
							<li><a href="https://blog.w0s.jp/349">富永日記帳</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">大阪</th>
					<td>2014年5月17日(土)〜18日(日)</td>
					<td>ATCホール（大阪南港）</td>
					<td>
						<ul>
							<li><a href="https://web.archive.org/web/20140728145340/http://www.mpsinc.co.jp/madoka-magica-event/outline/osaka.html">公式ページ</a></li>
							<li><a href="http://mixi.jp/list_diary.pl?id=10127183&year=2014&month=6&day=19">からあげ＠くらげーさんの日記</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">新潟</th>
					<td>2014年7月26日(土)〜8月10日(日)</td>
					<td>新潟市マンガ・アニメ情報館</td>
					<td>
						<ul>
							<li>
								<a href="https://web.archive.org/web/20140728063742/http://www.mpsinc.co.jp/madoka-magica-event/outline/niigata.html">公式ページ</a>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">名古屋</th>
					<td>2014年9月27日(土)〜9月28日(日)</td>
					<td>名古屋市国際展示場 ポートメッセなごや 第1展示場</td>
					<td>
						<ul>
							<li><a href="https://www.mpsinc.co.jp/madoka-magica-event/outline/nagoya.html">公式ページ</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</Section>
</Layout>
