<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>東急目黒線　3000系（2006年時点）の設定器配列</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/set/">東急電車の設定器配列</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">目黒線　3000系<span class="p-title__sub-hdg">（2006年時点）</span></h1>
					</div>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2006年時点</p>
						</div>

						<div class="p-tokyu-set__panel -push">
							<div class="p-tokyu-set__image">
								<object data="/tokyu/set/image/3000_meguro_2006.svg" type="image/svg+xml" width="720" height="543" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
									<div id="set-image-alt1">
										<section>
											<h2>行先駅設定（代表駅）</h2>
											<table>
												<tbody>
													<tr>
														<td>渋谷</td>
														<td>目黒</td>
														<td>赤羽岩淵</td>
														<td>西高島平</td>
													</tr>
													<tr>
														<td>元住吉</td>
														<td>大岡山</td>
														<td>王子神谷</td>
														<td>高島平</td>
													</tr>
													<tr>
														<td>菊名</td>
														<td>奥沢</td>
														<td>麻布十番</td>
														<td>御成門</td>
													</tr>
													<tr>
														<td>桜木町</td>
														<td>武蔵小杉</td>
														<td>白金高輪</td>
														<td>鳩ヶ谷</td>
													</tr>
													<tr>
														<td></td>
														<td>日吉</td>
														<td>東川口</td>
														<td>浦和美園</td>
													</tr>
												</tbody>
											</table>
										</section>
										<p>項目キーをタッチして下さい。全項目設定完了後、設定キータッチして下さい。</p>
									</div>
								</object>
							</div>
						</div>
					</div>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
