<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"template": {
					"name": "tokyu",
					"toc": false
				},
				"title": "設定器配列　東急東横線　9000系（2004年〜2013年）",
				"heading": "東横線　9000系",
				"subHeading": "2004年〜2013年",
				"dateModified": "2006-01-01",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/set/", "name": "設定器配列" }
				],
				"localNav": [
					{ "path": "/tokyu/set/9000_toyoko_2001", "name": "2001年暫定" },
					{ "path": "/tokyu/set/9000_toyoko_2004", "name": "2004年〜2013年" }
				]
			}
		</script>
	</head>
	<body>
		<main>
			<div class="l-tokyu-set">
				<div class="l-tokyu-set__header">
					<p class="p-tokyu-set-period">2004年<!-- 1月 -->の桜木町廃止から、2013年の東横線撤退まで</p>
				</div>
				<div class="l-tokyu-set__main">
					<div class="p-tokyu-set-panel -push">
						<object data="/tokyu/set/image/9000_toyoko_2004.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
							<div id="set-image-alt1">
								<section>
									<h2>始発駅</h2>
									<table>
										<tbody>
											<tr>
												<td>渋谷</td>
												<td>元町・中華街</td>
												<td>元住吉</td>
												<td>日吉</td>
												<td>菊名</td>
												<td></td>
											</tr>
											<tr>
												<td>武蔵小杉</td>
												<td>横浜</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</section>

								<section>
									<h2>種別</h2>
									<table>
										<tbody>
											<tr>
												<td>各停</td>
												<td>急行</td>
												<td>快速</td>
												<td>試運転</td>
												<td>回送</td>
												<td></td>
												<td>通勤特急</td>
												<td>特急</td>
											</tr>
										</tbody>
									</table>
								</section>

								<section>
									<h2>行先</h2>
									<table>
										<tbody>
											<tr>
												<td>渋谷</td>
												<td>元町・中華街</td>
												<td>元住吉</td>
												<td>日吉</td>
												<td>菊名</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>武蔵小杉</td>
												<td></td>
												<td>横浜</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td>臨時</td>
											</tr>
										</tbody>
									</table>
								</section>
							</div>
						</object>
					</div>
				</div>
				<div class="l-tokyu-set__footer">
					<dl class="p-tokyu-set-data">
						<div>
							<dt>調査日</dt>
							<dd><span class="htmlbuild-datetime">2006年1月1日</span></dd>
						</div>
						<div>
							<dt>調査車両</dt>
							<dd>クハ9013</dd>
						</div>
					</dl>
				</div>
			</div>

			<ul class="p-notes">
				<li>2007年より機器更新が順次行われて、行先の武蔵小杉と横浜の間に<q>大岡山</q>が追加されていた。</li>
			</ul>
		</main>
	</body>
</html>
