<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>養老鉄道　7700系（2019年～）の設定器配列</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/set/">東急電車の設定器配列</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">養老鉄道　7700系<span class="p-title__sub-hdg">（2019年～）</span></h1>
					</div>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-set">
						<div class="p-tokyu-set__period">
							<p>2019年<!-- 4月 -->の7700系導入から</p>
						</div>

						<div class="p-tokyu-set__panel -push">
							<object data="/tokyu/set/image/yoro_7700_2019.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set__image" role="img" aria-labelledby="set-image-alt1">
								<div id="set-image-alt1">
									<section>
										<h2>始発駅</h2>
										<table>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>種別</h2>
										<table>
											<tbody>
												<tr>
													<td>回送</td>
													<td>貸切</td>
													<td>試運転</td>
													<td>臨時</td>
													<td>薬膳</td>
													<td>初詣臨時</td>
													<td>ねこカフェ</td>
													<td>婚活</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>行先</h2>
										<table>
											<tbody>
												<tr>
													<td>揖斐</td>
													<td>大垣</td>
													<td>西大垣</td>
													<td>養老</td>
													<td>駒野</td>
													<td>石津</td>
													<td>美濃松山</td>
													<td>多度</td>
												</tr>
												<tr>
													<td>桑名</td>
													<td>塩浜</td>
													<td>急行 桑名</td>
													<td>急行 養老</td>
													<td>急行 大垣</td>
													<td>渋谷</td>
													<td>蒲田</td>
													<td>五反田</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td>養老鉄道</td>
													<td>白幕</td>
												</tr>
											</tbody>
										</table>
									</section>

									<section>
										<h2>メニュー放送</h2>
										<table>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</object>
						</div>
					</div>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
