<search role="search" aria-label="サイト">
	<form action="https://www.google.com/search" class="search">
		<fieldset>
			<legend class="legend">サイト内検索<small>（Google 検索）</small></legend>
			<div class="ctrl c-search">
				<span class="c-search__hidden">
					<input type="hidden" name="as_sitesearch" value="w0s.jp" />
				</span>
				<span class="c-search__query">
					<input type="search" name="q" required="" title="キーワード" />
				</span>
				<span class="c-search__submit">
					<button>
						<svg role="img" aria-labelledby="header-search-button">
							<title id="header-search-button">検索</title>
							<use href="/assets/image/icon/search.svg#icon"></use>
						</svg>
					</button>
				</span>
			</div>
		</fieldset>
	</form>
</search>

<style>
	.search {
	}

	.legend {
		font-size: calc(100% / pow(var(--font-ratio), 1));
		font-weight: var(--font-weight-bold);
	}

	.ctrl {
		margin-block-start: 0.1em;
	}
</style>
