---
import Layout from '@layouts/Tokyu.astro';
import LinkExternal from '@components/LinkExternal.astro';
import TopUpdate from '@components/TopUpdate.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車資料室',
	description: '目蒲デハ1形から東急(新)3000系までの車両を研究する個人サイト',
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} top={true}>
	<nav id="contents">
		<h2>サイトコンテンツ</h2>

		<ul class="p-top-nav-card">
			<li class="p-top-nav-card__box">
				<a href="/tokyu/data/">
					<div class="p-top-nav-card__title">車両データ</div>
					<p class="p-top-nav-card__description">車歴表、編成表などの車両関連データ</p>
				</a>
			</li>
			<li class="p-top-nav-card__box">
				<a href="/tokyu/sty/">
					<div class="p-top-nav-card__title">車両形態</div>
					<p class="p-top-nav-card__description">台車や床下・屋根上機器の写真など</p>
				</a>
			</li>
			<li class="p-top-nav-card__box">
				<a href="/tokyu/yomoyama/">
					<div class="p-top-nav-card__title">車両よもやま</div>
					<p class="p-top-nav-card__description">車両や車両機器の四方山話</p>
				</a>
			</li>
			<li class="p-top-nav-card__box">
				<a href="/tokyu/an/">
					<div class="p-top-nav-card__title">自動放送</div>
					<p class="p-top-nav-card__description">車内で流れる自動放送フレーズの紹介</p>
				</a>
			</li>
			<li class="p-top-nav-card__box">
				<a href="/tokyu/set/">
					<div class="p-top-nav-card__title">設定器</div>
					<p class="p-top-nav-card__description">行先設定器のボタン（ダイヤル）配列</p>
				</a>
			</li>
			<li class="p-top-nav-card__box">
				<a href="/tokyu/book/">
					<div class="p-top-nav-card__title">鉄道本執筆</div>
					<p class="p-top-nav-card__description">鉄道関係で執筆に関わった本の紹介と補足</p>
				</a>
			</li>
		</ul>
	</nav>

	<section class="p-top-update" id="update">
		<header class="p-top-update__header">
			<div class="p-top-update__hdg">
				<h2>更新履歴</h2>
			</div>

			<div class="p-top-update__notice">
				<a href="/tokyu/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">新着フィード</span>
				</a>
			</div>
		</header>
		<div class="p-top-update__main">
			<ul class="p-top-update-list">
				<TopUpdate date="2024-04-01">
					<p>サイト名を<cite>東急電車形態研究</cite>から<cite>東急電車資料室</cite>へ変更</p>
					<p>これまで車両機器をはじめとした形態分類を紹介するコンテンツが中心で、主に高性能車（旧5000系）以降をターゲットにしていましたが、近年は旧性能車も含めて形態に限らず調査対象を広く取る活動をしているため、今後サイト名が実態と乖離しないよう変更した次第です。</p>
				</TopUpdate>
				<TopUpdate date="2023-04-09">
					<p><a href="/tokyu/data/truck_300">東急300系　台車製造年一覧</a>のページを作成。</p>
				</TopUpdate>
				<TopUpdate date="2023-03-19">
					<p><a href="/tokyu/sty/aps">補助電源装置</a>の各ページを全面的に更新。</p>
					<p>なお、<LinkExternal href="https://web.archive.org/web/20160420003946/https://w0s.jp/tokyu/yomoyama/bs33">BS-33 型を紹介したページ</LinkExternal>は内容を統合のうえ廃止。</p>
				</TopUpdate>
				<TopUpdate date="2023-03-11">
					<p><a href="/tokyu/sty/truck_ts300#ts302-m">TS-302 型台車</a>の枕ばね、軸ばねに関する記述を追記。</p>
				</TopUpdate>
				<TopUpdate date="2023-02-22">
					<p><a href="/tokyu/sty/cp">空気圧縮機</a>のページにおいて、 3YS 型の大プーリーが冷却ファン機構を有していることを追記。</p>
				</TopUpdate>
			</ul>
		</div>
	</section>
</Layout>
