<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>同人誌</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">同人誌</h1>
					</div>

					<div class="p-description" itemprop="description">
						<p>発行した同人誌の紹介をします。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="c-section -hdg-a" id="pictorial">
						<div class="p-hdg">
							<h2>円環ピクトリアル</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial11" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial11_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial11_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial11_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial11_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial11_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">マギアレコード海外版動向</span></a
									>
									<div class="p-item__text">
										<p>マギレコ中国版、繁中版、北米版のゲーム概要、イベントレポート、街頭広告の掲出例などを紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial10" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial10_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial10_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial10_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial10_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial10_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">『劇場版 魔法少女まどか☆マギカ』韓国上映</span></a
									>
									<div class="p-item__text">
										<p>韓国で行われた劇場版上映の様子をまとめました。2012年と2013年に行われた特別上映会の写真掲載、2018年の[新編]全国公開レポートなど。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial9" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial9_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial9_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial9_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial9_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial9_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">美樹さやか駅ポスターめぐり</span></a
									>
									<div class="p-item__text">
										<p>首都圏をはじめ100か所を超える範囲に展開された、『マギアレコード』の美樹さやか駅ポスターの全容を写真で紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial8" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">まどか☆マギカ映像比較講義録</span></a
									>
									<div class="p-item__text">
										<p>大学で『魔法少女まどか☆マギカ』の映像比較について登壇した講義録です。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial7" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial7_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial7_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial7_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial7_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial7_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">TVシリーズ 放送版とパッケージ版の比較</span></a
									>
									<div class="p-item__text">
										<p>TVシリーズの放送版と Blu-ray / DVD 版の違いをまとめました。一部は放送時期による違い、Blu-ray版とDVD版の違いにも言及しています。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="pictorial6" class="p-item__link">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial6_cover.jpg?type=avif;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial6_cover.jpg?type=avif;w=320;h=320;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial6_cover.jpg?type=webp;w=160;h=160;quality=50, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial6_cover.jpg?type=webp;w=320;h=320;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial6_cover.jpg?type=jpeg;w=160;h=160;quality=50" alt="" width="114" height="160" class="p-item__image u-image-border" />
										</picture>
										<span class="p-item__title">[新編]叛逆の物語 上映版とパッケージ版の比較</span></a
									>
									<div class="p-item__text">
										<p>劇場上映版と Blu-ray / DVD 版の違いをまとめました。</p>
									</div>
								</div>
							</li>
						</ul>

						<table class="p-table" style="--component-interval-ratio: 3">
							<caption>
								在庫一覧<small>（<span class="htmlbuild-datetime">2021年1月2日</span>現在）</small>
							</caption>
							<thead>
								<tr>
									<th scope="col" rowspan="2">通巻</th>
									<th scope="col" rowspan="2">特集名</th>
									<th scope="col" rowspan="2">発行月</th>
									<th scope="col" colspan="2">冊子</th>
									<th scope="col" rowspan="2">電子書籍</th>
								</tr>
								<tr>
									<th scope="col">BOOTH</th>
									<th scope="col">国会図書館</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>No.11</td>
									<td><a href="pictorial11">マギアレコード海外版動向</a></td>
									<td><span class="htmlbuild-datetime">2019年8月</span></td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://w0s.booth.pm/items/2649174">取扱</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://id.ndl.go.jp/bib/030076781">収蔵</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://www.amazon.co.jp/dp/B07W4WBBBR/" class="htmlbuild-amazon-associate">Kindle</a></span>
									</td>
								</tr>
								<tr>
									<td>No.10</td>
									<td><a href="pictorial10">『劇場版 魔法少女まどか☆マギカ』韓国上映</a></td>
									<td><span class="htmlbuild-datetime">2018年8月</span></td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://w0s.booth.pm/items/2649161">取扱</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://id.ndl.go.jp/bib/029555895">収蔵</a></span>
									</td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
								</tr>
								<tr>
									<td>No.9</td>
									<td><a href="pictorial9">美樹さやか駅ポスターめぐり</a></td>
									<td><span class="htmlbuild-datetime">2018年8月</span></td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://w0s.booth.pm/items/2649148">取扱</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://id.ndl.go.jp/bib/029555890">収蔵</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://www.amazon.co.jp/dp/B07FBKBKBM/" class="htmlbuild-amazon-associate">Kindle</a></span>
									</td>
								</tr>
								<tr>
									<td>No.8</td>
									<td><a href="pictorial8">まどか☆マギカ映像比較講義録</a></td>
									<td><span class="htmlbuild-datetime">2017年12月</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
								</tr>
								<tr>
									<td>No.7</td>
									<td><a href="pictorial7">TVシリーズ 放送版とパッケージ版の比較</a></td>
									<td><span class="htmlbuild-datetime">2017年8月</span></td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://w0s.booth.pm/items/2649129">取扱</a></span>
									</td>
									<td class="u-cell -center">
										<span class="c-madoka-dojin-zaiko -stock"><a href="https://id.ndl.go.jp/bib/029555881">収蔵</a></span>
									</td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
								</tr>
								<tr>
									<td>No.6</td>
									<td><a href="pictorial6">[新編]叛逆の物語 上映版とパッケージ版の比較</a></td>
									<td><span class="htmlbuild-datetime">2016年12月</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
									<td class="u-cell -center"><span class="c-madoka-dojin-zaiko -none">なし</span></td>
								</tr>
							</tbody>
						</table>

						<ul class="p-note">
							<li>No.5 以前の旧作（コピー本）はいずれも再販ありません。</li>
						</ul>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
