<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>円環ピクトリアル No.8 【特集】まどか☆マギカ映像比較講義録</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/dojin/">同人誌</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">円環ピクトリアル No.8 <span class="p-title__sub-hdg">まどか☆マギカ映像比較講義録</span></h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="pictorial6" class="c-link">No.6 <span class="u-small">叛逆比較</span></a>
							</li>
							<li>
								<a href="pictorial7" class="c-link">No.7 <span class="u-small">TV比較</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">No.8 <span class="u-small">講義録</span></a>
							</li>
							<li>
								<a href="pictorial9" class="c-link">No.9 <span class="u-small">さやかポスター</span></a>
							</li>
							<li>
								<a href="pictorial10" class="c-link">No.10 <span class="u-small">韓国上映</span></a>
							</li>
							<li>
								<a href="pictorial11" class="c-link">No.11 <span class="u-small">マギレコ海外</span></a>
							</li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>大学で『魔法少女まどか☆マギカ』の映像比較について登壇した講義録です。</p>
						<p>前半はスライドを用いての解説、後半は担当教員との対談を行いましたが、その様子をテキストにまとめました。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#buy">購入</a></li>
						<li><a href="#toc">目次</a></li>
						<li><a href="#slide">スライド</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<div class="p-embed-sidebar -embed-first">
						<div class="p-embed-sidebar__text">
							<table class="p-table">
								<tbody>
									<tr>
										<th scope="row">発行日</th>
										<td><span class="htmlbuild-datetime">2017年12月30日</span></td>
									</tr>
									<tr>
										<th scope="row">ページ数</th>
										<td>表紙カラー、本文モノクロ 16ページ</td>
									</tr>
									<tr>
										<th scope="row">冊子価格</th>
										<td>600円</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="p-embed-sidebar__embed">
							<figure class="p-embed">
								<picture>
									<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=avif;w=240;h=240;quality=60, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=avif;w=480;h=480;quality=50 2x" />
									<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=webp;w=240;h=240;quality=60, https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=webp;w=480;h=480;quality=50 2x" />
									<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=jpeg;w=240;h=240;quality=60" alt="表紙画像: 教室のスクリーンにスライドを映しながらマイクを持って説明している写真" width="170" height="240" class="p-embed__image" />
								</picture>
							</figure>
						</div>
					</div>

					<section class="c-section -hdg-a" id="buy">
						<div class="p-hdg">
							<h2>購入</h2>
						</div>

						<ul class="p-note">
							<li><strong>冊子は完売しました。電子書籍の販売予定はありません。</strong></li>
						</ul>

						<div class="c-flex -buttons">
							<div class="c-flex__item">
								<a href="pdf/pictorial8_sample.pdf" type="application/pdf" class="c-button"><img src="/assets/image/icon/pdf.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">サンプル PDF</span></a>
							</div>
							<div class="c-flex__item">
								<a href="pdf/pictorial8/v1.0.1.pdf" type="application/pdf" rel="nofollow" class="c-button"
									><img src="/assets/image/icon/padlock.svg" alt="(認証)" width="16" height="16" class="c-button__icon" /><span class="c-button__text"
										>購入者向け PDF<small>（ver.1.0.1、<span class="htmlbuild-datetime">2018年4月10日</span>更新）</small></span
									></a
								>
								<ul class="p-note">
									<li>認証情報は奥付に記載</li>
								</ul>
							</div>
						</div>
					</section>

					<section class="c-section -hdg-a" id="toc">
						<div class="p-hdg">
							<h2>目次</h2>
						</div>

						<ol class="p-list">
							<li>挨拶</li>
							<li>自己紹介</li>
							<li>アジェンダ</li>
							<li>放送スケジュール（第1話）</li>
							<li>映像のアップデートとは</li>
							<li>差分総数</li>
							<li>バリエーション（簡易）</li>
							<li>視聴バリエーションアンケート</li>
							<li>バリエーション（詳細）</li>
							<li>アップデートの理由① ミスの修正</li>
							<li>アップデートの理由② クオリティアップ</li>
							<li>アップデートの理由③ 設定変更</li>
							<li>アップデートの理由④ 東日本大震災</li>
							<li>映像差分を調べる意義</li>
							<li>「TVシリーズ比較本」宣伝</li>
							<li>「映像と文学」に繋げる</li>
						</ol>
					</section>

					<section class="c-section -hdg-a" id="slide">
						<div class="p-hdg">
							<h2>スライド</h2>
						</div>

						<div class="p-text">
							<p>当日、講義で使用したスライドです。</p>
							<p><a href="https://slide.w0s.jp/20171128_madoka_compare/" class="c-link">まどか☆マギカ映像比較</a></p>
						</div>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="pictorial6" class="c-link">No.6 <span class="u-small">叛逆比較</span></a>
							</li>
							<li>
								<a href="pictorial7" class="c-link">No.7 <span class="u-small">TV比較</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">No.8 <span class="u-small">講義録</span></a>
							</li>
							<li>
								<a href="pictorial9" class="c-link">No.9 <span class="u-small">さやかポスター</span></a>
							</li>
							<li>
								<a href="pictorial10" class="c-link">No.10 <span class="u-small">韓国上映</span></a>
							</li>
							<li>
								<a href="pictorial11" class="c-link">No.11 <span class="u-small">マギレコ海外</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
