<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"template": {
					"name": "madoka"
				},
				"title": "『魔法少女まどか☆マギカ』同人誌「まどか☆マギカ映像比較講義録」",
				"heading": "円環ピクトリアル No.8",
				"subHeading": "【特集】まどか☆マギカ映像比較講義録",
				"dateModified": "2018-04-10",
				"description": "大学で『魔法少女まどか☆マギカ』の映像比較について登壇した講義録の同人誌の紹介です。",
				"image": "https://media.w0s.jp/image/madoka/dojin/pictorial8_cover.jpg",
				"breadcrumb": [{ "path": "/madoka/", "name": "ホーム" }],
				"localNav": [
					{ "path": "/madoka/dojin/pictorial6", "name": "No.6 叛逆比較" },
					{ "path": "/madoka/dojin/pictorial7", "name": "No.7 TV比較" },
					{ "path": "/madoka/dojin/pictorial8", "name": "No.8 講義録" },
					{ "path": "/madoka/dojin/pictorial9", "name": "No.9 さやかポスター" },
					{ "path": "/madoka/dojin/pictorial10", "name": "No.10 韓国上映" },
					{ "path": "/madoka/dojin/pictorial11", "name": "No.11 マギレコ海外" },
					{ "path": "/madoka/dojin/zaiko", "name": "在庫状況" }
				]
			}
		</script>
	</head>
	<body>
		<main>
			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="introduction">
				<div class="p-section__hdg">
					<h2>概要</h2>
				</div>

				<div class="p-text">
					<p>大学で『魔法少女まどか☆マギカ』の映像比較について登壇した講義録です。</p>
					<p>前半はスライドを用いての解説、後半は担当教員との対談を行いましたが、その様子をテキストにまとめました。</p>
				</div>

				<div class="p-embed-sidebar -embed-first">
					<div class="p-embed-sidebar__text">
						<dl class="p-list-table">
							<div>
								<dt>発行日</dt>
								<dd><span class="htmlbuild-datetime">2017年12月30日</span></dd>
							</div>
							<div>
								<dt>ページ数</dt>
								<dd>表紙カラー、本文モノクロ 16ページ</dd>
							</div>
							<div>
								<dt>冊子価格</dt>
								<dd>600円</dd>
							</div>
						</dl>
					</div>
					<div class="p-embed-sidebar__embed">
						<figure class="c-fit">
							<div class="p-embed -border">
								<img src="https://media.w0s.jp/thumbimage/madoka/dojin/pictorial8_cover.jpg?type=jpeg;w=240;h=240;quality=60" alt="表紙画像: 教室のスクリーンにスライドを映しながらマイクを持って説明している写真" width="170" height="240" class="htmlbuild-image" />
							</div>
						</figure>
					</div>
				</div>
			</section>

			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="buy">
				<div class="p-section__hdg">
					<h2>購入</h2>
				</div>

				<ul class="p-notes">
					<li><strong>冊子は完売しました。電子書籍の販売予定はありません。</strong></li>
				</ul>

				<div class="c-flex -buttons">
					<div class="c-flex__item">
						<a href="pdf/pictorial8_sample.pdf" type="application/pdf" class="c-button"><img src="/assets/image/icon/pdf.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">サンプル PDF</span></a>
					</div>
					<div class="c-flex__item">
						<a href="pdf/pictorial8/v1.0.1.pdf" type="application/pdf" rel="nofollow" class="c-button">
							<img src="/assets/image/icon/padlock.svg" alt="(認証)" width="16" height="16" class="c-button__icon" /><span class="c-button__text">
								購入者向け PDF<small>（ver.1.0.1、<span class="htmlbuild-datetime">2018年4月10日</span>更新）</small>
							</span>
						</a>
						<ul class="p-notes">
							<li>認証情報は奥付に記載</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="toc">
				<div class="p-section__hdg">
					<h2>目次</h2>
				</div>

				<ol class="p-list">
					<li>挨拶</li>
					<li>自己紹介</li>
					<li>アジェンダ</li>
					<li>放送スケジュール（第1話）</li>
					<li>映像のアップデートとは</li>
					<li>差分総数</li>
					<li>バリエーション（簡易）</li>
					<li>視聴バリエーションアンケート</li>
					<li>バリエーション（詳細）</li>
					<li>アップデートの理由① ミスの修正</li>
					<li>アップデートの理由② クオリティアップ</li>
					<li>アップデートの理由③ 設定変更</li>
					<li>アップデートの理由④ 東日本大震災</li>
					<li>映像差分を調べる意義</li>
					<li>「TVシリーズ比較本」宣伝</li>
					<li>「映像と文学」に繋げる</li>
				</ol>
			</section>

			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="slide">
				<div class="p-section__hdg">
					<h2>スライド</h2>
				</div>

				<div class="p-text">
					<p>当日、講義で使用したスライドです。</p>
					<p><a href="https://slide.w0s.jp/20171128_madoka_compare/" class="c-link">まどか☆マギカ映像比較</a></p>
				</div>
			</section>
		</main>
	</body>
</html>
