---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Embedded from '@components/Embedded.astro';
import Flex from '@components/Flex.astro';
import FlexItem from '@components/FlexItem.astro';
import Image from '@components/+phrasing/Image.astro';
import ListNote from '@components/ListNote.astro';
import ListOrder from '@components/ListOrder.astro';
import ListTable from '@components/ListTable.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『魔法少女まどか☆マギカ』同人誌「まどか☆マギカ映像比較講義録」',
	heading: '円環ピクトリアル No.8',
	subHeading: '【特集】まどか☆マギカ映像比較講義録',
	dateModified: dayjs('2018-04-10'),
	description: '大学で『魔法少女まどか☆マギカ』の映像比較について登壇した講義録の同人誌の紹介です。',
	image: 'https://media.w0s.jp/image/madoka/dojin/pictorial8_cover.jpg',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
	localNav: {
		label: '円環ピクトリアル',
		items: [
			{ path: '/madoka/dojin/pictorial6', name: 'No.6 叛逆比較' },
			{ path: '/madoka/dojin/pictorial7', name: 'No.7 TV比較' },
			{ path: '/madoka/dojin/pictorial8', name: 'No.8 講義録' },
			{ path: '/madoka/dojin/pictorial9', name: 'No.9 さやかポスター' },
			{ path: '/madoka/dojin/pictorial10', name: 'No.10 韓国上映' },
			{ path: '/madoka/dojin/pictorial11', name: 'No.11 マギレコ海外' },
			{ path: '/madoka/dojin/zaiko', name: '在庫状況' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<Fragment slot="heading">概要</Fragment>

		<p>大学で『<cite>魔法少女まどか☆マギカ</cite>』の映像比較について登壇した講義録です。</p>

		<p>前半はスライドを用いての解説、後半は担当教員との対談を行いましたが、その様子をテキストにまとめました。</p>

		<Flex>
			<FlexItem>
				<Embedded border={true}>
					<Image path="madoka/dojin/pictorial8_cover.jpg" alt="表紙画像: 教室のスクリーンにスライドを映しながらマイクを持って説明している写真" width={170} height={240} quality={60} slot="media" />
					<Fragment slot="caption">表紙</Fragment>
				</Embedded>
			</FlexItem>
			<FlexItem>
				<ListTable>
					<div>
						<dt>発行日</dt>
						<dd>2017年12月30日</dd>
					</div>
					<div>
						<dt>ページ数</dt>
						<dd>表紙カラー、本文モノクロ 16ページ</dd>
					</div>
					<div>
						<dt>冊子価格</dt>
						<dd>600円</dd>
					</div>
				</ListTable>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="buy">
		<Fragment slot="heading">購入</Fragment>

		<ListNote>
			<li><strong>冊子は完売しました。電子書籍の販売予定はありません。</strong></li>
		</ListNote>

		<Flex>
			<FlexItem>
				<a href="/madoka/dojin/pdf/pictorial8_sample.pdf" type="application/pdf" class="c-button"><img src="/assets/image/icon/pdf.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">サンプル PDF</span></a>
			</FlexItem>
			<FlexItem>
				<a href="/madoka/dojin/pdf/pictorial8/v1.0.1.pdf" type="application/pdf" rel="nofollow" class="c-button">
					<img src="/assets/image/icon/padlock.svg" alt="(認証)" width="16" height="16" class="c-button__icon" /><span class="c-button__text">
						購入者向け PDF<small>（ver.1.0.1、2018年4月10日更新）</small>
					</span>
				</a>
				<ListNote>
					<li>認証情報は奥付に記載</li>
				</ListNote>
			</FlexItem>
		</Flex>
	</Section>

	<Section id="toc">
		<Fragment slot="heading">目次</Fragment>

		<ListOrder>
			<li>挨拶</li>
			<li>自己紹介</li>
			<li>アジェンダ</li>
			<li>放送スケジュール（第1話）</li>
			<li>映像のアップデートとは</li>
			<li>差分総数</li>
			<li>バリエーション（簡易）</li>
			<li>視聴バリエーションアンケート</li>
			<li>バリエーション（詳細）</li>
			<li>アップデートの理由① ミスの修正</li>
			<li>アップデートの理由② クオリティアップ</li>
			<li>アップデートの理由③ 設定変更</li>
			<li>アップデートの理由④ 東日本大震災</li>
			<li>映像差分を調べる意義</li>
			<li>「TVシリーズ比較本」宣伝</li>
			<li>「映像と文学」に繋げる</li>
		</ListOrder>
	</Section>

	<Section id="slide">
		<Fragment slot="heading">スライド</Fragment>

		<p>当日、講義で使用したスライドです。</p>

		<p><Anchor href="https://slide.w0s.jp/20171128_madoka_compare/" bullet={true}>まどか☆マギカ映像比較</Anchor></p>
	</Section>
</Layout>
