<details class="p-toggle -fit" is="w0s-animation-details" data-duration="100">
	<summary>本ページ内容の改善提案</summary>
	<div class="p-toggle__contents">
		<ul class="p-list">
			<li>誤字訂正など軽微な修正は<a href="https://github.com/SaekiTominaga/w0s.jp/blob/main/<%= file %>" class="htmlbuild-host">ソースコード</a>を編集し、 Pull Request を送ってください。</li>
			<li>コンテンツやデータの追加提案など議論が必要なケースは <a href="https://github.com/SaekiTominaga/w0s.jp/issues/new?labels=contents" class="htmlbuild-host">Issue を立てる</a>こともできます。</li>
			<li>GitHub アカウントをお持ちでない方は<a href="/contact">問い合わせフォーム</a>や <a href="https://twitter.com/SaekiTominaga" class="htmlbuild-host">Twitter</a>でも受け付けます。</li>
		</ul>
	</div>
</details>
