<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (page.path === '/') { _%>
				<h1 class="p-header-site__name" itemprop="name"><a aria-current="page">w0s.jp</a></h1>
				<p class="p-header-site__summary" itemprop="description">富永冴樹の個人サイト</p>
				<%_ } else { _%>
				<p class="p-header-site__name"><a href="/">w0s.jp</a></p>
				<p class="p-header-site__summary">富永冴樹の個人サイト</p>
				<%_ } _%>
			</div>
		</div>
		<div class="l-header__nav">
			<search role="search">
				<form action="https://www.google.com/search" class="p-header-search">
					<fieldset>
						<legend class="p-header-search__legend">サイト内検索<small>（Google 検索）</small></legend>
						<div class="p-header-search__ctrl c-search">
							<span class="c-search__hidden">
								<input type="hidden" name="as_sitesearch" value="w0s.jp" />
							</span>
							<span class="c-search__query">
								<input type="search" name="q" required="" title="キーワード" />
							</span>
							<span class="c-search__submit">
								<button>
									<svg role="img" aria-labelledby="header-search-button">
										<title id="header-search-button">検索</title>
										<use href="/assets/image/icon/search.svg#icon"></use>
									</svg>
								</button>
							</span>
						</div>
					</fieldset>
				</form>
			</search>
		</div>
	</div>
</header>
