<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (page.path === '/madoka/') { _%>
				<h1 class="p-header-site__name" itemprop="name"><a aria-current="page">まどか資料館</a></h1>
				<p class="p-header-site__summary" itemprop="description">『魔法少女まどか☆マギカ』の各種データやイベントレポートを紹介するサイト</p>
				<%_ } else { _%>
				<p class="p-header-site__name"><a href="/madoka/">まどか資料館</a></p>
				<p class="p-header-site__summary">『魔法少女まどか☆マギカ』の各種データやイベントレポートを紹介するサイト</p>
				<%_ } _%>
			</div>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/madoka/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<search role="search">
				<form action="https://www.google.com/search" class="p-header-search">
					<fieldset>
						<legend class="p-header-search__legend">サイト内検索<small>（Google 検索）</small></legend>
						<div class="p-header-search__ctrl c-search">
							<span class="c-search__hidden">
								<input type="hidden" name="as_sitesearch" value="w0s.jp" />
							</span>
							<span class="c-search__query">
								<input type="search" name="q" required="" title="キーワード" />
							</span>
							<span class="c-search__submit">
								<button>
									<svg role="img" aria-labelledby="header-search-button">
										<title id="header-search-button">検索</title>
										<use href="/assets/image/icon/search.svg#icon"></use>
									</svg>
								</button>
							</span>
						</div>
					</fieldset>
				</form>
			</search>
		</div>
	</div>
</header>
