<div id="sidebar" class="l-sidebar">
	<section class="p-sidebar-profile" aria-labelledby="sidebar-profile-heading">
		<h2 class="p-sidebar-profile__hdg" id="sidebar-profile-heading">プロフィール</h2>

		<div class="p-sidebar-profile__info">
			<% if (page.path !== '/info') { %>
			<address class="p-sidebar-profile__address">
				<a href="/info">
					<picture>
						<source type="image/webp" srcset="/assets/image/sidebar/profile.webp, /assets/image/sidebar/profile@2x.webp 2x" />
						<img src="/assets/image/sidebar/profile.jpg" alt="" class="p-sidebar-profile__avatar" />
					</picture>
					富永冴樹
				</a>
			</address>
			<% } else { %>
			<div class="p-sidebar-profile__address">
				<a aria-current="page">
					<picture>
						<source type="image/webp" srcset="/assets/image/sidebar/profile.webp, /assets/image/sidebar/profile@2x.webp 2x" />
						<img src="/assets/image/sidebar/profile.jpg" alt="" class="p-sidebar-profile__avatar" />
					</picture>
					富永冴樹
				</a>
			</div>
			<% } %>

			<p class="p-sidebar-profile__bio">都内でウェブ制作の仕事をしていたりいなかったり。フロントエンド技術者のつもりです。</p>
		</div>

		<ul class="p-sidebar-profile__banner">
			<li>
				<a href="https://twitter.com/SaekiTominaga" class="p-sidebar-profile__banner-link -twitter"
					><img src="/assets/image/icon/twitter_white.svg" alt="" class="p-sidebar-profile__banner-icon" /> Twitter</a
				>
			</li>
			<li>
				<a href="https://github.com/SaekiTominaga" class="p-sidebar-profile__banner-link -github"
					><img src="/assets/image/icon/github.svg" alt="" class="p-sidebar-profile__banner-icon" /> GitHub</a
				>
			</li>
			<li>
				<a
					href="https://www.amazon.co.jp/-/e/B07FBRDDJN/?_encoding=UTF8&amp;camp=1207&amp;creative=8415&amp;linkCode=shr&amp;tag=w0s.jp-22"
					class="p-sidebar-profile__banner-link -amazon"
					><img src="/assets/image/icon/amazon.png" alt="" class="p-sidebar-profile__banner-icon" /> Amazon</a
				>
			</li>
			<li>
				<a href="https://www.youtube.com/user/SaekiTominaga" class="p-sidebar-profile__banner-link -youtube"
					><img src="/assets/image/icon/youtube.svg" alt="" class="p-sidebar-profile__banner-icon" /> YouTube</a
				>
			</li>
		</ul>
	</section>

	<aside class="p-sidebar-blog-topics" aria-labelledby="sidebar-blog-topics-heading" hidden="">
		<h2 class="p-sidebar-blog-topics__hdg" id="sidebar-blog-topics-heading">最近の日記記事</h2>

		<ul class="p-sidebar-blog-topics__list">
			<template id="sidebar-blog-newly-template">
				<li><a href=""></a></li>
			</template>
		</ul>
	</aside>

	<aside class="p-sidebar-amazon" hidden="">
		<h2 class="p-sidebar-amazon__hdg">おすすめ商品</h2>

		<ul class="p-sidebar-amazon__list">
			<template id="sidebar-amazon-ad-template">
				<li>
					<a href="">
						<div class="p-sidebar-amazon__image-area">
							<img src="/assets/image/sidebar/amazon_noimage.svg" alt="" loading="lazy" class="p-sidebar-amazon__image js-image" />
						</div>
						<div class="p-sidebar-amazon__text-area">
							<p class="p-sidebar-amazon__title js-title"><b class="p-sidebar-amazon__binding js-binding" hidden=""></b></p>
							<p class="p-sidebar-amazon__time js-date-past" hidden=""><time datetime=""></time> 発売</p>
							<p class="p-sidebar-amazon__time js-date-future" hidden=""><time datetime=""></time> 発売<em class="p-sidebar-amazon__time-plan">予定</em></p>
						</div>
					</a>
				</li>
			</template>
		</ul>
	</aside>
</div>
