<%_ if (typeof filePath !== 'undefined' || structuredData.localNav !== undefined) { // :empty 疑似クラスがホワイトスペースの存在を許容するようになったらこの if 文は不要になる https://drafts.csswg.org/selectors-4/#the-empty-pseudo _%>
<div class="l-content__footer">
	<%_ if (typeof filePath !== 'undefined') { _%>
	<details class="p-toggle -fit" is="w0s-animation-details" data-duration="100">
		<summary>本ページ内容の改善提案</summary>
		<div class="p-toggle__contents">
			<ul class="p-list">
				<li>誤字訂正など軽微な修正は<a href="https://github.com/SaekiTominaga/w0s.jp/blob/main/<%= filePath %>" class="htmlbuild-host">ソースコード</a>を編集し、 Pull Request を送ってください。</li>
				<li>コンテンツやデータの追加提案など議論が必要なケースは <a href="https://github.com/SaekiTominaga/w0s.jp/issues/new?labels=contents" class="htmlbuild-host">Issue を立てる</a>こともできます。</li>
				<li>GitHub アカウントをお持ちでない方は<a href="/contact">問い合わせフォーム</a>や <a href="https://twitter.com/SaekiTominaga" class="htmlbuild-host">Twitter</a>でも受け付けます。</li>
			</ul>
		</div>
	</details>
	<%_ } _%><%_ if (structuredData.localNav !== undefined) { _%>
	<nav>
		<ul class="p-local-nav">
			<%_ structuredData.localNav.forEach((localNavItem, index) => { _%><%_ if (localNavItem.path !== pagePathAbsoluteUrl) { _%>
			<li><a href="<%= localNavItem.path %>" class="c-link"><%= localNavItem.name %></a></li>
			<%_ } else { _%>
			<li><a aria-current="page" class="c-link"><%= localNavItem.name %></a></li>
			<%_ } _%><%_ }); _%>
		</ul>
	</nav>
	<%_ } _%>
</div>
<%_ } _%>
