<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (pagePathAbsoluteUrl === '/kumeta/') { _%>
				<h1 class="p-header-site__name"><a aria-current="page">久米田康治データベース</a></h1>
				<%_ } else { _%>
				<p class="p-header-site__name"><a href="/kumeta/">久米田康治データベース</a></p>
				<%_ } _%>
				<p class="p-header-site__summary">漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト</p>
			</div>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/kumeta/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<%- include('header_search') -%>
		</div>
	</div>
</header>
