<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (pagePathAbsoluteUrl === '/') { _%>
				<h1 class="p-header-site__name"><a aria-current="page">w0s.jp</a></h1>
				<%_ } else { _%>
				<p class="p-header-site__name"><a href="/">w0s.jp</a></p>
				<%_ } _%>
				<p class="p-header-site__summary">富永冴樹の個人サイト</p>
			</div>
		</div>
		<div class="l-header__nav"><%- include('header_search') -%></div>
	</div>
</header>
