<div id="sidebar" class="l-sidebar">
	<section class="p-sidebar-profile">
		<h2 class="p-sidebar-profile__hdg">プロフィール</h2>

		<div class="p-sidebar-profile__info">
			<%_ if (pagePathAbsoluteUrl !== '/info') { _%>
			<address class="p-sidebar-profile__address">
				<a href="/info">
					<picture>
						<source type="image/webp" srcset="/assets/image/sidebar/profile.webp, /assets/image/sidebar/profile@2x.webp 2x" />
						<img src="/assets/image/sidebar/profile.jpg" alt="" width="72" height="72" class="p-sidebar-profile__avatar" />
					</picture>
					富永冴樹
				</a>
			</address>
			<%_ } else { _%>
			<div class="p-sidebar-profile__address">
				<a aria-current="page">
					<picture>
						<source type="image/webp" srcset="/assets/image/sidebar/profile.webp, /assets/image/sidebar/profile@2x.webp 2x" />
						<img src="/assets/image/sidebar/profile.jpg" alt="" width="72" height="72" class="p-sidebar-profile__avatar" />
					</picture>
					富永冴樹
				</a>
			</div>
			<%_ } _%>

			<p class="p-sidebar-profile__bio">都内でウェブ制作の仕事をしていたりいなかったり。フロントエンド技術者のつもりです。</p>
		</div>

		<ul class="p-sidebar-profile__banners">
			<li>
				<a href="https://twitter.com/SaekiTominaga" class="c-button -twitter">
					<img src="/assets/image/icon/twitter-white.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">Twitter</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/SaekiTominaga" class="c-button -github">
					<img src="/assets/image/icon/github.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">GitHub</span>
				</a>
			</li>
			<li>
				<a href="https://www.amazon.co.jp/-/e/B07FBRDDJN/?_encoding=UTF8&amp;camp=1207&amp;creative=8415&amp;linkCode=shr&amp;tag=w0s.jp-22" class="c-button -amazon">
					<img src="/assets/image/icon/amazon.png" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">Amazon</span>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@SaekiTominaga" class="c-button -youtube">
					<img src="/assets/image/icon/youtube.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">YouTube</span>
				</a>
			</li>
		</ul>
	</section>

	<aside class="p-sidebar-blog-entry" hidden="">
		<h2 class="p-sidebar-blog-entry__hdg">最近の日記記事</h2>

		<div class="p-sidebar-blog-entry__link">
			<ul class="c-sidebar-link -entry">
				<template id="sidebar-blog-newly-template">
					<li><a href=""></a></li>
				</template>
			</ul>
		</div>
	</aside>
</div>
