<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>鉄道ピクトリアル掲載原稿「水間鉄道1000形改造車デビュー」</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/book/">鉄道本執筆</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">水間鉄道1000形改造車デビュー</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2012年4月12日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>鉄道ピクトリアル 2007年5月号に掲載された「水間鉄道1000形改造車デビュー」の本文です。写真や車歴表は挿入していません。完全版は掲載誌をご覧ください。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<aside class="p-amazon">
						<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h2>

						<ul class="p-amazon__list">
							<li>
								<a href="https://www.amazon.co.jp/dp/B000O75FOU/" class="p-amazon__link htmlbuild-amazon-associate">
									<div class="p-amazon__thumb">
										<img src="https://media.w0s.jp/thumbimage/tokyu/book/tetsupic789_cover.jpg?type=jpeg;w=160;h=160;quality=60" alt="" width="114" height="160" class="p-amazon__image htmlbuild-image" />
									</div>
									<div class="p-amazon__text">
										<p class="p-amazon__title">鉄道ピクトリアル 2007年5月号 【特集】連接車</p>
										<p class="p-amazon__date">2007年3月20日 発売</p>
									</div>
								</a>
							</li>
						</ul>
					</aside>

					<section class="p-section -hdg-a" id="prologue">
						<div class="p-section__hdg">
							<h2>はじめに</h2>
						</div>
						<div class="p-text -col2">
							<p>水間鉄道では1990(平成2)年に東京急行電鉄から譲渡された7000系車両が活躍しているが、このたびATS装置や冷房装置を搭載した改造車両が竣工し、新たに1000形となって再デビューした。ここでは、車両形態上の変化を中心に紹介したい。</p>
							<p>なお本稿では、すでに改造が終了している1001、1002の2両を中心としつつ、執筆時点で改造中の7001、7101についても、改造後の形態が判断できる箇所に限って触れることとした。また、現場での慣例に従い、水間方を向いて右手を西側（東急時代の海側にあたる）、その反対を東側と呼ぶことにする。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="outline">
						<div class="p-section__hdg">
							<h2>1. 車両概説</h2>
						</div>
						<div class="p-text -col2">
							<p>水間線で活躍する10両の種車は、いずれも東急7000系東洋車であり、今回改造を受けた旧7002、旧7102は東急時代に3次車と呼ばれていた車両である。東急7000系はこの3次車より量産車となったが、客室内を中心に試作車（1・2次車）の形態を踏襲した部分も多く、興味の尽きないグループである。のちに後期車に合わせられた部分もあるが、現在でも客室内の荷棚まわりや握り棒・吊手棒の固定部などにその特徴が残る。</p>
							<p>また、東急時代に室内更新工事を受けており、客用窓枠の取替と上段下降・下段固定窓化、客用側戸上部の蓋がSUS製、吊手棒を低くし吊手が短いタイプになっているなど非更新車との差異が見られる。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="under">
						<div class="p-section__hdg">
							<h2>2. 床下機器</h2>
						</div>
						<div class="p-text -col2">
							<p>走行に関する主要品は従来と変化無く、台車もパイオニアⅢのTS-701のままである。今回改造されたのは非冷房だった車であり、冷房化のため水間向き先頭車の電動発電機を大容量タイプに変更している。</p>
							<p>この電動発電機は東洋電機製で、MG本体の形式はTDK-3725-A（75kVA）。なお、譲渡時に冷改された7151、7152は東急8000系発生品の東芝BS-477-A（50kVA-SIV）を、自社冷改の7101は東芝BS-477-Bを積んでおり、非冷房車7103の東洋TDK-381-A（6kVA-MG）も合わせてバラエティに富んでいる。</p>
							<p>また、保安装置として自動列車停止装置が準備されている。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="body">
						<div class="p-section__hdg">
							<h2>3. 車体</h2>
						</div>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>電気連結器</h3>
							</div>
							<div class="p-text">
								<p>東急時代、長らく中間に封じ込められていた7101、7102の正面には、西側、東側に1本ずつ電気連結器と栓納めが残されていたが、両車とも撤去された。なお、元東急7000系における海側ジャンパ栓の残存例としては、弘南鉄道大鰐線の7000系奇数車が挙げられるが、山側コネクタが残っていたのは水間鉄道の2両のみであった（<a href="#errata-body-ecoupler">※訂正あり</a>）。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>台枠部</h3>
							</div>
							<div class="p-text">
								<p>正面、連結方妻面の台枠部には金属板が貼られたが、7101、7102の正面西側にあった55芯ジャンパ栓納め撤去跡を隠すような形状となっている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>正面ステップ</h3>
							</div>
							<div class="p-text">
								<p>正面下部には、片足を掛けられる小型のステップが付いていたが、改造にあたり撤去された。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>正面窓</h3>
							</div>
							<div class="p-text">
								<p>Hゴム支持であった正面窓は、金属支持に変更されており、室外側、室内側ともに印象が変わっている。なお、窓Hゴムは他社譲渡車も含め大半が黒色であるが、改造前の7101は貫通扉窓のみ灰色であった。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>ワイパーまわり</h3>
							</div>
							<div class="p-text">
								<p>ワイパーは間欠機能付きの電気式タイプに交換された。取付部は従来と同じ位置ながら、空気式に比べて大型となり、色も黒となった。また、正面窓下の風取入口跡に貼られた金属板のうち、運転台側の方はワイパー取付部まで伸びる長いものとなっている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>正面表示器</h3>
							</div>
							<div class="p-text">
								<p>正面の表示器窓は、正面窓と同じく金属支持になった。字幕は通常「水間⇔貝塚」固定であったが、LED表示に改造され、行先駅名のみを表示（水間行きなら「水間」と表示）するようになった。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>レスポンスブロック受</h3>
							</div>
							<div class="p-text">
								<p>7101、7102の連結方妻面東側には、地下鉄日比谷線乗り入れの証しとも言えるレスポンスブロック受が残されていたが、両車とも撤去されてしまった。東急7700系改造車や他社譲渡車では、撤去跡に締められたボルトにその名残が見られる程度であるが、1002は金属片で塞がれており、目立つ存在である。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>転落防止装置</h3>
							</div>
							<div class="p-text">
								<p>各車の連結方妻面には、転落防止装置が設置された。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>車外Dコック</h3>
							</div>
							<div class="p-text">
								<p>連結方妻面の両脇には、Dコック管が床下から立ち上がっているが、転落防止装置に干渉しないようにするため、従来と比べて背が低いタイプに交換された。古い設置部にはボルトが締められているが、1001の東側は金属片によって塞がれている。また、弁の位置を示す印として三角形のシールが妻面・側面に跨がる形で貼られていたが、1000形車両では妻面端部への貼付となり、側面からは見えにくくなった。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>昇降ステップ</h3>
							</div>
							<div class="p-text">
								<p>正面、連結方妻面の右側には昇降ステップが付いているが、ステップ上面の滑り止め形状にはバリエーションがあり、1002の妻面は他と異なる模様をしている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>妻面銘板</h3>
							</div>
							<div class="p-text">
								<p>連結方妻面右側には楕円形の製造銘板が留められているが、台枠部に金属板を貼った関係からか、もともと「東京急行電鉄」の楕円銘板が留められていた場所へ移動された。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>ロゴマーク</h3>
							</div>
							<div class="p-text">
								<p>側面の旧東急社紋掲出部には、水間鉄道のロゴマークが貼られていたが、1001、1002はコスモスをかたどったマークに変更された。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="roof">
						<div class="p-section__hdg">
							<h2>4. 屋根上機器</h2>
						</div>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>冷房装置</h3>
							</div>
							<div class="p-text">
								<p>1001、1002は、従来のベンチレータを撤去して東芝製のユニットクーラRPU-2204C（9,000kcal/h）が3台搭載された。装置形式やキセ形状は従来の冷改車と同じであるが、キセの色は7000系車両が青がかっているのに対し白色となった。また、製造が2006年と新しいためか、銘板の様式が他車と異なる。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>ヒューズ箱</h3>
							</div>
							<div class="p-text">
								<p>7000系非冷房車のヒューズ箱は、パンタグラフの車央方に設置されているが、1001は冷房装置搭載に伴い、従来の冷改車と同じく車端方に移設された。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="room">
						<div class="p-section__hdg">
							<h2>5. 客室内</h2>
						</div>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>側入口滑り止め</h3>
							</div>
							<div class="p-text">
								<p>床面は塗り替えられており、側入口にあった滑り止めは撤去された。なお、元東急7000系としては、北陸鉄道譲渡車も滑り止めを撤去されている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>運客仕切、妻面</h3>
							</div>
							<div class="p-text">
								<p>運客仕切の車掌台側にある非常用の赤玉コックは引き続き残されている。なお、同様のコックは、同時期に譲渡された北陸鉄道向け車両にも存在するが、そちらには透明のカバーが付けられている。</p>
								<p>運客仕切と連結方妻面の鴨居部中央には、列車の行先や次駅案内などを行うLEDの表示器が設置された。このため、運客仕切の運賃案内は左側に寄せられ、また妻面の広告受は撤去された。</p>
								<p>東急時代からの製造銘板、改造銘板はすべて撤去されており、新たに「佐伯工業」の改造銘板が運客仕切の車掌台側に設置されている。</p>
								<p>禁煙標記も取り替えられ、禁煙マーク付きのシールが運客仕切にのみ貼られている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>車椅子スペース</h3>
							</div>
							<div class="p-text">
								<p>運客仕切と側客戸の間に存在する空間を活用して車椅子スペースが用意され、側壁には手すりが設けられた。このように、座席を撤去することなく容易に工事を行う例は、豊橋鉄道渥美線譲渡車でも見られる。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>妻窓</h3>
							</div>
							<div class="p-text">
								<p>東急時代の更新工事時に、妻窓・側窓の下段が固定式とされたことは前述のとおりであるが、レスポンスブロック受がある部分は、引き続き下段も開くようになっていた。しかし、レスポンスブロック受が撤去され転落防止装置が設置されたため、ガイドレールにストッパを嵌め、開閉はできなくなった。ただし、窓戸錠は残っている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>側引戸</h3>
							</div>
							<div class="p-text">
								<p>側引戸鴨居のドアエンジン点検蓋底面には、灯具が設置され、扉扱い時には赤く点滅する。また、同時にチャイムが鳴る。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>側灯点検蓋</h3>
							</div>
							<div class="p-text">
								<p>室外には車体側灯として戸閉灯が存在するが、室内には点検蓋が設置されている。室内化粧板の張り替えに伴い蓋が一新され、従来にない形状となった。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>座席</h3>
							</div>
							<div class="p-text">
								<p>モケットは橙系のものに交換されており、室内の暖色系化に貢献している。袖仕切や蹴込板なども含めた構造自体に変化は見られない。</p>
								<p>貝塚向き先頭車の連結方車端部は優先座席となっており、モケット色が淡い青系で区別されている。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>吊手</h3>
							</div>
							<div class="p-text">
								<p>レール方向吊手のスリーブは、広告が彫り込まれていない無地のものとなったが、デビュー直後には他車と同様に沿線企業の広告シールが貼られている。側入口付近の枕木方向には吊手棒が増設されていたが、吊手は設置されていない。</p>
							</div>
						</section>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>天井</h3>
							</div>
							<div class="p-text">
								<p>冷房化にあたり、天井部は冷風口の設置や旋回扇・中吊広告受などの移動が行われた。配置は、入線後に自社で冷改された7001、7101にそれぞれ準じたものとなっており、譲渡時に冷改された車両と比べると、連結方車端部の中吊広告受が一つ少ない。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="announce">
						<div class="p-section__hdg">
							<h2>6. 自動放送</h2>
						</div>
						<div class="p-text -col2">
							<p>ツーマン、ワンマン列車ともに自動放送が使用されており、7000系車両にはエンドレステープ式のクラリオン製CA-105系が搭載されている。1000形車両では、音声合成放送装置（レシップ製DVS-09B形）となり、放送内容も全面的に改訂された。</p>
							<p>全区間の放送内容について、<a href="/tokyu/an/">在来車との比較をウェブサイトに用意した</a>ので、興味のある方は併せて参照されたい。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="epilogue">
						<div class="p-section__hdg">
							<h2>おわりに</h2>
						</div>
						<div class="p-text -col2">
							<p>改造中の7001、7101に加え、1月には7051、7151も工事が始まったが、東急時代に室内更新を受けていない車ということで、これまでとはまた違った改造内容が期待できる。本稿は、まだ1000形車両が2両しか完成していない時点で書いているため、中途半端な記載になってしまった部分もあるが、機会を改めて東急7700系や他社譲渡車も含め紹介したいと思う。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="bibliography">
						<div class="p-section__hdg">
							<h2>参考文献</h2>
						</div>
						<ul class="p-list">
							<li>荻原俊夫「東急7000系ものがたり」（鉄道ピクトリアルNo.547-548、1991）</li>
							<li>渡辺健太郎・高嶋修一「現有私鉄概説 水間鉄道」（鉄道ピクトリアルNo.685、2000）</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="errata">
						<div class="p-section__hdg">
							<h2>正誤データ</h2>
						</div>

						<section class="p-section -hdg-b" id="errata-body">
							<div class="p-section__hdg">
								<h3>3. 車体</h3>
							</div>

							<section class="p-section -hdg-c" id="errata-body-ecoupler">
								<div class="p-section__hdg">
									<h4>電気連結器</h4>
								</div>

								<div class="p-box">
									<p>(誤) なお、元東急7000系車両で海側ジャンパ栓の残存例としては、弘南鉄道大鰐線の7000系奇数車が挙げられるが、山側コネクタが残っていたのは水間鉄道の2両のみであった。</p>
									<p>(正) なお、元東急7000系車両で海側ジャンパ栓の残存例としては、弘南鉄道大鰐線の7000系奇数車が挙げられるが<b class="c-ins">（ただし7031・7037は譲渡後の追設）</b>、山側コネクタが残っていたのは水間鉄道の2両のみであった。</p>
								</div>

								<ul class="p-notes">
									<li>弘南鉄道大鰐線デハ7000形奇数車（大鰐向き先頭車）のうち、7031・7037のジャンパ栓は譲渡後の設置であり、東急時代からの設置車とは掛具形状も異なります。よって、「残存例」としては7033・7039の2両となります。</li>
								</ul>
							</section>
						</section>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
