<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>まどか資料館</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="alternate" href="/madoka/feed" type="application/atom+xml" title="「まどか資料館」の新着フィード" />
		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<main class="l-content__main">
					<div class="l-top">
						<nav class="l-top__nav" id="contents">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">サイトコンテンツ</h2>
							</div>

							<ul class="p-top-nav">
								<li class="p-top-nav__box">
									<a href="/madoka/video/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_video.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_video.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_video.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_video.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_video.jpg?type=jpeg;w=360;quality=50" alt="" width="360" height="180" />
											</picture>
										</div>
										<div class="p-top-nav__title">映像</div>
										<p class="p-top-nav__description">アニメ映像のバリエーション。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/madoka/library/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_library.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_library.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_library.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_library.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_library.jpg?type=jpeg;w=360;quality=50" alt="" width="360" height="180" style="--object-position: 50% 0" />
											</picture>
										</div>
										<div class="p-top-nav__title">書籍ライブラリ</div>
										<p class="p-top-nav__description">図書、雑誌、新聞の掲載情報をまとめた書籍データベース。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/madoka/event/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_event.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_event.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_event.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_event.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_event.jpg?type=jpeg;w=360;quality=50" alt="" width="360" height="180" style="--object-position: 50% 40%" />
												<!-- 2014-05-18 057C7491 -->
											</picture>
										</div>
										<div class="p-top-nav__title">イベント</div>
										<p class="p-top-nav__description">「まどか☆マギカ展」などイベントの開催データ。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/madoka/yomoyama/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_yomoyama.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_yomoyama.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_yomoyama.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_yomoyama.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_yomoyama.jpg?type=jpeg;w=360;quality=50" width="360" height="180" alt="" />
											</picture>
										</div>
										<div class="p-top-nav__title">よもやま</div>
										<p class="p-top-nav__description">特定のテーマに関するページ。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/madoka/official/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_official.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_official.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_official.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_official.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_official.jpg?type=jpeg;w=360;quality=50" alt="" width="360" height="180" style="--object-position: 50% 0" />
											</picture>
										</div>
										<div class="p-top-nav__title">公式データ</div>
										<p class="p-top-nav__description">公式サイト、SNSアカウントなどのアーカイブ。</p>
									</a>
								</li>
								<li class="p-top-nav__box">
									<a href="/madoka/dojin/">
										<div class="p-top-nav__image">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_dojin.jpg?type=avif;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_dojin.jpg?type=avif;w=720;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/index_nav_dojin.jpg?type=webp;w=360;quality=50, https://media.w0s.jp/thumbimage/madoka/index_nav_dojin.jpg?type=webp;w=720;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/index_nav_dojin.jpg?type=jpeg;w=360;quality=50" alt="" width="360" height="180" style="--object-position: 50% 0" />
											</picture>
										</div>
										<div class="p-top-nav__title">同人誌</div>
										<p class="p-top-nav__description">発行、寄稿した同人誌の紹介。</p>
									</a>
								</li>
							</ul>
						</nav>

						<section class="l-top__blog" id="blog">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">ブログ</h2>
							</div>

							<div class="p-top-nav">
								<div class="p-top-nav__box">
									<a href="https://blog.w0s.jp/">
										<div class="p-top-nav__image">
											<img src="https://media.w0s.jp/thumbimage/index_nav_blog.png?type=png;w=360" srcset="https://media.w0s.jp/thumbimage/index_nav_blog.png?type=png;w=720 2x" alt="" width="360" height="180" style="--object-position: 50% 0" />
										</div>
										<div class="p-top-nav__title">富永日記帳</div>
										<p class="p-top-nav__description">ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</p>
									</a>
								</div>
							</div>
						</section>

						<section class="l-top__update" id="update">
							<div class="p-top-hdg">
								<h2 class="p-top-hdg__hdg">更新履歴</h2>
								<div class="p-top-hdg__notice">
									<a href="/madoka/feed" type="application/atom+xml" class="c-button -feed">
										<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
										<span class="c-button__text">フィード</span>
									</a>
								</div>
							</div>

							<ul class="p-top-update">
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2021年1月30日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p><a href="/madoka/library/">書籍ライブラリ</a>（「書籍データベース」から改名）の登録の流れを変更しました。管理者による承認作業を廃止して即時公開されるようになるなど、全体的な流れを簡略化しました。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2021年1月2日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p><a href="/madoka/dojin/">過去に発行した同人誌</a>の BOOTH 販売を開始しました。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2020年8月22日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p><a href="/madoka/video/kouhen">[後編]永遠の物語 上映版とパッケージ版の比較</a>に差分データ1件（14m13s）を追加しました。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2019年11月25日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -renew">更新</b></div>
									<div class="p-top-update__info">
										<p><a href="/madoka/dojin/pictorial7">「円環ピクトリアル No.7 【特集】TVシリーズ 放送版とパッケージ版の比較」</a>の情報ページに第12話の追加差分データ6件を追加しました。</p>
									</div>
								</li>
								<li>
									<div class="p-top-update__date"><span class="htmlbuild-datetime">2019年11月23日</span></div>
									<div class="p-top-update__type"><b class="c-update-icon -new">新規</b></div>
									<div class="p-top-update__info">
										<p><a href="/madoka/yomoyama/kumeta">久米田作品における『まどか☆マギカ』ネタ</a>のページに『かくしごと』第10巻分を追加しました。</p>
									</div>
								</li>
							</ul>
						</section>
					</div>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
