<aside class="blog-entries" hidden="" aria-labelledby="landmark-blog-newly-label">
	<h2 class="heading" id="landmark-blog-newly-label">最近の日記記事</h2>

	<ul class="link">
		<template id="sidebar-blog-newly-template">
			<li><a href=""></a></li>
		</template>
	</ul>
</aside>

<style>
	@layer component {
		.blog-entries {
			--_border-width: 1px;

			display: block grid;
			grid-template:
				'.       heading .      ' 1fr
				'hleft   heading hright ' 1fr
				'content content content' auto / calc(var(--_border-width) + 0.5em) auto minmax(calc(var(--_border-width) + 0.5em), 1fr);

			&:first-child {
				margin-block-start: -0.5lh;
			}

			&::before,
			&::after,
			& > :last-child {
				border: var(--_border-width) solid var(--color-border-dark);
			}

			&::before,
			&::after {
				border-block-end-style: unset;
				content: '';
			}

			&::before {
				grid-area: hleft;
				border-inline-end-style: unset;
				border-start-start-radius: var(--border-radius-normal);
			}

			&::after {
				grid-area: hright;
				border-inline-start-style: unset;
				border-start-end-radius: var(--border-radius-normal);
			}

			& > :first-child {
				grid-area: heading;
				margin-inline: 0.5em;
			}

			& > :last-child {
				grid-area: content;
				border-block-start-style: unset;
			}
		}

		.heading {
		}

		.link {
			--_padding-block: 0.5em;
			--_padding-inline: 0.5em;
			--_bg-color: var(--color-verylightblue);

			& :global(a) {
				box-sizing: revert;
				display: block flow;
				contain: content;
				outline-offset: -1px;
				outline-width: var(--outline-width-bold);
				background: var(--_bg-color);
				padding: var(--_padding-block) var(--_padding-inline);
				min-block-size: 2em;
				font-size: calc(100% / pow(var(--font-ratio), 1));
			}

			& :global(:any-link) {
				--_bg-color: var(--color-white);
				--_icon-color: var(--color-lightgray); /* アイコンの色 */
				--_icon-inline-size: 0.67em; /* アイコンの幅 */
				--_icon-block-size: 1em; /* アイコンの高さ */
				--_icon-gap: 0.75em; /* テキストとアイコンの間隔 */

				padding-inline-end: calc(var(--_icon-gap) + var(--_icon-inline-size) + var(--_padding-inline));
				text-decoration: none;
			}

			& :global(:any-link::after) {
				position: absolute;
				clip-path: var(--shape-link-arrow);
				inset-block-start: calc(50% - var(--_icon-block-size) / 2);
				inset-inline-end: var(--_padding-inline);
				border-block-start: var(--_icon-block-size) solid var(--_icon-color);
				inline-size: var(--_icon-inline-size);
				content: '';
			}

			& > :global(li + li) {
				border-block-start: 1px dotted var(--color-border-dark);
			}

			/* 奇数行 */
			& > :global(li:nth-child(2n + 1) :any-link) {
				--_bg-color: var(--color-bg-superlight);
			}

			& > :global(li :any-link:hover) {
				--_bg-color: var(--color-lightyellow);
				--_icon-color: var(--color-gray);
			}
		}
	}
</style>
