---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import ListLink from '@components/ListLink.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '『魔法少女まどか☆マギカ』オーディオコメンタリー',
	heading: 'オーディオコメンタリー',
	dateModified: dayjs('2016-10-16'),
	description: '『魔法少女まどか☆マギカ』TV シリーズ、劇場版の Blu-ray / DVD に収録されているオーディオコメンタリーの要約です。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<ListLink index={true}>
		<li><a href="/madoka/yomoyama/commentary_tv">TV シリーズ</a>（悠木碧、斎藤千和 ほか）</li>
		<li><a href="/madoka/yomoyama/commentary_zenpen">[前編]始まりの物語</a>（悠木碧、斎藤千和、水橋かおり、喜多村英梨）</li>
		<li><a href="/madoka/yomoyama/commentary_kouhen">[後編]永遠の物語</a>（悠木碧、斎藤千和、野中藍、加藤英美里）</li>
		<li><a href="/madoka/yomoyama/commentary_shinpen">[新編]叛逆の物語</a>（悠木碧、斎藤千和、水橋かおり、野中藍、喜多村英梨、加藤英美里）</li>
	</ListLink>
</Layout>
