---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『劇場版　魔法少女まどか☆マギカ[前編]始まりの物語』オーディオコメンタリー',
	heading: '[前編]始まりの物語　オーディオコメンタリー',
	dateModified: dayjs('2016-10-16'),
	description: '『劇場版　魔法少女まどか☆マギカ[前編]始まりの物語』の Blu-ray / DVD に収録されているオーディオコメンタリーの要約です。',
	breadcrumb: [
		{ path: '/madoka/', name: 'まどか資料館' },
		{ path: '/madoka/yomoyama/commentary', name: 'オーディオコメンタリー' },
	],
	localNav: {
		label: 'オーディオコメンタリー',
		items: [
			{ path: '/madoka/yomoyama/commentary_tv', name: 'TV シリーズ' },
			{ path: '/madoka/yomoyama/commentary_zenpen', name: '劇場版　前編' },
			{ path: '/madoka/yomoyama/commentary_kouhen', name: '劇場版　後編' },
			{ path: '/madoka/yomoyama/commentary_shinpen', name: '劇場版　新編' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="chapter1">
		<H slot="heading">Chapter 1</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（悠木）コメンタリーは<a href="/madoka/yomoyama/commentary_kouhen">後編</a>から録った。</p>
			</li>
			<li>
				<p>（喜多村）虚淵さんの脚本だから裏がある話だろうとということはオーディションの資料をもらったときに知った。（マミさんが）3話で死んで……。</p>

				<p>（水橋）当時のマネージャーから「オリジナルで主人公以外ほとんど死ぬ」と聞いた。虚淵さんが書くとは知らなかったので、新房さんどうしちゃったんだろうと。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter2">
		<H slot="heading">Chapter 2</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）恭介とキュゥべえを受けていて、魔法少女を受けていない。その二つの資料しかもらっておらず、キュゥべえ分はネタバレはほとんどなかったので、マミられることは知らず、シーンを観てびっくりした。</p>

				<p>（悠木）音を録っているときのコンテ絵がグロかった。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter3">
		<H slot="heading">Chapter 3</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（喜多村）OP直後の登校シーンはオーディションのセリフに入っていた。</p>

				<p>（喜多村）キャラデザでいちばん悲痛な顔のほむらを演じたら、音響監督の鶴岡さんに可もなく不可もなくという評価で、杏子を演ったら不可気味の評価。新房監督からさやかを受けなさいと言っていると言われた。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter4">
		<H slot="heading">Chapter 4</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）自分が受けたときは碧ちゃんと同じ10代の子ばかりの回だった。</p>

				<p>（水橋）ほむらは何回も時間を繰り返しているので、キャリアのある人がいいと聞いた。</p>

				<p>（斎藤）そういうことはぜんぜん聞いていない。</p>
			</li>
			<li>
				<p>（斎藤）ほむらは3パターンくらい録った。</p>
			</li>
			<li>
				<p>（悠木）まどかで受けてくださいという話で、まどかとキュゥべえを一緒に受けた。</p>
			</li>
			<li>
				<p>（斎藤）廊下でまどかに忠告するシーンの演技はテレビシリーズとは変えている。テレビシリーズは（先の展開を）まったく分かっていなかったので、鹿目まどかが気に食わない感じが強かった。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter5">
		<H slot="heading">Chapter 5</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（水橋）テレビシリーズは大人っぽくすることを意識していたが、マミさんのイメージ（そそっかしい、いじられキャラっぽい）はもうできているので、劇場版ではそういうところを拾ってみた。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter6">
		<H slot="heading">Chapter 6</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（悠木）ひげおじさんのガヤセリフの意味は「首をちょんと切るぞ」みたいな。</p>

				<p>（斎藤）ドイツ語だっけ。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter16">
		<H slot="heading">Chapter 16</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）マミが喰われるシーンのSEはテレビシリーズより強めですかね。</p>
			</li>
			<li>
				<p>（喜多村）オーディションのセリフその2（「返せよ、それはマミさんのものだ」の部分）。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter18">
		<H slot="heading">Chapter 18</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）ほむらは自分の本心を言うときに目を逸らす。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter23">
		<H slot="heading">Chapter 23</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（悠木）まどかは神様になれるほど自分の世界が広い子ではないので、どうやったら自分も幸せになれてみんなも幸せになれるかと考えて、契約の選択をしたのではないかという話を虚淵さんにしたら、「悪くない選択だったんじゃないですかね」とキュゥべえ的な返事が返ってきた。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter25">
		<H slot="heading">Chapter 25</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）投げられたさやかのソウルジェムを追いかけるとき、ずっと時を止めると（自分のソウルジェムが）濁ってしまうから、少しずつ止めているという話でした。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter26">
		<H slot="heading">Chapter 26</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）ほむらの「感謝と責任を混同してはダメよ」のセリフは、そう思って演じたわけではないが、劇場版ではしゃべりながら「自分に言ってるなと」思った。</p>
			</li>
		</ul>
	</Section>

	<Section id="chapter31">
		<H slot="heading">Chapter 31</H>

		<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、喜多村英梨</p>

		<ul class="p-list">
			<li>
				<p>（斎藤）以前何かのインタビューで、泣いていたほむらがキュゥべえが現れるとすっと立ち上がったのは芝居なのかと聞かれたが、自分はそういう発想がなかったのでびっくりした。嫌いな奴の前では冷静になるので感情の矛盾はない。</p>
			</li>
		</ul>
	</Section>

	<Amazon headingLevel={2}>
		<AmazonItem asin="B00C3EDY68" title="劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]" date="2013-07-24" imageId="51IOl9Ky54L" imageWidth={135} imageHeight={160} />
	</Amazon>
</Layout>
