---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Madoka.astro';
import Amazon from '@components/Amazon.astro';
import AmazonItem from '@components/AmazonItem.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '『せっかち伯爵と時間どろぼう』における『魔法少女まどか☆マギカ』ネタ',
	dateModified: dayjs('2017-04-25'),
	description: '久米田康治先生の『せっかち伯爵と時間どろぼう』の作中で描かれた『魔法少女まどか☆マギカ』ネタをまとめました。',
	breadcrumb: [
		{ path: '/madoka/', name: 'まどか資料館' },
		{ path: '/madoka/yomoyama/kumeta', name: '久米田作品における『まどか☆マギカ』ネタ' },
	],
	localNav: {
		label: '久米田作品',
		items: [
			{ path: '/madoka/yomoyama/kumeta_kaizo', name: 'かってに改蔵' },
			{ path: '/madoka/yomoyama/kumeta_zetsubou', name: 'さよなら絶望先生' },
			{ path: '/madoka/yomoyama/kumeta_joshiraku', name: 'じょしらく' },
			{ path: '/madoka/yomoyama/kumeta_sekadoro', name: 'せっかち伯爵と時間どろぼう' },
			{ path: '/madoka/yomoyama/kumeta_kakushigoto', name: 'かくしごと' },
		],
	},
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<Fragment slot="heading">作品概要</Fragment>

		<p>「<cite>別冊少年マガジン</cite>」において2013年〜2015年に連載された作品で、作中では2回だけ『<cite>魔法少女まどか☆マギカ</cite>』ネタを確認しています。</p>
	</Section>

	<Section id="manga">
		<Fragment slot="heading">漫画</Fragment>

		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">00′03″　かわいそうな伯爵</Fragment>

			<p>2014年2月17日　単行本「第1巻」発売</p>

			<p>1ページ目（第1巻の64ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>扉絵の真心の上にルーン文字で<q>kaname madoka</q>と書かれている。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B00LC9YFM2" title="単行本 第1巻" date="2014-02-17" imageId="412XP8u9YZL" imageWidth={108} imageHeight={160} />
			</Amazon>
		</Section>

		<Section slugger={slugger} depth={2} headingType="b">
			<Fragment slot="heading">00′29″　かしこい葦</Fragment>

			<p>2014年9月17日　単行本「第4巻」発売</p>

			<p>9ページ目（第4巻の77ページ）</p>

			<div class="p-box">
				<ul class="p-list">
					<li>七夕の短冊に書かれた願い（欲しいもの）のひとつが<q>まどマギブルーレイBOX</q>。</li>
				</ul>
			</div>

			<Amazon headingLevel={4}>
				<AmazonItem asin="B00NGG9TP2" title="単行本 第4巻" date="2014-09-17" imageId="41flCWdPwiL" imageWidth={107} imageHeight={160} />
			</Amazon>
		</Section>
	</Section>
</Layout>
