---
import Layout from '@layouts/Madoka.astro';
import ListLink from '@components/ListLink.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田作品における『魔法少女まどか☆マギカ』ネタ',
	dateModified: '2019-11-23',
	description: '『かってに改蔵』や『さよなら絶望先生』をはじめ、漫画家・久米田康治先生が関わった作品内で『魔法少女まどか☆マギカ』がネタとして取り上げられた例をまとめました。漫画、アニメだけでなく、ラジオについても関連する発言を書き起こしています。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<ListLink index={true}>
		<li><a href="/madoka/yomoyama/kumeta_kaizo"><cite>かってに改蔵</cite></a>（漫画、ラジオ）</li>
		<li><a href="/madoka/yomoyama/kumeta_zetsubou"><cite>さよなら絶望先生</cite></a>（漫画、ラジオ）</li>
		<li><a href="/madoka/yomoyama/kumeta_joshiraku"><cite>じょしらく</cite></a>（漫画、TVアニメ、ラジオ）</li>
		<li><a href="/madoka/yomoyama/kumeta_sekadoro"><cite>せっかち伯爵と時間どろぼう</cite></a>（漫画）</li>
		<li><a href="/madoka/yomoyama/kumeta_kakushigoto"><cite>かくしごと</cite></a>（漫画）</li>
	</ListLink>
</Layout>
