---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '久米田作品における『魔法少女まどか☆マギカ』ネタ',
	dateModified: dayjs('2019-11-23'),
	description: '『かってに改蔵』や『さよなら絶望先生』をはじめ、漫画家・久米田康治先生が関わった作品内で『魔法少女まどか☆マギカ』がネタとして取り上げられた例をまとめました。漫画、アニメだけでなく、ラジオについても関連する発言を書き起こしています。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<ul class="p-links -index">
		<li><a href="kumeta_kaizo">かってに改蔵</a>（漫画、ラジオ）</li>
		<li><a href="kumeta_zetsubou">さよなら絶望先生</a>（漫画、ラジオ）</li>
		<li><a href="kumeta_joshiraku">じょしらく</a>（漫画、TVアニメ、ラジオ）</li>
		<li><a href="kumeta_sekadoro">せっかち伯爵と時間どろぼう</a>（漫画）</li>
		<li><a href="kumeta_kakushigoto">かくしごと</a>（漫画）</li>
	</ul>
</Layout>
