---
import dayjs from 'dayjs';
import Layout from '@layouts/Madoka.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '惑語　魔法少女ものが☆モドカ',
	dateModified: dayjs('2018-09-22'),
	description: 'MADOGATARI 展で流された『惑語　魔法少女ものが☆モドカ』の情報をまとめました。',
	breadcrumb: [{ path: '/madoka/', name: 'まどか資料館' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="chara">
		<H slot="heading">各魔法少女の特性</H>

		<div class="p-table">
			<table>
				<thead>
					<tr>
						<th scope="col">キャラクター</th>
						<th scope="col">二つ名</th>
						<th scope="col">使用呪文</th>
						<th scope="col">呪装魔具</th>
						<th scope="col">願いごと</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>戦場ヶ原ひたぎ</td>
						<td>重力の魔法少女</td>
						<td>意識不明の十代　グラビティ・グラフティ</td>
						<td>ハンマー</td>
						<td>思い出をください</td>
					</tr>
					<tr>
						<td>八九寺真宵</td>
						<td>迷宮の魔法少女</td>
						<td>無限無軌道　キャタピランド、螺旋帰道 スクリューゾーン</td>
						<td>ドリル</td>
						<td>家に帰りたい</td>
					</tr>
					<tr>
						<td>神原駿河</td>
						<td>先駆の魔法少女</td>
						<td>疾走の喪失　ランナーズ・ダイ</td>
						<td>リッターバイク</td>
						<td>誰よりも速く走りたい</td>
					</tr>
					<tr>
						<td>千石撫子</td>
						<td>俯伏の魔法少女</td>
						<td>這う這うの定理　グラウンド・セオリー</td>
						<td>地雷</td>
						<td>人に見られたくない</td>
					</tr>
					<tr>
						<td>羽川翼</td>
						<td>記憶の魔法少女</td>
						<td>燃える想い　ジャンプ・ファイア</td>
						<td>火炎瓶</td>
						<td>全部忘れてしまいたい</td>
					</tr>
					<tr>
						<td>忍野忍</td>
						<td>不死の魔法少女</td>
						<td>怪異殺し　キスショット・アセロラオリオン・ハートアンダーブレード</td>
						<td>日本刀（大小）</td>
						<td>死にたい</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>会場で流れた映像のメモによる。</li>
		</ul>
	</Section>

	<Section id="reading">
		<H slot="heading">朗読内容</H>

		<div class="p-box">
			<div class="p-text">
				<p>
					<ruby>惑語<rp>（</rp><rt>マドガタリ</rt><rp>）</rp></ruby> 魔法少女ものが☆モドカ。僕と契約して魔法少女になって欲しいんだ。
				</p>
			</div>

			<Section id="reading-hitagi" depth={2} headingType="c">
				<H slot="heading">戦場ヶ原ひたぎ<small>（重力の魔法少女）</small></H>

				<div class="p-text">
					<p>質量という概念から解放されたこの魔法少女は、攻撃した物体の重さを奪うんだ。奪えば奪うほどハンマーは重さを増し強化される。魔法を失った時、持ち主は押し潰される宿命ってわけだね。</p>
					<p>ハンマーにはサイコメトリーの機能もあるんだけれど、残念ながら使いこなせていないみたいだよ。</p>
				</div>
			</Section>
			<Section id="reading-mayoi" depth={2} headingType="c">
				<H slot="heading">八九寺真宵<small>（迷宮の魔法少女）</small></H>

				<div class="p-text">
					<p>防御力に秀でた魔法少女だ。あらゆる攻撃が道に迷ったように彼女を避ける。ただし、こちらからの攻撃も当たらなくなるので注意が必要だ。</p>
					<p>なので手にしたドリルは攻撃用ではなく、道なき道を造るための道路工事用のアイテムだよ。それだって魔女結界の逃走経路を作る役にしか立たないけどね。</p>
				</div>
			</Section>
			<Section id="reading-suruga" depth={2} headingType="c">
				<H slot="heading">神原駿河<small>（先駆の魔法少女）</small></H>

				<div class="p-text">
					<p>バイクと一体化した魔法少女に変身したのは、普段自転車に乗れない彼女のコンプレックスの表れかもね。願いの純度が高すぎて、もしも誰かに追い抜かれたらその瞬間に魔女化する。</p>
					<p>いくらスピードが欲しいからって、そんなことまで最速で達成しなくてもいいのにな。わけが分からないよ。</p>
				</div>
			</Section>
			<Section id="reading-nadeko" depth={2} headingType="c">
				<H slot="heading">千石撫子<small>（俯伏の魔法少女）</small></H>

				<div class="p-text">
					<p>世にも珍しい地を這う姿の魔法少女だ。</p>
					<p>人見知りという性格がそのまま反映されているのは、さながらほふく前進のような移動手段のみならず、彼女の周囲に敷き詰められた地雷という武器においてもまた然りだ。うっかり自分で踏んじゃうことも多々あるのが興味深い。</p>
				</div>
			</Section>
			<Section id="reading-tsubasa" depth={2} headingType="c">
				<H slot="heading">羽川翼<small>（記憶の魔法少女）</small></H>

				<div class="p-text">
					<p>重力の魔法少女のサイコメトリーとは逆で、この魔法少女は何かを燃やすたびに自身の記憶を失う。</p>
					<p>すべてを失えば魔女化するだろうけれど、失った部分に新しい想いをどんどん追加するので先は長そうだ。詰め込み教育の弊害をまざまざと見せつけられている気分だよ。</p>
					<p>とはいえ、魔法少女のままで世界を燃やし尽くしてくれるなら、そのおぞましいまでの熱量はこちらとしても望ましいまでなんだ。</p>
				</div>
			</Section>
			<Section id="reading-shinobu" depth={2} headingType="c">
				<H slot="heading">忍野忍<small>（不死の魔法少女）</small></H>

				<div class="p-text">
					<p>彼女の願いは残念ながら叶わなかった。代わりに不死身の化け物を大量虐殺できる力を手に入れたよ。殺した化物はそのまま魔法少女の養分となる。結果ますます長生きすることになったのはなんとも皮肉だよ。まあそもそも600歳だからこの吸血鬼、別に思春期の女の子でも何でもないしね。</p>
				</div>
			</Section>
		</div>

		<ul class="p-notes">
			<li>すべてキュゥべえによる朗読。</li>
		</ul>
	</Section>

	<Section id="tenji">
		<H slot="heading">MADOGATARI展会場ごとの展示の様子</H>

		<Section id="tenji-tokyo-encore" depth={2} headingType="b">
			<H slot="heading">東京アンコール会場<small>（2016年9月）</small></H>

			<div class="p-text">
				<p>『〈物語〉シリーズ』ゾーンの最後の方に巨大なディスプレイがあり、エンドレスで映像が放映されました。</p>
				<p>神原駿河を除く5人の写真がスポーツ報知の記事<LinkExternal href="https://web.archive.org/web/20160922044103/http://www.hochi.co.jp/entertainment/20160922-OHT1T50082.html">「ＭＡＤＯＧＡＴＡＲＩ展」東京アンコール展が開幕…「名セリフ投票」も実施</LinkExternal>に掲載されています。</p>
			</div>
		</Section>
		<Section id="tenji-kanazawa" depth={2} headingType="b">
			<H slot="heading">金沢会場（MADOGATARI GALLERY）<small>（2016年12月）</small></H>

			<div class="p-text">
				<p>展示エリア内の「シャフトシアター」にて、他作品と一緒に上映されました。上映リストは以下のとおりです。</p>
			</div>

			<ol class="p-list-num">
				<li>『暦ヒストリー』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
				<li>『惑語　魔法少女ものが☆モドカ』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
				<li>『物語シリーズ 振り返り映像』〜『傷物語&lt;Ⅲ冷血篇&gt;』予告映像 3:00</li>
				<li>『魔法少女まどか☆マギカ 振り返り映像』〜『コンセプトムービー』 5:20</li>
				<li>
					<LinkExternal href="https://www.youtube.com/watch?v=i9bFFk7egQ4">『クビキリサイクル』OP映像</LinkExternal> 1:30
				</li>
				<li>
					<LinkExternal href="https://www.youtube.com/watch?v=PO2w29PwoFk">『Fate/EXTELLA』PlayStation®4&amp;PlayStation®Vita OP映像</LinkExternal> 1:30
				</li>
				<li>
					<LinkExternal href="https://www.youtube.com/watch?v=XFnrnF_v5MI">『打ち上げ花火 下から見るか? 上から見るか?』（2017年8月公開予定）予告映像</LinkExternal> 1:00
				</li>
				<li>『マギアレコード』告知映像 0:15</li>
				<li>
					<LinkExternal href="https://www.youtube.com/watch?v=Fz2YwmHJtHk">『3月のライオン』※Blu-ray&amp;DVD第1巻告知映像</LinkExternal> 0:15
				</li>
			</ol>

			<div class="p-text">
				<p>また、展示エリアを出たところにあるエンドカードゾーンの一角に、6人のキャラクターボードが展示されていました。</p>
			</div>

			<div class="c-grid -medium">
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/yomoyama/monoga-modoka_kanazawa1.jpg" alt="写真拡大" width={306} height={306} quality={60} link={true} />
							<!-- 2016-12-22 IMG_5289 -->
						</div>
						<figcaption class="c-caption">MADOGATARI GALLERY でのキャラクターボード展示</figcaption>
					</figure>
				</div>
				<div class="c-grid__item">
					<figure>
						<div class="p-embed -border">
							<Image path="madoka/yomoyama/monoga-modoka_kanazawa2.jpg" alt="写真拡大" width={306} height={204} quality={60} link={true} />
							<!-- 2016-12-22 IMG_5296 -->
						</div>
						<figcaption class="c-caption">キャラクターボードが展示されていたエリアの様子</figcaption>
					</figure>
				</div>
			</div>
		</Section>
	</Section>
</Layout>
