---
import dayjs from 'dayjs';
import Layout from '@layouts/Kumeta.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治画業30周年記念「全曝し展」トレーディング著者缶バッジの出典',
	heading: '「全曝し展」トレーディング著者缶バッジの出典',
	dateModified: dayjs('2025-01-08'),
	description: '久米田康治画業30周年記念『全曝し展』で販売されたトレーディング著者缶バッジの写真やイラストの出典をまとめました。',
	image: 'https://media.w0s.jp/image/kumeta/yomoyama/zensarashi/badge_original.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="p-table">
		<table>
			<thead>
				<tr>
					<th scope="col">画像</th>
					<th scope="col">出典</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_1.jpg" alt="茶碗を手に笑顔の写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本1巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_2.jpg" alt="アイスホッケーのスティックを持った写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本3巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_3.jpg" alt="着物を着た写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本4巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_4.jpg" alt="裸マントの仮装写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本4巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_5.jpg" alt="全裸で椅子に座った写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本6巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_6.jpg" alt="アフリカ仮面を持った写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本7巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_7.jpg" alt="上半身裸でキメ顔の写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本9巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_8.jpg" alt="口元に薔薇を添えた写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本10巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_9.jpg" alt="パンツ一丁でポーズを取った全身写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本13巻　カバー折り返し（久米ちゃん人形♥）</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_10.jpg" alt="赤ん坊の写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本15巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_11.jpg" alt="セピア風で真顔の写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本18巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_12.jpg" alt="左手を口元に添えた真顔写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本19巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_13.jpg" alt="全裸でベッドに座った写真" width={72} height={72} quality={60} /></th>
					<td>『<cite>行け!!南国アイスホッケー部</cite>』単行本23巻　カバー折り返し</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_14.jpg" alt="女性とのツーショット写真（写植によるセリフ入り）" width={72} height={72} quality={60} /></th>
					<td>ゲームショー「<cite>E3</cite>」記念写真（週刊少年サンデー 1999年31号「<cite>久米田康治 LAに行く!</cite>」まんがルポ掲載）</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_15.jpg" alt="一人での記念写真" width={72} height={72} quality={60} /></th>
					<td>ゲームショー「<cite>E3</cite>」記念写真（週刊少年サンデー 1999年31号「<cite>久米田康治 LAに行く!</cite>」まんがルポ掲載）</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_16.jpg" alt="モノクロの笑顔写真" width={72} height={72} quality={60} /></th>
					<td>第31回講談社漫画賞授賞式　二次会　生前葬遺影写真</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_17.jpg" alt="「Lです」と片足を曲げた白黒イラスト" width={72} height={72} quality={60} /></th>
					<td>『<cite>さよなら絶望先生</cite>』単行本12集　紙ブログ</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_18.jpg" alt="魚目で少し驚いた表情の白黒イラスト（老けている）" width={72} height={72} quality={60} /></th>
					<td>『<cite>さよなら絶望先生</cite>』単行本17集　おまけ漫画『罪期の家』</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_19.jpg" alt="イケメン風の白黒イラスト「死にます」" width={72} height={72} quality={60} /></th>
					<td>『<cite>さよなら絶望先生</cite>』単行本24集　紙ブログ</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_20.jpg" alt="「人生50年」と書かれたTシャツを着て椅子に座っている白黒イラスト" width={72} height={72} quality={60} /></th>
					<td>『<cite>かくしごと</cite>』単行本6巻　うろ覚え漫画家仕事場遍歴</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_21.jpg" alt="魚目で慌てている白黒イラスト" width={72} height={72} quality={60} /></th>
					<td>『<cite>かくしごと</cite>』単行本11巻　うろ覚え漫画家仕事場遍歴4（後編）</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_22.jpg" alt="「PG32」のエプロンを着たカラーイラスト" width={72} height={72} quality={60} /></th>
					<td>『<cite>かってに改蔵　かってに研究しやがれBOOK</cite>』完全版セット　カバー</td>
				</tr>
				<tr>
					<th scope="row"><Image path="kumeta/yomoyama/zensarashi/badge_23.jpg" alt="呆然とした表情で椅子に座ったカラーイラスト、隣にはうろペン、周囲には原稿が舞っている" width={72} height={72} quality={60} /></th>
					<td>久米田康治画業30周年記念トークショー「<cite>かってに回想 ～30年間の『なくしごと』～</cite>」　イベントビジュアル</td>
				</tr>
			</tbody>
		</table>
	</div>
</Layout>
