---
import dayjs from 'dayjs';
import Layout from '@layouts/Kumeta.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '久米田康治画業30周年記念「全曝し展」の様子',
	heading: '「全曝し展」の様子',
	dateModified: dayjs('2022-03-27'),
	description: '2021年6月26日〜7月14日に池袋マルイで開催された「久米田康治画業30周年記念『全曝し展』〜本当は31周年〜」の様子をスライドショーで紹介します。',
	image: 'https://i1.ytimg.com/vi/Dtb8tbftKsc/hqdefault.jpg',
	breadcrumb: [{ path: '/kumeta/', name: 'ホーム' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<figure>
		<div class="p-embed -border">
			<iframe src="https://www.youtube-nocookie.com/embed/Dtb8tbftKsc?cc_load_policy=1" allow="accelerometer;autoplay;clipboard-write;encrypted-media;fullscreen;gyroscope;picture-in-picture" title="YouTube 動画" width="560" height="315" style="--aspect-ratio: 560/315"></iframe>
		</div>
		<figcaption class="c-caption -meta">
			<LinkExternal href="https://www.youtube.com/watch?v=Dtb8tbftKsc" class="c-caption__title">久米田康治「全曝し展」の様子</LinkExternal>
		</figcaption>
	</figure>

	<ul class="p-notes">
		<li>撮影日は基本的に2021年6月28日ですが、一部6月26日、7月7日に撮った写真も使用しています。また、物販コーナーは期間中何度か配置換えが行われています。</li>
		<li>本動画の BGM は<LinkExternal href="https://dova-s.jp/bgm/play11550.html">空に遥かに</LinkExternal>を使用しています。</li>
	</ul>
</Layout>
