---
interface Props {
	headingLevel: number;
}

const { headingLevel } = Astro.props;
---

<aside class="p-amazon">
	{
		headingLevel === 2 && (
			<h2 class="p-amazon__hdg">
				<img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" />
			</h2>
		)
	}
	{
		headingLevel === 3 && (
			<h3 class="p-amazon__hdg">
				<img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" />
			</h3>
		)
	}
	{
		headingLevel === 4 && (
			<h4 class="p-amazon__hdg">
				<img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" />
			</h4>
		)
	}

	<ul class="p-amazon__list">
		<slot />
	</ul>
</aside>
