---

---

<div class="p-amazon">
	<p class="p-amazon__label"><img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></p>
	<ul class="p-amazon__list">
		<slot />
	</ul>
</div>
