<div class="box">
	<slot />
</div>

<style>
	@layer component {
		.box {
			border: 1px solid var(--border-color-dark);
			border-radius: var(--border-radius-normal);
			background-color: var(--color-white);
			padding: 1em;

			& > :global(* + *) {
				margin-block-start: var(--stack-margin-base);
			}
		}
	}
</style>
