---
import LinkExternal from './LinkExternal.astro';

interface Props {
	href: string;
	title?: string;
}

const { href, title } = Astro.props;
---

<div class="embeded-link">
	<LinkExternal href={href} icon={title !== undefined} class="link">
		<slot name="media" />
		{title !== undefined && <span class="title">{title}</span>}
	</LinkExternal>
</div>

<style>
	.embeded-link {
		line-height: var(--line-height-narrow);
		font-size: calc(100% / pow(var(--font-ratio), 1));
	}

	.link {
		outline: none;

		& > :global(img) {
			outline-offset: -1px;
			border: 1px solid var(--color-black);
		}

		&:focus {
			& > :global(img) {
				outline: var(--outline-width-bold) solid var(--outline-color);
			}
		}
	}

	.title {
		outline-offset: var(--outline-offset);

		&::before {
			display: block flow;
			content: '';
		}

		:global(:any-link:focus) > & {
			outline: var(--outline-width) solid var(--outline-color);
		}
	}
</style>
