<div class="flex">
	<slot />
</div>

<style>
	@layer component {
		.flex {
			--_gap-row: 1em;
			--_gap-col: 50px;

			display: block flex;
			flex-wrap: wrap;
			gap: var(--_gap-row) var(--_gap-col);
		}
	}
</style>
