---
interface Props {
	headingType?: 'a' | 'b' | 'c' | 'd';
}

const { headingType } = Astro.props;
---

<div class:list={['flex', headingType !== undefined ? `-hdg-${headingType}` : undefined]}>
	<slot />
</div>

<style>
	@layer component {
		.flex {
			--_gap-row: 1em;
			--_gap-col: 50px;

			display: block flex;
			flex-wrap: wrap;
			gap: var(--_gap-row) var(--_gap-col);

			&.-hdg-a {
				--_gap-row: 4.5rem;
			}

			&.-hdg-b {
				--_gap-row: 3.75rem;
			}

			&.-hdg-c {
				--_gap-row: 3rem;
			}
		}
	}
</style>
