<div class="flex">
	<slot />
</div>

<style>
	@layer component {
		.flex {
			display: block flex;
			flex-wrap: wrap;
			gap: var(--stack-margin-base) calc(var(--page-content-width) / 16);
		}
	}
</style>
