<span class="c-footnote-ref"><template class="astro-footnote-reference"><a href="" id="" is="w0s-tooltip-trigger" data-tooltip-label="脚注" data-tooltip-class="p-tooltip" data-tooltip-close-text="閉じる" data-tooltip-close-image-src="/assets/image/tooltip-close.svg">[<span class="build-number"></span>]</a><div class="build-slot"><slot /></div></template></span>
