<span class="c-footnote-ref"><template class="astro-footnote-reference"><a href="" id="" class="js-footnote-reference-popover" data-popover-label="脚注" data-popover-class="p-footnote-popover" data-popover-close-text="閉じる" data-popover-close-image-src="/assets/image/footnote-popover-close.svg">[<span class="build-number"></span>]</a><div class="build-slot"><slot /></div></template></span>
