---
interface Props {
	column: 'wide' | 'medium' | 'narrow';
}

const { column } = Astro.props;
---

<div class:list={['grid', `-${column}`]}>
	<slot />
</div>

<style>
	@layer component {
		.grid {
			--_gap-row: 50px;
			--_gap-col: 50px;
			--_min-inline-size: auto;

			display: block grid;
			grid-template-columns: repeat(auto-fill, minmax(min(var(--_min-inline-size), 100%), 1fr));
			gap: var(--_gap-row) var(--_gap-col);

			/* 2カラム */
			&.-wide {
				--_min-inline-size: 360px;
			}

			/* 3カラム */
			&.-medium {
				--_min-inline-size: 240px;
			}

			/* 4カラム */
			&.-narrow {
				--_min-inline-size: 180px;
			}
		}
	}
</style>
