---
interface Props {
	type?: 'note' | 'ref';
	by: string;
}

const { type = 'note', by } = Astro.props;

let typeLabel = '';
switch (type) {
	case 'note': {
		typeLabel = '注';
		break;
	}
	case 'ref': {
		typeLabel = '文献';
		break;
	}
	default:
}
---

<span class="c-footnote-ref"><template class:list={['astro-noteref', `-${type}`]} data-by={by}><a class="js-footnote-reference-popover" data-popover-label="脚注" data-popover-class="p-footnote-popover" data-popover-hide-text="閉じる" data-popover-hide-image-src="/assets/image/footnote-popover-close.svg" data-popover-hide-image-width="24" data-popover-hide-image-height="24">[{typeLabel}<x-number></x-number>]</a></template></span>
