---
import DateWareki from '@components/DateWareki.astro';

interface Props {
	summary?: string;
	no?: string;
	title?: string;
	date?: string;
	possess?: ('tetsudo' | 'kensetsu' | 'tokyo')[];
}

const { summary, no, title, date, possess } = Astro.props;

const possessDisplay: string[] = [];
if (possess !== undefined && date !== undefined) {
	if (possess.includes('tetsudo')) {
		const date1 = new Date(date);

		if (date1 < new Date('1943-11-01')) {
			possessDisplay.push('鉄道省');
		} else if (date1 < new Date('1945-05-19')) {
			possessDisplay.push('運輸通信省');
		} else {
			possessDisplay.push('運輸省');
		}
	}
	if (possess.includes('kensetsu')) {
		possessDisplay.push('建設省');
	}
	if (possess.includes('tokyo')) {
		possessDisplay.push('東京府');
	}
}
---

<span class="c-tokyu-licence">
	{summary !== undefined && <span class="c-tokyu-licence__summary">{summary}</span>}
	{no !== undefined && <span class="c-tokyu-licence__no">{no}</span>}
	{title !== undefined && <cite class="c-tokyu-licence__title">{title}</cite>}
	{date !== undefined && <DateWareki value={date} class="c-tokyu-licence__date" />}{date === undefined && <span class="c-tokyu-licence__date">時期不明</span>}
	{possessDisplay.length > 0 && <span class="c-tokyu-licence__possess">資料：{possessDisplay.join('、')}</span>}
</span>
