---
import DateWareki from '@components/DateWareki.astro';

interface Props {
	summary?: string;
	no?: string;
	title?: string;
	date?: string;
}

const { summary, no, title, date } = Astro.props;
---

<span class="c-tokyu-licence">
	{summary !== undefined && <span class="c-tokyu-licence__summary">{summary}</span>}
	{no !== undefined && <span class="c-tokyu-licence__no">{no}</span>}
	{title !== undefined && <span class="c-tokyu-licence__title">{title}</span>}
	{date !== undefined && <DateWareki value={date} class="c-tokyu-licence__date" />}{date === undefined && <span class="c-tokyu-licence__date">時期不明</span>}
</span>
