---
interface Props {
	id: string;
	heading: string;
}

const { id, heading } = Astro.props;
---

<section class="top-update" id={id}>
	<header class="header">
		<div class="hdg">
			<h2>{heading}</h2>
		</div>

		<div class="notice">
			<slot name="notice" />
		</div>
	</header>
	<div class="main">
		<ul class="list">
			<slot name="item" />
		</ul>
	</div>
</section>

<style>
	.top-update {
		margin-block-start: 5em;
	}

	.header {
		display: block flex;
		flex-flow: wrap;
		gap: 0.25em 1em;
		align-items: baseline;
		justify-content: space-between;
	}

	.hdg {
		line-height: var(--line-height-narrow);
		font-size: calc(100% * pow(var(--font-ratio), 2));
	}

	.notice {
	}

	.main {
		margin-block-start: 0.125em;
	}

	.list {
		container-type: inline-size;
		border: 2px solid var(--color-border-light);
		border-radius: var(--border-radius-normal);
		background: var(--color-white);
		overflow: hidden;
	}
</style>
