<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>東急電車のBS-33型 静止形インバータ</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/yomoyama/">東急電車よもやま話</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">BS-33型 静止形インバータ</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2009年5月1日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>従来、照明や空調装置などの低圧電源には、発電機を回転させる電動発電機（MG）が使われていましたが、1960年代には半導体技術の発展により静止形インバータ（SIV）が台頭しました。</p>
						<p>量産型SIVを最初に採用したのは、1968年デビューの東京都交通局旧6000系ですが、東急電鉄でも1969年に登場した旧8000系のM2車であるデハ8200形に、東京芝浦電気（当時）の開発した10kVAのSIVが搭載されました。</p>
						<p>1976年には冷房電源にも対応した大容量タイプが量産を開始し、8500系7次車より搭載され本格的に普及しましたが、現在ではMGはもちろんSIVも旧型のものは淘汰が進んでいます。このような中、もっとも古いタイプがわずかながら残っており、貴重な存在となっています。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="bs33">
						<div class="p-section__hdg">
							<h2>BS-33型インバータ装置</h2>
						</div>

						<div class="p-text">
							<p>現在、10kVA-SIVは大井町線のデハ8290形（8590系組込車を除く）に搭載されています。出力は単相交流200V・7.5kVA、直流105V・2.5kWで、制御装置や照明などの低圧電源用に開発されたものです。</p>
							<p>8000系、8500系、および8090系用に100台以上が製造されましたが、車両の組成替えや廃車などに伴い数を減らしており、現存するのはわずかとなっています。近年でも2000年にデハ8296とデハ8282、2005年にデハ8298とデハ8290の二電源化工事が行われ、100kVAの大容量タイプに換装されています。写真は、現存する中でもっとも古い個体で、1971年製のものです。</p>
							<p>側面には、熱放散のため<dfn>キーストンプレート</dfn>と呼ばれる、波状に加工された板が張られています。</p>
						</div>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure>
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/yomoyama/bs33/BS33.jpg" type="image/jpeg"> <img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/bs33/BS33.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="htmlbuild-image" /><!-- 撮影日: 2009-05-27 --></a>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">正面から見たBS-33（デハ8288）</p>
									</figcaption>
								</figure>
							</div>
							<div class="c-grid__item">
								<figure>
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/yomoyama/bs33/BS33_keystone.jpg" type="image/jpeg"> <img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/bs33/BS33_keystone.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="htmlbuild-image" /><!-- 撮影日: 2010-03-23 --></a>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">キーストンプレート（デハ8288）</p>
									</figcaption>
								</figure>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="cg89">
						<div class="p-section__hdg">
							<h2>遮断器</h2>
						</div>

						<div class="p-text">
							<p>BS-33装備車に搭載されている起動装置はCG-89型です。架線からの直流1500Vを引き込む入力回路に相当し、高速度遮断器やフィルタリアクトルなどで構成されています。</p>
						</div>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure>
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/yomoyama/bs33/CG89.jpg" type="image/jpeg"> <img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/bs33/CG89.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="htmlbuild-image" /><!-- 撮影日: 2008-09-06 --></a>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">遮断器（デハ8280）</p>
									</figcaption>
								</figure>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="tokyu-8290">
						<div class="p-section__hdg">
							<h2>大井町線デハ8290形</h2>
						</div>

						<div class="p-text">
							<p>大井町線の8090系編成は大井町方から Tc2-M-M2-M1-Tc1 の5連となっており、3両目のデハ8290形山側にSIV本体、海側に起動装置（遮断器箱）が搭載されています。</p>
						</div>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure>
									<div class="p-embed -border">
										<a href="https://media.w0s.jp/image/tokyu/yomoyama/bs33/tokyu_8290.jpg" type="image/jpeg"> <img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/bs33/tokyu_8290.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="htmlbuild-image" /><!-- 撮影日: 2009-05-05 --></a>
									</div>
									<figcaption class="c-caption -meta">
										<p class="c-caption__title">デハ8291山側（12-1次車）</p>
									</figcaption>
								</figure>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
