<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>茨城県の東急(旧)6000系廃車体</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/yomoyama/">東急電車よもやま話</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">茨城県の旧6000系廃車体</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2018年12月23日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>VVVF試験車として改造され、1987年まで活躍した旧6000系（6200系）車両は、その後4両全車が車体のみ売りに出され、茨城県各所で倉庫や店舗などに活用されました。</p>
						<p>これらの車体は2018年までにすべて撤去され、現在では見ることができません。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#deha6201">デハ6201</a></li>
						<li><a href="#deha6202">デハ6202</a></li>
						<li><a href="#deha6301">デハ6301</a></li>
						<li><a href="#deha6302">デハ6302</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="c-section -hdg-a" id="deha6201">
						<div class="p-hdg">
							<h2>デハ6201</h2>
						</div>

						<div class="p-text">
							<p>土浦市虫掛の株式会社オリトモ本社に置かれていました。幌枠が残っているのが貴重でした。</p>
						</div>

						<ul class="p-note">
							<li>2018年に撤去されました。</li>
						</ul>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6201.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6201（撮影: <span class="htmlbuild-datetime">2009年5月</span
										><!-- 2009-05-03 -->）
									</figcaption>
								</figure>
							</div>
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201_surroundings.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6201が置かれている周辺（撮影: <span class="htmlbuild-datetime">2017年4月</span
										><!-- 2017-04-22 -->）
									</figcaption>
								</figure>
							</div>
						</div>

						<ul class="p-link">
							<li>
								<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E8%99%AB%E6%8E%9B3585">Google マップで地図を表示する（茨城県土浦市虫掛3585）<img src="/assets/image/icon/map.svg" alt="" width="16" height="16" class="c-link-icon" /></a>
							</li>
							<li>
								<a href="https://maps.gsi.go.jp/#18/36.089654/140.180083/&amp;ls=seamlessphoto&amp;disp=1&amp;lcd=seamlessphoto_spec&amp;vs=c1j0h0k0l0u0t0z0r0s0m0f0&amp;d=vl" class="htmlbuild-domain">国土地理院の航空写真（2008年撮影）</a>
							</li>
						</ul>

						<div class="p-text">
							<p>アクセス: <a href="https://www.kantetsu.co.jp/bus/" class="htmlbuild-domain">関東鉄道バス</a>の「田中三丁目」または「田中二丁目北」バス停より徒歩数分。</p>
						</div>
					</section>

					<section class="c-section -hdg-a" id="deha6202">
						<div class="p-hdg">
							<h2>デハ6202</h2>
						</div>

						<div class="p-text">
							<p>阿見町若栗のアンティーク展示場（ウェアハウス阿見倉庫）にありました。当時は敷地内に事務所と思われる建物があり、そこに隣接して置かれていました。車両の屋根上には住宅用空調装置がずらりと置かれるなど、異様な光景となっていました。</p>
						</div>

						<ul class="p-note">
							<li>2017年4月に訪問したところ、事務所と思われる建物もろとも撤去されていました。</li>
						</ul>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6202.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6202（撮影: <span class="htmlbuild-datetime">2009年5月</span
										><!-- 2009-05-03 -->）
									</figcaption>
								</figure>
							</div>
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6202_trace.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6202が置かれていた跡地（撮影: <span class="htmlbuild-datetime">2017年4月</span
										><!-- 2017-04-22 -->）
									</figcaption>
								</figure>
							</div>
						</div>

						<ul class="p-link">
							<li>
								<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E7%A8%B2%E6%95%B7%E9%83%A1%E9%98%BF%E8%A6%8B%E7%94%BA%E8%8B%A5%E6%A0%973418-110">Google マップで地図を表示する（茨城県稲敷郡阿見町若栗3418-110）<img src="/assets/image/icon/map.svg" alt="" width="16" height="16" class="c-link-icon" /></a>
							</li>
							<li>
								<a href="https://maps.gsi.go.jp/#18/36.012309/140.210411/&amp;base=std&amp;ls=std%7C_ort&amp;blend=0&amp;disp=11&amp;lcd=airphoto&amp;vs=c1j0l0u0t0z0r0f0&amp;d=vl" class="htmlbuild-domain">国土地理院の航空写真（2008年撮影）</a>
							</li>
						</ul>
					</section>

					<section class="c-section -hdg-a" id="deha6301">
						<div class="p-hdg">
							<h2>デハ6301</h2>
						</div>

						<div class="p-text">
							<p>結城郡石下町（現在の常総市）で「ロングライダース」というバーの店舗として利用されていたようですが、現存しません。</p>
						</div>

						<ul class="p-link">
							<li>
								<a href="https://www.google.com/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%B8%B8%E7%B7%8F%E5%B8%82%E6%9C%AC%E7%9F%B3%E4%B8%8B1072">Google マップで地図を表示する（茨城県常総市本石下1072）<img src="/assets/image/icon/map.svg" alt="" width="16" height="16" class="c-link-icon" /></a>
							</li>
							<li><a href="http://web.archive.org/web/20080331115231/http://www9.big.or.jp/~rdct55/6000vvvf.html" class="htmlbuild-domain">6000系インバータ試験車（東急電車フォトギャラリー）</a>（当時の様子を紹介しているウェブページ）</li>
						</ul>
					</section>

					<section class="c-section -hdg-a" id="deha6302">
						<div class="p-hdg">
							<h2>デハ6302</h2>
						</div>

						<div class="p-text">
							<p>土浦市宍塚の製薬会社敷地内に置かれていまた。昔は近づくことさえ困難な状況だったようですが、2009年の時点では隣接するコンビニエンスストアの駐車場から連結面や山側側面を観察することができました。</p>
						</div>

						<ul class="p-note">
							<li>2014年～2015年頃に撤去されたようです。ブログ「饂飩と蕎麦」の記事<a href="https://karaageya.exblog.jp/25291913/" class="htmlbuild-domain">東急6000系の保存車たち</a>に2015年2月時点で更地になっていたとの情報があります。</li>
						</ul>

						<div class="c-grid -wide">
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6302_1.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_1.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_1.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_1.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_1.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_1.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6302 （1位側）（撮影: <span class="htmlbuild-datetime">2009年5月</span
										><!-- 2009-05-03 -->）
									</figcaption>
								</figure>
							</div>
							<div class="c-grid__item">
								<figure class="p-embed">
									<a href="https://media.w0s.jp/image/tokyu/yomoyama/ibaraki_6000/6302_2.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_2.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_2.jpg?type=avif;w=1000;quality=30 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_2.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_2.jpg?type=webp;w=1000;quality=30 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6302_2.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" width="500" height="333" class="p-embed__image" /> </picture
									></a>
									<figcaption class="p-embed__caption c-embedded-caption -meta">
										デハ6302 （2位側）（撮影: <span class="htmlbuild-datetime">2009年5月</span
										><!-- 2009-05-03 -->）
									</figcaption>
								</figure>
							</div>
						</div>

						<ul class="p-link">
							<li>
								<a href="https://www.google.co.jp/maps?q=%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%9C%9F%E6%B5%A6%E5%B8%82%E5%AE%8D%E5%A1%9A327-1">Google マップで地図を表示する（茨城県土浦市宍塚327-1）<img src="/assets/image/icon/map.svg" alt="" width="16" height="16" class="c-link-icon" /></a>
							</li>
							<li><a href="https://maps.gsi.go.jp/#18/36.074574/140.164052/&amp;base=std&amp;ls=std%7C_ort&amp;blend=0&amp;disp=11&amp;lcd=airphoto&amp;vs=c1j0l0u0t0z0r0f0&amp;d=vl" class="htmlbuild-domain">国土地理院の航空写真（2008年撮影）</a></li>
						</ul>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
