<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>東急電車よもやま話</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">東急電車よもやま話</h1>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両や車両機器に関するよもやま話です。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="yomoyama">
						<div class="p-section__hdg">
							<h2>車両よもやま</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="8637">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/8637/1998_balloon.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">8637Fの装飾移り変わり</span>
									</a>
									<div class="p-item__text">
										<p>装飾の変遷や編成替えの記録を紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="echizen_mc1101">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/echizen_mc1101/MC1102.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">えちぜん鉄道MC1101形の主制御器（MMC-H-10K）</span>
									</a>
									<div class="p-item__text">
										<p>えちぜん鉄道MC1101形の主制御器は、元をたどれば東急・旧3000系グループで使われていたものです。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="imanao">
						<div class="p-section__hdg">
							<h2>"今なお現役" 的なもの</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="hsc">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/hsc/sakusei.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">HSC電磁直通ブレーキ</span>
									</a>
									<div class="p-item__text">
										<p>東急では最後のHSCブレーキ搭載車となったデヤ7200、デヤ7290と、弘南鉄道黒石駅で平日朝に行われている増解結作業を紹介します。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="bs33">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/bs33/tokyu_8290.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">BS-33型 静止形インバータ</span>
									</a>
									<div class="p-item__text">
										<p>大井町線のデハ8290形に搭載されている10kVAの静止形インバータはSIV黎明期の貴重な個体です。</p>
									</div>
								</div>
							</li>
							<li class="c-grid__item">
								<div class="p-item">
									<a href="ca105">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ca105/mizuma_7003.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">CA-105型 放送装置</span>
									</a>
									<div class="p-item__text">
										<p>水間鉄道と熊本電気鉄道に残るテープ式の放送装置を紹介します。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="preserve">
						<div class="p-section__hdg">
							<h2>保存車</h2>
						</div>

						<ul class="c-grid -wide">
							<li class="c-grid__item">
								<div class="p-item">
									<a href="ibaraki_6000">
										<img src="https://media.w0s.jp/thumbimage/tokyu/yomoyama/ibaraki_6000/6201.jpg?type=jpeg;w=180;quality=60" alt="" width="180" height="126" class="p-item__image htmlbuild-image" />
										<span class="p-item__title">茨城県の旧6000系廃車体</span>
									</a>
									<div class="p-item__text">
										<p>茨城県各所で倉庫や店舗などに活用されていた旧6000系を訪ねました。</p>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</main>
				<div class="l-content__footer"><%- include('./_include/_contents_footer_source') %></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
