---
import HeaderSearch from '@components/header/Search.astro';
import HeaderSite from '@components/header/Site.astro';

interface Props {
	top: boolean;
}

const { top } = Astro.props;
---

<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<HeaderSite top={top} href="/" name="w0s.jp" summary="富永冴樹の個人サイト" />
		</div>
		<div class="l-header__utility">
			<div class="l-header__search">
				<HeaderSearch />
			</div>
		</div>
	</div>
</header>
