---
import PageHeaderSearch from '@layouts/include/PageHeaderSearch.astro';

interface Props {
	top?: boolean;
}

const { top = false } = Astro.props;
---

<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			{
				top && (
					<hgroup class="p-header-site">
						<h1 class="p-header-site__name">久米田康治データベース</h1>
						<p class="p-header-site__summary">漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト</p>
					</hgroup>
				)
			}
			{
				!top && (
					<div class="p-header-site">
						<div class="p-header-site__name">
							<a href="/kumeta/">久米田康治データベース</a>
						</div>
						<p class="p-header-site__summary">漫画家・久米田康治先生の作品データや周辺動向を紹介するファンサイト</p>
					</div>
				)
			}
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/kumeta/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">新着フィード</span>
				</a>
			</div>

			<PageHeaderSearch />
		</div>
	</div>
</header>
