---
import SsrUtil from '@utils/Ssr.js';
import PageHeaderSearch from './PageHeaderSearch.astro';

const pagePath = await SsrUtil.getPageUrl(Astro.url);
const topPage = pagePath === '/';
---

<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			{
				topPage && (
					<hgroup class="p-header-site">
						<h1 class="p-header-site__name">
							<a aria-current="page">w0s.jp</a>
						</h1>
						<p class="p-header-site__summary">富永冴樹の個人サイト</p>
					</hgroup>
				)
			}
			{
				!topPage && (
					<div class="p-header-site">
						<div class="p-header-site__name">
							<a href="/">w0s.jp</a>
						</div>
						<p class="p-header-site__summary">富永冴樹の個人サイト</p>
					</div>
				)
			}
		</div>
		<div class="l-header__nav">
			<PageHeaderSearch />
		</div>
	</div>
</header>
