<div id="sidebar" class="l-sidebar">
	<aside class="p-sidebar-blog-entries" hidden="">
		<h2 class="p-sidebar-blog-entries__hdg">最近の日記記事</h2>

		<ul class="p-sidebar-link -entry">
			<template id="sidebar-blog-newly-template">
				<li><a href=""></a></li>
			</template>
		</ul>
	</aside>
</div>
