---
import PageHeaderSearch from '@layouts/include/PageHeaderSearch.astro';

interface Props {
	top?: boolean;
}

const { top = false } = Astro.props;
---

<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			{
				top && (
					<hgroup class="p-header-site">
						<h1 class="p-header-site__name">まどか資料館</h1>
						<p class="p-header-site__summary">『<cite>魔法少女まどか☆マギカ</cite>』の各種データやイベントレポートを紹介するサイト</p>
					</hgroup>
				)
			}
			{
				!top && (
					<div class="p-header-site">
						<div class="p-header-site__name">
							<a href="/madoka/">まどか資料館</a>
						</div>
						<p class="p-header-site__summary">『<cite>魔法少女まどか☆マギカ</cite>』の各種データやイベントレポートを紹介するサイト</p>
					</div>
				)
			}
		</div>
		<div class="l-header__utility">
			<div class="l-header__feed">
				<a href="/madoka/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/assets/image/icon/feed.svg" alt="" width="16" height="16" class="c-button__icon" />
					<span class="c-button__text">新着フィード</span>
				</a>
			</div>
			<PageHeaderSearch />
		</div>
	</div>
</header>
