---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急池上、多摩川線　1000N系、1000N′系（2014年〜）',
	heading: '池上、多摩川線　1000N系、1000N′系',
	subHeading: '2014年〜',
	dateModified: dayjs('2018-12-28'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '7600系、7700系、1000系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/7600_iketama_2000', name: '2000年〜2018年' },
			{ path: '/tokyu/set/1000_iketama_2014', name: '2014年〜（1000N系、1000N′系）' },
			{ path: '/tokyu/set/1500_iketama_2014', name: '2014年〜（1000系1500番台）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2014年の機器更新から" invDate="2014-05-19" invCar="デハ1322">
		<SetPanel image="1000_iketama_2014.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td>多摩川</td>
							<td>蒲田</td>
							<td>雪が谷大塚</td>
							<td>五反田</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>各停</td>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>蒲田</td>
							<td>五反田</td>
							<td>多摩川</td>
							<td>雪が谷大塚</td>
						</tr>
						<tr>
							<td>蒲田→雪が谷大塚</td>
							<td>蒲田→五反田</td>
							<td>蒲田→多摩川</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li>2018年12月28日、デハ1319 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
