---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急東横線　1000系、1000N系（2004年〜2013年）',
	heading: '東横線　1000系、1000N系',
	subHeading: '2004年〜2013年',
	dateModified: dayjs('2006-01-01'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2004年<!-- 1月 -->の桜木町廃止から、2013年の日比谷線直通廃止まで</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/1000_toyoko_2004.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>元町・中華街</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td></td>
									</tr>
									<tr>
										<td>北千住</td>
										<td>南千住</td>
										<td>八丁堀</td>
										<td>武蔵小杉</td>
										<td>横浜</td>
										<td>中目黒</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>普通</td>
										<td>急行</td>
										<td>快速</td>
										<td></td>
										<td></td>
										<td>各停</td>
										<td>通勤特急</td>
										<td>特急</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>元町・中華街</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td></td>
										<td>北千住</td>
										<td>南千住</td>
									</tr>
									<tr>
										<td>八丁堀</td>
										<td>武蔵小杉</td>
										<td>横浜</td>
										<td></td>
										<td></td>
										<td></td>
										<td>中目黒</td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>試運転</td>
										<td>回送</td>
										<td>臨時</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>白幕</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2006年1月1日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>クハ1002</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>2005年12月31日、1000N系も同じ内容であることをクハ1010 にて確認。<small>（ただし機器本体は別もので、始発駅が3行、行先が4行のタイプを改造して使っているため、テプラで表記が修正されている）</small></li>
	</ul>
</Layout>
