---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急東横線　クハ1011、デハ1310（2003年）',
	heading: '東横線　クハ1011、デハ1310',
	subHeading: '2003年',
	dateModified: '2003-05-05',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2003年3月の通勤特急新設から、同年の運用離脱まで" invDate="2003-05-05" invCar="デハ1310 ないしクハ1011（車番不明）">
		<SetPanel image="1010&1310_toyoko_2003.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td>渋谷</td>
							<td>田園調布</td>
							<td>元住吉</td>
							<td>日吉</td>
							<td>菊名</td>
							<td>桜木町</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>北千住</td>
							<td>南千住</td>
							<td>八丁堀</td>
							<td></td>
							<td></td>
							<td>中目黒</td>
						</tr>
						<tr>
							<td>目黒</td>
							<td>大岡山</td>
							<td>奥沢</td>
							<td>多摩川園</td>
							<td>蒲田</td>
							<td></td>
							<td>通勤特急</td>
							<td>特急</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>普通</td>
							<td>急行</td>
							<td>快速</td>
							<td>日比谷線直通</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>渋谷</td>
							<td>田園調布</td>
							<td>元住吉</td>
							<td>日吉</td>
							<td>菊名</td>
							<td>桜木町</td>
							<td>北千住</td>
							<td>南千住</td>
						</tr>
						<tr>
							<td>八丁堀</td>
							<td>目黒</td>
							<td>大岡山</td>
							<td>奥沢</td>
							<td>多摩川園</td>
							<td>蒲田</td>
							<td>中目黒</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>白幕</td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li><q>通勤特急</q><q>特急</q>がなぜか「始発駅」の項目にあることに注目。</li>
		<li>2003年の通勤特急新設前は<q>通勤特急</q>欄が空ボタンの他は上記と同じ。</li>
	</ListNote>
</Layout>
