---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急東横線　クハ1011、デハ1310（2003年）',
	heading: '東横線　クハ1011、デハ1310',
	subHeading: '2003年',
	dateModified: dayjs('2003-05-05'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2003年<!-- 3月 -->の通勤特急新設から、同年の運用離脱まで</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/1010&1310_toyoko_2003.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td>北千住</td>
										<td>南千住</td>
										<td>八丁堀</td>
										<td></td>
										<td></td>
										<td>中目黒</td>
									</tr>
									<tr>
										<td>目黒</td>
										<td>大岡山</td>
										<td>奥沢</td>
										<td>多摩川園</td>
										<td>蒲田</td>
										<td></td>
										<td>通勤特急</td>
										<td>特急</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>普通</td>
										<td>急行</td>
										<td>快速</td>
										<td>日比谷線直通</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
										<td>北千住</td>
										<td>南千住</td>
									</tr>
									<tr>
										<td>八丁堀</td>
										<td>目黒</td>
										<td>大岡山</td>
										<td>奥沢</td>
										<td>多摩川園</td>
										<td>蒲田</td>
										<td>中目黒</td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>試運転</td>
										<td>回送</td>
										<td>臨時</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>白幕</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2003年5月5日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>デハ1310 ないしクハ1011（車番不明）</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li><q>通勤特急</q><q>特急</q>がなぜか「始発駅」の項目にあることに注目。</li>
		<li>2003年の通勤特急新設前は<q>通勤特急</q>欄が空ボタンの他は上記と同じ。</li>
	</ul>
</Layout>
