---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急世田谷線　300系（〜2008年）',
	heading: '世田谷線　300系',
	subHeading: '〜2008年',
	dateModified: dayjs('2006-04-15'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '300系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/300_setagaya_1999', name: '〜2008年' },
			{ path: '/tokyu/set/300_setagaya_2008', name: '2008年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2008年の放送操作器更新まで" invDate="2006-04-15" invCar="デハ304-A">
		<SetPanel image="300_setagaya_1999.svg" imageWidth={631} imageHeight={553}>
			<section>
				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>交通安全</td>
							<td>交通高齢者</td>
							<td>夏季輸送</td>
							<td>年末年始</td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<table>
					<tbody>
						<tr>
							<td>上り出庫</td>
							<td>下り出庫</td>
							<td></td>
							<td>入庫</td>
						</tr>
					</tbody>
				</table>

				<table>
					<tbody>
						<tr>
							<td>駅順戻す</td>
							<td>乗換案内</td>
							<td>駅順進め</td>
						</tr>
					</tbody>
				</table>

				<table>
					<tbody>
						<tr>
							<td>運通</td>
							<td>自動放送</td>
							<td>車内放送</td>
							<td>車外←</td>
							<td>車外→</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>お詫び(事故)</td>
							<td>お詫び(ﾀﾞｲﾔ)</td>
						</tr>
						<tr>
							<td>車交</td>
							<td>車内事故</td>
						</tr>
						<tr>
							<td>事故</td>
							<td>次駅回送</td>
						</tr>
						<tr>
							<td>誤停車</td>
							<td>車両故障</td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>
</Layout>
