---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急池上、多摩川線　7600系、7700系、1000N系、1000N′系（2000年〜2018年）',
	heading: '池上、多摩川線　7600系、7700系、1000N系、1000N′系',
	subHeading: '2000年〜2018年',
	dateModified: dayjs('2016-03-06'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: [
		{ path: '/tokyu/set/7600_iketama_2000', name: '2000年〜2018年' },
		{ path: '/tokyu/set/1000_iketama_2014', name: '2014年〜（1000N系、1000N′系）' },
		{ path: '/tokyu/set/1500_iketama_2014', name: '2014年〜（1000系1500番台）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2000年<!-- 8月 -->の駅名変更から、2018年の7700系引退まで</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/7600_iketama_2000.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td>北千住</td>
										<td>南千住</td>
										<td>八丁堀</td>
										<td></td>
										<td></td>
										<td>中目黒</td>
									</tr>
									<tr>
										<td>目黒</td>
										<td>大岡山</td>
										<td>奥沢</td>
										<td>多摩川</td>
										<td>蒲田</td>
										<td>雪が谷大塚</td>
										<td>五反田</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>普通</td>
										<td>急行</td>
										<td>快速</td>
										<td>日比谷線直通</td>
										<td>試運転</td>
										<td>回送</td>
										<td>臨時</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
										<td>北千住</td>
										<td>南千住</td>
									</tr>
									<tr>
										<td>八丁堀</td>
										<td>目黒</td>
										<td>大岡山</td>
										<td>奥沢</td>
										<td>多摩川</td>
										<td>蒲田</td>
										<td>雪が谷大塚</td>
										<td>五反田</td>
									</tr>
									<tr>
										<td>蒲田→多摩川</td>
										<td>蒲田→五反田</td>
										<td>蒲田→雪が谷大塚</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>白幕</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>メニュー放送</h2>
							<table>
								<tbody>
									<tr>
										<td>交通安全</td>
										<td>携帯電話</td>
										<td>夏季輸送</td>
										<td>年末年始</td>
										<td>負傷防止</td>
										<td>お詫び</td>
										<td>車交</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2005年3月17日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>クハ7603</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>1000N系、1000N′系は2014年より機器更新が行われ、7600系は2015年に全廃されたため、このタイプが最後まで残っていたのは7700系であった。</li>
		<li>デハ1313 のみは種別のいちばん右側が空欄ではなく<q>特急</q>だった（2006年1月5日確認）。</li>
		<li>2016年3月6日、7700系の複数の車両で変更がないことを確認。</li>
	</ul>
	<!--
デハ7653 2005-12-31
クハ7603 2005-12-31

デハ7701 2005-03-25
デハ7702 2005-12-16
デハ7703 2005-12-17
デハ7705 2005-03-25
デハ7706 2005-03-20
デハ7707 2005-12-15
デハ7708 2005-12-20
デハ7710 2005-12-16
デハ7712 2005-03-25
デハ7713 2005-03-24
デハ7714 2005-04-02
デハ7715 2005-12-16
クハ7901 2005-03-25
クハ7902 2005-12-14
クハ7903 2005-12-15
クハ7905 2005-03-25
クハ7906 2005-03-16
クハ7907 2005-03-25
クハ7908 2005-12-14
クハ7910 2005-04-05
クハ7912 2005-03-24
クハ7913 2005-03-24
クハ7914 2005-04-02
クハ7915 2005-03-25

デハ1315 2005-12-31
デハ1316 2005-12-31
デハ1319 2005-12-31
クハ1013 2005-06-06
クハ1017 2005-12-31
クハ1019 2005-12-31
-->
</Layout>
