---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急東横線　8000系、8590系（2004年暫定）',
	heading: '東横線　8000系、8590系',
	subHeading: '2004年暫定',
	dateModified: dayjs('2004-01-05'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout structuredData={structuredData}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">みなとみらい線対応化から、2004年<!-- 1月 -->の桜木町廃止までの一時的なもの</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/8000_toyoko_2004.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>元町・中華街</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
									</tr>
									<tr>
										<td>武蔵小杉</td>
										<td>横浜</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>各停</td>
										<td>急行</td>
										<td>快速</td>
										<td></td>
										<td></td>
										<td></td>
										<td>通勤特急</td>
										<td>特急</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>元町・中華街</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td>桜木町</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td>武蔵小杉</td>
										<td>横浜</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>試運転</td>
										<td>回送</td>
										<td>臨時</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>白幕</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2004年1月5日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>クハ8000形（車番不明）</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>みなとみらい線開業後は始発駅と行先から<q>桜木町</q>が削除された。</li>
	</ul>
</Layout>
