---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急東横線　8000系、8590系（2004年暫定）',
	heading: '東横線　8000系、8590系',
	subHeading: '2004年暫定',
	dateModified: dayjs('2004-01-05'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="みなとみらい線対応化から、2004年1月の桜木町廃止までの一時的なもの" invDate="2004-01-05" invCar="クハ8000形（車番不明）">
		<SetPanel image="8000_toyoko_2004.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td>渋谷</td>
							<td>元町・中華街</td>
							<td>元住吉</td>
							<td>日吉</td>
							<td>菊名</td>
							<td>桜木町</td>
						</tr>
						<tr>
							<td>武蔵小杉</td>
							<td>横浜</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>各停</td>
							<td>急行</td>
							<td>快速</td>
							<td></td>
							<td></td>
							<td></td>
							<td>通勤特急</td>
							<td>特急</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>渋谷</td>
							<td>元町・中華街</td>
							<td>元住吉</td>
							<td>日吉</td>
							<td>菊名</td>
							<td>桜木町</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>武蔵小杉</td>
							<td>横浜</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>白幕</td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li>みなとみらい線開業後は始発駅と行先から<q>桜木町</q>が削除された。</li>
	</ListNote>
</Layout>
