---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8090系（2009年〜2013年）',
	heading: '大井町線　8090系',
	subHeading: '2009年〜2013年',
	dateModified: '2013-04-14',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '8000系、8090系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8000_oimachi_2000', name: '2000年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2006', name: '2006年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2007', name: '2007年〜2009年' },
			{ path: '/tokyu/set/8090_oimachi_2009', name: '2009年〜2013年' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2009年7月の溝の口延伸から、2013年の引退まで" note="上り方先頭車に設置" invDate="2009-07-29" invCar="クハ8085">
		<SetPanel image="8090_oimachi_2009.svg" imageWidth={480} imageHeight={975}>
			<section>
				<h2>種別対照表</h2>

				<ul>
					<li>0: (空欄)</li>
					<li>1: (空欄)</li>
					<li>2: (空欄)</li>
					<li>3: (空欄)</li>
					<li>4: (空欄)</li>
					<li>5: 急行</li>
					<li>6: B各</li>
					<li>7: G各</li>
					<li>8: (空欄)</li>
					<li>9: (空欄)</li>
					<li>10: (空欄)</li>
				</ul>
			</section>

			<section>
				<h2>行先対照表</h2>

				<ul>
					<li>01: 試運転</li>
					<li>02: 回送</li>
					<li>03: 臨時</li>
					<li>04: 訓練車</li>
					<li>05: 貸切</li>
					<li>06: (空欄)</li>
					<li>07: (空欄)</li>
					<li>08: (空欄)</li>
					<li>09: (空欄)</li>
					<li>10: 鷺沼</li>
					<li>11: 長津田</li>
					<li>12: 大井町</li>
					<li>13: 中央林間</li>
					<li>14: 二子玉川</li>
					<li>15: 自由が丘</li>
					<li>16: 大岡山</li>
					<li>17: 溝の口</li>
					<li>18: 梶が谷</li>
					<li>19: あざみ野</li>
					<li>20: (空欄)</li>
				</ul>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li><a href="/tokyu/set/8090_oimachi_2007">溝の口延伸前バージョン</a>のものに追加部分をマジックで手書き対応している車両も一部に存在した。（2009年7月8日、クハ8089 にて確認）</li>
		<li>2013年4月14日、クハ8099 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
