---
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　電車とバスの博物館　8090系モックアップ（シミュレーション用）',
	heading: '電車とバスの博物館　8090系モックアップ',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">電車とバスの博物館のシミュレーション用モックアップ（13次車ベース）</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -dial">
				<object data="/tokyu/set/image/8090_ttm.png" type="image/png" width="640" height="640" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<ul id="set-image-alt1">
						<li>1: 試運転</li>
						<li>2: 回送</li>
						<li>3: 臨時</li>
						<li>4: 渋谷</li>
						<li>5: 桜木町</li>
						<li>6: 元住吉</li>
						<li>7: 日吉</li>
						<li>8: 菊名</li>
						<li>9: 急行 渋谷</li>
						<li>10: 急行 桜木町</li>
						<li>11: 急行 元住吉</li>
						<li>12: 急行 日吉</li>
						<li>13: 急行 菊名</li>
						<li>14: 大井町</li>
						<li>15: 二子玉川園</li>
						<li>16: 自由が丘</li>
						<li>17: 梶が谷</li>
						<li>18: 鷺沼</li>
						<li>19: 長津田</li>
						<li>20: こどもの国</li>
						<li>21: (空欄)</li>
						<li>22: (空欄)</li>
						<li>23: (空欄)</li>
						<li>24: (空欄)</li>
						<li>25: (空欄)</li>
						<li>26: (空欄)</li>
						<li>27: (空欄)</li>
						<li>28: (空欄)</li>
						<li>29: (空欄)</li>
						<li>30: (空欄)</li>
					</ul>
				</object>
			</div>
		</div>
	</div>
</Layout>
