---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanelDial from '@components/tokyu/SetPanelDial.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8090系（直通急行対応編成、2006年〜2008年）',
	heading: '大井町線　8090系',
	subHeading: '直通急行対応編成、2006年〜2008年',
	dateModified: '2008-02-17',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '8000系、8090系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8000_oimachi_2000', name: '2000年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2006', name: '2006年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2007', name: '2007年〜2009年' },
			{ path: '/tokyu/set/8090_oimachi_2009', name: '2009年〜2013年' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2006年4月より始まった直通急行対応化から、2008年2月のLED化まで" note="田園都市線直通急行対応編成の上り方先頭車に設置" invDate="2006-04-29" invCar="クハ8090形（車番不明）">
		<SetPanelDial image="8090_oimachi_2006.png">
			<ul>
				<li>1: 試運転</li>
				<li>2: 回送</li>
				<li>3: 臨時</li>
				<li>4: (空欄)</li>
				<li>5: (空欄)</li>
				<li>6: (空欄)</li>
				<li>7: (空欄)</li>
				<li>8: (空欄)</li>
				<li>9: (空欄)</li>
				<li>10: 急行 鷺沼</li>
				<li>11: 急行 長津田</li>
				<li>12: 急行 大井町</li>
				<li>13: 急行 中央林間</li>
				<li>14: 各停 中央林間</li>
				<li>15: 各停 大井町</li>
				<li>16: 各停 二子玉川</li>
				<li>17: 各停 自由が丘</li>
				<li>18: 各停 大岡山</li>
				<li>19: 各停 鷺沼</li>
				<li>20: 各停 長津田</li>
				<li>21: (空欄)</li>
				<li>22: (空欄)</li>
				<li>23: (空欄)</li>
				<li>24: (空欄)</li>
				<li>25: (空欄)</li>
				<li>26: (空欄)</li>
				<li>27: (空欄)</li>
				<li>28: (空欄)</li>
				<li>29: (空欄)</li>
				<li>30: (空欄)</li>
			</ul>
		</SetPanelDial>
	</Set>

	<ListNote>
		<li>2008年2月17日、クハ8081 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
