---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8090系（2009年〜2013年）',
	heading: '大井町線　8090系',
	subHeading: '2009年〜2013年',
	dateModified: dayjs('2013-04-14'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: [
		{ path: '/tokyu/set/8000_oimachi_2000', name: '2000年〜2008年' },
		{ path: '/tokyu/set/8090_oimachi_2006', name: '2006年〜2008年' },
		{ path: '/tokyu/set/8090_oimachi_2007', name: '2007年〜2009年' },
		{ path: '/tokyu/set/8090_oimachi_2009', name: '2009年〜2013年' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2009年<!-- 7月 -->の溝の口延伸から、2013年の引退まで</p>
			<p class="p-tokyu-set-note">上り方先頭車に設置</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -num-8090">
				<object data="/tokyu/set/image/8090_oimachi_2009.svg" type="image/svg+xml" width="480" height="975" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>種別対照表</h2>
							<ul>
								<li>0: (空欄)</li>
								<li>1: (空欄)</li>
								<li>2: (空欄)</li>
								<li>3: (空欄)</li>
								<li>4: (空欄)</li>
								<li>5: 急行</li>
								<li>6: B各</li>
								<li>7: G各</li>
								<li>8: (空欄)</li>
								<li>9: (空欄)</li>
								<li>10: (空欄)</li>
							</ul>
						</section>

						<section>
							<h2>行先対照表</h2>
							<ul>
								<li>01: 試運転</li>
								<li>02: 回送</li>
								<li>03: 臨時</li>
								<li>04: 訓練車</li>
								<li>05: 貸切</li>
								<li>06: (空欄)</li>
								<li>07: (空欄)</li>
								<li>08: (空欄)</li>
								<li>09: (空欄)</li>
								<li>10: 鷺沼</li>
								<li>11: 長津田</li>
								<li>12: 大井町</li>
								<li>13: 中央林間</li>
								<li>14: 二子玉川</li>
								<li>15: 自由が丘</li>
								<li>16: 大岡山</li>
								<li>17: 溝の口</li>
								<li>18: 梶が谷</li>
								<li>19: あざみ野</li>
								<li>20: (空欄)</li>
							</ul>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2009年7月29日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>クハ8085</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li><a href="8090_oimachi_2007">溝の口延伸前バージョン</a>のものに追加部分をマジックで手書き対応している車両も一部に存在した。<small>（2009年7月8日、クハ8089 にて確認）</small></li>
		<li>2013年4月14日、クハ8099 にて変更がないことを確認。</li>
	</ul>
</Layout>
