---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8090系（2007年〜2009年）',
	heading: '大井町線　8090系',
	subHeading: '2007年〜2009年',
	dateModified: '2008-02-02',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '8000系、8090系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8000_oimachi_2000', name: '2000年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2006', name: '2006年〜2008年' },
			{ path: '/tokyu/set/8090_oimachi_2007', name: '2007年〜2009年' },
			{ path: '/tokyu/set/8090_oimachi_2009', name: '2009年〜2013年' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2007年9月より始まった表示器 LED 化から、2009年7月の溝の口延伸まで" note="上り方先頭車に設置" invDate="2008-02-02" invCar="クハ8095">
		<SetPanel image="8090_oimachi_2007.svg" imageWidth={480} imageHeight={975}>
			<section>
				<h2>種別対照表</h2>

				<ul>
					<li>0: (空欄)</li>
					<li>1: (空欄)</li>
					<li>2: (空欄)</li>
					<li>3: (空欄)</li>
					<li>4: (空欄)</li>
					<li>5: 急行</li>
					<li>6: 各停</li>
					<li>7: (空欄)</li>
					<li>8: (空欄)</li>
					<li>9: (空欄)</li>
				</ul>
			</section>

			<section>
				<h2>行先対照表</h2>

				<ul>
					<li>01: 試運転</li>
					<li>02: 回送</li>
					<li>03: 臨時</li>
					<li>04: (空欄)</li>
					<li>05: (空欄)</li>
					<li>06: (空欄)</li>
					<li>07: (空欄)</li>
					<li>08: (空欄)</li>
					<li>09: (空欄)</li>
					<li>10: 鷺沼</li>
					<li>11: 長津田</li>
					<li>12: 大井町</li>
					<li>13: 中央林間</li>
					<li>14: 二子玉川</li>
					<li>15: 自由が丘</li>
					<li>16: 大岡山</li>
					<li>17: 溝の口</li>
					<li>18: 梶が谷</li>
					<li>19: あざみ野</li>
					<li>20: (空欄)</li>
				</ul>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li>クハ8091, 8095, 8097 以外の7両は行先対照表の #17〜#19 が空欄。</li>
	</ListNote>
</Layout>
