---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急田園都市線　8500系（東武乗入れ編成、2006年〜）',
	heading: '田園都市線　8500系',
	subHeading: '東武乗入れ編成、2006年〜',
	dateModified: dayjs('2013-04-14'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '田園都市線8500系（東武乗入れ編成）の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8500_denentoshi_tobu_2003', name: '2003年〜2006年' },
			{ path: '/tokyu/set/8500_denentoshi_tobu_2006', name: '2006年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2006年<!-- 3月 -->の乗入れ久喜延長対応から</p>
			<p class="p-tokyu-set-note">自動放送取付け編成を除く、東武乗入れ編成の下り方先頭車に設置</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/8500_denentoshi_tobu_2006.svg" type="image/svg+xml" width="720" height="740" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>試運転</td>
										<td>回送</td>
									</tr>
									<tr>
										<td>普通</td>
										<td>急行</td>
									</tr>
									<tr>
										<td>快速</td>
										<td>臨時</td>
									</tr>
									<tr>
										<td>区間準急</td>
										<td>通勤準急</td>
									</tr>
									<tr>
										<td>準急</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>久喜</td>
										<td></td>
										<td></td>
										<td>中央林間</td>
										<td></td>
										<td>長津田</td>
										<td>鷺沼</td>
										<td>梶が谷</td>
									</tr>
									<tr>
										<td>二子玉川</td>
										<td>渋谷</td>
										<td>青山一丁目</td>
										<td>永田町</td>
										<td>半蔵門</td>
										<td>九段下</td>
										<td>神保町</td>
										<td>三越前</td>
									</tr>
									<tr>
										<td>水天宮前</td>
										<td>あざみ野</td>
										<td>用賀</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>溝の口</td>
										<td>清澄白河</td>
									</tr>
									<tr>
										<td>住吉</td>
										<td>錦糸町</td>
										<td>押上</td>
										<td>曳舟</td>
										<td>北千住</td>
										<td>北越谷</td>
										<td>東武動物公園</td>
										<td>南栗橋</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2006年3月13日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>デハ8513 &amp; デハ8536</dd>
				</div>
			</dl>
		</div>
	</div>

	<ListNote>
		<li>一部に<a href="/tokyu/set/8500_denentoshi_announce_2006">自動放送搭載編成</a>と同じく、始発駅の駅名と種別に<q>急行南停</q>表記のある車両も存在した。<small>（2009年4月22日、デハ8525 で確認）</small></li>
		<li>2013年4月14日、複数の車両で変更がないことを確認。</li>
	</ListNote>
</Layout>
