---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8500系（2009年〜）',
	heading: '大井町線　8500系',
	subHeading: '2009年〜',
	dateModified: dayjs('2015-05-10'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '大井町線8500系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8500_oimachi_2003', name: '2003年〜2009年' },
			{ path: '/tokyu/set/8500_oimachi_2009-05', name: '2009年暫定' },
			{ path: '/tokyu/set/8500_oimachi_2009-07', name: '2009年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2009年<!-- 7月 -->の大井町線溝の口延伸から</p>
			<p class="p-tokyu-set-note">下り方先頭車に設置</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -dial-8500">
				<section>
					<h2>種別</h2>
					<object data="/tokyu/set/image/8500_oimachi_2009-07_train.png" type="image/png" width="460" height="460" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
						<ul id="set-image-alt1">
							<li>1: B各</li>
							<li>2: 急行</li>
							<li>3: G各</li>
							<li>4: 訓練車</li>
							<li>5: 試運転</li>
							<li>6: 回送</li>
							<li>7: 臨時</li>
							<li>8: 貸切</li>
							<li>9: (空欄)</li>
							<li>10: (空欄)</li>
						</ul>
					</object>
				</section>

				<section>
					<h2>行先</h2>
					<object data="/tokyu/set/image/8500_oimachi_2009-07_to.png" type="image/png" width="460" height="460" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt2">
						<ul id="set-image-alt2">
							<li>1: (空欄)</li>
							<li>2: (空欄)</li>
							<li>3: (空欄)</li>
							<li>4: (空欄)</li>
							<li>5: (空欄)</li>
							<li>6: (空欄)</li>
							<li>7: (空欄)</li>
							<li>8: (空欄)</li>
							<li>9: (空欄)</li>
							<li>10: 大井町</li>
							<li>11: 溝の口</li>
							<li>12: 大岡山</li>
							<li>13: 自由が丘</li>
							<li>14: 中央林間</li>
							<li>15: 長津田</li>
							<li>16: 鷺沼</li>
							<li>17: 梶が谷</li>
							<li>18: 二子玉川</li>
							<li>19: あざみ野</li>
							<li>20: (空欄)</li>
							<li>21: (空欄)</li>
							<li>22: (空欄)</li>
							<li>23: (空欄)</li>
							<li>24: (空欄)</li>
							<li>25: (空欄)</li>
							<li>26: (空欄)</li>
							<li>27: (空欄)</li>
							<li>28: (空欄)</li>
							<li>29: (空欄)</li>
							<li>30: (空欄)</li>
						</ul>
					</object>
				</section>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2009年7月10日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>デハ8541</dd>
				</div>
			</dl>
		</div>
	</div>

	<ListNote>
		<li>2015年5月10日、デハ8538 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
