---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanelDial8500 from '@components/tokyu/SetPanelDial8500.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急田園都市線　8500系（東武非乗入れ編成、2003年〜2007年）',
	heading: '田園都市線　8500系',
	subHeading: '東武非乗入れ編成、2003年〜2007年',
	dateModified: dayjs('2006-01-04'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '田園都市線8500系（東武非乗入れ編成）の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8500_denentoshi_k_2003', name: '2003年〜2007年' },
			{ path: '/tokyu/set/8500_denentoshi_k_2007', name: '2007年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2003年3月の半蔵門線押上延伸から、2007年4月の準急新設まで" note="東武非乗入れ編成の下り方先頭車に設置" invDate="2006-01-04" invCar="デハ8511">
		<SetPanelDial8500 trainImage="8500_denentoshi_k_2003_train.png" toImage="8500_denentoshi_k_2003_to.png">
			<ul slot="train">
				<li>1: 試運転</li>
				<li>2: 回送</li>
				<li>3: 普通</li>
				<li>4: 急行</li>
				<li>5: 快速</li>
				<li>6: 臨時</li>
				<li>7: (空欄)</li>
				<li>8: (空欄)</li>
				<li>9: (空欄)</li>
				<li>10: (空欄)</li>
			</ul>

			<ul slot="to">
				<li>1: (空欄)</li>
				<li>2: (空欄)</li>
				<li>3: (空欄)</li>
				<li>4: 中央林間</li>
				<li>5: (空欄)</li>
				<li>6: 長津田</li>
				<li>7: 鷺沼</li>
				<li>8: 梶が谷</li>
				<li>9: (空欄)</li>
				<li>10: 渋谷</li>
				<li>11: 青山一丁目</li>
				<li>12: 永田町</li>
				<li>13: 半蔵門</li>
				<li>14: 九段下</li>
				<li>15: 神保町</li>
				<li>16: 三越前</li>
				<li>17: 水天宮前</li>
				<li>18: あざみ野</li>
				<li>19: 用賀</li>
				<li>20: 二子玉川</li>
				<li>31: 溝の口</li>
				<li>32: 清澄白河</li>
				<li>33: 住吉</li>
				<li>34: 錦糸町</li>
				<li>35: 押上</li>
				<li>36: (空欄)</li>
				<li>37: (空欄)</li>
				<li>38: (空欄)</li>
				<li>39: (空欄)</li>
				<li>40: (空欄)</li>
			</ul>
		</SetPanelDial8500>
	</Set>

	<ListNote>
		<li>デハ8506 は行先の #9 が<q>二子玉川</q>で #20 が空欄（2006年1月2日確認）。</li>
	</ListNote>
</Layout>
