---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanelDial8500 from '@components/tokyu/SetPanelDial8500.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　8500系（2003年〜2009年）',
	heading: '大井町線　8500系',
	subHeading: '2003年〜2009年',
	dateModified: dayjs('2009-04-14'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '大井町線8500系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8500_oimachi_2003', name: '2003年〜2009年' },
			{ path: '/tokyu/set/8500_oimachi_2009-05', name: '2009年暫定' },
			{ path: '/tokyu/set/8500_oimachi_2009-07', name: '2009年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2003年3月〜5月の大井町線転籍から、2009年5月まで" note="下り方先頭車に設置" invDate="2006-01-04" invCar="デハ8541">
		<SetPanelDial8500 trainImage="8500_oimachi_2003_train.png" toImage="8500_oimachi_2003_to.png">
			<ul slot="train">
				<li>1: 試運転</li>
				<li>2: 回送</li>
				<li>3: 普通</li>
				<li>4: 急行</li>
				<li>5: 快速</li>
				<li>6: 臨時</li>
				<li>7: (空欄)</li>
				<li>8: (空欄)</li>
				<li>9: (空欄)</li>
				<li>10: (空欄)</li>
			</ul>

			<ul slot="to">
				<li>1: (空欄)</li>
				<li>2: (空欄)</li>
				<li>3: (空欄)</li>
				<li>4: 中央林間</li>
				<li>5: こどもの国</li>
				<li>6: 長津田</li>
				<li>7: 鷺沼</li>
				<li>8: 梶が谷</li>
				<li>9: 二子玉川</li>
				<li>10: 渋谷</li>
				<li>11: 青山一丁目</li>
				<li>12: 永田町</li>
				<li>13: 半蔵門</li>
				<li>14: 九段下</li>
				<li>15: 神保町</li>
				<li>16: 三越前</li>
				<li>17: 水天宮前</li>
				<li>18: (空欄)</li>
				<li>19: (空欄)</li>
				<li>20: 二子玉川</li>
				<li>21: 大井町</li>
				<li>22: 大岡山</li>
				<li>23: 自由が丘</li>
				<li>24: (空欄)</li>
				<li>25: 渋谷</li>
				<li>26: 田園調布</li>
				<li>27: 元住吉</li>
				<li>28: 日吉</li>
				<li>29: 菊名</li>
				<li>30: 桜木町</li>
			</ul>
		</SetPanelDial8500>
	</Set>

	<ListNote>
		<li>行先の #24 のシール貼りの下は<q>二子玉川園</q>。</li>
		<li>デハ8538 は種別&amp;行先ダイヤルとも下部の東芝表記が1984年制定の新ロゴであり、行先の #9 が全面シール貼り、#14〜#17 が直印刷（2006年3月1日確認）。</li>
		<li>デハ8539 も行先の #9 が全面シール貼り（2006年1月4日確認）。</li>
		<li>デハ8540 は行先の #17 のシール貼りがなく空欄（2006年1月5日確認）。</li>
		<li>上記掲載のデハ8541 も後年、行先の #9 が全面シール貼りに変更された（2009年4月14日確認）。</li>
	</ListNote>
</Layout>
