---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　東急田園都市線　8590系（2000年〜2003年）',
	heading: '田園都市線　8590系',
	subHeading: '2000年〜2003年',
	dateModified: '2003-02-14',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '田園都市線8590系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/8590_denentoshi_2000', name: '2000年〜2003年' },
			{ path: '/tokyu/set/8590_denentoshi_2006', name: '2006年〜2007年' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2000年8月の二子玉川駅名改称から、2003年2月の田園都市線撤退まで" invDate="2003-02-14" invCar="デハ8694">
		<SetPanel image="8590_denentoshi_2000.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td>中央林間</td>
							<td>長津田</td>
							<td>鷺沼</td>
							<td>二子玉川</td>
							<td>渋谷</td>
							<td>半蔵門</td>
						</tr>
						<tr>
							<td>水天宮前</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>普通</td>
							<td>急行</td>
							<td>快速</td>
							<td></td>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>中央林間</td>
							<td>こどもの国</td>
							<td>長津田</td>
							<td>鷺沼</td>
							<td>梶が谷</td>
						</tr>
						<tr>
							<td>二子玉川</td>
							<td>渋谷</td>
							<td>青山一丁目</td>
							<td>永田町</td>
							<td>半蔵門</td>
							<td>九段下</td>
							<td>神保町</td>
							<td>三越前</td>
						</tr>
						<tr>
							<td>水天宮前</td>
							<td>たまプラーザ</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>
</Layout>
