---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　東急大井町線　9000系（9001F、2007年〜2008年）',
	heading: '大井町線　9000系',
	subHeading: '9001F、2007年〜2008年',
	dateModified: dayjs('2007-09-02'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-set">
		<div class="l-tokyu-set__header">
			<p class="p-tokyu-set-period">2007年<!-- 8月 -->の大井町線転籍から、2008年<!-- 4月 -->の東横線復帰まで</p>
			<p class="p-tokyu-set-note">東横線からの転籍車・9001Fのみ</p>
		</div>
		<div class="l-tokyu-set__main">
			<div class="p-tokyu-set-panel -push">
				<object data="/tokyu/set/image/9000_oimachi_2007.svg" type="image/svg+xml" width="528" height="1170" class="p-tokyu-set-panel__image" role="img" aria-labelledby="set-image-alt1">
					<div id="set-image-alt1">
						<section>
							<h2>始発駅</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td></td>
									</tr>
									<tr>
										<td>大井町</td>
										<td>自由が丘</td>
										<td>鷺沼</td>
										<td>長津田</td>
										<td>二子玉川</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>種別</h2>
							<table>
								<tbody>
									<tr>
										<td>各停</td>
										<td>急行</td>
										<td>快速</td>
										<td></td>
										<td>試運転</td>
										<td>回送</td>
										<td>臨時</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>

						<section>
							<h2>行先</h2>
							<table>
								<tbody>
									<tr>
										<td>渋谷</td>
										<td>田園調布</td>
										<td>元住吉</td>
										<td>日吉</td>
										<td>菊名</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>大井町</td>
										<td>大岡山</td>
										<td>自由が丘</td>
										<td>二子玉川</td>
										<td></td>
										<td>鷺沼</td>
										<td>長津田</td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</object>
			</div>
		</div>
		<div class="l-tokyu-set__footer">
			<dl class="p-tokyu-set-data">
				<div>
					<dt>調査日</dt>
					<dd>2007年9月2日</dd>
				</div>
				<div>
					<dt>調査車両</dt>
					<dd>クハ9001</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
