---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '設定器配列　東急電車',
	heading: '設定器配列',
	dateModified: dayjs('2023-01-13'),
	description: '東急電鉄の車両の乗務員室に設置されている行先設定器のダイヤル、ボタン配列を紹介します。',
	breadcrumb: [{ path: '/tokyu/', name: '東急電車資料室' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="tokyu">
		<Fragment slot="heading">東急電鉄</Fragment>

		<Section id="series7600" depth={2} headingType="b">
			<Fragment slot="heading">7600系、7700系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>池上、多摩川線</td>
						<td><a href="/tokyu/set/7600_iketama_2000">系統変更 〜 引退</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>1000N系、1000N′系と同内容</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series8000" depth={2} headingType="b">
			<Fragment slot="heading">8000系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>東横線</td>
						<td><a href="/tokyu/set/8000_toyoko_2004">みなとみらい線対応 〜 桜木町廃止</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>8590系と同内容</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>大井町線</td>
						<td><a href="/tokyu/set/8000_oimachi_2000">二子玉川改称 〜 引退</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
						<td>8090系と同内容</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series8090" depth={2} headingType="b">
			<Fragment slot="heading">8090系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="4">大井町線</td>
						<td></td>
						<td><a href="/tokyu/set/8000_oimachi_2000">二子玉川改称 〜 表示器LED化</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
						<td>8000系と同内容</td>
					</tr>
					<tr>
						<td>直通急行対応車</td>
						<td><a href="/tokyu/set/8090_oimachi_2006">直通急行対応 〜 表示器LED化</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/8090_oimachi_2007">表示器LED化 〜 溝の口延伸</a></td>
						<td>番号選択</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/8090_oimachi_2009">溝の口延伸 〜 引退</a></td>
						<td>番号選択</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td colspan="2">電車とバスの博物館</td>
						<td><a href="/tokyu/set/8090_ttm">シミュレーション用モックアップ</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series8500" depth={2} headingType="b">
			<Fragment slot="heading">8500系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="7">田園都市線</td>
						<td rowspan="2">東武非乗入車</td>
						<td><a href="/tokyu/set/8500_denentoshi_k_2003">半蔵門線押上延伸 〜 準急新設</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/8500_denentoshi_k_2007">準急新設 〜</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td rowspan="2">東武乗入車</td>
						<td><a href="/tokyu/set/8500_denentoshi_tobu_2003">東武乗入 〜 乗入区間久喜延長</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/8500_denentoshi_tobu_2006">乗入区間久喜延長 〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td rowspan="3">自動放送搭載車</td>
						<td><a href="/tokyu/set/8500_denentoshi_announce_2005">自動放送取付 〜 乗入区間久喜延長</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/8500_denentoshi_announce_2006">乗入区間久喜延長 〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/8500_denentoshi_announce_2022">東武乗入終了 〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td rowspan="3">大井町線</td>
						<td></td>
						<td><a href="/tokyu/set/8500_oimachi_2003">大井町線転籍 〜 溝の口延伸準備</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/8500_oimachi_2009-05">溝の口延伸に伴う暫定版</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/8500_oimachi_2009-07">溝の口延伸 〜</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series8590" depth={2} headingType="b">
			<Fragment slot="heading">8590系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>東横線</td>
						<td><a href="/tokyu/set/8000_toyoko_2004">みなとみらい線対応 〜 桜木町廃止</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>8000系と同内容</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td rowspan="2">田園都市線</td>
						<td><a href="/tokyu/set/8590_denentoshi_2000">二子玉川改称 〜 田園都市線撤退</a></td>
						<td>押釦</td>
						<td>東芝</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/8590_denentoshi_2006">田園都市線再転籍 〜 準急新設</a></td>
						<td>押釦</td>
						<td>東芝</td>
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td rowspan="3">大井町線</td>
						<td><a href="/tokyu/set/8590_oimachi_2005">大井町線転籍 〜 溝の口延伸準備</a></td>
						<td>押釦</td>
						<td>東芝</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/9000_oimachi_2009-04">溝の口延伸に伴う暫定版</a></td>
						<td>押釦</td>
						<td>東芝</td>
						<td>9000系と同内容</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/9000_oimachi_2009-07">溝の口延伸 〜 大井町線撤退</a></td>
						<td>押釦</td>
						<td>東芝</td>
						<td>9000系と同内容</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series9000" depth={2} headingType="b">
			<Fragment slot="heading">9000系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">東横線</td>
						<td></td>
						<td><a href="/tokyu/set/9000_toyoko_2001">特急新設に伴う暫定版</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/9000_toyoko_2004">桜木町廃止 〜 東横線撤退</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td rowspan="5">大井町線</td>
						<td></td>
						<td><a href="/tokyu/set/9000_oimachi_2000">二子玉川改称 〜 溝の口延伸準備</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td>一時的な転籍車</td>
						<td><a href="/tokyu/set/9000_oimachi_2007">大井町線転籍 〜 東横線復帰</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/9000_oimachi_2009-04">溝の口延伸に伴う暫定版</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>8590系と同内容</td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/9000_oimachi_2009-07">溝の口延伸 〜 機器更新</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>8590系と同内容</td>
					</tr>
					<tr>
						<td></td>
						<td><a href="/tokyu/set/9000_oimachi_2012">機器更新 〜</a></td>
						<td>タッチパネル</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series1000" depth={2} headingType="b">
			<Fragment slot="heading">1000系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
						<th scope="col">備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">東横線</td>
						<td>1000系、1000N系</td>
						<td><a href="/tokyu/set/1000_toyoko_2004">桜木町廃止 〜 日比直廃止</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td>1000N系（中間運転台）</td>
						<td><a href="/tokyu/set/1010&1310_toyoko_2003">通勤特急新設 〜 運用離脱</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td rowspan="3">池上、多摩川線</td>
						<td>1000N系、1000N′系</td>
						<td><a href="/tokyu/set/7600_iketama_2000">系統変更 〜 機器更新</a></td>
						<td>押釦</td>
						<td>小糸</td>
						<td>7600系、7700系と同内容</td>
					</tr>
					<tr>
						<td>1000N系、1000N′系</td>
						<td><a href="/tokyu/set/1000_iketama_2014">機器更新 〜</a></td>
						<td>タッチパネル</td>
						<td>小糸</td>
						<td></td>
					</tr>
					<tr>
						<td>1000系1500番台</td>
						<td><a href="/tokyu/set/1500_iketama_2014">営業開始 〜</a></td>
						<td>タッチパネル</td>
						<td>小糸</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series2000" depth={2} headingType="b">
			<Fragment slot="heading">2000系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>田園都市線</td>
						<td><a href="/tokyu/set/2000_denentoshi_2002">押上延伸対応 〜 準急新設</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series3000" depth={2} headingType="b">
			<Fragment slot="heading">新3000系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>目黒線</td>
						<td><a href="/tokyu/set/3000_meguro_2006">2006年時点</a></td>
						<td>タッチパネル</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="series300" depth={2} headingType="b">
			<Fragment slot="heading">300系</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">所属</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">世田谷線</td>
						<td><a href="/tokyu/set/300_setagaya_1999">2008年の機器更新まで</a></td>
						<td>押釦</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/300_setagaya_2008">2008年の機器更新 〜</a></td>
						<td>押釦</td>
					</tr>
				</tbody>
			</table>
		</Section>
	</Section>

	<Section id="transfer">
		<Fragment slot="heading">譲渡車両</Fragment>

		<Section id="ner" depth={2} headingType="b">
			<Fragment slot="heading">長野電鉄</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>8500系</td>
						<td><a href="/tokyu/set/nagano_8500_2005">8500系導入 〜</a></td>
						<td>番号選択</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="ueda" depth={2} headingType="b">
			<Fragment slot="heading">上田電鉄</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1000系、6000系</td>
						<td><a href="/tokyu/set/ueda_1000_2008">1000系、6000系導入 〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="ikk" depth={2} headingType="b">
			<Fragment slot="heading">伊豆急行</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">8000系</td>
						<td><a href="/tokyu/set/izukyu_8000_2005">8000系導入 〜 3連化</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td><a href="/tokyu/set/izukyu_8000_2008">3連化 〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="toyohashi" depth={2} headingType="b">
			<Fragment slot="heading">豊橋鉄道</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>新1800系</td>
						<td>電動字幕装備車</td>
						<td><a href="/tokyu/set/toyohashi_1800_2001">現行版</a></td>
						<td>ダイヤル</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="toyama" depth={2} headingType="b">
			<Fragment slot="heading">富山地方鉄道</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">区分</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">17480形</td>
						<td>元・大井町線所属車</td>
						<td>
							<a href="/tokyu/set/toyama_17480_oimachi_2013">17480形導入〜</a>
						</td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
					<tr>
						<td>元・田園都市線所属車</td>
						<td>
							<a href="/tokyu/set/toyama_17480_denentoshi_2019">17480形追加導入〜</a>
						</td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>

		<Section id="yoro" depth={2} headingType="b">
			<Fragment slot="heading">養老鉄道</Fragment>

			<table class="p-tokyu-index-table">
				<thead>
					<tr>
						<th scope="col">車種</th>
						<th scope="col">期間</th>
						<th scope="col">方式</th>
						<th scope="col">製造</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>7700系</td>
						<td><a href="/tokyu/set/yoro_7700_2019">7700系導入〜</a></td>
						<td>押釦</td>
						<td>小糸</td>
					</tr>
				</tbody>
			</table>
		</Section>
	</Section>
</Layout>
