---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '設定器配列　伊豆急行　8000系（2005年〜2008年）',
	heading: '伊豆急行　8000系',
	subHeading: '2005年〜2008年',
	dateModified: dayjs('2007-12-29'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '伊豆急行8000系の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/izukyu_8000_2005', name: '2005年〜2008年' },
			{ path: '/tokyu/set/izukyu_8000_2008', name: '2008年〜' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2005年4月の8000系導入から、3連化まで" invDate="2006-01-11" invCar="クモハ8151">
		<SetPanel image="izukyu_8000_2005.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td>熱海</td>
							<td></td>
							<td>伊東</td>
							<td>伊豆高原</td>
							<td></td>
							<td>伊豆急下田</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>伊豆熱川</td>
							<td>伊豆稲取</td>
							<td>河津</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>普通</td>
							<td>快速</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>熱海</td>
							<td></td>
							<td>伊東</td>
							<td>伊豆高原</td>
							<td>伊豆熱川</td>
							<td>伊豆稲取</td>
							<td>河津</td>
							<td>伊豆急下田</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
							<td>団体</td>
							<td></td>
							<td></td>
							<td></td>
							<td>白幕</td>
						</tr>
						<tr>
							<td>車両交換</td>
							<td>増設2両</td>
							<td>増設4両</td>
							<td>乗務員集札</td>
							<td>ワンマン</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li>2007年12月29日、クモハ8152 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
