---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　富山地方鉄道　17480形（元・大井町線所属車、2013年〜）',
	heading: '富山地方鉄道　17480形',
	subHeading: '元・大井町線所属車、2013年〜',
	dateModified: dayjs('2020-11-11'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
	localNav: {
		label: '富山地方鉄道17480形の設定器バリエーション',
		items: [
			{ path: '/tokyu/set/toyama_17480_oimachi_2013', name: '元・大井町線所属車' },
			{ path: '/tokyu/set/toyama_17480_denentoshi_2019', name: '元・田園都市線所属車' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2013年11月の17480形導入から" invDate="2013-11-03" invCar="モハ17481">
		<SetPanel image="toyama_17480_oimachi_2013.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td>大井町</td>
							<td>溝の口</td>
							<td>大岡山</td>
							<td>自由が丘</td>
							<td>中央林間</td>
							<td>長津田</td>
						</tr>
						<tr>
							<td>鷺沼</td>
							<td>梶が谷</td>
							<td>二子玉川</td>
							<td>あざみ野</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>普通</td>
							<td>急行</td>
							<td>特急</td>
							<td></td>
							<td>試運転</td>
							<td>回送</td>
							<td>臨時</td>
							<td>舟橋</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>宇奈月</td>
							<td>新魚津</td>
							<td>電鉄富山</td>
							<td>岩峅・南</td>
							<td>岩峅・寺</td>
							<td>上市</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>滑川</td>
							<td>電鉄黒部</td>
							<td>立山・寺</td>
							<td>西魚津</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>

	<ListNote>
		<li>富山地方鉄道の駅名、種別はすべてシール貼り。</li>
		<li>2020年11月11日、元・田園都市線所属車の増備後も元・大井町線所属車に変更がないことを確認。<small>（シールの貼り直しによる表記方法の小変化はある）</small></li>
	</ListNote>
</Layout>
