---
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanelDial from '@components/tokyu/SetPanelDial.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '設定器配列　豊橋鉄道　新1800系',
	heading: '豊橋鉄道　新1800系',
	dateModified: '2006-02-25',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set note="電動字幕を装備する先頭車に設置" invDate="2005-12-04" invCar="モ1806">
		<SetPanelDial image="toyohashi_1800_2001.png">
			<ul>
				<li>1: 奥沢</li>
				<li>2: 田園調布</li>
				<li>3: 目黒</li>
				<li>4: 蒲田</li>
				<li>5: 五反田</li>
				<li>6: 雪が谷大塚</li>
				<li>7: 大井町</li>
				<li>8: 二子玉川園</li>
				<li>9: 自由が丘</li>
				<li>10: 梶が谷</li>
				<li>11: 鷺沼</li>
				<li>12: 長津田</li>
				<li>13: こどもの国</li>
				<li>14: (空欄)</li>
				<li>15: 回送</li>
				<li>16: 試運転</li>
				<li>17: 臨時</li>
				<li>18: 団体</li>
				<li>19: 新豊橋</li>
				<li>20: 三河田原</li>
				<li>21: 高師</li>
				<li>22: 大清水</li>
				<li>23: 老津</li>
				<li>24: (空欄)</li>
				<li>25: (空欄)</li>
				<li>26: (空欄)</li>
				<li>27: (空欄)</li>
				<li>28: (空欄)</li>
				<li>29: (空欄)</li>
				<li>30: (空欄)</li>
			</ul>
		</SetPanelDial>
	</Set>

	<ListNote>
		<li>2006年2月25日、モ1806 にて変更がないことを確認。</li>
	</ListNote>
</Layout>
