---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Set from '@components/tokyu/Set.astro';
import SetPanel from '@components/tokyu/SetPanel.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '設定器配列　養老鉄道　7700系（2019年〜）',
	heading: '養老鉄道　7700系',
	subHeading: '2019年〜',
	dateModified: dayjs('2019-04-30'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/set/', name: '設定器配列' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Set period="2019年4月の7700系導入から" invDate="2019-04-30" invCar="モ7712">
		<SetPanel image="yoro_7700_2019.svg" imageWidth={528} imageHeight={1170}>
			<section>
				<h2>始発駅</h2>

				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>種別</h2>

				<table>
					<tbody>
						<tr>
							<td>回送</td>
							<td>貸切</td>
							<td>試運転</td>
							<td>臨時</td>
							<td>薬膳</td>
							<td>初詣臨時</td>
							<td>ねこカフェ</td>
							<td>婚活</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>行先</h2>

				<table>
					<tbody>
						<tr>
							<td>揖斐</td>
							<td>大垣</td>
							<td>西大垣</td>
							<td>養老</td>
							<td>駒野</td>
							<td>石津</td>
							<td>美濃松山</td>
							<td>多度</td>
						</tr>
						<tr>
							<td>桑名</td>
							<td>塩浜</td>
							<td>急行 桑名</td>
							<td>急行 養老</td>
							<td>急行 大垣</td>
							<td>渋谷</td>
							<td>蒲田</td>
							<td>五反田</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>養老鉄道</td>
							<td>白幕</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>メニュー放送</h2>

				<table>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</section>
		</SetPanel>
	</Set>
</Layout>
