---
import Anchor from '@components/+phrasing/Anchor.astro';
import Image from '@components/+phrasing/Image.astro';
import CM from '@components/cm/CM.astro';
import BookItem from '@components/BookItem.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
---

<div id="cm" class="l-cm">
	<CM>
		<Grid column="wide">
			<GridItem>
				<BookItem sectionDepth={2} title="マギアレコード海外版動向" summary="自費出版、2019年8月発売">
					<Image slot="image" path="madoka/dojin/pictorial11_cover.jpg" alt="表紙: 複数並んだ駅のホームの一つに横長のマギレコポスターが掲出されており、隣の線路には路面電車が停車している写真" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>マギレコ中国版、繁中版、北米版のゲーム概要、イベントレポート、街頭広告の掲出例などをまとめました。</p>
					</Fragment>
					<Fragment slot="link">
						<Anchor href="/madoka/dojin/pictorial11">紹介ページ</Anchor>
					</Fragment>
				</BookItem>
			</GridItem>
			<GridItem>
				<BookItem sectionDepth={2} title="『劇場版　魔法少女まどか☆マギカ』韓国上映" summary="自費出版、2018年8月発売">
					<Image slot="image" path="madoka/dojin/pictorial10_cover.jpg" alt="表紙: 複数並んだ駅のホームの一つに横長のマギレコポスターが掲出されており、隣の線路には路面電車が停車している写真" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>『劇場版　魔法少女まどか☆マギカ』の韓国での上映の様子をまとめました。</p>
					</Fragment>
					<Fragment slot="link">
						<Anchor href="/madoka/dojin/pictorial10">紹介ページ</Anchor>
					</Fragment>
				</BookItem>
			</GridItem>
			<GridItem>
				<BookItem sectionDepth={2} title="美樹さやか駅ポスターめぐり" summary="自費出版、2018年8月発売">
					<Image slot="image" path="madoka/dojin/pictorial9_cover.jpg" alt="表紙: 複数並んだ駅のホームの一つに横長のマギレコポスターが掲出されており、隣の線路には路面電車が停車している写真" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>首都圏をはじめ100か所を超える範囲に展開された『マギアレコード』美樹さやか駅ポスターの全容をまとめました。</p>
					</Fragment>
					<Fragment slot="link">
						<Anchor href="/madoka/dojin/pictorial9">紹介ページ</Anchor>
					</Fragment>
				</BookItem>
			</GridItem>
			<GridItem>
				<BookItem sectionDepth={2} title="TVシリーズ　放送版とパッケージ版の比較" summary="自費出版、2017年8月発売">
					<Image slot="image" path="madoka/dojin/pictorial7_cover.jpg" alt="表紙: イベント会場での展示ブースの中央にあるディスプレイに『まどか☆マギカ』のアニメが流れている様子を写した写真" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>『魔法少女まどか☆マギカ』 TV シリーズの放送版と Blu-ray / DVD 版の映像違いをまとめました。</p>
					</Fragment>
					<Fragment slot="link">
						<Anchor href="/madoka/dojin/pictorial7">紹介ページ</Anchor>
					</Fragment>
				</BookItem>
			</GridItem>
		</Grid>
	</CM>
</div>
