---
import Image from '@components/+phrasing/Image.astro';
import ImageAmazon from '@components/+phrasing/ImageAmazon.astro';
import CM from '@components/cm/CM.astro';
import BookItem from '@components/BookItem.astro';
import Grid from '@components/Grid.astro';
import GridItem from '@components/GridItem.astro';
---

<div id="cm" class="l-cm">
	<CM>
		<Grid column="wide">
			<GridItem>
				<BookItem sectionDepth={2} title="私鉄車両ディテールガイド　東急9000系・1000系・2000系" summary="イカロス・ムック、2025年11月発売" link="https://www.amazon.co.jp/dp/4802216769/">
					<ImageAmazon slot="image" src="https://m.media-amazon.com/images/I/811MJUZeFoL._SL160_.jpg" alt="表紙: 上部に黒文字で書名、下部に赤帯を巻いた9000系の先頭部写真 " width={115} height={160} />
					<Fragment slot="details">
						<p>東急9000系、1000系、2000系のデビュー以来の動向、形態分類、設計者インタビューなどを担当しました。</p>
					</Fragment>
				</BookItem>
			</GridItem>
			<GridItem>
				<BookItem sectionDepth={2} title="公文書と統計資料でたどる玉川電気鉄道狭軌時代の車両" summary="自費出版、2024年12月発売" link="/tokyu/book/tamagawa1067">
					<Image slot="image" path="tokyu/book/tamagawa1067_cover.jpg" alt="表紙: クリーム色の背景に縦書きの書名、左下に公文書の本文（一部分）と青焼き図面の写真が1枚ずつ" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>資料や写真が少なく謎に包まれている玉川電気鉄道の狭軌時代の車両について、公文書や統計資料などをもとに解明を試みました。</p>
					</Fragment>
				</BookItem>
			</GridItem>
			<GridItem>
				<BookItem sectionDepth={2} title="東急7700系形態分類" summary="自費出版、2019年8月発売" link="/tokyu/book/7700">
					<Image slot="image" path="tokyu/book/7700_cover.jpg" alt="表紙: 上部に赤文字で書名、下部に7700系の正面写真が12枚並んでいる" width={114} height={160} quality={60} />
					<Fragment slot="details">
						<p>池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しました。</p>
					</Fragment>
				</BookItem>
			</GridItem>
		</Grid>
	</CM>
</div>
