---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '目黒蒲田電鉄、東京横浜電鉄　旅客車　車種別車両数推移',
	dateModified: dayjs('2024-08-12'),
	description: '目黒蒲田電鉄と東京横浜電鉄の開通から両社の合併（1939年）を経て、東京急行電鉄成立（1942年）までの鉄道線の旅客車の車両数推移をまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両デ―タ' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<p>目黒蒲田電鉄と東京横浜電鉄は<DateWareki value="1939" />の合併以前も両社間で車両の融通が図られており、譲受／譲渡および借り受け／貸し渡しがそれぞれ複数回行われています。そのため車両数の変遷を知るには入籍日や廃車日のデータだけではなく、それら車両の移動を含めた動向を考慮する必要があります。</p>
		<p>ここでは<LinkExternal href="https://www.archives.go.jp/">国立公文書館</LinkExternal>が所蔵する公文書（鉄道省文書）を元に両社の車両数推移をまとめました。</p>

		<ul class="p-list">
			<li>新製、改造、および他鉄道事業者（目蒲⇔東横間以外）からの譲受の日付は竣功届が提出された日とします（入籍日ではありません）。</li>
			<li>他鉄道事業者（目蒲⇔東横間以外）への譲渡の日付は<DateWareki value="1929-12" />以前の事例は認可日、届出制となったそれ以降は譲渡届が提出された日とします。</li>
			<li>目蒲⇔東横間の譲受、譲渡の日付は譲渡先において竣功届が提出された日とします（実際の車両の移動日とは限りません）。</li>
			<li>目蒲⇔東横間の借り受け、貸し渡しの日付は認可申請あるいは届出書類に記載された期間を元に記載しています（実際の車両の移動日とは限りません）。</li>
			<li>
				表中の鉄道事業者の名称は以下のとおり省略表記しています。
				<ul>
					<li>目蒲：目黒蒲田電鉄</li>
					<li>東横：東京横浜電鉄（<DateWareki value="1939-10-01" />に目黒蒲田電鉄と合併する前まで）</li>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>五日市：五日市鉄道<small>（現：JR 五日市線）</small></li>
					<li>神中：神中鉄道<small>（現：相模鉄道）</small></li>
					<li>江ノ電：江ノ島電気鉄道<small>（現：江ノ島電鉄）</small></li>
					<li>越中：越中鉄道<small>（後の富山地方鉄道射水線、1980年廃止）</small></li>
					<li>駿豆：駿豆鉄道<small>（現：伊豆箱根鉄道駿豆線）</small></li>
					<li>福武：福武電気鉄道<small>（現：福井鉄道）</small></li>
					<li>野上：野上電気鉄道<small>（1994年廃止）</small></li>
					<li>芝浦：芝浦製作所<small>（現：東芝）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="mekama">
		<H slot="heading">目黒蒲田電鉄</H>

		<div class="p-table -scroll">
			<table>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<colgroup span="14"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" colspan="2">出来事</th>
						<th scope="colgroup" rowspan="2">総車両数</th>
						<th scope="colgroup" colspan="14">車種別両数</th>
					</tr>
					<tr>
						<th scope="col">時期</th>
						<th scope="col">内容</th>
						<th scope="col">デハ1&amp;6</th>
						<th scope="col">デハ20</th>
						<th scope="col">デハ30</th>
						<th scope="col">デハ100</th>
						<th scope="col">デハ40&amp;モハ25</th>
						<th scope="col">デハ200</th>
						<th scope="col">デハ300&amp;クハ1</th>
						<th scope="col">モハ500</th>
						<th scope="col">モハ510</th>
						<th scope="col">モハ15</th>
						<th scope="col">モハ30</th>
						<th scope="col">モハ120</th>
						<th scope="col">モハ130</th>
						<th scope="col">モハ150</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><DateWareki value="1923-02-22" /></th>
						<th scope="row">デハ1–5 新製</th>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1923-03-11" /></th>
						<th scope="row">目黒―丸子間開通</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1923-10-04" /></th>
						<th scope="row">デハ6–10 新製</th>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1923-11-01" /></th>
						<th scope="row">丸子―蒲田間開通</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1924" />春</th>
						<th scope="row">鉄道省よりデハ6260形4両を借入<FootnoteReference>借り入れの認可申請書類には目黒蒲田電鉄における車号は記載されておらず、この時点では鉄道省車号のまま運用された可能性がありますが、本表では便宜上「デハ20形」としてカウントしています。</FootnoteReference></th>
						<td class="u-cell -end">14</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1924-11-30" /></th>
						<th scope="row">デハ21–24 鉄道省より譲受</th>
						<td class="u-cell -end">14</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1925-05-21" /></th>
						<th scope="row">デハ31–38 鉄道省より譲受</th>
						<td class="u-cell -end">22</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">8</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1926-03-08" /></th>
						<th scope="row">デハ101–105 東横より譲受<FootnoteReference>東京横浜電鉄における竣功（<DateWareki value="1925-12-07" />）と同時に目黒蒲田電鉄への譲渡申請が行われたため、事実上は目蒲への新製投入であったものと思われます。</FootnoteReference></th>
						<td class="u-cell -end">27</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">8</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1926-03-13" /></th>
						<th scope="row">デハ8–10、デハ32–38 東横へ譲渡</th>
						<td class="u-cell -end">17</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1926" />初夏(?)</th>
						<th scope="row">デハ41–44 鉄道省より譲受<FootnoteReference>書類上は鉄道省より10両を譲り受けたうえで6両を未使用のまま阪神急行電鉄<small>（現：阪急電鉄）</small>へ譲渡していますが、本表では実際に運用された両数を重視するためその6両分は除外しています。</FootnoteReference></th>
						<td class="u-cell -end">21</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1926-07-06" /></th>
						<th scope="row">デハ106–112 新製</th>
						<td class="u-cell -end">28</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">12</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-03-12" /></th>
						<th scope="row">デハ201–206 新製</th>
						<td class="u-cell -end">34</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">12</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-05-14" /></th>
						<th scope="row">デハ43–44 福武へ譲渡</th>
						<td class="u-cell -end">32</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">12</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-07-06" /></th>
						<th scope="row">大井町―大岡山間開通</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row" rowspan="2"><DateWareki value="1927-09-13" /></th>
						<th scope="row">デハ32, 35, 38 東横より譲受</th>
						<td rowspan="2" class="u-cell -end">29</td>
						<td rowspan="2" class="u-cell -end">7</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">6</td>
						<td rowspan="2" class="u-cell -end">2</td>
						<td rowspan="2" class="u-cell -end">6</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">デハ107–112 東横へ譲渡</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-09-29" /></th>
						<th scope="row">デハ301–305、クハ1–5 新製</th>
						<td class="u-cell -end">39</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-10-22" /></th>
						<th scope="row">デハ1–7 東横へ譲渡</th>
						<td class="u-cell -end">32</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row" rowspan="2">1928年度冬(?)</th>
						<th scope="row">デハ1–10 東横より譲受</th>
						<td rowspan="2" class="u-cell -end">35</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">2</td>
						<td rowspan="2" class="u-cell -end">6</td>
						<td rowspan="2" class="u-cell -end">9</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">デハ101–106、デハ306 東横へ譲渡</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1928-12-27" /></th>
						<th scope="row">モハ501–505 新製</th>
						<td class="u-cell -end">40</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1929-05-31" /></th>
						<th scope="row">モハ204–206 東横へ譲渡</th>
						<td class="u-cell -end">37</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1929-10-14" /></th>
						<th scope="row">モハ31, 32, 38 駿豆へ譲渡</th>
						<td class="u-cell -end">34</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1929-10-16" /></th>
						<th scope="row">モハ35 芝浦へ譲渡</th>
						<td class="u-cell -end">33</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1929-11-01" /></th>
						<th scope="row">自由ヶ丘―二子玉川間開通</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1929-12-25" /></th>
						<th scope="row">大岡山―自由ヶ丘間開通</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1930-03" />(?)</th>
						<th scope="row">モハ41 芝浦へ譲渡</th>
						<td class="u-cell -end">32</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row" rowspan="2"><DateWareki value="1932-03-31" /></th>
						<th scope="row">モハ306 東横より借受</th>
						<td rowspan="2" class="u-cell -end">30</td>
						<td rowspan="2" class="u-cell -end">7</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">1</td>
						<td rowspan="2" class="u-cell -end">3</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">モハ8–10 東横へ貸渡</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1932-05-24" /></th>
						<th scope="row">モハ514–515 新製</th>
						<td class="u-cell -end">32</td>
						<td class="u-cell -end">7</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row" rowspan="2"><DateWareki value="1932-08-15" /></th>
						<th scope="row">モハ306 東横からの借受終了</th>
						<td rowspan="2" class="u-cell -end">34</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">1</td>
						<td rowspan="2" class="u-cell -end">3</td>
						<td rowspan="2" class="u-cell -end">9</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">2</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">モハ8–10 東横への貸渡終了</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1934-10-01" /></th>
						<th scope="row">池上電気鉄道を合併</th>
						<td class="u-cell -end">56</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1935-02-25" /></th>
						<th scope="row">モハ18 越中へ譲渡</th>
						<td class="u-cell -end">55</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1935-06-24" /></th>
						<th scope="row">モハ17 野上へ譲渡</th>
						<td class="u-cell -end">54</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1935-08" /></th>
						<th scope="row">モハ542, 544–546 新製</th>
						<td class="u-cell -end">58</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1935-09-26" /></th>
						<th scope="row">モハ547–551 新製</th>
						<td class="u-cell -end">63</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">11</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1935-11-01" /></th>
						<th scope="row">雪ヶ谷―新奥沢間廃止</th>
						<td colspan="15"></td>
					</tr>
					<tr>
						<th scope="row" rowspan="2"><DateWareki value="1936-02-10" /></th>
						<th scope="row">モハ101–104、モハ306、モハ510–512 東横より借受</th>
						<td rowspan="2" class="u-cell -end">64</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">1</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">2</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">3</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">モハ200–202、モハ542, 544–546 東横へ貸渡</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1936-03-26" /></th>
						<th scope="row">モハ552, 554–562 新製</th>
						<td class="u-cell -end">74</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">20</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1936-05-15" /></th>
						<th scope="row">モハ36–39 東横へ譲渡（サハ1–4 へ改造）</th>
						<td class="u-cell -end">70</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">4</td>
						<td class="u-cell -end">1</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">20</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">6</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row" rowspan="2"><DateWareki value="1937-07-31" /></th>
						<th scope="row">モハ101–104、モハ306、モハ510–512 東横からの借受終了</th>
						<td rowspan="2" class="u-cell -end">69</td>
						<td rowspan="2" class="u-cell -end">10</td>
						<td rowspan="2" class="u-cell -end">4</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">0</td>
						<td rowspan="2" class="u-cell -end">1</td>
						<td rowspan="2" class="u-cell -end">3</td>
						<td rowspan="2" class="u-cell -end">9</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">21</td>
						<td rowspan="2" class="u-cell -end">2</td>
						<td rowspan="2" class="u-cell -end">6</td>
						<td rowspan="2" class="u-cell -end">5</td>
						<td rowspan="2" class="u-cell -end">3</td>
						<td rowspan="2" class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row">モハ200–202、モハ542, 544–546 東横への貸渡終了</th>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1937-12-29" /></th>
						<th scope="row">モハ21、モハ25、モハ30–31, 35 半鋼体化（モハ150形化）</th>
						<td class="u-cell -end">69</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">21</td>
						<td class="u-cell -end">2</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">5</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1938-03-01" /></th>
						<th scope="row">モハ15–16 江ノ電へ譲渡</th>
						<td class="u-cell -end">67</td>
						<td class="u-cell -end">10</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">9</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">21</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">5</td>
						<td class="u-cell -end">3</td>
						<td class="u-cell -end">5</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="toyoko">
		<H slot="heading">東京横浜電鉄</H>

		<div class="p-table -scroll">
			<table>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<colgroup span="8"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" colspan="2">出来事</th>
						<th scope="colgroup" rowspan="2">総車両数</th>
						<th scope="colgroup" colspan="8">車種別両数</th>
					</tr>
					<tr>
						<th scope="col">時期</th>
						<th scope="col">内容</th>
						<th scope="col">デハ1&amp;6</th>
						<th scope="col">デハ30</th>
						<th scope="col">デハ100</th>
						<th scope="col">デハ200</th>
						<th scope="col">デハ300&amp;クハ1</th>
						<th scope="col">モハ510</th>
						<th scope="col">キハ1</th>
						<th scope="col">モハ150&amp;サハ1</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1926-02-14" /></th>
						<th scope="row">丸子多摩川―神奈川間開通</th>
						<td colspan="9"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1927-08-28" /></th>
						<th scope="row">渋谷―丸子多摩川間開通</th>
						<td colspan="9"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1928-05-18" /></th>
						<th scope="row">神奈川―高島間開通</th>
						<td colspan="9"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1932-03-31" /></th>
						<th scope="row">高島町―桜木町間開通</th>
						<td colspan="9"></td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="" /></th>
						<th scope="row"></th>
						<td class="u-cell -end"></td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
						<td class="u-cell -end">0</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
