---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Licence from '@components/TokyuLicence.astro';
import RefBook from '@components/ReferenceBook.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '玉川電気鉄道、玉川線　車歴表',
	dateModified: dayjs('2024-09-15'),
	description: '玉川電気鉄道の開通（1907年）から東京横浜電鉄への合併（1938年）、東京急行電鉄成立（1942年）を経て1949年までの車両のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: {
		label: '車歴表',
		items: [
			{ path: '/tokyu/data/history_mekama&toyoko_passenger', name: '目黒・東横　旅客車' },
			{ path: '/tokyu/data/history_mekama&toyoko_freight', name: '目黒・東横　機関車&貨車' },
			{ path: '/tokyu/data/history_ikegami', name: '池上' },
			{ path: '/tokyu/data/history_tokyu', name: '東急' },
			{ path: '/tokyu/data/history_tamagawa', name: '玉川' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>
				認可、竣功などの日付は<LinkExternal href="https://www.archives.go.jp/">国立公文書館</LinkExternal>および<LinkExternal href="https://www.soumu.metro.tokyo.lg.jp/01soumu/archives/">東京都公文書館</LinkExternal>が所蔵する公文書を情報源とします。
				<ul>
					<li><q>鉄道省</q><q>運輸通信省</q><q>運輸省</q>：国立公文書館が所蔵（いわゆる<cite>鉄道省文書</cite>）</li>
					<li><q>内務省</q><q>建設省</q>：国立公文書館が所蔵</li>
					<li><q>東京府</q>：東京都公文書館が所蔵</li>
				</ul>
			</li>
			<li>日本国有鉄道の発足以降は公文書が断片的にしか残されていないため、その年の年末である<DateWareki value="1949-12-31" />以前に認可申請や届出が行われた車両までを対象とします。ただし期間をまたいで増備が行われたデハ80形はその最終増備車の竣功までを対象としているほか、デワ3030形の無蓋車化改造は<DateWareki value="1950" />の申請であるものの例外的に含めています。</li>
			<li>竣功後の改造は車両称号の変更を伴うものに限ります。</li>
			<li>許認可書類の表題の旧字体は新字体に統一しています（車輛、車輌→車両など）。一方、表記揺れは原文のままとします（竣功と竣工など）。</li>
			<li>
				表中の鉄道事業者の名称は以下のとおり省略表記しています。
				<ul>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>東急：東京急行電鉄</li>
					<li>箱根：箱根登山鉄道<small>（現：小田急箱根）</small></li>
					<li>新京：新京交通<small>（満洲国、現：<span lang="zh-Hans">长春有轨电车</span>）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="gauge1067">
		<H slot="heading">狭軌時代の車両</H>

		<p>玉川電気鉄道は<DateWareki value="1907-03" />の開通から<DateWareki value="1920-09" />までの13年間、1,067mmの狭軌で営業が行われていました。この時代の車両はすべて4輪単車で前後2か所の出入口は外戸のないオープンデッキ、貨物輸送は電動客車が付随貨車を牽引する混合列車スタイルのため路面電車ながら旅客車にも連結器を装備していたのが特徴です。</p>

		<p>しかし許認可書類は一部しか残されていないためその詳細は謎に包まれており、車両番号すらはっきり分かっているのはわずかな事例のみの状況です。そのため狭軌時代の車両については許認可書類だけでなく、会社の営業報告書や行政機関の統計資料も合わせてその実態に迫ります。</p>

		<Section id="gauge1067-transition" depth={2} headingType="b">
			<H slot="heading">車両数推移</H>

			<p>営業報告書（<cite>事業報告書</cite>）と統計資料により車両数の推移は判明しています。</p>

			<div class="p-table -scroll">
				<table>
					<caption>狭軌時代の車両数推移</caption>
					<colgroup></colgroup>
					<colgroup span="3"></colgroup>
					<colgroup></colgroup>
					<colgroup></colgroup>
					<colgroup></colgroup>
					<thead>
						<tr>
							<th scope="colgroup" rowspan="2">時期</th>
							<th scope="colgroup" colspan="3">旅客車</th>
							<th scope="colgroup">貨車</th>
							<th scope="colgroup" rowspan="2">備考</th>
							<th scope="colgroup" rowspan="2">参考資料</th>
						</tr>
						<tr>
							<th scope="col">電動車</th>
							<th scope="col">付随車</th>
							<th scope="col">電機品予備</th>
							<th scope="col">付随車</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"><DateWareki value="1907-03-06" />　道玄坂上―三軒茶屋間開通</th>
							<td class="u-cell -end">5両</td>
							<td class="u-cell -end">0両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">0両</td>
							<td></td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第8期　事業報告書</cite>（<DateWareki value="1906-12" />～<DateWareki value="1907-05" />）</FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1907-04-01" />　三軒茶屋―玉川間延伸</th>
							<td class="u-cell -end">10両</td>
							<td class="u-cell -end">0両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">10両</td>
							<td>この時点では貨物営業せず</td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第8期　事業報告書</cite>（<DateWareki value="1906-12" />～<DateWareki value="1907-05" />）</FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1907-11" />　第9期末</th>
							<td class="u-cell -end">10両</td>
							<td class="u-cell -end">0両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">20両</td>
							<td>渋谷延伸の前後に貨物営業開始</td>
							<td>
								<FootnoteReference><RefBook name="電気事業要覧　明治40年" authors={['逓信省通信局']} year={1908} pages={[92]} url="https://dl.ndl.go.jp/pid/805420/1/68" linkScope="page" /></FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1912-05" />　第18期末</th>
							<td class="u-cell -end">12両</td>
							<td class="u-cell -end">0両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">20両</td>
							<td>電動客車2両増備</td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第18期　事業報告書</cite>（<DateWareki value="1911-12" />～<DateWareki value="1912-05" />）</FootnoteReference>
								<FootnoteReference><RefBook name="鉄道院年報　明治44～大正元年度　軌道之部" year={1914} authors={['鉄道院']} pages={[109]} url="https://dl.ndl.go.jp/pid/974219/1/61" linkScope="page" /></FootnoteReference>
								<FootnoteReference><RefBook name="電気事業要覧　大正元年" authors={['逓信省通信局']} year={1914} pages={[284, 285]} url="https://dl.ndl.go.jp/pid/974999/1/169" linkScope="page" /></FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1913-11" />　第21期末</th>
							<td class="u-cell -end">12両</td>
							<td class="u-cell -end">4両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">20両</td>
							<td>付随客車4両増備（西武軌道より購入）</td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第20期　事業報告書</cite>（<DateWareki value="1912-12" />～<DateWareki value="1913-05" />）</FootnoteReference>
								<FootnoteReference><RefBook name="鉄道院年報　大正2年度" authors={['鉄道院']} year={1915} pages={[270]} url="https://dl.ndl.go.jp/pid/974221/1/153" linkScope="page" /></FootnoteReference>
								<FootnoteReference><RefBook name="電気事業要覧　第7回" authors={['逓信省通信局']} year={1915} pages={[296, 297]} url="https://dl.ndl.go.jp/pid/975000/1/177" linkScope="page" /></FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1914-11" />　第23期末</th>
							<td class="u-cell -end">15両</td>
							<td class="u-cell -end">4両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">20両</td>
							<td>電動客車3両増備</td>
							<td>
								<FootnoteReference><RefBook name="鉄道院年報　大正3年度" authors={['鉄道院']} year={1916} pages={[306]} url="https://dl.ndl.go.jp/pid/974222/1/172" linkScope="page" /></FootnoteReference>
								<FootnoteReference><RefBook name="電気事業要覧　第8回" authors={['逓信省通信局']} year={1916} pages={[330, 331]} url="https://dl.ndl.go.jp/pid/975001/1/195" linkScope="page" /></FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1916-11" />　第27期末</th>
							<td class="u-cell -end">15両</td>
							<td class="u-cell -end">7両</td>
							<td class="u-cell -end">0両分</td>
							<td class="u-cell -end">20両</td>
							<td>付随客車3両増備</td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第27期　事業報告書</cite>（<DateWareki value="1916-06" />～<DateWareki value="1916-11" />）</FootnoteReference>
								<FootnoteReference><RefBook name="鉄道院鉄道統計資料　大正5年度　第十編" authors={['鉄道院']} year={1918} pages={[135]} url="https://dl.ndl.go.jp/pid/974234/1/368" linkScope="page" /></FootnoteReference>
								<FootnoteReference><RefBook name="電気事業要覧　第10回" authors={['逓信省通信局']} year={1918} pages={[418, 419]} url="https://dl.ndl.go.jp/pid/975003/1/237" linkScope="page" /></FootnoteReference>
							</td>
						</tr>
						<tr>
							<th scope="row"><DateWareki value="1919-05" />　第32期末</th>
							<td class="u-cell -end">15両</td>
							<td class="u-cell -end">7両</td>
							<td class="u-cell -end">2両分</td>
							<td class="u-cell -end">20両</td>
							<td>電動客車用予備部品到着</td>
							<td>
								<FootnoteReference><cite>玉川電気鉄道　第30期　事業報告書</cite>（<DateWareki value="1917-12" />～<DateWareki value="1918-05" />）</FootnoteReference>
								<FootnoteReference><cite>玉川電気鉄道　第32期　事業報告書</cite>（<DateWareki value="1918-12" />～<DateWareki value="1919-05" />）</FootnoteReference>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<p><DateWareki value="1907-03-06" />に最初の区間として道玄坂上～三軒茶屋間が開通したのですが、当初10両が用意された旅客車のうち5両（車号不明）が前日の3月5日に東京府の検査を完了したとの記録があるため、この暫定開業に際しては5両で運用が行われていたと見られます。</p>

			<p>同月21日には旅客車の残り5両と貨車20両のうち10両が検査を受け、4月1日の玉川延伸を迎えますが、この時点では砂利輸送は行われず、貨物営業は8月11日の渋谷延伸の前後に始まったものと思われます。貨車の残り10両の完成日（検査完了日）は不明ですが、上表のとおり統計資料によると同年中には全20両が揃っています。</p>

			<p>その後は段階的に旅客車の増備が続きますが、このうち<DateWareki value="1913" />導入の付随車4両は新造ではなく西武軌道<small>（のちの都電杉並線）</small>が所有していた車両を購入したものとなります<FootnoteReference>玉川電気鉄道の「<cite>第20期　事業報告書</cite>」では購入元が<q>西武鐵道株式會社</q>とあるのですが、当時はその名前の鉄道会社は存在していないため、西武軌道の誤記であると判断します。</FootnoteReference>。西武軌道の前身である堀之内軌道では、会社創立の段階で軽便機関車が付随車1両を牽引する列車形態を予定しており<FootnoteReference><RefTetsudosho company="堀之内軌道" date="1907-11-05" title="工事施行認可申請書" url="https://www.digital.archives.go.jp/item/540988" /></FootnoteReference>、<DateWareki value="1910" />には実際に機関車と30人乗り客車を購入して試運転（車庫内でのデモンストレーション?）が行われたことが記録されていますが<FootnoteReference><RefMagazine name="工業雑誌" no={435} article="堀内鐵道の開通期" pages={[453]} url="https://dl.ndl.go.jp/pid/1561521/1/38" /></FootnoteReference><FootnoteReference><RefMagazine name="グラヒック" date="第2巻第16号" no={154} article="寫眞日誌" pages={[18]} url="https://dl.ndl.go.jp/pid/2661428/1/10" /></FootnoteReference>、<DateWareki value="1912-12" />に動力方式を電気鉄道に変更したため、開業前ながら不要となった車両群のうち、付随客車の一部を譲り受けることになったものと思われます。</p>

			<p>最終的に電動客車15両、付随客車7両、付随貨車20両の陣営となったのですが、改軌を翌年に控えた<DateWareki value="1919" />には電動客車の予備品として台車（<span lang="en">J.G. Brill</span> 社 21E 型）と主電動機（<span lang="en">General Electric</span> 社 GE58 型）、ブレーキ装置（同社 B18 型）の電機品をアメリカより輸入しています。これらは注文時の営業報告書では<q>主動客車增加ノ目的ヲ以テ</q>とあるように更なる車両増備を計画してのことでしたが、到着の段階になると予備品として取り扱われたようです。</p>
		</Section>

		<Section id="gauge1067-permission" depth={2} headingType="b">
			<H slot="heading">許認可データ</H>

			<p>狭軌車両の車両のうち1916<small>(大正5)</small>年度に増備された付随客車3両のみ許認可書類が残されています。</p>

			<div class="p-table -scroll">
				<table>
					<caption>狭軌車両の許認可データ<small>（判明分のみ）</small></caption>
					<colgroup></colgroup>
					<colgroup span="4"></colgroup>
					<colgroup span="2"></colgroup>
					<thead>
						<tr>
							<th scope="colgroup" rowspan="2">車号</th>
							<th scope="colgroup" colspan="4">構造</th>
							<th scope="colgroup" colspan="2">定員</th>
						</tr>
						<tr>
							<th scope="col">申請</th>
							<th scope="col">認可</th>
							<th scope="col">検査願提出</th>
							<th scope="col">検査証交付</th>
							<th scope="col">申請</th>
							<th scope="col">認可（警視総監）</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"><small>付随客車</small>5</th>
							<td rowspan="3"><Licence no="玉第686号" date="1916-03-23" /> <Licence no="玉第686号-1" date="1916-06-13" /></td>
							<td rowspan="3"><Licence no="辰土甲第627号" date="1916-07-22" possess={['tokyo']} /></td>
							<td rowspan="3"><Licence no="玉第668号-3" title="付随客車御検査願" date="1916-07-24" possess={['tokyo']} /></td>
							<td rowspan="3"><Licence no="辰土甲第627号" date="1916-08-04" possess={['tokyo']} /></td>
							<td rowspan="3"><Licence no="玉第668号-2" title="付随客車乗客定員認可申請書" date="1916-07-24" possess={['tokyo']} /></td>
							<td rowspan="3"><Licence no="第459号-2" date="1916-07-31" possess={['tokyo']} /></td>
						</tr>
						<tr>
							<th scope="row"><small>付随客車</small>6</th>
						</tr>
						<tr>
							<th scope="row"><small>付随客車</small>7</th>
						</tr>
					</tbody>
				</table>
			</div>

			<ul class="p-notes">
				<li>車両構造認可の申請日と書類番号は認可書類の本文より判明しているものであり、申請書類そのものは残されていないため、2回に分けて申請が行われた理由は不明である。</li>
				<li>乗客定員の認可申請では、本増備車の客室設備は在来車と同一であるとして、座席26人、立席14人の計40人と報告しているが、これは鉄道院の統計資料（3両増備で90人分の増加）と食い違っている。</li>
			</ul>
		</Section>

		<Section id="gauge1067-maintenance" depth={2} headingType="b">
			<H slot="heading">改修工事</H>

			<p>旅客車両の過半数は日常的なメンテナンスとは別に大規模な修繕や改造が行われたようで、営業報告書には下表のように報告されています。当時の写真を見ると側窓の枚数などに車両番号順とは無関係な形態差異が見られるため、外観に影響が出るレベルでの変化も珍しくなかったものと思われます。</p>

			<div class="p-table -scroll">
				<table>
					<caption>狭軌旅客車両の改修工事<small>（判明分のみ）</small></caption>
					<thead>
						<tr>
							<th scope="col">期間</th>
							<th scope="col">両数</th>
							<th scope="col">営業報告書の記載内容</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">15期　<DateWareki value="1910-06" />～11月</th>
							<td class="u-cell -end">3両</td>
							<td><q>客車参輛ノ改修工事ハ當期ニ於テ竣工セリ</q></td>
						</tr>
						<tr>
							<th scope="row">18期　<DateWareki value="1911-12" />～翌年5月</th>
							<td>不明</td>
							<td><q>舊車輛ハ車体ノ大修繕ヲ行ヒ</q></td>
						</tr>
						<tr>
							<th scope="row">25期　<DateWareki value="1915-06" />～11月</th>
							<td class="u-cell -end">1両</td>
							<td><q>本期ニ於テハ客車一輛全部改造ヲ了シ</q></td>
						</tr>
						<tr>
							<th scope="row">27期　<DateWareki value="1916-06" />～11月</th>
							<td class="u-cell -end">1両</td>
							<td><q>本期ニ於テハ客車一輛改造ヲ了シ</q></td>
						</tr>
						<tr>
							<th scope="row">29期　<DateWareki value="1917-06" />～11月</th>
							<td class="u-cell -center">―</td>
							<td><q>尚客車々體一輛ノ改造ニ着手シ略ホ完成セリ</q></td>
						</tr>
						<tr>
							<th scope="row">30期　<DateWareki value="1917-12" />～翌年5月</th>
							<td class="u-cell -end">1両</td>
							<td><q>前期ヨリ改造中ノ客車一両完成シ使用ニ供セリ</q></td>
						</tr>
						<tr>
							<th scope="row">31期　<DateWareki value="1918-06" />～11月</th>
							<td class="u-cell -end">2両</td>
							<td><q>當期間ニ於テハ客車々體二輛ノ大修繕ヲ行ヒ</q> </td>
						</tr>
						<tr>
							<th scope="row">32期　<DateWareki value="1918-12" />～翌年5月</th>
							<td class="u-cell -end">2両</td>
							<td><q>當期間ニ於テハ客車々體二輛ノ大修繕ヲ行ヒ</q></td>
						</tr>
						<tr>
							<th scope="row">33期　<DateWareki value="1919-06" />～11月</th>
							<td class="u-cell -end">1両</td>
							<td><q>當期間ニ於テハ客車々體一輛ノ改造ヲ行ヒ</q></td>
						</tr>
					</tbody>
				</table>
			</div>

			<ul class="p-notes">
				<li>第24期以前は営業報告書が断片的にしか残されていないため、上表の他にも改修が行われた可能性はある。</li>
			</ul>
		</Section>

		<Section id="gauge1067-style" depth={2} headingType="b">
			<H slot="heading">電動客車の形態バリエーション</H>

			<p>電動客車の車両形態は少なくとも3タイプが確認されており、正面窓の有無、側面窓の数、モニタールーフの通風器形状などに違いが見られます。これらは製造時期による差異だけでなく、前述のような改修工事の結果生まれた違いもあるものと思われますが、詳しいことは分かりません。</p>

			<p>車体メーカーは逓信省通信局が発行していた「<cite>電気事業要覧</cite>」によると初期の10両は高橋鉄工所となっていますが、<DateWareki value="1910" />版からは天野工場となっているため、実際は2社が混在していたのではないかと思われます。上田温泉電軌<small>（現：上田電鉄）</small>への譲渡車の調査ではさらに豊岡工場、泉工場の名前が挙がっており<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="1964年11月号" no={164} article="私鉄車両めぐり〔59〕上田丸子電鉄(終)" authors={['小林宇一郎']} pages={[60]} /></FootnoteReference>、改修工事をそれらのメーカーで行った可能性も考えられます。</p>

			<p>台車は「<cite>電気事業要覧</cite>」によると初期の車両はアメリカ・<span lang="en">J.G. Brill</span> 社 21E 型ですが、上田譲渡車の調査によると増備車はイギリス・<span lang="en">Mountain &amp; Gibson</span> 社とアメリカ・<span lang="en">American Car and Foundry</span> 社のものを履いていたようです。このうち M&amp;G 社のものは Brill 21E 型の模造品である MG21EM 型<FootnoteReference><RefMagazine name="レイル" no={27} article="ファンの目で見た台車のはなしⅦ　私鉄編單台車" authors={['吉雄永春']} pages={[75]} /></FootnoteReference>ではないかと思われます。</p>

			<p>電動機は「<cite>電気事業要覧</cite>」によると初期の車両はアメリカ・<span lang="en">General Electric</span> 社製の 37㏋ ですが、上田譲渡車の調査によると M&amp;G 社の台車を履いた車両には AEG 製の電動機が搭載されていたとあります。また「<cite>電気事業要覧</cite>」の<DateWareki value="1916" />版（第8回）では 37㏋ と 40㏋ の混在となっているため、<DateWareki value="1914" />導入の3両は 40㏋ であり、上田譲渡車の調査によるとこれはイギリス・<span lang="en">Dick, Kerr</span> 社製であったようです。</p>

			<div class="p-table -scroll">
				<table>
					<caption>狭軌電動客車の電機品バリエーション<small>（推定を含む）</small></caption>
					<thead>
						<tr>
							<th scope="colgroup" rowspan="2">導入時期</th>
							<th scope="colgroup" rowspan="2">両数</th>
							<th scope="colgroup" colspan="2">台車</th>
							<th scope="colgroup" colspan="3">電動機</th>
						</tr>
						<tr>
							<th scope="col">メーカー</th>
							<th scope="col">形式</th>
							<th scope="col">メーカー</th>
							<th scope="col">出力</th>
							<th scope="col">形式</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">9期　<DateWareki value="1907-06" />～11月</th>
							<td class="u-cell -end">10両</td>
							<td>Brill</td>
							<td>21E</td>
							<td>GE</td>
							<td>37㏋</td>
							<td>GE58</td>
						</tr>
						<tr>
							<th scope="row">18期　<DateWareki value="1911-12" />～翌年5月</th>
							<td class="u-cell -end">2両</td>
							<td>M&amp;G</td>
							<td>MG21EM(?)</td>
							<td>GE または AEG</td>
							<td>37㏋</td>
							<td>?</td>
						</tr>
						<tr>
							<th scope="row">23期　<DateWareki value="1914-06" />～11月</th>
							<td class="u-cell -end">3両</td>
							<td>ACF</td>
							<td>?</td>
							<td>DK</td>
							<td>40㏋</td>
							<td>?</td>
						</tr>
						<tr>
							<th scope="row">32期　<DateWareki value="1918-11" />～翌年5月</th>
							<td>予備品2両分</td>
							<td>Brill</td>
							<td>21E</td>
							<td>GE</td>
							<td>37㏋</td>
							<td>GE58</td>
						</tr>
					</tbody>
				</table>
			</div>
		</Section>

		<Section id="kaiki" depth={2} headingType="b">
			<H slot="heading">改軌に伴う譲渡、改造</H>

			<p>狭軌時代の車両は路線の改軌に際して譲渡や台車改造が行われたはずですが、やはり許認可書類は残されていません。営業報告書や統計資料、譲渡先の書類などから旅客車は全車ないし大半を譲渡、貨車は台車改造が行われたものと考えられます。</p>

			<Section id="kaiki-sunen" depth={3} headingType="c">
				<H slot="heading">駿遠電気<small>（現：静岡鉄道）</small>への譲渡</H>

				<p>電動客車6両、付随客車3両（<DateWareki value="1916" />新造車）を譲渡しました。これとは別に下回りのみ1〜2両分譲渡された可能性もあります。</p>

				<p>現在の静岡清水線にあたる路線の電化&amp;改軌が<DateWareki value="1920-08-02" />に実施されるにあたり、工事施行認可申請の段階は玉川電気鉄道より電動客車10両、付随客車3両を譲受する予定だったのですが<FootnoteReference><RefTetsudosho company="駿遠電気" date="1920-03-04" title="工事施行認可申請書" url="https://www.digital.archives.go.jp/item/508770" /></FootnoteReference>、駿遠電気の電化は玉川電気鉄道の改軌より1か月以上も前であるため、直前になって美濃電気軌道<small>（のちの名古屋鉄道岐阜市内線や美濃町線など）</small>からも電動客車5両を譲り受けることとなり<FootnoteReference><RefMagazine name="鉄道史料" date="2016年7月号" no={149} article="駿遠電気の創業期の車両の解明にむけて　訂正" authors={['阿部一紀']} pages={[57]} /></FootnoteReference>、玉電の両数は削減されました。</p>

				<p>電化式典の新聞報道<FootnoteReference>静岡民友新聞 <DateWareki value="1920-08-04" /> 3面「<cite>電車開通と清水驛</cite>」</FootnoteReference>と後年の車両竣功図表に記載されたデータ<FootnoteReference><RefBook name="RM LIBRARY 18　静岡鉄道秋葉線—石松電車始末記—" authors={['吉川文夫', '花上嘉成']} year={2001} pages={[41]} url="https://www.amazon.co.jp/dp/4873662192/" /></FootnoteReference>からすると、少なくとも電動客車1両と付随客車2両は玉川電気鉄道の改軌より前の<DateWareki value="1920-07" />頃に譲渡されて、美濃電気軌道譲渡車と合わせて8両の陣営で電化開通日を迎え、残りは玉電の改軌実施を待って譲渡されたものと思われます。</p>

				<p>電動貨車と付随貨車は新製されたものですが、改軌工事の施行認可申請書では電動無蓋貨車2両の台車も玉川電気鉄道より譲り受けるものとされています。これは<DateWareki value="1919" />に納入された予備品のことかもしれないのですが、一方で後述の上田温泉電軌への譲渡車の中に<DateWareki value="1919-10" />製の車両があるため、予備品のうち1台分は上田に譲渡され、駿遠電気の電動貨車にはそれとは別に玉電の電動客車から下回りのみを譲渡したという説も見られます<FootnoteReference><RefBook name="玉川電気鉄道狭軌時代の車両と駿遠電気初期の車両について" authors={['車歴研究会']} year={2016} pages={[106]} /></FootnoteReference>。</p>
			</Section>

			<Section id="kaiki-ueda" depth={3} headingType="c">
				<H slot="heading">上田温泉電軌<small>（現：上田電鉄）</small>への譲渡</H>

				<p>電動客車8両、付随客車4両（<DateWareki value="1913" />西武軌道譲受車）を譲渡しました。ただし電動客車の両数は諸説あります。</p>

				<p><DateWareki value="1921-06-27" />の路線開通時に電動客車が7両譲渡され<FootnoteReference><RefTetsudosho company="上田温泉電軌" no="上電第12号" date="1921-02-27" title="車両構造認可申請書" url="https://www.digital.archives.go.jp/item/472933" /></FootnoteReference>（6月17日認可）、続いて9月には1両が譲渡されました。追加の1両（上田車号8）は製造時期が<DateWareki value="1919-10" />とされているため<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="1964年11月号" no={164} article="私鉄車両めぐり〔59〕上田丸子電鉄(終)" authors={['小林宇一郎']} pages={[60]} /></FootnoteReference>、第33期に改造を受けた1両ではないかと思われます。あるいは確証のない想像ではありますが、同年に納入された予備台車2両分のうち1両は車体も造られて事実上車両として完成しており（未認可）、それを譲り受けた可能性も考えられます。</p>

				<p>さらに同年中に駿遠電気から元玉電の電動客車3両が譲渡された結果、車両数は11両となりました。定説では駿遠電気から移った車両は2両とされているのですが、<cite>鉄道省鉄道統計資料</cite>における駿遠電気の車両数推移を見ると、1921<small>(大正10)</small>年度<FootnoteReference><RefBook name="鉄道省鉄道統計資料　大正9年度" authors={['鉄道省']} year={1923} article="車輛現在表" pages={[163]} url="https://dl.ndl.go.jp/pid/974242/1/473" linkScope="page" /></FootnoteReference>から翌年度<FootnoteReference><RefBook name="鉄道省鉄道統計資料　大正10年度" authors={['鉄道省']} year={1924} article="車輛現在表" pages={[149]} url="https://dl.ndl.go.jp/pid/974244/1/484" linkScope="page" /></FootnoteReference>にかけて65人乗りボギー車2両を導入した一方で40人乗り単車3両が減った計算になるため、駿遠電気からの譲受は3両であり、玉川電気鉄道からの譲受は最終的な11両から3両を引いた8両と考える次第です。ただし駿遠電気にて1両を廃車して2両を譲渡し、玉川電気鉄道からの譲渡は9両であった可能性も否定はできません。</p>

				<p>また開業翌年の1922<small>(大正11)</small>年度には付随客車4両が増備されていますが（12月13日認可）、許認可書類では定員が30人となっているため、これは玉川電気鉄道が<DateWareki value="1913" />に西武軌道より譲受した車両ということになります<FootnoteReference><RefTetsudosho company="上田温泉電軌" no="上電第36号" date="1921-09-21" title="車両構造認可申請書" url="https://www.digital.archives.go.jp/item/472933" /></FootnoteReference>。</p>
			</Section>

			<Section id="kaiki-freight" depth={3} headingType="c">
				<H slot="heading">貨車の軌間改造</H>

				<p>付随貨車は改軌前後で車両数が変わらないこと、改軌後の車両は車体、台車とも玉川電気鉄道自身が製造したことになっていること、現車の写真を比較しても角形バッファーなどの特徴が改軌前後で同一であることから、改軌に際しては台車改造が行われたものと見られます。</p>

				<p>営業報告書では下表に示すとおり、全20両のうち第36期以降に竣功した8両は改造車であることが明言されています。もっとも早く第34期に完成した5両（竣功は第35期）は<q>制作</q>との表現が使われていますが、改軌後の若番車もやはり特徴的な角形バッファーを装備しているため、このグループも含めて改造車ではないかと思います。</p>

				<div class="p-table -scroll">
					<table>
						<caption>狭軌付随貨車の改造工事</caption>
						<thead>
							<tr>
								<th scope="col">期間</th>
								<th scope="col">竣功両数</th>
								<th scope="col">営業報告書の記述</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">34期　<DateWareki value="1919-12" />～翌年5月</th>
								<td class="u-cell -center">―</td>
								<td><q>廣軌間用貨車五臺ヲ制作シ</q></td>
							</tr>
							<tr>
								<th scope="row">35期　<DateWareki value="1920-06" />～11月</th>
								<td class="u-cell -end">12両</td>
								<td><q>貨車十二輛ノ檢査ヲ了シ</q><q>舊貨車三輛ヲ改造シ</q></td>
							</tr>
							<tr>
								<th scope="row">36期　<DateWareki value="1920-12" />～翌年5月</th>
								<td class="u-cell -end">3両</td>
								<td><q>改造貨車三輛ノ檢査ヲ了シ營業ニ使用セリ</q></td>
							</tr>
							<tr>
								<th scope="row">37期　<DateWareki value="1921-06" />～11月</th>
								<td class="u-cell -center">―</td>
								<td><q>舊貨車五輛ノ改造ニ要スル材料ヲ注文シ</q></td>
							</tr>
							<tr>
								<th scope="row">38期　<DateWareki value="1921-12" />～翌年5月</th>
								<td class="u-cell -end">5両</td>
								<td><q>改造貨車五輛竣工ノ上使用ニ供セリ</q></td>
							</tr>
						</tbody>
					</table>
				</div>

				<p>なお、<a href="#freight1-20">後述</a>のとおり改軌に際しては改めて車両構造認可が行われており、書類上の連続性はありません。</p>
			</Section>
		</Section>

		<Section id="gauge1067-special" depth={2} headingType="b" box={true}>
			<H slot="heading">幻のアメリカ製特別客車</H>

			<p>開通2年前の<DateWareki value="1905" />の雑誌に「<cite>玉川電気鐵道工事設計</cite>」と題して軌道や車両の計画内容が紹介されています<FootnoteReference><RefMagazine name="工業雑誌" no={307} article="玉川電気鐵道工事設計" authors={['吉武唯一']} pages={[2, 13]} url="https://dl.ndl.go.jp/pid/1561392/1/11" /></FootnoteReference>。客車は4輪車で連結器を装備し、無蓋貨車を牽引し得る点は実際の開通後と同じですが、注目すべきは通常の客車とは別に特別客車が計画されていたことです。</p>

			<p>特別客車といっても等級制の採用ではなく、記事において<q>强風雨雪等の際普通客車にて坂路の運轉困難なる塲合及夜間若くは乗客非常に多く附從客車の必要ある際に使用</q>とあるように電車よりも電気機関車に近い使われ方が想定されていたもので、その車体も裾絞りのない金属車体にプレーンアーチ型の屋根であり、小型の箱形電機に客室を設けたものとなっています。図面によれば車体長さは 5,333mm（屋根や連結器の突出部除く）、そのうち客室部は 3m ほどで定員わずか20人。台車の固定軸距は普通客車と同じサイズなものの、Brill 21 シリーズとは異なる構造で、のちの Brill 50E 型のように鋼板を組み立てた構造に見えますが、上下のサイドフレームを結ぶトラスがハの字形になっているのと（大抵は逆ハの字形）、軸箱守が逆三角形の大きな板状をしているのが特徴です。</p>

			<p>車体は玉川電気鉄道が設計し、発注先として<q>米國「ロコモチーブ」製造會社</q>の名が挙げられており、これは <ruby>ALCO<rp>（</rp><rt>アルコ</rt><rp>）</rp></ruby> の略称で知られる <span lang="en">American Locomotive</span> 社、あるいは機関車のほか台車でも有名な <span lang="en">Baldwin Locomotive Works</span> 社（ただし当時の社名は <span lang="en">Burnham, Williams &amp; Co.</span>）あたりと思われます。記事が書かれたのは日露戦争の最中であり、ALCO の仲介商社であった三井物産では戦中における鉄道用品の取引を控えていた時期であること<FootnoteReference><cite>三井物産　明治三十七年度　事業報告</cite> p.9</FootnoteReference>、そもそも当時の ALCO は蒸気機関車の製造が主体で電気機関車の日本への輸出実績は皆無である一方、Baldwin 社ではこの時期も小型電機の製造実績があります<FootnoteReference><RefBook name="The Baldwin Locomotive Works, 1831–1915" authors={['John K. Brown.']} year={2001} pages={[122]} lang="en" /></FootnoteReference>。いずれにせよ特別客車の計画が中止になったのは玉川電気鉄道の都合とは限らず、戦争を含めた外的要因による可能性も考えられるでしょう。</p>
		</Section>
	</Section>

	<Section id="passenger1-15">
		<H slot="heading"><small>玉川／東横</small>電動客車 1～15</H>

		<p>玉川電気鉄道は東京市電の貨車乗り入れのため<DateWareki value="1920-09" />に軌間 1,067mm から 1,372mm への改軌が行われ、旅客車両は総取り替えとなりました。</p>

		<p>最初に用意された15両は4輪単車で、定員は狭軌時代の電動車と同じ40人。従来は電動車、付随車あわせて22両だったものが電動車のみ15両となったため、改軌に前後して複線化工事が進む中、同年末に<a href="#passenger16-30">ボギー車</a>が増備されるまでの間は一時的に輸送力は低下していたことになります。</p>

		<p>車体側面は鉄道馬車の名残とも言われる裾絞りがなくなった垂直タイプで、出入口はオープンデッキながら正面窓が付いています。</p>

		<p>改軌を目前に控えた<DateWareki value="1920-08-26" />に構造認可を受けますが、アメリカ・<span lang="en">J.G. Brill</span> 社に発注していた手ブレーキ装置が届かないため12両分（車号は不明）は仮に国内品を取り付けることとし、力率が減少するため仮使用許可を申請、<DateWareki value="1920-12" />に落成しています。</p>

		<p>後述のボギー車群と車齢はそう変わらないものの、4輪単車であることが災いしてか早期に処分されており、7～15号車は玉川電気鉄道時代に廃車となりました。1～6号車は東京横浜電鉄への合併を経て渋谷以東の天現寺橋、中目黒方面で活躍したものの<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東辰第1950号" date="1940-06-01" title="四輪電動客車廃車届" url="https://www.digital.archives.go.jp/item/504817" /></FootnoteReference>、<DateWareki value="1937" />の路線分断により不要となり、一部は砧線で活躍したようですが<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="1959年6月号" no={95} article="私鉄車両めぐり(36) 東京急行電鉄〔1〕" authors={['荻原二郎']} pages={[43]} /></FootnoteReference>、<DateWareki value="1941" />までに姿を消しました。最後まで残った2両は満洲国で当時開業したばかりの新京交通<small>（現：<span lang="zh-Hans">长春有轨电车</span>）</small>に供出されています。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="4"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup" colspan="4">仮使用</th>
						<th scope="colgroup">廃車／譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">申請</th>
						<th scope="col">期間延期願</th>
						<th scope="col">認可</th>
						<th scope="col">落成</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>1</th>
						<td rowspan="15"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence summary="15両中12両、10月31日まで" title="仮使用願" date="1920-08-30" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence summary="15両中12両、12月31日まで" title="ハンドブレーキ仮使用期間延期願" date="1920-10-25" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="申土甲第5243号" date="1920-12-27" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence title="ハンドブレーキ落成届" date="1920-12-23" possess={['tokyo']} /></td>
						<td rowspan="2"><Licence no="東辰第1950号" title="四輪電動客車廃車届" date="1940-06-01" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>2</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>3</th>
						<td rowspan="2"><Licence summary="新東横→新京" no="東横電巳第182号" title="電動客車並電動貨車譲渡届" date="1941-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>4</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>5</th>
						<td rowspan="2"><Licence no="東辰第1950号" title="四輪電動客車廃車届" date="1940-06-01" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>6</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>7</th>
						<td rowspan="2"><Licence no="玉第82号" title="廃車届" date="1936-03-12" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>8</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>9</th>
						<td rowspan="7"><Licence no="玉丑第37号" title="廃車届" date="1937-04-07" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>10</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>11</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>12</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>13</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>14</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>15</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="freight1-5">
		<H slot="heading"><small>玉川／東横</small>電動貨車 1～5</H>

		<p>狭軌時代は電動客車が付随貨車を牽いていましたが、改軌に際しては有蓋電動貨車が製造されました。中央の荷物室は屋根付きの有蓋車で、車体サイズは<a href="/tokyu/data/history_mekama&toyoko_freight#dewa1">目黒蒲田電鉄と東京横浜電鉄のデワ1形</a>より一回り小型で、主電動機容量も 50㏋×2台 と小出力であり（それでも<a href="#passenger1-15">電動客車の1～15号車</a>よりは大きい）、積載状態の付随貨車は1両のみ牽引することが想定されていました。</p>

		<p>全車両が東京急行電鉄の成立前に用途廃止となり、電動客車の3～4号車とともに満洲国の新京交通<small>（現：<span lang="zh-Hans">长春有轨电车</span>）</small>へ供出されました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動貨車</small>1</th>
						<td rowspan="5"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="5"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td><Licence no="玉第88号" title="車両御検査願" date="1921-01-07" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence summary="新東横→新京" no="東横電巳第182号" title="電動客車並電動貨車譲渡届" date="1941-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>2</th>
						<td rowspan="2"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>3</th>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>4</th>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>5</th>
						<td><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>4号車の検査願は残されていないが、玉川電気鉄道の<cite>事業報告書</cite>には第36期（<DateWareki value="1920-12" />～翌年5月）の間に検査が行われたとある。</li>
		</ul>
	</Section>

	<Section id="freight1-20">
		<H slot="heading"><small>玉川／東横</small>付随貨車 1～20 → <small>東急</small>ト1形</H>

		<p>改軌に際して電動客車、電動貨車とともに車両構造認可が行われた 10t 積み無蓋貨車で、認可申請書では<q>現用車輌ヲ廢止シ（中略）新車輌ヲ使用</q>と書かれているものの、<a href="#kaiki-freight">前述</a>のとおり実際は狭軌時代の貨車を自社工場で改造したものと思われます。なお申請時に車両数が25両とされているのですが、統計資料によれば20両（狭軌時代と同じ数）しか竣功しておらず、残り5両が書類上どのように処理されたのかは不明です。</p>

		<p>一部の車両は散水車に改造されたようで、<DateWareki value="1932" />に撮影された写真が残されていますが<FootnoteReference><RefBook name="東急の電車たち　電車とバスのなんでもシリーズその1" authors={['東京急行電鉄株式会社　広報室、車両部']} year={1984} pages={[164]} /></FootnoteReference>、この改造に伴う許認可書類は確認されておらず、営業報告書での言及もありません。後述するように<DateWareki value="1924" />に<a href="#sansui">散水電動車</a>を発注したものの、何らかの理由で付随貨車で代替することになり、その経緯から公式の文書には改造記録が残らなかったのではないかと思われます。</p>

		<p>7両は玉川電気鉄道時代に廃車され、その後東京横浜電鉄への合併を経て東京急行電鉄成立の直後に一部の車両が2度目の改軌を行い品川営業局<small>（現：京浜急行電鉄）</small>へ転局しました。この転局に伴う改造は8両での認可申請が行われていますが、実際は6両のみが転局し、残る7両が戦後まで玉川線に在籍していました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">廃車</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup" colspan="2">改軌</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">届出</th>
						<th scope="col">届出</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>付随貨車</small>1</th>
						<td rowspan="20"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="20"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="5"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="7"><Licence no="玉丑第879号" title="廃車届" date="1937-10-25" possess={['tetsudo']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>3</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>4</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>5</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>6</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>7</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>8→ト1</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="13"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>9→ト2</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>10→ト3</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>11→ト4</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>12→ト5</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>13→ト6</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="8"><Licence summary="品川営業局へ転局" no="企電午第321号" title="貨車設計変更認可申請書" date="1942-12-14" possess={['tetsudo']} /></td>
						<td rowspan="8"><Licence no="監第1952号" date="1943-10-12" possess={['tetsudo']} /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>14→ト7</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>15→ト8</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>16→ト9</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>17→ト10</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>18→ト11</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>19→ト12→ト6</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="2">実際には転局せず</td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>20→ト13→ト7</th>
						<td><Licence /></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>検査願は8両分しか残されていないが、玉川電気鉄道の<cite>事業報告書</cite>によると第35期（<DateWareki value="1920-06" />～11月）に12両、第36期（<DateWareki value="1920-12" />～翌年5月）に3両の検査が行われ、第38期（<DateWareki value="1921-12" />～翌年5月）に残る5両が竣功したとある。なお第38期の検査願提出日は<DateWareki value="1922-04-10" />。</li>
			<li><DateWareki value="1942" />の東京急行電鉄成立に伴う改番時における新旧車号対照は不明であり、上表は若い順に変更されたと仮定している。品川線転局を取り止めになった2両が実際に2回の改番を行った確証はなく、旧ト6～ト13 の車号は書類上のものに過ぎなかった可能性もある。</li>
		</ul>
	</Section>

	<Section id="passenger16-30">
		<H slot="heading"><small>玉川／東横</small>電動客車 16～30 → <small>東急</small>デハ1形</H>

		<p>改軌にやや遅れて製造されたボギー車で、<a href="#passenger1-15">4輪単車（1～15号車）</a>と比較すると定員は40人から70人へ、車体長（バンパー末端まで）は 8,181mm から 11,734mm へと大型化しています。</p>

		<p>最初に製造された16～21号車は出入口が初めてドア付きとなったのですが、増備車である22号車以降はオープンデッキに戻り、車体長さも若干短くなっています。また25号車以降は窓配置が変更されるなどの軽微な変化があります。</p>

		<p>東京急行電鉄の成立に際しては4輪単車が全廃されていたため、このグループを1号車からの付番に変更してデハ1形を名乗り、後に車体更新で全車が<a href="#deha80">デハ80形</a>に統合されました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出／竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>16→デハ1</th>
						<td rowspan="6"><Licence no="玉第73号" title="車両構造認可願" date="1920-10-02" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="申土甲第4800号" date="1920-12-15" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="3"><Licence title="車両御検査願" date="1920-12-17" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="15"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td rowspan="15">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>17→デハ2</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>18→デハ3</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>19→デハ4</th>
						<td rowspan="3"><Licence no="玉第88号" title="車両御検査願" date="1921-01-07" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>20→デハ5</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>21→デハ6</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>22→デハ7</th>
						<td rowspan="3"><Licence no="玉第101号" title="車両構造認可願" date="1922-05-15" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="戌土甲第2314号" date="1922-07-04" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第144号" title="車両御検査願" date="1922-09-19" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>23→デハ8</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>24→デハ9</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>25→デハ10</th>
						<td rowspan="3"><Licence no="玉第157号" title="増設車両構造認可願" date="1922-12-06" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="夫土甲第2314号" date="1922-12-26" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td><Licence no="玉第29号" title="車両御検査願" date="1923-05-30" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>26→デハ11</th>
						<td rowspan="2"><Licence no="玉第68号" title="車両御検査願" date="1923-07-11" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>27→デハ12</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>28→デハ13</th>
						<td rowspan="3"><Licence no="玉第109号" title="増設車両構造認可願" date="1923-12-19" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="亥土第9072号" date="1924-01-07" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第91号" title="増設車両竣工届" date="1924-06-30" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>29→デハ14</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>30→デハ15</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>25～27号車の認可書類のうち東京府保管分は認可番号が22～24号車と同一のもの（戌土甲第2314号）になっており、また認可日の日付が記載されておらず不審に思える。一方、鉄道省および内務省の保管分は冒頭の漢字が十二支でない異例な付番となっているほか、<DateWareki value="1928" />分の簿冊に綴じられているなど後年に印刷され直した形跡がある。上表では鉄道省、内務省文書の記載を正と判断している。</li>
		</ul>
	</Section>

	<Section id="sansui" box={true}>
		<H slot="heading"><small>玉川</small>散水電動車<small>（未製造）</small></H>

		<p>関東大震災の翌年、玉川電気鉄道の「<cite>第43期　営業報告書</cite>」（<DateWareki value="1924-06" />～11月）には散水電動車を1両注文したことが記載されています。<q>附随貨車ヲ牽引シ得ル</q>とあるため、<a href="#freight1-5">電動貨車</a>と同じく連結器を装備したであろうほかは諸元などまったく不明で、実際に導入された形跡もありません。</p>
	</Section>

	<Section id="passenger31-35">
		<H slot="heading"><small>玉川／東横</small>電動客車 31～35</H>

		<p>出入口が両端2つのオープンデッキタイプですが、<a href="#passenger16-30">16～30号車</a>と比べて車体長さが延長され、定員も70人→90人へ増加しています。ただし車長の変化の割に定員の増加率が大きいこと、車端部に空間を作ったため座席長はむしろ短縮されたにも関わらず座席定員も増加していることから、定員の考え方が変わったのかもしれません。</p>

		<p>なによりの変化はそれまで輸入に頼っていた台車が国産品となり、さらに車輪径を小型化した低床車となったことで、それまでデッキと客室間には段差があったものが、本グループではフラットな構造となっています。また空気ブレーキが付いたのもこのグループからです。</p>

		<p>東京横浜電鉄への合併直後に30号車以前に先がけて半鋼体化改造が行われ、<a href="#passenger71-75">71～75号車</a>に改番されました。許認可文書では言及されていませんが、旧車体のうち2両分は江ノ島電気鉄道<small>（現：江ノ島電鉄）</small>へ譲渡されています。またそれ以外の3両分は満洲国の大連市電に譲渡され、さらにそのうち1両は同国の新京交通<small>（現：<span lang="zh-Hans">长春有轨电车</span>）</small>に行き着いたとの説がありますが<FootnoteReference><RefMagazine name="軽軽電車" date="2018年12月号" no={1} article="新京市電の中古電車たち" authors={['岡田健太郎']} pages={[32, 33]} /></FootnoteReference>、決定的な証拠は見つかっていません。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>31</th>
						<td rowspan="5"><Licence no="玉第139号" title="車両構造認可願" date="1924-10-27" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="監第11号" date="1925-01-23" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="玉第17号" title="車両竣工届" date="1925-01-27" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5">以降<a href="#passenger71-75">電動客車 71～75</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>32</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>33</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>34</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>35</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>車両構造の認可日（監第11号）は、認可書類そのものには<DateWareki value="1925-01-25" />と書かれているが、後の資料（竣功届やその後の改造時の申請書類）では<DateWareki value="1925-01-23" />とされている。</li>
		</ul>
	</Section>

	<Section id="passenger36-45">
		<H slot="heading"><small>玉川／東横</small>電動客車 36～45 → <small>東急</small>デハ20形</H>

		<p><a href="#passenger31-35">31～35号車</a>と似ていますが、中間ドアを設けて出入口が3つとなりました（両端はオープンデッキ）。座席定員が削減された一方で立席分が調整され、全体の定員は90人で変化ありません。また台車も基本構造は変わらないものの軸距が延長されています。</p>

		<p>東京急行電鉄の成立でデハ20形に改番された後、3両が箱根登山鉄道<small>（現：小田急箱根）</small>の小田原市内線に譲渡、残りは車体更新で<a href="#deha80">デハ80形</a>に統合されました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup">譲渡</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>36→デハ20</th>
						<td rowspan="10"><Licence no="玉第35号" title="車両構造認可願" date="1925-04-20" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="監第1508号" date="1925-06-20" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="玉第57号" title="車両竣工届" date="1925-06-24" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td></td>
						<td rowspan="5">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>37→デハ21</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>38→デハ22</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>39→デハ23</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>40→デハ24</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>41→デハ25</th>
						<td rowspan="3"><Licence summary="東急→箱根" no="技発戌第40号" title="車両譲渡届" date="1946-02-23" possess={['tetsudo']} /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>42→デハ26</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>43→デハ27</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>44→デハ28</th>
						<td></td>
						<td rowspan="2">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>45→デハ29</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="passenger46-55">
		<H slot="heading"><small>玉川／東横</small>電動客車 46～55 → <small>東急</small>デハ30形</H>

		<p>それまでの木製車体から半鋼製車体となり、屋根はモニターデッキ（<span lang="en">Clerestory</span> 型）から段差のないプレーンアーチ型へ、両端の出入口はドア付きとなった一方で、車輪径が元に戻ってふたたび客室が一段高くなり、中間ドアはなくなるなど、部位によって進化と退化が混在したようなグループです。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>46→デハ30</th>
						<td rowspan="10"><Licence no="玉第93号" title="車両構造認可願" date="1926-11-20" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="監第737号" date="1927-04-01" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="玉第50号" title="車両竣工届" date="1927-04-01" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>47→デハ31</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>48→デハ32</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>49→デハ33</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>50→デハ34</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>51→デハ35</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>52→デハ36</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>53→デハ37</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>54→デハ38</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>55→デハ39</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="passenger56-66">
		<H slot="heading"><small>玉川／東横</small>電動客車 56～66 → <small>東急</small>デハ40形</H>

		<p><a href="#passenger46-55">46～55号車</a>に中間ドアを付けたほかは殆ど同様の構造です。中間ドアは<a href="#passenger36-45">36～45号車</a>のものとは異なり、階段が折り畳み可能な外付け式で、車掌や駅員が外部より開閉操作を行うものとされました。</p>

		<p>玉川電気鉄道の新線建設は<DateWareki value="1927" />の玉川<small>（現：二子玉川）</small>―溝ノ口<small>（現：溝の口）</small>間をもって終了しており、車両増備は次の<a href="#deha70">デハ70形</a>まで15年ほど停止、むしろ<DateWareki value="1937" />の渋谷以東の天現寺橋、中目黒方面の分断などによる4輪単車や貨車の一部廃車により車両数は微減しています。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請／届出</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>56→デハ41</th>
						<td rowspan="6"><Licence no="玉第6号" title="車両設計認可申請" date="1928-06-29" possess={['tetsudo', 'tokyo']} /></td>
						<td rowspan="6"><Licence no="監第2348号" date="1928-07-17" possess={['tetsudo', 'tokyo']} /></td>
						<td rowspan="6"><Licence /></td>
						<td rowspan="11"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>57→デハ42</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>58→デハ43</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>59→デハ44</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>60→デハ45</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>61→デハ46</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>62→デハ47</th>
						<td rowspan="5"><Licence no="玉第53号" title="電動客車増備届" date="1929-03-30" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5" class="u-cell -center">―</td>
						<td rowspan="5" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>63→デハ48</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>64→デハ49</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>65→デハ50</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>66→デハ51</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>56～61号車の竣功届は残されていないが、玉川電気鉄道の「<cite>第51期　営業報告書</cite>」には<DateWareki value="1928-08-15" />に完成とある。ここでいう<q>完成</q>は竣功届の提出日と同義と見なせる。</li>
		</ul>
	</Section>

	<Section id="passenger71-75">
		<H slot="heading"><small>東横</small>電動客車 31～35 → 71～75 → <small>東急</small>デハ60形</H>

		<p>玉川電気鉄道が東京横浜電鉄へ合併された直後、30号車以前に先がけて<a href="#passenger31-35">31～35号車</a>の半鋼体化改造が行われたのですが、改造車であることを区別するため車号も70番台に変更されました（書類上は改造竣功の翌日に改番）。</p>

		<p>車体の載せ替えにより 13m 級の3ドア構成となり、大きな側窓は高さも 950mm に拡大されて<a href="/tokyu/data/history_mekama&toyoko_passenger#moha1000">鉄道線モハ1000形</a>との共通性も感じます。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="4"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="4">設計変更（半鋼体化）</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">改番届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>31→<small>電動客車</small>71→デハ61</th>
						<td rowspan="5"><Licence no="東横寅第3836号" title="車両設計変更認可申請書" date="1939-01-16" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="監第4079号" date="1939-12-22" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="東辰第17号" title="車両設計変更竣功届" date="1940-01-11" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="東辰第75号" title="車両番号変更届" date="1940-01-12" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>32→<small>電動客車</small>72→デハ62</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>33→<small>電動客車</small>73→デハ63</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>34→<small>電動客車</small>74→デハ64</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>35→<small>電動客車</small>75→デハ65</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha70">
		<H slot="heading"><small>東急</small>デハ70形</H>

		<p>前述のとおり<DateWareki value="1941-10" />に4輪電動客車2両と電動貨車5両が満洲国の新京交通<small>（現：<span lang="zh-Hans">长春有轨电车</span>）</small>へ供出されたのですが、その代替として新造車両が3両増備されることになりました（同年8月19日に鉄道省より通牒）。当時は(新)東京横浜電鉄の時代で木造車を半鋼体化した<a href="#passenger71-75">71～75号車</a>が最大番号で存在しており、新造車両は81～83号車となる予定だったのですが<FootnoteReference><RefTetsudosho company="東京急行電鉄" no="企電午第129号" date="1942-08-17" title="電動客車設計變更認可申請書" url="https://www.digital.archives.go.jp/item/507956" /></FootnoteReference>、購入認可と竣功は東京急行電鉄の成立後となり、実際の車号は70番台とされました。</p>

		<p>当初は(旧)71～75号車と同じ仕様での購入認可申請が行われたのですが、認可後に主電動機を 37.3kW → 50kW に増大する設計変更が行われ、その影響で台車の固定軸距と車輪径をそれぞれ 100mm 拡大したため高床車となっています。また予定番号 81, 82 の2両は当時 56, 72号車で試験が行われていた総括制御器（MMC-50 型）を取り付けることとされました。書類上はこの時点では連結器を設置せず、<DateWareki value="1949" />に取り付けたことになっているのですが<FootnoteReference><RefTetsudosho company="東京急行電鉄" no="車子発第18号" date="1948-02-26" title="車輛設計變更認可申請書" url="https://www.digital.archives.go.jp/item/467048" /></FootnoteReference>、入線直後と思われるデハ71 の写真<FootnoteReference><RefBook name="東急電車形式集.3" authors={['レイルロード']} year={1997} pages={[86]} url="https://www.amazon.co.jp/dp/4947714034/" /></FootnoteReference>を見るに、少なくとも片側は完成時から並形の自動連結器を備えていたようです。</p>

		<p>一方、工事方法書では別途7両の増備認可を申請していたものの、第二次世界大戦の影響もあってか当初は5両分しか認可が下りず、<DateWareki value="1943" />になって残り2両分も認可されたものの設計認可申請には至らず、その結果8両で打ち止めとなりました。増備認可が下りた5両のうち、設計認可申請にてデハ74～75 は直接制御、デハ76～78 は総括制御（MMC-50 型）とされたものの、前者は完成が終戦後にずれ込み、書類上は他の6両を改めて総括制御対応に設計変更する工事の竣功に合わせて<DateWareki value="1949" />に竣功届が提出されています。もっとも実際には<DateWareki value="1946" />に完成していたようで<FootnoteReference><RefMagazine name="Romance Car" no={19} article="東京急行電鉄3" authors={['川垣恭三']} pages={[9]} /></FootnoteReference>、東急側でもその時期の入籍となっています。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="2">工事方法</th>
						<th scope="colgroup" colspan="5">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">設計変更申請</th>
						<th scope="col">設計変更認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ71</th>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td rowspan="3"><Licence no="東横電巳第198号" title="電動客車購入認可申請書" date="1941-12-16" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="3"><Licence no="監第1745号" date="1942-07-01" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="3"><Licence no="企電午第129号" title="電動客車設計変更認可申請書" date="1942-08-17" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence no="監第309号" date="1943-03-01" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence no="企電未第136号" date="1943-03-26" /></td>
					</tr>
					<tr>
						<th scope="row">デハ72</th>
					</tr>
					<tr>
						<th scope="row">デハ73</th>
					</tr>
					<tr>
						<th scope="row">デハ74</th>
						<td rowspan="7"><Licence no="東辰第1011号" title="工事方法書一部変更認可申請書" date="1940-03-30" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="監第1764号" date="1942-07-08" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="企電未第315号" title="電動客車設計認可申請書" date="1943-07-12" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="鐵業監第591号" date="1944-05-18" possess={['tetsudo']} /></td>
						<td rowspan="2"><Licence no="車亥発第97号" title="車両設計変更認可申請書" date="1947-10-23" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="2"><Licence no="陸業第382号" date="1949-03-22" possess={['tetsudo']} /></td>
						<td rowspan="2"><Licence no="東急車丑発第19号" title="車両竣功届提出について" date="1949-04-04" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ75</th>
					</tr>
					<tr>
						<th scope="row">デハ76</th>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td rowspan="3"><Licence no="企電申第354号" date="1944-08-10" /></td>
					</tr>
					<tr>
						<th scope="row">デハ77</th>
					</tr>
					<tr>
						<th scope="row">デハ78</th>
					</tr>
					<tr>
						<th scope="row">未製造</th>
						<td rowspan="2"><Licence no="監第2084号" date="1943-10-26" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
					</tr>
					<tr>
						<th scope="row">未製造</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ71～73, 76～78 の竣功届そのものは残されていないが、<LinkExternal href="https://www.digital.archives.go.jp/item/396822">連結運転に伴う設計変更の認可申請書類</LinkExternal>内の記述により提出日は判明している。</li>
		</ul>
	</Section>

	<Section id="dewa3030">
		<H slot="heading"><small>東急</small>デワ3030形 → デト3030形</H>

		<p><DateWareki value="1941-10" />に<a href="#freight1-5">電動貨車 1～5</a> が供出されたため、玉川線には付随貨車を牽引できる車両がなくなっていたのですが、品川営業局<small>（現：京浜急行電鉄）</small>で余剰となっていた電動貨車デワ5010形1両が転局することになり、軌間改造（1,435mm → 1,372mm）のほか、付随貨車に合わせて新たにねじ式連結器を追加（バッファーはもともと装備）、またパンタグラフはトロリーポールへの変更が実施されています。この際、車両番号はなぜか鉄道線用の3000番台が付与されました。</p>

		<p>一度取り止めた貨車の使用を再開した理由は、認可申請書の記述によれば、軌道保守にはトラックを使用していたもののそれが不可能になってきたためとされており、日中戦争を発端とした石油規制の影響が覗えます。(旧)京浜電気鉄道でも同様の理由でやはり鉄道車両による保守作業に迫られたのですが<FootnoteReference><RefBook name="京浜急行八十年史" authors={['京浜急行電鉄']} year={1980} pages={[433]} url="https://dl.ndl.go.jp/pid/11951009/1/240" linkScope="page" /></FootnoteReference>、入れ替わるように無蓋貨車6両を転局させていますから、電動貨車に余剰があった京浜線と、逆に付随貨車のみが残っていた玉川線とが同一会社になったことでうまく車両を融通し合えた（改軌工事をしてでも融通せねばならない状況にあった）ということでしょう。</p>

		<p>ところで玉川線ではあくまで軌道保守や社用品輸送の用途であり大規模な砂利輸送は取り止めていたため、付随貨車を連結しての運転は効率的ではなく、戦後になって電動貨車自体に運搬物を積載できるよう車体を無蓋タイプに載せ替える改造が行われ、車両記号もデワからデトへ変更されました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">設計変更（転局&amp;改軌）</th>
						<th scope="colgroup" colspan="3">設計変更（無蓋車化）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デワ3031→デト3031</th>
						<td>デワ5013</td>
						<td><Licence no="企電午第320号" title="電動貨車設計変更認可申請書" date="1942-12-14" possess={['tetsudo', 'naimu']} /></td>
						<td><Licence no="監第2025号" date="1943-10-22" possess={['tetsudo', 'naimu']} /></td>
						<td><Licence /></td>
						<td><Licence no="東急車発25第49号" title="車両設計変更認可申請書" date="1950-12-12" possess={['tetsudo', 'naimu']} /></td>
						<td><Licence no="鉄監第529号" date="1951-05-09" possess={['tetsudo', 'naimu']} /></td>
						<td><Licence no="東急車発26第24号" title="車両竣功届" date="1951-08-22" possess={['tetsudo']} /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha80">
		<H slot="heading"><small>東急</small>デハ80形</H>

		<p>戦後の本格的な車両増備は、前述のデハ74～75 の例外を除けばデハ80形より始まります。これは1949<small>(昭和24)</small>年度の増備認可を受けたもので、その認可書類は残されておらず詳細は不明ながら8両での認可申請が行われ、そのうち6両が認可されたもののようです<FootnoteReference><RefMagazine name="Romance Car" no={[21, 22]} article="東京急行電鉄　完結篇" authors={['川垣恭三']} pages={[116]} /></FootnoteReference>。主電動機は 74.6kW（100馬力）で後のデハ150形より大きく歴代最強を誇り、新製当時からビューゲルを装備、正面上部の両脇には緑ランプの方向指示灯（三軒茶屋の分岐で使用）が付きました。中央ドアは<a href="#passenger56-66">デハ40形</a>のような階段外付け式ですが、閉扉時はステップが台枠下部に収納される方式となっています。</p>

		<p>一方、木製車のデハ20 は<DateWareki value="1946-05" />に漏電のため車体を全焼しており、復旧に際しデハ81～86 と同じ車体に載せ替えて80形に編入されました。この際、連結運転のために主電動機容量を増大させる必要がありデハ46 と台車を振り替えたため、デハ20 の面影はほとんど残っていません。主電動機は当初 48.5kW を搭載していたのですが、2年ほどで新造車と同じ 74.6kW に変更されています。</p>

		<p>その後、木製車体で残っていたデハ1形、デハ20形の半鋼体化改造が実施されるに際し、同様にデハ80形の車体への載せ替えと形式編入が行われました。主電動機は 48.5kW を搭載し、このうちデハ20形の更新（デハ103～108）に関しては台車をデハ30形、デハ40形と交換していたため、デハ80形の台車は国産新製台車（固定軸距 1,380mm）、国産流用台車（固定軸距 1,422mm）、<span lang="en">Brill</span> 76-E 流用台車（固定軸距 1,473mm）の3種類となりました。このほか車内照明に交流蛍光灯が採用され、電動発電機を搭載したことも特筆されます。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="2">旧車号</th>
						<th scope="colgroup" colspan="2">増備</th>
						<th scope="colgroup" colspan="3">購入／設計変更（半鋼体化）</th>
					</tr>
					<tr>
						<th scope="col">書類上の種車</th>
						<th scope="col">台車</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">申請／届出</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ81</th>
						<td colspan="2" class="u-cell -center">―</td>
						<td rowspan="8"><Licence /></td>
						<td rowspan="6"><Licence date="1949-04-14" /></td>
						<td rowspan="6"><Licence no="東急車丑発第47号" title="車両設計認可申請書" date="1949-11-02" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="鉄監第40号" date="1950-01-07" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="東急車発25第7号" title="車両竣功届" date="1950-03-02" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ82</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ83</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ84</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ85</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ86</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">未製造</th>
						<td colspan="2" class="u-cell -center">―</td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
					</tr>
					<tr>
						<th scope="row">未製造</th>
						<td colspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ87</th>
						<td>デハ20</td>
						<td>デハ46</td>
						<td></td>
						<td></td>
						<td><Licence no="東急車発25第13号" title="車両設計変更認可申請書" date="1950-03-31" possess={['tetsudo']} /></td>
						<td><Licence no="鉄監第1553号" date="1950-10-10" possess={['tetsudo']} /></td>
						<td><Licence no="東急車発25第41号" title="車両竣功届" date="1950-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ88</th>
						<td colspan="2">デハ6</td>
						<td></td>
						<td></td>
						<td rowspan="5"><Licence no="東急車発27第48号" title="車両設計変更認可申請書" date="1952-07-03" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="鉄監第1327号" date="1952-12-25" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="東急車発27第31号" title="車両竣功届" date="1953-03-23" possess={['naimu']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ89</th>
						<td colspan="2">デハ4</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ90</th>
						<td colspan="2">デハ8</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ91</th>
						<td colspan="2">デハ9</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ92</th>
						<td colspan="2">デハ10</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ93</th>
						<td colspan="2">デハ12</td>
						<td></td>
						<td></td>
						<td rowspan="10"><Licence no="東急車発28第32号" date="1953-03-23" /></td>
						<td rowspan="10" class="u-cell -center">―</td>
						<td rowspan="10" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ94</th>
						<td colspan="2">デハ13</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ95</th>
						<td colspan="2">デハ11</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ96</th>
						<td colspan="2">デハ3</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ97</th>
						<td colspan="2">デハ2</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ98</th>
						<td colspan="2">デハ14</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ99</th>
						<td colspan="2">デハ7</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ100</th>
						<td colspan="2">デハ1</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ101</th>
						<td colspan="2">デハ5</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ102</th>
						<td colspan="2">デハ15</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ103</th>
						<td>デハ28</td>
						<td>デハ47</td>
						<td></td>
						<td></td>
						<td rowspan="6"><Licence no="東急車発28第53号" title="車両設計変更認可申請書" date="1953-06-03" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="鉄監第1213号" date="1953-12-16" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="東急車発29第9号" title="車両竣功届" date="1954-01-27" possess={['naimu']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ104</th>
						<td>デハ29</td>
						<td>デハ49</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ105</th>
						<td>デハ22</td>
						<td>デハ50</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ106</th>
						<td>デハ21</td>
						<td>デハ51</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ107</th>
						<td>デハ23</td>
						<td>デハ30</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ108</th>
						<td>デハ24</td>
						<td>デハ48</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ81～86 の増備認可に関する書類そのものは残されていないが、<LinkExternal href="https://www.digital.archives.go.jp/item/542143">同車の竣功届</LinkExternal>内の記述により認可日のみ判明している。</li>
			<li>デハ93～102 の届出書類そのものは残されていないが、<LinkExternal href="https://www.digital.archives.go.jp/item/405374">客室照明の蛍光灯化に伴う設計変更の認可申請書類</LinkExternal>に添付の車両竣功図表内の記述により届出日は判明している。</li>
			<li>デハ93～102 の旧車号との対照は<RefMagazine name="鉄道ピクトリアル" date="1977年6月臨時増刊号" no={335} article="私鉄車両めぐり〔111〕東京急行電鉄" authors={['荻原二郎、荻原俊夫']} pages={[86]} />による。</li>
		</ul>
	</Section>
</Layout>
