---
import dayjs from 'dayjs';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import GithubSlugger from 'github-slugger';
import H from '@components/H.astro';
import Layout from '@layouts/Tokyu.astro';
import Licence from '@components/TokyuLicence.astro';
import LinkExternal from '@components/LinkExternal.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東京急行電鉄　車歴表',
	dateModified: dayjs('2024-06-01'),
	description: '東京急行電鉄成立（1942年）から1949年までの鉄道線の旅客車のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/history_mekama&toyoko_passenger', name: '目黒・東横　旅客車' },
		{ path: '/tokyu/data/history_mekama&toyoko_freight', name: '目黒・東横　機関車&貨車' },
		{ path: '/tokyu/data/history_ikegami', name: '池上' },
		{ path: '/tokyu/data/history_tokyu', name: '東急' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>認可、竣功などの日付は原則として<LinkExternal href="https://www.archives.go.jp/">国立公文書館</LinkExternal>が所蔵する公文書（鉄道省および運輸通信省、運輸省文書）を情報源とします。ただし公文書が残されていないものは出典を明記したうえで市販の書籍など2次情報を参照しています。</li>
			<li>竣功後の改造は車両称号の変更を伴うものに限ります。</li>
			<li>
				表中の鉄道事業者および車両譲渡先の名称は以下のとおり省略表記しています。
				<ul>
					<li>東急：東京急行電鉄</li>
					<li>庄内：庄内交通<small>（1975年鉄道事業廃止）</small></li>
					<li>相鉄：相模鉄道</li>
					<li>江ノ電：江ノ島電気鉄道<small>（現：江ノ島電鉄）</small></li>
					<li>静岡：静岡鉄道</li>
					<li>京福：京福電気鉄道福井支社<small>（現：えちぜん鉄道）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="deha3250">
		<H slot="heading">デハ3250形<small>（東京横浜電鉄引継）</small></H>

		<div class="p-text">
			<p></p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup">車号</th>
						<th scope="colgroup">譲渡</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ3251</th>
						<td rowspan="2"><Licence summary="東急→静岡" no="東急車丑第9号" title="車両譲渡届" date="1949-02-19" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3252</th>
					</tr>
					<tr>
						<th scope="row">デハ3253</th>
						<td><Licence summary="東急→庄内" no="東急車子発第68号" title="車両譲渡届" date="1948-09-25" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3254</th>
						<td><Licence summary="東急→京福" no="東急車子発第73号" title="車両譲渡届" date="1948-10-19" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3255</th>
						<td rowspan="3"><Licence summary="東急→京福" no="車亥発第27号" title="車両譲渡届" date="1947-03-31" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3256</th>
					</tr>
					<tr>
						<th scope="row">デハ3257</th>
					</tr>
					<tr>
						<th scope="row">デハ3258</th>
						<td><Licence summary="東急→庄内" no="車亥発第28号" title="車両譲渡届" date="1947-03-31" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kuha3650">
		<H slot="heading">クハ3650形</H>

		<div class="p-text">
			<p>クハ3650形のうち最初に製造された6両の認可申請は東京横浜電鉄の時代に行われましたが、認可は東京横浜電鉄の成立後となり、製造当初から3000番台の車号が与えられた最初の車両であり、そして結果的に終戦前最後の新造車となってしまった車両でもあります。</p>
			<p><a href="/tokyu/data/history_mekama&toyoko_passenger#deha3550"><DateWareki value="1940-02" />に新製認可された44両の電動車</a>と連結使用する計画だったため、片運転台で連結面側は 1,100mm の広幅貫通路を持っており、また密着連結器を装備する予定だったことが注目されます。認可申請の後、監督局とのやりとりの中で電動車の完成時期がずれたために1位側（連結面側）のみ密着連結器として2位側（運転台側）は自動連結器とするとされ<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東横電午第57号" date="1942-04-30" url="https://www.digital.archives.go.jp/item/508749" /></FootnoteReference>、初期の車両竣功図表でもそのようになっていますが、電動車と連結する側を密着連結器とすることは中間連結器を常時取り付けるのでもない限り考えにくく、実際に密着連結器が装備されたのかどうかは疑念が残ります。</p>
			<p>なお、これらの車両は<DateWareki value="1939-10-02" />に認可された<a href="/tokyu/data/history_mekama&toyoko_passenger#moha150">サハ1形増備予定車（未製造）</a>の工事方法計画<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東横寅第1175号" date="1938-05-24" title="工事方法書中事項一部変更ノ件" url="https://www.digital.archives.go.jp/item/522593" /></FootnoteReference>を利用して設計認可申請が行われたものであり<FootnoteReference>サハ1形の増備は<DateWareki value="1939-10-02" />の「監第3302号」で認可されていたのに対し、クハ3650形新製の認可申請は同じ10月2日の「監第3320号」を根拠としています。しかし後者の認可記録は見当たらないことから、単なる数字の誤記と判断する次第です。</FootnoteReference>、両数が6両なのは元を辿れば<DateWareki value="1938" />時点で鉄道省木造車が6両残っていた事実に由来することになります。</p>
			<p>一方、<DateWareki value="1946-12" />に渋谷駅の夜間留置中に全焼事故を起こしたデハ3508 は片運転台の制御車として復旧されることとなり、クハ3650形に編入されました。もともとクハ3650形の車体寸法はデハ3500形と同一であることから全体的には違和感のない編入ですが、連結面は種車のまま非貫通とされたため特徴がありました。また輸送力増強のためか座席数は半減とされ、他車の44人分に対し22人分になりました（立席を含めた定員数は130人で変わらず）。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">購入／設計変更</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3651</th>
						<td></td>
						<td rowspan="6"><Licence no="東横電午第1号" title="付随客車設計認可新製の件" date="1942-01-10" /></td>
						<td rowspan="6"><Licence no="監第1771号" date="1942-06-23" /></td>
						<td rowspan="6"><Licence no="企電午第141号" title="車両竣功届" date="1942-08-31" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3652</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">クハ3653</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">クハ3654</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">クハ3655</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">クハ3656</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">クハ3657</th>
						<td>デハ3508</td>
						<td><Licence no="車子発第33号" title="車両設計変更認可申請書" date="1948-04-15" /></td>
						<td><Licence no="陸業第524号" date="1948-05-29" /></td>
						<td><Licence /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha1100">
		<H slot="heading">デハ1100形</H>

		<div class="p-text">
			<p>溝ノ口<small>（現：溝の口）</small>付近に工場新設が相次いだことに伴う輸送力強化のため、玉川線の延長線のような扱いだった溝ノ口線を改軌して大井町線列車を乗り入れるようにする変更が行われることになり、<DateWareki value="1943-07-01" />より乗り入れが開始、これに伴う車両増備として新宿営業局<small>（現：小田急電鉄）</small>よりデハ1100形3両が 600V 降圧化のうえ転局されました。</p>
			<p>この車両は<DateWareki value="1938" />に当時の小田原急行鉄道<small>（現：小田急電鉄）</small>が鉄道省モハ1形の払い下げを受けてモハ51形とした木造電車で、元をたどれば京浜線<small>（現：JR 京浜東北線）</small>の増備車として製造されたデハ33500形となります。わずか3両の所帯でありながらラッシュ時用とするためか目蒲線と大井町線に分かれて配属されましたが、両線での使用は短期間に終わり、<DateWareki value="1944" />には相模鉄道へ貸与されて神中線<small>（現：相模鉄道の本線）</small>の 600V 区間（横浜〜二俣川）で使用されることとなり、<DateWareki value="1948" />には正式に譲渡されました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup">車号</th>
						<th scope="colgroup">転入</th>
						<th scope="colgroup">貸渡</th>
						<th scope="colgroup">譲渡</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ1101</th>
						<td rowspan="3"><Licence summary="新宿局→渋谷局" /></td>
						<td><Licence summary="東急→相鉄" /></td>
						<td rowspan="3"><Licence summary="東急→相鉄" no="車子発第20号" title="車両譲渡届" date="1948-03-01" /></td>
					</tr>
					<tr>
						<th scope="row">デハ1102</th>
						<td><Licence summary="東急→相鉄" /></td>
					</tr>
					<tr>
						<th scope="row">デハ1103</th>
						<td><Licence summary="東急→相鉄" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>新宿局からの転入は同一社内での異動につき認可書類は存在しない。</li>
			<li>相模鉄道への貸渡は認可書類が残されていないため、詳細な時期は不明だが、<RefMagazine name="Romance Car" no={2} article="東京急行電鉄デハ1100形及び相模鉄道クハ1100形に就て" author="T.T.D. 東急電鐵部" pages={[60, 61]} />および<RefMagazine name="Romance Car" no={19} article="東京急行電鉄3" author="川垣恭三" pages={[7]} />によると<DateWareki value="1944" />秋から<DateWareki value="1945" />にかけて順次移動したとされている。</li>
		</ul>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">戦時設計車<small>（未製造）</small></H>

		<div class="p-text">
			<p>戦時下において5両の新製が計画された電動車で、横浜営業局<small>（現：京浜急行電鉄）</small>向けの制御車5両と同じタイミングで認可申請、認可がなされています。車体寸法は<a href="/tokyu/data/history_mekama&toyoko_passenger#moha1000">デハ3500形<small>（旧：モハ1000形）</small></a>と同一の 17m 級車両で、片運転台のため定員は<a href="#kuha3650">クハ3650形</a>と同じ130人（座席44人、立席86人）とされましたが、これに対し監督局からは「輸送力増強のため座席数を半減程度とする」「客室内に掴み棒を設ける」「室内灯に灯火管制設備を設ける」といった通牒が出されています。</p>
			<p>認可後に終戦を迎えるなど状況の変化があったためか、実際に製造されることなく幻の車両となりました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">未採番（電動車5両）</th>
						<td><Licence no="企電申午第467号" title="電動客車設計認可申請書" date="1944-11-15" /></td>
						<td><Licence no="鉄業監第357号" date="1945-05-02" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kuha3670">
		<H slot="heading">クハ3670形、クハ3770形</H>

		<div class="p-text">
			<p>国電復旧車で地方鉄道建設規定で定められた車両定規を超過しているため、使用区間を東横線のみとして特別設計許可を得ての復旧とされました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" colspan="5">払下</th>
					</tr>
					<tr>
						<th scope="col">増備認可申請</th>
						<th scope="col">増備認可</th>
						<th scope="col">設計認可／特別設計許可申請</th>
						<th scope="col">設計認可／特別設計許可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3671</th>
						<td>運輸省モハ50062</td>
						<td rowspan="5"><Licence no="車発亥第18号" title="車両増備認可申請書" date="1947-03-03" /></td>
						<td rowspan="5"><Licence no="陸業第58号" date="1948-01-27" /></td>
						<td><Licence no="車子発第21号" title="車両設計認可並びに車両特別設計許可申請書" date="1948-03-02" /></td>
						<td><Licence no="陸業第501号" date="1948-05-26" /></td>
						<td><Licence no="車子発第50号" title="車両竣工届" date="1948-07-27" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3672</th>
						<td>運輸省モハ30025</td>
						<td rowspan="3"><Licence no="車子発第42号" title="車両設計認可並に車両特別設計許可申請書" date="1948-06-12" /></td>
						<td rowspan="3"><Licence no="陸業第389号" date="1949-03-03" /></td>
						<td rowspan="3"><Licence no="東急車丑発第18号" title="車両竣功届及び車号変更届提出について" date="1949-04-13" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3673</th>
						<td>運輸省モハ30035</td>
					</tr>
					<tr>
						<th scope="row">クハ3674</th>
						<td>運輸省モハ30045</td>
					</tr>
					<tr>
						<th scope="row">クハ3675</th>
						<td>運輸省モハ50114</td>
						<td><Licence no="車子発第21号" title="車両設計認可並びに車両特別設計許可申請書" date="1948-03-02" /></td>
						<td><Licence no="陸業第501号" date="1948-05-26" /></td>
						<td><Licence no="車子発第50号" title="車両竣工届" date="1948-07-27" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" colspan="5">払下</th>
					</tr>
					<tr>
						<th scope="col">増備認可申請</th>
						<th scope="col">増備認可</th>
						<th scope="col">設計認可／特別設計許可申請</th>
						<th scope="col">設計認可／特別設計許可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3771</th>
						<td>運輸省クハ65141</td>
						<td rowspan="3"><Licence no="車発亥第18号" title="車両増備認可申請書" date="1947-03-03" /></td>
						<td rowspan="3"><Licence no="陸業第58号" date="1948-01-27" /></td>
						<td rowspan="3"><Licence no="東急車子発第43号" title="車両設計認可並に車両特別設計許可申請書" date="1948-06-12" /></td>
						<td rowspan="3"><Licence no="陸業第570号" date="1949-03-23" /></td>
						<td rowspan="4"><Licence no="東急車丑発第18号" title="車両竣功届及び車号変更届提出について" date="1949-04-13" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3772</th>
						<td>運輸省クハ65147</td>
					</tr>
					<tr>
						<th scope="row">クハ3773</th>
						<td>運輸省クハ65027</td>
					</tr>
					<tr>
						<th scope="row">クハ3774</th>
						<td>運輸省サハ36024</td>
						<td></td>
						<td></td>
						<td><Licence no="東急車子発第54号" title="車両設計認可並に車両特別設計許可申請書" date="1948-08-19" /></td>
						<td><Licence no="陸業第569号" date="1949-03-23" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3775</th>
						<td>運輸省サハ36052</td>
						<td></td>
						<td></td>
						<td><Licence no="東急車丑発第23号" title="車両増加認可並に特別設計許可申請書" date="1949-05-13" /></td>
						<td><Licence no="陸業第503号" date="1949-09-05" /></td>
						<td><Licence no="東急車丑発第53号" title="車両竣功届" date="1949-11-30" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>クハ3671, 3675 の運輸省車号との対照は車両竣功図表による（認可書類には2両まとめての記載しかされていない）。</li>
			<li>クハ3672〜3674 は当初クハ3673〜3675 として設計認可申請が行われたが、竣功の際に改番された。</li>
			<li>クハ3675 は当初クハ3672 として設計認可申請が行われたが、竣功の際に改番された。</li>
		</ul>
	</Section>

	<Section id="deha3700">
		<H slot="heading">デハ3700形、クハ3750形</H>

		<div class="p-text">
			<p>第二次世界大戦後の車両新製として、</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="5">購入</th>
					</tr>
					<tr>
						<th scope="col">増備認可申請</th>
						<th scope="col">増備認可</th>
						<th scope="col">設計認可申請</th>
						<th scope="col">設計認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ3701</th>
						<td rowspan="15"><Licence no="車発亥第18号" title="車両増備認可申請書" date="1947-03-03" /></td>
						<td rowspan="15"><Licence no="陸業第58号" date="1948-01-27" /></td>
						<td rowspan="15"><Licence no="車子発第24号" title="車両設計認可申請書" date="1948-03-23" /></td>
						<td rowspan="15"><Licence no="陸業第1288号" date="1948-08-12" /></td>
						<td rowspan="15"><Licence no="東急車子発第65号1" title="車両竣功届" date="1948-09-20" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3702</th>
					</tr>
					<tr>
						<th scope="row">デハ3703</th>
					</tr>
					<tr>
						<th scope="row">デハ3704</th>
					</tr>
					<tr>
						<th scope="row">デハ3705</th>
					</tr>
					<tr>
						<th scope="row">デハ3706</th>
					</tr>
					<tr>
						<th scope="row">デハ3707</th>
					</tr>
					<tr>
						<th scope="row">デハ3708</th>
					</tr>
					<tr>
						<th scope="row">デハ3709</th>
					</tr>
					<tr>
						<th scope="row">デハ3710</th>
					</tr>
					<tr>
						<th scope="row">デハ3711</th>
					</tr>
					<tr>
						<th scope="row">デハ3712</th>
					</tr>
					<tr>
						<th scope="row">デハ3713</th>
					</tr>
					<tr>
						<th scope="row">デハ3714</th>
					</tr>
					<tr>
						<th scope="row">デハ3715</th>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="5">購入</th>
					</tr>
					<tr>
						<th scope="col">増備認可申請</th>
						<th scope="col">増備認可</th>
						<th scope="col">設計認可申請</th>
						<th scope="col">設計認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3751</th>
						<td rowspan="5"><Licence no="車発亥第18号" title="車両増備認可申請書" date="1947-03-03" /></td>
						<td rowspan="5"><Licence no="陸業第58号" date="1948-01-27" /></td>
						<td rowspan="5"><Licence no="車子発第25号" title="車両設計認可申請書" date="1948-03-23" /></td>
						<td rowspan="5"><Licence no="陸業第1287号" date="1948-08-13" /></td>
						<td rowspan="5"><Licence no="東急車子発第65号2" title="車両竣功届" date="1948-09-20" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3752</th>
					</tr>
					<tr>
						<th scope="row">クハ3753</th>
					</tr>
					<tr>
						<th scope="row">クハ3754</th>
					</tr>
					<tr>
						<th scope="row">クハ3755</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kuha3220">
		<H slot="heading">クハ3220形</H>

		<div class="p-text">
			<p></p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">戦災復旧</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3221</th>
						<td rowspan="2">デハ3203, 3206</td>
						<td rowspan="2"><Licence /></td>
						<td rowspan="2"><Licence no="陸業第2702号" date="1948-12-09" /></td>
						<td rowspan="2"><Licence no="東急車丑発第2号" title="車両竣功届" date="1949-01-06" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3222</th>
					</tr>
					<tr>
						<th scope="row">クハ3223</th>
						<td rowspan="2">デハ3152, 3154</td>
						<td rowspan="2"><Licence /></td>
						<td rowspan="2"><Licence no="陸業第2710号" date="1948-12-09" /></td>
						<td rowspan="2"><Licence no="東急車丑発第1号" title="車両竣功届" date="1949-01-06" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3224</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kuha3660">
		<H slot="heading">クハ3660形</H>

		<div class="p-text">
			<p>小田原線で全焼事故を起こした車両の代替として川崎車輛<small>（現：川崎車両）</small>で<DateWareki value="1947" />に2両分の車体が製造されたものの、事故車は独自に復旧したため、(元)京浜電気鉄道<small>（現：京浜急行電鉄）</small>の木造車の復旧扱いとしてその車体を流用することになりました。</p>
			<p>台車は運輸省の TR-10 型を履かせたため、車両の新造許可が出ない時代に廃車同然となっていた戦災車と事故車の名義を利用しただけのことと思われ、申請書類においても<q>舊設計圖書は戦災等によって逸散したものが多い</q>との理由を付けて改造工事における各種諸元の新旧比較を省略しています<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東急車丑発第24号" date="1949-05-20" title="車輛設計變更認可申請書" url="https://www.digital.archives.go.jp/item/501674" /></FootnoteReference>。</p>
			<p>下表のとおり認可、竣功は<DateWareki value="1949" />に行われたものの、車体はデハ3700形、クハ3750形より早く<DateWareki value="1947" />の秋に出場していたことから<FootnoteReference><RefMagazine name="Romance Car" no={19} article="東京急行電鉄3" author="川垣恭三" pages={[7]} /></FootnoteReference>、終戦後初の（事実上の）新車ということになります。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">半鋼体化</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3661</th>
						<td rowspan="2">クハ5213, 5222</td>
						<td rowspan="2"><Licence no="東急車丑発第24号" title="車両設計変更認可申請書" date="1949-05-20" /></td>
						<td rowspan="2"><Licence no="東陸鉄技第173号" date="1949-10-21" /></td>
						<td rowspan="2"><Licence no="東急車丑発第53号" title="車両竣功届" date="1949-11-30" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3662</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kuha3230">
		<H slot="heading">クハ3230形</H>

		<div class="p-text">
			<p></p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">戦災復旧</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ3231</th>
						<td rowspan="2">デハ3302, 3303</td>
						<td rowspan="2"><Licence no="東急車丑発第29号" title="車両設計変更認可申請書" date="1949-06-27" /></td>
						<td rowspan="2"><Licence no="東陸鉄技第174号" date="1949-11-01" /></td>
						<td rowspan="2"><Licence no="東急車丑発第53号" title="車両竣功届" date="1949-11-30" /></td>
					</tr>
					<tr>
						<th scope="row">クハ3232</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha3600">
		<H slot="heading">デハ3600形</H>

		<div class="p-text">
			<p></p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="3">払下</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可／特別設計許可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ3601</th>
						<td>運輸省モハ31087</td>
						<td rowspan="2"><Licence no="東急車丑発第32号" title="車両設計認可並に特別設計許可申請書" date="1949-07-23" /></td>
						<td rowspan="2"><Licence no="鉄監第722号" date="1949-11-08" /></td>
						<td rowspan="2"><Licence no="東急車丑発第54号" title="車両竣功届提出について" date="1949-11-22" /></td>
					</tr>
					<tr>
						<th scope="row">デハ3602</th>
						<td>運輸省モハ30036</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deto3010">
		<H slot="heading">デト3010形<small>（東京横浜電鉄引継）</small></H>

		<div class="p-text">
			<p></p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup">車号</th>
						<th scope="colgroup">譲渡</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デト3011</th>
						<td><Licence summary="東急→江ノ電" no="技発戌第41号" title="車両譲渡届" date="1946-02-23" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
