---
import dayjs from 'dayjs';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import GithubSlugger from 'github-slugger';
import H from '@components/H.astro';
import Layout from '@layouts/Tokyu.astro';
import Licence from '@components/TokyuLicence.astro';
import LinkExternal from '@components/LinkExternal.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '目黒蒲田電鉄、東京横浜電鉄　鉄道線・貨車　車歴表',
	dateModified: dayjs('2024-05-01'),
	description: '目黒蒲田電鉄、東京横浜電鉄時代の車両は両社がそれぞれ保有していましたが、同一タイプの車両は連続した車号が付番されていたため、まとめて取り扱います。ここでは1939年の両社の合併を経て、1942年の東京急行電鉄成立までの鉄道線用貨車のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/history_mekama_passenger', name: '目黒・東横　鉄道旅客車' },
		{ path: '/tokyu/data/history_mekama_freight', name: '目黒・東横　鉄道貨車' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>改造については車号の変更を伴うものに限ります。</li>
			<li>
				表中の鉄道事業者および車両譲渡先の名称は以下のとおり省略表記しています。
				<ul>
					<li>目蒲：目黒蒲田電鉄</li>
					<li>東横：東京横浜電鉄（<DateWareki value="1939-10-01" />に目黒蒲田電鉄と合併する前まで）</li>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>池上：池上電気鉄道</li>
					<li>上州：上州鉄道<small>（現：東武鉄道小泉線）</small></li>
					<li>播丹：播丹鉄道<small>（現：JR加古川線および北条鉄道）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="deto1">
		<H slot="heading">デト1形 → モト1形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">発注</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" colspan="3">ＸＸＸ</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デト1</th>
						<td rowspan="3">目蒲</td>
						<td rowspan="2"><Licence title="車両購入許可申請書" date="1922-07-07" /></td>
						<td rowspan="2"><Licence no="監第2517号" date="1922-12-12" /></td>
						<td rowspan="2"><Licence no="目電第78号" title="車両竣功図表提出届" date="1923-02-22" /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト3</th>
						<td><Licence no="目電第165号" title="車両購入認可申請書" date="1924-06-09" /></td>
						<td><Licence no="監第1713号" date="1924-08-06" /></td>
						<td><Licence no="目電第350号" title="車両竣功御届" date="1924-12-03" /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト4</th>
						<td rowspan="3">東横</td>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト5</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト6</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デト1〜2 の購入申請書類の表題は<q>許可申請</q>（認可でなく許可）となっているが、おそらく単なる記載ミスで、監督局側からも言及されることなく認可として処理されている。</li>
		</ul>
	</Section>

	<Section id="to1">
		<H slot="heading">ト1形 → フト10形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">発注</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" colspan="3">フト10形化</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ト1</th>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence title="車両購入許可申請書" date="1922-07-07" /></td>
						<td rowspan="4"><Licence no="監第2517号" date="1922-12-12" /></td>
						<td rowspan="4"><Licence no="目電第78号" title="車両竣功図表提出届" date="1923-02-22" /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト3→フト11</th>
						<td rowspan="2"><Licence no="目電第171号" title="車両設計変更許可申請書" date="1925-05-26" /></td>
						<td rowspan="2"><Licence no="監第1368号" date="1925-06-02" /></td>
						<td rowspan="2"><Licence no="目電第203号" title="車両竣功御届" date="1925-06-17" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト4→フト12</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>購入申請書類の表題は<q>許可申請</q>（認可でなく許可）となっているが、おそらく単なる記載ミスで、監督局側からも言及されることなく認可として処理されている。</li>
			<li>ト1形とフト10形の車号対照は認可書類からは特定できない。上表は若い順に変更されたと仮定している。</li>
		</ul>
	</Section>

	<Section id="futo1">
		<H slot="heading">フト1形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">所属</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">フト1</th>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence no="目電第280号" title="貨車購入認可申請書" date="1923-08-24" /></td>
						<td rowspan="4"><Licence no="監第3350号" date="1923-11-15" /></td>
						<td rowspan="4"><Licence no="目電第97号" title="貨車竣功御届" date="1924-04-12" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト2</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト3</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト4</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="to5">
		<H slot="heading">ト5形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">前所有</th>
						<th scope="col" rowspan="2">所属</th>
						<th scope="col" colspan="3">譲受</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ト5</th>
						<td rowspan="2">上州</td>
						<td rowspan="2">目蒲</td>
						<td rowspan="2"><Licence no="目電第319号" date="1923-10-23" /></td>
						<td rowspan="2"><Licence no="監第3213号" date="1923-10-26" /></td>
						<td rowspan="2"><Licence no="目電第230号" title="貨車竣功御届" date="1927-06-30" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト6</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>認可から竣功届の提出までに3年半以上もの期間が経っているが理由は不明。</li>
		</ul>
	</Section>

	<Section id="dewa1">
		<H slot="heading">デワ1形 → モワ1形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">発注</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デワ1</th>
						<td>目蒲</td>
						<td><Licence no="目電第165号" title="車両購入認可申請書" date="1924-06-09" /></td>
						<td><Licence no="監第1713号" date="1924-08-06" /></td>
						<td><Licence no="目電第350号" title="車両竣功御届" date="1924-12-03" /></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="to20">
		<H slot="heading">ト20形 → フト20形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">前所有</th>
						<th scope="col" rowspan="2">所属</th>
						<th scope="col" colspan="3">譲受</th>
						<th scope="col" colspan="3">フト20形化</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ト21→フト21</th>
						<td rowspan="5">播丹ト735〜739</td>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電第52号" title="貨車譲受認可申請書" date="1925-02-23" /></td>
						<td rowspan="5"><Licence no="監第665号" date="1925-03-23" /></td>
						<td rowspan="5"><Licence no="目電第184号" title="車両竣功御届" date="1925-05-31" /></td>
						<td rowspan="5"><Licence no="目電第165号" title="車両設計変更認可申請書" date="1925-05-21" /></td>
						<td rowspan="5"><Licence no="監第1367号" date="1925-06-02" /></td>
						<td rowspan="5"><Licence no="目電第203号" title="車両竣功御届" date="1925-06-17" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト22→フト22</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト23→フト23</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト24→フト24</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト25→フト25</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>フト20形化の申請は譲受竣功より先に提出されている。</li>
			<li>ト20形とフト20形の車号対照は認可書類からは特定できない。上表は番号はそのままに称号のみ変更されたと仮定している。</li>
		</ul>
	</Section>

	<Section id="futo30">
		<H slot="heading">フト30形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">所属</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">フト31</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電第122号" title="貨車購入認可申請書" date="1925-04-20" /></td>
						<td rowspan="5"><Licence no="監第1059号" date="1925-04-30" /></td>
						<td rowspan="5"><Licence no="目電第203号" title="車両竣功御届" date="1925-06-17" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト32</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト33</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト34</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">フト35</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
