---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import H from '@components/H.astro';
import LinkExternal from '@components/LinkExternal.astro';
import Licence from '@components/TokyuLicence.astro';
import RefBook from '@components/ReferenceBook.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '玉川電気鉄道、玉川線　車歴表',
	dateModified: dayjs('2024-09-15'),
	description: '玉川電気鉄道の開通（1907年）から東京横浜電鉄への合併（1938年）、東京急行電鉄成立（1942年）を経て1949年までの車両のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: {
		label: '車歴表',
		items: [
			{ path: '/tokyu/data/history_mekama&toyoko_passenger', name: '目黒・東横　旅客車' },
			{ path: '/tokyu/data/history_mekama&toyoko_freight', name: '目黒・東横　機関車&貨車' },
			{ path: '/tokyu/data/history_ikegami', name: '池上' },
			{ path: '/tokyu/data/history_tokyu', name: '東急' },
			{ path: '/tokyu/data/history_tamagawa', name: '玉川' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>
				認可、竣功などの日付は<LinkExternal href="https://www.archives.go.jp/">国立公文書館</LinkExternal>および<LinkExternal href="https://www.soumu.metro.tokyo.lg.jp/01soumu/archives/">東京都公文書館</LinkExternal>が所蔵する公文書を情報源とします。
				<ul>
					<li><q>鉄道省</q><q>運輸通信省</q><q>運輸省</q>：国立公文書館が所蔵（いわゆる<cite>鉄道省文書</cite>）</li>
					<li><q>内務省</q>：国立公文書館が所蔵</li>
					<li><q>東京府</q>：東京都公文書館が所蔵</li>
				</ul>
			</li>
			<li>日本国有鉄道の発足以降は公文書が断片的にしか残されていないため、その年の年末である<DateWareki value="1949-12-31" />以前に認可申請や届出が行われた車両までを対象とします。ただし期間をまたいで増備が行われたデハ80形はその最終増備車の竣功までを対象としているほか、デワ3030形の無蓋車化改造は<DateWareki value="1950" />の申請であるものの例外的に含めています。</li>
			<li>竣功後の改造は車両称号の変更を伴うものに限ります。</li>
			<li>許認可書類の表題の旧字体は新字体に統一しています（車輛、車輌→車両など）。一方、表記揺れは原文のままとします（竣功と竣工など）。</li>
			<li>
				表中の鉄道事業者の名称は以下のとおり省略表記しています。
				<ul>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>東急：東京急行電鉄</li>
					<li>箱根：箱根登山鉄道<small>（現：小田急箱根）</small></li>
					<li>新京：新京交通<small>（満州国）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="gauge1067">
		<H slot="heading">狭軌時代の車両</H>

		<p>玉川電気鉄道は<DateWareki value="1907-03" />の開通から<DateWareki value="1920-09" />までの13年間、1,067mmの狭軌で営業が行われていました。この時代の車両に関する許認可書類は一部しか残されておらず、その詳細は未だ謎が多いものとなっております。</p>
		<p>ただし会社の営業報告書（<cite>事業報告書</cite>）および<cite>鉄道院年報</cite>、<cite>電気事業要覧</cite>などの統計資料により車両数の変遷は判明しています。</p>

		<div class="p-table -scroll">
			<table>
				<caption>狭軌時代の車両数変遷</caption>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">時期</th>
						<th scope="colgroup" colspan="3">旅客車</th>
						<th scope="colgroup">貨車</th>
						<th scope="colgroup" rowspan="2">備考</th>
						<th scope="colgroup" rowspan="2">参考資料</th>
					</tr>
					<tr>
						<th scope="col">電動車</th>
						<th scope="col">付随車</th>
						<th scope="col">電機品予備</th>
						<th scope="col">付随車</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><DateWareki value="1907-03-06" />　道玄坂上―三軒茶屋間開通</th>
						<td class="u-cell -end">5両</td>
						<td class="u-cell -end">0両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">0両</td>
						<td></td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第8期　事業報告書</cite>（<DateWareki value="1906-12" />～<DateWareki value="1907-05" />）</FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1907-04-01" />　三軒茶屋―玉川間延伸</th>
						<td class="u-cell -end">10両</td>
						<td class="u-cell -end">0両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">10両</td>
						<td>この時点では貨物営業せず</td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第8期　事業報告書</cite>（<DateWareki value="1906-12" />～<DateWareki value="1907-05" />）</FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1907-11" />　第9期末</th>
						<td class="u-cell -end">10両</td>
						<td class="u-cell -end">0両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">20両</td>
						<td>渋谷延伸の前後に貨物営業開始</td>
						<td>
							<FootnoteReference><RefBook name="電気事業要覧　明治40年" pages={[92]} url="https://dl.ndl.go.jp/pid/805420/1/68" urlScope="page" /></FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1912-05" />　第18期末</th>
						<td class="u-cell -end">12両</td>
						<td class="u-cell -end">0両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">20両</td>
						<td>電動客車2両増備</td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第18期　事業報告書</cite>（<DateWareki value="1911-12" />～<DateWareki value="1912-05" />）</FootnoteReference>
							<FootnoteReference><RefBook name="鉄道院年報　明治44～大正元年度　軌道之部" pages={[109]} url="https://dl.ndl.go.jp/pid/974219/1/61" urlScope="page" /></FootnoteReference>
							<FootnoteReference><RefBook name="電気事業要覧　大正元年" pages={[284, 285]} url="https://dl.ndl.go.jp/pid/974999/1/169" urlScope="page" /></FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1913-11" />　第21期末</th>
						<td class="u-cell -end">12両</td>
						<td class="u-cell -end">4両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">20両</td>
						<td>付随客車4両増備（西武軌道より購入）</td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第20期　事業報告書</cite>（<DateWareki value="1912-12" />～<DateWareki value="1913-05" />）</FootnoteReference>
							<FootnoteReference><RefBook name="鉄道院年報　大正2年度" pages={[270]} url="https://dl.ndl.go.jp/pid/974221/1/153" urlScope="page" /></FootnoteReference>
							<FootnoteReference><RefBook name="電気事業要覧　第7回" pages={[296, 297]} url="https://dl.ndl.go.jp/pid/975000/1/177" urlScope="page" /></FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1914-11" />　第23期末</th>
						<td class="u-cell -end">15両</td>
						<td class="u-cell -end">4両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">20両</td>
						<td>電動客車3両増備</td>
						<td>
							<FootnoteReference><RefBook name="鉄道院年報　大正3年度" pages={[306]} url="https://dl.ndl.go.jp/pid/974222/1/172" urlScope="page" /></FootnoteReference>
							<FootnoteReference><RefBook name="電気事業要覧　第8回" pages={[330, 331]} url="https://dl.ndl.go.jp/pid/975001/1/195" urlScope="page" /></FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1916-11" />　第27期末</th>
						<td class="u-cell -end">15両</td>
						<td class="u-cell -end">7両</td>
						<td class="u-cell -end">0両分</td>
						<td class="u-cell -end">20両</td>
						<td>付随客車3両増備</td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第27期　事業報告書</cite>（<DateWareki value="1916-06" />～<DateWareki value="1916-11" />）</FootnoteReference>
							<FootnoteReference><RefBook name="鉄道院鉄道統計資料　大正5年度　第十編" pages={[135]} url="https://dl.ndl.go.jp/pid/974234/1/368" urlScope="page" /></FootnoteReference>
							<FootnoteReference><RefBook name="電気事業要覧　第10回" pages={[418, 419]} url="https://dl.ndl.go.jp/pid/975003/1/237" urlScope="page" /></FootnoteReference>
						</td>
					</tr>
					<tr>
						<th scope="row"><DateWareki value="1919-05" />　第32期末</th>
						<td class="u-cell -end">15両</td>
						<td class="u-cell -end">7両</td>
						<td class="u-cell -end">2両分</td>
						<td class="u-cell -end">20両</td>
						<td>電動客車用予備部品到着</td>
						<td>
							<FootnoteReference><cite>玉川電気鉄道　第30期　事業報告書</cite>（<DateWareki value="1917-12" />～<DateWareki value="1918-05" />）</FootnoteReference>
							<FootnoteReference><cite>玉川電気鉄道　第32期　事業報告書</cite>（<DateWareki value="1918-12" />～<DateWareki value="1919-05" />）</FootnoteReference>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p><DateWareki value="1907-03-06" />に最初の区間として道玄坂上～三軒茶屋間が開通したのですが、当初10両が用意された旅客車のうち5両（車号不明）が前日の3月5日に東京府の検査を完了したとの記録があるため、この暫定開業に際しては5両で運用が行われていたと見られます。</p>
		<p><DateWareki value="1907-03-21" />には旅客車の残り5両と貨車20両のうち10両が検査を受け、4月1日の玉川延伸を迎えますが、この時点では砂利輸送は行われず、貨物営業は8月11日の渋谷延伸の前後に始まったものと思われます。貨車の残り10両の完成日（検査完了日）は不明ですが、上表のとおり統計資料によると同年中には全20両が揃っています。</p>
		<p>その後は段階的に旅客車の増備が続きますが、このうち<DateWareki value="1913" />導入の付随車4両は新造ではなく西武軌道<small>（のちの都電杉並線）</small>が所有していた車両を購入したものとなります<FootnoteReference>玉川電気鉄道の事業報告書では購入元が<q>西武鐵道株式會社</q>とあるのですが、当時はその名前の鉄道会社は存在していないため、西武軌道の誤記であると判断します。</FootnoteReference>。西武軌道の前身である堀之内軌道では、会社創立の段階で軽便機関車が付随車1両を牽引する列車形態を予定しており<FootnoteReference><RefTetsudosho company="堀之内軌道" date="1907-11-05" title="工事施行認可申請書" url="https://www.digital.archives.go.jp/item/540988" /></FootnoteReference>、<DateWareki value="1910" />には実際に機関車と客車を購入して試運転（車庫内でのデモンストレーション?）が行われたことが記録されていますが<FootnoteReference><RefMagazine name="グラヒック" date="第2巻第16号" no={154} article="寫眞日誌" pages={[18]} url="https://dl.ndl.go.jp/pid/2661428/1/10" /></FootnoteReference>、<DateWareki value="1912-12" />に動力方式を電気鉄道に変更したため、開業前ながら不要となった車両群のうち、付随客車の一部を譲り受けることになったものと思われます。</p>
		<p>最終的に電動客車15両、付随客車7両、付随貨車20両の陣営となったのですが、改軌を翌年に控えた<DateWareki value="1919" />には電動客車の予備品として台車や主電動機などの電機品をアメリカより輸入しています。</p>
		<p>これらのうち1916<small>(大正5)</small>年度に増備された付随車3両のみ許認可書類が残されています。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="4"></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="4">構造</th>
						<th scope="colgroup" colspan="2">定員</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">検査証交付</th>
						<th scope="col">申請</th>
						<th scope="col">認可（警視総監）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>付随客車</small>5</th>
						<td rowspan="3"><Licence no="玉第686号" date="1916-03-23" possess={['tokyo']} /> <Licence no="玉第686号-1" date="1916-06-13" possess={['tokyo']} /></td>
						<td rowspan="3"><Licence no="辰土甲第627号" date="1916-07-22" possess={['tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第668号-3" title="付随客車御検査願" date="1916-07-24" possess={['tokyo']} /></td>
						<td rowspan="3"><Licence no="辰土甲第627号" date="1916-08-04" possess={['tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第668号-2" title="付随客車乗客定員認可申請書" date="1916-07-24" possess={['tokyo']} /></td>
						<td rowspan="3"><Licence no="第459号-2" date="1916-07-31" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>付随客車</small>6</th>
					</tr>
					<tr>
						<th scope="row"><small>付随客車</small>7</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>車両構造認可の申請日と書類番号は認可書類の本文より判明しているものであり、申請書類そのものは残されていないため、2回に分けて申請が行われた理由は不明である。</li>
			<li>乗客定員の認可申請では、本増備車の客室設備は在来車と同一であるとして、座席26人、立席14人の計40人と報告しているが、これは鉄道院の統計資料（3両増備で90人分の増加）と食い違っている。</li>
		</ul>

		<p>さて、これら狭軌時代の車両は路線の改軌に際して譲渡や台車改造が行われたはずですが、やはり許認可書類は残されておらず、営業報告書でも処分方法の直接的な言及はありません。定説では、旅客車は以下のように全車ないし大半を譲渡したとされています。</p>

		<ul class="p-list">
			<li>
				駿遠電気<small>（現：静岡鉄道）</small>へ電動客車6～7両程度、付随客車3両（<DateWareki value="1916" />新造車）を譲渡<FootnoteReference><RefMagazine name="鉄道史料" date="2016年7月号" no={149} article="駿遠電気の創業期の車両の解明にむけて　訂正" author="阿部一紀" pages={[57, 58]} /></FootnoteReference>
				<ul>
					<li>駿遠電気では<DateWareki value="1920-08-02" />に現在の静岡清水線にあたる路線の改軌&amp;電化に際して、旅客車として玉川電気鉄道より電動客車10両、付随客車3両を譲受する予定であったものが<FootnoteReference><RefTetsudosho company="駿遠電気" date="1920-03-04" title="工事施行認可申請書" url="https://www.digital.archives.go.jp/item/508770" /></FootnoteReference>、直前になって美濃電気軌道<small>（のちの名古屋鉄道岐阜市内線や美濃町線など）</small>からも車両を譲り受けることとなり、玉電の両数は削減された。そもそも駿遠電気の改軌&amp;電化は玉川電気鉄道の改軌よりひと月も前のことである。</li>
					<li>同じく駿遠電気の改軌工事の施行認可申請書では電動無蓋貨車2両の台車も玉川電気鉄道より譲り受けるものとされている。これは<DateWareki value="1919" />に納入された予備品のことと思われるが、実際に流用されたのかどうかは不明である。</li>
				</ul>
			</li>
			<li>
				上田温泉電軌<small>（現：上田電鉄）</small>へ電動客車9両、付随客車4両（<DateWareki value="1913" />西武軌道譲受車）を譲渡<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="1964年11月号" no={164} article="私鉄車両めぐり〔59〕上田丸子電鉄(終)" author="小林宇一郎" pages={[60, 61]} /></FootnoteReference>、ただし電動客車は8両説もある<FootnoteReference><RefBook name="玉川電気鉄道狭軌時代の車両と駿遠電気初期の車両について" author="車歴研究会" pages={[103]} /></FootnoteReference>
				<ul>
					<li><DateWareki value="1921" />には駿遠電気から電動客車2両（8両説の場合は3両）が譲渡された結果、元玉電の車両は電動客車11両、付随客車4両の陣営となった。</li>
				</ul>
			</li>
		</ul>

		<p>一方、貨車は全車両が玉電の自社工場で軌間改造された可能性が高く<FootnoteReference><cite>事業報告書</cite>の第34～38期の記述からすると8両は改造車であることが明記されてり、またそれとは別に改軌直前の第34期には<q>広軌間用貨車5両を製作</q>との記述がありますが、これも新製でなく改造と思われます。残り7両は言及がなく不明です。</FootnoteReference>、現車の写真を見ても角形バッファーなどの特徴が改軌前後で同一であることが確認できます。ただし、<a href="#freight1-20">後述</a>のとおり改軌に際しては改めて車両構造認可が行われており、書類上の連続性はありません。</p>
	</Section>

	<Section id="passenger1-15">
		<H slot="heading"><small>玉川</small>電動客車 1～15号</H>

		<p>玉川電気鉄道は東京市電の貨車乗り入れのため<DateWareki value="1920-09" />に軌間 1,067mm から 1,372mm への改軌が行われ、旅客車両は総取り替えとなりました。</p>

		<p>最初に用意された15両は4輪単車で、定員は狭軌時代の電動車と同じ40人。従来は電動車、付随車あわせて22両だったものが電動車のみ15両となったため、改軌に前後して複線化工事が進む中、同年末に<a href="#passenger16-30">ボギー車</a>が増備されるまでの間は一時的に輸送力は低下していたことになります。</p>

		<p>改軌を目前に控えた<DateWareki value="1920-08-26" />に構造認可を受けますが、アメリカ・<span lang="en">Brill</span> 社に発注していた手ブレーキ装置が届かないため12両分（車号は不明）は仮に国内品を取り付けることとし、力率が減少するため仮使用許可を申請、<DateWareki value="1920-12" />に落成しています。</p>

		<p>後述のボギー車群と車齢はそう変わらないものの、4輪単車であることが災いしてか早期に処分されており、7～15号車は玉川電気鉄道時代に廃車となりました。1～6号車は東京横浜電鉄への合併を経て渋谷以東の天現寺橋、中目黒方面で活躍したものの<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東辰第1950号" date="1940-06-01" title="四輪電動客車廃車届" url="https://www.digital.archives.go.jp/item/504817" /></FootnoteReference>、<DateWareki value="1938" />の東京市電への委託により不要となり、一部は砧線で活躍したようですが<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="1959年6月号" no={95} article="私鉄車両めぐり(36) 東京急行電鉄〔1〕" author="荻原二郎" pages={[43]} /></FootnoteReference>、<DateWareki value="1941" />までに姿を消しました。最後まで残った2両は満州国で当時開業したばかりの新京交通に譲渡されましたが、その後の消息は不明です。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="4"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup" colspan="4">仮使用</th>
						<th scope="colgroup">廃車／譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">申請</th>
						<th scope="col">期間延期願</th>
						<th scope="col">認可</th>
						<th scope="col">落成</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>1</th>
						<td rowspan="15"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence summary="15両中12両、10月31日まで" title="仮使用願" date="1920-08-30" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence summary="15両中12両、12月31日まで" title="ハンドブレーキ仮使用期間延期願" date="1920-10-25" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence no="申土甲第5243号" date="1920-12-27" possess={['tokyo']} /></td>
						<td rowspan="15"><Licence title="ハンドブレーキ落成届" date="1920-12-23" possess={['tokyo']} /></td>
						<td rowspan="2"><Licence no="東辰第1950号" title="四輪電動客車廃車届" date="1940-06-01" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>2</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>3</th>
						<td rowspan="2"><Licence summary="新東横→新京" no="東横電巳第182号" title="電動客車並電動貨車譲渡届" date="1941-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>4</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>5</th>
						<td rowspan="2"><Licence no="東辰第1950号" title="四輪電動客車廃車届" date="1940-06-01" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>6</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>7</th>
						<td rowspan="2"><Licence no="玉第82号" title="廃車届" date="1936-03-12" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>8</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>9</th>
						<td rowspan="7"><Licence no="玉丑第37号" title="廃車届" date="1937-04-07" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>10</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>11</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>12</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>13</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>14</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>15</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="freight1-5">
		<H slot="heading"><small>玉川</small>電動貨車 1～5号</H>

		<p>狭軌時代は電動客車が付随貨車を牽いていましたが、改軌に際しては有蓋電動貨車が製造されました。中央の荷物室は屋根付きの有蓋車で、車体サイズは<a href="/tokyu/data/history_mekama&toyoko_freight#dewa1">目黒蒲田電鉄と東京横浜電鉄のデワ1形</a>より一回り小型で、主電動機容量も 50㏋×2台 と小出力であり（それでも<a href="#passenger1-15">電動客車の1～15号車</a>よりは大きい）、積載状態の付随貨車は1両のみ牽引することが想定されていました。</p>
		<p>全車両が東京急行電鉄の成立前に用途廃止となり、電動客車の3～4号車とともに満州国の新京交通へ譲渡されました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動貨車</small>1</th>
						<td rowspan="5"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="5"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td><Licence no="玉第88号" title="車両御検査願" date="1921-01-07" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence summary="新東横→新京" no="東横電巳第182号" title="電動客車並電動貨車譲渡届" date="1941-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>2</th>
						<td rowspan="2"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>3</th>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>4</th>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動貨車</small>5</th>
						<td><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>4号車の検査願は現存しないが、玉川電気鉄道の事業報告書には第36期（<DateWareki value="1920-12" />～<DateWareki value="1921-05" />）の間に検査が行われたとある。</li>
		</ul>
	</Section>

	<Section id="freight1-20">
		<H slot="heading"><small>玉川</small>付随貨車 1～20号 → <small>東急</small>ト1形</H>

		<p>改軌に際して電動客車、電動貨車とともに車両構造認可が行われた 10t 積み無蓋貨車で、認可申請書では<q>現用車輌ヲ廢止シ（中略）新車輌ヲ使用</q>と書かれているものの、<a href="#gauge1067">前述</a>のとおり実際は狭軌時代の貨車を自社工場で改造したものと思われます。なお申請時に車両数が25両とされているのですが、統計資料によれば20両（狭軌時代と同じ数）しか竣功しておらず、残り5両が書類上どのように処理されたのかは不明です。</p>
		<p>一部の車両は散水車に改造されたようで、<DateWareki value="1932" />に撮影された写真が残されていますが<FootnoteReference><RefBook name="東急の電車たち　電車とバスのなんでもシリーズその1" author="東京急行電鉄株式会社　広報室、車両部" pages={[164]} /></FootnoteReference>、この改造に伴う許認可書類は現存しません。後述するように<DateWareki value="1924" />に<a href="#sansui">散水電動車</a>を発注したものの、その車両が実際に存在した記録はないため、何らかの理由で付随貨車で代替することになったものと思われます。</p>
		<p>7両は玉川電気鉄道時代に廃車され、その後東京横浜電鉄への合併を経て東京急行電鉄成立の直後に一部の車両が2度目の改軌を行い品川線<small>（現：京浜急行電鉄）</small>へ転局しました。この転局に伴う改造は8両での認可申請が行われていますが、実際は6両のみが転局し、残る7両が戦後まで玉川線に在籍していました。</p>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">廃車</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup" colspan="2">改軌</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出</th>
						<th scope="col">届出</th>
						<th scope="col">届出</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>付随貨車</small>1</th>
						<td rowspan="20"><Licence no="玉発第47号" title="車両構造認可願" date="1920-04-30" possess={['tokyo']} /></td>
						<td rowspan="20"><Licence no="申土甲第1885号" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="5"><Licence no="玉第68号" title="車両御検査願" date="1920-08-26" possess={['tokyo']} /></td>
						<td rowspan="7"><Licence no="玉丑第879号" title="廃車届" date="1937-10-25" possess={['tetsudo']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>3</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>4</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>5</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>6</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>7</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>8→ト1</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="13"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>9→ト2</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>10→ト3</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>11→ト4</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>12→ト5</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>13→ト6</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="8"><Licence summary="品川線転局" no="企電午第321号" title="貨車設計変更認可申請書" date="1942-12-14" possess={['tetsudo']} /></td>
						<td rowspan="8"><Licence no="監第1952号" date="1943-10-12" possess={['tetsudo']} /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>14→ト7</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>15→ト8</th>
						<td><Licence title="車両御検査願" date="1920-12-17" possess={['naimu']} /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>16→ト9</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>17→ト10</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>18→ト11</th>
						<td><Licence /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>19→ト12→ト6</th>
						<td><Licence /></td>
						<td></td>
						<td rowspan="2">実際には品川線への転局はせず</td>
					</tr>
					<tr>
						<th scope="row"><small>付随貨車</small>20→ト13→ト7</th>
						<td><Licence /></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>検査願は8両分しか残されていないが、玉川電気鉄道の事業報告書によると第35期（<DateWareki value="1920-06" />～11月）に12両、第36期（<DateWareki value="1920-12" />～翌年5月）に3両の検査が行われ、第38期（<DateWareki value="1921-12" />～翌年5月）に残る5両が竣功したとある。</li>
			<li><DateWareki value="1942" />の東京急行電鉄成立に伴う改番時における新旧車号対照は不明であり、上表は若い順に変更されたと仮定している。品川線転局を取り止めになった2両が実際に2回の改番を行った確証はなく、旧ト6～ト13 の車号は書類上のものに過ぎなかった可能性もある。</li>
		</ul>
	</Section>

	<Section id="passenger16-30">
		<H slot="heading"><small>玉川</small>電動客車 16～30号 → <small>東急</small>デハ1形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">検査願提出／竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>16→デハ1</th>
						<td rowspan="6"><Licence no="玉第73号" title="車両構造認可願" date="1920-10-02" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="6"><Licence no="申土甲第4800号" date="1920-12-15" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="3"><Licence title="車両御検査願" date="1920-12-17" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="15"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td rowspan="15">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>17→デハ2</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>18→デハ3</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>19→デハ4</th>
						<td rowspan="3"><Licence no="玉第88号" title="車両御検査願" date="1921-01-07" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>20→デハ5</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>21→デハ6</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>22→デハ7</th>
						<td rowspan="3"><Licence no="玉第101号" title="車両構造認可願" date="1922-05-15" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="戌土甲第2314号" date="1922-07-04" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第144号" title="車両御検査願" date="1922-09-19" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>23→デハ8</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>24→デハ9</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>25→デハ10</th>
						<td rowspan="3"><Licence no="玉第157号" title="増設車両構造認可願" date="1922-12-06" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="戌土甲第2314号" date="1922-12-26" possess={['tetsudo', 'naimu']} /></td>
						<td><Licence no="玉第29号" title="車両御検査願" date="1923-05-30" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>26→デハ11</th>
						<td rowspan="2"><Licence no="玉第68号" title="車両御検査願" date="1923-07-11" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>27→デハ12</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>28→デハ13</th>
						<td rowspan="3"><Licence no="玉第109号" title="増設車両構造認可願" date="1923-12-19" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="亥土第9072号" date="1924-01-07" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="3"><Licence no="玉第91号" title="増設車両竣工届" date="1924-06-30" possess={['tetsudo', 'naimu']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>29→デハ14</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>30→デハ15</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="sansui" box={true}>
		<H slot="heading"><small>玉川</small>散水電動車<small>（未製造）</small></H>

		<p>関東大震災の翌年、玉川電気鉄道の第43期営業報告書（<DateWareki value="1924-06" />～<DateWareki value="1924-11" />）には散水電動車を1両注文したことが記載されています。<q>附随貨車ヲ牽引シ得ル</q>とあるため、<a href="#freight1-5">電動貨車</a>と同じく連結器を装備したであろうほかは諸元などまったく不明で、実際に導入された形跡もありません。</p>
	</Section>

	<Section id="passenger31-35">
		<H slot="heading"><small>玉川</small>電動客車 31～35号 → 71～75号 → <small>東急</small>デハ60形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="4"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup" colspan="4">設計変更（半鋼体化）</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">改番届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>31→<small>電動客車</small>71→デハ61</th>
						<td rowspan="5"><Licence no="玉第139号" title="車両構造認可願" date="1924-10-27" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="監第11号" date="1925-01-23" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="玉第17号" title="車両竣工届" date="1925-01-27" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5"><Licence no="東横寅第3836号" title="車両設計変更認可申請書" date="1939-01-16" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="監第4079号" date="1939-12-22" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="東辰第17号" title="車両設計変更竣功届" date="1940-01-11" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="東辰第75号" title="車両番号変更届" date="1940-01-12" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>32→<small>電動客車</small>72→デハ62</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>33→<small>電動客車</small>73→デハ63</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>34→<small>電動客車</small>74→デハ64</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>35→<small>電動客車</small>75→デハ65</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>車両構造の認可日（監第11号）は、認可書類そのものには<DateWareki value="1925-01-25" />と書かれているが、後の資料（竣功届やその後の改造時の申請書類）では<DateWareki value="1925-01-23" />とされている。</li>
		</ul>
	</Section>

	<Section id="passenger36-45">
		<H slot="heading"><small>玉川</small>電動客車 36～45号 → <small>東急</small>デハ20形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
						<th scope="colgroup">譲渡</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>36→デハ20</th>
						<td rowspan="10"><Licence no="玉第35号" title="車両構造認可願" date="1925-04-20" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="監第1508号" date="1925-06-20" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="玉第57号" title="車両竣工届" date="1925-06-24" possess={['tetsudo', 'naimu', 'tokyo']} /></td>
						<td rowspan="10"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
						<td></td>
						<td rowspan="5">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>37→デハ21</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>38→デハ22</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>39→デハ23</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>40→デハ24</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>41→デハ25</th>
						<td rowspan="3"><Licence summary="東急→箱根" no="技発戌第40号" title="車両譲渡届" date="1946-02-23" possess={['tetsudo']} /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>42→デハ26</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>43→デハ27</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>44→デハ28</th>
						<td></td>
						<td rowspan="2">以降<a href="#deha80">デハ80形</a></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>45→デハ29</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="passenger46-55">
		<H slot="heading"><small>玉川</small>電動客車 46～55号 → <small>東急</small>デハ30形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">構造</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>46→デハ30</th>
						<td rowspan="10"><Licence no="玉第93号" title="車両構造認可願" date="1926-11-20" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="監第737号" date="1927-04-01" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="玉第50号" title="車両竣工届" date="1927-04-01" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="10"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>47→デハ31</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>48→デハ32</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>49→デハ33</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>50→デハ34</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>51→デハ35</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>52→デハ36</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>53→デハ37</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>54→デハ38</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>55→デハ39</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="passenger56-66">
		<H slot="heading"><small>玉川</small>電動客車 56～66号 → <small>東急</small>デハ40形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup">改番（新東横→東急）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><small>電動客車</small>56→デハ41</th>
						<td rowspan="6"><Licence no="玉第6号" title="車両設計認可申請" date="1928-06-29" possess={['tetsudo', 'tokyo']} /></td>
						<td rowspan="6"><Licence no="監第2348号" date="1928-07-17" possess={['tetsudo', 'tokyo']} /></td>
						<td rowspan="6"><Licence /></td>
						<td rowspan="11"><Licence no="企電午第153号" title="客貨車形式称号、記号番号変更届" date="1942-10-15" possess={['tokyo']} /></td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>57→デハ42</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>58→デハ43</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>59→デハ44</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>60→デハ45</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>61→デハ46</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>62→デハ47</th>
						<td rowspan="5"><Licence no="玉第53号" title="電動客車増備届" date="1929-03-30" possess={['tetsudo', 'naimu']} /></td>
						<td rowspan="5" class="u-cell -center">―</td>
						<td rowspan="5" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>63→デハ48</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>64→デハ49</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>65→デハ50</th>
					</tr>
					<tr>
						<th scope="row"><small>電動客車</small>66→デハ51</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>56～61号の竣功届は現存しないが、玉川電気鉄道の「<cite>第51期　営業報告書</cite>」には<DateWareki value="1928-08-15" />に完成とある。ここでいう<q>完成</q>は竣功届の提出日と同義と見なせる。</li>
		</ul>
	</Section>

	<Section id="deha70">
		<H slot="heading"><small>東急</small>デハ70形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="2">工事方法</th>
						<th scope="colgroup" colspan="5">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">設計変更申請</th>
						<th scope="col">設計変更認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ71</th>
						<td rowspan="3"><Licence /></td>
						<td rowspan="3"><Licence /></td>
						<td rowspan="3"><Licence no="東横電巳第198号" title="電動客車購入認可申請書" date="1941-12-16" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence no="監第1745号" date="1942-07-01" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence no="企電午第129号" title="電動客車設計変更認可申請書" date="1942-08-17" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence no="監第309号" date="1943-03-01" possess={['tetsudo']} /></td>
						<td rowspan="3"><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ72</th>
					</tr>
					<tr>
						<th scope="row">デハ73</th>
					</tr>
					<tr>
						<th scope="row">デハ74</th>
						<td rowspan="7"><Licence no="東辰第1011号" title="工事方法書一部変更認可申請書" date="1940-03-30" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="監第1764号" date="1942-07-08" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="企電未第315号" title="電動客車設計認可申請書" date="1943-07-12" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="鐵業監第591号" date="1944-05-18" possess={['tetsudo']} /></td>
						<td rowspan="5"></td>
						<td rowspan="5"></td>
						<td rowspan="2"><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ75</th>
					</tr>
					<tr>
						<th scope="row">デハ76</th>
						<td rowspan="3"><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ77</th>
					</tr>
					<tr>
						<th scope="row">デハ78</th>
					</tr>
					<tr>
						<th scope="row">未製造</th>
						<td rowspan="2"><Licence no="監第2084号" date="1943-10-26" possess={['tetsudo']} /></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
						<td rowspan="2"></td>
					</tr>
					<tr>
						<th scope="row">未製造</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="dewa3030">
		<H slot="heading"><small>東急</small>デワ3030形 → デト3030形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" colspan="3">設計変更（転局&amp;改軌）</th>
						<th scope="colgroup" colspan="3">設計変更（無蓋車化）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デワ3031→デト3031</th>
						<td><Licence no="企電午第320号" title="電動貨車設計変更認可申請書" date="1942-12-14" possess={['tetsudo']} /></td>
						<td><Licence no="監第2025号" date="1943-10-22" possess={['tetsudo']} /></td>
						<td><Licence /></td>
						<td><Licence no="東急車発25第49号" title="車両設計変更認可申請書" date="1950-12-12" possess={['tetsudo']} /></td>
						<td><Licence no="鉄監第529号" date="1951-05-09" possess={['tetsudo']} /></td>
						<td><Licence no="東急車発26第24号" title="車両竣功届" date="1951-08-22" possess={['tetsudo']} /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha80">
		<H slot="heading"><small>東急</small>デハ80形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" colspan="2">増備</th>
						<th scope="colgroup" colspan="3">購入／設計変更（半鋼体化）</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ81</th>
						<td class="u-cell -center">―</td>
						<td rowspan="6"><Licence /></td>
						<td rowspan="6"><Licence date="1948-04-14" /></td>
						<td rowspan="6"><Licence no="東急車丑発第47号" title="車両設計認可申請書" date="1949-11-02" possess={['tetsudo']} /></td>
						<td rowspan="6"><Licence no="鉄監第40号 " date="1950-01-07" possess={['tetsudo']} /></td>
						<td rowspan="6"><Licence no="東急車発25第7号" title="車両竣功届" date="1950-03-02" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ82</th>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ83</th>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ84</th>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ85</th>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ86</th>
						<td class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">デハ87</th>
						<td>デハ20</td>
						<td></td>
						<td></td>
						<td><Licence no="東急車発25第13号" title="車両設計変更認可申請書" date="1950-03-31" possess={['tetsudo']} /></td>
						<td><Licence no="鉄監第1553号" date="1950-10-10" possess={['tetsudo']} /></td>
						<td><Licence no="東急車発25第41号" title="車両竣功届" date="1950-10-30" possess={['tetsudo']} /></td>
					</tr>
					<tr>
						<th scope="row">デハ88</th>
						<td>デハ6</td>
						<td></td>
						<td></td>
						<td rowspan="5"><Licence no="東急車発27第48号" title="車両設計変更認可申請書" date="1952-07-03" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence no="鉄監第1327号" date="1952-12-25" possess={['tetsudo']} /></td>
						<td rowspan="5"><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ89</th>
						<td>デハ4</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ90</th>
						<td>デハ8</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ91</th>
						<td>デハ9</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ92</th>
						<td>デハ10</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ93</th>
						<td>デハ12</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ94</th>
						<td>デハ13</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ95</th>
						<td>デハ11</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ96</th>
						<td>デハ3</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ97</th>
						<td>デハ2</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ98</th>
						<td>デハ14</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ99</th>
						<td>デハ7</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ100</th>
						<td>デハ1</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ101</th>
						<td>デハ5</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ102</th>
						<td>デハ15</td>
						<td></td>
						<td></td>
						<td><Licence /></td>
						<td><Licence /></td>
						<td><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ103</th>
						<td>デハ28</td>
						<td></td>
						<td></td>
						<td rowspan="6"><Licence no="東急車発28第53号" title="車両設計変更認可申請書" date="1953-06-03" possess={['tetsudo']} /></td>
						<td rowspan="6"><Licence no="鉄監第1213号" date="1953-12-16" possess={['tetsudo']} /></td>
						<td rowspan="6"><Licence /></td>
					</tr>
					<tr>
						<th scope="row">デハ104</th>
						<td>デハ29</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ105</th>
						<td>デハ22</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ106</th>
						<td>デハ21</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ107</th>
						<td>デハ23</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ108</th>
						<td>デハ24</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ93～102 は許認可書類が残されていないため、旧車号との対照は<RefMagazine name="鉄道ピクトリアル " date="1977年6月臨時増刊号" no={335} article="私鉄車両めぐり〔111〕東京急行電鉄" author="荻原二郎、荻原俊夫" pages={[86]} />による。</li>
		</ul>
	</Section>
</Layout>
