---
import dayjs from 'dayjs';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import GithubSlugger from 'github-slugger';
import H from '@components/H.astro';
import Layout from '@layouts/Tokyu.astro';
import Licence from '@components/TokyuLicence.astro';
import LinkExternal from '@components/LinkExternal.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '目黒蒲田電鉄、東京横浜電鉄　鉄道線・貨物用車両　車歴表',
	dateModified: dayjs('2024-05-01'),
	description: '目黒蒲田電鉄、東京横浜電鉄時代の車両は両社がそれぞれ保有していましたが、同一タイプの車両は連続した車号が付番されていたため、まとめて取り扱います。ここでは1939年の両社の合併を経て、1942年の東京急行電鉄成立までの車両のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/history_mekama_passenger', name: '目黒・東横　鉄道旅客車' },
		{ path: '/tokyu/data/history_mekama_freight', name: '目黒・東横　鉄道貨車' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>改造については車号の変更を伴うものに限ります。</li>
			<li>
				表中の鉄道事業者および車両譲渡先の名称は以下のとおり省略表記しています。
				<ul>
					<li>目蒲：目黒蒲田電鉄</li>
					<li>東横：東京横浜電鉄（<DateWareki value="1939-10-01" />に目黒蒲田電鉄と合併する前まで）</li>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>池上：池上電気鉄道</li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="deto1">
		<H slot="heading">デト1形 → モト1形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">発注</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デト1</th>
						<td rowspan="3">目蒲</td>
						<td rowspan="2"><Licence title="車両購入許可申請書" date="1922-07-07" /></td>
						<td rowspan="2"><Licence no="監第2517号" date="1922-12-12" /></td>
						<td rowspan="2"><Licence no="目電第78号" title="車両竣功図表提出届" date="1923-02-22" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト2</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト3</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト4</th>
						<td rowspan="3">東横</td>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td rowspan="3"></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト5</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デト6</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="to1">
		<H slot="heading">ト1形 → フト10形</H>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col" rowspan="2">車号</th>
						<th scope="col" rowspan="2">発注</th>
						<th scope="col" colspan="3">購入</th>
						<th scope="col" rowspan="2">廃車</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">ト1</th>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence title="車両購入許可申請書" date="1922-07-07" /></td>
						<td rowspan="4"><Licence no="監第2517号" date="1922-12-12" /></td>
						<td rowspan="4"><Licence no="目電第78号" title="車両竣功図表提出届" date="1923-02-22" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト2</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト3</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">ト4</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>
</Layout>
