---
import dayjs from 'dayjs';
import DateWareki from '@components/DateWareki.astro';
import FootnoteReference from '@components/FootnoteReference.astro';
import GithubSlugger from 'github-slugger';
import H from '@components/H.astro';
import Layout from '@layouts/Tokyu.astro';
import Licence from '@components/TokyuLicence.astro';
import LinkExternal from '@components/LinkExternal.astro';
import RefBook from '@components/ReferenceBook.astro';
import RefMagazine from '@components/ReferenceMagazine.astro';
import RefTetsudosho from '@components/ReferenceTetsudosho.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '目黒蒲田電鉄、東京横浜電鉄　旅客車　車歴表',
	dateModified: dayjs('2024-05-01'),
	description: '目黒蒲田電鉄と東京横浜電鉄の開通から両社の合併（1939年）を経て、東京急行電鉄成立（1942年）までの旅客車のうごきをまとめました。',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
	localNav: [
		{ path: '/tokyu/data/history_mekama&toyoko_passenger', name: '目黒・東横　旅客車' },
		{ path: '/tokyu/data/history_mekama&toyoko_freight', name: '目黒・東横　機関車&貨車' },
		{ path: '/tokyu/data/history_ikegami', name: '池上' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="introduction">
		<H slot="heading">概要</H>

		<ul class="p-list">
			<li>原則として鉄道省への認可および届出書類（鉄道省文書）を情報源とします。ただし文書が残されていないものは市販の書籍など2次情報を参照しています。</li>
			<li>竣功後の改造は車号の変更を伴うものに限ります。</li>
			<li>目黒蒲田電鉄と東京横浜電鉄の間で複数回異動（別会社なので譲渡、譲受の扱い）が行われた車両が多数存在しますが、表の煩雑化を避けるため本ページではその情報を含めていません。</li>
			<li>
				目黒蒲田電鉄、東京横浜電鉄ともに<DateWareki value="1929" />前半に「デハ」→「モハ」への称号変更が行われたものと推定されます。称号変更そのものの書類は存在しないため、本ページの表中には含めていませんが、その時期に全車両が称号変更を行ったものと判断して取り扱います。
				<ul>
					<li>デハ200形を例に取ると、<DateWareki value="1929-01-24" />の書類では<q>デハ二〇〇號</q>とあるのに対し<FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電巳第73号" date="1929-01-24" title="電動客車譲渡認可申請書" url="https://www.digital.archives.go.jp/item/469089" /></FootnoteReference>、同年5月4日の書類では<q>モハ第二〇〇號形式</q><FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電巳第673号" date="1929-05-04" title="車輛設計變更認可申請書" url="https://www.digital.archives.go.jp/item/469091" /></FootnoteReference>となっています。</li>
					<li><DateWareki value="1928" />に製造されたモハ500形は同年12月に提出された竣功届にすでに<q>形式モハ五〇〇號</q>とあるため<FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電辰第1819号" date="1928-12-27" title="車輛竣功届" url="https://www.digital.archives.go.jp/item/469093" /></FootnoteReference>、例外的に先駆けて新しい称号が採用されたものと思われます。</li>
					<li><DateWareki value="1942" />の東京急行電鉄発足に際しての改番では再び「デハ」とされ、現在に至ります。</li>
				</ul>
			</li>
			<li>
				表中の鉄道事業者および車両譲渡先の名称は以下のとおり省略表記しています。
				<ul>
					<li>目蒲：目黒蒲田電鉄</li>
					<li>東横：東京横浜電鉄（<DateWareki value="1939-10-01" />に目黒蒲田電鉄と合併する前まで）</li>
					<li>新東横：東京横浜電鉄（旧・東京横浜電鉄と合併した目黒蒲田電鉄がその直後の<DateWareki value="1939-10-16" />に「東京横浜電鉄」へ商号変更して以降）</li>
					<li>池上：池上電気鉄道</li>
					<li>五日市：五日市鉄道<small>（現：JR五日市線）</small></li>
					<li>神中：神中鉄道<small>（現：相模鉄道）</small></li>
					<li>江ノ電：江ノ島電気鉄道<small>（現：江ノ島電鉄）</small></li>
					<li>越中：越中鉄道<small>（後の富山地方鉄道射水線、1980年廃止）</small></li>
					<li>駿豆：駿豆鉄道<small>（現：伊豆箱根鉄道駿豆線）</small></li>
					<li>福武：福武電気鉄道<small>（現：福井鉄道）</small></li>
					<li>阪急：阪神急行電鉄<small>（現：阪急電鉄）</small></li>
					<li>野上：野上電気鉄道<small>（1994年廃止）</small></li>
					<li>芝浦：芝浦製作所<small>（現：東芝）</small></li>
				</ul>
			</li>
		</ul>
	</Section>

	<Section id="deha1">
		<H slot="heading">デハ1形、6形 → モハ1形、6形 → モハ1形</H>

		<div class="p-text">
			<p>デハ1形は目黒蒲田電鉄の最初の路線である目黒―丸子間が<DateWareki value="1923-03" />に開通するのに伴い、貨車の<a href="/tokyu/data/history_mekama&toyoko_freight#deto1">デト1形</a>、<a href="/tokyu/data/history_mekama&toyoko_freight#to1">ト1形</a>とともに製造された全長11m級の小型車です。</p>
			<p>同年11月の蒲田延伸に際しては車体幅を少し広げた5両が増備されました。この増備車は当初はデハ6形として形式が区別されていましたが、称号をモハに変更した後、遅くとも<DateWareki value="1931" />にはモハ1形に統合されています<FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電未第1511号" date="1931-11-28" title="電氣煖房器取附御届" url="https://www.digital.archives.go.jp/item/541244" /></FootnoteReference>。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup" rowspan="2">譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ1→モハ1</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence title="車両購入許可申請書" date="1922-07-07" /></td>
						<td rowspan="5"><Licence no="監第2517号" date="1922-12-12" /></td>
						<td rowspan="5"><Licence no="目電第78号" title="車両竣功図表提出届" date="1923-02-22" /></td>
						<td rowspan="10"><Licence summary="目蒲→神中" date="1942" /></td>
					</tr>
					<tr>
						<th scope="row">デハ2→モハ2</th>
					</tr>
					<tr>
						<th scope="row">デハ3→モハ3</th>
					</tr>
					<tr>
						<th scope="row">デハ4→モハ4</th>
					</tr>
					<tr>
						<th scope="row">デハ5→モハ5</th>
					</tr>
					<tr>
						<th scope="row">デハ6→モハ6</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電第124号" title="車両購入認可申請書" date="1923-03-30" /></td>
						<td rowspan="5"><Licence no="監第663号" date="1923-04-06" /></td>
						<td rowspan="5"><Licence no="目電第293号" title="車両竣功御届" date="1923-10-04" /></td>
					</tr>
					<tr>
						<th scope="row">デハ7→モハ7</th>
					</tr>
					<tr>
						<th scope="row">デハ8→モハ8</th>
					</tr>
					<tr>
						<th scope="row">デハ9→モハ9</th>
					</tr>
					<tr>
						<th scope="row">デハ10→モハ10</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ1〜5 の購入申請書類の表題は<q>許可申請</q>（認可でなく許可）となっているが、おそらく単なる記載ミスで、監督局側からも言及されることなく認可として処理されている。</li>
			<li>神中鉄道<small>（現：相模鉄道）</small>への譲渡は届出書類が残されておらず詳細な時期は不明だが、神中鉄道側の譲受使用認可申請は<DateWareki value="1942-03-30" />に提出されている<FootnoteReference><RefTetsudosho company="神中鉄道" no="神鉄午第15号" date="1942-03-30" title="電動客車譲受使用認可申請書" url="https://www.digital.archives.go.jp/item/529924" /></FootnoteReference>。</li>
		</ul>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">形式不明<small>（製造中止）</small></H>

		<div class="p-text">
			<p>目黒蒲田電鉄が10両の新製を計画しつつも実現しなかった車両で、購入認可申請の後、認可前に申請が取り下げられています。取り下げの理由は<q>更ニ改良設計ノ上申請致度候</q>とあるものの、タイミングからすれば後述の<a href="#deha20">鉄道省車両の譲受（デハ20形）</a>が行われることになったため新製を取り止めたものと思われます。</p>
			<p>車両の詳細な仕様は不明ですが、申請時の書類に残された断片的な情報によると、デハ1形、デハ6形と台車軸距は同一ながらよりやや長い車体を持ち、座席が4か所に分かれているとあるため中間ドアを持つものであったようです。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">計画</th>
						<th scope="colgroup" colspan="2">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">取下</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">未採番（10両）</th>
						<td>目蒲</td>
						<td><Licence no="目電第54号" title="車両購入認可申請書" date="1924-03-01" /></td>
						<td><Licence no="目電第152号" title="取下願" date="1924-05-24" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha20">
		<H slot="heading">デハ20形 → モハ20形</H>

		<div class="p-text">
			<p>開通から1年が経ち乗客が急増する中で、<DateWareki value="1924-04" />には東京高等工業学校<small>（現：東京工業大学）</small>が大岡山に移転することとなり、車両不足解消のために鉄道省の木製ボギー電車デハ6260形を借り入れることとなりました。</p>
			<p>製造当初は正面形状が曲面を描いた5枚窓をしており、運転台脇のドアは折戸となっていましたが、鉄道省時代の<DateWareki value="1920" />から翌年にかけて行われた改造工事でそれぞれ角形3枚窓、引戸へ交換されており<FootnoteReference><RefBook name="省線電車史綱要（抄録）" article="Ⅲ 車輛 – 1. 車體" pages={[29]} url="https://dl.ndl.go.jp/pid/12065807/1/36" urlScope="page" /></FootnoteReference>、譲渡の時点では後述する<a href="#deha40">デハ40形（鉄道省デハ8285形）</a>と似た形態になっていました。</p>
			<p>同年中には譲受となり、後に半鋼体化改造を行い1970年代後半まで長く活躍しました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup" colspan="2">借入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">鉄道省デハ6269</th>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence no="目電第60号" title="鉄道省所属電動客車運転認可申請書" date="1924-03-07" /></td>
						<td rowspan="4"><Licence no="監第484号" date="1924-03-19" /></td>
					</tr>
					<tr>
						<th scope="row">鉄道省デハ6275</th>
					</tr>
					<tr>
						<th scope="row">鉄道省デハ6277</th>
					</tr>
					<tr>
						<th scope="row">鉄道省デハ6278</th>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup" colspan="3">譲受</th>
						<th scope="colgroup">半鋼体化</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ21→モハ21</th>
						<td rowspan="4">鉄道省デハ6261–6264</td>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence no="目電第299号" title="鉄道省電動客車譲受運転認可申請書" date="1924-09-27" /></td>
						<td rowspan="4"><Licence no="監第2259号" date="1924-10-13" /></td>
						<td rowspan="4"><Licence no="目電第111号" title="車両竣功御届" date="1924-11-30" /></td>
						<td><Licence summary="モハ20形→モハ150形" no="目電丑第1404号" title="電動客車設計変更認可申請書" date="1937-10-30" /></td>
						<td>以降<a href="#moha150">モハ150形</a></td>
					</tr>
					<tr>
						<th scope="row">デハ22→モハ22</th>
						<td rowspan="3"><Licence summary="モハ20形→モハ150形" no="目電寅第1360号" title="電動客車改造認可申請ノ件" date="1939-06-12" /></td>
						<td rowspan="3">以降<a href="#moha150">モハ150形</a></td>
					</tr>
					<tr>
						<th scope="row">デハ23→モハ23</th>
					</tr>
					<tr>
						<th scope="row">デハ24→モハ24</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>借入時と譲受時で鉄道省の車号が異なるが、譲受時の認可書類によると監督局側で何らかの（書類上の?）処理が行われた模様。</li>
		</ul>
	</Section>

	<Section id="deha30">
		<H slot="heading">デハ30形 → モハ30形<small>（初代）</small></H>

		<div class="p-text">
			<p>デハ20形の譲受に続けて翌<DateWareki value="1925" />にも鉄道省より同じくデハ6260形の8両が譲渡されました。同型のため認可を伴わない届出での譲受でしたが、どういうわけか続番ではなく新たにデハ30形と区分されています。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">当初所属</th>
						<th scope="colgroup" colspan="2">譲受</th>
						<th scope="colgroup" colspan="2">廃車／譲渡</th>
					</tr>
					<tr>
						<th scope="col">届出</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ31→モハ31</th>
						<td rowspan="8">鉄道省デハ6269–6273, 6275, 6277, 6278</td>
						<td rowspan="8">目蒲</td>
						<td rowspan="8"><Licence no="目電第56号" title="鉄道省電動客車譲受運転届" date="1925-03-02" /></td>
						<td rowspan="8"><Licence no="目電第168号" title="車両竣功御届" date="1925-05-21" /></td>
						<td rowspan="2"><Licence summary="目蒲→駿豆" no="目電巳第1631号" title="電動客車譲渡認可申請書" date="1929-09-30" /></td>
						<td rowspan="2"><Licence no="監第3514号" date="1929-10-14" /></td>
					</tr>
					<tr>
						<th scope="row">デハ32→モハ32</th>
					</tr>
					<tr>
						<th scope="row">デハ33</th>
						<td rowspan="2"><Licence summary="東横→駿豆" no="東横卯第1387号" title="電動客車譲渡譲受認可申請書" date="1927-08-20" /></td>
						<td rowspan="2"><Licence no="監第2356号" date="1927-09-06" /></td>
					</tr>
					<tr>
						<th scope="row">デハ34</th>
					</tr>
					<tr>
						<th scope="row">デハ35→モハ35</th>
						<td><Licence summary="目蒲→芝浦" no="目電巳第1647号" title="電動客車廃止認可申請書" date="1929-10-08" /></td>
						<td><Licence no="監第3538号" date="1929-10-16" /></td>
					</tr>
					<tr>
						<th scope="row">デハ36</th>
						<td rowspan="2"><Licence summary="東横→駿豆" no="東横卯第1387号" title="電動客車譲渡譲受認可申請書" date="1927-08-20" /></td>
						<td rowspan="2"><Licence no="監第2356号" date="1927-09-06" /></td>
					</tr>
					<tr>
						<th scope="row">デハ37</th>
					</tr>
					<tr>
						<th scope="row">デハ38→モハ38</th>
						<td><Licence summary="目蒲→駿豆" no="目電巳第1631号" title="電動客車譲渡認可申請書" date="1929-09-30" /></td>
						<td><Licence no="監第3514号" date="1929-10-14" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ35 の廃車は認可書類では単に<q>廃止</q>とあるが、定説では芝浦製作所に引き取られたのち鶴見臨港鉄道に譲渡されたとされている。公式の文献では<RefBook name="東京横浜電鉄沿革史" pages={[512]} url="https://dl.ndl.go.jp/pid/1124913/1/343" urlScope="page" />に芝浦製作所へ譲渡されたことまでが書かれている。</li>
		</ul>
	</Section>

	<Section id="deha100">
		<H slot="heading">デハ100形 → モハ100形</H>

		<div class="p-text">
			<p>東京横浜電鉄の前身である武蔵電気鉄道では、現在の東横線にあたる本線のほか多数の支線の免許獲得時における数多の困難を乗り越えた末、<DateWareki value="1920" />に祐天寺―神奈川間を2区間に分割して工事施行認可申請を行った時点で、路線を軌間 1,435mm、架線電圧 1200V の規格で計画しており、旅客車両は 105㏋・600V 主電動機を4台搭載したものが想定されていましたが、目黒蒲田電鉄の傘下に収まったのち、<DateWareki value="1925" />に鉄道省や目黒蒲田電鉄との直通運転を見越して軌間 1,067mm へと計画変更し<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="庶第66号" date="1925-02-02" title="工事方法変更認可申請書" url="https://www.digital.archives.go.jp/item/534986" /></FootnoteReference>、同年中にデハ100形の認可申請が行われました。</p>
			<p>デハ100形は半鋼製車体となった一方で当初はトラス棒付き、トロリーポール併用（デハ101〜105 のみ）であるなど過渡期の形態をした車両です。最初の5両は<DateWareki value="1925-12" />の竣功と同時に目黒蒲田電鉄への譲渡申請が行われ（目蒲側での譲受竣功は翌年3月）、また翌<DateWareki value="1926" />製造の7両は目黒蒲田電鉄にて増備されたため、当初の数年間は全車が目蒲の所属となっていました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="4"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="4">購入</th>
					</tr>
					<tr>
						<th scope="col">申請／届出</th>
						<th scope="col">設計変更申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ101→モハ101</th>
						<td rowspan="5">東横</td>
						<td rowspan="5"><Licence no="庶第923号" title="車両購入認可申請書" date="1925-07-15" /></td>
						<td rowspan="5" class="u-cell -center">―</td>
						<td rowspan="5"><Licence no="監第2149号" date="1925-09-02" /></td>
						<td rowspan="5"><Licence no="庶第1872号" title="車両竣功御届" date="1925-12-07" /></td>
					</tr>
					<tr>
						<th scope="row">デハ102→モハ102</th>
					</tr>
					<tr>
						<th scope="row">デハ103→モハ103</th>
					</tr>
					<tr>
						<th scope="row">デハ104→モハ104</th>
					</tr>
					<tr>
						<th scope="row">デハ105→モハ105</th>
					</tr>
					<tr>
						<th scope="row">デハ106→モハ106</th>
						<td rowspan="7">目蒲</td>
						<td rowspan="7"><Licence no="目電第112号" title="電動客車購入御届" date="1926-03-31" /></td>
						<td rowspan="7"><Licence no="目電第180号" title="電動客車設計変更認可申請書" date="1926-06-01" /></td>
						<td rowspan="7"><Licence no="監第1752号" date="1926-07-01" /></td>
						<td rowspan="7"><Licence no="目電第222号" title="車両竣功御届" date="1926-07-06" /></td>
					</tr>
					<tr>
						<th scope="row">デハ107→モハ107</th>
					</tr>
					<tr>
						<th scope="row">デハ108→モハ108</th>
					</tr>
					<tr>
						<th scope="row">デハ109→モハ109</th>
					</tr>
					<tr>
						<th scope="row">デハ110→モハ110</th>
					</tr>
					<tr>
						<th scope="row">デハ111→モハ111</th>
					</tr>
					<tr>
						<th scope="row">デハ112→モハ112</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ106〜112 は東京横浜電鉄から譲渡されたデハ101〜105 と同一設計として認可を伴わない届出による手続きが行われたが、<DateWareki value="1926-03-10" />に発生した東洋電機製造の横浜工場火災による影響で主電動機の 65㏋ → 75㏋ 化（デハ106 を除く）や集電装置をパンタグラフ&amp;トロリーポール併用からパンタグラフのみにするといった設計変更が行われることとなり、結局認可を伴う申請手続きとなった。</li>
		</ul>
	</Section>

	<Section id="deha40">
		<H slot="heading">デハ40形 → モハ40形 → モハ25形</H>

		<div class="p-text">
			<p>デハ20形、デハ30形に続き、<DateWareki value="1926" />にも鉄道省車両の譲受が行われましたが、種車はそれまでのデハ6260形からデハ6250形とデハ6285形に変わりました。</p>
			<p>この車両はもともと東京横浜電鉄が譲受するものだったようですが、前述のデハ100形5両とともに目黒蒲田電鉄で使用されることとなり、デハ100形分の見返りとして譲り受けた10両のうち6両は阪神急行電鉄<small>（現：阪急電鉄）</small>へそのまま譲渡されました<FootnoteReference><RefBook name="東京急行電鉄50年史" article="技術 – 4. 車両 – 1) 目黒蒲田電鉄創業時代の車両" pages={[1045]} url="https://www.tokyu.co.jp/history/history_50/" /></FootnoteReference>。そのため実際に認可を受けたのは4両で、そのうち1両は後にモハ25形へ形式変更されています。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup" colspan="3">譲受</th>
						<th scope="colgroup">改番</th>
						<th scope="colgroup" colspan="2">廃車／譲渡</th>
						<th scope="colgroup">半鋼体化</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">申請</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ41→モハ41</th>
						<td rowspan="2">鉄道省デハ6293, 6294</td>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence no="目電第166号" title="鉄道省電動客車譲受使用認可申請書" date="1926-04-30" /></td>
						<td rowspan="4"><Licence no="監第1557号" date="1926-06-12" /></td>
						<td rowspan="4"><Licence /></td>
						<td></td>
						<td colspan="2"><Licence summary="目蒲→芝浦" date="1930" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ42→モハ42→モハ25</th>
						<td><Licence summary="モハ42→モハ25" no="目電巳第1902号" title="電動客車形式称号及番号改正届" date="1929-11-14" /></td>
						<td></td>
						<td></td>
						<td><Licence no="目電丑第1404号" title="電動客車設計変更認可申請書" date="1937-10-30" /></td>
						<td>以降、<a href="#moha150">モハ150形</a></td>
					</tr>
					<tr>
						<th scope="row">デハ43</th>
						<td>鉄道省デハ6288</td>
						<td></td>
						<td rowspan="2"><Licence summary="目蒲→福武" no="目電第159号" title="電動客車譲渡認可申請書" date="1927-05-02" /></td>
						<td rowspan="2"><Licence no="監第1221号" date="1927-05-14" /></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ44</th>
						<td>鉄道省デハ6295</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<thead>
					<tr>
						<th scope="col">車号</th>
						<th scope="col">前所有</th>
						<th scope="col">譲渡</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ45</th>
						<td>鉄道省デハ6285</td>
						<td rowspan="6"><Licence summary="目蒲→阪急" date="1926" /></td>
					</tr>
					<tr>
						<th scope="row">デハ46</th>
						<td>鉄道省デハ6254</td>
					</tr>
					<tr>
						<th scope="row">デハ47</th>
						<td>鉄道省デハ6256</td>
					</tr>
					<tr>
						<th scope="row">デハ48</th>
						<td>鉄道省デハ6257</td>
					</tr>
					<tr>
						<th scope="row">デハ49</th>
						<td>鉄道省デハ6289</td>
					</tr>
					<tr>
						<th scope="row">デハ50</th>
						<td>鉄道省デハ6290</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>鉄道省車号と目蒲車号の対照は車両竣功図表による（認可書類には個々の対照は書かれていない）。</li>
			<li>モハ41 は譲渡の認可書類が残されておらず足取りは追えないが、定説では<DateWareki value="1930" />に芝浦製作所に引き取られたのち鶴見臨港鉄道に譲渡されたとされている。上表における譲渡実施時期は<RefBook name="東京横浜電鉄沿革史" pages={[512]} url="https://dl.ndl.go.jp/pid/1124913/1/343" urlScope="page" />による。</li>
			<li>モハ42→モハ25 の改番届における記述の中でモハ40形は41号車1両が残るとあるため、短期間ではあるがモハ40形とモハ25形が1両ずつ併存していたことになる。</li>
			<li>デハ45〜50 の6両は目黒蒲田電鉄において阪神急行電鉄<small>（現：阪急電鉄）</small>への譲渡届は出されていない。参考までに、阪急側での認可申請は<DateWareki value="1926-04-05" />、認可は同年5月21日に行われている。</li>
		</ul>
	</Section>

	<Section id="deha200">
		<H slot="heading">デハ200形 → モハ200形</H>

		<div class="p-text">
			<p>大井町線の開通（大井町―大岡山間）に伴う増備で、屋根の深い川造型電車です。川崎造船所の兵庫工場<small>（現：川崎車両）</small>では<DateWareki value="1925" />に阪神急行電鉄<small>（現：阪急電鉄）</small>向けの全鋼製車を完成させており<FootnoteReference><RefBook name="川崎造船所四十年史" article="年譜 – 第三編　當社各工場及姉妹會社沿革 – 第四章　川崎車輛株式會社（舊名川崎造船所兵庫工場）" pages={[173]} url="https://dl.ndl.go.jp/pid/1228030/1/128" urlScope="page" /></FootnoteReference>、本車も阪急600形、800形とよく似た形態をしていますが、こちらは半鋼製車です。</p>
			<p>モハ203 は<DateWareki value="1929" />に改番されています。これは前述のモハ42→モハ25 と同時に行われたもので、他にデハ300形、モハ510形、モハ150形も末尾 3 を避ける付番が行われています。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup">改番</th>
					</tr>
					<tr>
						<th scope="col">申請／届出</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ201→モハ201</th>
						<td rowspan="6">目蒲</td>
						<td rowspan="6"><Licence no="目電第431号" title="車両購入認可申請書" date="1926-12-16" /></td>
						<td rowspan="6"><Licence no="監第220号" date="1927-02-10" /></td>
						<td rowspan="6"><Licence no="目電第90号" title="車両竣功届" date="1927-03-12" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ202→モハ202</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ203→モハ203→モハ200</th>
						<td><Licence summary="モハ203→モハ200" no="目電巳第1902号" title="電動客車形式称号及番号改正届" date="1929-11-14" /></td>
					</tr>
					<tr>
						<th scope="row">デハ204→モハ204</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ205→モハ205</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ206→モハ206</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="deha300">
		<H slot="heading">デハ300形、クハ1形 → モハ300形</H>

		<div class="p-text">
			<p>デハ200形と同じく川崎造船所兵庫工場<small>（現：川崎車両）</small>で製造された車両で、形態もよく似ていますが、主電動機が 75㏋ → 105㏋ となり、台車も大型化されています。また同時に制御車としてクハ1形が製造されましたが、主電動機と集電装置、電動空気圧縮機を装備しないほかは電動車と同じ仕様でした。制御器（マスコン）も2個装備していたとされているため<FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電第240号" date="1927-07-05" title="車輛購入認可申請書" url="https://www.digital.archives.go.jp/item/543715" /></FootnoteReference>、運転台も電動車と同じく両側にあったものと思われます。</p>
			<p>制御車のうちクハ5 は製造の翌年に電装化されてデハ306 となりましたが、制御装置は唯一両のみ<a href="/tokyu/machine/cont_old#dk-system">東洋電機製造の電動カム軸式</a>が搭載されたことが特筆されます。ほかの4両もその2年後には電装化されたため、クハ1形は短期間のうちに形式消滅しました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup">改番</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">報告</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">デハ301→モハ301</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電第240号" title="車両購入認可申請書" date="1927-07-05" /></td>
						<td rowspan="5"><Licence no="監第2286号" date="1927-08-27" /></td>
						<td rowspan="5"><Licence no="目電第335号" title="車両竣工届" date="1927-09-29" /></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ302→モハ302</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ303→デハ307→モハ307</th>
						<td><Licence summary="デハ303→デハ307" no="目電第1713号" date="1927-11-30" /></td>
					</tr>
					<tr>
						<th scope="row">デハ304→モハ304</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">デハ305→モハ305</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup" colspan="3">電装</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">クハ1→モハ311</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電第240号" title="車両購入認可申請書" date="1927-07-05" /></td>
						<td rowspan="5"><Licence no="監第2286号" date="1927-08-27" /></td>
						<td rowspan="5"><Licence no="目電第335号" title="車両竣工届" date="1927-09-29" /></td>
						<td colspan="3" rowspan="4"><Licence summary="クハ1形→モハ300形" date="1930" /></td>
					</tr>
					<tr>
						<th scope="row">クハ2→モハ312</th>
					</tr>
					<tr>
						<th scope="row">クハ3→モハ314</th>
					</tr>
					<tr>
						<th scope="row">クハ4→モハ315</th>
					</tr>
					<tr>
						<th scope="row">クハ5→デハ306→モハ306</th>
						<td><Licence summary="クハ5→デハ306" no="目電辰第284号" title="車両設計変更認可申請書" date="1928-03-17" /></td>
						<td><Licence no="監第1456号" date="1928-05-15" /></td>
						<td><Licence no="目電辰第1078号" title="車両竣功届" date="1928-08-04" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>デハ303→デハ307 の変更は改番届が出されていない（残されていない）が、<DateWareki value="1927-11-30" />に提出された<LinkExternal href="https://www.digital.archives.go.jp/item/544125">車両代価の報告書（目電第1713号）</LinkExternal>において<q>デハ第三〇三號ハ都合ニヨリ第三〇七號ト變更致候</q>とあるため、その前後に改番が行われたものと判断できる。</li>
			<li>クハ1〜4 の電装は認可書類が残されていないため、実施時期は<RefMagazine name="鉄道ピクトリアル" date="1985年1月臨時増刊号" no={442} article="私鉄車両めぐり〔127〕" author="荻原俊夫" pages={[210]} />による。また新旧車号対照は<RefMagazine name="Romance Car" no={17} article="東京急行電鉄2" author="川垣恭三" pages={[10]} />による。</li>
		</ul>
	</Section>

	<Section id="moha500">
		<H slot="heading">モハ500形</H>

		<div class="p-text">
			<p>デハ200形、300形と同じく川崎車輛<small>（現：川崎車両）</small>による製造ですが、正面非貫通にドア間4枚窓、片隅式運転台など、これまでより大きく進化した車両です。</p>
			<p>モハ500形が竣功した時期は他車は「デハ」の称号でしたが、本車の竣功届にはすでに<q>形式モハ五〇〇號</q>との記述があるため<FootnoteReference><RefTetsudosho company="目黒蒲田電鉄" no="目電辰第1819号" date="1928-12-27" title="車輛竣功届" url="https://www.digital.archives.go.jp/item/469093" /></FootnoteReference>、他車に先駆けて「モハ」を名乗ったものと思われます。</p>
			<p>当時の旅客車としては珍しく目黒蒲田電鉄と東京横浜電鉄の間での異動が行われず、両社の合併まで終始目蒲に在籍していました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ501</th>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電辰第1524号" title="車両購入認可申請書" date="1928-10-23" /></td>
						<td rowspan="5"><Licence no="監第3962号" date="1928-12-18" /></td>
						<td rowspan="5"><Licence no="目電辰第1819号" title="車両竣功届" date="1928-12-27" /></td>
					</tr>
					<tr>
						<th scope="row">モハ502</th>
					</tr>
					<tr>
						<th scope="row">モハ503</th>
					</tr>
					<tr>
						<th scope="row">モハ504</th>
					</tr>
					<tr>
						<th scope="row">モハ505</th>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="moha510">
		<H slot="heading">モハ510形</H>

		<div class="p-text">
			<p>日本車輌製造と川崎車輛<small>（現：川崎車両）</small>であわせて50両もの大量製造がなされた車両で、メーカーにより車体や台車の形態に多少の違いはあるものの、製造時期によるバリエーションは意外と少なく、とくに最終増備のモハ552〜565 は在来車と同一設計として、認可を伴わない届出にて製造が行われました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="4"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="4">購入</th>
					</tr>
					<tr>
						<th scope="col">申請／届出</th>
						<th scope="col">認可</th>
						<th scope="col">車両数変更</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ510</th>
						<td rowspan="3">東横</td>
						<td rowspan="2"><Licence no="東横未第1224号" title="車両購入認可申請書" date="1931-08-21" /></td>
						<td rowspan="2"><Licence no="監第3255号" date="1931-11-21" /></td>
						<td></td>
						<td rowspan="3"><Licence no="東横申第599号" title="車両竣功届" date="1932-05-24" /></td>
					</tr>
					<tr>
						<th scope="row">モハ511</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ512</th>
						<td rowspan="3"><Licence no="目電未第1005号" title="車両購入認可申請書" date="1931-08-21" /></td>
						<td rowspan="3"><Licence no="監第3256号" date="1931-11-21" /></td>
						<td><Licence no="目電申第332号 & 東横申第350号" title="電動客車車両数変更御願" date="1932-04-08" /></td>
					</tr>
					<tr>
						<th scope="row">モハ514</th>
						<td rowspan="2">目蒲</td>
						<td></td>
						<td rowspan="2"><Licence no="目電申第556号" title="車両竣功届" date="1932-05-24" /></td>
					</tr>
					<tr>
						<th scope="row">モハ515</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ516</th>
						<td rowspan="5">東横</td>
						<td rowspan="5"><Licence no="東横申第846号" title="電動客車設計認可申請書" date="1932-07-28" /></td>
						<td rowspan="5"><Licence no="監第2931号" date="1932-10-21" /></td>
						<td></td>
						<td rowspan="5"><Licence no="東横申第1404号" title="車両竣功届" date="1932-11-24" /></td>
					</tr>
					<tr>
						<th scope="row">モハ517</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ518</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ519</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ520</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ521</th>
						<td rowspan="8">東横</td>
						<td rowspan="8"><Licence no="東横戌第179号" title="電動客車設計認可申請書" date="1934-02-27" /></td>
						<td rowspan="8"><Licence no="監第1382号" date="1934-04-30" /></td>
						<td></td>
						<td rowspan="8"><Licence no="東横戌第654号" title="車両竣功届" date="1934-05-18" /></td>
					</tr>
					<tr>
						<th scope="row">モハ522</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ524</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ525</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ526</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ527</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ528</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ529</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ530</th>
						<td rowspan="11">東横</td>
						<td rowspan="11"><Licence no="東横亥第56号" title="電動客車設計認可申請書" date="1935-01-22" /></td>
						<td rowspan="11"><Licence no="監第604号" date="1935-02-28" /></td>
						<td></td>
						<td rowspan="6"><Licence no="東横亥第598号" title="車両竣功届" date="1935-04-30" /></td>
					</tr>
					<tr>
						<th scope="row">モハ531</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ532</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ534</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ535</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ536</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ537</th>
						<td></td>
						<td rowspan="5"><Licence no="東横亥第885号" title="車両竣功届" date="1935-05-31" /></td>
					</tr>
					<tr>
						<th scope="row">モハ538</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ539</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ540</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ541</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ542</th>
						<td rowspan="9">目蒲</td>
						<td rowspan="9"><Licence no="目電亥第439号" title="電動客車設計認可申請書" date="1935-04-10" /></td>
						<td rowspan="9"><Licence no="監第2037号" date="1935-06-12" /></td>
						<td></td>
						<td rowspan="4"><Licence no="目電亥第1235号" title="車両竣功届" date="1935-08" /></td>
					</tr>
					<tr>
						<th scope="row">モハ544</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ545</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ546</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ547</th>
						<td></td>
						<td rowspan="5"><Licence no="目電亥第1517号" title="車両竣功届" date="1935-09-26" /></td>
					</tr>
					<tr>
						<th scope="row">モハ548</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ549</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ550</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ551</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ552</th>
						<td rowspan="10">目蒲</td>
						<td rowspan="10"><Licence no="目電子第337号" title="車両増加届" date="1936-03-26" /></td>
						<td rowspan="10" class="u-cell -center">―</td>
						<td></td>
						<td rowspan="10" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">モハ554</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ555</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ556</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ557</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ558</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ559</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ560</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ561</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ562</th>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ564</th>
						<td rowspan="2">東横</td>
						<td rowspan="2"><Licence no="東横子第341号" title="車両増加届" date="1936-03-26" /></td>
						<td rowspan="2" class="u-cell -center">―</td>
						<td></td>
						<td rowspan="2" class="u-cell -center">―</td>
					</tr>
					<tr>
						<th scope="row">モハ565</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>第1次購入のモハ510〜515 は東京横浜電鉄が3両、目黒蒲田電鉄が2両の購入申請を行ったが、認可後に両数の記載に誤記があったとして目蒲、東横の両社から<cite>電動客車車両数変更御願</cite>が提出され、東横2両、目蒲3両となった。上表では便宜的にモハ512 を変更対象としているが、認可申請書や変更届において具体的な車号が記載されているわけではない。</li>
			<li>目黒蒲田電鉄モハ552〜562 の10両はモハ542〜551 と同一設計として、認可を伴わない届出にて増備が行われた。なお、実際はモハ542〜546 のみ主電動機の歯車比が他車と異なっていたため（当該車両の認可申請書類に記載）、モハ547〜551 と同一設計ということになる。</li>
			<li>東京横浜電鉄モハ564〜565 の2両はモハ530〜541 と同一設計として、認可を伴わない届出にて増備が行われた。</li>
		</ul>
	</Section>

	<Section id="moha15">
		<H slot="heading">モハ15形<small>（池上電気鉄道引継）</small></H>

		<div class="p-text">
			<p><DateWareki value="1934-10" />に目黒蒲田電鉄が池上電気鉄道を吸収合併したことに伴い、<a href="/tokyu/data/history_ikegami#deha3">池上の甲号車</a>を引き継いだものですが、短期間に全車両が他鉄道へ譲渡されました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup">池上合併に伴う改番</th>
						<th scope="colgroup">譲渡</th>
					</tr>
					<tr>
						<th scope="col">届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ15</th>
						<td>池上デハ3</td>
						<td rowspan="4">目蒲</td>
						<td rowspan="4"><Licence no="目電戌第1142号" title="電動客車形式称号、記号変更御届" date="1934-11-10" /></td>
						<td rowspan="2"><Licence summary="目蒲→江ノ電" no="目電寅第1686号" title="電動客車譲渡届" date="1938-03-01" /></td>
					</tr>
					<tr>
						<th scope="row">モハ16</th>
						<td>池上デハ4</td>
					</tr>
					<tr>
						<th scope="row">モハ17</th>
						<td>池上デハ5</td>
						<td><Licence summary="目蒲→野上" no="目電亥第994号" title="電動客車譲渡届" date="1935-06-24" /></td>
					</tr>
					<tr>
						<th scope="row">モハ18</th>
						<td>池上デハ6</td>
						<td><Licence summary="目蒲→越中" no="目電亥第225号" title="電動客車譲渡認可申請書" date="1935-02-25" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>モハ18 の越中鉄道<small>（後の富山地方鉄道射水線）</small>への譲渡に際しては認可申請の提出が行われたが、車両譲渡は<DateWareki value="1929-12" />より届出制となっていたため<FootnoteReference><RefMagazine name="鉄道ピクトリアル" date="2006年9月号" no={779} article="鉄道車両の許認可制度" author="和久田康雄" pages={[58]} /></FootnoteReference>、監督局にて届出として処理が行われた。</li>
			<li>モハ18 は越中鉄道への譲渡の同年、7月29日の申請でさらに温泉電軌<small>（後の北陸鉄道加南線）</small>への譲渡が行われたが、越中鉄道側の申請書類において<q>當社ニ於テ使用スルヨリ温泉電氣株式會社ニ於テ使用スル方總テノ奌ニ於テ有利ト認</q>とあり<FootnoteReference><RefTetsudosho company="越中鉄道" date="1935-07-29" title="客車譲渡認可申請書" url="https://www.digital.archives.go.jp/item/455583" /></FootnoteReference>、また車両は東京横浜電鉄の元住吉駅構内にて引き渡すとされていることから<FootnoteReference><RefTetsudosho company="温泉電軌" date="1935-07-29" title="客車譲受認可申請書" url="https://www.digital.archives.go.jp/item/463047" /></FootnoteReference>、越中鉄道への譲渡は書類上のことに過ぎなかったものと思われる。</li>
		</ul>
	</Section>

	<Section id="moha30">
		<H slot="heading">モハ30形<small>（2代目、池上電気鉄道引継）</small></H>

		<div class="p-text">
			<p><a href="/tokyu/data/history_ikegami#deha20">池上電気鉄道デハ20形</a>を引き継いだもので、目黒蒲田電鉄では2代目となるモハ30形を名乗ることになりました。この車両も鉄道省木造車の譲受車ですが、種車はデハ6310形であり、側面窓割などに<a href="#deha20">モハ20形</a>、<a href="#deha40">モハ25形</a>との違いがありました。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup">池上合併に伴う改番</th>
						<th scope="colgroup">半鋼製化</th>
						<th scope="colgroup" rowspan="2">備考</th>
					</tr>
					<tr>
						<th scope="col">届出</th>
						<th scope="col">申請</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ30</th>
						<td>池上デハ20</td>
						<td rowspan="10">目蒲</td>
						<td rowspan="10"><Licence no="目電戌第1142号" title="電動客車形式称号、記号変更御届" date="1934-11-10" /></td>
						<td rowspan="2"><Licence summary="モハ30形→モハ150形" no="目電丑第1404号" title="電動客車設計変更認可申請書" date="1937-10-30" /></td>
						<td rowspan="6">以降<a href="#moha150">モハ150形</a></td>
					</tr>
					<tr>
						<th scope="row">モハ31</th>
						<td>池上デハ21</td>
					</tr>
					<tr>
						<th scope="row">モハ32</th>
						<td>池上デハ22</td>
						<td rowspan="3"><Licence summary="モハ30形→モハ150形" no="目電寅第1360号" title="電動客車改造認可申請ノ件" date="1939-06-12" /></td>
					</tr>
					<tr>
						<th scope="row">モハ33</th>
						<td>池上デハ23</td>
					</tr>
					<tr>
						<th scope="row">モハ34</th>
						<td>池上デハ24</td>
					</tr>
					<tr>
						<th scope="row">モハ35</th>
						<td>池上デハ25</td>
						<td><Licence summary="モハ30形→モハ150形" no="目電丑第1404号" title="電動客車設計変更認可申請書" date="1937-10-30" /></td>
					</tr>
					<tr>
						<th scope="row">モハ36→サハ1</th>
						<td>池上デハ26</td>
						<td rowspan="4"><Licence summary="モハ30形→サハ1形" no="東横子第81号" title="電動客車譲受並設計変更認可申請書" date="1936-02-10" /></td>
						<td rowspan="4">以降<a href="#moha150">サハ1形</a></td>
					</tr>
					<tr>
						<th scope="row">モハ37→サハ2</th>
						<td>池上デハ27</td>
					</tr>
					<tr>
						<th scope="row">モハ38→サハ3</th>
						<td>池上デハ28</td>
					</tr>
					<tr>
						<th scope="row">モハ39→サハ4</th>
						<td>池上デハ29</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>モハ36〜39 は目黒蒲田電鉄から東京横浜電鉄へ譲渡と同時に、東京横浜電鉄において半鋼製化&amp;電装解除工事が行われてサハ1形となった。</li>
		</ul>
	</Section>

	<Section id="moha120">
		<H slot="heading">モハ120形<small>（池上電気鉄道引継）</small></H>

		<div class="p-text">
			<p><a href="/tokyu/data/history_ikegami#deha100">池上電気鉄道デハ100形</a>を引き継いだものです。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup">池上合併に伴う改番</th>
					</tr>
					<tr>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ120</th>
						<td>池上デハ101</td>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電戌第1142号" title="電動客車形式称号、記号変更御届" date="1934-11-10" /></td>
					</tr>
					<tr>
						<th scope="row">モハ121</th>
						<td>池上デハ102</td>
					</tr>
					<tr>
						<th scope="row">モハ122</th>
						<td>池上デハ103</td>
					</tr>
					<tr>
						<th scope="row">モハ123</th>
						<td>池上デハ104</td>
					</tr>
					<tr>
						<th scope="row">モハ124</th>
						<td>池上デハ105</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="moha130">
		<H slot="heading">モハ130形<small>（池上電気鉄道引継）</small></H>

		<div class="p-text">
			<p><a href="/tokyu/data/history_ikegami#deha100">池上電気鉄道デハ200形</a>を引き継いだものです。</p>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">前所有</th>
						<th scope="colgroup" rowspan="2">所属</th>
						<th scope="colgroup">池上合併に伴う改番</th>
					</tr>
					<tr>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ130</th>
						<td>池上デハ201</td>
						<td rowspan="3">目蒲</td>
						<td rowspan="3"><Licence no="目電戌第1142号" title="電動客車形式称号、記号変更御届" date="1934-11-10" /></td>
					</tr>
					<tr>
						<th scope="row">モハ131</th>
						<td>池上デハ202</td>
					</tr>
					<tr>
						<th scope="row">モハ132</th>
						<td>池上デハ203</td>
					</tr>
				</tbody>
			</table>
		</div>
	</Section>

	<Section id="kiha1">
		<H slot="heading">キハ1形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<colgroup span="2"></colgroup>
				<colgroup></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="3">購入</th>
						<th scope="colgroup" colspan="2">貸渡</th>
						<th scope="colgroup">譲渡</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
						<th scope="col">届出</th>
						<th scope="col">延長届出</th>
						<th scope="col">届出</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">キハ1</th>
						<td rowspan="8">東横</td>
						<td rowspan="8"><Licence no="東横亥第1415号" title="ガソリン客車設計認可申請書" date="1935-09-12" /></td>
						<td rowspan="8"><Licence no="監第951号" date="1936-03-30" /></td>
						<td rowspan="2"><Licence no="東横子第636号" title="車両竣功届" date="1936-05-08" /></td>
						<td><Licence summary="東横→神中（1939年9月25日〜12月24日）" no="東横卯第1561号" title="車両貸渡届" date="1939-11-16" /></td>
						<td><Licence summary="東横→神中（1939年12月25日〜翌年9月30日）" no="東辰第1054号" title="車両貸渡期間延長届" date="1940-02-20" /></td>
						<td><Licence summary="東横→神中" no="東辰第3498号" title="ガソリン客車譲渡届" date="1940-09-27" /></td>
					</tr>
					<tr>
						<th scope="row">キハ2</th>
						<td></td>
						<td></td>
						<td><Licence summary="東横→五日市" no="東横卯第765号" title="ガソリン客車譲渡届" date="1939-03-15" /></td>
					</tr>
					<tr>
						<th scope="row">キハ3</th>
						<td rowspan="4"><Licence no="東横子第717号" title="車両竣功届" date="1936-05-28" /></td>
						<td></td>
						<td></td>
						<td><Licence summary="東横→神中" no="東横卯第2493号" title="ガソリン客車譲渡届" date="1939-07-06" /></td>
					</tr>
					<tr>
						<th scope="row">キハ4</th>
						<td><Licence summary="東横→神中（1939年9月25日〜12月24日）" no="東横卯第1561号" title="車両貸渡届" date="1939-11-16" /></td>
						<td><Licence summary="東横→神中（1939年12月25日〜翌年9月30日）" no="東辰第1054号" title="車両貸渡期間延長届" date="1940-02-20" /></td>
						<td rowspan="2"><Licence summary="東横→神中" no="東辰第3498号" title="ガソリン客車譲渡届" date="1940-09-27" /></td>
					</tr>
					<tr>
						<th scope="row">キハ5</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">キハ6</th>
						<td></td>
						<td></td>
						<td><Licence summary="東横→神中" no="東横寅第3456号" title="ガソリン客車譲渡届" date="1938-12" /></td>
					</tr>
					<tr>
						<th scope="row">キハ7</th>
						<td rowspan="2"><Licence no="東横子第771号" title="車両竣功届" date="1936-05-29" /></td>
						<td></td>
						<td></td>
						<td><Licence summary="東横→神中" no="東辰第3498号" title="ガソリン客車譲渡届" date="1940-09-27" /></td>
					</tr>
					<tr>
						<th scope="row">キハ8</th>
						<td></td>
						<td></td>
						<td><Licence summary="東横→五日市" no="東横卯第765号" title="ガソリン客車譲渡届" date="1939-03-15" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>ガソリンカーの導入検討に際し、<DateWareki value="1933" />に鉄道省より当時新製されたばかりのキハ36900形を借り入れての試運転が渋谷―桜木町で行われた模様<FootnoteReference><RefTetsudosho company="東京横浜電鉄" no="東横酉第1110号" date="1933-09-05" title="ガソリンカー試運轉ニ關スル件認可申請" url="https://www.digital.archives.go.jp/item/536006" /></FootnoteReference>。</li>
			<li>ガソリンカーの導入に際し、上表のほかに<cite>ガソリン動力併用認可申請書</cite>が車両の認可申請と同日に提出され、認可も同時に処理されている。</li>
		</ul>
	</Section>

	<Section id="moha150">
		<H slot="heading">サハ1形、モハ150形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="3"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" rowspan="2">改造</th>
						<th scope="colgroup" colspan="3">半鋼体化&amp;電装解除</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">サハ1</th>
						<td>モハ36<small>（旧池上）</small></td>
						<td rowspan="4">東横</td>
						<td rowspan="4"><Licence no="東横子第81号" title="電動客車譲受並設計変更認可申請書" date="1936-02-10" /></td>
						<td rowspan="4"><Licence no="監1090号" date="1936-04-10" /></td>
						<td rowspan="4"><Licence no="東横子第665号" title="車両竣功届" date="1936-05-15" /></td>
					</tr>
					<tr>
						<th scope="row">サハ2</th>
						<td>モハ37<small>（旧池上）</small></td>
					</tr>
					<tr>
						<th scope="row">サハ3</th>
						<td>モハ38<small>（旧池上）</small></td>
					</tr>
					<tr>
						<th scope="row">サハ4</th>
						<td>モハ39<small>（旧池上）</small></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="5"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">旧車号</th>
						<th scope="colgroup" rowspan="2">改造</th>
						<th scope="colgroup" colspan="5">半鋼体化</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">設計変更申請</th>
						<th scope="col">設計変更認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ150</th>
						<td>モハ21</td>
						<td rowspan="5">目蒲</td>
						<td rowspan="5"><Licence no="目電丑第1404号" title="電動客車設計変更認可申請書" date="1937-10-30" /></td>
						<td rowspan="5"><Licence no="監7926号" date="1937-12-20" /></td>
						<td></td>
						<td></td>
						<td rowspan="5"><Licence no="目電丑第1685号" date="1937-12-29" /></td>
					</tr>
					<tr>
						<th scope="row">モハ151</th>
						<td>モハ25<small>（旧モハ40形）</small></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ152</th>
						<td>モハ30<small>（旧池上）</small></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ154</th>
						<td>モハ31<small>（旧池上）</small></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ155</th>
						<td>モハ35<small>（旧池上）</small></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ156</th>
						<td>モハ22</td>
						<td rowspan="6">新東横</td>
						<td rowspan="6"><Licence no="目電寅第1360号" title="電動客車改造認可申請ノ件" date="1939-06-12" /></td>
						<td rowspan="6"><Licence no="監246号" date="1940-02-01" /></td>
						<td rowspan="6"><Licence no="東辰第3713号" title="電動客車設計変更認可申請書" date="1940-10-22" /></td>
						<td rowspan="6"><Licence no="監3732号" date="1940-12-13" /></td>
						<td rowspan="5"><Licence no="東横電巳第59号" title="電動客車設計変更竣功届" date="1941-04-24" /></td>
					</tr>
					<tr>
						<th scope="row">モハ157</th>
						<td>モハ23</td>
					</tr>
					<tr>
						<th scope="row">モハ158</th>
						<td>モハ24</td>
					</tr>
					<tr>
						<th scope="row">モハ159</th>
						<td>モハ32<small>（旧池上）</small></td>
					</tr>
					<tr>
						<th scope="row">モハ160</th>
						<td>モハ33<small>（旧池上）</small></td>
					</tr>
					<tr>
						<th scope="row">モハ161</th>
						<td>モハ34<small>（旧池上）</small></td>
						<td><Licence /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">計画</th>
						<th scope="colgroup" colspan="2">工事方法</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">サハ1形（未採番）6両</th>
						<td>東横</td>
						<td><Licence no="東横寅第1175号" title="工事方法書中事項一部変更ノ件" date="1938-05-24" /></td>
						<td><Licence no="監第3302号" date="1939-10-02" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>モハ156〜161 は当初計画では鉄道省時代の当初計画では制御装置の換装をせず半鋼体化後も鉄道省時代の <a href="/tokyu/machine/cont_old#ministry-mekama">M コントロール</a>を使い続ける予定だったものが、竣功前に設計変更申請を行い、<a href="/tokyu/machine/cont_old#dk-system">東洋電機製造の電動カム軸タイプ</a>の搭載に変更されている。それ以外にもなぜか車体寸法が初期車（モハ150〜155）と若干異なっていたのを統一している。</li>
			<li>モハ156〜161 は定説では<DateWareki value="1940" />の完成とされているが、竣功届の提出は上表のとおり<DateWareki value="1941" />である（モハ161 は不明）。</li>
			<li>モハ161 の竣功は届出書類が残されておらず詳細な時期は不明だが、第二次世界大戦後まで T 車代用になっていたとのことで<FootnoteReference><RefMagazine name="The Tight Coupler" date="1950年2月号" no={23} article="T.K.K. 車輌現況" author="久保敏" pages={[34]} /></FootnoteReference>、電装品の調達に問題があり竣功が遅れたことが覗える。</li>
			<li>未採番の6両は、ガソリン規制によりキハ1形8両のうち4両しか使用できない状況下にて、後述のモハ1000形10両の増備のみでは急増する輸送需要に追いつかないとして、2両編成の3両化を進めるために増備が計画されたもので、形式は<q>サハ一</q>とされているが、サハ1〜4 と同じく鉄道省譲受車の改造か、それとも新造によるものかは不明である。ただし、工事方法認可に前後して目黒蒲田電鉄よりモハ150形6両の改造申請が提出されており、その増備理由がサハ予定車6両と酷似していることから、東横、目黒の両社間で調整のうえ付随客車の予定を電動客車へ変更したと考えることもできる。</li>
			<li>モハ150形化に際して不要となった旧木製車体のうちいくつかは自由ヶ丘<small>（現：自由が丘）</small>に存在したトモエ学園に引き取られたものと推測される。<cite>小林宗作抄伝</cite>によると、トモエ学園は<DateWareki value="1937-04" />の開校後しばらくして1両を、その後3両程度を学園敷地内および九品仏近くの農園で活用したとされている<FootnoteReference><RefBook name="小林宗作抄伝" article="トモエ学園の開校" author="佐野和彦" pages={[232, 239]} url="https://dl.ndl.go.jp/pid/12226883/1/119" urlScope="page" /></FootnoteReference>。</li>
		</ul>
	</Section>

	<Section id="moha1000">
		<H slot="heading">モハ1000形</H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="7"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">発注</th>
						<th scope="colgroup" colspan="7">購入</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
						<th scope="col">設計変更申請</th>
						<th scope="col">他社所属車運転申請</th>
						<th scope="col">設計変更認可</th>
						<th scope="col">他社所属車運転認可</th>
						<th scope="col">竣功</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">モハ1001</th>
						<td rowspan="10">東横</td>
						<td rowspan="10"><Licence no="東横丑第1868号" title="電動客車設計認可申請書" date="1937-10-22" /></td>
						<td rowspan="10"><Licence no="監第3950号" date="1938-04-25" /></td>
						<td rowspan="10"><Licence no="東横卯第1397号" date="1939-05-01" /></td>
						<td></td>
						<td rowspan="10"><Licence no="監第3299号" date="1939-10-02" /></td>
						<td></td>
						<td rowspan="22"><Licence no="目電卯第1131号" title="車両設計変更竣功届" date="1939-10-12" /></td>
					</tr>
					<tr>
						<th scope="row">モハ1002</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1003</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1004</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1005</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1006</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1007</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1008</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1009</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1010</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">モハ1011</th>
						<td rowspan="12">目蒲</td>
						<td rowspan="12"><Licence no="目電丑第1362号" title="電動客車設計認可申請書" date="1937-10-22" /></td>
						<td rowspan="12"><Licence no="監第3951号" date="1938-04-25" /></td>
						<td rowspan="12"><Licence no="目電卯第435号" date="1939-05-11" /></td>
						<td rowspan="12"><Licence no="東横卯第1544号" title="他鉄道所属車両運転認可申請書" date="1939-05-11" /></td>
						<td rowspan="12"><Licence no="監第3297号" date="1939-10-02" /></td>
						<td rowspan="12"><Licence no="監第3296号" date="1939-10-02" /></td>
					</tr>
					<tr>
						<th scope="row">モハ1012</th>
					</tr>
					<tr>
						<th scope="row">モハ1013</th>
					</tr>
					<tr>
						<th scope="row">モハ1014</th>
					</tr>
					<tr>
						<th scope="row">モハ1015</th>
					</tr>
					<tr>
						<th scope="row">モハ1016</th>
					</tr>
					<tr>
						<th scope="row">モハ1017</th>
					</tr>
					<tr>
						<th scope="row">モハ1018</th>
					</tr>
					<tr>
						<th scope="row">モハ1019</th>
					</tr>
					<tr>
						<th scope="row">モハ1020</th>
					</tr>
					<tr>
						<th scope="row">モハ1021</th>
					</tr>
					<tr>
						<th scope="row">モハ1022</th>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>当初申請時の仕様はモハ510形に似た仕様であったが、東京横浜電鉄、目黒蒲田電鉄のいずれも<DateWareki value="1939-05" />に設計変更申請を行い、台車や主電動機の歯車比、主制御器などが変更された。</li>
			<li>目黒蒲田電鉄が発注したモハ1011〜1022 は東京横浜電鉄線内で随時運転ができるよう、東横側から他社所属車運転申請が出されている。ただし後述のとおり竣功は両社の合併後となった。</li>
			<li>竣功届は目黒蒲田電鉄が(旧)東京横浜電鉄と合併し（<DateWareki value="1939-10-01" />）、かつ(新)東京横浜電鉄へ商号変更を行う（<DateWareki value="1939-10-16" />）狭間の時期に提出された。そのため実質的には全車が(新)東京横浜電鉄の車両といえるだろう。</li>
			<li>竣功届は上表のとおり<DateWareki value="1939-10-12" />に提出されているが、現車は5月には在線しており、東横線にて営業運転に入っている様子も記録されている<FootnoteReference><LinkExternal href="https://blog.w0s.jp/705">東京横浜電鉄モハ1000形の竣功日の謎</LinkExternal></FootnoteReference>。</li>
		</ul>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">1940〜1941年度増備計画車<small>（未製造）</small></H>

		<div class="p-table -scroll">
			<table>
				<colgroup></colgroup>
				<colgroup></colgroup>
				<colgroup span="2"></colgroup>
				<thead>
					<tr>
						<th scope="colgroup" rowspan="2">車号</th>
						<th scope="colgroup" rowspan="2">計画</th>
						<th scope="colgroup" colspan="2">工事方法</th>
					</tr>
					<tr>
						<th scope="col">申請</th>
						<th scope="col">認可</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">未採番（44両）</th>
						<td>新東横</td>
						<td><Licence no="東卯第3602号" title="工事方法書中事項一部変更の件" date="1939-10-16" /></td>
						<td><Licence no="監第4462号" date="1940-02-22" /></td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul class="p-notes">
			<li>(新)東京横浜電鉄が44両もの大量新製を計画しつつも実現しなかった車両。自重37.5t、定員120人、75kW主電動機といった仕様はモハ1000形と同一であるが、モハ1000形の増備扱いか、それとも新形式車を予定していたのかは不明である。</li>
			<li>東横線ではモハ1000形10両の増備のみでは急増する輸送需要に追いつかないとして、1940年度に前述のサハ1形6両（実現せず）、1941年に本増備車44両のうち10両を導入し、普通列車をすべて3両編成化する計画であった（急行列車は単行）。</li>
			<li>目蒲線、大井町線、池上線ではそれまで目蒲線のうち全線通し列車が2両編成、大井町線のうち大井町―大岡山間折り返し列車が小型車（モハ1形）2両編成であったほかはすべて単行運転であったものを、本増備車44両のうち1940年度に18両、1941年に16両を導入し、目蒲線の蒲田―下丸子間折り返し列車を除き各線とも2両編成化する計画であった。</li>
		</ul>
	</Section>
</Layout>
