---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車の車両データ',
	heading: '車両データ',
	dateModified: dayjs('2024-05-19'),
	description: '東急電鉄の車両の車歴や編成表などのデータを紹介します。',
	breadcrumb: [{ path: '/tokyu/', name: '東急電車資料室' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Section id="history">
		<H slot="heading">車両履歴</H>

		<ul class="p-links -index">
			<li><a href="/tokyu/data/history_mekama&toyoko_passenger">目黒蒲田電鉄、東京横浜電鉄　旅客車</a></li>
			<li><a href="/tokyu/data/history_mekama&toyoko_freight">目黒蒲田電鉄、東京横浜電鉄　機関車&amp;貨車</a></li>
			<li><a href="/tokyu/data/history_ikegami">池上電気鉄道</a></li>
			<li><a href="/tokyu/data/history_tokyu">東京急行電鉄</a></li>
			<li><a href="/tokyu/data/history/">車歴検索</a>（旧7000系〜新3000系、2010年3月）</li>
		</ul>
	</Section>

	<Section id="form">
		<H slot="heading">編成表</H>

		<ul class="p-links -index">
			<li><a href="/tokyu/data/form_car">主要機器搭載表（車種別）</a>（2009年3月）</li>
			<li><a href="/tokyu/data/form_line">主要機器搭載表（路線別）</a>（2009年3月）</li>
			<li><a href="/tokyu/data/form_local">譲渡車両編成表</a>（2020年2月）</li>
		</ul>
	</Section>

	<Section id="list">
		<H slot="heading">機器一覧</H>

		<ul class="p-links -index">
			<li><a href="/tokyu/data/siv_8500">8500系　大容量 SIV 形式一覧</a>（2005年2月）</li>
			<li><a href="/tokyu/data/acu_8500">8500系後期車　冷房配置バリエーション</a>（2022年7月）</li>
			<li><a href="/tokyu/data/acu_9000">9000系　冷房配置バリエーション</a>（2018年12月）</li>
			<li><a href="/tokyu/data/truck_300">300系　台車製造年一覧</a>（2023年4月）</li>
		</ul>
	</Section>

	<Section id="preservation">
		<H slot="heading">保存車両</H>

		<ul class="p-links -index">
			<li><a href="/tokyu/data/preservation">保存車両リスト</a>（2019年10月）</li>
		</ul>
	</Section>
</Layout>
