---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '東急300系　TS-332 型台車製造年一覧',
	heading: '300系　台車製造年一覧',
	dateModified: dayjs('2023-04-09'),
	description: '世田谷線300系の台車は旧型車からの流用品のほか、一部に新製増備品もあり、その出自にはバリエーションが見られます。',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/data/', name: '車両データ' },
	],
};

const slugger = new GithubSlugger();
---

<Layout structuredData={structuredData}>
	<Section slugger={slugger} id="introduction" heading="概要">
		<div class="p-text">
			<p>世田谷線車両は旧型車時代、デハ70形8両、デハ80形6両、デハ150形4両の陣営で、このうちデハ70形とデハ80形は1994年〜1997年に台車交換によるカルダン駆動化が行われました。それまで1台車1モーターであったものを先頭側は T 台車、連結面側は M 台車の方式とされたため、当時の <a href="/tokyu/sty/truck_ts300#ts332">TS-332 型台車</a>は M 台車、T 台車とも14台ずつが存在したことになります。</p>
			<p>1999年から2001年にかけて実施された300系への更新に際しては台車は流用されましたが、2両連接車10編成で M 台車20台、T 台車10台が必要になるため、既存 T 台車のうち6台が M 台車化され、不足する T 台車2台が新製されました。</p>
			<p>さらに2004年には予備品確保のため M 台車2台、T 台車1台の新製増備が行われた結果、外観は同じながらその出自には「旧型車流用品」「不足分新製増備」「検査予備新製増備」といった多くのバリエーションが存在しています。</p>
		</div>
	</Section>

	<Section slugger={slugger} id="table" heading="TS-332 型台車一覧表">
		<table class="p-table">
			<thead>
				<tr>
					<th scope="colgroup" colspan="3">製造</th>
					<th scope="colgroup" colspan="3">改造</th>
				</tr>
				<tr>
					<th scope="col">形式</th>
					<th scope="col">個体番号</th>
					<th scope="col">製造年</th>
					<th scope="col">形式</th>
					<th scope="col">個体番号</th>
					<th scope="col">改造年</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.1</td>
					<td class="u-cell -center">1994年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.2</td>
					<td class="u-cell -center">1994年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.3</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.4</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.5</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.6</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.7</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.8</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.9</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.10</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.11</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.12</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.13</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.14</td>
					<td class="u-cell -center">1997年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.21</td>
					<td class="u-cell -center">2004年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332</td>
					<td class="u-cell -center">No.22</td>
					<td class="u-cell -center">2004年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.1</td>
					<td class="u-cell -center">1994年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.15</td>
					<td class="u-cell -center">2000年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.2</td>
					<td class="u-cell -center">1994年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.3</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T4</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T5</td>
					<td class="u-cell -center">1995年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.17</td>
					<td class="u-cell -center">2000年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T6</td>
					<td class="u-cell -center">1995年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.18</td>
					<td class="u-cell -center">2000年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T7</td>
					<td class="u-cell -center">1995年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T8</td>
					<td class="u-cell -center">1996年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.16</td>
					<td class="u-cell -center">2000年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T9</td>
					<td class="u-cell -center">1996年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.19</td>
					<td class="u-cell -center">2001年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T10</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T11</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T12</td>
					<td class="u-cell -center">1996年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T13</td>
					<td class="u-cell -center">1996年</td>
					<td>TS-332</td>
					<td class="u-cell -center">No.20</td>
					<td class="u-cell -center">2001年</td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T14</td>
					<td class="u-cell -center">1997年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T15</td>
					<td class="u-cell -center">2000年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.T16</td>
					<td class="u-cell -center">2000年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>TS-332T</td>
					<td class="u-cell -center">No.17</td>
					<td class="u-cell -center">2004年</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<ul class="p-notes">
			<li>いずれも現車調査による。なお、実際の銘板では製造年、改造年は和暦表記である。</li>
			<li>予備品を確保してのループ運用が行われているため、履用車両は時期によって変化する。</li>
		</ul>
	</Section>
</Layout>
