<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>本誌カラー掲載回</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">本誌カラー掲載回</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年3月5日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>
							本誌にカラー掲載された回をまとめました。単行本や<a href="https://www.amazon.co.jp/dp/406364992X/" class="htmlbuild-amazon-associate">画集「悔画展」<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>、および「全曝し展」図録への収録状況も含めています。
						</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#nangoku">行け!!南国アイスホッケー部</a></li>
						<li><a href="#rootp">√P ルートパラダイス</a></li>
						<li><a href="#darling">育ってダーリン!!</a></li>
						<li><a href="#pokapoka">太陽の戦士ポカポカ</a></li>
						<li><a href="#kaizo">かってに改蔵</a></li>
						<li><a href="#zetsubou">さよなら絶望先生</a></li>
						<li><a href="#jyoshiraku">じょしらく</a></li>
						<li><a href="#sekadoro">せっかち伯爵と時間どろぼう</a></li>
						<li><a href="#pulp">スタジオパルプ</a></li>
						<li><a href="#kakushigoto">かくしごと</a></li>
						<li><a href="#nankuru">なんくる姉さん</a></li>
						<li><a href="#shibuya">シブヤニアファミリー</a></li>
						<li><a href="#yomikiri">読み切り作品</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="nangoku">
						<div class="p-section__hdg">
							<h2>行け!!南国アイスホッケー部</h2>
						</div>

						<p>すべて「週刊少年サンデー」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1991年15号</td>
									<td>2話</td>
									<td>流血! UMF戦</td>
									<td>冒頭4ページ（扉含む）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td>少年サンデー<a href="https://websunday.net/4209/" class="htmlbuild-domain">名作ミュージアム</a>で公開</td>
								</tr>
								<tr>
									<td>1991年29号</td>
									<td>8話</td>
									<td>真夏の激突!　月斗VS.ロブ</td>
									<td>冒頭4ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td>連載再開回</td>
								</tr>
								<tr>
									<td>1992年27号</td>
									<td>52話</td>
									<td>南国にサーカスがやって来た!</td>
									<td>冒頭4ページ（扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>1993年13号</td>
									<td>86話</td>
									<td>記念かるたQ大会</td>
									<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>1994年12号</td>
									<td>133話</td>
									<td>リサイクルウォーズ</td>
									<td>冒頭4ページ（2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>1994年29号</td>
									<td>149話</td>
									<td>時代は大ズモウ</td>
									<td>冒頭4ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>1996年34号</td>
									<td>246話（最終話）</td>
									<td>FOREVER 南国</td>
									<td>ラスト4ページ</td>
									<td>モノクロ</td>
									<td>ラスト3ページ</td>
									<td>ラスト3ページ</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00DE1QP10/" class="htmlbuild-amazon-associate">単行本23巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>はモノクロ収録だが、ラスト3ページ分が表紙&amp;裏表紙でカラー掲載
									</td>
								</tr>
							</tbody>
						</table>

						<ul class="p-notes">
							<li>『行け!!南国アイスホッケー部』は公式には話数表記がない。上表の話数は便宜的に付けたものである。</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="rootp">
						<div class="p-section__hdg">
							<h2>√P ルートパラダイス</h2>
						</div>

						<p>すべて「ヤングサンデー」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1993年 No.15</td>
									<td>Paradise.1</td>
									<td>マドンナはキャバクラ嬢</td>
									<td>冒頭4ページ（見開き扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>1993年 No.16</td>
									<td>Paradise.2</td>
									<td>二人だけの秘密</td>
									<td>冒頭4ページ（扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="darling">
						<div class="p-section__hdg">
							<h2>育ってダーリン!!</h2>
						</div>

						<p>すべて「週刊少年サンデー増刊」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1994年12月号</td>
									<td>レッスン1</td>
									<td>理想の男の育て方</td>
									<td>冒頭4ページ（見開き扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td>見開き扉、4ページ目</td>
									<td>少年サンデー<a href="https://websunday.net/4233/" class="htmlbuild-domain">名作ミュージアム</a>で公開、単行本でのサブタイトルは「男たるもの、いかなる時も女を喜ばせること!!」</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="pokapoka">
						<div class="p-section__hdg">
							<h2>太陽の戦士ポカポカ</h2>
						</div>

						<p>すべて「週刊少年サンデー」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1996年39号</td>
									<td>第1話</td>
									<td>また掘っちゃった!!</td>
									<td>冒頭4ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>1996年40号</td>
									<td>第2話</td>
									<td>オイラの名は…</td>
									<td>冒頭5ページ（見開き扉含む、2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td>3〜4ページ目</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="kaizo">
						<div class="p-section__hdg">
							<h2>かってに改蔵</h2>
						</div>

						<p>特記のないものは「週刊少年サンデー」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1999年21号</td>
									<td>第48話</td>
									<td>対改蔵最終兵器!?</td>
									<td>冒頭4ページ（2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>1999年40号</td>
									<td>第65話</td>
									<td>今年の思春期…!?</td>
									<td>冒頭4ページ（2色カラー）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>1999年49号</td>
									<td>第74話</td>
									<td>人気者でいこう…よ</td>
									<td>冒頭4ページ（2色カラー）</td>
									<td>モノクロ</td>
									<td>ウソ人気投票イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2000年27号</td>
									<td>第100話</td>
									<td>前も後もムキムキにゃん♡</td>
									<td>見開き扉の片方のみ</td>
									<td>モノクロ</td>
									<td>扉イラスト（カラー部分のみ）</td>
									<td class="u-cell -center">✘</td>
									<td>連載100回記念</td>
								</tr>
								<tr>
									<td>2000年41号</td>
									<td>第113話</td>
									<td>アイシテルと言ってくれ</td>
									<td>冒頭7ページ（ニセ表紙、見開き扉含む）</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B009JZGZTM/" class="htmlbuild-amazon-associate">単行本11巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>、<a href="https://www.amazon.co.jp/dp/4091220800/" class="htmlbuild-amazon-associate">新装版6巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>ではモノクロ化に際して直筆のお詫びページが挿入
									</td>
								</tr>
								<tr>
									<td>2000年49号</td>
									<td>第121話</td>
									<td>サービスエース</td>
									<td>冒頭3ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2002年42号</td>
									<td>第207話</td>
									<td>イノセントワールド</td>
									<td>冒頭4ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2004年24号</td>
									<td>第281話</td>
									<td>原点回帰の大号令</td>
									<td>見開き扉の片方のみ</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2004年34号</td>
									<td>最終話</td>
									<td>ずっと、いっしょだよ。</td>
									<td>ラスト2ページ</td>
									<td>モノクロ（新装版カラー）</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>週刊少年マガジン 22・23号</td>
									<td>特別番外編</td>
									<td>損して得とれない</td>
									<td>扉、アニメ広告</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td>
										「単行本」列の情報は<a href="https://www.amazon.co.jp/dp/4091791255/" class="htmlbuild-amazon-associate">「かってに研究しやがれBOOK」完全版<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>への収録、広告ページは収録なし
									</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="zetsubou">
						<div class="p-section__hdg">
							<h2>さよなら絶望先生</h2>
						</div>

						<p>すべて「週刊少年マガジン」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2005年22・23号</td>
									<td>第一話</td>
									<td>さよなら絶望先生</td>
									<td>冒頭3ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td>扉イラスト（モノクロ収録）</td>
									<td></td>
								</tr>
								<tr>
									<td>2005年43号</td>
									<td>第二十一話</td>
									<td>きもすぎて悲しみの市</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2006年25号</td>
									<td>第五十話</td>
									<td>新しくない人よ、目覚めよ</td>
									<td>冒頭2ページ</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td>連載50回記念</td>
								</tr>
								<tr>
									<td>2006年50号</td>
									<td>第七十三話</td>
									<td>七五三四郎</td>
									<td>冒頭2ページ</td>
									<td>モノクロ</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2007年21・22号</td>
									<td>第九十二話</td>
									<td>おめでたき　こともなき世を　おめでたく</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2007年40号</td>
									<td>第百八話</td>
									<td>奥の抜け道</td>
									<td>扉（月見イラスト）</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2008年6号</td>
									<td>第百二十二話</td>
									<td>断崖の比較</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2008年13号</td>
									<td>第百三十一話</td>
									<td>花係の森</td>
									<td>冒頭2ページ（扉含む）</td>
									<td>カラー</td>
									<td>扉イラスト</td>
									<td>扉イラスト、2ページ目</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00A765C6O/" class="htmlbuild-amazon-associate">単行本十四集<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>では扉ページは目次の前に移動
									</td>
								</tr>
								<tr>
									<td>2009年48号</td>
									<td>第二百話</td>
									<td>長い長いさっしん</td>
									<td>見開き扉</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td>扉イラスト</td>
									<td>
										連載200回記念、単行本は<a href="https://www.amazon.co.jp/dp/B00A765CVY/" class="htmlbuild-amazon-associate">二一集<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>に収録<span class="u-small">（※二十集ではない）</span>
									</td>
								</tr>
								<tr>
									<td>2012年28号</td>
									<td>最終話</td>
									<td>さよなら絶望先生</td>
									<td>ラスト2ページ</td>
									<td>カラー</td>
									<td>ラストページ</td>
									<td>ラストページ</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="jyoshiraku">
						<div class="p-section__hdg">
							<h2>じょしらく</h2>
						</div>

						<p>すべて「別冊少年マガジン」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B002MQJCZO/" class="htmlbuild-amazon-associate">2009年10月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>一日目</td>
									<td>犬と猫の災難</td>
									<td>扉（高座での魔梨威）、作者紹介</td>
									<td>カラー</td>
									<td>単行本には扉ページのみ冒頭（目次より前）に収録</td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B002QGCA4A/" class="htmlbuild-amazon-associate">2009年11月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td></td>
									<td>扉絵&与太郎でもわかる落語高座講座!!（2ページ）</td>
									<td>モノクロ</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00315IMGA/" class="htmlbuild-amazon-associate">2010年2月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>六日目</td>
									<td>こがね袋</td>
									<td>扉（七福神イラスト、久米田先生&amp;ヤス先生による新年の手書き挨拶入り）</td>
									<td>カラー</td>
									<td>単行本には新年挨拶を削除し、冒頭（目次より前）に収録</td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00EPLPJ1A/" class="htmlbuild-amazon-associate">2013年10月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>最終日</td>
									<td>終末の極意</td>
									<td>扉</td>
									<td>モノクロ</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="sekadoro">
						<div class="p-section__hdg">
							<h2>せっかち伯爵と時間どろぼう</h2>
						</div>

						<p>すべて「週刊少年マガジン」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2013年49号</td>
									<td>00'01"</td>
									<td>せっかち伯爵と時間どろぼう</td>
									<td>冒頭3ページ（見開き扉含む）</td>
									<td>扉カラー、本編モノクロ</td>
									<td>扉イラスト</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>2014年11号</td>
									<td>00'12"</td>
									<td>時をかける幼女</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>2014年43号</td>
									<td>00'39"</td>
									<td>伯爵時空を股にかける</td>
									<td>扉</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="pulp">
						<div class="p-section__hdg">
							<h2>スタジオパルプ</h2>
						</div>

						<p>すべて「楽園 Le Paradis」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B016ZWJU20/" class="htmlbuild-amazon-associate">17号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>Act1.</td>
									<td>ラストページ後（映写機を操作するひろ子）</td>
									<td>カラー</td>
									<td class="u-cell -center">✘</td>
									<td>ラストページ後イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B016ZWJRXW/" class="htmlbuild-amazon-associate">18号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>Act2.</td>
									<td>冒頭1ページ</td>
									<td>カラー</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07BQJXRSZ/" class="htmlbuild-amazon-associate">26号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>総扉（屋上のひろ子&amp;高橋&amp;小林）</td>
									<td>カラー</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td>単行本には1巻の冒頭（目次より前）に収録</td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07KRY9K15/" class="htmlbuild-amazon-associate">28号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>Act11.</td>
									<td>扉（映画を観るひろ子&amp;高橋&amp;小林）</td>
									<td>モノクロ</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="kakushigoto">
						<div class="p-section__hdg">
							<h2>かくしごと</h2>
						</div>

						<p>すべて「月刊少年マガジン」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B017GZEBVK/" class="htmlbuild-amazon-associate">2015年12月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>予告漫画</td>
									<td>全編（4ページ）</td>
									<td>カラー</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B018SD2K3U/" class="htmlbuild-amazon-associate">2016年1月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>第1〜5号</td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01GRDKGZW/" class="htmlbuild-amazon-associate">1巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>扉イラスト</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01BEPYLHC/" class="htmlbuild-amazon-associate">2016年3月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>第3話</td>
									<td>冒頭2ページ</td>
									<td>モノクロ</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01EWSMIPU/" class="htmlbuild-amazon-associate">2016年6月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>第31〜34号</td>
									<td>扉（「娘を愛す、娘はアイス」のコピー）</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01M7O7KP9/" class="htmlbuild-amazon-associate">2巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>扉イラスト</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01GFTJ2Y4/" class="htmlbuild-amazon-associate">2016年7月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>第35〜38号</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">✘</td>
									<td>本号表紙と同じ</td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01M00R5W1/" class="htmlbuild-amazon-associate">2016年11月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B071G5C4Q1/" class="htmlbuild-amazon-associate">4巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td class="u-cell -center">―</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01NBFALFI/" class="htmlbuild-amazon-associate">2017年1月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>扉（ウィークエンドハウスアレイ）</td>
									<td class="u-cell -center">✘</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td>TV アニメ OP に採用</td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B076494ZYF/" class="htmlbuild-amazon-associate">2017年11月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07788BKMZ/" class="htmlbuild-amazon-associate">5巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07CMYGMJJ/" class="htmlbuild-amazon-associate">2018年6月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07CSQY8YP/" class="htmlbuild-amazon-associate">6巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07XCW3C1Q/" class="htmlbuild-amazon-associate">2019年10月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B07XBY5XKK/" class="htmlbuild-amazon-associate">9巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B086MY6Q5Q/" class="htmlbuild-amazon-associate">2020年5月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>話数表記なし</td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B085L7QSHK/" class="htmlbuild-amazon-associate">11巻表紙<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B08C5JSKS2/" class="htmlbuild-amazon-associate">2020年8月号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>話数表記なし（最終話）</td>
									<td>ラスト2ページ</td>
									<td>カラー</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">✘</td>
									<td>単行本ではカラーページ増量</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="nankuru">
						<div class="p-section__hdg">
							<h2>なんくる姉さん</h2>
						</div>

						<p>すべて「ヤングマガジンサード」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01BDAANXY/" class="htmlbuild-amazon-associate">2016年 Vol.3<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>第1ざわ話</td>
									<td>なんくる姉さん</td>
									<td>冒頭3ページ（見開き扉含む）</td>
									<td>モノクロ</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B01GFTJ1YA/" class="htmlbuild-amazon-associate">2016年 Vol.7<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td></td>
									<td>扉</td>
									<td>モノクロ</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B077VM2YW9/" class="htmlbuild-amazon-associate">2018年 Vol.1<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td></td>
									<td></td>
									<td>扉</td>
									<td>モノクロ</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="shibuya">
						<div class="p-section__hdg">
							<h2>シブヤニアファミリー</h2>
						</div>

						<p>すべて「週刊少年サンデー」掲載。</p>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">号数</th>
									<th scope="col" aria-sort="ascending">話数</th>
									<th scope="col">サブタイトル</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本</th>
									<th scope="col">悔画展</th>
									<th scope="col">全曝し図録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="https://www.amazon.co.jp/dp/B09JW9GKPF/" class="htmlbuild-amazon-associate">2021年48号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>1話</td>
									<td>この街は足腰にいいんだって。</td>
									<td>扉</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">―</td>
									<td class="u-cell -center">―</td>
									<td><a href="https://www.sunday-webry.com/episode/3269754496660551564" class="htmlbuild-domain">サンデーうぇぶり</a>で公開</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="yomikiri">
						<div class="p-section__hdg">
							<h2>読み切り作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">作品名</th>
									<th scope="col">掲載誌</th>
									<th scope="col">カラーページ</th>
									<th scope="col">単行本収録</th>
									<th scope="col">悔画展</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>幽良物件仲介します</td>
									<td>週刊ヤングサンデー 1996年7号</td>
									<td>扉</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/4091222307/" class="htmlbuild-amazon-associate">かってに改蔵　新装版13巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>（モノクロ）
									</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>いいがかり姉さん</td>
									<td>ヤングガンガン 2005年9号</td>
									<td>冒頭4ページ（扉含む）</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/409122086X/" class="htmlbuild-amazon-associate">かってに改蔵　新装版9巻<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>（モノクロ）
									</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>特に負けても構わない戦いがそこにはある 〜サレジオ落穂によろしく（仮題）〜</td>
									<td>週刊ヤングサンデー 2005年27号</td>
									<td>冒頭2ページ（扉含む）</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト、本編1ページ目の遺影を持った美蘭</td>
									<td></td>
								</tr>
								<tr>
									<td>下請探偵　鋸織粕日郎シリーズ「密室の留学生」</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00AWY7WS2/" class="htmlbuild-amazon-associate">週刊少年マガジン 2013年4・5号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>東風（不）見聞録</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00E8XDI1I/" class="htmlbuild-amazon-associate">週刊少年サンデー 2013年35号<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>
									</td>
									<td>冒頭2ページ（扉含む）</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
								<tr>
									<td>クメショート『タワマンとも子』『リゾマンとも子』</td>
									<td>週刊少年サンデー 2016年9号</td>
									<td>扉</td>
									<td class="u-cell -center">✘</td>
									<td>扉イラスト</td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<ul class="p-notes">
							<li>
								以下の読み切り作品はカラーページなし
								<ul>
									<li>アシという名のもとに（1992年）</li>
									<li>
										<a href="https://www.amazon.co.jp/dp/B001H87GBU/" class="htmlbuild-amazon-associate">トリビュート失格 〜呼ばれてすいません〜<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>（2008年）
									</li>
									<li>
										<a href="https://www.amazon.co.jp/dp/B00R3BMQKQ/" class="htmlbuild-amazon-associate">オフサイドトラップ<img src="/assets/image/icon/amazon.png" alt="(Amazon)" width="16" height="16" class="c-link-icon" /></a>（2015年）
									</li>
									<li>
										<a href="https://twitter.com/mangadaytoday/status/1306442957470363657">ちょみっッ<img src="/assets/image/icon/twitter.svg" alt="(Twitter)" width="16" height="16" class="c-link-icon" /></a>（2020年）
									</li>
								</ul>
							</li>
							<li>読み切り作品は全曝し展の展示対象外（図録掲載なし）</li>
						</ul>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
