<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>久米田康治先生の作品リスト</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="kumeta" />
		<meta name="w0s:amazon" content="kumeta" />
		<%- include('./_include/_head_ogp_kumeta') %>

		<link rel="stylesheet" href="/assets/style/kumeta.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_kumeta') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/kumeta/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">作品リスト</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年3月27日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>久米田康治先生の連載作品から読み切り、企画作品まで、漫画形態で制作された作品をまとめました。</p>
					</div>

					<ol class="p-toc"></ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="rensai">
						<div class="p-section__hdg">
							<h2>連載作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">作品名</th>
									<th scope="col" aria-sort="ascending">開始日</th>
									<th scope="col">終了日</th>
									<th scope="col">掲載媒体</th>
									<th scope="col">単行本</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>行け!!南国アイスホッケー部</td>
									<td><span class="htmlbuild-datetime">1991年2月13日</span></td>
									<td><span class="htmlbuild-datetime">1996年7月24日</span></td>
									<td>週刊少年サンデー</td>
									<td>全23巻、ワイド版全11巻</td>
									<td>「第27回新人コミック大賞」入選</td>
								</tr>
								<tr>
									<td><span class="u-kumeta-rootp">√</span>P ルートパラダイス</td>
									<td><span class="htmlbuild-datetime">1993年7月23日</span></td>
									<td><span class="htmlbuild-datetime">1994年7月8日</span></td>
									<td>ヤングサンデー</td>
									<td>全2巻</td>
									<td></td>
								</tr>
								<tr>
									<td>育ってダーリン!!</td>
									<td><span class="htmlbuild-datetime">1994年11月19日</span></td>
									<td><span class="htmlbuild-datetime">2002年4月17日</span></td>
									<td>週刊少年サンデー超（増刊） → 週刊少年サンデー</td>
									<td>1巻、新装版全2巻</td>
									<td>第1話は読切『だんな様は小学生!!』としてスタート、1996年5月20日をもって長期休載の後、2002年4月10日に再開</td>
								</tr>
								<tr>
									<td>太陽の戦士ポカポカ</td>
									<td><span class="htmlbuild-datetime">1996年8月28日</span></td>
									<td><span class="htmlbuild-datetime">1997年8月27日</span></td>
									<td>週刊少年サンデー</td>
									<td>全5巻</td>
									<td></td>
								</tr>
								<tr>
									<td>かってに改蔵</td>
									<td><span class="htmlbuild-datetime">1998年4月22日</span></td>
									<td><span class="htmlbuild-datetime">2004年7月21日</span></td>
									<td>週刊少年サンデー</td>
									<td>全26巻、新装版全14巻</td>
									<td>「第25回講談社漫画賞」少年部門候補（受賞は赤松健『ラブひな』）</td>
								</tr>
								<tr>
									<td>さよなら絶望先生</td>
									<td><span class="htmlbuild-datetime">2005年4月27日</span></td>
									<td><span class="htmlbuild-datetime">2012年6月13日</span></td>
									<td>週刊少年マガジン</td>
									<td>全30巻</td>
									<td>「第31回講談社漫画賞」少年部門受賞</td>
								</tr>
								<tr>
									<td>じょしらく</td>
									<td><span class="htmlbuild-datetime">2009年9月9日</span></td>
									<td><span class="htmlbuild-datetime">2013年9月9日</span></td>
									<td>別冊少年マガジン</td>
									<td>全6巻</td>
									<td>作画: ヤス</td>
								</tr>
								<tr>
									<td>せっかち伯爵と時間どろぼう</td>
									<td><span class="htmlbuild-datetime">2013年11月6日</span></td>
									<td><span class="htmlbuild-datetime">2015年1月7日</span></td>
									<td>週刊少年マガジン</td>
									<td>全6巻</td>
									<td></td>
								</tr>
								<tr>
									<td>スタジオパルプ</td>
									<td><span class="htmlbuild-datetime">2015年2月28日</span></td>
									<td><span class="htmlbuild-datetime">2020年2月29日</span></td>
									<td>楽園 Le Paradis</td>
									<td>1巻</td>
									<td></td>
								</tr>
								<tr>
									<td>かくしごと</td>
									<td><span class="htmlbuild-datetime">2015年12月4日</span></td>
									<td><span class="htmlbuild-datetime">2020年7月6日</span></td>
									<td>月刊少年マガジン</td>
									<td>全12巻</td>
									<td></td>
								</tr>
								<tr>
									<td>なんくる姉さん</td>
									<td><span class="htmlbuild-datetime">2016年2月5日</span></td>
									<td><span class="htmlbuild-datetime">2019年3月6日</span></td>
									<td>ヤングマガジンサード</td>
									<td>全5巻</td>
									<td>作画: ヤス</td>
								</tr>
								<tr>
									<td>シブヤニアファミリー</td>
									<td><span class="htmlbuild-datetime">2021年10月27日</span></td>
									<td></td>
									<td>週刊少年サンデー</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<ul class="p-notes">
							<li>連載開始日は予告編を含まず、読み切り掲載分を含みます。</li>
						</ul>

						<section class="p-section -hdg-b" id="rensai-special">
							<div class="p-section__hdg">
								<h3>連載作品の特別編、予告など</h3>
							</div>

							<section class="p-section -hdg-c" id="rensai-special-nangoku">
								<div class="p-section__hdg">
									<h3>行け!!南国アイスホッケー部</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>行け!!アメリカンアイスホッケー部</td>
											<td><span class="htmlbuild-datetime">1994年11月16日</span></td>
											<td>週刊少年サンデー 1994年50号</td>
											<td class="u-cell -center">✘</td>
											<td>青空涙&amp;月斗&amp;そあらによる映画『D2 マイティー・ダック』作品解説</td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-kaizo">
								<div class="p-section__hdg">
									<h3>かってに改蔵</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>久米田康治 LAに行く!</td>
											<td><span class="htmlbuild-datetime">1999年6月30日</span></td>
											<td>週刊少年サンデー 1999年31号</td>
											<td class="u-cell -center">✘</td>
											<td>改蔵&amp;すず&amp;羽美&amp;地丹による「E3」（LA のゲームショー）レポートと現地写真</td>
										</tr>
										<tr>
											<td>かってに改蔵ミニ外伝</td>
											<td><span class="htmlbuild-datetime">2001年6月25日</span></td>
											<td>週刊少年サンデー超 2001年7月号</td>
											<td><a href="https://www.amazon.co.jp/dp/B009JZGZUG/" class="htmlbuild-host htmlbuild-amazon-associate">13巻</a>、<a href="https://www.amazon.co.jp/dp/4091220843/" class="htmlbuild-host htmlbuild-amazon-associate">新装版7巻</a></td>
											<td>改蔵&amp;羽美（幼少期）による4コマ</td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2009年6月26日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/4048543393/" class="htmlbuild-host htmlbuild-amazon-associate">愛蔵版　機動戦士ガンダム THE ORIGIN V —シャア・セイラ編—</a>
											</td>
											<td class="u-cell -center">―</td>
											<td>改蔵&amp;羽美によるガンダムをネタにした短編漫画</td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2010年10月12日</span></td>
											<td><a href="https://www.amazon.co.jp/dp/B0044TIM6C/" class="htmlbuild-host htmlbuild-amazon-associate">ゲッサン 2010年11月号</a>　別冊付録「あだち充画業40周年記念!」</td>
											<td class="u-cell -center">✘</td>
											<td>改蔵&amp;すず&amp;羽美&amp;地丹による、あだち作品に関するエッセイ漫画</td>
										</tr>
										<tr>
											<td>損して得とれない</td>
											<td><span class="htmlbuild-datetime">2011年4月27日</span></td>
											<td>週刊少年マガジン 2011年22・23号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/4091791255/" class="htmlbuild-host htmlbuild-amazon-associate">「かってに研究しやがれBOOK」完全版</a>
											</td>
											<td>「サン×マガコラボ」の一環でマガジンに掲載されたもの</td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2011年8月18日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/4091791255/" class="htmlbuild-host htmlbuild-amazon-associate">「かってに研究しやがれBOOK」完全版</a>
											</td>
											<td class="u-cell -center">―</td>
											<td>久米田先生インタビューの挿入漫画（改蔵&amp;羽美による不動産屋ネタ）</td>
										</tr>
										<tr>
											<td>新しい恥図</td>
											<td><span class="htmlbuild-datetime">2018年2月14日</span></td>
											<td>週刊少年サンデー 2018年12号</td>
											<td class="u-cell -center">✘</td>
											<td>『トニカクカワイイ』新連載祝い</td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-zetsubou">
								<div class="p-section__hdg">
									<h3>さよなら絶望先生</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>（予告漫画）</td>
											<td><span class="htmlbuild-datetime">2005年4月20日</span></td>
											<td>週刊少年マガジン 2005年21号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B00A765BCO/" class="htmlbuild-host htmlbuild-amazon-associate">一集</a>
											</td>
											<td></td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2006年5月31日</span></td>
											<td>週刊少年マガジン 2006年26号</td>
											<td class="u-cell -center">✘</td>
											<td>「週マガ連載陣W杯応援イラスト&amp;メッセージ!!」で望&amp;可符香による4コマ</td>
										</tr>
										<tr>
											<td>夜間きよ飛行</td>
											<td><span class="htmlbuild-datetime">2007年12月12日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B0010VFWU6/" class="htmlbuild-host htmlbuild-amazon-associate">マガジンドラゴン 2008年創刊号</a>
											</td>
											<td class="u-cell -center">✘</td>
											<td>『さよなら絶望先生』一二集に「反省座談会」が掲載、『懺・さよなら絶望先生』13話でアニメ化</td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2008年7月25日</span></td>
											<td><a href="https://www.amazon.co.jp/dp/4776794853/" class="htmlbuild-host htmlbuild-amazon-associate">『となりの801ちゃん』3巻 限定版</a>　付録「となりの801ちゃん Special」</td>
											<td class="u-cell -center">✘</td>
											<td>晴美&amp;千里&amp;まといによる4コマ</td>
										</tr>
										<tr>
											<td>（さよなら絶望先生KCのお知らせ）</td>
											<td><span class="htmlbuild-datetime">2008年11月12日</span></td>
											<td>週刊少年マガジン 2008年50号</td>
											<td class="u-cell -center">✘</td>
											<td>休載による代原</td>
										</tr>
										<tr>
											<td>4コマですらない。</td>
											<td><span class="htmlbuild-datetime">2008年11月20日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B001KP1IV4/" class="htmlbuild-host htmlbuild-amazon-associate">マガジンスペシャル No.12</a>
											</td>
											<td class="u-cell -center">✘</td>
											<td>「よんこま!」第5回（瀬尾公治、氏家ト全、久米田康治、宗田豪、山本航暉によるクリスマスをテーマにした4コマ企画）</td>
										</tr>
										<tr>
											<td>楽天大賞</td>
											<td><span class="htmlbuild-datetime">2009年1月7日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B001O5OGU0/" class="htmlbuild-host htmlbuild-amazon-associate">マガジンドラゴン 2009年新春</a>
											</td>
											<td class="u-cell -center">✘</td>
											<td>『懺・さよなら絶望先生』13話でアニメ化</td>
										</tr>
										<tr>
											<td>『ヒックとドラゴン』の漫画を描いてと言われたが著作権の関係でヒックとドラゴンは描いちゃ駄目よと言われたので。</td>
											<td><span class="htmlbuild-datetime">2010年7月28日</span></td>
											<td>週刊少年マガジン 2010年35号</td>
											<td class="u-cell -center">✘</td>
											<td>望&amp;可符香による映画『ヒックとドラゴン』宣伝漫画</td>
										</tr>
										<tr>
											<td>アウェイなる一族（第二百五十九話）</td>
											<td><span class="htmlbuild-datetime">2011年4月27日</span></td>
											<td>週刊少年サンデー 2011年22・23号</td>
											<td><a href="https://www.amazon.co.jp/dp/B00A765D5E/" class="htmlbuild-host htmlbuild-amazon-associate">二六集</a>、<a href="https://www.amazon.co.jp/dp/4091076394/" class="htmlbuild-host htmlbuild-amazon-associate">毎月久米田康治 Vol.1</a></td>
											<td>「サン×マガコラボ」の一環でサンデーに掲載されたもの</td>
										</tr>
										<tr>
											<td>ペイの拡充（第二百六十八話）</td>
											<td><span class="htmlbuild-datetime">2011年7月20日</span></td>
											<td>週刊少年マガジン 2011年34号</td>
											<td class="u-cell -center">✘</td>
											<td>単行本未収録話（二七集「紙ブログ」に経緯記載）</td>
										</tr>
										<tr>
											<td>（タイトルなし）</td>
											<td><span class="htmlbuild-datetime">2011年8月4日</span></td>
											<td>週刊ファミ通 2011年8月18・25日号</td>
											<td class="u-cell -center">✘</td>
											<td>望&amp;可符香による「謎惑館」の紹介漫画、「さよなら絶望放送」201回で紹介</td>
										</tr>
										<tr>
											<td>第二百七十六話の件</td>
											<td><span class="htmlbuild-datetime">2011年9月28日</span></td>
											<td>週刊少年マガジン 2011年44号</td>
											<td class="u-cell -center">✘</td>
											<td>手足口病による休載ネタ</td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-jyoshiraku">
								<div class="p-section__hdg">
									<h3>じょしらく</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>ふだん問答</td>
											<td><span class="htmlbuild-datetime">2010年5月12日</span></td>
											<td>週刊少年マガジン 2010年24号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B009KYCNCK/" class="htmlbuild-host htmlbuild-amazon-associate">弐巻</a>
											</td>
											<td></td>
										</tr>
										<tr>
											<td>権利衛狸</td>
											<td><span class="htmlbuild-datetime">2012年7月4日</span></td>
											<td>週刊少年マガジン 2012年31号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B00CUDPEJ2/" class="htmlbuild-host htmlbuild-amazon-associate">伍巻</a>
											</td>
											<td></td>
										</tr>
										<tr>
											<td>ヨッシャ怪談</td>
											<td><span class="htmlbuild-datetime">2012年7月11日</span></td>
											<td>週刊少年マガジン 2012年32号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B00CUDPEJ2/" class="htmlbuild-host htmlbuild-amazon-associate">伍巻</a>
											</td>
											<td></td>
										</tr>
										<tr>
											<td>お記憶の皿</td>
											<td><span class="htmlbuild-datetime">2015年7月9日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B0111QBM80/" class="htmlbuild-host htmlbuild-amazon-associate">別冊少年マガジン 2015年8月号</a>
											</td>
											<td class="u-cell -center">✘</td>
											<td>TV アニメ Blu-ray BOX 発売告知</td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-sekadoro">
								<div class="p-section__hdg">
									<h3>せっかち伯爵と時間どろぼう</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>4Pでわかる上人類講座</td>
											<td><span class="htmlbuild-datetime">2014年2月20日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B00I8S17T4/" class="htmlbuild-host htmlbuild-amazon-associate">マガジンSPECIAL 2014年3号</a>
											</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B00LC9YFOK/" class="htmlbuild-host htmlbuild-amazon-associate">2巻</a>
											</td>
											<td></td>
										</tr>
										<tr>
											<td>せっかち伯爵をせっかちにおさらい</td>
											<td><span class="htmlbuild-datetime">2014年9月24日</span></td>
											<td>週刊少年マガジン 2014年43号</td>
											<td class="u-cell -center">✘</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-kakushigoto">
								<div class="p-section__hdg">
									<h3>かくしごと</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>（予告漫画）</td>
											<td><span class="htmlbuild-datetime">2015年11月6日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B017GZEBVK/" class="htmlbuild-host htmlbuild-amazon-associate">月刊少年マガジン 2015年12月号</a>
											</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B01GRDKGZW/" class="htmlbuild-host htmlbuild-amazon-associate">1巻</a>
											</td>
											<td>全ページカラー</td>
										</tr>
										<tr>
											<td>（出張連載）</td>
											<td><span class="htmlbuild-datetime">2016年6月22日</span></td>
											<td>週刊少年マガジン 2016年30号</td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B07J1DGNRM/" class="htmlbuild-host htmlbuild-amazon-associate">7巻</a>
											</td>
											<td>単行本収録のサブタイトルは「おさらい」</td>
										</tr>
										<tr>
											<td>はじめてのあにめいと</td>
											<td><span class="htmlbuild-datetime">2017年5月5日</span></td>
											<td>きゃらびぃ 2017年5月5日号</td>
											<td class="u-cell -center">✘</td>
											<td><a href="https://www.animate.co.jp/special/76723/" class="htmlbuild-host">アニメイト30周年プロジェクト　アニメ店長トリビュート</a></td>
										</tr>
										<tr>
											<td>めぐろ川たんていじむしょのかくしごと</td>
											<td><span class="htmlbuild-datetime">2020年6月26日</span></td>
											<td><a href="https://kakushigoto-anime.com/tv/bddvd/" class="htmlbuild-host">『かくしごと』Blu-ray&amp;DVD 第1巻 封入特典冊子</a></td>
											<td class="u-cell -center">✘</td>
											<td></td>
										</tr>
										<tr>
											<td>ひめごと　前編</td>
											<td><span class="htmlbuild-datetime">2021年7月9日</span></td>
											<td><a href="https://kakushigoto-anime.com/novelty/" class="htmlbuild-host">『劇場編集版かくしごと』入場者特典冊子（1週目）</a></td>
											<td class="u-cell -center">✘</td>
											<td></td>
										</tr>
										<tr>
											<td>ひめごと　後編</td>
											<td><span class="htmlbuild-datetime">2021年7月16日</span></td>
											<td><a href="https://kakushigoto-anime.com/novelty/" class="htmlbuild-host">『劇場編集版かくしごと』入場者特典冊子（2週目）</a></td>
											<td class="u-cell -center">✘</td>
											<td></td>
										</tr>
										<tr>
											<td>足の小指に似た岩</td>
											<td><span class="htmlbuild-datetime">2021年10月28日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/486501604X/" class="htmlbuild-host htmlbuild-amazon-associate">MOTHER official comic Pollyanna2</a>
											</td>
											<td class="u-cell -center">✘</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>

							<section class="p-section -hdg-c" id="rensai-special-shibuya">
								<div class="p-section__hdg">
									<h3>シブヤニアファミリー</h3>
								</div>

								<table class="p-table">
									<thead>
										<tr>
											<th scope="col">タイトル</th>
											<th scope="col" aria-sort="ascending">掲載日</th>
											<th scope="col">掲載媒体</th>
											<th scope="col">単行本収録</th>
											<th scope="col">備考</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>（予告漫画）</td>
											<td><span class="htmlbuild-datetime">2021年10月20日</span></td>
											<td>
												<a href="https://www.amazon.co.jp/dp/B09JC22SCT/" class="htmlbuild-host htmlbuild-amazon-associate">週刊少年サンデー 2021年47号</a>
											</td>
											<td></td>
											<td>作者名表記なし</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
					</section>

					<section class="p-section -hdg-a" id="yomikiri">
						<div class="p-section__hdg">
							<h2>読み切り作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">作品名</th>
									<th scope="col" aria-sort="ascending">掲載日</th>
									<th scope="col">掲載媒体</th>
									<th scope="col">単行本収録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>アシという名のもとに 〜まんが家アシスタント残酷物語〜</td>
									<td><span class="htmlbuild-datetime">1992年8月28日</span></td>
									<td>週刊少年サンデー増刊 1992年9月号</td>
									<td class="u-cell -center">✘</td>
									<td>原案: 黒沢原作（※黒沢哲哉）</td>
								</tr>
								<tr>
									<td>幽良物件仲介します</td>
									<td><span class="htmlbuild-datetime">1996年1月18日</span></td>
									<td>週刊ヤングサンデー 1996年7号</td>
									<td><a href="https://www.amazon.co.jp/dp/4091222307/" class="htmlbuild-host htmlbuild-amazon-associate">かってに改蔵　新装版13巻</a>、<a href="https://www.amazon.co.jp/dp/4091076734/" class="htmlbuild-host htmlbuild-amazon-associate">毎月久米田康治 Vol.3</a></td>
									<td></td>
								</tr>
								<tr>
									<td>いいがかり姉さん</td>
									<td><span class="htmlbuild-datetime">2005年4月22日</span></td>
									<td>ヤングガンガン 2005年9号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/409122086X/" class="htmlbuild-host htmlbuild-amazon-associate">かってに改蔵　新装版9巻</a>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>特に負けても構わない戦いがそこにはある 〜サレジオ落穂によろしく（仮題）〜</td>
									<td><span class="htmlbuild-datetime">2005年6月2日</span></td>
									<td>週刊ヤングサンデー 2005年27号</td>
									<td><a href="https://www.amazon.co.jp/dp/4091220770/" class="htmlbuild-host htmlbuild-amazon-associate">かってに改蔵　新装版3巻</a>、<a href="https://www.amazon.co.jp/dp/4091077110/" class="htmlbuild-host htmlbuild-amazon-associate">毎月久米田康治 Vol.4</a></td>
									<td></td>
								</tr>
								<tr>
									<td>トリビュート失格 〜呼ばれてすいません〜</td>
									<td><span class="htmlbuild-datetime">2008年10月25日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B001H87GBU/" class="htmlbuild-host htmlbuild-amazon-associate">別冊花とゆめ 2008年12月号</a>
									</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/4592198204/" class="htmlbuild-host htmlbuild-amazon-associate">『ガラスの仮面』コミック・ファンブック</a>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>下請探偵　鋸織粕日郎シリーズ「密室の留学生」</td>
									<td><span class="htmlbuild-datetime">2012年12月26日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00AWY7WS2/" class="htmlbuild-host htmlbuild-amazon-associate">週刊少年マガジン 2013年4・5号</a>
									</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>東風（不）見聞録</td>
									<td><span class="htmlbuild-datetime">2013年7月31日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00E8XDI1I/" class="htmlbuild-host htmlbuild-amazon-associate">週刊少年サンデー 2013年35号</a>
									</td>
									<td class="u-cell -center">✘</td>
									<td><a href="https://websunday.net/5621/">サンデーまんが家BACKSTAGE 第41回</a>でもう一つのオチが掲載</td>
								</tr>
								<tr>
									<td>オフサイドトラップ</td>
									<td><span class="htmlbuild-datetime">2015年1月5日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00R3BMQKQ/" class="htmlbuild-host htmlbuild-amazon-associate">ヤングマガジン 2015年6号</a>
									</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>クメショート『タワマンとも子』『リゾマンとも子』</td>
									<td><span class="htmlbuild-datetime">2016年1月27日</span></td>
									<td>週刊少年サンデー 2016年9号</td>
									<td class="u-cell -center">✘</td>
									<td></td>
								</tr>
								<tr>
									<td>ちょみっツ</td>
									<td><span class="htmlbuild-datetime">2020年9月17日</span></td>
									<td>
										<a href="https://twitter.com/mangadaytoday/status/1306442957470363657" class="htmlbuild-host">@mangadaytoday</a>
									</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B08Z3K8RD1/" class="htmlbuild-host htmlbuild-amazon-associate">Manga Day To Day 下巻</a>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="contribute">
						<div class="p-section__hdg">
							<h2>デビュー前の投稿作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">作品名</th>
									<th scope="col" aria-sort="ascending">選考結果発表日</th>
									<th scope="col">選考結果掲載誌</th>
									<th scope="col">単行本収録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>家庭内紛争</td>
									<td><span class="htmlbuild-datetime">1988年6月22日</span></td>
									<td>週刊少年サンデー 1988年30号</td>
									<td class="u-cell -center">✘</td>
									<td>「サンデーまんがカレッジ 1988年5月期」あと一歩で賞</td>
								</tr>
								<tr>
									<td>地上げにスマッシュ</td>
									<td><span class="htmlbuild-datetime">1988年11月23日</span></td>
									<td>週刊少年サンデー 1988年52号</td>
									<td><a href="https://www.amazon.co.jp/dp/4091222358/" class="htmlbuild-host htmlbuild-amazon-associate">かってに改蔵　新装版14巻</a>、<a href="https://www.amazon.co.jp/dp/4091076653/" class="htmlbuild-host htmlbuild-amazon-associate">毎月久米田康治 Vol.2</a></td>
									<td>「サンデーまんがカレッジ 1988年10月期」努力賞</td>
								</tr>
								<tr>
									<td>ゲットインパラダイス</td>
									<td><span class="htmlbuild-datetime">1989年5月24日</span></td>
									<td>週刊少年サンデー 1989年25号</td>
									<td class="u-cell -center">✘</td>
									<td>「サンデーまんがカレッジ 1989年4月期」努力賞</td>
								</tr>
							</tbody>
						</table>

						<ul class="p-notes">
							<li>「選考結果発表日」は掲載誌の発売日を指します。実際に選考が行われた日ではありません。</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="etc">
						<div class="p-section__hdg">
							<h2>その他の企画作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">タイトル</th>
									<th scope="col" aria-sort="ascending">掲載日</th>
									<th scope="col">掲載媒体</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>行け!!南国なふ・た・り</td>
									<td><span class="htmlbuild-datetime">1992年12月22日</span></td>
									<td>週刊少年サンデー 1993年3・4号</td>
									<td>北崎拓との共同漫画</td>
								</tr>
								<tr>
									<td>サムライ・スピリッツ</td>
									<td><span class="htmlbuild-datetime">1993年12月15日</span></td>
									<td>週刊少年サンデー増刊 1994年1月号</td>
									<td>青山剛昌、久米田康治、椎名高志、上西園茂宣によるギャグ漫画企画</td>
								</tr>
								<tr>
									<td>酒と沮とダビスタと女</td>
									<td><span class="htmlbuild-datetime">1995年12月</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/4756111947/" class="htmlbuild-host htmlbuild-amazon-associate">ダビスタコミック 4R</a>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>ダビスタの未来を考える</td>
									<td><span class="htmlbuild-datetime">1996年3月</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/4756112099/" class="htmlbuild-host htmlbuild-amazon-associate">ダビスタコミック 5R</a>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>ネギと女子高生</td>
									<td><span class="htmlbuild-datetime">1997年5月2日</span></td>
									<td>ビッグコミックスピリッツ 1997年6月2日増刊号</td>
									<td>「101本4コマ大行進」企画</td>
								</tr>
								<tr>
									<td>（タイトルなし）</td>
									<td><span class="htmlbuild-datetime">2005年6月23日</span></td>
									<td><a href="https://www.amazon.co.jp/dp/4063646394/" class="htmlbuild-host htmlbuild-amazon-associate">『げんしけん』6巻 特装版</a>　別冊付録「PROJECT G げんしけん同人誌」</td>
									<td>15名の漫画家（作者の木尾士目を含む）による公式アンソロジー</td>
								</tr>
								<tr>
									<td>きみに質問BOOK</td>
									<td><span class="htmlbuild-datetime">2014年11月</span></td>
									<td>内閣府　冊子</td>
									<td><a href="https://www5.cao.go.jp/keizai-shimon/kaigi/special/future/" class="htmlbuild-host">「選択する未来」委員会</a>にて PDF 版配布</td>
								</tr>
								<tr>
									<td>おわり人間ギャルとルーズ</td>
									<td><span class="htmlbuild-datetime">2014年11月6日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00P28Z8RK/" class="htmlbuild-host htmlbuild-amazon-associate">ヤングマガジンサード 2014年 Vol.3</a>
									</td>
									<td>イラストギャラリー「Out Of Ordinary!」</td>
								</tr>
								<tr>
									<td>腕が上がらない。</td>
									<td><span class="htmlbuild-datetime">2015年7月6日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B010PT0JRY/" class="htmlbuild-host htmlbuild-amazon-associate">月刊少年マガジン 2015年8月号</a>
									</td>
									<td>月マガ創刊40周年記念企画4コマ祭り</td>
								</tr>
								<tr>
									<td>異質力奇譚</td>
									<td><span class="htmlbuild-datetime">2022年3月</span>下旬</td>
									<td>和光大学　冊子</td>
									<td>オープンキャンパス等で配布</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="another-writer">
						<div class="p-section__hdg">
							<h2>他作家による久米田先生関連作品</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">作家</th>
									<th scope="col">タイトル</th>
									<th scope="col" aria-sort="ascending">掲載日</th>
									<th scope="col">掲載媒体</th>
									<th scope="col">単行本収録</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>西本英雄</td>
									<td>さよなら、失踪先生! <span class="u-small">（『もう、しませんから。』File.55）</span></td>
									<td><span class="htmlbuild-datetime">2005年10月26日</span></td>
									<td>週刊少年マガジン 2005年48号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00L5SYR5A/" class="htmlbuild-host htmlbuild-amazon-associate">もう、しませんから。 3巻</a>
									</td>
									<td>久米田プロ訪問</td>
								</tr>
								<tr>
									<td>西本英雄</td>
									<td>うらやましくて絶望した!! <span class="u-small">（『もう、しませんから。』File.141）</span></td>
									<td><span class="htmlbuild-datetime">2007年8月22日</span></td>
									<td>週刊少年マガジン 2007年38号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00LIN3UWS/" class="htmlbuild-host htmlbuild-amazon-associate">もう、しませんから。 6巻</a>
									</td>
									<td>生前葬レポート</td>
								</tr>
								<tr>
									<td>西本英雄</td>
									<td>『ダイヤのA』小学館漫画賞受賞! <span class="u-small">（『もう、しませんから。』File.166）</span></td>
									<td><span class="htmlbuild-datetime">2008年3月26日</span></td>
									<td>週刊少年マガジン 2008年17号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00LIN3UU0/" class="htmlbuild-host htmlbuild-amazon-associate">もう、しませんから。 7巻</a>
									</td>
									<td>授賞式で久米田先生が寺嶋先生に花束を渡す様子が描かれる</td>
								</tr>
								<tr>
									<td>西本英雄</td>
									<td>魔画尽町殺人事件（前編）</td>
									<td><span class="htmlbuild-datetime">2008年3月26日</span></td>
									<td>週刊少年マガジン 2008年17号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00LIN3UTQ/" class="htmlbuild-host htmlbuild-amazon-associate">もう、しませんから。 8巻</a>
									</td>
									<td>マガジン全連載作家による企画漫画（糸色望登場）</td>
								</tr>
								<tr>
									<td>村枝賢一</td>
									<td>AUSDYN（オースダイン）</td>
									<td><span class="htmlbuild-datetime">2009年7月8日</span></td>
									<td>週刊少年サンデー 2009年32号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00Y0OF38Q/" class="htmlbuild-host htmlbuild-amazon-associate">Z-END 2巻</a>
									</td>
									<td>サンデー×マガジン50周年企画　クロスライン（糸色望登場）</td>
								</tr>
								<tr>
									<td>村枝賢一</td>
									<td>MINEZAAG（マインザーク）</td>
									<td><span class="htmlbuild-datetime">2009年7月8日</span></td>
									<td>週刊少年マガジン 2009年32号</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B00Y0OF38Q/" class="htmlbuild-host htmlbuild-amazon-associate">Z-END 2巻</a>
									</td>
									<td>サンデー×マガジン50周年企画　クロスライン（坪内地丹登場）、村枝賢一インタビュー内でキャラクター使用の交渉経緯（単行本未収録）</td>
								</tr>
								<tr>
									<td>畑健二郎</td>
									<td>ハヤテのごとく! 2 <span class="u-small">（『トニカクカワイイ』第168話）</span></td>
									<td><span class="htmlbuild-datetime">2021年10月27日</span></td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B09JW9GKPF/" class="htmlbuild-host htmlbuild-amazon-associate">週刊少年サンデー 2021年48号</a>
									</td>
									<td>
										<a href="https://www.amazon.co.jp/dp/B09RMKMKCV/" class="htmlbuild-host htmlbuild-amazon-associate">トニカクカワイイ 19巻</a>
									</td>
									<td>『シブヤニアファミリー』連載開始祝い</td>
								</tr>
							</tbody>
						</table>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
