---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自費出版本「東急7700系形態分類」',
	heading: '東急7700系形態分類',
	dateModified: dayjs('2022-07-07'),
	description: '池上線、東急多摩川線で活躍した東急7700系の形態バリエーションについて、2010年時点の在籍車36両を徹底解析しました。',
	image: 'https://media.w0s.jp/image/tokyu/book/7700_cover.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/book/', name: '鉄道本執筆' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="p-embed-sidebar -embed-first">
		<div class="p-embed-sidebar__text">
			<dl class="p-list-table">
				<div>
					<dt>発行日</dt>
					<dd>2019年8月12日</dd>
				</div>
				<div>
					<dt>ページ数</dt>
					<dd>フルカラー 46ページ</dd>
				</div>
				<div>
					<dt>価格</dt>
					<dd>
						<ul>
							<li><s>冊子: 2,500円（税別）</s></li>
							<li>PDF 版: 1,500円（税込）</li>
							<li>Kindle 版: 1,250円（税込）</li>
						</ul>
					</dd>
				</div>
				<div>
					<dt>書店販売</dt>
					<dd>終了（紙の本は増刷予定なし）</dd>
				</div>
			</dl>
		</div>
		<div class="p-embed-sidebar__embed">
			<figure class="c-fit">
				<div class="p-embed -border">
					<Image path="tokyu/book/7700_cover.jpg" alt="表紙画像: 7700系の正面写真が12枚並んでいる" width={170} height={240} quality={60} />
				</div>
			</figure>
		</div>
	</div>

	<Section id="buy">
		<H slot="heading">購入</H>

		<div class="c-flex -buttons">
			<div class="c-flex__item">
				<a href="pdf/sample_7700.pdf" type="application/pdf" class="c-button"><img src="/assets/image/icon/pdf.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">サンプル PDF</span></a>
			</div>
			<div class="c-flex__item">
				<LinkExternal href="https://w0s.booth.pm/items/2649271" icon={false} class="c-button"><img src="/assets/image/icon/booth.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">PDF 版（BOOTH）</span></LinkExternal>
			</div>
			<div class="c-flex__item">
				<LinkExternal href="https://www.amazon.co.jp/dp/B07W81K9S5/" icon={false} class="c-button -amazon"><img src="/assets/image/icon/amazon.png" alt="" width="16" height="16" class="c-button__icon" /><span class="c-button__text">Kindle 版（Amazon）</span></LinkExternal>
				<ul class="p-notes">
					<li>冊子版とはレイアウトが異なる「リフロー型」</li>
				</ul>
			</div>
		</div>
	</Section>

	<Section id="toc">
		<H slot="heading">目次</H>

		<ol class="p-list">
			<li>はじめに</li>
			<li>車両一覧</li>
			<li>年表</li>
			<li>
				車外
				<ol>
					<li>
						先頭車正面
						<ol>
							<li>非常扉まわり</li>
							<li>窓下・窓上手すり</li>
							<li>外気取入口</li>
							<li>ワイパーまわり</li>
							<li>前照灯、尾灯</li>
							<li>急行標識灯</li>
							<li>昇降ステップ、手すり</li>
							<li>裾部ステップ</li>
							<li>ジャンパ栓受け具跡</li>
							<li>行先表示器</li>
							<li>運行番号表示器</li>
							<li>急行サボ受け</li>
							<li>赤帯</li>
						</ol>
					</li>
					<li>
						連結面
						<ol>
							<li>渡り板</li>
							<li>電気配管</li>
							<li>幌枠</li>
							<li>Dコック管</li>
							<li>昇降ステップ、梯子</li>
							<li>雨樋</li>
							<li>転落防止幌</li>
							<li>銘板</li>
							<li>表記類</li>
							<li>IRアンテナ撤去痕、準備工事</li>
							<li>レスポンスブロック受け撤去痕</li>
						</ol>
					</li>
					<li>
						側面
						<ol>
							<li>コルゲーション</li>
							<li>アーク溶接痕</li>
							<li>ジャッキアップポイント</li>
							<li>パイオニア台車のボルスタアンカー取付足跡</li>
							<li>側ドア</li>
							<li>乗務員扉</li>
							<li>車側灯</li>
							<li>水切り、雨樋</li>
							<li>種別サボ掛け</li>
							<li>行先表示器</li>
							<li>運行番号札掛け</li>
							<li>車番表記</li>
							<li>号車表記</li>
							<li>車外スピーカー</li>
							<li>赤帯</li>
							<li>弱冷房車ステッカー</li>
						</ol>
					</li>
					<li>
						足まわり
						<ol>
							<li>動力台車と主電動機</li>
							<li>付随台車</li>
							<li>速度発電機</li>
							<li>軌条塗油器の油噴口</li>
							<li>踏面清掃装置</li>
						</ol>
					</li>
					<li>
						床下
						<ol>
							<li>主制御器</li>
							<li>ブレーキ装置</li>
							<li>空気圧縮機</li>
							<li>蓄電池</li>
							<li>補助電源装置</li>
							<li>連結器</li>
							<li>電気連結器</li>
							<li>空気管</li>
							<li>妻面足掛け</li>
							<li>警笛</li>
							<li>ウインドウォッシャータンク</li>
							<li>軌条塗油器</li>
							<li>ATS受電器</li>
							<li>情報伝送装置</li>
							<li>定位置停止支援装置（TASC）</li>
							<li>識別票（IDタグ）</li>
							<li>列車情報装置</li>
							<li>積算電力量計</li>
						</ol>
					</li>
					<li>
						屋根上
						<ol>
							<li>集電装置</li>
							<li>ヒューズ箱</li>
							<li>避雷器</li>
							<li>電気配管</li>
							<li>車端部手すり</li>
							<li>列車無線アンテナ</li>
							<li>冷房装置</li>
							<li>ランニングボード</li>
						</ol>
					</li>
					<li>【コラム】デハ7814の謎</li>
				</ol>
			</li>
			<li>
				車内
				<ol>
					<li>
						車内全般
						<ol>
							<li>旧7000系からの変化</li>
							<li>化粧板</li>
						</ol>
					</li>
					<li>
						床面
						<ol>
							<li>滑り止め</li>
							<li>水抜穴</li>
							<li>押金</li>
						</ol>
					</li>
					<li>
						妻面
						<ol>
							<li>連結面鴨居</li>
							<li>妻窓</li>
							<li>車内銘板</li>
							<li>禁煙表記</li>
							<li>号車表記</li>
							<li>連結部注意表記</li>
							<li>Dコック</li>
							<li>運客仕切</li>
						</ol>
					</li>
					<li>
						側面
						<ol>
							<li>側窓</li>
							<li>カーテン</li>
							<li>側ドア</li>
							<li>側ドア鴨居</li>
							<li>側ドア点検蓋</li>
							<li>非常通報装置</li>
							<li>広告枠</li>
							<li>消火器撤去痕</li>
							<li>車側灯点検蓋</li>
							<li>側面表示器点検蓋</li>
							<li>急停車注意表記</li>
						</ol>
					</li>
					<li>
						座席
						<ol>
							<li>座席全般</li>
							<li>モケット</li>
							<li>袖仕切</li>
							<li>中仕切</li>
							<li>蹴込板</li>
							<li>個別Dコック</li>
							<li>優先席</li>
						</ol>
					</li>
					<li>
						荷棚
						<ol>
							<li>荷棚本体</li>
							<li>荷棚受け</li>
						</ol>
					</li>
					<li>
						吊手
						<ol>
							<li>吊手本体</li>
							<li>固定具</li>
							<li>広告</li>
							<li>吊手棒</li>
							<li>吊手棒受け</li>
							<li>増設工事</li>
							<li>優先席エリアの吊手</li>
						</ol>
					</li>
					<li>
						車椅子スペース
						<ol>
							<li>車椅子スペース全般</li>
							<li>吊手</li>
							<li>吊手棒</li>
						</ol>
					</li>
					<li>
						天井
						<ol>
							<li>点灯装置</li>
							<li>スピーカー</li>
							<li>中吊広告受け</li>
							<li>扇風機</li>
							<li>冷風口</li>
						</ol>
					</li>
					<li>
						乗務員室
						<ol>
							<li>運転台</li>
							<li>車掌スイッチまわり</li>
							<li>非常扉</li>
							<li>乗務員扉</li>
							<li>列車無線</li>
							<li>列車情報設定器</li>
							<li>積算電力量計</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
	</Section>

	<Section id="errata">
		<H slot="heading">正誤情報</H>

		<table class="p-table">
			<thead>
				<tr>
					<th scope="col">ページ</th>
					<th scope="col">章</th>
					<th scope="col">内容</th>
					<th scope="col">電子版修正</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>p.2</td>
					<td>年表</td>
					<td>「1995年10月11日〜12日　サハ7953〜7964が東急車輛製造へ入場のため甲種輸送（長津田→逗子）」の車号は「サハ7963〜7964」が正しい。</td>
					<td>ver.1.0.2</td>
				</tr>
				<tr>
					<td>p.13</td>
					<td>車外 - 側面</td>
					<td>「車端部のジャッキアップポイント」の上写真キャプションの車号「7801-7701山側」は「7813-7713山側」が正しい。</td>
					<td>ver.1.0.1</td>
				</tr>
				<tr>
					<td>p.33</td>
					<td>車内 - 側面</td>
					<td>「側窓の手掛けストッパーと窓戸錠跡」の写真キャプションが (上)、 (下) となっているが、正しくは (左)、 (右) 。</td>
					<td>ver.1.0.1</td>
				</tr>
			</tbody>
		</table>
	</Section>
</Layout>
