<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の補助電源装置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">補助電源装置</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">現役の機器</a></li>
							<li><a href="aps_old" class="c-link">消滅した機器</a></li>
							<li><a href="aps_transfer" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両に搭載されている静止形インバータ（SIV）のバリエーションを紹介します。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#siv-few">小容量SIV</a></li>
						<li><a href="#siv-much">大容量SIV</a></li>
						<li><a href="#vvvf">VVVF主制御器／SIV一体型</a></li>
						<li><a href="#series300">空調制御装置</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">タイプ</th>
								<th scope="col">形式</th>
								<th scope="col">メーカー</th>
								<th scope="col">出力容量</th>
								<th scope="col">現在の搭載車両</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="rowgroup">小容量SIV</th>
								<td><a href="#inv009" class="c-link">INV-009</a></td>
								<td>東芝</td>
								<td>2kVA</td>
								<td>デハ8638～8641（5+5分割編成用）</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup" rowspan="9">大容量SIV</th>
								<td><a href="#bs482" class="c-link">BS-482</a></td>
								<td>東芝</td>
								<td>170kVA</td>
								<td>8500系（13～17次車の一部）</td>
							</tr>
							<tr>
								<td><a href="#inv006" class="c-link">INV-006</a></td>
								<td>東芝</td>
								<td>90kVA</td>
								<td>7600系</td>
							</tr>
							<tr>
								<td><a href="#inv008" class="c-link">INV-008</a></td>
								<td>東芝</td>
								<td>170kVA</td>
								<td>8500系（18～19次車）</td>
							</tr>
							<tr>
								<td><a href="#inv020" class="c-link">INV-020</a></td>
								<td>東芝</td>
								<td>120kVA</td>
								<td>7700系、9000系、1000系</td>
							</tr>
							<tr>
								<td><a href="#svh120" class="c-link">SVH-120</a></td>
								<td>東洋電機</td>
								<td>120kVA</td>
								<td>クハ7910, 7914</td>
							</tr>
							<tr>
								<td><a href="#inv029" class="c-link">INV-029</a></td>
								<td>東芝</td>
								<td>170kVA</td>
								<td>8500系（7～12次車の一部）・8090系、2000系</td>
							</tr>
							<tr>
								<td><a href="#inv095" class="c-link">INV-095</a></td>
								<td>東芝</td>
								<td>170kVA</td>
								<td>8500系（9～12次車の一部）</td>
							</tr>
							<tr>
								<td><a href="#inv127" class="c-link">INV-127</a></td>
								<td>東芝</td>
								<td>210kVA</td>
								<td>新3000系</td>
							</tr>
							<tr>
								<td><a href="#inv146" class="c-link">INV-146</a></td>
								<td>東芝</td>
								<td>250kVA</td>
								<td><s>クハ8031</s>（新5000系で本格採用）</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">VVVF一体型</th>
								<td><a href="#svf041" class="c-link">Y000系用</a></td>
								<td>東芝</td>
								<td>80kVA</td>
								<td>Y000系</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">空調制御装置</th>
								<td><a href="#da61t" class="c-link">DA-61T</a></td>
								<td>三菱電機</td>
								<td>20kVA</td>
								<td>300系</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="siv-few">
						<div class="p-section__hdg">
							<h2>小容量SIV</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv009">
									<div class="p-section__hdg">
										<h3>INV-009</h3>
										<p class="p-section__hdg-note">東芝、2kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-009.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-009.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-009.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-009.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-009.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-009.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-03-22 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8641（18-2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8500系18～19次車のうち、5+5両に分割できる編成で新造された8638F～8641Fは、分割時に編成中のSIVが1台になってしまうのを防ぐため、上り向き先頭車のデハ8600形に小容量SIVが搭載されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="siv-much">
						<div class="p-section__hdg">
							<h2>大容量SIV</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="bs482">
									<div class="p-section__hdg">
										<h3>BS-482</h3>
										<p class="p-section__hdg-note">東芝、170kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/BS-482.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-482.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-482.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-482.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-482.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-482.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-03-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8097（16-2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>冷房電源に対応した大容量3相出力のSIVは、回路の入力に使用する電圧を架線電圧から降下させる際にチョッパを使用した<dfn>チョッパインバータ</dfn>が開発され、8029Fでの試験を経て170kVAタイプがサハ8900形の7-2次車から採用されました。</p>
										<p>
											次に<dfn><a href="aps_old#bs477">直列分圧形</a></dfn
											>が登場しましたが、8000系グループ13次車から（クハ8090形は16次車から）は<dfn>GTOサイリスタ</dfn>式に変更されました。
										</p>
										<p>冷却方式は従来と同じく自然冷却ながら、冷却フィンが設けられたため、インバータ部の前面蓋は網目状となり、これがしばらくの間スタンダートとなりました。</p>
										<p>後に1次車の冷改時にもこのタイプが搭載されて、旧クハ8000形の上り向き奇数車に搭載されました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv006">
									<div class="p-section__hdg">
										<h3>INV-006</h3>
										<p class="p-section__hdg-note">東芝、90kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-006.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-09-04 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7602（1次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7600系はデハ7600形（現在のクハ7600形）に90kVAのSIVを搭載します。旧クハ7500形の一部もこれを搭載しており、豊橋鉄道譲渡後も引き続き使用されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv008">
									<div class="p-section__hdg">
										<h3>INV-008</h3>
										<p class="p-section__hdg-note">東芝、170kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-008.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-008.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-008.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-008.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-008.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-008.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-02-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8977（18-2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>8500系では、18次車の編成車より冷房装置が後述する9000系と同じ440Vタイプへ変更されたことにより、SIVも出力電圧が従来の200Vから昇圧されました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv020">
									<div class="p-section__hdg">
										<h3>INV-020</h3>
										<p class="p-section__hdg-note">東芝、120kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-020.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-020.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-020.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-020.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-020.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-020.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-03-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ9310（3次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1986年に登場した9000系は、空気圧縮機が<a href="cp#hs20-1">誘導電動機駆動</a>となったことにより出力電圧が200Vから440Vに変更され、冷房装置なども440V化されました。現在搭載されているINV-020型は2次車から導入されたもので、1次車も換装されています。</p>
										<p>7700系、1000系もこのタイプが搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="svh120">
									<div class="p-section__hdg">
										<h3>SVH-120</h3>
										<p class="p-section__hdg-note">東洋電機製造、120kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/SVH-120.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVH-120.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVH-120.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVH-120.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVH-120.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVH-120.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-09-02 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7914（5次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7700系のうちクハ7910, 7914は、異色の東洋電機製SIVを搭載しています。容量は他車と同じ120kVAです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv029">
									<div class="p-section__hdg">
										<h3>INV-029</h3>
										<p class="p-section__hdg-note">東芝、170kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-029.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-01-31 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8398（16-2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>東横線の旧8000系は上り方先頭車のクハ8000形奇数車に大容量MGまたはSIVが搭載されていましたが、二電源化のため8両編成の6号車（デハ8200形）にSIVが追設されました。9000系搭載の<a href="#inv020">INV-020型</a>と比べて容量が170kVAにアップされています。</p>
										<p>1988年の8090系20次車（8590系）登場に伴う8090系の編成替えでは、6号車のサハ8390形にこのタイプが搭載され、3年後の1991年には3号車にも追設されて二電源化されました。さらに8691F～8693Fの大井町線転籍では、デハ8690形にも搭載されていました。</p>
										<p>1990年には8500系の初期型のSIV更新が開始され、7～12次車の一部がこのタイプになりました。</p>
										<p>1992年に登場した2000系もこのタイプが搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv095">
									<div class="p-section__hdg">
										<h3>INV-095</h3>
										<p class="p-section__hdg-note">東芝、170kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-095.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-095.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-095.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-095.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-095.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-095.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2006-09-05 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">サハ8932（10-1次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>前述のとおり1990年に開始された8500系SIV更新は、当初はGTOサイリスタ式の<a href="#inv029">INV-029型</a>へ交換されていましたが、1993年からは主回路素子にIGBTを使用したINV-095型となり、1996年までに置き換えが完了しました。</p>
										<p>出力電圧は200Vです。また、従来の自然冷却に代わって、水を使用したヒートパイプによる冷却方式となっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv127">
									<div class="p-section__hdg">
										<h3>INV-127</h3>
										<p class="p-section__hdg-note">東芝、210kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-127.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-127.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-127.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-127.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-127.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-127.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2008-05-18 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ3262（2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1999年に登場した新3000系では、容量を210kVAに増加したSIVが搭載されました。</p>
										<p><a href="#inv095">INV-095型</a>と同じく素子はIGBTを使用、冷却はヒートパイプ式自冷ですが、出力電圧は440Vとなっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv146">
									<div class="p-section__hdg">
										<h3>INV-146</h3>
										<p class="p-section__hdg-note">東芝、250kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-146.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-146.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-146.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-146.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-146.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-146.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2005-01-21 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ8031（4次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>2001年に、東横線クハ8031のMGが250kVA-SIVに換装されました。翌年に登場した新5000系などで本格的に採用されています。</p>
										<p>なお、この車両は伊豆急行への譲渡にあたり、電源装置がMGに戻されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="vvvf">
						<div class="p-section__hdg">
							<h2>VVVF主制御器／SIV一体型</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="svf041">
									<div class="p-section__hdg">
										<h3>Y000系用（主制御器一体型）</h3>
										<p class="p-section__hdg-note">東芝、80kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/SVF041-A0.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVF041-A0.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVF041-A0.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVF041-A0.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVF041-A0.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/SVF041-A0.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2006-07-09 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハY012（2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>短編成の列車ではSIV故障………<!-- TODO --></p>
										<p>こどもの国線用として2両編成で登場したY000系も、主制御器とSIVが一体となったシステムが採用されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="series300">
						<div class="p-section__hdg">
							<h2>空調制御装置</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="da61t">
									<div class="p-section__hdg">
										<h3>DA-61T</h3>
										<p class="p-section__hdg-note">三菱電機、20kVA-SIV</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/DA-61T.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2013-09-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ306B（2次車）</p>
										</figcaption>
									</figure>
									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/DA-61T_side.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T_side.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T_side.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T_side.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T_side.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/DA-61T_side.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2006-12-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ301A（1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>世田谷線の300系は、三菱電機製の空調制御装置が屋根上に設置されています。冷暖房装置などの関係で出力電圧は200Vです。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">現役の機器</a></li>
							<li><a href="aps_old" class="c-link">消滅した機器</a></li>
							<li><a href="aps_transfer" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
