<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の補助電源装置（消滅した機器）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">補助電源装置<span class="p-page-title__sub-hdg">（消滅した機器）</span></h1>
						<p class="p-page-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="aps">現役の機器</a></li>
							<li><a aria-current="page">消滅した機器</a></li>
							<li><a href="aps_transfer">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両に搭載されていた電動発電機、静止形インバータのうち、交換や車両の廃車に伴って消滅した機器を紹介します。</p>
					</div>

					<ol class="p-subtoc">
						<li><a href="#mg-few">小容量MG</a></li>
						<li><a href="#siv-few">小容量SIV</a></li>
						<li><a href="#mg-much">大容量MG</a></li>
						<li><a href="#siv-much">大容量SIV</a></li>
						<li><a href="#vvvf">VVVF主制御器／SIV一体型</a></li>
						<li><a href="#fan-power">扇風機電源装置</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<table class="p-table-data">
						<thead>
							<tr>
								<th scope="col">タイプ</th>
								<th scope="col">形式</th>
								<th scope="col">メーカー</th>
								<th scope="col">出力容量</th>
								<th scope="col">歴代の搭載車両</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="rowgroup" rowspan="5">小容量MG</th>
								<td><a href="#clg107" class="c-link-text">CLG-107</a></td>
								<td>東芝</td>
								<td>2.5kVA</td>
								<td>旧デハ3450形・旧デハ3700形ほか、旧5000系・5200系</td>
							</tr>
							<tr>
								<td><a href="#tdk381" class="c-link-text">TDK-381</a></td>
								<td>東洋電機</td>
								<td>6kVA</td>
								<td>旧6000系、旧7000系（東洋車）</td>
							</tr>
							<tr>
								<td><a href="#hg533" class="c-link-text">HG-533</a></td>
								<td>日立</td>
								<td>7.5kVA</td>
								<td>旧7000系（日立車）</td>
							</tr>
							<tr>
								<td><a href="#clg319" class="c-link-text">CLG-319</a></td>
								<td>東芝</td>
								<td>5.5kVA</td>
								<td>旧サハ3251・旧サハ3360形・旧サハ3370形、デヤ7290</td>
							</tr>
							<tr>
								<td><a href="#clg339" class="c-link-text">CLG-339</a></td>
								<td>東芝</td>
								<td>7.5kVA</td>
								<td>旧7200系、デヤ7290</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">小容量SIV</th>
								<td><a href="#bs33" class="c-link-text">BS-33</a></td>
								<td>東芝</td>
								<td>10kVA</td>
								<td>旧8000系・8500系・8090系</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">大容量MG</th>
								<td><a href="#clg350" class="c-link-text">CLG-350</a></td>
								<td>東芝</td>
								<td>140kVA</td>
								<td>旧8000系・8500系・8090系</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup" rowspan="3">大容量SIV</th>
								<td><a href="#bs477" class="c-link-text">BS-477</a></td>
								<td>東芝</td>
								<td>50kVA</td>
								<td>旧8000系・8090系、旧7200系、デヤ7200</td>
							</tr>
							<tr>
								<td><a href="#inv104" class="c-link-text">INV-104</a></td>
								<td>東芝</td>
								<td>100kVA</td>
								<td>デハ8296, 8282</td>
							</tr>
							<tr>
								<td><a href="#inv153" class="c-link-text">INV-153</a></td>
								<td>東芝</td>
								<td>100kVA</td>
								<td>デハ8298, 8290</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">VVVF一体型</th>
								<td><a href="#rg660" class="c-link-text">デハ7715用</a></td>
								<td>東洋電機</td>
								<td>140kVA</td>
								<td>デハ7715</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<th scope="rowgroup">扇風機電源装置</th>
								<td><a href="#s11" class="c-link-text">S11</a></td>
								<td>小糸工業</td>
								<td>1kVA</td>
								<td>旧7000系</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="mg-few">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">小容量MG</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="clg107">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">CLG-107</h3>
									</div>

									<p class="p-tokyu-spec">東芝、2.5kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CLG-107.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2006-03-20 --></a
											><span class="c-embedded-caption -data">(旧)デワ3043</span>
										</div>
									</div>

									<div class="p-text">
										<p>旧3000系や旧5000系に搭載されていたMGです。</p>
										<p>現在は十和田観光電鉄モハ3603など保存車で数台が残っています。F型やG型なども存在しましたが、現存する個体は写真のものも含め、送風量を増加させたH型がほとんどです。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="clg107-5000">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">CLG-107<span class="p-hdg__sub-hdg">（MR送風機直結タイプ）</span></h3>
									</div>

									<p class="p-tokyu-spec">東芝、2.5kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CLG-107_5000.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107_5000.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107_5000.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107_5000.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107_5000.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-107_5000.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2010-06-20 --></a
											><span class="c-embedded-caption -data">(旧)松本電気鉄道モハ5005</span>
										</div>
									</div>

									<div class="p-text">
										<p>旧5000系グループでは主抵抗器を空冷する送風機が両端に繋がっているのが特徴でした。</p>
										<p>現在、現役で活躍している熊本電気鉄道譲渡車は<a href="aps_transfer#tdk359">降圧化改造にあたり交換</a>されているため、このタイプで残るのは静態保存されている総合車両製作所のデハ5201と、アルピコ交通新村車両所のモハ5005の2両のみです。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="tdk381">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">TDK-381</h3>
									</div>

									<p class="p-tokyu-spec">東洋電機製造、6kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/TDK-381.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-381.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-381.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-381.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-381.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-381.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2006-09-03 --></a
											><span class="c-embedded-caption -data">弘南鉄道デハ6007</span>
										</div>
									</div>

									<div class="p-text">
										<p>旧6000系、旧7000系の東洋車に搭載されていたMGです。</p>
										<p>各地に譲渡された7000系のうち弘南鉄道弘南線と福島交通では今でも現役で活躍しているほか、稼働機会は皆無なものの弘南鉄道大鰐線の6000系と水間鉄道7000系でも見ることができます。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="hg533">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">HG-533</h3>
									</div>

									<p class="p-tokyu-spec">日立製作所、7.5kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/HG-533.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-533.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-533.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-533.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-533.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-533.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-05-05 --></a
											><span class="c-embedded-caption -data">弘南鉄道デハ7031</span>
										</div>
									</div>

									<div class="p-text">
										<p>旧7000系日立車のMGです。</p>
										<p>北陸鉄道譲渡車は<a href="aps_transfer#tdk366">譲渡時に交換</a>されたため、現在は弘南鉄道大鰐線のみに残っています。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="clg319">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">CLG-319</h3>
									</div>

									<p class="p-tokyu-spec">東芝、5.5kVA-MG</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CLG-319.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-319.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-319.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-319.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-319.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-319.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-05-12 --></a
											><span class="c-embedded-caption -data">デヤ7290（2次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>1991年に電気検測車に改造されたデヤ7290には2台のMGが装備され、2位寄りには旧3000形グループの付随車より転用されたCLG-319型が搭載されていました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="clg339">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">CLG-339</h3>
									</div>

									<p class="p-tokyu-spec">東芝、7.5kVA-MG</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CLG-339.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-339.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-339.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-339.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-339.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-339.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-17 --></a
											><span class="c-embedded-caption -data">デヤ7290（2次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>7200系の電動車に搭載されていたMGです。冷房車として登場した5次車や、後に冷改された車両は制御車（クハ7500形）に冷房用の大容量電源が搭載されましたが、このMGも引き続き使用されています。</p>
										<p>デヤ7290の1位寄りにも搭載され、2000年に7200系旅客車が引退した後も最後の1台として稼働していました。</p>
										<p>譲渡車では、十和田観光電鉄向けの車両は後述する<a href="aps_transfer#cda021">SIV搭載</a>により撤去されましたが、上田電鉄と豊橋鉄道では現在も活躍中です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="siv-few">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">小容量SIV</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="bs33">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">BS-33</h3>
									</div>

									<p class="p-tokyu-spec">東芝、10kVA-SIV</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/BS-33.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-33.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-33.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-33.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-33.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-33.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2006-12-10 --></a
											><span class="c-embedded-caption -data">デハ8201（1次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>1960年代に、従来のMGに代わり静止形インバータ（SIV）が台頭しました。量産型SIVを最初に採用したのは、東京都の旧6000系（1968年）ですが、東急でも翌年に登場した旧8000系に東京芝浦電気（当時）が開発した10kVAのSIVが搭載されました。</p>
										<p>8500系や8090系の一部にも搭載されて長らく活躍しましたが、2013年の大井町線8090系引退により国内からは消滅しました。現在ではインドネシアの PT KAI 社に譲渡されたデハ8202にのみ残っているようです。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="mg-much">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">大容量MG</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="hg554">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">HG-554</h3>
									</div>

									<p class="p-tokyu-spec">日立製作所、90kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/HG-554.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-554.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-554.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-554.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-554.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/HG-554.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2007-11-25 --></a
											><span class="c-embedded-caption -data">豊橋鉄道ク2807</span>
										</div>
									</div>

									<div class="p-text">
										<p>7200系のうち冷房車として登場した5次車および初期に冷改された車両編成の下り向き先頭車には、90kVAのMGが搭載されました。写真は海側から見たところです。</p>
										<p>豊橋鉄道譲渡後に<a href="aps_transfer#bs483g">SIVへの置き換え</a>が行われ、2009年に消滅しました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="clg350">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">CLG-350</h3>
									</div>

									<p class="p-tokyu-spec">東芝、140kVA-MG</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CLG-350.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-350.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-350.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-350.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-350.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CLG-350.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2006-07-08 --></a
											><span class="c-embedded-caption -data">クハ8015（2次車）海側</span>
										</div>
									</div>

									<div class="p-text">
										<p>東急では8000系2次車のうち8019Fより冷房装置が搭載されましたが、当時は大容量SIVが開発されておらず、冷房電源はMGとされました。</p>
										<p>MGは3相200Vを出力する140KVAタイプで、これはクハ8000形の上り向き奇数車とサハ8900形のうち6次車までに搭載され、後にクハ8090形のうち12～13次車の上り向き奇数車にも搭載されました。</p>
										<p>大井町線8090系の廃車進行に伴い、2011年に東急からは消滅しましたが、伊豆急行や長野電鉄、秩父鉄道などの譲渡先では多くが活躍しています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="siv-much">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">大容量SIV</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="bs477">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">BS-477</h3>
									</div>

									<p class="p-tokyu-spec">東芝、50kVA-SIV</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/BS-477.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-01-20 --></a
											><span class="c-embedded-caption -data">デヤ7200（2次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>一方、GTOサイリスタを使用してインバータを直接架線電圧に接続し、チョッパ部を省略した<dfn>直列分圧形</dfn>のSIVが登場し、サハ8300形やクハ8090形下り向き偶数車に搭載されました。</p>
										<p>後に改造や編成替えにより、いずれも撤去されましたが、7200系冷改車の一部や水間鉄道デハ7150形などに転用されました。現在はデヤ7200が東急で最後の搭載車となっているほか、上田電鉄クハ7500形に残っています。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="inv104">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">INV-104</h3>
									</div>

									<p class="p-tokyu-spec">東芝、100kVA-SIV</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-104.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-104.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-104.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-104.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-104.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-104.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-05-27 --></a
											><span class="c-embedded-caption -data">デハ8296（13次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>大井町線の8090系5両編成は、1号車（クハ8090形）に<a href="aps#bs482">170kVA-SIV</a>、3号車（デハ8290形）に<a href="#bs33">10kVA-SIV</a>がそれぞれ1台ずつ搭載されていましたが、2000年に2編成が二電源化工事を施工され、デハ8296, 8282が100kVAの新型に交換されました。</p>
										<p>2013年の大井町線8090系引退により消滅しました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="inv153">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">INV-153</h3>
									</div>

									<p class="p-tokyu-spec">東芝、100kVA-SIV</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-153.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-153.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-153.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-153.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-153.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-153.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-05-22 --></a
											><span class="c-embedded-caption -data">デハ8290（17-1次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>2005年には大井町線8090系の二電源化工事が再び進められ、デハ8298, 8290の10kVA-SIVが100kVAへ交換されました。</p>
										<p>2013年に大井町線から8090系が引退したことにより、東急線ではわずか8年ほどの活躍でしたが、このうちデハ8290は秩父鉄道クハ7901となり、SIVはそのままに活躍中です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="vvvf">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">VVVF主制御器／SIV一体型</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="rg660">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">デハ7715用（主制御器一体型）</h3>
									</div>

									<p class="p-tokyu-spec">東洋電機製造、140kVA-SIV</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/RG660-A-M.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/RG660-A-M.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/RG660-A-M.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/RG660-A-M.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/RG660-A-M.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/RG660-A-M.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-05-12 --></a
											><span class="c-embedded-caption -data">デハ7715（5次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>サハ7950形を改造した車両を集めて1996年に池上線に登場した 7915-7815-7715 の3両編成は、デハ7715に主制御器のVVVFインバータと一体になったSIVが搭載されました。</p>
										<p>これは3組あるインバータのうち山側の第3バンクがSIVとして動作、SIV故障時は海側の正面から見て右側の第2バンクをVVVFからSIVに切り替えられるもので、短編成でSIVが1台しかない編成において、故障時の冗長性を確保したものとなっています。写真は山側のSIV側を見たところで、右側が第3バンクです。</p>
										<p>2010年にデハ7715を含む編成3両とも廃車され、消滅しました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="fan-power">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">扇風機電源装置</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="s11">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">S11</h3>
									</div>

									<p class="p-tokyu-spec">小糸工業、1kVA</p>

									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/S11.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/S11.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/S11.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/S11.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/S11.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/S11.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2007-08-05 --></a
											><span class="c-embedded-caption -data">弘南鉄道デハ7031</span>
										</div>
									</div>

									<div class="p-text">
										<p>旧7000系は送風機の扇風機化に伴い、MG出力を60Hzに変換するコンバータ装置を取り付けていました。</p>
										<p>現在でも北陸鉄道を除く譲渡先（弘南、福島、水間）で見ることができます。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="aps">現役の機器</a></li>
							<li><a aria-current="page">消滅した機器</a></li>
							<li><a href="aps_transfer">譲渡車両</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
