<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の補助電源装置（譲渡車両）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">補助電源装置<span class="p-title__sub-hdg">（譲渡車両）</span></h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="aps" class="c-link">現役の機器</a></li>
							<li><a href="aps_old" class="c-link">消滅した機器</a></li>
							<li><a aria-current="page" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄からの譲渡車に搭載されている電動発電機、静止形インバータのうち、譲渡先に合わせて交換、改造された機器を紹介します。</p>
						<p>東急時代と同一仕様のまま使われている機器は<a href="aps">現役器</a>、<a href="aps_old">消滅器</a>のページを参照ください。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#mg-few">小容量MG</a></li>
						<li><a href="#mg-much">大容量MG</a></li>
						<li><a href="#siv-much">大容量SIV</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="mg-few">
						<div class="p-section__hdg">
							<h2>小容量MG</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="tdk359">
									<div class="p-section__hdg">
										<h3>TDK-359</h3>
										<p class="p-section__hdg-note">東洋電機製造、9kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/TDK-359.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-359.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-359.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-359.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-359.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-359.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2007-01-02 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">熊本電気鉄道モハ5102A</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主要機器は東芝製で統一されていた旧5000系ですが、福島交通と熊本電気鉄道譲渡車は降圧化のため、CPなどとともに換装が行われました。現在、熊本電鉄に残る2両には東洋電機製のものが積まれています。</p>
										<p>MG調整器は新製されたものであり、オリジナルや寄せ集めが大半を占める床下機器の中でひときわ異彩を放っています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="tdk366">
									<div class="p-section__hdg">
										<h3>TDK-366</h3>
										<p class="p-section__hdg-note">東洋電機製造、5.5kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/TDK-366.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-366.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-366.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-366.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-366.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-366.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2006-11-04 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">北陸鉄道モハ7112</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>北陸鉄道に譲渡された7000系は足回りや床下機器が一新されていますが、MGも他社からの転用品に交換されました。</p>
										<p>
											なお、冷改車（モハ7001、クハ7011以外の8両）には各車床下に<a href="https://media.w0s.jp/image/tokyu/sty/aps/hoku7000pu.jpg" type="image/jpeg" title="リンク先写真は北陸鉄道モハ7112"><!-- 撮影日: 2007-11-23 -->富士電機製のパワーユニット<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>が搭載されています。
										</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="mg-much">
						<div class="p-section__hdg">
							<h2>大容量MG</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="tdk3725">
									<div class="p-section__hdg">
										<h3>TDK-3725</h3>
										<p class="p-section__hdg-note">東洋電機製造、75kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/TDK-3725.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-3725.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-3725.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-3725.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-3725.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/TDK-3725.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2007-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">水間鉄道デハ1002</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>水間鉄道1000形のうち、非冷房車から改造されたデハ1002はMGを大容量タイプに換装しています。</p>
										<p>また、<a href="aps_old#bs477">50kVA-SIV</a>を搭載していたデハ1006, 1008も、それぞれ2012年と2007年にこのMGへ換装されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="siv-much">
						<div class="p-section__hdg">
							<h2>大容量SIV</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="bs477b">
									<div class="p-section__hdg">
										<h3>BS-477(B)</h3>
										<p class="p-section__hdg-note">東芝</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/BS-477-B.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477-B.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477-B.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477-B.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477-B.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-477-B.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2007-10-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">水間鉄道デハ1004</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>水間鉄道に譲渡後、現地で冷改されたデハ7101（現在のデハ1004）はBS-477のB型を搭載しますが、<a href="aps_old#bs477">A型</a>とは大きく異なる外観をしており、インバータ部の前面蓋が網目状に開口したものとなっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="bs483g">
									<div class="p-section__hdg">
										<h3>BS-483(G)</h3>
										<p class="p-section__hdg-note">東芝、90kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/BS-483-G.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-483-G.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-483-G.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-483-G.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-483-G.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/BS-483-G.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-04-04 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">豊橋鉄道ク2810</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>上田電鉄クハ7551は豊橋鉄道へ譲渡されましたが、搭載していた<a href="aps_old#bs477">50kVA-SIV</a>は換装されました。また、豊橋鉄道ク2807～2809は冷房電源用の<a href="aps_old#hg554">大容量MG</a>を搭載していましたが、2009年に置き換えが行われ、当SIVに換装されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv029-toyama">
									<div class="p-section__hdg">
										<h3>INV-029<span class="p-section__subhdg">（富山地方鉄道17480形）</span></h3>
										<p class="p-section__hdg-note">東芝、170kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-029_toyama.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029_toyama.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029_toyama.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029_toyama.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029_toyama.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-029_toyama.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2013-11-04 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">富山地方鉄道モハ17482</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>富山地方鉄道に譲渡された8590系は、モハ17480形偶数車（東急デハ8690形）に搭載される<a href="aps#inv029">INV-029型</a>に改造が施され、インバータ部の前面網目に覆いが付けられました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="inv006">
									<div class="p-section__hdg">
										<h3>INV-006<span class="p-section__subhdg">（豊橋鉄道ク2806）</span></h3>
										<p class="p-section__hdg-note">東芝、90kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/INV-006_toyohashi2806.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006_toyohashi2806.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006_toyohashi2806.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006_toyohashi2806.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006_toyohashi2806.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/INV-006_toyohashi2806.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-01-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">豊橋鉄道ク2806</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p><a href="aps_old#bs477">50kVA-SIV</a>を搭載していた豊橋鉄道ク2806は、譲渡後にク2801～2805と同じ90kVAのSIVへ載せ替えられましたが、製造年が新しいため<a href="aps#inv006">ほかの個体</a>とはインバータ部の前面蓋形状が異なり、網目状の開口面積が小さくなっています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="cda021">
									<div class="p-section__hdg">
										<h3>CDA-021</h3>
										<p class="p-section__hdg-note">富士電機、30kVA</p>
									</div>

									<figure>
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/aps/CDA-021.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CDA-021.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CDA-021.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CDA-021.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/aps/CDA-021.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/aps/CDA-021.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2007-04-30 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">十和田観光電鉄デハ7204</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>十和田観光電鉄に譲渡されたデハ7200形は2002年の譲渡に際し、単行ないし電動車同士の2両で運転されるため、富士電機製の電源装置を新設され、<a href="aps_old#clg339">従来のMG（CLG-339型）</a>は撤去されました。</p>
										<p>2012年に路線廃止されましたが、車両は七百駅跡に保管されているようです。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="aps" class="c-link">現役の機器</a></li>
							<li><a href="aps_old" class="c-link">消滅した機器</a></li>
							<li><a aria-current="page" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
