<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の空気圧縮機</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">空気圧縮機</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">現役の機器</a></li>
							<li><a href="cp_old" class="c-link">消滅した機器</a></li>
							<li><a href="cp_transfer" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両に搭載されている空気圧縮機のバリエーションを紹介します。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#gum">可とう継手式</a></li>
						<li><a href="#gum-frameless">可とう継手式（フレームレス）</a></li>
						<li><a href="#spline">スプライン軸継手式</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<table class="p-table">
						<colgroup span="3"></colgroup>
						<colgroup span="2"></colgroup>
						<colgroup></colgroup>
						<thead>
							<tr>
								<th scope="colgroup" colspan="3">圧縮機</th>
								<th scope="colgroup" colspan="2">電動機</th>
								<th scope="colgroup" rowspan="2">現在の搭載車両</th>
							</tr>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">シリンダ配列</th>
								<th scope="col">変位容量</th>
								<th scope="col">形式</th>
								<th scope="col">電圧</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#hb2000" class="c-link">HB-2000</a></td>
								<td>水平対向4気筒</td>
								<td>2000l/min</td>
								<td>CM2015</td>
								<td>DC1500V</td>
								<td>8500系・8090系（17次車以前）</td>
							</tr>
							<tr>
								<td><a href="#hs20g" class="c-link">HS-20（直流電動機）</a></td>
								<td>水平対向4気筒</td>
								<td>2000l/min</td>
								<td>D1215</td>
								<td>DC1500V</td>
								<td>7600系、7700系、8500系（18次車以降）、1000N系など</td>
							</tr>
							<tr>
								<td><a href="#hs20-1" class="c-link">HS-20（誘導電動機）</a></td>
								<td>水平対向4気筒</td>
								<td>2000l/min</td>
								<td>A1544</td>
								<td>AC440V</td>
								<td>9000系、1000系（N、N′除く）、2000系</td>
							</tr>
							<tr>
								<td><a href="#hs10" class="c-link">HS-10</a></td>
								<td>水平対向4気筒</td>
								<td>1000l/min</td>
								<td>D6515</td>
								<td>DC1500V</td>
								<td>1000N′系</td>
							</tr>
							<tr>
								<td><a href="#hs5" class="c-link">HS-5（直流電動機）</a></td>
								<td>V型2気筒</td>
								<td>600l/min</td>
								<td>D3360</td>
								<td>DC600V</td>
								<td><s>旧デハ70形</s>→300系</td>
							</tr>
							<tr>
								<td><a href="#hs5-1" class="c-link">HS-5（誘導電動機）</a></td>
								<td>V型2気筒</td>
								<td>610l/min</td>
								<td>?</td>
								<td>AC440V</td>
								<td>Y000系</td>
							</tr>
							<tr>
								<td><a href="#c2500l" class="c-link">C2500</a></td>
								<td>水平直列3気筒</td>
								<td>2500l/min</td>
								<td>A1744</td>
								<td>AC440V</td>
								<td>新3000系</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="gum">
						<div class="p-section__hdg">
							<h2>可とう継手式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb2000">
									<div class="p-section__hdg">
										<h3>HB-2000</h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_CM2015.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_CM2015.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_CM2015.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_CM2015.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_CM2015.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_CM2015.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-04-05 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">デハ8879（15次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>電動機と圧縮機をゴム可とう継手で繋ぎ、高圧・低圧それぞれ2つのシリンダを対向に配しています。この基本構造は、7200系に搭載されていた<a href="cp_old#hb1500">HB-1500型</a>と同様ですが、容積や出力がアップされています。</p>
										<p>電動機は神鋼電機（現：シンフォニアテクノロジー）製ですが、以前は<a href="cp_old#hb2000-hs">日立製作所製</a>も存在し、性能は同一ながら点検蓋の形状などに差異がみられました。</p>
										<p>8000系グループのうち17次車以前に搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb2000-frame">
									<div class="p-section__hdg">
										<h3>HB-2000<span class="p-section__subhdg">（吊枠のみ）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min（電動機搭載当時）</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_only-frame.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_only-frame.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_only-frame.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_only-frame.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_only-frame.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_only-frame.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-05-22 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">デハ8881（15次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>田園都市線8500系（10両編成）は、一部編成を除き6号車のCPを撤去して1編成あたりの台数を3機に抑えていますが、一部の撤去車は吊枠のみ残されています。また、CP撤去後に改めて吊枠を設置された車両も存在します。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="gum-frameless">
						<div class="p-section__hdg">
							<h2>可とう継手式（フレームレス）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs20g">
									<div class="p-section__hdg">
										<h3>HS-20<span class="p-section__subhdg">（直流電動機）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_D1215.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_D1215.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_D1215.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_D1215.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_D1215.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_D1215.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2008-12-29 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">デハ8641（18-2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>
											低騒音、小型軽量化、低振動化を図るために開発された機種で、弁部から発生する音を軽減したり、フレーム構造を廃して圧縮機と電動機を直結することにより、HB-2000型と比較して重量37%減、騒音値11%減を達成しています<sup class="c-annotate"><a href="#fn1" id="r1" is="w0s-tooltip-trigger" data-tooltip-element="w0s-tooltip" data-tooltip-close-text="閉じる">[1]</a></sup
											>。
										</p>
										<p>搭載車は8000系18次車以降、7600系、クハ7900形、および1000N系。7700系は、3連化時にデハ7800形にも搭載されたほか、デハ7815、デヤ7200、デヤ7290もこのタイプに換装されました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs20-1">
									<div class="p-section__hdg">
										<h3>HS-20<span class="p-section__subhdg">（誘導電動機）</span></h3>
										<p class="p-section__hdg-note">AC440V、容量約2000l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_A1544.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_A1544.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_A1544.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_A1544.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_A1544.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_A1544.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-01-24 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">クハ9101（1次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>
											こちらは交流駆動の電動機を装備したタイプで、SIVから出力された三相交流が直接供給されます。隣接して<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_cm1.jpg" type="image/jpeg" title="リンク先写真はクハ9001海側"><!-- 撮影日: 2007-09-15 -->起動装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>を備えますが、<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_cm2.jpg" type="image/jpeg" title="リンク先写真はクハ9014海側"><!-- 撮影日: 2007-09-11 -->9000系3次車以降の起動装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>は小型化されています。
										</p>
										<p>搭載車は9000系、1000系（N、N′除く）および2000系で、改造当初は<a href="cp_old#hb1500">HB-1500型</a>を搭載していたクハ7915もこれに換装されました。</p>
										<p>2013年まで、クハ9010には<a href="cp_old#hs20-1-sim">SIM電動機</a>のタイプが搭載されていました。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs10">
									<div class="p-section__hdg">
										<h3>HS-10</h3>
										<p class="p-section__hdg-note">DC1500V、容量約1000l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS10.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS10.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-04-17 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">デハ1223（4次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>HS-20型を元に開発された小容量タイプで、全体的にコンパクトになり、ちりこしが横向きに配されるなど印象も異なります。</p>
										<p>東急電鉄では1000N′系に搭載されていますが、1000N系（登場時）と同様、編成内のSIVが1機なため、電動機は架線給電の直流駆動式とされました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="spline">
						<div class="p-section__hdg">
							<h2>スプライン軸継手式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs5">
									<div class="p-section__hdg">
										<h3>HS-5<span class="p-section__subhdg">（直流電動機）</span></h3>
										<p class="p-section__hdg-note">DC600V、容量600l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5_D3360.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_D3360.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_D3360.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_D3360.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_D3360.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5_D3360.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-02-22 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">デハ310B（2次車）山側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>HS-20型、HS-10型に続き路面電車など小型車両用に開発されたもので、重量はHS-20型の半分以下となっています。</p>
										<p>ギヤ式のDH型を搭載していた世田谷線の旧デハ70形は、昭和60年代にCP更新が行われ、このHS-5型へ交換されました。70形の廃車後は300系に転用され、三軒茶屋向きのB車に2機が搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs5-1">
									<div class="p-section__hdg">
										<h3>HS-5<span class="p-section__subhdg">（誘導電動機）</span></h3>
										<p class="p-section__hdg-note">AC440V、容量610l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS5-1.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5-1.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5-1.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5-1.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5-1.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS5-1.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2009-03-22 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">クハY002（2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>HS-5型の交流駆動タイプで、こどもの国線用のY000系に搭載されています。</p>
										<p>本体は枕木方向に配されているため2気筒である様子がよく分かります。</p>
										<p>
											右隣に<a href="https://media.w0s.jp/image/tokyu/sty/cp/CM16.jpg" type="image/jpeg" title="リンク先写真はクハY003海側"><!-- 撮影日: 2009-03-22 -->起動装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>を備えています。
										</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c2500l">
									<div class="p-section__hdg">
										<h3>C2500</h3>
										<p class="p-section__hdg-note">AC440V、容量約2500l/min</p>
									</div>

									<figure>
										<div class="p-embed">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/C2500L.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2500L.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" />
												</picture>
												<!-- 撮影日: 2007-08-19 --></a
											>
										</div>
										<figcaption class="p-embed__caption c-caption -meta">
											<p class="c-caption__title">サハ3510（2次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>新3000系に搭載。</p>
										<p>シリンダがHS-20型などの対向4気筒から直列3気筒となり、ちりこしの右側に低圧2、高圧1が一列に並んだ形状が特徴です。</p>
										<p>
											左隣に<a href="https://media.w0s.jp/image/tokyu/sty/cp/CM15.jpg" type="image/jpeg" title="リンク先写真はサハ3510海側"><!-- 撮影日: 2007-08-19 -->起動装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>を備えています。
										</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<ul class="p-footnotes">
						<li>
							<span class="p-footnotes__no"><a href="#r1">[1]</a></span>
							<span class="p-footnotes__text" id="fn1">ナブコ技報No57（1984年1月号） 「低騒音空気圧縮機の開発」 小椋 聡</span>
						</li>
					</ul>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">現役の機器</a></li>
							<li><a href="cp_old" class="c-link">消滅した機器</a></li>
							<li><a href="cp_transfer" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
