<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の空気圧縮機（消滅した機器）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">空気圧縮機<span class="p-title__sub-hdg">（消滅した機器）</span></h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="cp" class="c-link">現役の機器</a></li>
							<li><a aria-current="page" class="c-link">消滅した機器</a></li>
							<li><a href="cp_transfer" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両に搭載されていた空気圧縮機のうち、交換や車両の廃車に伴って消滅した機器を紹介します。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="dn">
						<div class="p-section__hdg">
							<h2>ギヤ式・DN型</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="d2n">
									<div class="p-section__hdg">
										<h3>D-2-N</h3>
										<p class="p-section__hdg-note">DC600V/1500V</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/D2N.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/D2N.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2006-05-06 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">熊本電気鉄道モハ5102A</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>旧モハ510形（デハ3450形）の一部など旧性能車に搭載されていたCP。複電圧対応を生かして旧5000系の熊本電鉄譲渡車両にも積まれ、現在も活躍しています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="belt">
						<div class="p-section__hdg">
							<h2>ベルト駆動式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="3ys">
									<div class="p-section__hdg">
										<h3>3-Y-S</h3>
										<p class="p-section__hdg-note">DC1500V、容量約1000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/3YS.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2010-03-21 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">(旧)松本電気鉄道モハ5005</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>
											旧5000系グループで採用されたCPは、従来のギヤ式に変わってベルト駆動式となっており、独立した電動機と圧縮機が<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_back.jpg" type="image/jpeg" title="リンク先写真は(旧)岳南鉄道モハ5004" class="htmlbuild-anchor-type"><!-- 撮影日: 2006-11-25 -->ベルトで結合</a>されています。
										</p>
										<p>本機を搭載した車両は岳南鉄道を最後に2002年までにすべて廃車されましたが、静態保存されている総合車両製作所のデハ5201とアルピコ交通のモハ5005に残っています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c1000">
									<div class="p-section__hdg">
										<h3>C-1000</h3>
										<p class="p-section__hdg-note">DC1500V、容量約1000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/C1000.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C1000.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2006-09-03 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">弘南鉄道デハ6005</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>3-Y-S型の改良タイプであり、旧6000系から7200系（デハ7300形）まで搭載され、後にデハ3450形やデハ3500形などにも広く普及しました。</p>
										<p>譲渡車でも水間鉄道7000系の一部などに搭載されていましたが、現在は弘南鉄道6000系奇数車と十和田観光電鉄七百駅跡に保管されているモハ3603のみに見られます。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="gum">
						<div class="p-section__hdg">
							<h2>可とう継手式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb1500">
									<div class="p-section__hdg">
										<h3>HB-1500</h3>
										<p class="p-section__hdg-note">DC1500V、容量約1500l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB1500.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2005-03-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">上田交通モハ7255</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>電動機と圧縮機をゴム可とう継手で繋ぎ、高圧・低圧それぞれ2つのシリンダを対向に配しています。この基本構造は、後の<a href="cp#hb2000">HB-2000型</a>や<a href="cp#hs20-1">HS-20型</a>にも引き継がれました。</p>
										<p>7200系で採用され、後に7000系の一部にもC-1000型の交換という形で搭載されました。</p>
										<p>現在では旧7000系、7200系の各譲渡車で見ることができます（ただし<a href="cp_transfer#hb1500-hokuriku">北陸鉄道7000系</a>は同じHB-1500型ながら他車からの転用品）。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb2000-hs">
									<div class="p-section__hdg">
										<h3>HB-2000<span class="p-section__subhdg">（日立製作所製電動機）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_EFO.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_EFO.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-09-06 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8281（16-2次車）#1海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p><a href="cp#hb2000">HB-2000型</a>のうち、一部は日立製作所製の電動機（EFO型）を搭載しており、点検蓋の形状などに差異がみられました。電動機の出力や定格回転数などの特性は、神鋼電機製と同一です。</p>
										<p>
											東急電鉄からは消滅したものと思われますが、伊豆急行8000系のCP搭載車のおよそ3分の1ほど<span class="c-annotate"><a href="#fn1" id="r1" is="w0s-tooltip-trigger" data-tooltip-element="w0s-tooltip" data-tooltip-close-text="閉じる">[1]</a></span
											>はこの日立製を搭載しています。
										</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="gum-frameless">
						<div class="p-section__hdg">
							<h2>可とう継手式（フレームレス）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs20-1-sim">
									<div class="p-section__hdg">
										<h3>HS-20<span class="p-section__subhdg">（SIM電動機）</span></h3>
										<p class="p-section__hdg-note">AC440V、容量約2000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HS20_TFC221.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HS20_TFC221.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2013-06-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ9010（3次車）海側</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ9010のCPは、1992年に<dfn>双固定子誘導電動機式</dfn>に交換されました。これは始動時のみローターバーの抵抗を高くして、ローターに流れる誘導電流を抑えることで始動電流の抑制を図ったものです。</p>
										<p>圧縮機は従来どおりHS-20型、電動機（TFC221型）の特性は定格回転数が若干高い以外は通常の交流駆動タイプと同一となっています。</p>
										<p>2013年に大井町線へ転籍した直後に<a href="cp#hs20-1">通常の誘導電動機のタイプ</a>に交換され、消滅しました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<ul class="p-footnotes">
						<li>
							<span class="p-footnotes__no"><a href="#r1">[1]</a></span>
							<span class="p-footnotes__text" id="fn1">2011年頃の調査ではCP搭載車22両のうち、日立製作所製は次の8両。モハ8201, 8202, 8206、モハ8257、クハ8002, 8005, 8006, 8007。</span>
						</li>
					</ul>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
