<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の空気圧縮機（譲渡車両）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">空気圧縮機<span class="p-title__sub-hdg">（譲渡車両）</span></h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年11月5日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="cp" class="c-link">現役の機器</a></li>
							<li><a href="cp_old" class="c-link">消滅した機器</a></li>
							<li><a aria-current="page" class="c-link">譲渡車両</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急電鉄からの譲渡車に搭載されている空気圧縮機のうち、譲渡先に合わせて交換、改造された機器を紹介します。</p>
						<p>東急時代と同一仕様のまま使われている機器は<a href="cp">現役機器</a>、<a href="cp_old">消滅機器</a>のページを参照ください。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="belt">
						<div class="p-section__hdg">
							<h2>ベルト駆動式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="3ys-ner">
									<div class="p-section__hdg">
										<h3>3-Y-S<span class="p-section__subhdg">（長野電鉄2500系、2600系）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約1000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_NER.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/3YS_NER.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2007-05-05 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">(旧)長野電鉄モハ2510</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>
											長野電鉄に譲渡された旧5000系は、A基準対応化や、信州中野―湯田中間の急勾配対策による2両固定編成の主電動機交換などのほか、各種の冬季対策も行われ、CPには覆いが被せられました。下部には<a href="https://media.w0s.jp/image/tokyu/sty/cp/3YS_NER_bottom.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-09-08 -->通気口</a><span class="u-small">（リンク先写真は(旧)長野電鉄モハ2510）</span>が設けられています。
										</p>
										<p>1998年に全廃されていますが、須坂市の<a href="http://w1.avis.ne.jp/~fukachan/" class="htmlbuild-host">トレインギャラリーNAGANO</a>に保存されているモハ2510で見ることができます。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="gum">
						<div class="p-section__hdg">
							<h2>可とう継手式</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb1500-hokuriku">
									<div class="p-section__hdg">
										<h3>HB-1500<span class="p-section__subhdg">（北陸鉄道7000系）</span></h3>
										<p class="p-section__hdg-note">DC600V、容量約1500l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_hokuriku7000.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB1500_hokuriku7000.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-04-13 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">北陸鉄道クハ7211</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>旧7000系のうち、北陸鉄道譲渡車は台車も含め床下機器が一新されました。CPは入線時とは異なり、現在はHB-1500型を搭載していますが、<a href="cp_old#hb1500">東急で使われていた同型品</a>とは表裏逆向きに取り付けられています。</p>
										<p>また、東急で使われていた<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB1500_reverse.jpg" type="image/jpeg" class="htmlbuild-anchor-type">HB-1500型の裏側</a><span class="u-small">（リンク先写真は上田電鉄モハ7255）</span>と比較しても、電動機やフレーム形状などに差違があることが分かります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hb2000-ikk">
									<div class="p-section__hdg">
										<h3>HB-2000<span class="p-section__subhdg">（伊豆急行モハ8250形）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/HB2000_izukyu8250.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/HB2000_izukyu8250.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2006-05-28 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">伊豆急行モハ8252</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>伊豆急行に譲渡された8000系は、モハ8200形、モハ8250形、クハ8000形に<a href="cp#hb2000">HB-2000型</a>を積んでいますが、このうちモハ8250形は表裏逆向きに取り付けられています。</p>
										<p>また、電動機は東急時代と同じく神鋼電機製と日立製作所製の2種類が存在します。写真は神鋼電機製のものです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c2000m-toyama">
									<div class="p-section__hdg">
										<h3>C-2000M<span class="p-section__subhdg">（富山地方鉄道17480形）</span></h3>
										<p class="p-section__hdg-note">DC1500V、容量約2000l/min</p>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/cp/C2000M_toyama17480.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/cp/C2000M_toyama17480.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2013-11-03 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">富山地方鉄道モハ17482</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>富山地方鉄道に譲渡された8590系は、モハ17480形偶数車（東急デハ8690形）のCPが<a href="cp#hs20g">HS-20型</a>から、同鉄道の他車種の多くに使用されているC-2000M型に交換されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
