<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"template": {
					"name": "tokyu"
				},
				"title": "東急電車の禁煙標記",
				"heading": "禁煙標記",
				"dateModified": "2006-07-01",
				"description": "東急線の列車は言うまでもなく全車禁煙ですが、それを示す車内標記は車種や年代によってバリエーションが豊富です。近年はピクトグラムの導入や、プレート式をやめて化粧板に直接印刷されたものになるなどの変化もあります。",
				"image": "https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_blue.jpg",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/sty/", "name": "車両形態" }
				]
			}
		</script>
	</head>
	<body>
		<main>
			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="string">
				<div class="p-section__hdg">
					<h2>文字のみのタイプ</h2>
				</div>

				<div class="c-grid -wide -hdg-c">
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="bold-purple">
							<div class="p-section__hdg">
								<h3>太フォント、英文紺字</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_purple.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/bold_purple.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-07-30 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ8218（4次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>長方形のプレートに赤字で「禁煙」、紺色で「NO SMOKING」と書かれています。ほかの太フォントタイプと比べると字体が若干異なります。残存枚数は1桁台と思われます。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="bold-black">
							<div class="p-section__hdg">
								<h3>太フォント、英文黒字</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_black.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/bold_black.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-07-30 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ8040（4次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>太フォント、英文黒字のタイプ。こちらも残存枚数わずかと思われますが、譲渡車両には多数現存します。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="bold-blue">
							<div class="p-section__hdg">
								<h3>太フォント、英文青字</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/bold_blue.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/bold_blue.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-25 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ1312（3次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>2000系1次車までの車両に広く使用されています。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="thin-black">
							<div class="p-section__hdg">
								<h3>細フォント、英文黒字</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/thin_black.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/thin_black.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-25 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ7908（2次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>8000系や8500系、7700系などの一部は、フォントが細字なタイプとなっています。</p>
							</div>
						</section>
					</div>
				</div>
			</section>

			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="pictogram1">
				<div class="p-section__hdg">
					<h2>ピクトグラム（旧）</h2>
				</div>

				<div class="c-grid -wide -hdg-c">
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="pic-str">
							<div class="p-section__hdg">
								<h3>ピクトグラム + 文字</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/pic_str.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/pic_str.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-18 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ7653（1次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>2000系アメニティ向上車や1000系5次車ではピクトグラム標記が採用され、プレートの左側に禁煙サイン、右側は従来どおり「禁煙」「NO SMOKING」と文字が書かれています。8000系（東横線所属車）や8500系、7600系の室内・車体更新車もこのタイプに交換されました。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="pic-only">
							<div class="p-section__hdg">
								<h3>ピクトグラムのみ</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/pic_only.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/pic_only.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-18 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ8001（1次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>大井町線の8000系車体更新車は、正方形のシールによる掲出となり、文字はなく禁煙サインのみです。</p>
							</div>
						</section>
					</div>
				</div>
			</section>

			<section class="p-section -hdg-a htmlbuild-heading-self-link" id="pictogram2">
				<div class="p-section__hdg">
					<h2>ピクトグラム（新）</h2>
				</div>

				<div class="c-grid -wide -hdg-c">
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="3000">
							<div class="p-section__hdg">
								<h3>新3000系</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/3000.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/3000.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-25 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ3013（3次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>新3000系からは、室内標記が化粧板に直接印刷されたものとなり、禁煙サインもデザインが変わり小型のものが号車標記と一体になった形で印刷されています。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="y000">
							<div class="p-section__hdg">
								<h3>Y000系</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/Y000.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/Y000.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-24 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハY011（1次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>こどもの国線のY000系は、地下線に乗り入れることがないためか号車標記がなく、禁煙サインが車号標記と一体になっています。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="300">
							<div class="p-section__hdg">
								<h3>300系</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/300.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/300.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-06-24 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ301A（1次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>世田谷線の300系は、車号標記とは独立した位置に禁煙サインのみが印刷されています。</p>
							</div>
						</section>
					</div>
					<div class="c-grid__item">
						<section class="p-section -hdg-c htmlbuild-heading-self-link" id="9000-renewal">
							<div class="p-section__hdg">
								<h3>9000系化粧板修繕車</h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/nosmoking/9000_renewal.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/nosmoking/9000_renewal.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="364" class="htmlbuild-image" />
										<!-- 撮影日: 2006-07-01 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ9011（3次車）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>2003年より9000系の化粧板修繕工事が開始されましたが、2本目以降は室内標記も交換対象となりました。禁煙サインは再び旧デザインのものとなり、号車標記と一体になって印刷されています。</p>
							</div>
						</section>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
