<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急7200系、7600系、7700系の集電装置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">7200系、7600系、7700系の集電装置</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2011年1月1日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急7600系、7700系と、7200系（デヤ7200、デヤ7290）に搭載されている集電装置・パンタグラフのバリエーションを紹介します。</p>
					</div>

					<ol class="p-toc"></ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="pantograph">
						<div class="p-section__hdg">
							<h2>菱形パンタグラフ</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt43">
									<div class="p-section__hdg">
										<h3>PT43</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT43.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT43.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-06-30 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7701（1次車）</p>
										</figcaption>
									</figure>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT43_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT43_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-03-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7701（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>PT43型は旧6000系に搭載されたパンタグラフで、地下鉄日比谷線乗り入れに備えて折り畳み高さを小さくし、また集電舟はホーンを舟から分離して軽量化され、追従性能を向上して剛体架線に対応したものとなっています。</p>
										<p>後に旧7000系や旧3000系の一部にも搭載され、現在でも7700系のうちデハ7701、デハ7802に残るほか、クハ7500形から電装化されたデヤ7290の上り方もPT43型が搭載されています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt44">
									<div class="p-section__hdg">
										<h3>PT44</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-06-30 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7801（1次車）</p>
										</figcaption>
									</figure>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-02-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7810（3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>旧7000系、7200系に搭載されたPT44型はPT43型とよく似ていますが、台枠内部の形状が異なるほか、下げシリンダを前後のいずれにも設置できるよう架台やシリンダに接続するてこが双方に準備されている個体が多いのが特徴です。なお、実際には下り方にのみシリンダが接続されていますが、デヤ7200のみは上り方の接続となっています。</p>
										<p>
											7200系3次車の一部と4次車からは台枠取付部の<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT43_few-insulator.jpg" type="image/jpeg" title="リンク先写真はデヤ7290上り方（PT43型）" class="htmlbuild-anchor-type"><!-- 撮影日: 2007-03-27 -->絶縁碍子が少なくなりました</a>。デヤ7200、デヤ7290は特殊車への改造にあたりパンタグラフが増設されていますが、それらも少ないタイプとなっています。
										</p>
										<p>
											現在、東急に残る個体はPT43型ともどもすべてホーンが2本のタイプとなっていますが、弘南鉄道6000系や福島交通7000系、上田電鉄7200系に<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44_horn1.jpg" type="image/jpeg" title="リンク先写真は福島交通デハ7111" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-07-22 -->1本ホーンのタイプ</a>が残っています。
										</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt44s-c">
									<div class="p-section__hdg">
										<h3>PT44S（C型）</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44S-C.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44S-C.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-08-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7705（2次車）</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44S-C_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44S-C_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-02-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7805（3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7700系のうちデハ7705のみは、ほかに類を見ないPT44S-C型を載せていますが、形状や大きさはPT44型に近く、わずかに台枠部のフック形状がPT44S-D型、E型と同じものとなっています。</p>
										<p>なお、シリンダ架台は片側のみの設置です。</p>
									</div>

									<ul class="p-notes">
										<li>2012年3月24日、搭載車がデハ7806に変わっていることを確認しました。</li>
									</ul>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt44s">
									<div class="p-section__hdg">
										<h3>PT44S（D型、E型）</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44S.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44S.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-07-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7682（1次車）下り方</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT44S_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT44S_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-03-03 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7681（1次車）下り方</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7600系改造車両は、PT44S-D型または同E型に換装されています。これは9000系や8637F〜8642Fなどに採用されているもので、小型化されて全長が短くなり、折り畳み高さを抑えるために上枠と下枠が重なるようにされたことで関節部の構造が大きく変わっています。また、電磁鍵外しが台枠内に組み込まれたほか、舟体の形状もPT44型などとは異なります。</p>
										<p>2丁パンタ車であるデハ7681、デハ7682のみにみられる特徴として、下り方の個体のみ、避雷器がある側の上枠と下枠の間接部同士を繋ぐ横控管（枕木方向）がありません。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt4309">
									<div class="p-section__hdg">
										<h3>PT4309（架線検測車・測定用）</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT4309.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT4309.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2005-05-17 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7290（2次車）下り方</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT4309_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT4309_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-03-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デヤ7290（2次車）下り方</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>7200系架線検測車（デヤ7290）の下り方に設けられている測定用パンタグラフは、8000系グループで使用されているPT4309型となっています。この個体のみ、主ばねにカバーがされていません。なお、7200系や7700系譲渡車の中にも、譲渡後にPT4304型やPT4309型へ載せ替えられた例が存在します。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="single-arm">
						<div class="p-section__hdg">
							<h2>シングルアーム形パンタグラフ</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="pt7108">
									<div class="p-section__hdg">
										<h3>PT7108</h3>
									</div>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT7108-A.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT7108-A.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-06-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7715（5次車）</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT7108-B.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT7108-B.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2010-06-07 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7815（4次車）</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/pt/PT7108_side.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/pt/PT7108_side.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="324" class="htmlbuild-image" />
												<!-- 撮影日: 2007-04-22 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7815（4次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>サハ7950形から電装化されたデハ7715、デハ7815は、下り方（#1と#2の冷房装置の間）にシングルアーム形の集電装置を装備します。当初はホーンが1本のタイプで異彩を放っていましたが、まもなく両車ともノーマルな2本タイプに交換されました。これら2台は主ばね周りなどの形状に差異がみられ、デハ7815の方は8000系グループや1000系のシングルアーム形と同じ形状となっています。</p>
										<p>2007年には7600系のデハ7653、デハ7673もシングルアーム形に交換されましたが、いずれも2010年までに廃車となり、7600系、7700系のシングルアーム形パンタグラフ搭載車は消滅しました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
