<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急1000N系（池上、多摩川線）、1000N′系　屋根上機器配置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">屋根上機器配置　1000N系（池上、多摩川線）、1000N′系</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2010年8月1日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="roof_7200" class="c-link">7200系</a></li>
							<li><a href="roof_7600" class="c-link">7600系</a></li>
							<li><a href="roof_7700" class="c-link">7700系</a></li>
							<li><a href="roof_7700n" class="c-link">7915F</a></li>
							<li><a aria-current="page" class="c-link">1000N系（池多摩線）、1000N′系</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急池上線、多摩川線で活躍する1000N系、1000N′系電車の屋根上写真を紹介します。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="tc-1000">
						<div class="p-section__hdg">
							<h2>クハ1000形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="tc-1000N">
									<div class="p-section__hdg">
										<h3>1000N系、1000N′系</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/1000N2.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/1000N2.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-05-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ1017（4次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>車央部に冷房装置が3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。冷房装置の両脇には、ほぼ車体全長にわたってランボードが設けられています。</p>
										<p>上り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="m-1200">
						<div class="p-section__hdg">
							<h2>デハ1200形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="m-1200N">
									<div class="p-section__hdg">
										<h3>1000N系</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/1200N.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/1200N.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-05-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1213（3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>上り方車端部に集電装置（菱形またはシングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。なお、主ヒューズ（MF）を通る配管は2本です。</p>
										<p>冷房装置は車央部に3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="m-1200N2">
									<div class="p-section__hdg">
										<h3>1000N′系</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/1200N2.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/1200N2.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-05-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1221（4次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>1000N′系のデハ1200形は、主ヒューズ（MF）を通る配管が1本となっています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="mc-1300">
						<div class="p-section__hdg">
							<h2>デハ1300形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="mc-1300N">
									<div class="p-section__hdg">
										<h3>1000N系、1000N′系</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/roof/1300N2.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/roof/1300N2.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2009-05-27 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ1323（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>上り方車端部に集電装置（菱形またはシングルアーム形パンタグラフ）が設置されており、その上り方には避雷器があります。集電装置から延びる配管は、上り方妻面から床下へ繋がっています。なお、主ヒューズ（MF）を通る配管は2本です。</p>
										<p>冷房装置は車央部に3台配置されており、キセの開口部は両端の2台は下り方に、中央の1台は上り方に開けられています。集電装置や冷房装置の両脇には、ほぼ車体全長にわたって大型のランボードが設けられています。</p>
										<p>下り方の乗務員室直上には逆L字型のSRアンテナがあります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
