<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の情報伝送装置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main role="main" id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">情報伝送装置</h1>
						<p class="p-page-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2008年4月1日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急電鉄の車両に搭載されている情報伝送装置のバリエーションを紹介します。</p>
					</div>

					<ol class="p-subtoc" role="directory">
						<li><a href="#door-non-treat">扉非扱い制御用</a></li>
						<li><a href="#atc">列車情報などの伝送用</a></li>
					</ol>
				</div>
				<div class="l-main__main">
					<section class="p-section -hdg-a" id="door-non-treat">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">扉非扱い制御用</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">大井町線</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/dnt_oimachi.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_oimachi.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_oimachi.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_oimachi.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_oimachi.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_oimachi.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-06-08 --></a
											>
											<span class="c-embedded-caption -data">クハ8091（12-1次車）海側</span>
										</div>
									</div>

									<div class="p-text">
										<p>東急線で初めてトランスポンダ式装置が導入されたのは1989年で、目蒲線と大井町線の扉非扱い制御用として導入されました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">池上、多摩川線</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/dnt_ikegami.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-01-24 --></a
											>
											<span class="c-embedded-caption -data">クハ7912（4次車）山側</span>
										</div>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/dnt_ikegami_7600.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami_7600.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami_7600.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami_7600.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami_7600.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/dnt_ikegami_7600.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-03-21 --></a
											>
											<span class="c-embedded-caption -data">クハ7601（1次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>池上線ではワンマン運転に伴い、TASC地点情報伝送を当装置で行っています。なお、7600系の伝送装置は車掌台上部に設置されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="atc">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">列車情報などの伝送用</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">東横線（1000系まで）</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/atc_toyoko.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_toyoko.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_toyoko.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_toyoko.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_toyoko.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_toyoko.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2009-01-17 --></a
											>
											<span class="c-embedded-caption -data">クハ9013（3次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>東横線では1997年のATC導入にあたり、列車制御などの情報伝送をトランスポンダで行っています。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">目黒線、こどもの国線（Y000系）</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/atc_meguro.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_meguro.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_meguro.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_meguro.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_meguro.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_meguro.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-12-06 --></a
											>
											<span class="c-embedded-caption -data">クハ3004（2次車）山側</span>
										</div>
									</div>

									<div class="p-text">
										<p>TASC地点情報伝送やホームドア制御などを行う目黒線では、東横線とは異なるタイプの装置が導入されました。</p>
										<p>7000系ワンマン車両を導入していたこどもの国線では、1991年より開扉方向制御にトランスポンダを採用しています。1999～2000年に導入されたY000系には、新3000系と同じタイプの装置が搭載されました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">大井町線</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/tra/atc_oimachi.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_oimachi.jpg?type=avif;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_oimachi.jpg?type=avif;w=1000;quality=80 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_oimachi.jpg?type=webp;w=500;quality=90, https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_oimachi.jpg?type=webp;w=1000;quality=80 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/tra/atc_oimachi.jpg?type=jpeg;w=500;quality=90" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-06-21 --></a
											>
											<span class="c-embedded-caption -data">デハ8641（18-2次車）海側</span>
										</div>
									</div>

									<div class="p-text">
										<p>大井町線では2008年のATC導入にあたり、従来の扉非扱い制御用とは別にトランスポンダが搭載されました。</p>
										<p>東横線ATC化後に大井町線へ転籍した車両は、しばらく東横時代の装置を搭載したまま運用されていましたが、東横線へ戻った9000系1編成を除き、ほかの大井町車と同じ新型タイプに換装されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
