<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の台車（TS-300系）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">TS-300系台車</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2022年8月7日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">TS-300</a></li>
							<li><a href="truck_ts700" class="c-link">TS-700</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts1000" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>1954年に登場した旧5000系では従来の吊り掛け式に代わり、初の本格的カルダン台車としてTS-301型が開発されました。続いて超低床路面電車用のTS-302型、1電動機2軸駆動方式のTS-311型、TS-312型、TS-315型など、高性能電車の黎明期らしく意欲的な作品が多いのが特徴です。</p>
						<p>これらTS-300系の番台は、後にTS-800系やTS-1000系に分類されない電車用台車として使用されるようになり、箱根登山鉄道や阪堺電気軌道で採用実績があります。東急電鉄では世田谷線の台車更新のほか、軌道検測車の台車に使用されています。</p>
					</div>
				</div>
				<main class="l-content__main">
					<table class="p-table -full">
						<thead>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">製造初年</th>
								<th scope="col">最多履数</th>
								<th scope="col">使用車両</th>
								<th scope="col">現状</th>
								<th scope="col">備考</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#ts301-m" class="c-link">TS-301</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center"><span class="htmlbuild-datetime">1954年</span></td>
								<td class="u-cell -center">78両</td>
								<td rowspan="2">5000系・5200系</td>
								<td>保存</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts301-t" class="c-link">TS-301</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">31両</td>
								<td>保存</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts302-m" class="c-link">TS-302</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1955年</span></td>
								<td class="u-cell -center">6編成<span class="u-small">（12台）</span></td>
								<td>デハ200形</td>
								<td>保存</td>
								<td>連接部台車はTS-501型</td>
							</tr>
							<tr>
								<td>TS-308 <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1957年</span></td>
								<td class="u-cell -center">1両</td>
								<td>5000系<span class="u-small">（サハ5368）</span></td>
								<td>消滅</td>
								<td></td>
							</tr>
							<tr>
								<td>TS-311 <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1960年</span></td>
								<td class="u-cell -center">4両</td>
								<td>6000系A編成</td>
								<td>消滅</td>
								<td></td>
							</tr>
							<tr>
								<td>TS-312 <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1960年</span></td>
								<td class="u-cell -center">4両</td>
								<td>6000系B編成</td>
								<td>消滅</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts315-m" class="c-link">TS-315</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1961年</span></td>
								<td class="u-cell -center">12両</td>
								<td>6000系C編成</td>
								<td>保留</td>
								<td></td>
							</tr>
							<tr>
								<td>TS-322 <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center"><span class="htmlbuild-datetime">1965年</span></td>
								<td class="u-cell -center">6両</td>
								<td>サハ3250形<span class="u-small">（3251除く）</span></td>
								<td>消滅</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts332-m" class="c-link">TS-332</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center"><span class="htmlbuild-datetime">1994年</span></td>
								<td class="u-cell -center">14両<span class="u-small">（14台）</span>→10編成<span class="u-small">（20台）</span></td>
								<td rowspan="2">デハ70形、80形、300系</td>
								<td>現役</td>
								<td>300系のうち6台はTS-332Tより改造</td>
							</tr>
							<tr>
								<td><a href="#ts332t" class="c-link">TS-332T</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">14両<span class="u-small">（14台）</span>→10編成<span class="u-small">（20台）</span></td>
								<td>現役</td>
								<td>300系は連接台車</td>
							</tr>
							<tr>
								<td><a href="#ts333-t" class="c-link">TS-333</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td rowspan="2" class="u-cell -center"><span class="htmlbuild-datetime">1998年</span></td>
								<td class="u-cell -center">1両<span class="u-small">（2台）</span></td>
								<td rowspan="2">サヤ7590形</td>
								<td>現役</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts334-t" class="c-link">TS-334</a> <span class="c-tokyu-truck">中間</span></td>
								<td class="u-cell -center">1両<span class="u-small">（1台）</span></td>
								<td>現役</td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="ts301">
						<div class="p-section__hdg">
							<h2>TS-301型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts301-m">
							<div class="p-section__hdg">
								<h3>TS-301 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS301_kumamoto5102A.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS301_kumamoto5102A.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2007-01-02 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">熊本電気鉄道モハ5102A 上熊本方（東急デハ5032 上り方）</p>
								</figcaption>
							</figure>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS301_kumamoto5101A.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS301_kumamoto5101A.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2007-01-02 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">熊本電気鉄道モハ5101A 上熊本方（東急デハ5031 上り方）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1954年に登場した旧5000系、5200系に使用された台車で、それまでの台車と比べて下揺れ枕を廃し外板を薄くするなど、車体とともに大幅な軽量化が計られました。</p>
								<p>2本の横梁からそれぞれ吊り下げられた主電動機は車軸に対して直角に配置され、駆動装置で結ばれる<dfn>直角カルダン方式</dfn>となっています。軸箱支持はデハ3800形などで採用経験のあるペデスタル軸ばね式であり、後の<a href="truck_ts800">TS-800系台車</a>の基礎にもなっています。</p>
								<p>徹底した軽量化の弊害で後に外板補強を余儀なくされたのですが、補強形態にはバリエーションがみられます。</p>
								<p>旧5000系グループは熊本電気鉄道を最後に全車引退しましたが、最後まで残ったモハ5101Aが北熊本車庫で動態保存されているほか、静態保存車も存在します。</p>
							</div>
						</section>

						<section class="p-section -hdg-b" id="ts301-t">
							<div class="p-section__hdg">
								<h3>TS-301 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS301_ueda5251.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS301_ueda5251.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2007-05-05 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">上田電鉄クハ5251 別所温泉方（東急デハ5202 下り方）</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>同形式の付随台車で、主電動機等を搭載しません。</p>
								<p>旧5000系グループの制御車、付随車は岳南鉄道譲渡車の引退をもって現役から退きましたが、上田電鉄などに保存車が残っています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts302">
						<div class="p-section__hdg">
							<h2>TS-302型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts302-m">
							<div class="p-section__hdg">
								<h3>TS-302 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS302_204.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS302_204.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2009-02-01 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ204 海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>
									1955年に登場した玉電用連接車デハ200形の動力台車。超低床車の先駆けともなった存在で、車輪径は510mmです。車輪の内側に側梁を置く<dfn>内軸箱方式</dfn>となっており、外側に露出した基礎ブレーキ装置が目立ちます。なお、連接部分は一軸台車として有名な<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS501_204.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-02-01 -->TS-501型</a><span class="u-small">（リンク先写真はデハ204海側）</span>であり、付随台車となっています。
								</p>
								<p>デハ200形は1969年の玉川線、砧線廃止とともに引退しましたが、電車とバスの博物館に1編成が保存されており、間近で観察することが可能です。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts315">
						<div class="p-section__hdg">
							<h2>TS-315型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts315-m">
							<div class="p-section__hdg">
								<h3>TS-315 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS315_konan6007_motor.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS315_konan6007_motor.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2007-05-26 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">弘南鉄道デハ6007 大鰐温泉方（東急デハ6007 上り方）モーター側</p>
								</figcaption>
							</figure>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS315_konan6007_gear.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS315_konan6007_gear.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2007-05-26 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">弘南鉄道デハ6007 中央弘前方（東急デハ6007 下り方）・第1段歯車装置側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1960年に登場した旧6000系では、製造費を安くかつ全電動車編成に匹敵する運転性能を実現するために<dfn>1電動機2軸駆動方式</dfn>となりました。すなわち1つの台車に搭載する主電動機は1個となり、その構造はもちろん外観も非常にユニークです。また、サハ5368のTS-308型台車で試用された空気ばねを本格採用したのもこの車種が初めてです。</p>
								<p>旧6000系は電機品が東洋電機製造のA編成、東京芝浦電気のB編成、量産車（東洋電機製造）のC編成の3タイプが存在しましたが、現在は弘南鉄道大鰐線にC編成が残るのみであり、台車はA編成のTS-311型をベースとしたTS-315型となっています。主電動機の取付方はA編成と同じく平行式ですが、軸ばねはゴムから金属ばねへ、基礎ブレーキ装置もドラムブレーキから一般的な両抱き踏面式になるなどの変更点があります。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts332">
						<div class="p-section__hdg">
							<h2>TS-332型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts332-m">
							<div class="p-section__hdg">
								<h3>TS-332 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS332_307B.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS332_307B.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2009-02-28 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ307B（2次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>世田谷線で活躍していた旧性能車両のうち、デハ70形、デハ80形のカルダン駆動化が1994年〜1997年にかけて行われ、台車が換装されました。東急電車用の新製台車としては初めて密封式のコロ軸受が採用され、走行時には車軸が回転する様子を見ることができます。</p>
								<p>デハ70形、デハ80形は全車両が電動車でしたが、主電動機は片側の台車のみに搭載し、他方は付随台車（TS-332T）とされました。また、いずれも車高に余裕があるため、スペーサを挟んでの対応となっていた特徴があります。</p>
								<p>
									1999年に登場した300系連接車両は、台車や空気圧縮機などの一部機器を在来車から流用していますが、動力台車が不足したため一部は付随台車を電動化しています。また後述する付随台車に続き、2004年には2台が追加新造されました。なお、流用に際しスペーサが撤去されたほか、<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS332_301B_adhere.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2007-01-28 -->増粘着材噴射装置</a><span class="u-small">（リンク先写真はデハ301B上り方海側）</span>が設けられています。
								</p>
							</div>
						</section>

						<section class="p-section -hdg-b" id="ts332t">
							<div class="p-section__hdg">
								<h3>TS-332T <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS332T_305.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS332T_305.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2009-02-28 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ305B―デハ305A（2次車）連接部山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>
									300系の連接部は付随台車となっており、主電動機を装備しないほか、<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS332T_309_bolster.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2012-09-17 -->枕梁</a><span class="u-small">（リンク先写真はデハ309A―デハ309B海側）</span>は連接部用のものが使用されています。
								</p>
								<p>デハ70形、デハ80形からの流用品が多数を占めますが、2000年に不足分2台が新製されたほか、2003年には予備品確保のためかさらに1台が追加されました。</p>
								<p>
									また、2016年頃には元々あったペデスタル部のボルト留め機構を利用して、一部の台車に<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS332T_310_oil.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2016-10-23 -->フランジ塗油器</a><span class="u-small">（リンク先写真はデハ310B―デハ310A山側）</span>が追設されました。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts333">
						<div class="p-section__hdg">
							<h2>TS-333型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts333-t">
							<div class="p-section__hdg">
								<h3>TS-333 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS333_7590.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS333_7590.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2009-01-20 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">サヤ7590 上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1998年に新製された軌道検測車サヤ7590形は、軌道測定のため3台車方式となり、固定軸距は2300mm、端台車の基礎ブレーキ装置は両抱き式の踏面ブレーキとなっています。</p>
								<p>軸箱間にはレール変位検出器を支えるバーが架けられており、非接触方式にて通り方向の変位測定が行われます。また、各台車の1位側車軸（写真右上）には上下方向の変位測定を行う変換器を装備しています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts334">
						<div class="p-section__hdg">
							<h2>TS-334型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts334-t">
							<div class="p-section__hdg">
								<h3>TS-334 <span class="c-tokyu-truck">中間台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS334_7590.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS334_7590.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="1022" height="341" class="htmlbuild-image" />
										<!-- 撮影日: 2009-01-20 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">サヤ7590 車央部山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>サヤ7590形の中間台車で、端台車とは別形式を名乗ります。外観的にはブレーキ装置を持たないため制輪子が省略されているほか、側梁形状やボルスタアンカー周りなどに差異がみられます。</p>
								<p>端台車と同じく、軸箱間にはレール変位検出器を支えるバーが架けられているのが目立ちますが、中間台車では通り方向だけでなく中央部に軌間方向の変位検出器も搭載しているため、吊り具が大型のものとなっている違いがあります。</p>
								<p>
									この他、キロ程の管理を行う装備として第4軸の山側軸端（写真左側）には距離パルス発生器が設置されています。また、距離補正は非接触の<dfn>データ・デポシステム</dfn>、すなわち枕木に取り付けられたDD地上子と車両側のDD車上子の通信により行われており、第3軸脇の海側には高速走行に対応した<a href="https://media.w0s.jp/image/tokyu/sty/truck/FE3_7590.jpg" type="image/jpeg" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-09-17 -->DD車上子（FE-3型）</a>が搭載されています。
								</p>
							</div>
						</section>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
