<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の台車（TS-1000系）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">TS-1000系台車</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2010年3月1日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts300_old" class="c-link">TS-300（消滅）</a></li>
							<li><a href="truck_ts700_old" class="c-link">TS-700（消滅）</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts800_old" class="c-link">TS-800（消滅）</a></li>
							<li><a aria-current="page" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東急車輛製造では、1970年代にボルスタレス台車の開発に着手し、軸梁式のTS-1001型とペデスタル式のTS-1002型を製作。さらにTS-1002型を基に、基礎ブレーキを当時電動車で一般的だった踏面式にしたTS-1003型を製作し、旧6000系のデハ6202に履かせて各種試験を行いました。</p>
						<p>これらの試験ののち、1986年の9000系にて量産台車が採用され、以降の鉄道線車両の標準となっています。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#ts1004">TS-1004型</a></li>
						<li><a href="#ts1005">TS-1005型</a></li>
						<li><a href="#ts1006">TS-1006型</a></li>
						<li><a href="#ts1007">TS-1007型</a></li>
						<li><a href="#ts1010">TS-1010型</a></li>
						<li><a href="#ts1011">TS-1011型</a></li>
						<li><a href="#ts1019">TS-1019型</a></li>
						<li><a href="#ts1020">TS-1020型</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">製造初年</th>
								<th scope="col">最多履数</th>
								<th scope="col">使用車両</th>
								<th scope="col">備考</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#ts1004ns" class="c-link">TS-1004</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center">1986年</td>
								<td class="u-cell -center">59両</td>
								<td rowspan="2">9000系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1005ns" class="c-link">TS-1005</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">58両</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1006ns" class="c-link">TS-1006</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center">1988年</td>
								<td class="u-cell -center">82両</td>
								<td rowspan="2">1000系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1007ns" class="c-link">TS-1007</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">32両</td>
								<td>デハ1350形からの付随車化改造車1両を含む</td>
							</tr>
							<tr>
								<td><a href="#ts1010ns" class="c-link">TS-1010</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center">1991年</td>
								<td class="u-cell -center">18両</td>
								<td rowspan="2">2000系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1011ns" class="c-link">TS-1011</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">12両</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1019ns" class="c-link">TS-1019</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td rowspan="2" class="u-cell -center">1999年</td>
								<td class="u-cell -center">42両</td>
								<td rowspan="2">新3000系、Y000系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts1020ns" class="c-link">TS-1020</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">42両</td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="ts1004">
						<div class="p-section__hdg">
							<h2>TS-1004型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1004ns">
							<div class="p-section__hdg">
								<h3>TS-1004 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1004.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1004.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-04-20 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ9405（2次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1986年登場の9000系が履くTS-1004型・1005型は、従来のTS-800系台車を踏襲してペデスタル式の軸受けとなっているほか、軸箱も共通ですが、8000系のボルスタ付き台車と比較すると側梁の彎曲は浅くなっています。牽引装置は、中心ピンに通した牽引梁と緩衝ゴムによって構成されます。</p>
								<p>
									なお、デハ9200形・デハ9600形の台車軸受（向かって左側）には、<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1004-ge-axle.jpg" type="image/jpeg" title="リンク先写真はデハ9207下り方山側">軸端式の接地装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>が追設されています。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1005">
						<div class="p-section__hdg">
							<h2>TS-1005型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1005ns">
							<div class="p-section__hdg">
								<h3>TS-1005 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1005.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1005.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-04-20 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ9105（2次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>9000系の付随台車で、基礎ブレーキ装置は従来の8000系と同じく、動力台車の片押式踏面ブレーキに対してディスクブレーキとなっています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1006">
						<div class="p-section__hdg">
							<h2>TS-1006型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1006ns">
							<div class="p-section__hdg">
								<h3>TS-1006 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1006.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1006.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-06-17 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ1223（4次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>日比谷線乗入れ用として1988年に導入された1000系は、先代の乗入れ車である旧7000系と同じく、床面高さが1125mmとほかの車種より45mm低くなっています。そのため、9000系の台車と比較すると、軸ばね寸法が変更されて側梁の位置が低くなったほか、肩部の形状が異なるなど若干の差異がみられます。</p>
								<p>
									2003年の東横線1010F組替えに伴い、長らく営業を外れていたデハ1362、デハ1363が復帰しましたが、1362の台車は<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1006A.jpg" type="image/jpeg" title="リンク先写真はデハ1362上り方山側"><!-- 撮影日: 2006-04-09 -->TS-1006A型<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>とされ、当初は側梁の右側に改造銘板が追加されていました。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1007">
						<div class="p-section__hdg">
							<h2>TS-1007型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1007ns">
							<div class="p-section__hdg">
								<h3>TS-1007 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1007.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1007.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-03-01 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ1101（1次車）上り方山側</p>
								</figcaption>
							</figure>
							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1007_1015.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1007_1015.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2006-03-03 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ1015（4次車）上り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1000系の付随台車で、動力台車と同じく、高さを抑えて日比谷線乗入れに対応しています。</p>
								<p>東横線クハ1000形・クハ1100形の台車には、側梁両端にコイルばねによる踏面清掃装置が追設されています。</p>
								<p>
									2枚目の写真は、<a href="https://media.w0s.jp/image/tokyu/sty/truck/abs-1000.jpg" type="image/jpeg" title="リンク先写真はクハ1015山側"><!-- 撮影日: 2007-11-11 -->フラット防止装置<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>を搭載していたクハ1015のもので、検知装置が設置されており、軸箱も特殊な形状となっています。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1010">
						<div class="p-section__hdg">
							<h2>TS-1010型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1010ns">
							<div class="p-section__hdg">
								<h3>TS-1010 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1010.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1010.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-06-18 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ2453（2次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>田玉線の増発対策として1992年に導入された2000系の台車は、側梁形状などに9000系の面影が残るものの、軸受け部を中心に改良が成されており、印象は大きく異なります。</p>
								<p>軸箱支持は直上のコイルと両脇に設けられた円筒ゴムによって支持する方式に変更され、牽引装置は中心ピンと横梁をZ字型のリンクで結んだ<dfn>Zリンク方式</dfn>となりました。また、主電動機は旧7000系以来続いた中空軸をやめて中実軸となり、駆動装置にはTD継手を使用しています。</p>
								<p>電動台車のみにみられる特徴として、向かって左側の軸受けには軸端接地装置が取り付けられており、以降の鉄道線新造車両にも採用されています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1011">
						<div class="p-section__hdg">
							<h2>TS-1011型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1011ns">
							<div class="p-section__hdg">
								<h3>TS-1011 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1011.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1011.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-03-01 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ2101（1次車）下り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>2000系の付随台車で、9000系・1000系と同じく、基礎ブレーキ装置は動力台車の片押式踏面ブレーキに対してディスクブレーキとなっています。</p>
								<p>従来、先頭台車の排障器はペデスタル部に取り付けられていましたが、軸箱支持方式が変更されたため側梁から伸びるものとなりました。</p>
								<p>2003年には、クハ2000形2両（2001、2002）へ軌条塗油器の設置が行われ、連結面方台車に噴射口が設けられています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1019">
						<div class="p-section__hdg">
							<h2>TS-1019型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1019ns">
							<div class="p-section__hdg">
								<h3>TS-1019 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1019.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1019.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-01-31 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ3404（2次車）下り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>
									1999年に登場した新3000系の電動車に使用されている台車。軸箱支持は軸梁式となり、固定軸距は従来より100mm短縮され2100mmとなりました。また、この形式から基礎ブレーキ装置が変更され、対応する付随台車ともに片押式踏面の<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1019-unitbrake.jpg" type="image/jpeg" title="リンク先写真はデハ3407上り方山側"><!-- 撮影日: 2009-06-18 -->ユニットブレーキ<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>となりました。軸受は<a href="truck_ts300#ts332">TS-332型</a>に続いて密封式が採用されています。
								</p>
								<p>
									同じ年に登場したこどもの国線用Y000系にも同形式の台車が使用されていますが、路線に急カーブを抱えているため<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1019-wheel.jpg" type="image/jpeg" title="リンク先写真はデハY011上り方山側"><!-- 撮影日: 2009-02-22 -->防音車輪<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>が使用されています。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts1020">
						<div class="p-section__hdg">
							<h2>TS-1020型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts1020ns">
							<div class="p-section__hdg">
								<h3>TS-1020 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS1020.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS1020.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" class="htmlbuild-image" />
										<!-- 撮影日: 2009-01-31 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ3104（2次車）下り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>新3000系・Y000系の付随台車で、基礎ブレーキ装置は動力台車と同一です。そのため、違いとしては主電動機や軸端取付接地装置などを搭載していない程度で、外観はほぼ同じものとなっています。</p>
								<p>クハ3100形の一部とクハY000形全車には、TS-1000系台車としては初めて軌条塗油器が設置されました。TS-800系台車と同じく、噴射口を左右の軸箱部からバーで支える方式ですが、設置位置が低くなっています。また、TS-800系履用車では先頭車に塗油器を載せる場合、噴射口は連結面方台車に設けられていましたが、本形式では運転台方台車となっています。</p>
								<p>
									2007年には、クハY000形に<a href="https://media.w0s.jp/image/tokyu/sty/truck/FM01.jpg" type="image/jpeg" title="リンク先写真はクハY002下り方山側"><!-- 撮影日: 2007-03-21 -->摩擦緩和システム<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>（FRIMOS: Fricion Moderating System）が設置され、連結面方台車に噴射口の架台が取り付けられています。
								</p>
							</div>
						</section>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts300_old" class="c-link">TS-300（消滅）</a></li>
							<li><a href="truck_ts700_old" class="c-link">TS-700（消滅）</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts800_old" class="c-link">TS-800（消滅）</a></li>
							<li><a aria-current="page" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
