<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の台車（TS-700系　消滅した台車）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">TS-700系台車<span class="p-title__sub-hdg">（消滅した台車）</span></h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2009年1月1日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts300_old" class="c-link">TS-300（消滅）</a></li>
							<li><a aria-current="page" class="c-link">TS-700（消滅）</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts800_old" class="c-link">TS-800（消滅）</a></li>
							<li><a href="truck_ts1000" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>1962年に登場した旧7000系は日本初のオールステンレスカーとして有名ですが、台車は米国バッド社との技術提携により完成した<dfn>パイオニアⅢ形</dfn>が採用され、軸ばねを廃した簡素な構造と外側ディスクブレーキでユニークなものでした。東急の鉄道線では、続く7200系と8000系5次車までの制御車でも、ブレーキディスクが内側になったTS-707型、TS-708型を採用しましたが、1975年の8500系より付随台車ともペデスタル軸ばね式のTS-800系となっています。</p>
						<p>ここでは今も譲渡車や保存車で見ることのできるTS-701型と、近年まで残っていたTS-708型を紹介します。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#ts701">TS-701型</a></li>
						<li><a href="#ts708">TS-708型</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">製造初年</th>
								<th scope="col">最多履数</th>
								<th scope="col">使用車両</th>
								<th scope="col">備考</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#ts701ns" class="c-link">TS-701</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1962年</td>
								<td class="u-cell -center">134両</td>
								<td>旧7000系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts701t" class="c-link">TS-701（T）</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center"></td>
								<td class="u-cell -center">2両</td>
								<td>福島交通サハ7300形</td>
								<td>TS-701型の電装解除化</td>
							</tr>
							<tr>
								<td><a href="#ts708ns" class="c-link">TS-708</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1969年</td>
								<td class="u-cell -center">52両</td>
								<td>旧8000系（1～5次車）、7200系、7600系</td>
								<td>7200系、7600系はTS-707型淘汰用</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="ts701">
						<div class="p-section__hdg">
							<h2>TS-701型<span class="p-section__subhdg">（PⅢ-701型）</span></h2>
						</div>

						<section class="p-section -hdg-b" id="ts701ns">
							<div class="p-section__hdg">
								<h3>TS-701 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure>
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS701.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701.jpg?type=avif;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701.jpg?type=avif;w=2048;quality=50 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701.jpg?type=webp;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701.jpg?type=webp;w=2048;quality=50 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" />
										</picture>
										<!-- 撮影日: 2006-09-02 --></a
									>
								</div>
								<figcaption class="p-embed__caption c-caption -meta">
									<p class="c-caption__title">水間鉄道デハ7003</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1962年に登場した旧7000系の台車として、国内で初めて採用されたパイオニアⅢ形台車です。軸ばねのないすっきりした外観はPⅢ台車共通ですが、車軸端に取り付けられた外側ディスクブレーキと車体天秤梁に結合されたボルスタアンカ受けが目立ち、同台車最大の特徴となっています。</p>
								<p>なお、車内騒音を考慮し、床面の主電動機点検蓋は設けられていません。</p>
							</div>
						</section>

						<section class="p-section -hdg-b" id="ts701t">
							<div class="p-section__hdg">
								<h3>TS-701 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure>
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS701T.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701T.jpg?type=avif;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701T.jpg?type=avif;w=2048;quality=50 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701T.jpg?type=webp;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701T.jpg?type=webp;w=2048;quality=50 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS701T.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" />
										</picture>
										<!-- 撮影日: 2006-01-17 --></a
									>
								</div>
								<figcaption class="p-embed__caption c-caption -meta">
									<p class="c-caption__title">福島交通サハ7315</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>全電動車方式で登場した旧7000系ですが、1991年に福島交通に譲渡された車両のうち、3両編成用の中間車は付随車サハ7300形となり、電装解除されました。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts708">
						<div class="p-section__hdg">
							<h2>TS-708型<span class="p-section__subhdg">（PⅢ-708型）</span></h2>
						</div>

						<section class="p-section -hdg-b" id="ts708ns">
							<div class="p-section__hdg">
								<h3>TS-708 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>
							<figure>
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS708.jpg" type="image/jpeg">
										<picture>
											<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS708.jpg?type=avif;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS708.jpg?type=avif;w=2048;quality=50 2x" />
											<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS708.jpg?type=webp;w=1024;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS708.jpg?type=webp;w=2048;quality=50 2x" />
											<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS708.jpg?type=jpeg;w=1024;quality=60" alt="写真拡大" />
										</picture>
										<!-- 撮影日: 2005-04-16 --></a
									>
								</div>
								<figcaption class="p-embed__caption c-caption -meta">
									<p class="c-caption__title">上田交通クハ7551</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>7200系ではTc車（クハ7500形）のみパイオニア台車TS-707型が採用されました。側梁は弓形に湾曲し、ボルスタアンカ位置は低くなっています。また、ブレーキディスクは1軸に1枚が内側に配置されました。</p>
								<p>
									一方、1969年登場の8000系では、5次車までT台車にTS-708型が使用されていました。基本構造はTS-707型とほぼ同じですが、昭和50年代に基礎ブレーキ装置の<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS708-twindisk.jpg" type="image/jpeg" title="リンク先写真は上田交通クハ7551"><!-- 撮影日: 2003-12-30 -->ツインディスク化<img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" /></a>が行われています。1990年より<a href="truck_ts800_old#ts815f">TS-815F型</a>に交換され、流用品でクハ7500形および改造車クハ7600形のTS-707型を置き換えています。しかし、クハ7600形はまもなく新製された<a href="truck_ts800#ts839">TS-839型</a>に交換され、クハ7500形も上田交通・豊橋鉄道の譲渡先でTS-800系への交換が進んだため、2008年に消滅しました。
								</p>
								<p>写真は軌条塗油器を備えていた上田交通クハ7551の運転台方台車で、側梁に取り付けられた噴射口が見えます。</p>
							</div>
						</section>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts300_old" class="c-link">TS-300（消滅）</a></li>
							<li><a aria-current="page" class="c-link">TS-700（消滅）</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts800_old" class="c-link">TS-800（消滅）</a></li>
							<li><a href="truck_ts1000" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
