<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の台車（TS-800系）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">TS-800系台車</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2013年10月19日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts700" class="c-link">TS-700</a></li>
							<li><a aria-current="page" class="c-link">TS-800</a></li>
							<li><a href="truck_ts800_old" class="c-link">TS-800（消滅）</a></li>
							<li><a href="truck_ts1000" class="c-link">TS-1000</a></li>
							<li><a href="truck_etc" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>1967年に登場したTS-800系台車の初作品は京王井の頭線3000系向けで、東急電鉄では同年に7200系の電動車でTS-802型が採用されました。続く8000系グループの大量増備と、パイオニアⅢ台車の置き換えで20年以上にわたり製造され、東急の代表的な台車として1990年代には在籍車両の7割以上に普及するまでに至りました。</p>
						<p>東急電車に採用されたTS-800系台車は7形式あり、いずれも軸箱守はペデスタル式、枕ばねはダイヤフラム形空気ばねの組み合わせで、どれも似たような形態ですが、側梁の仕上げ方など改良を重ねており、細かく見るとバリエーション豊かなことが分かります。</p>
					</div>


				</div>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">製造初年</th>
								<th scope="col">最多履数</th>
								<th scope="col">使用車両</th>
								<th scope="col">備考</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#ts807ns" class="c-link">TS-807M</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1974年</td>
								<td class="u-cell -center">128両</td>
								<td>旧8000系・8500系（6〜9次車）</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts807a" class="c-link">TS-807A</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1978年</td>
								<td class="u-cell -center">248両</td>
								<td>旧8000系・8500系（10〜20次車、軽量試作）</td>
								<td>サハ8300形電装改造車8両を含む</td>
							</tr>
							<tr>
								<td><a href="#ts807a" class="c-link">TS-807B</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1980年</td>
								<td class="u-cell -center">60両</td>
								<td>8090系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts807a" class="c-link">TS-807C</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1990年</td>
								<td class="u-cell -center">2両</td>
								<td>8500系（21次車）</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts815cm" class="c-link">TS-815M</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1974年</td>
								<td class="u-cell -center">19両</td>
								<td>8500系（6〜9次車）</td>
								<td>TS-815C型へ改造済み</td>
							</tr>
							<tr>
								<td><a href="#ts815c" class="c-link">TS-815A</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1978年</td>
								<td class="u-cell -center">48両</td>
								<td>旧8000系・8500系（10〜14次車）</td>
								<td>サハ8900形はTS-815C型へ改造済み</td>
							</tr>
							<tr>
								<td><a href="#ts815c" class="c-link">TS-815C</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1983年</td>
								<td class="u-cell -center">21両</td>
								<td>8500系（15〜19次車）</td>
								<td>TS-815M型、TS-815A型改造タイプを除く</td>
							</tr>
							<tr>
								<td><a href="#ts815c" class="c-link">TS-815D</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1984年</td>
								<td class="u-cell -center">21両</td>
								<td>8090系（16〜17次車）</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts831ns" class="c-link">TS-831</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1986年</td>
								<td class="u-cell -center">6両</td>
								<td>7600系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#ts832ns" class="c-link">TS-832</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1987年</td>
								<td class="u-cell -center">30両</td>
								<td>7700系</td>
								<td>サハ7950形電装改造車2両を含む</td>
							</tr>
							<tr>
								<td><a href="#ts835ns" class="c-link">TS-835</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1987年</td>
								<td class="u-cell -center">28両</td>
								<td>7700系、旧7200系（クハ7501, 7508）</td>
								<td>クハ7500形はTS-839型として履替え</td>
							</tr>
							<tr>
								<td><a href="#ts839ns" class="c-link">TS-839</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1993年</td>
								<td class="u-cell -center">3両</td>
								<td>7600系</td>
								<td>TS-708型淘汰用</td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="ts807">
						<div class="p-section__hdg">
							<h2>TS-807型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts807ns">
							<div class="p-section__hdg">
								<h3>TS-807, TS-807M <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS807M.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS807M.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2009-10-23 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ8728（8次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1969年に登場した大型車両8000系の動力台車として設計されたTS-807型シリーズの初期タイプで、基本構造や外観はTS-802型の後期タイプに準じていますが、固定軸距は2200mmに延長されています。</p>
								<p>1975年には、8000系をマイナーチェンジした8500系が登場していますが、同じ年に製作されたデハ8200形6次車共々、動力台車はISOネジを全面的に採用したM型となりました。</p>
								<p>2008年の8000系引退に伴い、現在はM型のみ残っています。</p>
							</div>
						</section>

						<section class="p-section -hdg-b" id="ts807a">
							<div class="p-section__hdg">
								<h3>TS-807A, TS-807B, TS-807C <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS807A.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS807A.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2009-10-23 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ8791（18-1次車）上り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>8000系グループ10次車からは、側梁がプレス成形に変更されたTS-807A型となり、側梁は丸みのある印象となったほか、ペデスタル部の形状も変更されました。</p>
								<p>
									8090系（8590系含む）の動力台車は、車体の軽量化に伴うブレーキシリンダ径の小型化<!-- 直径160→140mm -->などが行われたB型となりました。当初、側梁両端に踏面清掃装置が取り付けられていた名残で、現在でも12〜13次車には<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS807B-pedestal.jpg" type="image/jpeg" title="リンク先写真はデハ8491上り方山側" class="htmlbuild-anchor-type"><!-- 撮影日: 2009-01-12 -->取付台座</a>が残っています。なお、同様の台座はA型履用車のうち13次車や、8000系グループの制御車・付随車（TS-815型）のうち15〜16・18〜19次車などにもみられます。
								</p>
								<p>VVVF車として新造された21次車（デハ0718, 0818）は、9000系と同タイプのTKM-86型主電動機を搭載しており、台車もC型に変更されました。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts815">
						<div class="p-section__hdg">
							<h2>TS-815型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts815cm">
							<div class="p-section__hdg">
								<h3>TS-815C<span class="p-section__subhdg">（M型改造）</span> <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS815C-M.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS815C-M.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2009-11-16 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">サハ8918（9-2次車）下り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>8000系の付随台車は<a href="truck_ts700#ts708">TS-708型</a>が使用されていましたが、8500系が登場した6次車からは動力台車と同じくTS-800系となり、形式も電動車に合わせTS-815M型とされました。</p>
								<p>当初、基礎ブレーキ装置は動力台車と同じく踏面ブレーキでしたが、後にディスクブレーキ化改造を受け、先に登場していたC型（後述）に形式統合されています。</p>
								<p>なお、一部の車両には軌条塗油器が設置されていました。TS-700系台車では噴射口が側梁に直接取り付けられていましたが、当形式では左右の軸箱部からバーを渡し、その中央部に設ける形となっています。このタイプの塗油器付き台車は、2006年までに廃車や他車への付替えにより東急線からは消滅しましたが、現在でも長野電鉄譲渡車で見ることができます。</p>
							</div>
						</section>

						<section class="p-section -hdg-b" id="ts815c">
							<div class="p-section__hdg">
								<h3>TS-815C<span class="p-section__subhdg">（A型改造、オリジナル）</span>, TS-815D, TS-815E <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS815C.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS815C.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2008-12-23 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">サハ8978（18-2次車）下り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>8500系10次車以降は、動力台車と同じく側梁がプレス成形のTS-815A型となりました。後にM型と同じくディスクブレーキ化改造を受け、C型の一員となっています。</p>
								<p>15次車以降は当初からディスクブレーキ式のC型を履いています。サハ8900形15次車のうち、組込車（サハ8960）と8号車に連結された編成車は、軌条塗油器の準備車でしたが、2006年に6次車ほかから移設を受け、晴れて本設車となりました。</p>
								<p>8090系用の付随台車はB型で、動力台車と同じくブレーキシリンダ径の変更などが行われていますが、増粘着装置の設置はないため台座も存在しません。この形式もディスクブレーキ化を受けてE型となりました。</p>
								<p>
									8090系16次車以降は当初からディスクブレーキ式であり、形式はD型となりました。また、大井町線の先頭車の一部（クハ8080, 8083, 8084, 8099）の連結面方台車には、<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS807D-clean.jpg" type="image/jpeg" title="リンク先写真はクハ8083下り方山側" class="htmlbuild-anchor-type"><!-- 撮影日: 2008-10-25 -->踏面清掃装置</a>が取り付けられていました。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts831">
						<div class="p-section__hdg">
							<h2>TS-831型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts831ns">
							<div class="p-section__hdg">
								<h3>TS-831 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS831.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS831.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2006-03-03 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ7661（2次車）上り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>1986年に7200系をVVVF化改造した7600系が登場しましたが、電動車はクハ7500形を電装化改造しており、台車は従来のパイオニアⅢ・TS-707型からTS-831型へ換装されました。基本的な構造は、8000系のTS-807シリーズを踏襲しています。</p>
								<p>3次車として改造されたデハ7673のみ種車が電動車（デハ7402）であり、旧電装品はクハ7500の電装化（デヤ7290へ改造）に利用されたようです。なお、床面の主電動機点検蓋は撤去されています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts832">
						<div class="p-section__hdg">
							<h2>TS-832型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts832ns">
							<div class="p-section__hdg">
								<h3>TS-832 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS832.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS832.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2006-03-03 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">デハ7810（3次車）下り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>7000系をVVVF化改造した7700系の電動車が履く台車。TS-831型と同じく、基本的な構造はTS-807シリーズに準じていますが、床面高さの低い7700系に対応した設計であり、ボルスタ高さが低くなっています。また7000系時代と同じく、車体側のボルスタアンカ受けは車体中央寄りの設置となっているのが特徴です。</p>
								<p>
									台車換装にあたり、車体天秤梁と結合されていたボルスタアンカ受けを切除しており、跡が残っています。なお、ボルスタアンカが低い位置にあったデハ7042（現在のデハ7706）は受け具がY字型をしており、現在でも<a href="https://media.w0s.jp/image/tokyu/sty/truck/7042-bolster.jpg" type="image/jpeg" title="リンク先写真はデハ7706上り方海側" class="htmlbuild-anchor-type"><!-- 撮影日: 2006-06-04 -->撤去跡</a>にその名残がみられます。
								</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts835">
						<div class="p-section__hdg">
							<h2>TS-835型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts835ns">
							<div class="p-section__hdg">
								<h3>TS-835 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS835_7915.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS835_7915.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2008-02-26 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ7915（5次車）上り方海側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>7700系制御車・付随車用の付随台車で、低位置のボルスタやボルスタアンカ向きなどの特徴はTS-832型と同様です。</p>
								<p>写真はサハ7950形から制御車化改造を受けたクハ7915のもので、この車両のみコイルばね式の踏面清掃装置が設けられていますが、これは<a href="truck_ts1000#ts1007">東横線のTS-1007型（クハ1000・1100形）</a>と同様のものです。また、サハ7950形の一部に軌条塗油器が設けられていましたが、目蒲線分断に伴う3連化に伴い編成から外されたため、クハ7900形に移設されています。</p>
								<p>なお、余剰品がクハ7500形の化粧板修繕車（1995年度施工車のクハ7501, 7508のみ）や上田交通譲渡車の台車更新に使用されました。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="ts839">
						<div class="p-section__hdg">
							<h2>TS-839型</h2>
						</div>

						<section class="p-section -hdg-b" id="ts839ns">
							<div class="p-section__hdg">
								<h3>TS-839 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TS839.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TS839.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2009-08-19 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">クハ7601（1次車）下り方山側</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>7600系の制御車は、当初7200系時代のTS-707型をそのまま利用していましたが、8000系発生品の<a href="truck_ts700#ts708">TS-708型</a>を経て、TS-839型に換装されました。</p>
								<p>1995年度には、前述のとおり7200系化粧板修繕車（クハ7501, 7508）の台車更新が行われましたが、これはTS-839型として改造されています。豊橋鉄道譲渡後、最近になって製造銘板が現地形式である「TS-815T」のものに差し替えられています（「TS-839」の改造銘板は残されている）。</p>
							</div>
						</section>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
