<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車の台車（東急車輛製以外）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">東急車輛製以外の台車</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2019年7月3日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="truck_ts300" class="c-link">TS-300</a></li>
							<li><a href="truck_ts700" class="c-link">TS-700</a></li>
							<li><a href="truck_ts800" class="c-link">TS-800</a></li>
							<li><a href="truck_ts1000" class="c-link">TS-1000</a></li>
							<li><a aria-current="page" class="c-link">東急車輛以外</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>現在、東急電鉄の旅客車両はすべて東急車輛製造（現：総合車両製作所）製の台車を履いていますが、吊り掛け時代は日本車輌製造や川崎造船所などの台車も存在しました。また、譲渡車両では台車を履き替えた例も存在します。現在では少数派になった、東急電車や譲渡車が履く東急車輛製以外の台車を紹介します。</p>
					</div>


				</div>
				<main class="l-content__main">
					<table class="p-table">
						<thead>
							<tr>
								<th scope="col">形式</th>
								<th scope="col">製造初年</th>
								<th scope="col">最多履数</th>
								<th scope="col">使用車両</th>
								<th scope="col">備考</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#fs342ns" class="c-link">FS-342</a> <span class="c-tokyu-truck -m">動力</span></td>
								<td class="u-cell -center">1962年</td>
								<td class="u-cell -center">5両</td>
								<td rowspan="2">北陸鉄道7000系</td>
								<td>最多履数は北陸7000系の数で、西武等は含まない</td>
							</tr>
							<tr>
								<td><a href="#dt21t" class="c-link">DT-21T, TR-64, DT-21B</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">?</td>
								<td class="u-cell -center">5両</td>
								<td>最多履数は北陸7000系の数で、国鉄等は含まない</td>
							</tr>
							<tr>
								<td><a href="#tr230c" class="c-link">TR-230C</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">?</td>
								<td class="u-cell -center">?</td>
								<td>国鉄・JR 50系</td>
								<td></td>
							</tr>
							<tr>
								<td><a href="#fs097ns" class="c-link">FS-097</a> <span class="c-tokyu-truck -t">付随</span></td>
								<td class="u-cell -center">1978年</td>
								<td class="u-cell -center">1両</td>
								<td>伊予鉄道(旧)サハ500形</td>
								<td>サハ502のみ、<strong>消滅</strong></td>
							</tr>
						</tbody>
					</table>

					<section class="p-section -hdg-a" id="fs342">
						<div class="p-section__hdg">
							<h2>FS-342型</h2>
						</div>

						<section class="p-section -hdg-b" id="fs342ns">
							<div class="p-section__hdg">
								<h3>FS-342 <span class="c-tokyu-truck -m">動力台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/FS342.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/FS342.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2007-03-31 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">北陸鉄道モハ7102</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>北陸鉄道石川線へ譲渡された旧7000系は、600V降圧化に際し床下機器や主幹制御器などが一新され、台車も交換されています。</p>
								<p>電動車が履くFS-342型は、いわゆる新性能国電に広く使われていたDT-21型台車を元に、住友金属が西武鉄道向け（後に上信電鉄も）に製作したもので、構造はDT-21の量産タイプと同じです。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="dt21">
						<div class="p-section__hdg">
							<h2>DT-21型、TR-64型</h2>
						</div>

						<section class="p-section -hdg-b" id="dt21t">
							<div class="p-section__hdg">
								<h3>DT-21T, TR-64, DT-21B <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/DT21B.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/DT21B.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2007-03-31 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">北陸鉄道クハ7112</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>旧7000系は全電動車方式でしたが、北陸鉄道譲渡車のうち加賀一の宮方の先頭車は制御車とされ、台車はDT-21系・TR-64系に換装されました。</p>
								<p>石川線電車で使われているのはDT-21T型、TR-64型、DT-21B型の3種であり、DT-21Tは電装準備が成されている形式、TR-64は当初から制御車・付随車専用として作られた形式、DT-21Bは国鉄401系、421系電車等向けに一部設計変更された形式となってます。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="tr230">
						<div class="p-section__hdg">
							<h2>TR-230型</h2>
						</div>

						<section class="p-section -hdg-b" id="tr230c">
							<div class="p-section__hdg">
								<h3>TR-230C <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/TR230.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/TR230.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2019-07-03 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">マニ50 2186</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>国鉄の50系客車用に作られた台車で、ペデスタル軸ばね式、外吊りの枕ばねを持ちます。</p>
								<p>2019年に東急電鉄に譲渡されたマニ50 2186はジョイフルトレイン「リゾートエクスプレスゆう」の電源車として改造されており、台車の軸ばね、枕ばねには氷雪対策の被覆が施されています。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="fs097">
						<div class="p-section__hdg">
							<h2>FS-097型</h2>
						</div>

						<section class="p-section -hdg-b" id="fs097ns">
							<div class="p-section__hdg">
								<h3>FS-097 <span class="c-tokyu-truck -t">付随台車</span></h3>
							</div>

							<figure class="c-fit">
								<div class="p-embed -border">
									<a href="https://media.w0s.jp/image/tokyu/sty/truck/FS097.jpg" type="image/jpeg">
										<img src="https://media.w0s.jp/thumbimage/tokyu/sty/truck/FS097.jpg?type=jpeg;w=1022;quality=80" alt="写真拡大" width="960" height="320" class="htmlbuild-image" />
										<!-- 撮影日: 2008-10-19 --></a
									>
								</div>
								<figcaption class="c-caption -meta">
									<p class="c-caption__title">伊予鉄道サハ502</p>
								</figcaption>
							</figure>

							<div class="p-text">
								<p>
									伊予鉄道へ譲渡された旧サハ3350形のうち、サハ502は昭和50年代に電気指令ブレーキ化などのほかに台車換装が行われました。対応するM台車はこれより2年前の1976年に製造された<a href="https://media.w0s.jp/image/tokyu/sty/truck/FS397.jpg" type="image/jpeg" title="リンク先写真は伊予鉄道デハ303" class="htmlbuild-anchor-type"><!-- 撮影日: 2008-10-19 -->FS-397型</a>で、ともに伊予鉄道300形、500形のために制作された台車です。ダイレクトマウント式空気ばね、ペデスタル軸ばね、ボルスタアンカーなど、当時の東急電車の台車（<a href="truck_ts800">TS-800系</a>）と機能的に共通した部分が多いです。
								</p>
								<p>営業運転から撤退した後も、固定編成を組んでいたデハ303、デハ304ともに長らく古町車庫で姿を留めていましたが、2008年に解体され現存しません。</p>
							</div>
						</section>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
