<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急7700系　床下機器配置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">床下機器配置　7700系</h1>
						<p class="p-page-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2008年2月1日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="ub_7600">7600系</a></li>
							<li><a aria-current="page">7700系</a></li>
							<li><a href="ub_7700n">7915F</a></li>
							<li>
								<a href="ub_1000n">1000N系<span class="u-small">（池多）</span></a>
							</li>
							<li><a href="ub_1000n2">1000N′系</a></li>
							<li>
								<a href="ub_1500">1000系<span class="u-small">1500</span></a>
							</li>
							<li><a href="ub_7900_m">7900形山側</a></li>
							<li><a href="ub_8290">大井8290形</a></li>
							<li><a href="ub_8800">8800形海側</a></li>
						</ul>
					</nav>

					<div class="p-attention">
						<p>
							<span class="p-attention__mark">※</span>
							<span class="p-attention__text"><strong>このページに掲載している7700系は2018年度をもってすべて廃車になりました。</strong></span>
						</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急池上線、多摩川線で活躍した7700系の床下機器配置を写真で紹介します。</p>
					</div>

					<ol class="p-subtoc" role="directory">
						<li><a href="#mc-7700">デハ7700形（台車間）</a></li>
						<li><a href="#m-7800">デハ7800形（台車間）</a></li>
						<li><a href="#tc-7900">クハ7900形（台車間、東芝SIV搭載車）</a></li>
						<li><a href="#tc-7900-tdk">クハ7900形（台車間、東洋SIV搭載車）</a></li>
						<li><a href="#couple">連結部</a></li>
					</ol>
				</div>
				<div class="l-main__main">
					<section class="p-section -hdg-a" id="mc-7700">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">デハ7700形（台車間）</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="mc-7700-sea">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">海側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700s.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700s.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700s.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700s.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700s.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700s.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">デハ7710海側（3次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、24V整流装置、定位置停止支援装置（TASC）、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタトランス、ブレーキ受量器、100V蓄電池です。</p>
										<p>3両化時に、海側に定位置停止支援装置（TASC）が新設されました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="mc-7700-mount">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">山側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700m.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700m.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700m.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700m.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700m.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700m.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">デハ7706山側（2次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、24V蓄電池、VVVF主制御器（RG617-A-M型）、VVVFフィルタトランス、ブレーキ制御装置です。</p>
										<p>3両化時に、山側に24V蓄電池が新設されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="m-7800">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">デハ7800形（台車間）</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="m-7800-sea">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">海側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800s.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800s.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800s.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800s.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800s.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800s.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">デハ7806海側（3次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、100V蓄電池、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタトランス、ブレーキ受量器、空気圧縮機（HS-20型）です。</p>
										<p>3両化時に、100V蓄電池を更新・設置位置を下り方に変更の上、その撤去跡に空気圧縮機が設置されました。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="m-7800-mount">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">山側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800m.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800m.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800m.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800m.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800m.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800m.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">デハ7810山側（3次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、VVVF主制御器（RG617-A-M型）、元空気だめとその奥にVVVFフィルタトランス、ブレーキ制御装置です。</p>
										<p>3両化時に、元空気だめが設置されました。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="tc-7900">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">クハ7900形（台車間、東芝SIV搭載車）</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="tc-7900-sea">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">海側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900s.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900s.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900s.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900s.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900s.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900s.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">クハ7906海側（2次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、SIV起動装置、軌条塗油器、定位置停止支援装置（TASC）、SIVフィルタトランス、接地開閉器、空気圧縮機（HS-20型）です。</p>
										<p>3両化時に、海側に定位置停止支援装置（TASC）が新設されたほか、接触器の移設などが行われています。</p>
										<p>写真は軌条塗油器搭載車で、SIV起動装置の右隣に塗油器が設置されています。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="tc-7900-mount">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">山側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900m.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900m.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900m.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900m.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900m.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900m.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">クハ7906山側（2次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、整流装置、静止形インバータ（INV-020型）、ブレーキ制御装置、元空気だめ、情報伝送装置です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="tc-7900-tdk">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">クハ7900形（台車間、東洋SIV搭載車）</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="tc-7900-tdk-s">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">海側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900TDKs.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKs.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKs.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKs.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKs.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKs.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">クハ7910海側（3次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、SIV起動装置、定位置停止支援装置（TASC）、SIVフィルタトランス、接地開閉器、空気圧縮機（HS-20型）です。</p>
										<p>クハ7910、クハ7914は東洋製の補助電源装置を積んでおり、SIV本体、起動装置、フィルタトランス、整流装置などに差異がみられます。</p>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-c" id="tc-7900-tdk-m">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">山側</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900TDKm.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKm.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKm.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKm.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKm.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900TDKm.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-01-20 --></a
											>
											<span class="c-embedded-caption -data">クハ7910山側（3次車）</span>
										</div>
									</div>

									<div class="p-text">
										<p>主な機器は下り方から順に、整流装置、静止形インバータ（SVH-120型）、ブレーキ制御装置、元空気だめ、情報伝送装置です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="couple">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">連結部</h2>
						</div>

						<div class="p-tile -wide">
							<div class="p-tile__tile">
								<section class="p-section -hdg-b" id="couple7700">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">デハ7700形 ｰ デハ7800形間</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7700-7800_sea.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700-7800_sea.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700-7800_sea.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700-7800_sea.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700-7800_sea.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7700-7800_sea.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-02-16 --></a
											>
											<span class="c-embedded-caption -data">デハ7701 ｰ デハ7801海側</span>
										</div>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800-7700_mount.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7700_mount.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7700_mount.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7700_mount.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7700_mount.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7700_mount.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-02-09 --></a
											>
											<span class="c-embedded-caption -data">デハ7807 ｰ デハ7707山側</span>
										</div>
									</div>
								</section>
							</div>
							<div class="p-tile__tile">
								<section class="p-section -hdg-b" id="couple7800">
									<div class="p-hdg">
										<h3 class="p-hdg__hdg">デハ7800形 ｰ クハ7900形間</h3>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7800-7900_sea.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7900_sea.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7900_sea.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7900_sea.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7900_sea.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7800-7900_sea.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-02-02 --></a
											>
											<span class="c-embedded-caption -data">デハ7806 ｰ クハ7906海側</span>
										</div>
									</div>
									<div class="p-image">
										<div class="p-image__image-area">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7900-7800_mount.jpg" type="image/jpeg">
												<picture>
													<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900-7800_mount.jpg?type=avif;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900-7800_mount.jpg?type=avif;w=1000;quality=50 2x" />
													<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900-7800_mount.jpg?type=webp;w=500;quality=60, https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900-7800_mount.jpg?type=webp;w=1000;quality=50 2x" />
													<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7900-7800_mount.jpg?type=jpeg;w=500;quality=60" alt="写真拡大" class="c-image" />
												</picture>
												<!-- 撮影日: 2008-02-02 --></a
											>
											<span class="c-embedded-caption -data">クハ7906 ｰ デハ7806山側</span>
										</div>
									</div>
								</section>
							</div>
						</div>
					</section>
				</div>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="ub_7600">7600系</a></li>
							<li><a aria-current="page">7700系</a></li>
							<li><a href="ub_7700n">7915F</a></li>
							<li>
								<a href="ub_1000n">1000N系<span class="u-small">（池多）</span></a>
							</li>
							<li><a href="ub_1000n2">1000N′系</a></li>
							<li>
								<a href="ub_1500">1000系<span class="u-small">1500</span></a>
							</li>
							<li><a href="ub_7900_m">7900形山側</a></li>
							<li><a href="ub_8290">大井8290形</a></li>
							<li><a href="ub_8800">8800形海側</a></li>
						</ul>
					</nav>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
