<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急クハ7900形山側　床下機器配置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">床下機器配置　クハ7900形山側</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2008年3月1日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="ub_7600" class="c-link">7600系</a></li>
							<li><a href="ub_7700" class="c-link">7700系</a></li>
							<li><a href="ub_7700n" class="c-link">7915F</a></li>
							<li>
								<a href="ub_1000n" class="c-link">1000N系<span class="u-small">（池多）</span></a>
							</li>
							<li><a href="ub_1000n2" class="c-link">1000N′系</a></li>
							<li>
								<a href="ub_1500" class="c-link">1000系<span class="u-small">1500</span></a>
							</li>
							<li><a aria-current="page" class="c-link">7900形山側</a></li>
							<li><a href="ub_8290" class="c-link">大井8290形</a></li>
							<li><a href="ub_8800" class="c-link">8800形海側</a></li>
						</ul>
					</nav>

					<div class="p-attention">
						<p>
							<span class="p-attention__mark">※</span>
							<span class="p-attention__text"><strong>このページに掲載している7700系は2018年度をもってすべて廃車になりました。</strong></span>
						</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>7700系の床下は、東洋SIV装備車やIGBT-VVVF車など異端車の存在によりいくつかのバリエーションが存在しますが、クハ7900形の山側、各種空気だめや情報伝送装置のある部分はとくに車両ごとの差違が際立っています。</p>
						<p>1〜3次車は、当初は7000系時代と同じく空気指令式ブレーキでしたが、5次車登場と前後して電気指令化改造が行われました。さらに、1999年には目蒲線分断に伴うワンマン化対応として、池上線転籍車と同様の工事が行われ、情報伝送装置の更新などが行われています。</p>
						<p>4次車からは制御空気だめのコック設置位置が変更され、ほかの各種コックとまとまった場所となりました。また、識別票（IDタグ）の位置も異なります。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="air">
						<div class="p-section__hdg">
							<h2>元空気指令車（1〜3次車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7901">
									<div class="p-section__hdg">
										<h3>クハ7901</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7901m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7901m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7901（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、情報伝送装置、床下灯、識別票、速度計補償器、除湿装置です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7902">
									<div class="p-section__hdg">
										<h3>クハ7902</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7902m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7902m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7902（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7903">
									<div class="p-section__hdg">
										<h3>クハ7903</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7903m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7903m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7903（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7905">
									<div class="p-section__hdg">
										<h3>クハ7905</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7905m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7905m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-04-12 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7905（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7906">
									<div class="p-section__hdg">
										<h3>クハ7906</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7906m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7906m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7906（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7907">
									<div class="p-section__hdg">
										<h3>クハ7907</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7907m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7907m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-01 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7907（3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7908">
									<div class="p-section__hdg">
										<h3>クハ7908</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7908m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7908m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-04-05 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7908（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7910">
									<div class="p-section__hdg">
										<h3>クハ7910</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7910m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7910m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7910（3次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7901と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="electric">
						<div class="p-section__hdg">
							<h2>改造当初からの電気指令車（4〜5次車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7912">
									<div class="p-section__hdg">
										<h3>クハ7912</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7912m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7912m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7912（4次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、情報伝送装置、床下灯、速度計補償器、除湿装置、識別票です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7913">
									<div class="p-section__hdg">
										<h3>クハ7913</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7913m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7913m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-23 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7913（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7912と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7914">
									<div class="p-section__hdg">
										<h3>クハ7914</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7914m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7914m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-08 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7914（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>クハ7912と同じ配置ですが、管やコックなどの細部は異なります。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="t-7950">
						<div class="p-section__hdg">
							<h2>サハ7950形からの改造車（5次車）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="c7915">
									<div class="p-section__hdg">
										<h3>クハ7915</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7915m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7915m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="122" class="htmlbuild-image" />
												<!-- 撮影日: 2008-03-23 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7915（5次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>ブレーキ制御装置より下り方の主な機器は順に、元空気だめ、除湿装置、情報伝送装置、床下灯、速度計補償器、識別票です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
