<!DOCTYPE html>
<html lang="ja" itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<title>東急7600系　床下機器配置</title>

		<meta itemprop="dateModified" content="2008-02-01" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body>
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">床下機器配置　7600系</h1>
						<%- include('./_include/_contents_header_date') %>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">7600系</a></li>
							<li><a href="ub_7700" class="c-link">7700系</a></li>
							<li><a href="ub_7700n" class="c-link">7915F</a></li>
							<li>
								<a href="ub_1000n" class="c-link">1000N系<span class="u-small">（池多）</span></a>
							</li>
							<li><a href="ub_1000n2" class="c-link">1000N′系</a></li>
							<li>
								<a href="ub_1500" class="c-link">1000系<span class="u-small">1500</span></a>
							</li>
							<li><a href="ub_7900_m" class="c-link">7900形山側</a></li>
							<li><a href="ub_8290" class="c-link">大井8290形</a></li>
							<li><a href="ub_8800" class="c-link">8800形海側</a></li>
						</ul>
					</nav>

					<div class="p-attention">
						<p>
							<span class="p-attention__mark">※</span>
							<span class="p-attention__text"><strong>このページに掲載している7600系は2014年度をもってすべて廃車になりました。</strong></span>
						</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急池上線、多摩川線で活躍した7600系の床下機器配置を写真で紹介します。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="mc-7650">
						<div class="p-section__hdg">
							<h2>デハ7650形（台車間）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7650-sea">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7650s.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7650s.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7662海側（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、24V蓄電池、24V整流装置、VVVF断流器、VVVF継電器、VVVFフィルタリアクトル、接地開閉器、ブレーキ受量器です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="mc-7650-mount">
									<div class="p-section__hdg">
										<h3>山側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7650m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7650m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7662山側（2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、VVVF主制御器（RG617-B-M型）、VVVFフィルタリアクトル、ブレーキ制御装置です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="m-7670">
						<div class="p-section__hdg">
							<h2>デハ7670形（台車間）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m-7670-sea">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7670s.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7670s.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7682海側（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、ブレーキ受量器、VVVF断流器、VVVF継電器、接地開閉器、VVVFフィルタリアクトル、空気圧縮機（HS-20型）です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="m-7670-mount">
									<div class="p-section__hdg">
										<h3>山側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7670m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7670m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7682山側（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、積算電力計、VVVF主制御器（RG614-A-M型）、元空気だめとその奥にVVVFフィルタリアクトル、ブレーキ制御装置です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="tc-7600">
						<div class="p-section__hdg">
							<h2>クハ7600形（台車間）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7600-sea">
									<div class="p-section__hdg">
										<h3>海側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7600s.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7600s.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7602海側（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、SIV起動装置、接地開閉器、SIVフィルタトランス、元空気だめ、空気圧縮機（HS-20型）です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="tc-7600-mount">
									<div class="p-section__hdg">
										<h3>山側</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7600m.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7600m.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2008-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7602山側（1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>主な機器は下り方から順に、整流装置、静止形インバータ（INV-006型）、ブレーキ制御装置、100V蓄電池です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="couple">
						<div class="p-section__hdg">
							<h2>連結部</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="couple7601">
									<div class="p-section__hdg">
										<h3>クハ7600形 ｰ デハ7670形間<span class="u-small">（7601F, 7602F）</span></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7670-7600_sea.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7670-7600_sea.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7681 ｰ クハ7601海側</p>
										</figcaption>
									</figure>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7600-7670_mount.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7600-7670_mount.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7601 ｰ デハ7681山側</p>
										</figcaption>
									</figure>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="couple7603">
									<div class="p-section__hdg">
										<h3>クハ7600形 ｰ デハ7670形間<span class="u-small">（7603F）</span></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7673-7603_sea.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7673-7603_sea.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-17 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7673 ｰ クハ7603海側</p>
										</figcaption>
									</figure>

									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7603-7673_mount.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7603-7673_mount.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">クハ7603 ｰ デハ7673山側</p>
										</figcaption>
									</figure>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="couple7661">
									<div class="p-section__hdg">
										<h3>デハ7650形 ｰ デハ7670形間<span class="u-small">（7601F, 7602F）</span></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7650-7670_sea.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7650-7670_sea.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-09 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7662 ｰ デハ7682海側</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7670-7650_mount.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7670-7650_mount.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7681 ｰ デハ7661山側</p>
										</figcaption>
									</figure>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c htmlbuild-heading-self-link" id="couple7653">
									<div class="p-section__hdg">
										<h3>デハ7650形 ｰ デハ7670形間<span class="u-small">（7603F）</span></h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7653-7673_sea.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7653-7673_sea.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7653 ｰ デハ7673海側</p>
										</figcaption>
									</figure>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/7673-7653_mount.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/7673-7653_mount.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="243" class="htmlbuild-image" />
												<!-- 撮影日: 2008-02-16 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ7673 ｰ デハ7653山側</p>
										</figcaption>
									</figure>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"><%- include('./_include/_contents_footer_source') %></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
