<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急デハ8800形海側　床下機器配置</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/sty/">東急電車の車両形態</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">床下機器配置　デハ8800形海側</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2009年12月1日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="ub_7600" class="c-link">7600系</a></li>
							<li><a href="ub_7700" class="c-link">7700系</a></li>
							<li><a href="ub_7700n" class="c-link">7915F</a></li>
							<li>
								<a href="ub_1000n" class="c-link">1000N系<span class="u-small">（池多）</span></a>
							</li>
							<li><a href="ub_1000n2" class="c-link">1000N′系</a></li>
							<li>
								<a href="ub_1500" class="c-link">1000系<span class="u-small">1500</span></a>
							</li>
							<li><a href="ub_7900_m" class="c-link">7900形山側</a></li>
							<li><a href="ub_8290" class="c-link">大井8290形</a></li>
							<li><a aria-current="page" class="c-link">8800形海側</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>田園都市線所属の8500系（10両編成）には、M2, M2c車である1, 4, 6, 9号車に空気圧縮機が搭載されていましたが、2001年より順次6号車の空気圧縮機が取り外され、編成あたり3台とされました。</p>
						<p>現在では、全車両が18次車以降で組成されている2編成を除き、6号車の取り外しが完了していますが、蓄電池が移設された車、空気圧縮機の吊り枠のみ残された車など、とくに海側の床下機器の配置にはバリエーションがみられます。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="m2-8800">
						<div class="p-section__hdg">
							<h2>通常のデハ8800形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="m2-8800-7">
									<div class="p-section__hdg">
										<h3>7〜11次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-7.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-7.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2010-01-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8816海側（7-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>11次車までは蓄電池が海側に搭載されています。</p>
										<p>主な機器は下り方から順に、接地開閉器、100V蓄電池、空気圧縮機（HB-2000型）です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="m2-8800-14">
									<div class="p-section__hdg">
										<h3>14〜17次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-14.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-14.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2010-01-11 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8862海側（14-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>13次車からは蓄電池が山側搭載となりました。CPの搭載位置も若干1位側にずれています。</p>
										<p>主な機器は下り方から順に、接地開閉器、空気圧縮機（HB-2000型）です。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="cpremove">
						<div class="p-section__hdg">
							<h2>CP撤去車（6号車に連結されたデハ8800形）</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="cpremove-10">
									<div class="p-section__hdg">
										<h3>10〜11次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-cpremove10.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-cpremove10.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2009-10-23 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8835海側（10-1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>蓄電池が海側搭載のCP撤去車で、主な機器は下り方から順に、接地開閉器、100V蓄電池です。</p>
										<p>CP撤去が行われた当初はこの形態がもっとも多かったのですが、編成替えや廃車の進行に伴い、2009年12月の時点ではデハ8827、デハ8835、デハ8838の3両のみが残っています。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="cpremove-13">
									<div class="p-section__hdg">
										<h3>14〜17次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-cpremove13.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-cpremove13.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2010-01-20 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8850海側（14-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>蓄電池が山側搭載のCP撤去車で、海側の主な機器は接地開閉器のみです。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="bttransfer">
									<div class="p-section__hdg">
										<h3>蓄電池移設車（18-1次車）</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-BTtransfer.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-BTtransfer.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2009-11-24 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8897海側（18-1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>CP撤去後に編成替えで6号車に組み込まれた車両（すべて18-1次車）では、山側の蓄電池が海側に移設されましたが、山側時代と同じく台車間のもっとも1位側に搭載されています。ただし、デハ8895のみは移設が行われず、山側のままとなっています。</p>
										<p>主な機器は下り方から順に、100V蓄電池、接地開閉器です。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="frame">
									<div class="p-section__hdg">
										<h3>HB-2000型の吊り枠搭載車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-frame.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-frame.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2009-11-27 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8849海側（14-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>一部の車両はCP撤去に際し、吊り枠が残されています。とくにデハ8845は、完全に撤去されながら後に吊り枠のみを再び載せられるという変わった経歴を持っています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="hs20">
						<div class="p-section__hdg">
							<h2>HS-20型コンプレッサ搭載車</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="hs20-18">
									<div class="p-section__hdg">
										<h3>18〜21次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8800s-20G.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8800s-20G.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2009-12-10 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ0808海側（19-1次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>18次車以降の車両は空気圧縮機がHS-20型となっていますが、全車両が18次車以降で組成されている8637F、8642Fの2編成は、6号車のCP撤去が行われていません。</p>
										<p>写真は、乗車率測定装置を搭載した8637Fの6号車で、空気圧縮機の右隣には変換器が搭載されています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="m2-8290">
						<div class="p-section__hdg">
							<h2>（参考）デハ8290形</h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c" id="m2-8290-16">
									<div class="p-section__hdg">
										<h3>16〜17次車</h3>
									</div>
									<figure class="c-fit">
										<div class="p-embed -border">
											<a href="https://media.w0s.jp/image/tokyu/sty/ub/8290s.jpg" type="image/jpeg">
												<img src="https://media.w0s.jp/thumbimage/tokyu/sty/ub/8290s.jpg?type=jpeg;w=485;quality=60" alt="写真拡大" width="485" height="152" class="htmlbuild-image" />
												<!-- 撮影日: 2009-11-29 --></a
											>
										</div>
										<figcaption class="c-caption -meta">
											<p class="c-caption__title">デハ8283海側（16-2次車）</p>
										</figcaption>
									</figure>

									<div class="p-text">
										<p>参考までに、8090系の6号車に組み込まれているデハ8290形も紹介します。</p>
										<p>主な機器は下り方から順に、接地開閉器、空気圧縮機（HB-2000型）、100V蓄電池で、デハ8800形と比較すると蓄電池が2位側に搭載され、空気圧縮機との位置関係が逆になっています。</p>
									</div>
								</section>
							</div>
						</div>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
