/*
テキストレベルセマンティックス

Styleguide 1.2.
*/

/*
テキストリンク（ビュレットアイコン）

Markup:
<a href="/" class="c-link">他ページ</a>
<a href="#" class="c-link">同一ページ</a>
<a aria-current="page" class="c-link">現在ページ</a>

Styleguide 1.2.1
*/
.c-link {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-inline-size: 0.45em;
	--_icon-block-size: 0.75em;
	--_icon-color: var(--color-gray);

	&:any-link {
		&::before {
			display: inline flow-root;
			clip-path: var(--_icon-clip-path);
			margin-inline-end: 0.5em;
			border-block-start: var(--_icon-block-size) solid var(--_icon-color);
			inline-size: var(--_icon-inline-size);
			content: "";
		}

		/* 他ページ */
		&:not([href^="#"]) {
			--_icon-color: var(--link-color-bullet);
		}

		/* 同一ページ */
		&[href^="#"] {
			--_icon-clip-path: var(--shape-pagelink-triangle);
			--_icon-inline-size: 0.75em;
			--_icon-block-size: 0.5625em;
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}

/*
セルフリンク

Markup:
<a href="#foo" class="c-self-link">§</a>

Styleguide 1.2.2
*/
.c-self-link {
	display: inline flex;
	justify-content: center;
	outline-width: var(--outline-width-bold);
	min-inline-size: var(--self-link-size);
	text-decoration: none;
	font-family: var(--font-yu-gothic);
}

/*
ボタン型リンク、ボタン

Markup:
<a href="" class="c-button {{modifier_class}}">
  <!-- <a href> 以外にも <button> も可 -->
  <img src="/assets/image/icon/feed.svg" alt="" class="c-button__icon"/>
  <span class="c-button__text">ボタン</span>
</a>

.-feed - Feed
.-amazon - Amazon

Styleguide 1.2.3
*/
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_inline-size: auto;
	--_color: var(--color-black);
	--_background: linear-gradient(var(--color-white), var(--color-bg-light));
	--_font-size: 100%;
	--_icon-size: 1.25em;

	box-sizing: border-box;
	display: inline flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_background);
	padding: var(--_padding-block) var(--_padding-inline);
	inline-size: var(--_inline-size);
	text-decoration: none;
	line-height: var(--line-height-narrow);
	color: var(--_color);
	font-size: var(--_font-size);
	font-weight: var(--font-weight-bold);

	:where(button[type="button"]&):focus:not(:focus-visible) {
		outline: none;
	}

	/* トップページの見出し横では小さく表示 */
	.p-top-update & {
		--_padding-block: 0.35em;
		--_font-size: calc(100% / pow(var(--font-ratio), 1));
	}

	.p-sidebar-profile__banners & {
		--_padding-inline: 1px;
		--_inline-size: 100%;
	}

	&:hover {
		box-shadow: 0 0 2px var(--_border-color);
		color: var(--_color);
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41deg 100% 53%);
		--_color: var(--color-darkgray);
		--_background: hsl(41deg 100% 93%);
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(var(--color-amazon), hsl(44deg 90% 62%));
	}
}

.c-button__icon {
	block-size: var(--_icon-size);
	inline-size: var(--_icon-size);
}

.c-button__text {
}

/*
注釈リンク

Markup:
<sup class="c-footnote-ref"><a href="#fn1" id="nt1">[1]</a></sup>

Styleguide 1.2.4
*/
.c-footnote-ref {
	vertical-align: super;
	font-size: calc(100% / pow(var(--font-ratio), 2));

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		border: 1px solid var(--_border-color);
		background-color: var(--_bg-color);
		white-space: nowrap;
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button"] {
			/* JS 有効時のみ */
			outline-offset: calc(0px - var(--outline-width));
			cursor: default;
			text-decoration: none;
			color: var(--link-color);

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/*
ドメイン表記

Markup:
<a href="https://example.com/">リンク</a><small class="c-domain">(<code>example.com</code>)</small>

Styleguide 1.2.5
*/
.c-domain {
	word-break: break-all;
	color: var(--color-gray);
	font-size: calc(100% / pow(var(--font-ratio), 1));

	&::before,
	&::after {
		content: " ";
	}

	& > img {
		block-size: 1em;
		inline-size: auto;
		vertical-align: -0.1lh;
	}
}

/*
tick and cross

Markup:
<span class="c-tac {{modifier_class}}">テキスト</span>

.-tick - 肯定
.-cross - 否定

Styleguide 1.2.6
*/
.c-tac {
	white-space: nowrap;

	&::before {
		display: inline flow-root;
		margin-inline-end: 0.25em;
		min-inline-size: 1em;
		text-align: center;
		text-shadow:
			0.5px 0.5px,
			0.5px -0.5px,
			-0.5px 0.5px,
			-0.5px -0.5px;
		color: var(--_color, inherit);
		content: var(--_symbol, none);
	}

	/* 肯定 */
	&.-tick {
		--_symbol: "✓";
		--_color: var(--color-green);
	}

	/* 否定 */
	&.-cross {
		--_symbol: "✗";
		--_color: var(--color-red);
	}
}

/*
参考文献

Markup:
<span class="c-ref {{modifier_class}}">テキスト</span>

.-book - 図書
.-magazine - 雑誌
.-tetsudosho - 鉄道省文書

Styleguide 1.2.7
*/
.c-ref {
	--_space-width: 0.25em;

	/* 図書 */
	&.-book {
		/* 図書名 */
		& .c-ref__name {
			font-style: normal;

			&::before {
				content: "『";
			}

			&::after {
				content: "』";
			}
		}

		/* 本の発行年、著者名などのメタ情報 */
		& .c-ref__meta {
			&:not(:first-child) {
				margin-inline-start: calc(0px - var(--_space-width));
			}

			&:not(:last-child) {
				margin-inline-end: calc(0px - var(--_space-width));
			}

			&::before {
				margin-inline-end: calc(0px - var(--_space-width));
				content: "（";
			}

			&::after {
				margin-inline-start: calc(0px - var(--_space-width));
				content: "）";
			}

			/* 全角スペース相当の間隔を開ける */
			& > *:not(:last-child) {
				&::after {
					margin-inline-end: -0.5em;
					content: "\3000";
				}
			}
		}
	}

	/* 雑誌 */
	&.-magazine {
		/* 記事の著者名 */
		& .c-ref__author {
			&:not(:first-child) {
				margin-inline-start: calc(0px - var(--_space-width));
			}

			&:not(:last-child) {
				margin-inline-end: calc(0px - var(--_space-width));
			}

			&::before {
				content: "（";
			}

			&::after {
				content: "）";
			}
		}
	}

	/* 鉄道省文書 */
	&.-tetsudosho {
		/* 行政機関名（鉄道省、運輸省……） */
		& .c-ref__government {
			all: unset;
			margin-inline-end: calc(0px - var(--_space-width));

			&::before {
				content: "【";
			}

			&::after {
				content: "】";
			}
		}

		/* 全角スペース相当の間隔を開ける */
		& .c-ref__no,
		& .c-ref__date {
			&::before {
				margin-inline-start: -0.5em;
				content: "\3000";
			}
		}
	}
}

/* 記事タイトル */
.c-ref__article {
	&:not(:first-child) {
		margin-inline-start: calc(0px - var(--_space-width));
	}

	&:not(:last-child) {
		margin-inline-end: calc(0px - var(--_space-width));
	}

	&::before {
		content: "「";
	}

	&::after {
		content: "」";
	}
}

/*
コードハイライト

<a href="https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css">Style Sample (github.css)</a>

Markup:
<span class="c-code-highlight {{modifier_class}}">&lt;a href=&quot;https://example.com/&quot;&gt;Link&lt;/a&gt;</span>

Styleguide 1.2.8
*/
.c-code-highlight {
	/* stylelint-disable selector-class-pattern */
	&.-doctag,
	&.-keyword,
	&.-template-tag,
	&.-template-variable,
	&.-type,
	&.-variable.language_ {
		/* prettylights-syntax-keyword */
		color: #d73a49;
	}

	&.-title,
	&.-title.class_,
	&.-title.class_.inherited__,
	&.-title.function_ {
		/* prettylights-syntax-entity */
		color: #6f42c1;
	}

	&.-attr,
	&.-attribute,
	&.-literal,
	&.-meta,
	&.-number,
	&.-operator,
	&.-variable,
	&.-selector-attr,
	&.-selector-class,
	&.-selector-id {
		/* prettylights-syntax-constant */
		color: #005cc5;
	}

	&.-regexp,
	&.-string {
		/* prettylights-syntax-string */
		color: #032f62;
	}

	&.-built_in,
	&.-symbol {
		/* prettylights-syntax-variable */
		color: #e36209;
	}

	&.-comment,
	&.-code,
	&.-formula {
		/* prettylights-syntax-comment */
		color: #6a737d;
	}

	&.-name,
	&.-quote,
	&.-selector-tag,
	&.-selector-pseudo {
		/* prettylights-syntax-entity-tag */
		color: #22863a;
	}

	&.-subst {
		/* prettylights-syntax-storage-modifier-import */
		color: #24292e;
	}

	&.-section {
		/* prettylights-syntax-markup-heading */
		color: #005cc5;
		font-weight: var(--font-weight-bold);
	}

	&.-bullet {
		/* prettylights-syntax-markup-list */
		color: #735c0f;
	}

	&.-emphasis {
		/* prettylights-syntax-markup-italic */
		color: #24292e;
		font-style: italic;
	}

	&.-strong {
		/* prettylights-syntax-markup-bold */
		color: #24292e;
		font-weight: var(--font-weight-bold);
	}

	&.-addition {
		/* prettylights-syntax-markup-inserted */
		background-color: #f0fff4;
		color: #22863a;
	}

	&.-deletion {
		/* prettylights-syntax-markup-deleted */
		background-color: #ffeef0;
		color: #b31d28;
	}

	&.-char.escape_,
	&.-link,
	&.-params,
	&.-property,
	&.-punctuation,
	&.-tag {
		/* purposely ignored */
	}
	/* stylelint-enable selector-class-pattern */
}
