/*
東急電車形態研究

Styleguide 1.6.
*/

/*
車体構造

Markup:
<span class="c-tokyu-style {{modifier_class}}">8001</span>

.-light - 軽量車（8000系、8500系）

Styleguide 1.6.1
*/
.c-tokyu-style {
	/* 軽量車（8000系、8500系） */
	&.-light {
		text-decoration: underline double;
	}
}

/*
更新

Markup:
<span class="c-tokyu-renewal {{modifier_class}}">8001</span>

.-body - 車体更新
.-room - 室内更新
.-board - 化粧板修繕
.-shintama - 新玉川線復旧（8000系）

Styleguide 1.6.2
*/
.c-tokyu-renewal {
	/* 車体更新 */
	&.-body {
		color: var(--color-blue);
		text-decoration: underline wavy;
	}

	/* 室内更新 */
	&.-room {
		color: #e40000; /* 新玉川線復旧車の背景色に対してコントラスト比 4.5:1 を満たす限界値 */
		text-decoration: underline dashed;
	}

	/* 化粧板修繕 */
	&.-board {
		color: var(--color-green);
		text-decoration: underline;
	}

	/* 新玉川線復旧（8000系） */
	&.-shintama {
		border: solid #dfd;
		border-width: 1px 0;
		background: #dfd;
	}
}

/*
台車区分

Markup:
<span class="c-tokyu-truck {{modifier_class}}">台車</div>

.-m - 動力台車
.-t - 付随台車

Styleguide 1.6.3
*/
.c-tokyu-truck {
	display: inline-block;
	vertical-align: 0.125em;
	border: 1px solid;
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color, var(--color-white));
	padding: 0.25em;
	color: var(--_color, var(--color-black));
	font-weight: var(--font-weight-normal);
	font-size: min(1rem, calc(100% / var(--font-ratio-2)));
	line-height: var(--line-height-nowrap);

	.p-section__hdg & {
		margin-inline-start: 0.5em;
	}

	/* 動力台車 */
	&.-m {
		--_color: var(--color-red);
		--_bg-color: var(--color-verylightred);
	}

	/* 付随台車 */
	&.-t {
		--_color: var(--color-blue);
		--_bg-color: var(--color-superlightblue);
	}
}

/*
SIV 区分

Markup:
<span class="c-tokyu-siv {{modifier_class}}">SIV</span>

.-bs482 - BS-482
.-inv008 - INV-008
.-inv029 - INV-029
.-inv095 - INV-095

Styleguide 1.6.4
*/
.c-tokyu-siv {
	font-weight: var(--font-weight-bold);
	text-decoration: underline var(--_text-decoration-style);

	&td {
		background-color: var(--_bg-color);
		text-decoration-color: var(--_bg-color);
	}

	/* BS-482 */
	&.-bs482 {
		--_bg-color: var(--color-yellow);
		--_text-decoration-style: double;
	}

	/* INV-008 */
	&.-inv008 {
		--_bg-color: var(--color-pink);
		--_text-decoration-style: dotted;
	}

	/* INV-029 */
	&.-inv029 {
		--_bg-color: var(--color-verylightgreen);
		--_text-decoration-style: dashed;
	}

	/* INV-095 */
	&.-inv095 {
		--_bg-color: var(--color-lightblue);
		--_text-decoration-style: wavy;
	}
}

/*
列車種別カラー

Markup:
<span class="c-tokyu-train {{modifier_class}}">普通</div>

.-local - 普通
.-gkakutei - G各停
.-bkakutei - B各停
.-hibiya - 日比谷線直通
.-semiexp - 準急
.-exp - 急行
.-ltd - 特急
.-kohnan-rapid - 弘南快速
.-ikk-rapid - 伊豆急快速
.-oigawa-exp - 大井川急行
.-hokutetsu-semiexp - 北鉄準急

Styleguide 1.6.5
*/
.c-tokyu-train {
	/* 普通 */
	&.-local {
		color: var(--color-black);
	}

	/* G各停、準急、伊豆急快速 */
	&.-gkakutei,
	&.-semiexp,
	&.-ikk-rapid {
		color: #007e00; /* --color-bg-light に対してコントラスト比 4.5:1 を満たす限界値 */
	}

	/* B各停、日比谷線直通 */
	&.-bkakutei,
	&.-hibiya {
		color: var(--color-blue);
	}

	/* 急行、弘南快速、大井川急行、北鉄準急 */
	&.-exp,
	&.-kohnan-rapid,
	&.-oigawa-exp,
	&.-hokutetsu-semiexp {
		color: #db0000; /* --color-bg-light に対してコントラスト比 4.5:1 を満たす限界値 */
	}

	/* 特急 */
	&.-ltd {
		color: #ff4200; /* --color-bg-light に対してコントラスト比 3:1 を満たす限界値 */
	}
}

/*
自動放送フレーズ

Markup:
<span class="c-tokyu-announce {{modifier_class}}">フレーズ</div>

.-chime - 放送開始時のチャイム
.-manners - マナー
.-menu - メニュー
.-door - 非扱
.-attention - その他注意
.-oneman - ワンマン
.-change - 乗換
.-stand - 立客
.-cm - 宣伝
.-cmsummary - 宣伝放送概略

Styleguide 1.6.6
*/
.c-tokyu-announce {
	/* 放送開始時のチャイム */
	&.-chime {
	}

	/* マナー */
	&.-manners {
		color: var(--color-green);
	}

	/* メニュー、非扱、その他注意 */
	&:is(.-menu, .-door, .-attention) {
		color: var(--color-red);
	}

	/* ワンマン */
	&.-oneman {
		color: var(--color-blue);
	}

	/* 乗換 */
	&.-change {
		color: var(--color-lightpurple);
	}

	/* 立客、宣伝 */
	&:is(.-stand, .-cm) {
		color: var(--color-skyblue);
	}

	/* 宣伝放送概略 */
	&.-cmsummary {
		border: 1px solid;
		padding: 0.125em 0.5em;
		color: var(--color-skyblue);
		font-weight: var(--font-weight-normal);
		font-size: calc(100% / var(--font-ratio-1));

		&::before {
			margin-inline-end: 0.125em;
			content: "※";
		}
	}
}
