---
interface Props {
	href: string;
	title?: string;
}

const { href, title } = Astro.props;
---

<a href={href} type="image/jpeg"><slot /></a><img src="/assets/image/icon/image.svg" alt="(写真)" width="16" height="16" class="c-link-icon" />{title !== undefined && <small>（リンク先写真は{title}）</small>}
