---
interface Props {
	href: string;
	type: 'pdf' | 'atom' | 'amazon' | 'booth';
	auth?: boolean;
	narrow?: boolean;
}

const { href, type, auth, narrow } = Astro.props;

let typeAttribute: string | undefined;
switch (type) {
	case 'pdf': {
		typeAttribute = 'application/pdf';
		break;
	}
	case 'atom': {
		typeAttribute = 'application/atom+xml';
		break;
	}
	default:
}

const relAttribute: string[] = [];
if (auth) {
	relAttribute.push('nofollow');
}

let iconFileName = '';
if (auth) {
	iconFileName = 'padlock.svg';
} else {
	switch (type) {
		case 'pdf': {
			iconFileName = 'pdf.png';
			break;
		}
		case 'atom': {
			iconFileName = 'feed.svg';
			break;
		}
		case 'amazon': {
			iconFileName = 'amazon.png';
			break;
		}
		case 'booth': {
			iconFileName = 'booth.png';
			break;
		}
		default:
	}
}
---

<a href={href} type={typeAttribute} rel={relAttribute.length >= 1 ? relAttribute.join(' ') : undefined} class:list={['button', type !== undefined ? `-${type}` : undefined, { '-narrow': narrow }]}>
	<img src={`/assets/image/icon/${iconFileName}`} alt="" width="16" height="16" class="icon" />
	<span class="text"><slot /></span>
</a>

<style>
	@layer component {
		.button {
			display: inline flex;
			flex-wrap: nowrap;
			gap: 0.5em;
			align-items: center;
			justify-content: center;
			outline-offset: -1px;
			outline-width: var(--outline-width-bold);
			border: 1px solid var(--border-color-dark);
			border-radius: var(--border-radius-normal);
			background-color: var(--bgcolor-light);
			padding: 0.5em 0.75em;
			text-decoration-line: none;
			line-height: var(--line-height-narrow);
			color: var(--color-black);
			font-weight: var(--font-weight-bold);

			&:hover {
				box-shadow: 0 0 2px var(--border-color-dark);
			}

			/* Feed */
			&.-atom {
				border-color: var(--color-orange);
				background-color: oklch(from var(--color-orange) calc(l + 0.175) calc(c - 0.125) calc(h + 10));
				color: var(--color-darkgray);
			}

			/* Amazon */
			&.-amazon {
				border-color: var(--color-orange);
				background-color: oklch(from var(--color-orange) calc(l + 0.175) c h);
			}

			/* 小さく表示 */
			&.-narrow {
				padding-block: 0.35em;
				font-size: calc(100% / pow(var(--font-ratio), 1));
			}
		}

		.icon {
			block-size: 1.25em;
			inline-size: 1.25em;
		}

		.text {
		}
	}
</style>
