---
import * as cheerio from 'cheerio';

interface Props {
	label: string;
}

const { label } = Astro.props;

const $ = cheerio.load(await Astro.slots.render('default'));

const checkboxCtrl = $('input[type="checkbox"]').length !== 0;
const radioCtrl = $('input[type="radio"]').length !== 0;
const switchCtrl = $('w0s-input-switch').length !== 0;
---

<label class:list={['label', checkboxCtrl ? '-checkbox' : undefined, radioCtrl ? '-radio' : undefined]}>
	{(checkboxCtrl || radioCtrl || switchCtrl) && <slot />}

	<span class="text">{label}</span>

	{!checkboxCtrl && !radioCtrl && !switchCtrl && <slot />}
</label>

<style>
	@layer component {
		.label {
			display: inline flex;
			flex-wrap: wrap;
			gap: 0.5em;
			align-items: center;

			/* 一行入力欄 */
			&.-text {
			}

			/* チェックボックス、ラジオボタン */
			&:is(.-checkbox, .-radio) {
				--_border-color: transparent;
				--_bg-color: transparent;

				margin-block: calc(var(--form-control-padding) / 2);
				border: 1px solid var(--_border-color);
				border-radius: var(--border-radius-normal);
				background: var(--_bg-color);
				padding: calc(var(--form-control-padding) / 2);

				&:hover {
					--_border-color: var(--color-superlightblue);
					--_bg-color: var(--color-superlightblue);
				}

				&:focus-within {
					--_border-color: var(--color-superlightblue);
					--_bg-color: var(--color-superlightblue);

					outline: var(--outline-width-bold) solid var(--outline-color);
				}

				:global([aria-invalid='true' i]) > & {
					--_border-color: var(--invalid-border-color);
					--_bg-color: var(--color-verylightred);
				}

				& :global(input) {
					outline: none;
					block-size: 1em;
					inline-size: 1em;
				}
			}
		}

		.text {
		}
	}
</style>
