---
import { parse } from 'node-html-parser';

interface Props {
	label: string;
}

const { label } = Astro.props;

const content = await Astro.slots.render('default');

const root = parse(content);

const checkboxCtrl = root.querySelector('input[type="checkbox"]') !== null;
const radioCtrl = root.querySelector('input[type="radio"]') !== null;
const switchCtrl = root.querySelector('w0s-input-switch') !== null;
---

<label class:list={['label', checkboxCtrl ? '-checkbox' : undefined, radioCtrl ? '-radio' : undefined]}>
	{(checkboxCtrl || radioCtrl || switchCtrl) && <Fragment set:html={content} />}

	<span class="text">{label}</span>

	{!checkboxCtrl && !radioCtrl && !switchCtrl && <Fragment set:html={content} />}
</label>

<style>
	@layer component {
		.label {
			display: inline flex;
			flex-wrap: wrap;
			gap: 0.5em;
			align-items: center;

			/* 一行入力欄 */
			&.-text {
			}

			/* チェックボックス、ラジオボタン */
			&:is(.-checkbox, .-radio) {
				--_border-color: transparent;
				--_bg-color: transparent;

				margin-block: calc(var(--form-control-padding-block) / 2);
				border: 1px solid var(--_border-color);
				border-radius: var(--border-radius-normal);
				background-color: var(--_bg-color);
				padding: calc(var(--form-control-padding-block) / 2) 0.25em;

				:enabled & {
					&:hover {
						--_border-color: var(--bgcolor-lightblue);
						--_bg-color: var(--bgcolor-lightblue);
					}
				}

				&:focus-within {
					outline: var(--outline-width-bold) solid var(--outline-color);
				}

				:global([aria-invalid='true' i]) > & {
					--_border-color: var(--color-red);
					--_bg-color: var(--bgcolor-lightred);
				}

				& :global(input) {
					outline: none;
					block-size: 1em;
					inline-size: 1em;
				}
			}
		}

		.text {
		}
	}
</style>
