<span class="note-ref"><slot /></span>

<style>
	@layer component {
		.note-ref {
			display: inline flow-root;
			vertical-align: super;
			font-size: calc(100% / pow(var(--font-ratio), 2));

			& > :global(a) {
				outline-offset: calc(0px - var(--outline-width-bold));
				outline-width: var(--outline-width-bold);
				padding: 0.25em;
				text-decoration-skip-ink: none; /* JS 無効環境向け */
			}

			& > :global(a:target) {
				border: 1px solid var(--color-red);
				background-color: var(--color-verylightred);
			}

			& > :global(a[role='button' i]) {
				/* JS 有効時のみ */
				cursor: default;
				text-decoration: none;
				color: var(--link-color);
			}

			& > :global(a[role='button' i]:focus:not(:focus-visible)) {
				outline: none;
			}
		}
	}
</style>
