---
interface Props {
	id: string;
}

const { id } = Astro.props;
---

<a href={`#${encodeURIComponent(id)}`}>§</a>

<style>
	@layer component {
		a {
			display: inline flex;
			flex-wrap: nowrap;
			justify-content: center;
			outline-width: var(--outline-width-bold);
			min-inline-size: var(--self-link-size);
			text-decoration-line: none;
			font-family: var(--font-yu-gothic);
		}
	}
</style>
