---
interface Props {
	id: string;
}

const { id } = Astro.props;
---

<a href={`#${encodeURIComponent(id)}`}>ยง</a>

<style>
	@layer component {
		a {
			display: inline flex;
			justify-content: center;
			outline-width: var(--outline-width-bold);
			min-inline-size: var(--self-link-size);
			text-decoration: none;
			font-family: var(--font-yu-gothic);
		}
	}
</style>
