---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急田園都市線　上り準急（8590系、2009年）',
	heading: '田園都市線　上り準急',
	subHeading: '8590系、2009年',
	dateModified: dayjs('2009-04-10'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/dento_up_local_2006', name: '上り 普通（2006年）' },
		{ path: '/tokyu/an/dento_up_semiexp_2009', name: '上り 準急（2009年）' },
		{ path: '/tokyu/an/dento_up_semiexp_2013', name: '上り 準急（2013年）' },
		{ path: '/tokyu/an/dento_up_exp_2005', name: '上り 急行（2005年）' },
		{ path: '/tokyu/an/dento_down_local_2006', name: '下り 普通（2006年）' },
		{ path: '/tokyu/an/dento_down_exp_2005', name: '下り 急行（2005年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -semiexp">準急　押上</span>行（長津田始発）</p>
			<p class="p-tokyu-announce-car">2000系、8590系、8500系に搭載されているタイプ</p>
			<p class="p-tokyu-announce-period">2008年の副都心線渋谷延伸から、2009年の大井町線溝の口延伸まで</p>
			<p class="p-tokyu-announce-note">マナー放送、英語放送カット</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>長津田停車中</h2>
					<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、準急押上行きです。発車までしばらくお待ちください。</p>
				</section>
				<section>
					<h2>長津田発車</h2>
					<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、準急押上行きです。</p>
				</section>
				<section>
					<h2>青葉台到着</h2>
					<p>まもなく青葉台、青葉台です。青葉台を出ますと、あざみ野に停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>あざみ野到着</h2>
					<p>まもなくあざみ野、あざみ野です。<span class="c-tokyu-announce -change">横浜市営地下鉄線ご利用のお客様は乗り換えです。</span>あざみ野を出ますと、たまプラーザに停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>たまプラーザ到着</h2>
					<p>まもなくたまプラーザ、たまプラーザです。お降りの際は、足元にご注意ください。たまプラーザを出ますと、鷺沼に停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>鷺沼到着</h2>
					<p>まもなく鷺沼、鷺沼です。鷺沼を出ますと、溝の口に停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>溝の口到着</h2>
					<p>まもなく溝の口、溝の口です。<span class="c-tokyu-announce -change">JR南武線ご利用のお客様は乗り換えです。</span>溝の口を出ますと、二子玉川に停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>二子玉川到着</h2>
					<p>この電車は半蔵門線直通、準急押上行きです。まもなく二子玉川、二子玉川です。<span class="c-tokyu-announce -change">大井町線ご利用のお客様は乗り換えです。</span>お出口は右側です。二子玉川から渋谷までと、半蔵門線内の各駅に停まります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>二子玉川発車</h2>
					<p>この電車は半蔵門線直通、準急押上行きです。次は用賀、用賀です。お出口は左側です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>用賀発車</h2>
					<p>次は桜新町、桜新町です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>桜新町発車</h2>
					<p>次は駒沢大学、駒沢大学です。お出口は右側です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>駒沢大学発車</h2>
					<p>次は三軒茶屋、三軒茶屋です。お出口は左側です。<span class="c-tokyu-announce -change">世田谷線ご利用のお客様は乗り換えです。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>三軒茶屋発車</h2>
					<p>次は池尻大橋、池尻大橋です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>渋谷到着</h2>
					<p>まもなく渋谷、渋谷です。<span class="c-tokyu-announce -change">東横線、JR線、副都心線、京王井の頭線ご利用のお客様は乗り換えです。</span>お出口は右側です。この電車は半蔵門線直通、押上行きです。東急田園都市線をご利用くださいまして、ありがとうございました。</p>
				</section>
			</div>

			<p class="p-tokyu-announce-through-note">（地下鉄半蔵門線へ直通）</p>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2009年4月10日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>8590系10両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
