---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnoucePhrase from '@components/tokyu/AnnoucePhrase.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急田園都市線　上り急行（2000系、2005年）',
	heading: '田園都市線　上り急行',
	subHeading: '2000系、2005年',
	dateModified: dayjs('2005-12-31'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '田園都市線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/dento_up_local_2006', name: '上り 普通（2006年）' },
			{ path: '/tokyu/an/dento_up_semiexp_2009', name: '上り 準急（2009年）' },
			{ path: '/tokyu/an/dento_up_semiexp_2013', name: '上り 準急（2013年）' },
			{ path: '/tokyu/an/dento_up_exp_2005', name: '上り 急行（2005年）' },
			{ path: '/tokyu/an/dento_down_local_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/dento_down_exp_2005', name: '下り 急行（2005年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="押上" type="exp" cars={['2000系', '8590系', '8500系']} period="2003年の東武乗入れ開始から、2008年の副都心線渋谷延伸まで" note="マナー放送、英語放送カット" through="地下鉄半蔵門線へ直通" recordDate="2005-12-31" recordCar="2000系10両編成">
		<AnnounceStation>
			<section>
				<h2>中央林間停車中</h2>
				<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、急行押上行きです。発車までしばらくお待ちください。</p>
			</section>
			<section>
				<h2>中央林間発車</h2>
				<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は半蔵門線直通、急行押上行きです。</p>
			</section>
			<section>
				<h2>長津田到着</h2>
				<p>まもなく長津田、長津田です。<AnnoucePhrase type="change">こどもの国線、JR横浜線ご利用のお客様は乗り換えです。</AnnoucePhrase>長津田を出ますと、青葉台に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>青葉台到着</h2>
				<p>まもなく青葉台、青葉台です。青葉台を出ますと、あざみ野に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>あざみ野到着</h2>
				<p>まもなくあざみ野、あざみ野です。<AnnoucePhrase type="change">横浜市営地下鉄線ご利用のお客様は乗り換えです。</AnnoucePhrase>あざみ野を出ますと、たまプラーザに停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>たまプラーザ到着</h2>
				<p>まもなくたまプラーザ、たまプラーザです。お降りの際は、足元にご注意ください。たまプラーザを出ますと、鷺沼に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>鷺沼到着</h2>
				<p>まもなく鷺沼、鷺沼です。鷺沼を出ますと、溝の口に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>溝の口到着</h2>
				<p>まもなく溝の口、溝の口です。<AnnoucePhrase type="change">JR南武線ご利用のお客様は乗り換えです。</AnnoucePhrase>溝の口を出ますと、二子玉川に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>二子玉川到着</h2>
				<p>この電車は半蔵門線直通、急行押上行きです。まもなく二子玉川、二子玉川です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。二子玉川を出ますと、三軒茶屋に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>三軒茶屋到着</h2>
				<p>まもなく三軒茶屋、三軒茶屋です。<AnnoucePhrase type="change">世田谷線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は左側です。三軒茶屋を出ますと、渋谷に停まります。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>渋谷到着</h2>
				<p>まもなく渋谷、渋谷です。<AnnoucePhrase type="change">東横線、JR線、京王井の頭線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。この電車は半蔵門線直通、押上行きです。東急田園都市線をご利用くださいまして、ありがとうございました。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
