---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　福島交通飯坂線　上り（1000系3連、2017年）',
	heading: '福島交通飯坂線　上り',
	subHeading: '1000系3連、2017年',
	dateModified: dayjs('2017-04-07'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '福島交通の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/iizaka_up_2006_7000_2r', name: '上り 7000系2連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_7000_3r', name: '上り 7000系3連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_2_7000_2r', name: '上り 7000系2連（2006年4月）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_2r', name: '上り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_3r', name: '上り 7000系3連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2012_7000_3r', name: '上り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_2r', name: '上り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_3r', name: '上り 1000系3連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_2r', name: '下り 7000系2連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_3r', name: '下り 7000系3連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_sakuramizu_2007_7000_2r', name: '下り 桜水行 7000系2連（2007年）' },
			{ path: '/tokyu/an/iizaka_down_2008_7000_2r', name: '下り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_down_2011_7000_2r', name: '下り 7000系2連（2011年）' },
			{ path: '/tokyu/an/iizaka_down_2012_7000_3r', name: '下り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_2r', name: '下り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_3r', name: '下り 1000系3連（2017年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通　福島</span>行</p>
			<p class="p-tokyu-announce-car">1000系3両編成列車で放送されるタイプ</p>
			<p class="p-tokyu-announce-period">2017年の1000系導入から</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>飯坂温泉停車中</h2>
					<p>業務放送、パターン321、飯坂温泉、福島、3両編成。</p>
				</section>
				<section>
					<h2>飯坂温泉発車</h2>
					<p>ご乗車ありがとうございます。この電車は福島行きです。<span class="c-tokyu-announce -manners">お客様にお願いします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いします。</span></p>
					<p lang="en">This is the Iizaka Line train for Fukushima.</p>
				</section>
				<section>
					<h2>花水坂到着</h2>
					<p>まもなく花水坂です。降り口は右側です。</p>
					<p lang="en">The next station is Hanamizuzaka. The doors on the right side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>花水坂発車</h2>
					<p>次は医王寺前、医王寺前です。</p>
					<p><b class="c-tokyu-announce -cmsummary">福島交通高速バスの宣伝</b></p>
					<p><span class="c-tokyu-announce -manners">乗車券をお持ちでないお客様は、車掌が参りました際にお買い求めください。</span></p>
					<p lang="en">The next station is Iōji-mae.</p>
				</section>
				<section>
					<h2>医王寺前到着</h2>
					<p>まもなく医王寺前です。降り口は右側です。電車とホームが離れております。足元にご注意ください。</p>
					<p lang="en">The next station is Iōji-mae. The doors on the right side will open. Please watch your step when you leave the train.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>医王寺前発車</h2>
					<p>次は平野、平野です。</p>
					<p><b class="c-tokyu-announce -cmsummary">斎場の宣伝</b></p>
					<p><b class="c-tokyu-announce -cmsummary">旅行会社の宣伝</b></p>
					<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いします。お体の不自由なお客様、お年寄りには、席をお譲りください。</span></p>
					<p lang="en">The next station is Hirano.</p>
				</section>
				<section>
					<h2>平野到着</h2>
					<p>まもなく平野です。降り口は左側です。</p>
					<p lang="en">The next station is Hirano. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>平野発車</h2>
					<p>次は桜水、桜水です。</p>
					<p><b class="c-tokyu-announce -cmsummary">不動産会社の宣伝</b></p>
					<p><b class="c-tokyu-announce -cmsummary">車両整備会社の宣伝</b></p>
					<p lang="en">The next station is Sakuramizu.</p>
				</section>
				<section>
					<h2>桜水到着</h2>
					<p>まもなく桜水、桜水です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の後ろのドアは開きません。</span></p>
					<p lang="en">The next station is Sakuramizu. The doors on the right side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>桜水発車</h2>
					<p>次は笹谷、笹谷です。</p>
					<p><b class="c-tokyu-announce -cmsummary">不動産会社の宣伝</b></p>
					<p lang="en">The next station is Sasaya.</p>
				</section>
				<section>
					<h2>笹谷到着</h2>
					<p>まもなく笹谷です。降り口は右側です。ホームが離れております。足元にご注意ください。<span class="c-tokyu-announce -door">また、3両目の後ろのドアは開きません。</span></p>
					<p lang="en">The next station is Sasaya. The doors on the right side will open. Please watch your step when you leave the train.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>笹谷発車</h2>
					<p>次は上松川、上松川です。</p>
					<p><b class="c-tokyu-announce -cmsummary">子供クリニックの宣伝</b></p>
					<p lang="en">The next station is Kami-matsukawa.</p>
				</section>
				<section>
					<h2>上松川到着</h2>
					<p>まもなく上松川です。降り口は左側です。</p>
					<p lang="en">The next station is Kami-matsukawa. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>上松川発車</h2>
					<p>次は泉、泉です。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いします。</span></p>
					<p lang="en">The next station is Izumi.</p>
				</section>
				<section>
					<h2>泉到着</h2>
					<p>まもなく泉です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の後ろのドアは開きません。</span></p>
					<p lang="en">The next station is Izumi. The doors on the right side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>泉発車</h2>
					<p>次は岩代清水、岩代清水です。</p>
					<p><b class="c-tokyu-announce -cmsummary">眼科医院の宣伝</b></p>
					<p lang="en">The next station is Iwashiro-shimizu.</p>
				</section>
				<section>
					<h2>岩代清水到着</h2>
					<p>まもなく岩代清水です。降り口は右側です。</p>
					<p lang="en">The next station is Iwashiro-shimizu. The doors on the right side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>岩代清水発車</h2>
					<p>次は美術館図書館前、美術館図書館前です。</p>
					<p><b class="c-tokyu-announce -cmsummary">金物店の宣伝</b></p>
					<p><b class="c-tokyu-announce -cmsummary">リフォーム会社の宣伝</b></p>
					<p lang="en">The next station is Bijutsukan-toshokan-mae.</p>
				</section>
				<section>
					<h2>美術館図書館前到着</h2>
					<p>まもなく美術館図書館前です。降り口は右側です。ホームが離れております。足元にご注意ください。</p>
					<p lang="en">The next station is Bijutsukan-toshokan-mae. The doors on the right side will open. Please watch your step when you leave the train.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>美術館図書館前発車</h2>
					<p>次は曽根田、曽根田です。</p>
					<p><b class="c-tokyu-announce -cmsummary">風呂店の宣伝</b></p>
					<p><b class="c-tokyu-announce -cmsummary">クリニックの宣伝</b></p>
					<p lang="en">The next station is Soneda.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>曽根田発車</h2>
					<p>ご乗車ありがとうございました。次は終点、福島です。</p>
					<p><b class="c-tokyu-announce -cmsummary">クリニックの宣伝</b></p>
					<p>車内にお忘れ物のないよう、ご注意ください。<span class="c-tokyu-announce -change">JR線、阿武隈急行線はお乗り換えです。</span></p>
					<p lang="en">The next station is Fukushima terminal.</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2017年4月7日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>1000系3両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
