---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '自動放送　福島交通飯坂線　下り（1000系3連、2017年）',
	heading: '福島交通飯坂線　下り',
	subHeading: '1000系3連、2017年',
	dateModified: dayjs('2017-04-06'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '福島交通の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/iizaka_up_2006_7000_2r', name: '上り 7000系2連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_7000_3r', name: '上り 7000系3連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_2_7000_2r', name: '上り 7000系2連（2006年4月）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_2r', name: '上り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_3r', name: '上り 7000系3連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2012_7000_3r', name: '上り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_2r', name: '上り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_3r', name: '上り 1000系3連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_2r', name: '下り 7000系2連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_3r', name: '下り 7000系3連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_sakuramizu_2007_7000_2r', name: '下り 桜水行 7000系2連（2007年）' },
			{ path: '/tokyu/an/iizaka_down_2008_7000_2r', name: '下り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_down_2011_7000_2r', name: '下り 7000系2連（2011年）' },
			{ path: '/tokyu/an/iizaka_down_2012_7000_3r', name: '下り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_2r', name: '下り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_3r', name: '下り 1000系3連（2017年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="飯坂温泉" type="local" cars={['1000系3両編成列車']} period="2017年の1000系導入から" recordDate="2017-04-06" recordCar="1000系3両編成">
		<AnnounceStation>
			<section>
				<h2>福島停車中</h2>
				<p>業務放送、パターン311、福島、飯坂温泉、3両編成。</p>
			</section>
			<section>
				<h2>福島発車</h2>
				<p>ご乗車ありがとうございます。この電車は飯坂温泉行きです。次は曽根田、曽根田です。</p>

				<p><AnnoucePhrase type="cmsummary">風呂店の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">クリニックの宣伝</AnnoucePhrase></p>
				<p lang="en">This is the Iizaka Line train for Iizaka-onsen. The next station is Soneda.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>曽根田発車</h2>
				<p>次は美術館図書館前、美術館図書館前です。</p>

				<p><AnnoucePhrase type="cmsummary">金物店の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">クリニックの宣伝</AnnoucePhrase></p>
				<p lang="en">The next station is Bijutsukan-toshokan-mae.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>美術館図書館前発車</h2>
				<p>次は岩代清水、岩代清水です。</p>

				<p><AnnoucePhrase type="cmsummary">眼科医院の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">不動産の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="manners">車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いします。乗車券をお持ちでないお客様は、車掌が参りました際にお求めください。</AnnoucePhrase></p>
				<p lang="en">The next station is Iwashiro-shimizu.</p>
			</section>
			<section>
				<h2>岩代清水到着</h2>
				<p>まもなく岩代清水です。降り口は左側です。</p>
				<p lang="en">The next station is Iwashiro-shimizu. The doors on the left side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>岩代清水発車</h2>
				<p>次は泉、泉です。</p>
				<p lang="en">The next station is Izumi.</p>
			</section>
			<section>
				<h2>泉到着</h2>
				<p>まもなく泉です。降り口は右側です。</p>
				<p lang="en">The next station is Izumi. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>泉発車</h2>
				<p>次は上松川、上松川です。</p>

				<p><AnnoucePhrase type="cmsummary">子供クリニックの宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">リフォーム会社の宣伝</AnnoucePhrase></p>
				<p lang="en">The next station is Kami-matsukawa.</p>
			</section>
			<section>
				<h2>上松川到着</h2>
				<p>まもなく上松川です。降り口は右側です。</p>
				<p lang="en">The next station is Kami-matsukawa. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>上松川発車</h2>
				<p>次は笹谷、笹谷です。</p>

				<p><AnnoucePhrase type="cmsummary">不動産会社の宣伝</AnnoucePhrase></p>
				<p lang="en">The next station is Sasaya.</p>
			</section>
			<section>
				<h2>笹谷到着</h2>
				<p>まもなく笹谷です。降り口は右側です。</p>
				<p lang="en">The next station is Sasaya. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>笹谷発車</h2>
				<p>次は桜水、桜水です。</p>

				<p><AnnoucePhrase type="cmsummary">不動産会社の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">車両整備会社の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="manners">お体の不自由なお客様、お年寄りには、席をお譲りください。</AnnoucePhrase></p>
				<p lang="en">The next station is Sakuramizu.</p>
			</section>
			<section>
				<h2>桜水到着</h2>
				<p>まもなく桜水です。降り口は右側です。</p>
				<p lang="en">The next station is Sakuramizu. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>桜水発車</h2>
				<p>次は平野、平野です。</p>

				<p><AnnoucePhrase type="cmsummary">斎場の宣伝</AnnoucePhrase></p>

				<p><AnnoucePhrase type="cmsummary">旅行会社の宣伝</AnnoucePhrase></p>
				<p lang="en">The next station is Hirano.</p>
			</section>
			<section>
				<h2>平野到着</h2>
				<p>まもなく平野です。降り口は右側です。<AnnoucePhrase type="door">なお、3両目の中ドア、および後ろのドアは開きません。</AnnoucePhrase></p>
				<p lang="en">The next station is Hirano. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>平野発車</h2>
				<p>ご乗車ありがとうございます。次は医王寺前、医王寺前です。</p>

				<p><AnnoucePhrase type="cmsummary">福島交通高速バスの宣伝</AnnoucePhrase></p>
				<p lang="en">The next station is Iōji-mae.</p>
			</section>
			<section>
				<h2>医王寺前到着</h2>
				<p>まもなく医王寺前です。降り口は右側です。<AnnoucePhrase type="door">なお、3両目の中ドア、および後ろのドアは開きません。</AnnoucePhrase></p>
				<p lang="en">The next station is Iōji-mae. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>医王寺前発車</h2>
				<p>次は花水坂、花水坂です。</p>
				<p lang="en">The next station is Hanamizuzaka.</p>
			</section>
			<section>
				<h2>花水坂到着</h2>
				<p>まもなく花水坂です。降り口は左側です。</p>
				<p lang="en">The next station is Hanamizuzaka. The doors on the left side will open.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>花水坂発車</h2>
				<p>ご乗車ありがとうございました。次は終点、飯坂温泉です。車内にお忘れ物のないよう、ご注意ください。</p>
				<p lang="en">The next station is Iizaka-onsen terminal.</p>
			</section>
			<section>
				<h2>飯坂温泉到着</h2>
				<p>まもなく終点、飯坂温泉駅です。降り口は右側です。ご乗車ありがとうございました。</p>
				<p lang="en">The next station is Iizaka-onsen terminal. The doors on the right side will open.</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
