---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　福島交通飯坂線　下り（7000系3連、2012年）',
	heading: '福島交通飯坂線　下り',
	subHeading: '7000系3連、2012年',
	dateModified: dayjs('2012-09-20'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '福島交通の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/iizaka_up_2006_7000_2r', name: '上り 7000系2連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_7000_3r', name: '上り 7000系3連（2006年1月）' },
			{ path: '/tokyu/an/iizaka_up_2006_2_7000_2r', name: '上り 7000系2連（2006年4月）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_2r', name: '上り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2008_7000_3r', name: '上り 7000系3連（2008年）' },
			{ path: '/tokyu/an/iizaka_up_2012_7000_3r', name: '上り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_2r', name: '上り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_up_2017_1000_3r', name: '上り 1000系3連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_2r', name: '下り 7000系2連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_2006_7000_3r', name: '下り 7000系3連（2006年）' },
			{ path: '/tokyu/an/iizaka_down_sakuramizu_2007_7000_2r', name: '下り 桜水行 7000系2連（2007年）' },
			{ path: '/tokyu/an/iizaka_down_2008_7000_2r', name: '下り 7000系2連（2008年）' },
			{ path: '/tokyu/an/iizaka_down_2011_7000_2r', name: '下り 7000系2連（2011年）' },
			{ path: '/tokyu/an/iizaka_down_2012_7000_3r', name: '下り 7000系3連（2012年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_2r', name: '下り 1000系2連（2017年）' },
			{ path: '/tokyu/an/iizaka_down_2017_1000_3r', name: '下り 1000系3連（2017年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="飯坂温泉" type="local" cars={['7000系3両編成列車']} period="2012年度時点の放送" recordDate="2012-09-20" recordCar="7000系3両編成">
		<AnnounceStation>
			<section>
				<h2>福島発車</h2>
				<p>ご乗車ありがとうございます。この電車は飯坂温泉行きです。終点の飯坂温泉まで各駅に停まります。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いいたします。</span>次は曽根田、曽根田でございます。</p>

				<p><b class="c-tokyu-announce -cmsummary">風呂店の宣伝</b></p>

				<p><b class="c-tokyu-announce -cmsummary">クリニックの宣伝</b></p>

				<p>まもなく曽根田です。降り口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>曽根田発車</h2>
				<p>次は美術館図書館前、美術館図書館前でございます。乗車券をお持ちでないお客様は、車掌が参りました際にお求めください。</p>

				<p><b class="c-tokyu-announce -cmsummary">金物店の宣伝</b></p>

				<p><b class="c-tokyu-announce -cmsummary">クリニックの宣伝</b></p>

				<p>まもなく美術館図書館前です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の中ドア、および後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>美術館図書館前発車</h2>
				<p>次は岩代清水、岩代清水でございます。</p>

				<p><b class="c-tokyu-announce -cmsummary">眼科医院の宣伝</b></p>

				<p><b class="c-tokyu-announce -cmsummary">不動産屋の宣伝</b></p>

				<p>まもなく岩代清水です。降り口は左側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>岩代清水発車</h2>
				<p>次は泉、泉でございます。</p>

				<p><b class="c-tokyu-announce -cmsummary">薬局の宣伝</b></p>

				<p>まもなく泉です。降り口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>泉発車</h2>
				<p>次は上松川、上松川でございます。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いいたします。</span></p>

				<p><b class="c-tokyu-announce -cmsummary">子供クリニックの宣伝</b></p>

				<p>まもなく上松川です。降り口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>上松川発車</h2>
				<p>次は笹谷、笹谷でございます。</p>

				<p>まもなく笹谷です。降り口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>笹谷発車</h2>
				<p>次は桜水、桜水でございます。<span class="c-tokyu-announce -manners">お体の不自由な方、お年寄りには、席をお譲りください。</span></p>

				<p>まもなく桜水です。降り口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>桜水発車</h2>
				<p>次は平野、平野でございます。</p>

				<p><b class="c-tokyu-announce -cmsummary">斎場の宣伝</b></p>

				<p>まもなく平野です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の中ドア、および後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>平野発車</h2>
				<p>ご乗車ありがとうございます。次は医王寺前、医王寺前でございます。</p>

				<p><b class="c-tokyu-announce -cmsummary">内科・外科・泌尿器科医院の宣伝</b></p>

				<p>まもなく医王寺前です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の中ドア、および後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>医王寺前発車</h2>
				<p>次は花水坂、花水坂でございます。</p>
			</section>
			<section>
				<h2>花水坂到着</h2>
				<p>まもなく花水坂です。降り口は左側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>花水坂発車</h2>
				<p>ご乗車ありがとうございました。次は終点、飯坂温泉でございます。どなた様もお忘れ物のないよう、ご注意ください。</p>
			</section>
			<section>
				<h2>飯坂温泉到着</h2>
				<p>まもなく終点、飯坂温泉です。降り口は右側です。ご乗車ありがとうございました。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
