---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnoucePhrase from '@components/tokyu/AnnoucePhrase.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急池上線　下り（1000系、2016年）',
	heading: '池上線　下り',
	subHeading: '1000系、2016年',
	dateModified: dayjs('2016-05-28'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '池上線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/ikegami_up_2004_7700', name: '上り 7700系（2004年）' },
			{ path: '/tokyu/an/ikegami_up_2014_1500', name: '上り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/ikegami_up_2016_7700', name: '上り 7700系（2016年）' },
			{ path: '/tokyu/an/ikegami_up_2016_1000', name: '上り 1000系（2016年）' },
			{ path: '/tokyu/an/ikegami_down_2004_7700', name: '下り 7700系（2004年）' },
			{ path: '/tokyu/an/ikegami_down_2014_1500', name: '下り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/ikegami_down_2015_7700', name: '下り 7700系（2015年）' },
			{ path: '/tokyu/an/ikegami_down_2016_1000', name: '下り 1000系（2016年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="蒲田" type="local" operation="oneman" cars={['1000系（1500番台を含む）']} period="2015年から" recordDate="2016-05-28" recordCar="1000系（1500番台）3両編成">
		<AnnounceStation>
			<section>
				<h2>五反田停車中</h2>
				<p>ご案内いたします。この電車は蒲田行きです。</p>
				<p lang="en">This train is bound for Kamata.</p>
			</section>
			<section>
				<h2>大崎広小路到着</h2>
				<p>本日も東急池上線をご利用くださいまして、ありがとうございます。この電車は蒲田行きです。まもなく大崎広小路です。出口は右側です。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
				<p lang="en">Thank you for using the Tōkyū Ikegami Line. This train is bound for Kamata. We will soon make a breaf stop at Ōsakihirokōji.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>戸越銀座到着</h2>
				<p>まもなく戸越銀座です。出口は左側です。<AnnoucePhrase type="manners">お年寄りや体の不自由なお客様には、席をお譲りください。皆様のご協力をお願いいたします。</AnnoucePhrase></p>
				<p lang="en">We will soon make a breaf stop at Togoshi-ginza.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>荏原中延到着</h2>
				<p>まもなく荏原中延です。次の駅は電車とホームの間が一部広く空いております。お降りの際は足元にご注意ください。</p>
				<p lang="en">We will soon make a breaf stop at Ebara-nakanobu.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>旗の台到着</h2>
				<p>まもなく旗の台です。<AnnoucePhrase type="cm">昭和大学最寄り駅です。</AnnoucePhrase><AnnoucePhrase type="change">大井町線はお乗り換えです。</AnnoucePhrase></p>
				<p lang="en">We will soon make a breaf stop at Hatanodai. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>

				<p><AnnoucePhrase type="menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>長原到着</h2>
				<p>まもなく長原です。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。お降りになりましたら、電車から離れてお歩きください。</AnnoucePhrase></p>
				<p lang="en">We will soon make a breaf stop at Nagahara.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>洗足池到着</h2>
				<p>まもなく洗足池です。</p>
				<p lang="en">We will soon make a breaf stop at Senzoku-ike.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>石川台到着</h2>
				<p>まもなく石川台です。</p>
				<p lang="en">We will soon make a breaf stop at Ishikawa-dai.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>雪が谷大塚到着</h2>
				<p>まもなく雪が谷大塚です。出口は右側です。</p>
				<p lang="en">We will soon make a breaf stop at Yukigaya-ōtsuka.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>御嶽山到着</h2>
				<p>まもなく御嶽山です。出口は左側です。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
				<p lang="en">We will soon make a breaf stop at Ontakesan.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>久が原到着</h2>
				<p>まもなく久が原です。</p>
				<p lang="en">We will soon make a breaf stop at Kugahara.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>千鳥町到着</h2>
				<p>まもなく千鳥町です。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
				<p lang="en">We will soon make a breaf stop at Chidoricho.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>池上到着</h2>
				<p>まもなく池上です。お降りの際は、足元にご注意ください。</p>
				<p lang="en">We will soon make a breaf stop at Ikegami.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>蓮沼到着</h2>
				<p>まもなく蓮沼です。</p>
				<p lang="en">We will soon make a breaf stop at Hasunuma.</p>

				<p><AnnoucePhrase type="menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>蓮沼発車</h2>
				<p>次は蒲田、終点です。<AnnoucePhrase type="change">多摩川線、JR京浜東北線はお乗り換えです。</AnnoucePhrase>出口は左側です。</p>
				<p lang="en">The next station is Kamata. This is the last stop of this line. <AnnoucePhrase type="change">Passengers changing to the Tamagawa Line and the JR Keihin-tōhoku Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>蒲田到着</h2>
				<p>まもなく蒲田、終点です。本日も東急池上線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">We will soon be arriving at Kamata. Thank you for using the Tōkyū Ikegami Line.</p>
			</section>
		</AnnounceStation>
	</Announce>

	<ListNote>
		<li>蓮沼駅発車時の蒲田駅開扉方向案内（<q>出口は左 / 右側です</q>）は1500番台のみ。</li>
	</ListNote>
</Layout>
