---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急池上線　上り（1000系、2016年）',
	heading: '池上線　上り',
	subHeading: '1000系、2016年',
	dateModified: dayjs('2016-05-28'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/ikegami_up_2004_7700', name: '上り 7700系（2004年）' },
		{ path: '/tokyu/an/ikegami_up_2014_1500', name: '上り 1000系1500番台（2014年）' },
		{ path: '/tokyu/an/ikegami_up_2016_7700', name: '上り 7700系（2016年）' },
		{ path: '/tokyu/an/ikegami_up_2016_1000', name: '上り 1000系（2016年）' },
		{ path: '/tokyu/an/ikegami_down_2004_7700', name: '下り 7700系（2004年）' },
		{ path: '/tokyu/an/ikegami_down_2014_1500', name: '下り 1000系1500番台（2014年）' },
		{ path: '/tokyu/an/ikegami_down_2015_7700', name: '下り 7700系（2015年）' },
		{ path: '/tokyu/an/ikegami_down_2016_1000', name: '下り 1000系（2016年）' },
	],
};
---

<Layout structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　五反田</span>行</p>
			<p class="p-tokyu-announce-car">1000系（1500番台を含む）に搭載されているタイプ</p>
			<p class="p-tokyu-announce-period">2015年から</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>蒲田停車中</h2>
					<p>ご案内いたします。この電車は五反田行きです。</p>
					<p lang="en">This train is bound for Gotanda.</p>
				</section>
				<section>
					<h2>蓮沼到着</h2>
					<p>本日も東急池上線をご利用くださいまして、ありがとうございます。この電車は五反田行きです。まもなく蓮沼です。出口は左側です。</p>
					<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
					<p lang="en">Thank you for using the Tōkyū Ikegami Line. This train is bound for Gotanda. We will soon make a breaf stop at Hasunuma.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>池上到着</h2>
					<p>まもなく池上です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由なお客様には、席をお譲りください。皆様のご協力をお願いいたします。</span></p>
					<p lang="en">We will soon make a breaf stop at Ikegami.</p>
					<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>千鳥町到着</h2>
					<p>まもなく千鳥町です。次の駅は電車とホームの間が一部広く空いております。お降りの際は足元にご注意ください。</p>
					<p lang="en">We will soon make a breaf stop at Chidoricho.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>久が原到着</h2>
					<p>まもなく久が原です。</p>
					<p lang="en">We will soon make a breaf stop at Kugahara.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>御嶽山到着</h2>
					<p>まもなく御嶽山です。</p>
					<p lang="en">We will soon make a breaf stop at Ontakesan.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>雪が谷大塚到着</h2>
					<p>まもなく雪が谷大塚です。出口は右側です。</p>
					<p lang="en">We will soon make a breaf stop at Yukigaya-ōtsuka.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>石川台到着</h2>
					<p>まもなく石川台です。出口は左側です。</p>
					<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
					<p lang="en">We will soon make a breaf stop at Ishikawa-dai.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>洗足池到着</h2>
					<p>まもなく洗足池です。</p>
					<p lang="en">We will soon make a breaf stop at Senzoku-ike.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>長原到着</h2>
					<p>まもなく長原です。</p>
					<p lang="en">We will soon make a breaf stop at Nagahara.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>旗の台到着</h2>
					<p>まもなく旗の台です。<span class="c-tokyu-announce -cm">昭和大学最寄り駅です。</span><span class="c-tokyu-announce -change">大井町線はお乗り換えです。</span></p>
					<p lang="en">We will soon make a breaf stop at Hatanodai. <span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>荏原中延到着</h2>
					<p>まもなく荏原中延です。次の駅は電車とホームの間が一部広く空いております。お降りの際は足元にご注意ください。</p>
					<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。お降りになりましたら、電車から離れてお歩きください。</span></p>
					<p lang="en">We will soon make a breaf stop at Ebara-nakanobu.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>戸越銀座到着</h2>
					<p>まもなく戸越銀座です。</p>
					<p lang="en">We will soon make a breaf stop at Togoshi-ginza.</p>
					<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。ドアの開け閉めの際に手を挟まれたり、戸袋に引き込まれないようご注意ください。また、駆け込み乗車はおやめください。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大崎広小路到着</h2>
					<p>まもなく大崎広小路です。出口は右側です。</p>
					<p lang="en">We will soon make a breaf stop at Ōsakihirokōji.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>五反田到着</h2>
					<p>まもなく五反田、終点です。次の駅は電車とホームの間が一部広く空いております。お降りの際は足元にご注意ください。<span class="c-tokyu-announce -change">JR山手線、都営浅草線はお乗り換えです。</span>出口は左側です。本日も東急池上線をご利用くださいまして、ありがとうございました。</p>
					<p lang="en">We will soon be arriving at Gotanda. <span class="c-tokyu-announce -change">Passengers changing to the JR Yamanote Line and the Toei Asakusa Line, please transfer at this station. Thank you for using the Tōkyū Ikegami Line.</span></p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2016年5月28日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>1000系（1500番台）3両編成</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>五反田駅到着時の開扉方向案内（<q>出口は左 / 右側です</q>）は1500番台のみ。</li>
	</ul>
</Layout>
