---
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '自動放送　伊豆急行　下り普通（8000系、2006年）',
	heading: '伊豆急行　下り',
	subHeading: '8000系、2006年',
	dateModified: '2006-08-05',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '伊豆急行の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/izukyu_up_2006_ito', name: '上り 普通 伊東行（2006年）' },
			{ path: '/tokyu/an/izukyu_up_2006_atami', name: '上り 普通 熱海行（2006年）' },
			{ path: '/tokyu/an/izukyu_down_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/izukyu_down_2017', name: '下り 普通（2017年）' },
			{ path: '/tokyu/an/izukyu_down_rapid_2007', name: '下り 快速（2007年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="伊豆急下田" type="local" operation="oneman" trainNote="伊東始発" period="2連・4連時代" recordDate="2006-08-05" recordCar="8000系4両編成">
		<AnnounceStation>
			<section>
				<h2>伊東停車中</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>お待たせいたしました。本日は伊豆急線をご利用くださいまして、ありがとうございます。各駅停車の伊豆急下田行きです。次は南伊東、南伊東です。<AnnoucePhrase type="manners">車内は禁煙になっております。お煙草はご遠慮ください。携帯電話をお持ちのお客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。ご協力お願いいたします。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>伊東発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>お待たせいたしました。本日は伊豆急線をご利用くださいまして、ありがとうございます。各駅停車の伊豆急下田行きです。次は南伊東、南伊東です。<AnnoucePhrase type="manners">車内は禁煙になっております。お煙草はご遠慮ください。携帯電話をお持ちのお客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。ご協力お願いいたします。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>南伊東到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく南伊東、南伊東です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>南伊東発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は川奈、川奈です。</p>
			</section>
			<section>
				<h2>川奈到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく川奈、川奈です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>川奈発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は富戸、富戸です。</p>
			</section>
			<section>
				<h2>富戸到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく富戸、富戸です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>富戸発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は城ヶ崎海岸、城ヶ崎海岸です。</p>
			</section>
			<section>
				<h2>城ヶ崎海岸到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく城ヶ崎海岸、城ヶ崎海岸です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>城ヶ崎海岸発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆高原、伊豆高原です。</p>
			</section>
			<section>
				<h2>伊豆高原到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく伊豆高原、伊豆高原です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>伊豆高原発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆大川、伊豆大川です。</p>
			</section>
			<section>
				<h2>伊豆大川到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく伊豆大川、伊豆大川です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>伊豆大川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆北川、伊豆北川です。</p>
			</section>
			<section>
				<h2>伊豆北川到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく伊豆北川、伊豆北川です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>伊豆北川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆熱川、伊豆熱川です。</p>
			</section>
			<section>
				<h2>伊豆熱川到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく伊豆熱川、伊豆熱川です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>伊豆熱川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は片瀬白田、片瀬白田です。</p>
			</section>
			<section>
				<h2>片瀬白田到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく片瀬白田、片瀬白田です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>片瀬白田発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆稲取、伊豆稲取です。</p>
			</section>
			<section>
				<h2>伊豆稲取到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく伊豆稲取、伊豆稲取です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>伊豆稲取発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は今井浜海岸、今井浜海岸です。</p>
			</section>
			<section>
				<h2>今井浜海岸到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく今井浜海岸、今井浜海岸です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>今井浜海岸発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は河津、河津です。</p>
			</section>
			<section>
				<h2>河津到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく河津、河津です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>河津発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は稲梓、稲梓です。</p>
			</section>
			<section>
				<h2>稲梓到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく稲梓、稲梓です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>稲梓発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は蓮台寺、蓮台寺です。</p>
			</section>
			<section>
				<h2>蓮台寺到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく蓮台寺、蓮台寺です。お降りのお客様は、ドア付近でお待ちください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>蓮台寺発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は伊豆急下田、伊豆急下田、終点です。どなた様もお忘れ物ございませんよう、お支度ください。</p>
			</section>
			<section>
				<h2>伊豆急下田到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>ご乗車ありがとうございました。まもなく伊豆急下田、伊豆急下田、終点です。どなた様も、お忘れ物ございませんよう、お気を付けください。本日は伊豆急線をご利用くださいまして、ありがとうございました。まもなく伊豆急下田、終点です。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
