---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　熊本電気鉄道菊池線　上り（5100形、2006年）',
	heading: '熊本電気鉄道菊池線　上り',
	subHeading: '5100形、2006年',
	dateModified: dayjs('2006-05-06'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '熊本電気鉄道の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/kikuchi_up_2006', name: '上り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_up_2009', name: '上り 5100形（2009年）' },
			{ path: '/tokyu/an/kikuchi_up_keroro_2012', name: '上り ケロロ電車（2012年）' },
			{ path: '/tokyu/an/kikuchi_up_2015', name: '上り 5100形（2015年）' },
			{ path: '/tokyu/an/kikuchi_down_2006', name: '下り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_down_2008', name: '下り 5100形（2008年）' },
			{ path: '/tokyu/an/kikuchi_down_keroro_2012', name: '下り ケロロ電車（2012年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="上熊本" type="local" operation="oneman" period="2008年の宣伝放送中止まで" recordDate="2006-05-06" recordCar="5100形1両編成">
		<AnnounceStation>
			<section>
				<h2>北熊本発車時</h2>
				<p>たいへん長らくお待たせいたしました。毎度、電車をご利用頂きありがとうございます。上熊本行きです。お乗り間違えのないようご注意ください。上熊本までの所要時間はおよそ9分の予定です。ドア付近にお立ちのお客様は、ドアの開閉にご注意ください。</p>
			</section>
			<section>
				<h2>北熊本発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は坪井川公園、坪井川公園です。<span class="c-tokyu-announce -manners">手荷物は網棚か膝の上に置き、車内が混み合っているときは座席の詰め合わせをお願いします。</span>なお、整理券、回数券は、折り曲げず運賃箱にお入れください。</p>
			</section>
			<section>
				<h2>坪井川公園到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく坪井川公園、坪井川公園です。左側のドアが開きます。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>坪井川公園停車中</h2>
				<p>お待たせいたしました。上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>坪井川公園発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は打越、打越です。進行中やむを得ず急ブレーキを掛けることがありますので、足元やお手回り品にご注意ください。</p>
			</section>
			<section>
				<h2>打越到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく打越、打越です。右側のドアが開きます。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>打越停車中</h2>
				<p>お待たせいたしました。上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>打越発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は池田、池田です。ドア付近にお立ちのお客様は、ドアの開閉にご注意ください。</p>

				<p><b class="c-tokyu-announce -cmsummary">健康センターの宣伝</b></p>
			</section>
			<section>
				<h2>池田到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく池田、池田です。右側のドアが開きます。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>池田停車中</h2>
				<p>お待たせいたしました。上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>池田発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は韓々坂、韓々坂です。<span class="c-tokyu-announce -manners">お年寄りや、体の不自由な方に席を譲りましょう。皆さまの電車です、マナーを大切にしましょう。</span></p>

				<p><b class="c-tokyu-announce -cmsummary">熊本電鉄旅行センターの宣伝</b></p>
			</section>
			<section>
				<h2>韓々坂到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく韓々坂、韓々坂です。左側のドアが開きます。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>韓々坂停車中</h2>
				<p>お待たせいたしました。上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>韓々坂発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は上熊本、上熊本、終点です。運賃は、整理券と運賃表をお確かめのうえ、釣り銭のいらないよう、運転士側の運賃箱にお入れください。</p>
			</section>
			<section>
				<h2>上熊本到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車お疲れさまでした。まもなく上熊本、上熊本、終点です。車内にお忘れ物のないようにご注意ください。降り口は左側です。開くドアにご注意ください。ご乗車ありがとうございました。またのご利用をお待ちしております。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
