---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '自動放送　熊本電気鉄道菊池線　上り「ケロロ電車」（5100形、2012年）',
	heading: '熊本電気鉄道菊池線　上り「ケロロ電車」',
	subHeading: '5100形、2012年',
	dateModified: dayjs('2012-10-13'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/kikuchi_up_2006', name: '上り 5100形（2006年）' },
		{ path: '/tokyu/an/kikuchi_up_2009', name: '上り 5100形（2009年）' },
		{ path: '/tokyu/an/kikuchi_up_keroro_2012', name: '上り ケロロ電車（2012年）' },
		{ path: '/tokyu/an/kikuchi_up_2015', name: '上り 5100形（2015年）' },
		{ path: '/tokyu/an/kikuchi_down_2006', name: '下り 5100形（2006年）' },
		{ path: '/tokyu/an/kikuchi_down_2008', name: '下り 5100形（2008年）' },
		{ path: '/tokyu/an/kikuchi_down_keroro_2012', name: '下り ケロロ電車（2012年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　上熊本</span>行</p>
			<p class="p-tokyu-announce-car">ケロロ電車（モハ5101A）に搭載されていたタイプ</p>
			<p class="p-tokyu-announce-period">2012年のケロロ電車運行開始から、2014年のコラボ終了まで</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>北熊本発車時</h2>
					<p>我が輩、ケロロ軍曹であります。えー、テコポン人の諸君、毎度ケロロ電車をご利用頂きありがとうであります。この電車は上熊本行きー。お乗り間違えの無いようご注意を！終点上熊本までの所要時間はおよそ9分であります。ドア付近にお立ちの人は、ドアの開閉に注意するであります。<span class="c-tokyu-announce -manners">また、携帯電話はマナーモードに設定して、通話は控えるであります。みんなの電車なのでマナーを守って乗らないと、夏美殿に怒られるであります。</span></p>
				</section>
				<section>
					<h2>北熊本発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲロゲロリ。次は坪井川公園、坪井川公園であります。電車は整理券方式で運行中ー。運賃は整理券と運賃表をお確かめのうえ、釣銭の要らないよう、運転士側の運賃箱にお入れくださいであります。事故防止のため、進行中やむを得ず急ブレーキを掛けることがあるので、足元・お手回り品に注意するでありますよ。</p>
				</section>
				<section>
					<h2>坪井川公園到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲッケーロー。ご乗車、感謝であります。まもなく坪井川公園、坪井川公園。降り口は左側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>坪井川公園停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよ。</p>
				</section>
				<section>
					<h2>坪井川公園発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は打越、打越であります。ペコポン人の諸君へお願いであります。車内・ホームなどであやしい物を発見された場合は、運転士または駅係員へ連絡よろしくであります。ご協力お願いするであります。ちなみにー、たまにドロロや小雪殿が潜んでいるかもしれないでありますが、不審者じゃないので心配いらないであります。</p>
				</section>
				<section>
					<h2>打越到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく打越、打越であります。降り口は右側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>打越停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよ。</p>
				</section>
				<section>
					<h2>打越発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は池田、池田であります。ドア付近にお立ちの人は、開くドアに注意するでありますよ。</p>
				</section>
				<section>
					<h2>池田到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく池田、池田であります。降り口右側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>池田停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよ。</p>
				</section>
				<section>
					<h2>池田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は韓々坂、韓々坂であります。事故防止のため、進行中やむを得ず急ブレーキを掛けることがあるので、足元・お手回り品に注意するであります。タママ、手に持ったお菓子を落とさないように気をつけるでありますよー。</p>
				</section>
				<section>
					<h2>韓々坂到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく韓々坂、韓々坂であります。降り口左側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>韓々坂停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は上熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよ。</p>
				</section>
				<section>
					<h2>韓々坂発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は上熊本、上熊本、終点であります。運賃は整理券と運賃表をお確かめのうえ、釣り銭のいらないよう、運転士側の運賃箱にお入れくださいであります。整理券、回数券は折り曲げず、運賃箱にお入れくださいであります。</p>
				</section>
				<section>
					<h2>上熊本到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲロゲロリ。ケロロ電車へのご乗車、お疲れさまであります。まもなく上熊本、上熊本、終点であります。車内に忘れ物しないようにお手回り品にご注意を。我が輩、こないだ買ったばかりのガンプラを忘れそうになってヒヤッとしたでありますからなぁ。降り口は左側、開くドアにご注意であります。ご乗車、感謝であります。上熊本、終点です。またのご利用を待ってるでありますよ。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2012年10月13日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>5100形1両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
