---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　熊本電気鉄道菊池線　下り（5100形、2008年）',
	heading: '熊本電気鉄道菊池線　下り',
	subHeading: '5100形、2008年',
	dateModified: dayjs('2008-11-23'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '熊本電気鉄道の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/kikuchi_up_2006', name: '上り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_up_2009', name: '上り 5100形（2009年）' },
			{ path: '/tokyu/an/kikuchi_up_keroro_2012', name: '上り ケロロ電車（2012年）' },
			{ path: '/tokyu/an/kikuchi_up_2015', name: '上り 5100形（2015年）' },
			{ path: '/tokyu/an/kikuchi_down_2006', name: '下り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_down_2008', name: '下り 5100形（2008年）' },
			{ path: '/tokyu/an/kikuchi_down_keroro_2012', name: '下り ケロロ電車（2012年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="北熊本" type="local" operation="oneman" period="2008年の宣伝放送中止から" recordDate="2008-11-23" recordCar="5100形1両編成">
		<AnnounceStation>
			<section>
				<h2>上熊本発車時</h2>
				<p>たいへん長らくお待たせいたしました。毎度、電車をご利用頂きありがとうございます。北熊本行きです。終点、北熊本までの所要時間はおよそ9分です。<span class="c-tokyu-announce -manners">危険品の持ち込みは禁止されております。なお、車内でのお煙草はご遠慮ください。また、携帯電話のご使用もご遠慮ください。</span>ドア付近にお立ちのお客様は、ドアの開閉にご注意ください。</p>
			</section>
			<section>
				<h2>上熊本発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は韓々坂、韓々坂です。電車は整理券方式で運行中です。運賃は整理券と運賃表をお確かめのうえ、釣銭の要らないよう運転士側の運賃箱にお入れください。事故防止のため、進行中やむを得ず急ブレーキを掛けることがありますので、足元・お手回り品にご注意ください。</p>
			</section>
			<section>
				<h2>韓々坂到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく韓々坂、韓々坂です。降り口右側です。開くドアにご注意ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>韓々坂停車中</h2>
				<p>お待たせいたしました。北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>韓々坂発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は池田、池田です。お客様へお願いします。車内・ホームなどで不審物を発見された場合には、運転士または駅係員へご連絡ください。ご協力お願いします。</p>
			</section>
			<section>
				<h2>池田到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく池田、池田です。降り口左側です。開くドアにご注意ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>池田停車中</h2>
				<p>お待たせいたしました。北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>池田発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は打越、打越です。電車の駆け込み乗車はたいへん危険です。お早めにホームでお待ち合わせください。</p>
			</section>
			<section>
				<h2>打越到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく打越、打越です。降り口左側です。開くドアにご注意ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>打越停車中</h2>
				<p>お待たせいたしました。北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>打越発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は坪井川公園、坪井川公園です。ドア付近にお立ちのお客様は、開くドアにご注意ください。</p>
			</section>
			<section>
				<h2>坪井川公園到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく坪井川公園、坪井川公園です。降り口右側です。開くドアにご注意ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>坪井川公園停車中</h2>
				<p>お待たせいたしました。北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りください。</p>
			</section>
			<section>
				<h2>坪井川公園発車</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>次は北熊本、北熊本、終点です。北熊本でお降りのお客様は、駅の改札口にて運賃をお支払いください。<span class="c-tokyu-announce -change">また、御代志方面、藤崎宮方面へお越しの方はお乗り換えです。</span>お降りの際、お忘れ物のないようご注意ください。</p>
			</section>
			<section>
				<h2>北熊本到着</h2>
				<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく北熊本、終点です。<span class="c-tokyu-announce -change">お乗り換えのご案内をいたします。御代志方面へお越しの方は降り口横の2番のりば、藤崎宮方面へお越しの方は踏切を渡った1番のりばで、それぞれお乗り換えです。</span>お手持ちの整理券はそのままお持ちください。本日は電車をご利用頂きましてありがとうございました。まもなく北熊本、終点です。降り口右側です。すべてのドアが開きますので、開くドアにご注意ください。車内にお忘れ物のないようにご注意ください。まもなく北熊本、終点です。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
