---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　熊本電気鉄道菊池線　下り「ケロロ電車」（5100形、2012年）',
	heading: '熊本電気鉄道菊池線　下り「ケロロ電車」',
	subHeading: '5100形、2012年',
	dateModified: dayjs('2012-10-13'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '熊本電気鉄道の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/kikuchi_up_2006', name: '上り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_up_2009', name: '上り 5100形（2009年）' },
			{ path: '/tokyu/an/kikuchi_up_keroro_2012', name: '上り ケロロ電車（2012年）' },
			{ path: '/tokyu/an/kikuchi_up_2015', name: '上り 5100形（2015年）' },
			{ path: '/tokyu/an/kikuchi_down_2006', name: '下り 5100形（2006年）' },
			{ path: '/tokyu/an/kikuchi_down_2008', name: '下り 5100形（2008年）' },
			{ path: '/tokyu/an/kikuchi_down_keroro_2012', name: '下り ケロロ電車（2012年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<ul class="p-notes">
		<li><strong>一部に発音が聞き取れない箇所があり、ゲタ文字(〓)で表しています。</strong></li>
	</ul>

	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　北熊本</span>行</p>
			<p class="p-tokyu-announce-car">ケロロ電車（モハ5101A）に搭載されていたタイプ</p>
			<p class="p-tokyu-announce-period">2012年のケロロ電車運行開始から、2014年のコラボ終了まで</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>上熊本発車時</h2>
					<p>我が輩、ケロロ軍曹であります。テコポン人の諸君、毎度ケロロ電車をご利用頂きありがとうであります。この電車は北熊本行きー。終点北熊本までの所要時間はおよそ9分であります。<span class="c-tokyu-announce -manners">危険品の持ち込みや車内でのおタバコはご遠慮くださいであります。もちろん、携帯電話はマナーモードに設定して、通話は控えるであります。</span>まもなくー発車であります。ドア付近にお立ちの人はドアの開閉に注意するでありますよ。ゲッゲーロ。</p>
				</section>
				<section>
					<h2>上熊本発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲロゲロリ。次は韓々坂、韓々坂であります。電車は整理券方式で運行中ー。運賃は整理券と運賃表をお確かめのうえ、釣銭の要らないようギロロ…じゃなくて、運転士側の運賃箱にお入れくださいであります。事故防止のため、進行中やむを得ず急ブレーキを掛けることがあるので、足元・お手回り品に注意するでありますよ。</p>
				</section>
				<section>
					<h2>韓々坂到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲッゲーロ。ご乗車、感謝であります。まもなく韓々坂、韓々坂。降り口は右側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>韓々坂停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよー。</p>
				</section>
				<section>
					<h2>韓々坂発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は池田、池田であります。ペコポン人の諸君へお願いであります。車内・ホームなどであやしい物を発見された場合は、運転士または<b>〓〓〓</b>じゃなくて、駅係員へ連絡よろしくであります。ご協力お願いするであります。</p>
				</section>
				<section>
					<h2>池田到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく池田、池田であります。降り口は左側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>池田停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよー。</p>
				</section>
				<section>
					<h2>池田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は打越、打越であります。電車の駆け込み乗車はたいへん危険であります。お早めにホームでお待ち合わせを。</p>
				</section>
				<section>
					<h2>打越到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく打越、打越であります。降り口左側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>打越停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよー。</p>
				</section>
				<section>
					<h2>打越発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は坪井川公園、坪井川公園であります。ドア付近にお立ちの人は、開くドアに注意するでありますよ。ゲ、ゲロ、クルル曹長！ドアに寄りかかっていると危ないでありますよ。</p>
				</section>
				<section>
					<h2>坪井川公園到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車、感謝であります。まもなく坪井川公園、坪井川公園であります。降り口右側、開くドアにご注意であります。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>坪井川公園停車中</h2>
					<p>ペコポン人の諸君、お待たせしたであります。この電車は北熊本行きです。整理券をお取りください。定期券、回数券の方も整理券をお取りくださいでありますよー。</p>
				</section>
				<section>
					<h2>坪井川公園発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は北熊本、北熊本、終点であります。北熊本で降りるみんなは、駅の改札口にて運賃をお支払いくださいであります。<span class="c-tokyu-announce -change">また、御代志方面、藤崎宮方面へお越しのみんなは乗り換えでありますよ。</span>お降りの際、お忘れ物のないようご注意であります。冬樹殿、オカルト本をお忘れではないでありますか。注意するでありますよ。</p>
				</section>
				<section>
					<h2>北熊本到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ゲロゲロリ。ケロロ電車へのご乗車、お疲れさまであります。まもなく北熊本、北熊本、終点！<span class="c-tokyu-announce -change">お乗り換えのご案内であります。御代志方面へお越しの人は降り口横の2番のりば、藤崎宮方面へお越しの人は踏切を渡った1番のりばで、それぞれ乗り換えであります。</span>お手持ちの整理券はそのまま持っていって欲しいであります。本日は電車をご利用頂きましてありがとうであります。まもなく北熊本、終点！降り口右側、すべてのドアが開くので、開くドアにご注意であります。車内にお忘れ物のないようにご注意を。ちなみにー、ドロロ兵長もお忘れなく。まもなく北熊本、終点であります。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2012年10月13日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>5100形1両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
