---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '自動放送　東急こどもの国線　下り（Y000系、2006年）',
	heading: 'こどもの国線　下り',
	subHeading: 'Y000系、2006年',
	dateModified: dayjs('2006-02-11'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: 'こどもの国線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/kodomo_up_2006', name: '上り（2006年）' },
			{ path: '/tokyu/an/kodomo_down_2006', name: '下り（2006年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="こどもの国" type="local" operation="oneman" period="2003年の携帯電話マナー変更から" recordDate="2006-02-11" recordCar="Y000系2両編成">
		<AnnounceStation>
			<section>
				<h2>長津田停車中</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>こどもの国線をご利用いただきまして、ありがとうございます。この電車はこどもの国行きです。発車までしばらくお待ちください。</p>
				<p lang="en">Thank you for using the Kodomonokuni Line. This is the local train bound for Kodomonokuni.</p>
			</section>
			<section>
				<h2>長津田発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>お待たせいたしました。こどもの国線をご利用いただきまして、ありがとうございます。<AnnoucePhrase type="stand">進行中は揺れますので、お立ちのお客様は吊り革や手摺りにお掴まりください。</AnnoucePhrase></p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。窓から顔や手を出しますと、危ないですのでご注意ください。また、ドアに手を触れておりますと、ドアが開く際、戸袋に手を引き込まれ、思わぬ怪我をすることがあります。とくに、お子様連れのお客様はご注意ください。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>恩田到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく恩田、恩田です。お出口は右側です。乗車券をお持ちでないお客様は、改札口にある精算機で乗車券をお求めください。</p>
				<p lang="en">We will soon make a brief stop at Onda.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>恩田発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次はこどもの国、こどもの国、終点です。</p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。窓から顔や手を出しますと、危ないですのでご注意ください。また、ドアに手を触れておりますと、ドアが開く際、戸袋に手を引き込まれ、思わぬ怪我をすることがあります。とくに、お子様連れのお客様はご注意ください。</AnnoucePhrase></p>
				<p lang="en">The next station is Kodomonokuni. This is the last stop of this line.</p>
			</section>
			<section>
				<h2>こどもの国到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>ご乗車ありがとうございました。まもなくこどもの国、終点です。お忘れ物、落し物ないよう、ご注意ください。乗車券をお持ちでないお客様は、改札口にある精算機で乗車券をお求めください。こどもの国線をご利用いただきまして、ありがとうございました。</p>
				<p lang="en">We will soon be arriving at Kodomonokuni, the last stop of this line. Thank you for using the Kodomonokuni Line.</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
