---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '自動放送　弘南鉄道弘南線　下り快速（7000系、2006年）',
	heading: '弘南鉄道弘南線　下り快速',
	subHeading: '7000系、2006年',
	dateModified: dayjs('2006-01-31'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/konan_up_2006', name: '上り（2006年）' },
		{ path: '/tokyu/an/konan_up_2008', name: '上り（2008年）' },
		{ path: '/tokyu/an/konan_up_2016', name: '上り（2016年）' },
		{ path: '/tokyu/an/konan_up_rapid_2006', name: '上り 快速（2006年）' },
		{ path: '/tokyu/an/konan_down_2006', name: '下り（2006年）' },
		{ path: '/tokyu/an/konan_down_2008', name: '下り（2008年）' },
		{ path: '/tokyu/an/konan_down_2016', name: '下り（2016年）' },
		{ path: '/tokyu/an/konan_down_rapid_2006', name: '下り 快速（2006年）' },
	],
};
---

<Layout structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -kohnan-rapid">快速ワンマン　黒石</span>行</p>
			<p class="p-tokyu-announce-period">2005年の「弘前東高前」駅名改称から、快速休止まで</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>弘前停車中</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>本日は弘南鉄道弘南線をご利用くださいまして、ありがとうございます。<span class="c-tokyu-announce -oneman">この列車は、黒石行きのワンマン列車です。</span>平賀駅までは各駅停車となりますが、平賀を出ますと、津軽尾上、黒石の順に停車いたしますので、お乗り間違えのございませんようご注意ください。係員が居ない駅でお降りの際には、いちばん前のドアをご利用くださるよう、皆様のご協力をお願いいたします。<span class="c-tokyu-announce -manners">また、車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
				</section>
				<section>
					<h2>弘前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待ち遠さまでした。黒石行きの発車です。お降りの際は、お忘れ物ございませんよう、ご注意ください。次の停車駅は弘前東高前、弘前東高前、降り口は右側です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>弘前東高前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は運動公園前、運動公園前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>運動公園前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span><span class="c-tokyu-announce -oneman">この列車は、黒石行きのワンマン列車です。皆様のご協力をお願いいたします。</span>次の停車駅は新里、新里、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>新里発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は館田、館田、降り口は右側です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>館田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は平賀、平賀、降り口は左側です。整理券のお客様は、駅でご精算ください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>平賀発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は津軽尾上、津軽尾上、降り口は左側です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>津軽尾上発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お疲れさまでした。次の停車駅は終点、黒石、黒石です。お降りの際には、お忘れ物ございませんよう、いま一度お手回り品をお確かめください。降り口は右側です。整理券のお客様は、駅でご精算ください。本日は弘南線をご利用いただきまして、ありがとうございました。またのご乗車をお待ちいたしております。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2006年1月31日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>7000系2両編成</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>
			上記のほか、駅停車中に以下の放送がいずれか片方、または両方流れる場合があります。
			<ul>
				<li><q>きっぷをお持ちでないお客様は、整理券をお取りください。</q></li>
				<li><q>ドアが閉まります。ご注意ください。</q></li>
			</ul>
		</li>
	</ul>
</Layout>
