---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnoucePhrase from '@components/tokyu/AnnoucePhrase.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急目黒線　上り普通（新3000系、2009年）',
	heading: '目黒線　上り普通',
	subHeading: '新3000系、2009年',
	dateModified: dayjs('2009-08-09'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '目黒線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/meguro_up_local_2006', name: '上り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_up_local_2009', name: '上り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_up_local_2020', name: '上り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_up_exp_2006', name: '上り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_up_exp_2008', name: '上り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_up_exp_2020', name: '上り 急行（2020年）' },
			{ path: '/tokyu/an/meguro_down_local_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_down_local_2009', name: '下り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_down_local_2020', name: '下り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_down_exp_2006', name: '下り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_down_exp_2008', name: '下り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_down_exp_2020', name: '下り 急行（2020年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="西高島平" type="local" operation="oneman" period="2008年の日吉延伸から" through="地下鉄三田線へ直通" recordDate="2009-08-09" recordCar="3000系6両編成">
		<AnnounceStation>
			<section>
				<h2>日吉停車中</h2>
				<p>ご案内いたします。この電車は目黒方面、三田線直通、各駅停車西高島平行きです。<AnnoucePhrase type="change">南北線ご利用のお客様は、白金高輪駅でお乗り換えください。</AnnoucePhrase>この電車は武蔵小山で急行電車の待ち合わせをいたします。発車までしばらくお待ちください。</p>
				<p lang="en">This train will merge and continue traveling at the Local Train on the Mita Line to Nishi-takashimadaira.</p>
			</section>
			<section>
				<h2>日吉発車前</h2>
				<p>お待たせいたしました。まもなく発車いたします。</p>
			</section>
			<section>
				<h2>日吉発車</h2>
				<p>本日も東急目黒線をご利用くださいまして、ありがとうございます。この電車は目黒方面、三田線直通、各駅停車西高島平行きです。<AnnoucePhrase type="change">南北線ご利用のお客様は、白金高輪駅でお乗り換えください。</AnnoucePhrase>この電車は武蔵小山で急行電車の待ち合わせをいたします。</p>
				<p lang="en">Thank you for using the Tōkyū Meguro Line. This train will merge and continue traveling at the Local Train on the Mita Line to Nishi-takashimadaira.</p>
			</section>
			<section>
				<h2>元住吉到着</h2>
				<p>まもなく元住吉です。出口は左側です。</p>
				<p lang="en">We will soon make a brief stop at Motosumiyoshi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小杉到着</h2>
				<p>まもなく武蔵小杉です。<AnnoucePhrase type="change">JR線はお乗り換えです。</AnnoucePhrase></p>
				<p lang="en">We will soon make a brief stop at Musashi-kosugi. <AnnoucePhrase type="change">Passengers changing to the JR Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子到着</h2>
				<p>まもなく新丸子です。</p>
				<p lang="en">We will soon make a brief stop at Shin-maruko.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子〜多摩川走行中</h2>
				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>多摩川到着</h2>
				<p>まもなく多摩川です。<AnnoucePhrase type="change">東急多摩川線はお乗り換えです。</AnnoucePhrase>お降りの際は、足元にご注意ください。</p>
				<p lang="en">We will soon make a brief stop at Tamagawa. <AnnoucePhrase type="change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布到着</h2>
				<p>まもなく田園調布です。<AnnoucePhrase type="change">東横線はお乗り換えです。</AnnoucePhrase></p>
				<p lang="en">We will soon make a brief stop at Den-en-chōfu. <AnnoucePhrase type="change">Passengers changing to the Tōyoko Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布発車</h2>
				<p>この電車は目黒方面、三田線直通、各駅停車西高島平行きです。</p>
				<p lang="en">This train will merge and continue traveling at the Local Train on the Mita Line to Nishi-takashimadaira.</p>

				<p><AnnoucePhrase type="manners">東急電鉄からのお願いです。優先席ではお年寄りやお体の不自由なお客様、妊娠中や乳幼児をお連れのお客様には、席をお譲りください。車内マナーにご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>奥沢到着</h2>
				<p>まもなく奥沢です。</p>
				<p lang="en">We will soon make a brief stop at Okusawa.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>奥沢〜大岡山走行中</h2>
				<p><AnnoucePhrase type="menu">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>大岡山到着</h2>
				<p>まもなく大岡山です。<AnnoucePhrase type="change">大井町線はお乗り換えです。</AnnoucePhrase>出口は右側です。</p>
				<p lang="en">We will soon make a brief stop at Ōokayama. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>洗足到着</h2>
				<p>まもなく洗足です。お降りの際は、足元にご注意ください。出口は左側です。この電車は武蔵小山で急行電車の待ち合わせをいたします。</p>
				<p lang="en">We will soon make a brief stop at Senzoku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>西小山到着</h2>
				<p>まもなく西小山です。出口は右側です。</p>
				<p lang="en">We will soon make a brief stop at Nishi-koyama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小山到着</h2>
				<p>まもなく武蔵小山です。出口は右側です。この電車は武蔵小山で急行電車の待ち合わせをいたします。</p>
				<p lang="en">We will soon make a brief stop at Musashi-koyama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小山到着後</h2>
				<p>急行電車の待ち合わせをいたします。急行電車の停車駅は、目黒です。目黒から先は、各駅に停車いたします。発車までしばらくお待ちください。</p>
			</section>
			<section>
				<h2>武蔵小山発車前</h2>
				<p>お待たせいたしました。まもなく発車いたします。</p>
			</section>
			<section>
				<h2>武蔵小山発車</h2>
				<p>お待たせをいたしました。この電車は三田線直通、各駅停車西高島平行きです。</p>
				<p lang="en">This train will merge and continue traveling at the Local Train on the Mita Line to Nishi-takashimadaira.</p>
			</section>
			<section>
				<h2>武蔵小山〜不動前走行中</h2>
				<p><AnnoucePhrase type="manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>不動前到着</h2>
				<p>まもなく不動前です。出口は左側です。</p>
				<p lang="en">We will soon make a brief stop at Fudō-mae.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>不動前発車</h2>
				<p>この電車は三田線直通、各駅停車西高島平行きです。<AnnoucePhrase type="change">南北線ご利用のお客様は、白金高輪駅でお乗り換えください。</AnnoucePhrase></p>
				<p lang="en">This train will merge and continue traveling at the Local Train on the Mita Line to Nishi-takashimadaira.</p>

				<p>まもなく目黒です。<AnnoucePhrase type="change">JR山手線はお乗り換えです。</AnnoucePhrase>出口は右側です。本日も東急目黒線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">We will soon make a brief stop at Meguro. <AnnoucePhrase type="change">Passengers changing to the JR Yamanote Line, please transfer at this station.</AnnoucePhrase> Thank you for using the Tōkyū Meguro Line.</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
