---
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '自動放送　東急目黒線　上り普通（新3000系、2006年）',
	heading: '目黒線　上り普通',
	subHeading: '新3000系、2006年',
	dateModified: '2006-04-15',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '目黒線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/meguro_up_local_2006', name: '上り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_up_local_2009', name: '上り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_up_local_2020', name: '上り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_up_exp_2006', name: '上り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_up_exp_2008', name: '上り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_up_exp_2020', name: '上り 急行（2020年）' },
			{ path: '/tokyu/an/meguro_down_local_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_down_local_2009', name: '下り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_down_local_2020', name: '下り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_down_exp_2006', name: '下り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_down_exp_2008', name: '下り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_down_exp_2020', name: '下り 急行（2020年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="浦和美園" type="local" operation="oneman" period="2006年の急行運転開始まで" note="全国交通安全運動" through="地下鉄南北線へ直通" recordDate="2006-04-15" recordCar="3000系6両編成">
		<AnnounceStation>
			<section>
				<h2>武蔵小杉停車中</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>ご案内いたします。この電車は目黒方面、南北線・埼玉高速鉄道線直通、浦和美園行きです。</p>
				<p lang="en">This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono.</p>
			</section>
			<section>
				<h2>武蔵小杉発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>東急目黒線をご利用くださいまして、ありがとうございます。この電車は目黒方面、南北線・埼玉高速鉄道線直通、浦和美園行きです。<AnnoucePhrase type="change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</AnnoucePhrase>次は新丸子、新丸子です。お出口は左側です。</p>
				<p lang="en">Thank you for using the Tōkyū Meguro Line. This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. The next station is Shin-maruko.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は多摩川、多摩川です。<AnnoucePhrase type="change">東急多摩川線ご利用のお客様は乗り換えです。</AnnoucePhrase>次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
				<p lang="en">The next station is Tamagawa. <AnnoucePhrase type="change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は田園調布、田園調布です。<AnnoucePhrase type="change">東横線渋谷方面ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Den-en-chōfu. <AnnoucePhrase type="change">Passengers changing to the Tōyoko Line for Shibiya, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>この電車は南北線・埼玉高速鉄道線直通、浦和美園行きです。<AnnoucePhrase type="change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</AnnoucePhrase>次は奥沢、奥沢です。<AnnoucePhrase type="manners">お年寄りや体の不自由なお客様には、席をお譲りくださいますよう、お願いします。</AnnoucePhrase></p>
				<p lang="en">This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. The next station is Okusawa.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>奥沢発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は大岡山、大岡山です。お出口は右側に変わります。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Ōokayama. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>

				<p><AnnoucePhrase type="menu">お客様にお知らせいたします。ただいま全国交通安全運動を実施しております。線路への置き石、電車への投石など、列車妨害行為の防止に、ご協力ください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>大岡山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は洗足、洗足です。お出口は左側に変わります。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Senzoku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>洗足発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は西小山、西小山です。お出口は右側に変わります。</p>
				<p lang="en">The next station is Nishi-koyama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>西小山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は武蔵小山、武蔵小山です。</p>
				<p lang="en">The next station is Musashi-koyama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は不動前、不動前です。お出口は左側に変わります。</p>
				<p lang="en">The next station is Fudō-mae.</p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>不動前発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は目黒、目黒です。お出口は右側に変わります。<AnnoucePhrase type="change">山手線ご利用のお客様は乗り換えです。</AnnoucePhrase>この電車は南北線・埼玉高速鉄道線直通、浦和美園行きです。<AnnoucePhrase type="change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</AnnoucePhrase>東急目黒線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">The next station is Meguro. <AnnoucePhrase type="change">Passengers changing to the Yamanote Line, please transfer at this station.</AnnoucePhrase> This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. Thank you for using the Tōkyū Meguro Line.</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
