---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnoucePhrase from '@components/tokyu/AnnoucePhrase.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急目黒線　下り普通（新3000系、2006年）',
	heading: '目黒線　下り普通',
	subHeading: '新3000系、2006年',
	dateModified: dayjs('2006-01-08'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '目黒線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/meguro_up_local_2006', name: '上り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_up_local_2009', name: '上り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_up_local_2020', name: '上り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_up_exp_2006', name: '上り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_up_exp_2008', name: '上り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_up_exp_2020', name: '上り 急行（2020年）' },
			{ path: '/tokyu/an/meguro_down_local_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/meguro_down_local_2009', name: '下り 普通（2009年）' },
			{ path: '/tokyu/an/meguro_down_local_2020', name: '下り 普通（2020年）' },
			{ path: '/tokyu/an/meguro_down_exp_2006', name: '下り 急行（2006年）' },
			{ path: '/tokyu/an/meguro_down_exp_2008', name: '下り 急行（2008年）' },
			{ path: '/tokyu/an/meguro_down_exp_2020', name: '下り 急行（2020年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="武蔵小杉" type="local" operation="oneman" period="2006年の急行運転開始まで" note="年末年始輸送安全総点検" recordDate="2006-01-08" recordCar="3000系6両編成">
		<AnnounceStation>
			<section>
				<h2>目黒発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>東急目黒線をご利用くださいまして、ありがとうございます。この電車は大岡山、田園調布方面、武蔵小杉行きです。次は不動前、不動前です。お出口は左側です。</p>
				<p lang="en">Thank you for using the Tōkyū Meguro Line. This train is bound for Musashi-kosugi. The next station is Fudō-mae.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>不動前発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は武蔵小山、武蔵小山です。お出口は右側に変わります。<AnnoucePhrase type="manners">お年寄りや体の不自由なお客様には、席をお譲りくださいますよう、お願いします。</AnnoucePhrase></p>
				<p lang="en">The next station is Musashi-koyama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は西小山、西小山です。</p>
				<p lang="en">The next station is Nishi-koyama.</p>

				<p><AnnoucePhrase type="menu">お客様にお知らせいたします。ただいま年末年始輸送安全総点検を実施しております。危険品の車内持ち込みや、駆け込み乗車はお止めください。お客様のご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>西小山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は洗足、洗足です。お出口は左側に変わります。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Senzoku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>洗足発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は大岡山、大岡山です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側に変わります。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
				<p lang="en">The next station is Ōokayama. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>大岡山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>この電車は田園調布方面、武蔵小杉行きです。次は奥沢、奥沢です。お出口は左側に変わります。</p>
				<p lang="en">This train is bound for Musashi-kosugi. The next station is Okusawa.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>奥沢発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は田園調布、田園調布です。<AnnoucePhrase type="change">東横線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Den-en-chōfu. <AnnoucePhrase type="change">Passengers changing to the Tōyoko Line, please transfer at this station.</AnnoucePhrase></p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は多摩川、多摩川です。<AnnoucePhrase type="change">東急多摩川線ご利用のお客様は乗り換えです。</AnnoucePhrase>次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Tamagawa. <AnnoucePhrase type="change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は新丸子、新丸子です。</p>
				<p lang="en">The next station is Shin-maruko.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は武蔵小杉、武蔵小杉、終点です。<AnnoucePhrase type="change">東横線、南武線ご利用のお客様は乗り換えです。</AnnoucePhrase>東急目黒線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">The next station is Musashi-kosugi. This is the last stop of this line. <AnnoucePhrase type="change">Passengers changing to the Tōyoko Line and the Nambu Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小杉到着後</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>武蔵小杉、武蔵小杉、終点です。お忘れ物ないよう、ご注意ください。この電車は車庫に入ります。ご乗車できませんので、ご注意ください。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
