---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　大井川鐵道大井川本線　上り普通（7200系、2015年）',
	heading: '大井川鐵道大井川本線　上り',
	subHeading: '7200系、2015年',
	dateModified: dayjs('2015-05-04'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/oigawa_up_2015', name: '上り 普通（2015年）' },
		{ path: '/tokyu/an/oigawa_up_exp_2015', name: '上り 急行（2015年）' },
		{ path: '/tokyu/an/oigawa_down_2015', name: '下り 普通（2015年）' },
		{ path: '/tokyu/an/oigawa_down_exp_2015', name: '下り 急行（2015年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　金谷</span>行</p>
			<p class="p-tokyu-announce-car">7200系に搭載されているタイプ</p>
			<p class="p-tokyu-announce-note">金谷駅無人時間帯</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>千頭停車中</h2>
					<p>大井川鐵道をご利用いただきまして、ありがとうございます。この電車は金谷行き各駅停車のワンマン列車です。車内は禁煙です。危険品の持ち込みはお断りいたします。また、お手洗いの設備はございません。発車までしばらくお待ちください。</p>
				</section>
				<section>
					<h2>千頭発車</h2>
					<p>お待たせいたしました。この電車は金谷行き各駅停車のワンマン列車です。次は崎平です。この先、新金谷以外の駅では中央の扉は開きません。新金谷以外の駅でお降りのお客様は、いちばん前の扉からお降りください。</p>
				</section>
				<section>
					<h2>崎平到着</h2>
					<p>ご乗車ありがとうございます。まもなく崎平です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>崎平停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>崎平発車</h2>
					<p>次は青部です。</p>
				</section>
				<section>
					<h2>青部到着</h2>
					<p>ご乗車ありがとうございます。まもなく青部です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>青部停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>青部発車</h2>
					<p>次は駿河徳山です。</p>
				</section>
				<section>
					<h2>駿河徳山到着</h2>
					<p>ご乗車ありがとうございます。まもなく駿河徳山です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>駿河徳山停車中</h2>
					<p>ご乗車ありがとうございます。この電車は金谷行き、各駅停車のワンマン列車です。</p>
				</section>
				<section>
					<h2>駿河徳山発車</h2>
					<p>次は田野口です。</p>
				</section>
				<section>
					<h2>田野口到着</h2>
					<p>ご乗車ありがとうございます。まもなく田野口です。降り口は左側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>田野口停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>田野口発車</h2>
					<p>次は下泉です。</p>
				</section>
				<section>
					<h2>下泉到着</h2>
					<p>ご乗車ありがとうございます。まもなく下泉です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>下泉停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>下泉発車</h2>
					<p>次は塩郷です。</p>
				</section>
				<section>
					<h2>塩郷到着</h2>
					<p>ご乗車ありがとうございます。まもなく塩郷です。降り口は左側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>塩郷停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>塩郷発車</h2>
					<p>次は地名です。</p>
				</section>
				<section>
					<h2>地名到着</h2>
					<p>ご乗車ありがとうございます。まもなく地名です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>地名停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>地名発車</h2>
					<p>次は川根温泉笹間渡です。</p>
				</section>
				<section>
					<h2>川根温泉笹間渡到着</h2>
					<p>ご乗車ありがとうございます。まもなく川根温泉笹間渡です。降り口は左側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>川根温泉笹間渡停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>川根温泉笹間渡発車</h2>
					<p>次は抜里です。</p>
				</section>
				<section>
					<h2>抜里到着</h2>
					<p>ご乗車ありがとうございます。まもなく抜里です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>抜里停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>抜里発車</h2>
					<p>次は家山です。</p>
				</section>
				<section>
					<h2>家山到着</h2>
					<p>ご乗車ありがとうございます。まもなく家山です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>家山停車中</h2>
					<p>ご乗車ありがとうございます。この電車は金谷行き、各駅停車のワンマン列車です。</p>
				</section>
				<section>
					<h2>家山発車</h2>
					<p>次は大和田です。</p>
				</section>
				<section>
					<h2>大和田到着</h2>
					<p>ご乗車ありがとうございます。まもなく大和田です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大和田停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>大和田発車</h2>
					<p>次は福用です。</p>
				</section>
				<section>
					<h2>福用到着</h2>
					<p>ご乗車ありがとうございます。まもなく福用です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>福用停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>福用発車</h2>
					<p>次は神尾です。</p>
				</section>
				<section>
					<h2>神尾到着</h2>
					<p>ご乗車ありがとうございます。まもなく神尾です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>神尾停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>神尾発車</h2>
					<p>次は五和です。</p>
				</section>
				<section>
					<h2>五和到着</h2>
					<p>ご乗車ありがとうございます。まもなく五和です。降り口は右側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>五和停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>五和発車</h2>
					<p>次は日切です。</p>
				</section>
				<section>
					<h2>日切到着</h2>
					<p>ご乗車ありがとうございます。まもなく日切です。降り口は左側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>日切停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>日切発車</h2>
					<p>次は代官町です。</p>
				</section>
				<section>
					<h2>代官町到着</h2>
					<p>ご乗車ありがとうございます。まもなく代官町です。降り口は左側です。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>代官町停車中</h2>
					<p>整理券をお取りください。ご乗車の方は整理券をお取りください。</p>
				</section>
				<section>
					<h2>代官町発車</h2>
					<p>次は新金谷です。</p>
				</section>
				<section>
					<h2>新金谷到着</h2>
					<p>ご乗車ありがとうございます。まもなく新金谷です。降り口は右側です。お降りの際、運賃または乗車券は駅係員にお渡しください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>新金谷発車</h2>
					<p>次は終点、金谷です。</p>
				</section>
				<section>
					<h2>金谷到着</h2>
					<p>ご乗車ありがとうございます。まもなく終点、金谷です。降り口は左側です。お降りの際、車内に落としもの、お忘れものなどなさいませんようお支度ください。JR東海道線をご利用のお客さまはお乗り換えです。お降りの際、運賃または乗車券はいちばん前の運賃箱にお入れください。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2015年5月4日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>7200系2両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
