---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急大井町線　下り普通（9000系、2017年）',
	heading: '大井町線　下り普通',
	subHeading: '9000系、2017年',
	dateModified: dayjs('2017-05-17'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/oimachi_up_local_2006', name: '上り 普通（2006年）' },
		{ path: '/tokyu/an/oimachi_up_local_2009', name: '上り 普通（2009年）' },
		{ path: '/tokyu/an/oimachi_up_local_2017', name: '上り 普通（2017年）' },
		{ path: '/tokyu/an/oimachi_down_local_2006', name: '下り 普通（2006年）' },
		{ path: '/tokyu/an/oimachi_down_local_2009', name: '下り 普通（2009年）' },
		{ path: '/tokyu/an/oimachi_down_local_2017', name: '下り 普通（2017年）' },
		{ path: '/tokyu/an/oimachi_up_local_saginuma_2006', name: '上り 普通 鷺沼発（2006年）' },
		{ path: '/tokyu/an/oimachi_up_local_saginuma_2009', name: '上り 普通 鷺沼発（2009年）' },
		{ path: '/tokyu/an/oimachi_down_local_saginuma_2006', name: '下り 普通 鷺沼行（2006年）' },
		{ path: '/tokyu/an/oimachi_down_local_saginuma_2009', name: '下り 普通 鷺沼行（2009年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -gkakutei">普通　溝の口</span>行（二子新地、高津通過）</p>
			<p class="p-tokyu-announce-period">2016年の上野毛駅広告放送導入から、2022年の東京都市大学等々力キャンパス移転まで</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>大井町停車中</h2>
					<p>東急大井町線をご利用くださいまして、ありがとうございます。この電車は各駅停車溝の口行きです。二子新地、高津には停まりません。</p>
					<p lang="en">Thank you for using the Tōkyū Ōimachi Line. This is the local train bound for Mizonokuchi.</p>
				</section>
				<section>
					<h2>下神明到着</h2>
					<p>本日も東急大井町線をご利用くださいまして、ありがとうございます。この電車は各駅停車溝の口行きです。まもなく下神明です。出口は左側です。</p>
					<p lang="en">Thank you for using the Tōkyū Ōimachi Line. This is the local train bound for Mizonokuchi. We will soon make a brief stop at Shimo-shimmei.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>戸越公園到着</h2>
					<p>まもなく戸越公園です。お降りの際は、足元にご注意ください。</p>
					<p lang="en">We will soon make a brief stop at Togoshi-kōen.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>中延到着</h2>
					<p>まもなく中延です。<span class="c-tokyu-announce -change">都営浅草線はお乗り換えです。</span></p>
					<p lang="en">We will soon make a brief stop at Nakanobu. <span class="c-tokyu-announce -change">Passengers changing to the Toei Asakusa Line, please transfer at this station.</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>荏原町到着</h2>
					<p>まもなく荏原町です。お降りの際は、足元にご注意ください。</p>
					<p lang="en">We will soon make a brief stop at Ebara-machi.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>旗の台到着</h2>
					<p>まもなく旗の台です。<span class="c-tokyu-announce -cm">昭和大学最寄り駅です。</span><span class="c-tokyu-announce -change">池上線はお乗り換えです。</span></p>
					<p lang="en">We will soon make a brief stop at Hatanodai. <span class="c-tokyu-announce -change">Passengers changing to the Ikegami Line, please transfer at this station.</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>北千束到着</h2>
					<p>まもなく北千束です。出口は右側です。</p>
					<p lang="en">We will soon make a brief stop at Kita-senzoku.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大岡山到着</h2>
					<p>まもなく大岡山です。<span class="c-tokyu-announce -cm">東急病院最寄り駅です。</span><span class="c-tokyu-announce -change">目黒線はお乗り換えです。</span>出口は左側です。</p>
					<p lang="en">We will soon make a brief stop at Ōokayama. <span class="c-tokyu-announce -change">Passengers changing to the Meguro Line, please transfer at this station.</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>緑が丘到着</h2>
					<p><span class="c-tokyu-announce -door">途中の九品仏では、前の1両はドアが開きません。後ろの車両にお移りください。</span>まもなく緑が丘です。</p>
					<p lang="en">We will soon make a brief stop at Midorigaoka.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>自由が丘到着</h2>
					<p>まもなく自由が丘です。<span class="c-tokyu-announce -change">東横線はお乗り換えです。</span></p>
					<p lang="en">We will soon make a brief stop at Jiyūgaoka. <span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line, please transfer at this station.</span></p>
					<p><span class="c-tokyu-announce -manners">東急電鉄からのお願いです。携帯電話はマナーモードに設定のうえ、通話はお控えください。車内マナーにご協力をお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>九品仏到着</h2>
					<p>この電車は各駅停車溝の口行きです。二子新地、高津には停まりません。まもなく九品仏です。<span class="c-tokyu-announce -door">前の1両はドアが開きません。後ろの車両からお降りください。</span>出口は右側です。</p>
					<p lang="en">We will soon make a brief stop at Kuhombutsu.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>尾山台到着</h2>
					<p>まもなく尾山台です。<span class="c-tokyu-announce -cm">東京都市大学、世田谷キャンパス最寄り駅です。</span>出口は左側です。</p>
					<p lang="en">We will soon make a brief stop at Oyamadai.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>等々力到着</h2>
					<p>まもなく等々力です。<span class="c-tokyu-announce -cm">東京都市大学、等々力キャンパス最寄り駅です。</span>出口は右側です。</p>
					<p lang="en">We will soon make a brief stop at Todoroki.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>上野毛到着</h2>
					<p>まもなく上野毛です。<span class="c-tokyu-announce -cm">五島美術館最寄り駅です。</span></p>
					<p lang="en">We will soon make a brief stop at Kaminoge.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>二子玉川到着</h2>
					<p>まもなく二子玉川です。<span class="c-tokyu-announce -change">田園都市線はお乗り換えです。</span>出口は左側です。この電車は各駅停車溝の口行きです。二子玉川の次は溝の口、終点です。二子新地、高津には停まりません。</p>
					<p lang="en">We will soon make a brief stop at Futako-tamagawa. This is the local train bound for Mizonokuchi. <span class="c-tokyu-announce -change">Passengers changing to the Den-en-toshi Line, please transfer at this station.</span> The stop after Futako-tamagawa, will be Mizonokuchi.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>二子玉川発車</h2>
					<p>次は溝の口、終点です。</p>
					<p lang="en">The next station is Mizonokuchi. This is the last stop of this line.</p>
				</section>
				<section>
					<h2>溝の口到着</h2>
					<p>まもなく溝の口、終点です。<span class="c-tokyu-announce -change">田園都市線、JR南武線はお乗り換えです。</span>お忘れ物無さいませんように、ご注意ください。本日も東急大井町線をご利用くださいまして、ありがとうございました。</p>
					<p lang="en">
						We will soon be arriving at Mizonokuchi. This is the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Den-en-toshi Line, and the JR Nambu Line, please transfer at this station.</span> Thank you for using the Tōkyū Ōimachi Line.
					</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>溝の口到着後</h2>
					<p>ご乗車ありがとうございました。溝の口、終点です。この電車は車庫に入ります。ご乗車にはなれません。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2017年5月17日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>9000系5両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
