---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急大井町線　上り普通　鷺沼発（8590系、2009年）',
	heading: '大井町線　上り普通　鷺沼発',
	subHeading: '8590系、2009年',
	dateModified: dayjs('2009-08-22'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '大井町線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/oimachi_up_local_2006', name: '上り 普通（2006年）' },
			{ path: '/tokyu/an/oimachi_up_local_2009', name: '上り 普通（2009年）' },
			{ path: '/tokyu/an/oimachi_up_local_2017', name: '上り 普通（2017年）' },
			{ path: '/tokyu/an/oimachi_down_local_2006', name: '下り 普通（2006年）' },
			{ path: '/tokyu/an/oimachi_down_local_2009', name: '下り 普通（2009年）' },
			{ path: '/tokyu/an/oimachi_down_local_2017', name: '下り 普通（2017年）' },
			{ path: '/tokyu/an/oimachi_up_local_saginuma_2006', name: '上り 普通 鷺沼発（2006年）' },
			{ path: '/tokyu/an/oimachi_up_local_saginuma_2009', name: '上り 普通 鷺沼発（2009年）' },
			{ path: '/tokyu/an/oimachi_down_local_saginuma_2006', name: '下り 普通 鷺沼行（2006年）' },
			{ path: '/tokyu/an/oimachi_down_local_saginuma_2009', name: '下り 普通 鷺沼行（2009年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="大井町" type="local" trainNote="鷺沼始発" period="2009年の溝の口延伸から、2013年の戸越公園ドア非扱い解消まで" through="大井町線内は二子玉川始発の列車と同じ内容" recordDate="2009-08-22" recordCar="8590系5両編成">
		<AnnounceStation>
			<section>
				<h2>鷺沼停車中</h2>
				<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は大井町線直通、各駅停車大井町行きです。発車までしばらくお待ちください。</p>
				<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This train will merge and continue traveling at the local train on the Ōimachi Line to Ōimachi.</p>
			</section>
			<section>
				<h2>宮前平到着</h2>
				<p>本日も東急田園都市線をご利用くださいまして、ありがとうございます。この電車は大井町線直通、各駅停車大井町行きです。まもなく宮前平です。出口は左側です。</p>
				<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This train will merge and continue traveling at the local train on the Ōimachi Line to Ōimachi. We will soon make a breaf stop at Miyamaedaira.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>宮崎台到着</h2>
				<p>まもなく宮崎台です。</p>
				<p lang="en">We will soon make a breaf stop at Miyazakidai.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>梶が谷到着</h2>
				<p>まもなく梶が谷です。お降りの際は、足元にご注意ください。</p>
				<p lang="en">We will soon make a breaf stop at Kajigaya.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>溝の口到着</h2>
				<p>まもなく溝の口です。<AnnoucePhrase type="change">JR南武線はお乗り換えです。</AnnoucePhrase></p>
				<p lang="en">We will soon make a breaf stop at Mizonokuchi. <AnnoucePhrase type="change">Passengers changing to the JR Nambu Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>高津到着</h2>
				<p>本日も東急大井町線をご利用くださいまして、ありがとうございます。この電車は田園都市線経由、各駅停車大井町行きです。まもなく高津です。</p>
				<p lang="en">Thank you for using the Tōkyū Ōimachi Line. This is the local train bound for Ōimachi. We will soon make a breaf stop at Takatsu.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>二子新地到着</h2>
				<p>まもなく二子新地です。</p>
				<p lang="en">We will soon make a breaf stop at Futako-shinchi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>二子玉川到着</h2>
				<p><AnnoucePhrase type="stand">この先揺れますのでご注意ください。</AnnoucePhrase>まもなく二子玉川です。<AnnoucePhrase type="change">田園都市線渋谷方面はお乗り換えです。</AnnoucePhrase>出口は左側です。この電車は各駅停車大井町行きです。</p>
				<p lang="en">We will soon make a breaf stop at Futako-tamagawa. <AnnoucePhrase type="change">Passengers changing to the Den-en-toshi Line for Shibuya, please transfer at this station.</AnnoucePhrase> This is the local train bound for Ōimachi.</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
