---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import ListNote from '@components/ListNote.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　弘南鉄道大鰐線　上り『ふぃらいんぐうぃっち』ラッピング電車（7000系、2016年）',
	heading: '弘南鉄道大鰐線　上り『ふぃらいんぐうぃっち』',
	subHeading: '7000系、2016年',
	dateModified: dayjs('2016-09-20'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '弘南鉄道大鰐線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/owani_up_2006', name: '上り（2006年）' },
			{ path: '/tokyu/an/owani_up_2008', name: '上り（2008年）' },
			{ path: '/tokyu/an/owani_up_2009', name: '上り（2009年）' },
			{ path: '/tokyu/an/owani_up_rapid_2006', name: '上り 快速（2006年）' },
			{ path: '/tokyu/an/owani_up_flyingwitch_2016', name: '上り ふらいんぐうぃっち（2016年）' },
			{ path: '/tokyu/an/owani_down_2006', name: '下り（2006年）' },
			{ path: '/tokyu/an/owani_down_2008', name: '下り（2008年）' },
			{ path: '/tokyu/an/owani_down_2016', name: '下り（2016年）' },
			{ path: '/tokyu/an/owani_down_rapid_2006', name: '下り 快速（2006年）' },
			{ path: '/tokyu/an/owani_down_flyingwitch_2016', name: '下り ふらいんぐうぃっち（2016年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="大鰐" type="local" operation="oneman" period="2016年4月から9月まで行われたアニメ『ふらいんぐうぃっち』仕様アナウンス" note="大鰐駅有人時間帯バージョン" recordDate="2016-09-20" recordCar="7000系2両編成">
		<AnnounceStation>
			<section>
				<h2>中央弘前停車中【木幡真琴アナウンス】</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>みなさんこんにちは、木幡真琴です。『ふらいんぐうぃっち』の世界、弘前へようこそ。本日は弘南鉄道大鰐線をご利用くださり、ありがとうございます。私もまだ弘前に引っ越してきたばかりで、詳しくはないのですが、今日は終点の大鰐までのいくつの駅でご案内させていただきます。<AnnoucePhrase type="oneman">この列車は、ワンマン列車になっていますので、係員さんの居ない駅で降りられる際は、いちばん前のドアをご利用になってください。</AnnoucePhrase><AnnoucePhrase type="manners">あと、車内での携帯電話の使用は禁止ですよ。圭くんやなおさんから電話があっても、車内でお話はしないでくださいね。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>中央弘前発車【木幡真琴アナウンス】</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>お待たせしました。大鰐行きの発車です。さあチトさん、出発ですよ。あ、お降りの際には、お忘れ物がないようにお願いします。私もすぐ忘れ物をしてしまうので、皆さんも気を付けてくださいね。次の停車駅は弘高下、弘高下です。降り口は左側になります。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>弘高下発車【木幡真琴アナウンス】</h2>
				<p>
					<AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は弘前学院大前、弘前学院大前です。
					<AnnoucePhrase type="cm">ここ弘前学院大前は、学生の街「西弘」と呼ばれていて、放課後の飲食店は学生さんたちばかりです。もちろん、私たちもお邪魔してますよ。</AnnoucePhrase>さて、弘前学院大前の降り口は左側です。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。
				</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>弘前学院大前発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は聖愛中高前、聖愛中高前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>聖愛中高前発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は千年、千年、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>千年発車【木幡真琴アナウンス】</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は小栗山、小栗山、降り口は右側です。<AnnoucePhrase type="cm">チトさん、見てください。りんご園が見えてきましたよ。あ、田園もあるんですね、いい景色になってきましたね。皆さんもこの景色を見ながら、ごゆっくりおくつろぎください。</AnnoucePhrase>お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>小栗山発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は松木平、松木平、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<AnnoucePhrase type="manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>松木平発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は津軽大沢、津軽大沢、降り口は左側です。整理券のお客様は、駅でご精算ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>津軽大沢発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は義塾高校前、義塾高校前、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>義塾高校前発車【木幡真琴アナウンス】</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は石川、石川です。<AnnoucePhrase type="cm">これはなおさんに教えてもらったんですが、石川はたくさんのアジサイが咲く大仏公園が有名だそうです。梅雨の時期になったら、私も見に行ってみたいです。</AnnoucePhrase>石川での降り口は左側になります。お降りになる方は、いちばん前のドアをご利用になってください。きっぷは運賃箱に入れてくださいね。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>石川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は石川プール前、石川プール前、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>石川プール前発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は鯖石、鯖石、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<AnnoucePhrase type="manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>鯖石発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次の停車駅は宿河原、宿河原、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>宿河原発車【木幡真琴アナウンス】</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>お疲れさまでした。次の停車駅は終点、大鰐、大鰐です。<AnnoucePhrase type="cm">大鰐は温泉の町とのことで、お姉ちゃんがこの前、足湯を満喫してきたと言っていました。鰐comeという地域の施設があって、そちらで一休みすることもできるそうですよ。</AnnoucePhrase>さて、お降りの際にはお忘れ物がないよう、もう一度お手回り品をお確かめくださいね。降り口は左側です。<AnnoucePhrase type="attention">整理券をお持ちの方は、駅で精算してください。</AnnoucePhrase>本日は大鰐線をご利用いただきまして、ありがとうございました。つたないご紹介ではありましたが、ここまでのご案内は私、木幡真琴が担当させていただきました。それでは、また次回のご利用をお待ちしております。</p>
			</section>
		</AnnounceStation>
	</Announce>

	<ListNote>
		<li>
			上記のほか、駅停車中に以下の放送がいずれか片方、または両方流れる場合があります。
			<ul>
				<li><q>きっぷをお持ちでないお客様は、整理券をお取りください。</q>（通常アナウンス、木幡真琴アナウンスとも同フレーズ）</li>
				<li><q>ドアが閉まります。ご注意ください。</q>（通常アナウンス）、<q>ドアが閉まりますよ。気を付けてくださいね。</q>（木幡真琴アナウンス）</li>
			</ul>
		</li>
		<li>ラッピング電車については、<Anchor href="http://konantetsudo.blog115.fc2.com/blog-entry-247.html">弘南鉄道インフォメーションブログの2016年4月10日付記事</Anchor>を参照ください。</li>
		<li>車内アナウンスについては<Anchor href="https://www.vap.co.jp/flyingwitch/news/april.html">『<cite>ふらいんぐうぃっち</cite>』公式サイトの4月1日付ニュース</Anchor>、<Anchor href="https://web.archive.org/web/20160502181511/http://konantetsudo.blog115.fc2.com/blog-entry-254.html">弘南鉄道インフォメーションブログの2016年4月27日付記事</Anchor>を参照ください。</li>
	</ListNote>
</Layout>
