---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '自動放送　弘南鉄道大鰐線　下り（7000系、2016年）',
	heading: '弘南鉄道大鰐線　下り',
	subHeading: '7000系、2016年',
	dateModified: dayjs('2016-09-11'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/owani_up_2006', name: '上り（2006年）' },
		{ path: '/tokyu/an/owani_up_2008', name: '上り（2008年）' },
		{ path: '/tokyu/an/owani_up_2009', name: '上り（2009年）' },
		{ path: '/tokyu/an/owani_up_rapid_2006', name: '上り 快速（2006年）' },
		{ path: '/tokyu/an/owani_up_flyingwitch_2016', name: '上り ふらいんぐうぃっち（2016年）' },
		{ path: '/tokyu/an/owani_down_2006', name: '下り（2006年）' },
		{ path: '/tokyu/an/owani_down_2008', name: '下り（2008年）' },
		{ path: '/tokyu/an/owani_down_2016', name: '下り（2016年）' },
		{ path: '/tokyu/an/owani_down_rapid_2006', name: '下り 快速（2006年）' },
		{ path: '/tokyu/an/owani_down_flyingwitch_2016', name: '下り ふらいんぐうぃっち（2016年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　中央弘前</span>行</p>
			<p class="p-tokyu-announce-period">2009年頃の有人駅案内文言変更から</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>大鰐停車中</h2>
					<p><span class="c-tokyu-announce -chime">♪</span> 本日は弘南鉄道大鰐線をご利用くださいまして、ありがとうございます。<span class="c-tokyu-announce -oneman">この列車は、ワンマン列車になっておりますので、係員が居ない駅でお降りの際には、いちばん前のドアをご利用くださいますよう、皆様のご協力をお願いいたします。</span><span class="c-tokyu-announce -manners">また、車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
				</section>
				<section>
					<h2>大鰐発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待ち遠さまでした。中央弘前行きの発車です。お降りの際には、お忘れ物ございませんよう、ご注意ください。次の停車駅は宿河原、宿河原、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>宿河原発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は鯖石、鯖石、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>鯖石発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は石川プール前、石川プール前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>石川プール前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は石川、石川、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>石川発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は義塾高校前、義塾高校前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>義塾高校前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は津軽大沢、津軽大沢、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>津軽大沢発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は松木平、松木平、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>松木平発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は小栗山、小栗山、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>小栗山発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は千年、千年、降り口は右側に変わります。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>千年発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は聖愛中高前、聖愛中高前、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>聖愛中高前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は弘前学院大前、弘前学院大前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>弘前学院大前発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は弘高下、弘高下、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>弘高下発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お疲れさまでした。次の停車駅は終点、中央弘前、中央弘前です。お降りの際には、お忘れ物ございませんよう、いま一度お手回り品をお確かめください。降り口は右側です。駅に係員が居ますので、整理券のお客様は、駅改札口にてご精算ください。また、きっぷをお持ちのお客様は、駅係員にお渡しください。本日は大鰐線をご利用いただきまして、ありがとうございました。またのご乗車をお待ちいたしております。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2016年9月11日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>7000系2両編成</dd>
				</div>
			</dl>
		</div>
	</div>

	<ul class="p-notes">
		<li>
			上記のほか、駅停車中に以下の放送がいずれか片方、または両方流れる場合があります。
			<ul>
				<li><q>きっぷをお持ちでないお客様は、整理券をお取りください。</q></li>
				<li><q>ドアが閉まります。ご注意ください。</q></li>
			</ul>
		</li>
		<li>ここでは2011年12月の津軽大沢駅無人化後の放送を紹介しています。有人駅時代と比較して、義塾高校前発車時の放送以外の違いはありません。</li>
	</ul>
</Layout>
