---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '自動放送　東急多摩川線　下り（7700系、2006年）',
	heading: '東急多摩川線　下り',
	subHeading: '7700系、2006年',
	dateModified: dayjs('2006-07-30'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '東急多摩川線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/tamagawa_up_2004_7700', name: '上り 7700系（2004年）' },
			{ path: '/tokyu/an/tamagawa_up_2014_1500', name: '上り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/tamagawa_up_2016_7700', name: '上り 7700系（2016年）' },
			{ path: '/tokyu/an/tamagawa_up_2016_1000', name: '上り 1000系（2016年）' },
			{ path: '/tokyu/an/tamagawa_down_2006_7700', name: '下り 7700系（2006年）' },
			{ path: '/tokyu/an/tamagawa_down_2014_1500', name: '下り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/tamagawa_down_2016_7700', name: '下り 7700系（2016年）' },
			{ path: '/tokyu/an/tamagawa_down_2016_1000', name: '下り 1000系（2016年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="蒲田" type="local" operation="oneman" cars={['7600系', '7700系', '1000系（1500番台を除く）']} period="2003年の携帯電話マナー変更から、2015年まで" note="夏季の輸送対策と安全運動" recordDate="2006-07-30" recordCar="7700系3両編成">
		<AnnounceStation>
			<section>
				<h2>多摩川停車中</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>この電車は東急多摩川線蒲田行きです。</p>
			</section>
			<section>
				<h2>多摩川発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>東急多摩川線をご利用くださいまして、ありがとうございます。この電車は蒲田行きです。次は沼部、沼部です。お出口は左側です。</p>

				<p><AnnoucePhrase type="oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>沼部発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は鵜の木、鵜の木です。</p>

				<p><AnnoucePhrase type="menu">お客様にお知らせいたします。ただいま夏季の輸送対策と安全運動を実施しております。踏切の無理な横断はお止めください。皆様方のご理解とご協力をお願い申し上げます。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>鵜の木発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は下丸子、下丸子です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>下丸子発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は武蔵新田、武蔵新田です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵新田発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は矢口渡、矢口渡です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>矢口渡発車</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>次は蒲田、蒲田、終点です。<AnnoucePhrase type="change">池上線、京浜東北線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>蒲田到着</h2>
				<p><AnnoucePhrase type="chime">♪</AnnoucePhrase>まもなく蒲田、蒲田、終点です。東急多摩川線をご利用くださいまして、ありがとうございました。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
