---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急多摩川線　上り（7700系、2004年）',
	heading: '東急多摩川線　上り',
	subHeading: '7700系、2004年',
	dateModified: dayjs('2004-08-16'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '東急多摩川線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/tamagawa_up_2004_7700', name: '上り 7700系（2004年）' },
			{ path: '/tokyu/an/tamagawa_up_2014_1500', name: '上り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/tamagawa_up_2016_7700', name: '上り 7700系（2016年）' },
			{ path: '/tokyu/an/tamagawa_up_2016_1000', name: '上り 1000系（2016年）' },
			{ path: '/tokyu/an/tamagawa_down_2006_7700', name: '下り 7700系（2006年）' },
			{ path: '/tokyu/an/tamagawa_down_2014_1500', name: '下り 1000系1500番台（2014年）' },
			{ path: '/tokyu/an/tamagawa_down_2016_7700', name: '下り 7700系（2016年）' },
			{ path: '/tokyu/an/tamagawa_down_2016_1000', name: '下り 1000系（2016年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　多摩川</span>行</p>
			<p class="p-tokyu-announce-car">7600系、7700系、1000系（1500番台を除く）に搭載されているタイプ</p>
			<p class="p-tokyu-announce-period">2003年の携帯電話マナー変更から、2015年まで</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>蒲田停車中</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>この電車は東急多摩川線多摩川行きです。</p>
				</section>
				<section>
					<h2>蒲田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>東急多摩川線をご利用くださいまして、ありがとうございます。この電車は多摩川行きです。次は矢口渡、矢口渡です。お出口は左側です。</p>

					<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>矢口渡発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は武蔵新田、武蔵新田です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>武蔵新田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は下丸子、下丸子です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由なお客様には、席をお譲りください。皆様のご協力をお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>下丸子発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は鵜の木、鵜の木です。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>鵜の木発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は沼部、沼部です。</p>

					<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>沼部発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は多摩川、多摩川、終点です。<span class="c-tokyu-announce -change">東横線、目黒線ご利用のお客様は乗り換えです。</span></p>
				</section>
				<section>
					<h2>多摩川到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>まもなく多摩川、多摩川、終点です。東急多摩川線をご利用くださいましてありがとうございました。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2004年8月16日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>7700系3両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
