---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '../../../types/types.js';

const structuredData: StructuredData = {
	title: '自動放送　富山地方鉄道不二越・上滝線　下り（17480形、2013年）',
	heading: '富山地方鉄道不二越・上滝線　下り',
	subHeading: '17480形、2013年',
	dateModified: dayjs('2013-11-04'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/toyama_up_2013', name: '本線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_tateyama_up_2013', name: '立山線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_fujikoshi-kamitaki_up_2013', name: '不二越・上滝線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_down_2013', name: '本線 下り（2013年）' },
		{ path: '/tokyu/an/toyama_tateyama_down_2013', name: '立山線 下り（2013年）' },
		{ path: '/tokyu/an/toyama_fujikoshi-kamitaki_down_2013', name: '不二越・上滝線 下り（2013年）' },
	],
};
---

<Layout structuredData={structuredData}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　岩峅寺</span>行</p>
			<p class="p-tokyu-announce-period">2013年の17480形導入から</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>電鉄富山停車中</h2>
					<p>この電車は電鉄富山発、南富山経由、岩峅寺行きです。お乗り間違えのないようご注意ください。駅員の居ない駅でお降りの際は、前の車両のいちばん前のドアからお降りください。後ろの車両にご乗車のお客様は、お降りの駅が近づきましたら、前の車両でお待ちいただきますようお願いいたします。</p>
				</section>
				<section>
					<h2>電鉄富山発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。本日も地鉄電車をご利用いただきありがとうございます。不二越、南富山、上滝方面、岩峅寺行きです。次は稲荷町、稲荷町です。すべてのドアが開きます。</p>
				</section>
				<section>
					<h2>稲荷町到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>稲荷町、稲荷町です。降り口は右側、すべてのドアが開きます。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>稲荷町発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は不二越、不二越です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>不二越到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>不二越、不二越です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>不二越発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は大泉、大泉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>大泉到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>大泉、大泉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大泉発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は南富山、南富山です。すべてのドアが開きます。<span class="c-tokyu-announce -change">市内電車ご利用の方、お乗り換えになります。</span></p>
				</section>
				<section>
					<h2>南富山到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>南富山、南富山です。降り口は右側、すべてのドアが開きます。お忘れもののないようご注意ください。<span class="c-tokyu-announce -change">市内電車ご利用の方、お乗り換えになります。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>南富山発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。ご乗車ありがとうございます。上滝方面、岩峅寺行きです。次は朝菜町、朝菜町です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>朝菜町到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>朝菜町、朝菜町です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>朝菜町発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は上堀、上堀です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>上堀到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>上堀、上堀です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>上堀発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は小杉、小杉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>小杉到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>小杉、小杉です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>小杉発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は布市、布市です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>布市到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>布市、布市です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>布市発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は開発、開発です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>開発到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>開発、開発です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>開発発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は月岡、月岡です。乗車券をお持ちでない方は、車内の運賃表でお確かめのうえ、釣り銭のいらないようご準備ください。両替ご希望の方はお早めに自動両替機をご利用ください。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>月岡到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>月岡、月岡です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>月岡発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は大庄、大庄です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>大庄到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>大庄、大庄です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大庄発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は上滝、上滝です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>上滝到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>上滝、上滝です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>上滝発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は大川寺、大川寺です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>大川寺到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>大川寺、大川寺です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>大川寺発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。次は岩峅寺、終点です。お忘れもののないようご支度ください。<span class="c-tokyu-announce -change">立山線ご利用の方、お乗り換えになります。</span></p>
				</section>
				<section>
					<h2>岩峅寺到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。岩峅寺、終点です。本日も地鉄電車をご利用いただきありがとうございました。<span class="c-tokyu-announce -change">立山線ご利用の方、お乗り換えになります。</span></p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2013年11月4日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>17480形2両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
