---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　富山地方鉄道立山線　上り普通（17480形、2013年）',
	heading: '富山地方鉄道立山線　上り普通',
	subHeading: '17480形、2013年',
	dateModified: dayjs('2013-11-04'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/toyama_up_2013', name: '本線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_tateyama_up_2013', name: '立山線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_fujikoshi-kamitaki_up_2013', name: '不二越・上滝線 上り（2013年）' },
		{ path: '/tokyu/an/toyama_down_2013', name: '本線 下り（2013年）' },
		{ path: '/tokyu/an/toyama_tateyama_down_2013', name: '立山線 下り（2013年）' },
		{ path: '/tokyu/an/toyama_fujikoshi-kamitaki_down_2013', name: '不二越・上滝線 下り（2013年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　電鉄富山</span>行</p>
			<p class="p-tokyu-announce-period">2013年の17480形導入から</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>立山停車中</h2>
					<p>この電車は立山発、電鉄富山行きです。お乗り間違えのないようご注意ください。駅員の居ない駅でお降りの際は、前の車両のいちばん前のドアからお降りください。後ろの車両にご乗車のお客様は、お降りの駅が近づきましたら、前の車両でお待ちいただきますようお願いいたします。</p>
				</section>
				<section>
					<h2>立山発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。本日も地鉄電車をご利用いただきありがとうございます。岩峅寺、五百石、寺田方面、電鉄富山行きです。次は本宮、本宮です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>本宮到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>本宮、本宮です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>本宮発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は有峰口、有峰口です。乗車券をお持ちでない方は、車内の運賃表でお確かめのうえ、釣り銭のいらないようご準備ください。両替ご希望の方はお早めに自動両替機をご利用ください。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>有峰口到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>有峰口、有峰口です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>有峰口発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は千垣、千垣です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>千垣到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>千垣、千垣です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>千垣発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>五百石、寺田方面、電鉄富山行きです。次は横江、横江です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>横江到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>横江、横江です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>横江発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は岩峅寺、岩峅寺です。<span class="c-tokyu-announce -change">上滝線ご利用の方、お乗り換えになります。</span></p>
				</section>
				<section>
					<h2>岩峅寺到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。岩峅寺、岩峅寺です。<span class="c-tokyu-announce -change">上滝線ご利用の方、お乗り換えになります。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>岩峅寺発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>お待たせしました。本日も地鉄電車をご利用いただきありがとうございます。五百石、寺田方面、電鉄富山行きです。次は沢中山、沢中山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>沢中山到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>沢中山、沢中山です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>沢中山発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は釜ヶ淵、釜ヶ淵です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>釜ヶ淵到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>釜ヶ淵、釜ヶ淵です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>釜ヶ淵発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。次は下段、下段です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>下段到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>下段、下段です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>下段発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は榎町、榎町です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>榎町到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>榎町、榎町です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>榎町発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は五百石、五百石です。<span class="c-tokyu-announce -manners">電車の駆け込み乗車はたいへん危険です。駅には余裕をもってお越しください。</span></p>
				</section>
				<section>
					<h2>五百石到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>五百石、五百石です。お忘れ物のないようご注意ください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>五百石発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。電鉄富山行きです。次は田添、田添です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>田添到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>田添、田添です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>田添発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は稚子塚、稚子塚です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>稚子塚到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>稚子塚、稚子塚です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>稚子塚発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>電鉄富山行きです。次は寺田、寺田です。<span class="c-tokyu-announce -change">本線ご利用の方、お乗り換えになります。</span></p>
				</section>
				<section>
					<h2>寺田到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>寺田、寺田です。<span class="c-tokyu-announce -change">本線ご利用の方、お乗り換えになります。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>寺田発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。電鉄富山行きです。次は越中舟橋、越中舟橋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>越中舟橋到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>越中舟橋、越中舟橋です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>越中舟橋発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は越中三郷、越中三郷です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>越中三郷到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>越中三郷、越中三郷です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>越中三郷発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は越中荏原、越中荏原です。<span class="c-tokyu-announce -manners">電車の駆け込み乗車はたいへん危険です。駅には余裕をもってお越しください。</span></p>
				</section>
				<section>
					<h2>越中荏原到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>越中荏原、越中荏原です。開くドアにご注意ください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>越中荏原発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございます。電鉄富山行きです。次は東新庄、東新庄です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由な方には席をお譲りください。皆様のご協力をお願いします。</span>後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>東新庄到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>東新庄、東新庄です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>東新庄発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>次は新庄田中、新庄田中です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
				<section>
					<h2>新庄田中到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>新庄田中、新庄田中です。後ろの車両のドアは開きません。お降りの際は、前の車両のいちばん前のドアからお降りください。</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>新庄田中発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご利用いただきありがとうございます。次は稲荷町、稲荷町です。<span class="c-tokyu-announce -change">上滝線ご利用の方、お乗り換えになります。</span></p>
				</section>
				<section>
					<h2>稲荷町到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>稲荷町、稲荷町です。すべてのドアが開きます。<span class="c-tokyu-announce -change">上滝線ご利用の方、お乗り換えになります。</span></p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>稲荷町発車</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。次は電鉄富山、終点です。お忘れもののないようご支度ください。</p>
				</section>
				<section>
					<h2>電鉄富山到着</h2>
					<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。電鉄富山、電鉄富山、終点です。<span class="c-tokyu-announce -change">市内電車、地鉄バス、JR線、富山ライトレール線ご利用の方はお乗り換えになります。</span>お忘れもののないようご注意ください。本日も地鉄電車をご利用いただきありがとうございました。</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2013年11月4日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>17480形2両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
