---
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '自動放送　東急東横線　上り普通（9000系、2011年）',
	heading: '東横線　上り普通',
	subHeading: '9000系、2011年',
	dateModified: '2011-07-31',
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '東横線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/toyoko_up_local_2011', name: '上り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_up_exp_2011', name: '上り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_up_ltd_2011', name: '上り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_up_hibiya_2011', name: '上り 日比谷線直通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_local_2011', name: '下り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_exp_2011', name: '下り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_down_ltd_2011', name: '下り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_down_hibiya_2006', name: '下り 日比谷線直通（2006年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="渋谷" type="local" cars={['9000系']} period="2008年の副都心線渋谷延伸から、2013年の副都心線直通開始まで" recordDate="2011-07-31" recordCar="9000系8両編成">
		<AnnounceStation>
			<section>
				<h2>横浜停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車渋谷行きです。</p>
				<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This is the local train bound for Shibuya.</p>
			</section>
			<section>
				<h2>横浜発車</h2>
				<p>この電車は各駅停車渋谷行きです。次は反町、反町です。お降りの際は、足元にご注意ください。</p>
				<p lang="en">This is the local train bound for Shibuya. The next station is Tammachi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>反町発車</h2>
				<p>次は東白楽、東白楽です。お出口は左側です。</p>
				<p lang="en">The next station is Higashi-hakuraku.</p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>東白楽発車</h2>
				<p>次は白楽、白楽です。お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Hakuraku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>白楽発車</h2>
				<p>次は妙蓮寺、妙蓮寺です。お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Myōrenji.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>妙蓮寺発車</h2>
				<p>次は菊名、菊名です。<AnnoucePhrase type="change">JR横浜線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Kikuna. <AnnoucePhrase type="change">Passengers changing to the JR Yokohama Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>菊名発車</h2>
				<p>この電車は各駅停車渋谷行きです。次は大倉山、大倉山です。お出口は左側です。</p>
				<p lang="en">This is the local train bound for Shibuya. The next station is Ōkurayama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>大倉山発車</h2>
				<p>次は綱島、綱島です。</p>
				<p lang="en">The next station is Tsunashima.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>綱島発車</h2>
				<p>次は日吉、日吉です。<AnnoucePhrase type="change">目黒線、横浜市営地下鉄ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
				<p lang="en">The next station is Hiyoshi. <AnnoucePhrase type="change">Passengers changing to the Meguro Line, and the Yokohama Municipal Subway, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>日吉発車</h2>
				<p>次は元住吉、元住吉です。</p>
				<p lang="en">The next station is Motosumiyoshi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>元住吉発車</h2>
				<p>次は武蔵小杉、武蔵小杉です。<AnnoucePhrase type="change">目黒線、JR線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
				<p lang="en">The next station is Musashi-kosugi. <AnnoucePhrase type="change">Passengers changing to the Meguro Line, and the JR Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小杉停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車渋谷行きです。</p>
				<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This is the local train bound for Shibuya.</p>
			</section>
			<section>
				<h2>武蔵小杉発車</h2>
				<p>この電車は各駅停車渋谷行きです。次は新丸子、新丸子です。</p>
				<p lang="en">This is the local train bound for Shibuya. The next station is Shin-maruko.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子発車</h2>
				<p>次は多摩川、多摩川です。<AnnoucePhrase type="change">東急多摩川線ご利用のお客様は乗り換えです。</AnnoucePhrase>お降りの際は、足元にご注意ください。</p>
				<p lang="en">The next station is Tamagawa. <AnnoucePhrase type="change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</AnnoucePhrase></p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力を、お願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川発車</h2>
				<p>次は田園調布、田園調布です。<AnnoucePhrase type="change">目黒線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Den-en-chōfu. <AnnoucePhrase type="change">Passengers changing to the Meguro Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布発車</h2>
				<p>次は自由が丘、自由が丘です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Jiyūgaoka. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>自由が丘発車</h2>
				<p>この電車は各駅停車渋谷行きです。次は都立大学、都立大学です。お出口は左側です。</p>
				<p lang="en">This is the local train bound for Shibuya. The next station is Toritsu-daigaku.</p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>都立大学発車</h2>
				<p>次は学芸大学、学芸大学です。お出口は右側です。</p>
				<p lang="en">The next station is Gakugei-daigaku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>学芸大学発車</h2>
				<p>次は祐天寺、祐天寺です。お出口は左側です。</p>
				<p lang="en">The next station is Yūtenji.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>祐天寺発車</h2>
				<p>次は中目黒、中目黒です。<AnnoucePhrase type="change">日比谷線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
				<p lang="en">The next station is Naka-meguro. <AnnoucePhrase type="change">Passengers changing to the Hibiya Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>中目黒発車</h2>
				<p>次は代官山、代官山です。お出口は左側です。</p>
				<p lang="en">The next station is Daikan-yama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>代官山発車</h2>
				<p>次は渋谷、渋谷、終点です。<AnnoucePhrase type="change">田園都市線、JR線、京王井の頭線、銀座線、半蔵門線、副都心線ご利用のお客様は乗り換えです。</AnnoucePhrase>お降りの際は、足元にご注意ください。東急東横線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">
					The next station is Shibuya. This is the last stop of this line. <AnnoucePhrase type="change">Passengers changing to the Den-en-toshi Line, the JR Line, the Keiō Inokashira Line, the Ginza Line, the Hanzōmon Line, and the Fukutoshin Line, please transfer at this station.</AnnoucePhrase> Thank you for using the Tōkyū Tōyoko Line.
				</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>渋谷到着後</h2>
				<p>渋谷、渋谷、終点です。お忘れ物のないよう、ご注意ください。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
