---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import AnnoucePhrase from '@components/tokyu/+phrasing/AnnoucePhrase.astro';
import type { StructuredData } from '@type/util.ts';

const structuredData: StructuredData = {
	title: '自動放送　東急東横線　下り急行（9000系、2011年）',
	heading: '東横線　下り急行',
	subHeading: '9000系、2011年',
	dateModified: dayjs('2011-08-06'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '東横線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/toyoko_up_local_2011', name: '上り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_up_exp_2011', name: '上り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_up_ltd_2011', name: '上り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_up_hibiya_2011', name: '上り 日比谷線直通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_local_2011', name: '下り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_exp_2011', name: '下り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_down_ltd_2011', name: '下り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_down_hibiya_2006', name: '下り 日比谷線直通（2006年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="元町・中華街" type="exp" cars={['9000系']} period="2008年のグリーンライン開業から、2013年の副都心線直通開始まで" through="みなとみらい線へ直通" recordDate="2011-08-06" recordCar="9000系8両編成">
		<AnnounceStation>
			<section>
				<h2>渋谷停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車はみなとみらい線直通、急行元町・中華街行きです。</p>
				<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai.</p>
			</section>
			<section>
				<h2>渋谷発車</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車はみなとみらい線直通、急行元町・中華街行きです。次は中目黒、中目黒です。<AnnoucePhrase type="change">日比谷線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
				<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai. The next station is Naka-meguro. <AnnoucePhrase type="change">Passengers changing to the Hibiya Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>中目黒到着</h2>
				<p>まもなく中目黒、中目黒です。<AnnoucePhrase type="change">日比谷線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。中目黒を出ますと、学芸大学に停まります。</p>
				<p lang="en">We will soon make a brief stop at Naka-meguro. <AnnoucePhrase type="change">Passengers changing to the Hibiya Line, please transfer at this station.</AnnoucePhrase> The stop after Naka-meguro, will be Gakugei-daigaku.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>中目黒発車</h2>
				<p>次は学芸大学、学芸大学です。</p>
				<p lang="en">The next station is Gakugei-daigaku.</p>

				<p><AnnoucePhrase type="manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</AnnoucePhrase></p>
			</section>
			<section>
				<h2>学芸大学到着</h2>
				<p>まもなく学芸大学、学芸大学です。学芸大学を出ますと、自由が丘に停まります。</p>
				<p lang="en">We will soon make a brief stop at Gakugei-daigaku. The stop after Gakugei-daigaku, will be Jiyūgaoka.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>学芸大学発車</h2>
				<p>次は自由が丘、自由が丘です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Jiyūgaoka. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>自由が丘到着</h2>
				<p>まもなく自由が丘、自由が丘です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase>自由が丘を出ますと、田園調布に停まります。</p>
				<p lang="en">We will soon make a brief stop at Jiyūgaoka. <AnnoucePhrase type="change">Passengers changing to the Ōimachi Line, please transfer at this station.</AnnoucePhrase> The stop after Jiyūgaoka, will be Den-en-chōfu.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布到着</h2>
				<p><AnnoucePhrase type="manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力を、お願いいたします。</AnnoucePhrase>この電車はみなとみらい線直通、急行元町・中華街行きです。まもなく田園調布、田園調布です。<AnnoucePhrase type="change">目黒線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。田園調布を出ますと、多摩川に停まります。</p>
				<p lang="en">This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai. We will soon make a brief stop at Den-en-chōfu. <AnnoucePhrase type="change">Passengers changing to the Meguro Line, please transfer at this station.</AnnoucePhrase> The stop after Den-en-chōfu, will be Tamagawa.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川到着</h2>
				<p>まもなく多摩川、多摩川です。<AnnoucePhrase type="change">東急多摩川線ご利用のお客様は乗り換えです。</AnnoucePhrase>多摩川を出ますと、武蔵小杉に停まります。</p>
				<p lang="en">We will soon make a brief stop at Tamagawa. <AnnoucePhrase type="change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</AnnoucePhrase> The stop after Tamagawa, will be Musashi-kosugi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川発車</h2>
				<p>次は武蔵小杉、武蔵小杉です。<AnnoucePhrase type="change">JR線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Musashi-kosugi. <AnnoucePhrase type="change">Passengers changing to the JR Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>武蔵小杉到着</h2>
				<p>まもなく武蔵小杉、武蔵小杉です。<AnnoucePhrase type="change">JR線ご利用のお客様は乗り換えです。</AnnoucePhrase>武蔵小杉を出ますと、日吉に停まります。</p>
				<p lang="en">We will soon make a brief stop at Musashi-kosugi. <AnnoucePhrase type="change">Passengers changing to the JR Line, please transfer at this station.</AnnoucePhrase> The stop after Musashi-kosugi, will be Hiyoshi.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小杉停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車はみなとみらい線直通、急行元町・中華街行きです。</p>
				<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai.</p>
			</section>
			<section>
				<h2>武蔵小杉発車</h2>
				<p>この電車はみなとみらい線直通、急行元町・中華街行きです。次は日吉、日吉です。<AnnoucePhrase type="change">横浜市営地下鉄ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai. The next station is Hiyoshi. <AnnoucePhrase type="change">Passengers changing to the Yokohama Municipal Subway, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>日吉到着</h2>
				<p>まもなく日吉、日吉です。<AnnoucePhrase type="change">横浜市営地下鉄ご利用のお客様は乗り換えです。</AnnoucePhrase>日吉を出ますと、綱島に停まります。</p>
				<p lang="en">We will soon make a brief stop at Hiyoshi. <AnnoucePhrase type="change">Passengers changing to the Yokohama Municipal Subway, please transfer at this station.</AnnoucePhrase> The stop after Hiyoshi, will be Tsunashima.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>綱島到着</h2>
				<p>まもなく綱島、綱島です。お出口は左側です。綱島を出ますと、菊名に停まります。</p>
				<p lang="en">We will soon make a brief stop at Tsunashima. The stop after Tsunashima, will be Kikuna.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>綱島発車</h2>
				<p>次は菊名、菊名です。<AnnoucePhrase type="change">JR横浜線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
				<p lang="en">The next station is Kikuna. <AnnoucePhrase type="change">Passengers changing to the JR Yokohama Line, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>菊名到着</h2>
				<p>まもなく菊名、菊名です。<AnnoucePhrase type="change">JR横浜線ご利用のお客様は乗り換えです。</AnnoucePhrase>菊名を出ますと、横浜に停まります。</p>
				<p lang="en">We will soon make a brief stop at Kikuna. <AnnoucePhrase type="change">Passengers changing to the JR Yokohama Line, please transfer at this station.</AnnoucePhrase> The stop after Kikuna, will be Yokohama.</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>菊名発車</h2>
				<p>次は横浜、横浜です。<AnnoucePhrase type="change">JR線、京急線、相鉄線、横浜市営地下鉄ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
				<p lang="en">The next station is Yokohama. <AnnoucePhrase type="change">Passengers changing to the JR Line, the Keikyū Line, the Sōtetsu Line, and the Yokohama Municipal Subway, please transfer at this station.</AnnoucePhrase></p>
			</section>
			<section>
				<h2>横浜到着</h2>
				<p>まもなく横浜、横浜です。<AnnoucePhrase type="change">JR線、京急線、相鉄線、横浜市営地下鉄ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。この電車はみなとみらい線直通、急行元町・中華街行きです。横浜を出ますと、みなとみらいに停まります。東急東横線をご利用くださいまして、ありがとうございました。</p>
				<p lang="en">
					We will soon make a brief stop at Yokohama. <AnnoucePhrase type="change">Passengers changing to the JR Line, the Keikyū Line, the Sōtetsu Line, and the Yokohama Municipal Subway, please transfer at this station.</AnnoucePhrase> This train will merge and continue traveling at the Express on the Minatomirai Line to Motomachi-Chūkagai. The stop after Yokohama, will be Minatomirai. Thank you for using the Tōkyū Tōyoko Line.
				</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
