---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import Announce from '@components/tokyu/Announce.astro';
import AnnoucePhrase from '@components/tokyu/AnnoucePhrase.astro';
import AnnounceStation from '@components/tokyu/AnnounceStation.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　東急東横線　下り日比谷線直通（1000系、2006年）',
	heading: '東横線　下り日比谷線直通',
	subHeading: '1000系、2006年',
	dateModified: dayjs('2006-03-23'),
	breadcrumb: [
		{ path: '/tokyu/', name: '東急電車資料室' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: {
		label: '東横線の自動放送バリエーション',
		items: [
			{ path: '/tokyu/an/toyoko_up_local_2011', name: '上り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_up_exp_2011', name: '上り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_up_ltd_2011', name: '上り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_up_hibiya_2011', name: '上り 日比谷線直通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_local_2011', name: '下り 普通（2011年）' },
			{ path: '/tokyu/an/toyoko_down_exp_2011', name: '下り 急行（2011年）' },
			{ path: '/tokyu/an/toyoko_down_ltd_2011', name: '下り 特急（2011年）' },
			{ path: '/tokyu/an/toyoko_down_hibiya_2006', name: '下り 日比谷線直通（2006年）' },
		],
	},
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<Announce station="菊名" type="hibiya" period="2004年のみなとみらい線開業から、2008年のグリーンライン開業まで" note="マナー放送、英語放送カット" recordDate="2006-03-23" recordCar="1000系8両編成">
		<AnnounceStation>
			<section>
				<h2>中目黒停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車菊名行きです。</p>
			</section>
			<section>
				<h2>中目黒発車</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車菊名行きです。次は祐天寺、祐天寺です。お出口は左側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>祐天寺発車</h2>
				<p>次は学芸大学、学芸大学です。お出口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>学芸大学発車</h2>
				<p>次は都立大学、都立大学です。お出口は左側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>都立大学発車</h2>
				<p>次は自由が丘、自由が丘です。<AnnoucePhrase type="change">大井町線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>自由が丘発車</h2>
				<p>この電車は各駅停車菊名行きです。次は田園調布、田園調布です。<AnnoucePhrase type="change">目黒線ご利用のお客様は乗り換えです。</AnnoucePhrase>お出口は右側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>田園調布発車</h2>
				<p>次は多摩川、多摩川です。<AnnoucePhrase type="change">東急多摩川線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>多摩川発車</h2>
				<p>次は新丸子、新丸子です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>新丸子発車</h2>
				<p>次は武蔵小杉、武蔵小杉です。<AnnoucePhrase type="change">JR南武線ご利用のお客様は乗り換えです。</AnnoucePhrase></p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>武蔵小杉停車中</h2>
				<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車菊名行きです。</p>
			</section>
			<section>
				<h2>武蔵小杉発車</h2>
				<p>この電車は各駅停車菊名行きです。次は元住吉、元住吉です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>元住吉発車</h2>
				<p>次は日吉、日吉です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>日吉発車</h2>
				<p>次は綱島、綱島です。お出口は左側です。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>綱島発車</h2>
				<p>次は大倉山、大倉山です。お降りの際は、足元にご注意ください。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>大倉山発車</h2>
				<p>次は菊名、菊名です。この電車の終点です。<AnnoucePhrase type="change">JR横浜線ご利用のお客様は乗り換えです。</AnnoucePhrase>東急東横線をご利用くださいまして、ありがとうございました。</p>
			</section>
		</AnnounceStation>

		<AnnounceStation>
			<section>
				<h2>菊名到着後</h2>
				<p>菊名、菊名、終点です。お忘れ物のないよう、ご注意ください。</p>
			</section>
		</AnnounceStation>
	</Announce>
</Layout>
