---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '自動放送　養老鉄道養老線　大垣→揖斐　下り（7700系、2019年）',
	heading: '養老鉄道養老線　大垣→揖斐　下り',
	subHeading: '7700系、2019年',
	dateModified: dayjs('2019-09-21'),
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/an/', name: '自動放送' },
	],
	localNav: [
		{ path: '/tokyu/an/yoro_ibi_up_2019', name: '上り 揖斐→大垣 普通（2019年）' },
		{ path: '/tokyu/an/yoro_kuwana_up_2019', name: '上り 大垣→桑名 普通（2019年）' },
		{ path: '/tokyu/an/yoro_kuwana_down_2019', name: '下り 桑名→大垣 普通（2019年）' },
		{ path: '/tokyu/an/yoro_ibi_down_2019', name: '下り 大垣→揖斐 普通（2019年）' },
	],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<div class="l-tokyu-announce">
		<div class="l-tokyu-announce__header">
			<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通ワンマン　揖斐</span>行</p>
			<p class="p-tokyu-announce-period">2019年の7700系導入から</p>
			<p class="p-tokyu-announce-note">サイクルトレイン</p>
		</div>
		<div class="l-tokyu-announce__main">
			<div class="p-tokyu-announce-station">
				<section>
					<h2>桑名停車中</h2>
					<p>養老鉄道をご利用いただき、ありがとうございます。この電車は揖斐行きです。発車までしばらくお待ちください。</p>
					<p lang="en">Thank you for taking Yōrō Railway. This train is bound for Ibi. Please wait a moment, until the train departs.</p>
				</section>
				<section>
					<h2>桑名発車</h2>
					<p>お待たせいたしました。養老鉄道をご利用いただき、ありがとうございます。この電車は揖斐行き、揖斐行きです。<span class="c-tokyu-announce -oneman">この電車はワンマン運転です。</span>次は室、室です。次の室でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
					<p lang="en">Thank you for waiting and thank you for taking Yōrō Railway. This train is bound for Ibi. The next stop is Muro.</p>
				</section>
				<section>
					<h2>室到着</h2>
					<p>室、室です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Muro. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>室発車</h2>
					<p>次は北大垣、北大垣です。次の北大垣でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。また各車両に優先座席を設けております。ご協力をお願いいたします。<span class="c-tokyu-announce -attention">本日はサイクルトレインをご利用くださいましてありがとうございます。自転車をお持ち込みのお客様にお願いいたします。車内では自転車が倒れないように充分ご注意ください。</span></p>
					<p lang="en">The next stop is Kita-ōgaki. <span class="c-tokyu-announce -attention">Thank you for taking the cycle train today. While on the train, please make sure the your bicycle these nor topple then, thank you.</span></p>
				</section>
				<section>
					<h2>北大垣到着</h2>
					<p>北大垣、北大垣です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Kita-ōgaki. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>北大垣発車</h2>
					<p>次は東赤坂、東赤坂です。次の東赤坂でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
					<p lang="en">The next stop is Higashi-akasaka.</p>
				</section>
				<section>
					<h2>東赤坂到着</h2>
					<p>東赤坂、東赤坂です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Higashi-akasaka. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>東赤坂発車</h2>
					<p>次は広神戸、広神戸です。次の広神戸でお降りのお客様は、乗車券を改札口備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。<span class="c-tokyu-announce -manners">お客様にお願いいたします。携帯電話はマナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
					<p lang="en">The next stop is Hiro-gōdo. <span class="c-tokyu-announce -manners">Attention, please. While on the train, please switch off your mobile phone to silent mode and refrain from speaking on the phone, thank you.</span></p>
				</section>
				<section>
					<h2>広神戸到着</h2>
					<p>広神戸、広神戸です。右側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Hiro-gōdo. The doors on the right side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>広神戸発車</h2>
					<p>次は北神戸、北神戸です。次の北神戸でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。<span class="c-tokyu-announce -attention">本日はサイクルトレインをご利用くださいましてありがとうございます。自転車をお持ち込みのお客様にお願いいたします。車内では自転車が倒れないように充分ご注意ください。</span></p>
					<p lang="en">The next stop is Kita-gōdo. <span class="c-tokyu-announce -attention">Thank you for taking the cycle train today. While on the train, please make sure the your bicycle these nor topple then, thank you.</span></p>
				</section>
				<section>
					<h2>北神戸到着</h2>
					<p>北神戸、北神戸です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Kita-gōdo. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>北神戸発車</h2>
					<p>次は池野、池野です。次の池野でお降りのお客様は、乗車券を改札口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
					<p lang="en">The next stop is Ikeno.</p>
				</section>
				<section>
					<h2>池野到着</h2>
					<p>池野、池野です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Ikeno. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>池野発車</h2>
					<p>次は北池野、北池野です。次の北池野でお降りのお客様は、乗車券を出口付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
					<p lang="en">The next stop is Kita-ikeno.</p>
				</section>
				<section>
					<h2>北池野到着</h2>
					<p>北池野、北池野です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Kita-ikeno. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>北池野発車</h2>
					<p>次は美濃本郷、本郷です。次の美濃本郷でお降りのお客様は、乗車券を待合室付近備え付けの乗車券箱にお入れ願います。なお、乗車券をお持ちでないお客様は、いちばん前の運賃箱で精算願います。</p>
					<p lang="en">The next stop is Mino-hongō.</p>
				</section>
				<section>
					<h2>美濃本郷到着</h2>
					<p>美濃本郷、本郷です。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">This is Mino-hongō. The doors on the left side will open.</p>
				</section>
			</div>

			<div class="p-tokyu-announce-station">
				<section>
					<h2>美濃本郷発車</h2>
					<p>次は揖斐、揖斐です。この電車は次の揖斐までです。お忘れもののないようご用意ください。</p>
					<p lang="en">The next stop is Ibi.</p>
				</section>
				<section>
					<h2>揖斐到着</h2>
					<p>ご乗車ありがとうございました。揖斐、揖斐です。この電車はこの駅までです。お忘れもののないようご注意ください。養老鉄道をご利用いただきありがとうございました。左側の扉が開きます。扉にご注意ください。</p>
					<p lang="en">Thank you for taking this train. This is Ibi. This is the final stop for this train. Thank you for taking Yōrō Railway. The doors on the left side will open.</p>
				</section>
			</div>
		</div>
		<div class="l-tokyu-announce__footer">
			<dl class="p-tokyu-announce-data">
				<div>
					<dt>収録日</dt>
					<dd>2019年9月21日</dd>
				</div>
				<div>
					<dt>車種</dt>
					<dd>7700系3両編成</dd>
				</div>
			</dl>
		</div>
	</div>
</Layout>
