---
import dayjs from 'dayjs';
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Tokyu.astro';
import H from '@components/H.astro';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro';
import LinkExternal from '@components/LinkExternal.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	title: '東急 8637F の装飾移り変わり',
	heading: '8637F の装飾移り変わり',
	dateModified: dayjs('2013-10-25'),
	description: '田玉線の 8637F は登場後まもなく青帯を巻いて東急ケーブルテレビジョンの統一広告車となり、異色の存在として注目されていました。ここでは期間限定のものも含めて装飾の変遷や編成替えの記録を紹介します。',
	image: 'https://media.w0s.jp/image/tokyu/yomoyama/8637/1998_balloon.jpg',
	breadcrumb: [
		{ path: '/tokyu/', name: 'ホーム' },
		{ path: '/tokyu/yomoyama/', name: 'よもやま話' },
	],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section id="red">
		<H slot="heading">赤帯時代<small>（1986年〜1987年）</small></H>

		<div class="p-text">
			<p>1986年に8500系の37番目の編成として製造された8637Fは、同年にデビューした9000系に合わせて補助電源装置（SIV）は交流出力440Vタイプ、冷房装置は容量10,000kcal/台タイプとなり、内装も化粧版がソリッドパターンで座席の仕切りも変更されるなど、従来の8500系とは一線を画すものとなりました。</p>
			<p>デビュー直後はほかの8500系と同じく、装飾は正面の赤帯のみとなっていましたが、この姿が見られたのは半年ほどの期間だったようです。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/1987_red.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>
	</Section>

	<Section id="catv1">
		<H slot="heading">CATV号<small>（1987年〜1991年）</small></H>

		<div class="p-text">
			<p>デビュー翌年には東急ケーブルテレビジョンの統一広告車となり、正面帯を青色に変更、側面にも青帯が巻かれたほか、「TOKYU CABLE TV」ステッカーが貼られました。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/1988_catv.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>

		<div class="p-text">
			<p>ソウルオリンピック期間中（1988年9月〜10月）、東横線と田園都市・新玉川線に1編成ずつ登場した「がんばれ！ニッポン！オリンピック報道電車」。</p>
			<p>東横線は9013Fだったようですが、田玉線はこの8637Fが抜擢され、「TOKYU CABLE TV」マーク下部に「がんばれ！ニッポン！オリンピック報道電車」のステッカーが貼られました。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/1988_olympic.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: kazumaさん</figcaption>
		</figure>

		<div class="p-text">
			<p>1989年にはVVVFインバータの試験に伴う編成替えが行われ、中間の電動車1ユニットに付随車を加えた3両が最終編成の8642Fと差し替えられました。</p>
		</div>
		<dl class="p-list-description">
			<dt>編成替え前</dt>
			<dd>8637-8797-8973-0801-8798-<mark>0802-8799-8974</mark>-0803-8537</dd>
			<dt>編成替え後</dt>
			<dd>8637-8797-8973-0801-8798-<mark>0808-0711-8980</mark>-0803-8537</dd>
		</dl>
		<div class="p-text">
			<p>写真は側面の青帯が貼られたまま8642Fに組込まれて試運転を行うサハ8974で、組み替えにより通常の側帯のない車と混在しています。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/1989_saha8974.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>
	</Section>

	<Section id="catv2">
		<H slot="heading">CATV号・しゃぼん玉装飾<small>（1991年〜1998年）</small></H>

		<div class="p-text">
			<p>1991年3月には、両先頭車のみ正面と側面にしゃぼん玉の装飾が貼付されました。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/1998_balloon.jpg" width={400} height={280} quality={60} />
			</div>
		</figure>
	</Section>

	<Section id="catv3">
		<H slot="heading">CATV号・しゃぼん玉装飾（帯貼替え）<small>（1998年〜2001年）</small></H>

		<div class="p-text">
			<p>1998年10月には帯の貼り替えが行われました。貼り替え前と比較すると、貫通扉枠部分の帯の有無や、しゃぼん玉の配置に変化がみられます。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2001_balloon.jpg" width={400} height={280} quality={60} />
			</div>
		</figure>

		<div class="p-text">
			<p>また、2000年春には南町田駅前にグランベリーモールが開業したことを記念して、同施設のステッカーが「TOKYU CABLE TV」マークを隠す形で貼られました。</p>
		</div>

		<ul class="p-notes">
			<li>参考: 東急電鉄ニュースリリース 2000年1月19日 <LinkExternal href="https://web.archive.org/web/20100907075332/https://www.tokyu.co.jp/contents_index/guide/news/000119-1.html">グランベリーモールが４月２１日（金）にオープン</LinkExternal></li>
		</ul>

		<div class="p-text">
			<p>以下の写真は大小数十個のしゃぼん玉装飾が成された先頭車側面の様子です（帯貼替え後・デハ8537海側）。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2002_8537.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>
	</Section>

	<Section id="itscom">
		<H slot="heading">iTSCOM号<small>（2001年〜2002年）</small></H>

		<div class="p-text">
			<p>2001年7月、東急ケーブルテレビジョンの社名変更により、ステッカーが「iTSCOM」のものに変更されましたが、この装飾での活躍期間は9か月足らずでした。</p>
			<p>写真は2002年3月に急行停車駅に加えられたばかりのあざみ野駅に停車中の様子で、翌4月から急行灯の点灯が中止されたため、わずかな期間だけ見られた貴重なシーンとなりました。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2002_itscom.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>

		<div class="p-text">
			<p>iTSCOMの装飾が行われていた時代には、一部の側窓に広告が入れられたこともありました。写真はデハ8537のものです。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2002_itscom_side-win.jpg" width={400} height={280} quality={60} />
			</div>
			<figcaption class="c-caption">撮影: 高橋うさおさん</figcaption>
		</figure>
	</Section>

	<Section id="blue">
		<H slot="heading">広告なし<small>（2002年〜2008年）</small></H>

		<div class="p-text">
			<p>2002年4月にはiTSCOMの外板広告が剥がされ、青帯と先頭車のしゃぼん玉装飾のみとなりました。</p>
			<p>写真は、2003年春に多摩田園都市開発50周年を記念して正面、側面に「東急多摩田園都市50周年」のステッカーが貼られていた時の姿です。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2003_tamadenentoshi-50th.jpg" width={400} height={280} quality={60} />
			</div>
		</figure>

		<ul class="p-notes">
			<li>参考: 東急電鉄ニュースリリース 2003年3月5日 <LinkExternal href="https://www.tokyu.co.jp/file/030305_2.pdf" type="application/pdf">「東急多摩田園都市」が開発５０周年</LinkExternal></li>
		</ul>
	</Section>

	<Section id="balloon">
		<H slot="heading">しゃぼん玉装飾撤去<small>（2008年〜）</small></H>

		<div class="p-text">
			<p>2008年には側面のしゃぼん玉装飾が剥がされました。同時期にTOQ-BOX号などほかの装飾車両も側面ステッカーを撤去されています。</p>
			<p>つづけて2010年には正面のしゃぼん玉装飾も撤去され、青帯のみの姿となって現在に至ります。</p>
		</div>

		<figure class="c-fit">
			<div class="p-embed -border">
				<Image path="tokyu/yomoyama/8637/2010_blue.jpg" width={400} height={267} quality={60} />
			</div>
		</figure>
	</Section>

	<Section slugger={slugger}>
		<H slot="heading">写真提供者</H>

		<dl class="p-list-description">
			<dt>kazuma さん</dt>
			<dd><LinkExternal href="https://itreni.net/">I TRENI〜失われし鉄道車両を求めて</LinkExternal></dd>
			<dt>高橋うさお さん</dt>
			<dd><LinkExternal href="http://www.nozomi.vc/">〜bve工学研究室〜　通過信号機の宴</LinkExternal></dd>
		</dl>
	</Section>
</Layout>
