---
import dayjs from 'dayjs';
import Layout from '@layouts/Tokyu.astro';
import AnchorImageSide from '@components/AnchorImageSide.astro';
import Image from '@components/Image.astro';
import type { StructuredData } from '@type/types.js';

const structuredData: StructuredData = {
	type: 'website',
	title: '東急電車よもやま話',
	heading: 'よもやま話',
	dateModified: dayjs('2018-12-23'),
	description: '東急電鉄の車両に関するよもやま話です。',
	breadcrumb: [{ path: '/tokyu/', name: '東急電車資料室' }],
};
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData} toc={false}>
	<AnchorImageSide href="/tokyu/yomoyama/ibaraki_6000">
		<Fragment slot="title">茨城県の旧6000系廃車体</Fragment>
		<Image slot="image" path="tokyu/yomoyama/ibaraki_6000/6201.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>茨城県各所で倉庫や店舗などに活用されていた旧6000系を訪ねました。（2018年12月23日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/8637">
		<Fragment slot="title">8637F の装飾移り変わり</Fragment>
		<Image slot="image" path="tokyu/yomoyama/8637/1998_balloon.jpg" width={180} height={126} quality={60} />
		<Fragment slot="text">
			<p>装飾の変遷や編成替えの記録を紹介します。（2013年10月25日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/echizen_mc1101">
		<Fragment slot="title">えちぜん鉄道MC1101形の主制御器<small>（MMC-H-10K 型）</small></Fragment>
		<Image slot="image" path="tokyu/yomoyama/echizen_mc1101/MC1102.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>えちぜん鉄道MC1101形の主制御器は、元をたどれば東急(旧)3000系グループで使われていたものです。（2012年11月23日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/7700_front">
		<Fragment slot="title">7700系の先頭車正面バリエーション</Fragment>
		<Image slot="image" path="tokyu/yomoyama/7700_front/index.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>新製時からの形態差違に加え、各種改造によりすべての車両が異なる顔をしている7700系のバリエーションをお楽しみください。（2012年10月8日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/ca105">
		<Fragment slot="title">CA-105 型　放送装置</Fragment>
		<Image slot="image" path="tokyu/yomoyama/ca105/mizuma_7003.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>水間鉄道と熊本電気鉄道に残るテープ式の放送装置を紹介します。（2009年6月1日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/hsc">
		<Fragment slot="title">HSC 電磁直通ブレーキ</Fragment>
		<Image slot="image" path="tokyu/yomoyama/hsc/sakusei.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>東急では最後の HSC ブレーキ搭載車となったデヤ7200、デヤ7290 と、弘南鉄道黒石駅で平日朝に行われている増解結作業を紹介します。（2009年5月1日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/nosmoking">
		<Fragment slot="title">禁煙標記バリエーション</Fragment>
		<Image slot="image" path="tokyu/yomoyama/nosmoking/bold_blue.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>客室内に掲出されている禁煙標記のバリエーションを紹介します。（2006年7月1日更新）</p>
		</Fragment>
	</AnchorImageSide>

	<AnchorImageSide href="/tokyu/yomoyama/8000_amp">
		<Fragment slot="title">8000系グループの客室内スピーカーバリエーション</Fragment>
		<Image slot="image" path="tokyu/yomoyama/8000_amp/trumpet_8629.jpg" width={180} height={120} quality={60} />
		<Fragment slot="text">
			<p>8000系、8500系、8090系の室内天井に設置されているスピーカーのバリエーションを紹介します。（2005年8月1日更新）</p>
		</Fragment>
	</AnchorImageSide>
</Layout>
