@layer global-base, base, layout, component;

/* Foundation */
@import url("foundation/_var.css");
@import url("@w0s/base.css") layer(global-base);
@import url("foundation/_base.css") layer(base);

/* Layout */
@import url("layout/_error.css") layer(layout);
