@layer base, elements, layout, component;

/* Foundation */
@import url("foundation/_var.css");
@import url("foundation/_view-transition.css");
@import url("@w0s/base.css") layer(base);
@import url("foundation/_elements.css") layer(elements);

/* Layout */
@import url("layout/_error.css") layer(layout);
