@layer base, elements, layout, component, utility;

/* Foundation */
@import url("foundation/_var.css");
@import url("foundation/_view-transition.css");
@import url("@w0s/base.css") layer(base);
@import url("foundation/_elements.css") layer(elements);

/* Layout */
@import url("layout/_common.css") layer(layout);

/* Object - Utility */
@import url("object/utility/_text.css") layer(utility);
@import url("object/utility/_tabular.css") layer(utility);

@import url("object/utility/_kumeta.css") layer(utility);
