@layer global-base, base, layout, component, utility;

/* Foundation */
@import url("foundation/_var.css");
@import url("@w0s/base.css") layer(global-base);
@import url("foundation/_base.css") layer(base);

/* Layout */
@import url("layout/_common.css") layer(layout);

/* Object - Utility */
@import url("object/utility/_text.css") layer(utility);
@import url("object/utility/_tabular.css") layer(utility);
