/* ==============================
 *   コンテンツエリア（.l-content__header, l-content__footer）
 * ============================== */

/* ===== パンくず ===== */
.p-topic-path {
	display: block flex;
	flex-wrap: wrap;
	gap: 0 0.5em;
	align-items: center;
	line-height: var(--line-height-narrow);

	& :any-link {
		outline-offset: var(--outline-offset-linkonly);
	}
}

.p-topic-path__separator {
	font-family: var(--font-monospace);
}

/* ===== ページタイトル ===== */
.p-title {
	line-height: var(--line-height-narrow);

	.p-topic-path + & {
		margin-block-start: calc(var(--stack-margin-base) / 2);
	}

	& > h1 {
		border: 1px solid;
		border-radius: var(--border-radius-small);
		background: linear-gradient(var(--color-white), var(--color-bg-verydark));
		padding: 0.75em 1.5%;
		text-shadow: 1px 1px 1px var(--color-lightgray);
		font-size: clamp(calc(100% * var(--font-ratio-1)), 7vi, calc(100% * var(--font-ratio-5)));
	}
}

.p-title__sub-hdg {
	text-shadow: none;
	font-size: calc(100% / var(--font-ratio-3));
	font-weight: var(--font-weight-normal);
}

.p-title__update {
	margin-block-start: 0.5em;
	text-align: end;
}

/* ===== ローカルナビ ===== */
.p-local-nav {
	display: block flex;
	flex-flow: wrap;
	margin-inline: auto;
	inline-size: min(50em, 100%);
	line-height: var(--line-height-narrow);

	& > li {
		display: block flex;
		flex: auto;
		margin: -0.5px;
		border: 1px solid var(--color-border-light);
	}

	& a {
		--_bg-color: var(--color-white);

		flex: 100%;
		contain: content;
		outline-offset: calc(1px - var(--outline-width-bold));
		outline-width: var(--outline-width-bold);
		background: var(--_bg-color);
		padding: 0.75em;
		text-align: center;

		&:any-link {
			&:hover {
				--_bg-color: var(--color-bg-superlight);
			}
		}

		/* 現在ページ */
		&:not(:any-link) {
			--_bg-color: var(--color-lightpink);

			color: var(--color-darkgray);
		}
	}
}

/* ===== コンテンツ説明 ===== */
.p-description {
	margin-inline: auto;
	inline-size: fit-content;
	max-inline-size: min(50em, 90%);
}

/* ===== ステップ ===== */
.p-step {
	--_step-arrow-color: var(--page-bg-color); /* 矢印の色 */
	--_step-arrow-inline-size: 2px; /* 矢印の幅 */
	--_step-arrow-block-size: 1em; /* 矢印の高さ */
	--_step-arrow-inclination: 0.6; /* 矢印の傾斜度（高さに対する割合、 1 = 45°） */

	display: block flex;
	contain: content;
	line-height: var(--line-height-narrow);

	& + * {
		margin-block-start: calc(var(--stack-margin-base) * 3);
	}

	& > li {
		position: relative;
		flex: auto;
		margin-inline-end: var(--_step-arrow-inline-size);
		text-align: center;
		font-size: calc(100% * var(--font-ratio-1));

		&:not(:first-child) {
			& .p-step__text {
				padding-inline-start: 1.5em;
			}
		}

		&:not(:last-child) {
			&::after {
				position: absolute;
				inset-block-start: calc(50% - var(--_step-arrow-block-size) - var(--_step-arrow-inline-size));
				inset-inline-start: 100%;
				transform: translateX(var(--_step-arrow-inline-size));
				z-index: 1;
				border-block: calc(var(--_step-arrow-block-size) + var(--_step-arrow-inline-size)) solid transparent;
				border-inline-start: calc(var(--_step-arrow-block-size) * var(--_step-arrow-inclination)) solid var(--_step-arrow-color);
				content: "";
			}
		}
	}
}

.p-step__text {
	--_color: var(--color-black);
	--_bg-color: var(--color-bg-verydark);

	display: block flow;
	background: var(--_bg-color);
	padding: 0.5em;
	color: var(--_color);

	.p-step > li:not(:last-child) &::after {
		position: absolute;
		inset-block-start: calc(50% - var(--_step-arrow-block-size) - var(--_step-arrow-inline-size));
		inset-inline-start: 100%;
		z-index: 2;
		border-block: calc(var(--_step-arrow-block-size) + var(--_step-arrow-inline-size)) solid transparent;
		border-inline-start: calc(var(--_step-arrow-block-size) * var(--_step-arrow-inclination)) solid;
		border-inline-start-color: var(--_bg-color);
		content: "";
	}

	&.-current {
		--_color: var(--color-darkgray);
		--_bg-color: var(--color-lightred);

		font-weight: var(--font-weight-bold);
	}
}

/* ===== 目次 ===== */
.p-toc {
	--_direction: column;
	--_icon-inline-size: 0.75em; /* アイコンの幅 */
	--_icon-block-size: calc(var(--_icon-inline-size) * 0.75); /* アイコンの高さ */
	--_icon-color: var(--color-gray); /* アイコンの色 */
	--_icon-gap: 0.5em; /* アイコンと後続テキストの間隔 */

	display: block flex;
	flex-flow: var(--_direction) wrap;
	gap: 0.75em 1.5em;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-superlight);
	padding: 1.25em min(1.25vi, 1.25em);
	line-height: var(--line-height-narrow);

	&.-row {
		--_direction: row;
	}

	& > li {
		margin-inline-start: calc(var(--_icon-inline-size) + var(--_icon-gap));
		font-size: calc(100% * var(--font-ratio-1));
	}

	& :any-link {
		margin-inline-start: calc(0px - var(--_icon-inline-size) - var(--_icon-gap));
		outline-offset: var(--outline-offset-linkonly);

		&::before {
			display: inline flow-root;
			clip-path: var(--shape-pagelink-triangle);
			margin-inline-end: var(--_icon-gap);
			border-block-start: var(--_icon-block-size) solid var(--_icon-color);
			inline-size: var(--_icon-inline-size);
			content: "";
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}
