/* ==============================
 *   ページヘッダー
 * ============================== */

/* ===== サイトロゴ ===== */
.p-header-site {
	display: block flex;
	flex-direction: column;
	gap: 0.25em;
}

/* サイト名 */
.p-header-site__name {
	text-shadow: 0.05em 0.05em 0.1em var(--color-border-light);
	color: #f00;
	font: 700 2rem / var(--line-height-narrow) var(--font-yu-mincho);
	font-feature-settings: "palt";

	& :any-link {
		--_padding: 0.05em;

		display: inline flow-root;
		margin: calc(0px - var(--_padding));
		outline-offset: 0;
		outline-width: var(--outline-width-bold);
		border-radius: var(--border-radius-small); /* outline を柔らかくする */
		padding: var(--_padding);
		text-decoration: none;
		color: inherit;

		&:hover {
			text-shadow: 0 0 1em var(--color-border-dark);
		}
	}
}

/* サイト概要 */
.p-header-site__summary {
	color: var(--color-gray);
	font-size: calc(100% / pow(var(--font-ratio), 2));
}

/* ===== ナビゲーション ===== */
.p-header-nav {
	display: block flex;
	gap: 0.5em;
}

/* ===== サイト内検索 ===== */
.p-header-search {
}

.p-header-search__legend {
	font-size: calc(100% / pow(var(--font-ratio), 1));
	font-weight: var(--font-weight-bold);
}

.p-header-search__ctrl {
	.p-header-search__legend + & {
		margin-block-start: 0.1em;
	}
}

/* ===== グローバルナビ ===== */
.p-header-gnav {
	--_border-width: 1px;

	display: block flex;
	flex-flow: wrap;
	margin-inline: calc(var(--_border-width) / 2);

	.l-header__gnav > & {
		margin-block: calc(0px - var(--_border-width) / 2);
	}

	& > li {
		display: block flex;
		flex: auto;
		margin: calc(0px - var(--_border-width) / 2);
		border: 1px solid var(--color-border-light);
	}
}

.p-header-gnav__link {
	--_border-color: transparent;
	--_border-width: 0px;
	--_color: var(--color-darkgray);
	--_background: var(--color-white);

	flex: 100%;
	contain: content;
	outline-offset: calc(1px - var(--outline-width-bold));
	outline-width: var(--outline-width-bold);
	border-block-end: var(--_border-width) solid var(--_border-color);
	background: var(--_background);
	padding: 0.5em 0.25em calc(0.5em - var(--_border-width));
	text-align: center;
	text-decoration: none;
	color: var(--_color);
	font-size: clamp(100%, 2.5vi, calc(100% * pow(var(--font-ratio), 2)));

	&:any-link {
		--_background: linear-gradient(var(--color-white), var(--color-bg-light));

		&:hover {
			--_background: linear-gradient(var(--color-bg-light), var(--color-white));

			color: var(--_color);
		}
	}

	&.-my-category {
	}

	&:is(:not(:any-link), .-my-category) {
		--_border-width: 2px;
		--_border-color: var(--color-red);

		&:focus {
			--_border-width: 3px; /* フォーカスリングとの関係 */
		}
	}
}
