/* ==============================
 *   東急電車形態研究・設定器
 * ============================== */

/* ===== メタ情報・設置期間 ===== */
.p-tokyu-set-period {
}

/* ===== メタ情報・補足 ===== */
.p-tokyu-set-note {
	&::before {
		content: "（";
	}

	&::after {
		content: "）";
	}
}

/* ===== 設定器パネル ===== */
.p-tokyu-set-panel {
	/* ダイヤル式 */
	&.-dial {
		background: var(--color-lightyellow);
		padding: 15px;
	}

	/* ダイヤル式（8500系） */
	&.-dial-8500 {
		display: block grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		background: var(--color-lightyellow);
		padding: 15px;

		@container content (inline-size <= 30em) {
			grid-template-columns: 1fr;
			gap: 30px;
		}

		& h2 {
			margin-block-end: 10px;
			padding-inline-start: 0.5em;
			text-align: center;
			letter-spacing: 0.5em;
			font-size: 18px;
			font-weight: var(--font-weight-bold);
		}
	}

	/* 押ボタン式 */
	&.-push {
		& td {
			border: 1px solid var(--color-black);
			min-block-size: 2em;
			inline-size: 5em;
			text-align: center;
		}
	}

	/* 押ボタン式（300系） */
	&.-push-300 {
		& ul {
			display: block flex;
			flex-wrap: wrap;

			& > li {
				margin: 0 2px 2px 0;
				border: 1px solid var(--color-black);
				padding: 0.3em;
				min-block-size: 2em;
				inline-size: 5em;
				text-align: center;
				line-height: 1;
			}
		}
	}

	/* 番号選択式（8090系） */
	&.-num-8090 {
	}

	/* 番号選択式（長野電鉄8500系） */
	&.-num-ner8500 {
		& td,
		& th {
			border: 1px solid var(--color-black);
		}

		& th {
			text-align: center;
			font-weight: var(--font-weight-normal);
		}
	}
}

.p-tokyu-set-panel__image {
	display: block flow;
	block-size: auto;
	max-inline-size: 100%;

	& section {
		& + section {
			margin-block-start: 1em;
		}
	}

	& h2 {
		font-weight: var(--font-weight-bold);
	}
}

/* ===== メタ情報・調査データ ===== */
.p-tokyu-set-data {
	display: block flex;
	flex-flow: wrap;
	gap: 0.5em 2em;
	justify-content: center;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 0.5em 15px;
	line-height: var(--line-height-narrow);

	& > div {
		display: block flex;
		flex-flow: wrap;
	}

	& dt {
		&::after {
			margin: 0.25em;
			content: ":";
		}
	}
}
