/* ===== データ ===== */
.p-library {
	--_border-width: 1px;
	--_border-radius-inner: calc(var(--border-radius-normal) - var(--_border-width));
	--_padding-inline: clamp(8px, 1.5vi, 16px);

	border: var(--_border-width) solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	color: var(--color-black);
}

.p-library__header {
	--_padding-block: 16px;
	--_line-height: var(--line-height-narrow);

	display: block flex;
	flex-wrap: wrap;
	gap: 0.5em;
	align-items: baseline;
	contain: layout;
	border-start-start-radius: var(--_border-radius-inner);
	border-start-end-radius: var(--_border-radius-inner);
	background: var(--color-verylightgreen);
	padding: var(--_padding-block) var(--_padding-inline) var(--_padding-block) calc(var(--_padding-inline) + var(--self-link-size));
	line-height: var(--_line-height);
}

.p-library__main {
	padding: 24px var(--_padding-inline);
}

.p-library__title {
	font-size: calc(100% * pow(var(--font-ratio), 2));

	& .c-self-link {
		position: absolute;
		inset-block-start: calc(var(--_padding-block) + 0.15em * pow(var(--font-ratio), 1));
		inset-inline-start: var(--_padding-inline);
	}
}

.p-library__release {
	&::before {
		content: "（";
	}

	&::after {
		content: "）";
	}
}

.p-library__tags {
	display: block flex;
	flex-wrap: wrap;
	gap: 0.5em;

	& button {
		--_bgcolor: var(--color-white);
		--_color: var(--color-black);

		border: 1px solid var(--color-black);
		border-radius: var(--border-radius-large);
		background-color: var(--_bgcolor);
		padding: 0.25em;
		line-height: var(--line-height-nowrap);
		color: var(--_color);

		&:focus-visible {
			outline-offset: -1px;
			outline-width: var(--outline-width-bold);
		}

		&:focus:not(:focus-visible) {
			outline: none;
		}

		&:not(:disabled):hover {
			--_bgcolor: var(--color-bg-verylight);
		}

		&[aria-pressed="true"] {
			--_bgcolor: var(--color-lightred);

			&:hover {
				--_bgcolor: var(--color-pink);
			}
		}
	}
}

.p-library__isbn {
	display: block flex;
	flex-basis: 100%;
	justify-content: flex-end;
}
