/*
リスト

Styleguide 2.3.
*/

/*
通常リスト

Markup:
<ul class="p-list">
<li>リストテキスト</li>
<li>リストテキスト
<ul>
<li>リストテキスト</li>
</ul></li>
</ul>

Styleguide 2.3.1
*/
.p-list {
	& > li,
	& > li > :is(ol, ul) > li,
	& > li > :is(ol, ul) > li > :is(ol, ul) > li {
		margin-inline-start: 1em;
	}

	& > li + li,
	& > li > :is(ol, ul) > li,
	& > li > :is(ol, ul) > li > :is(ol, ul) > li {
		margin-block-start: 0.25em;
	}

	& > li {
		list-style-type: disc;
	}

	& > li > :is(ol, ul) > li {
		list-style-type: circle;
	}

	& > li > :is(ol, ul) > li > :is(ol, ul) > li {
		list-style-type: square;
	}

	& > li > :is(ol, ul) > li,
	& > li > :is(ol, ul) > li > :is(ol, ul) > li {
		font-size: calc(100% / var(--font-ratio-1));
	}
}

/*
番号リスト

Markup:
<ul class="p-list-num">
<li>リストテキスト</li>
<li>リストテキスト</li>
</ul>

Styleguide 2.3.2
*/
.p-list-num {
	& > li {
		margin-inline-start: 1.5em;
		list-style: decimal;

		& + li {
			margin-block-start: 0.25em;
		}
	}
}

/*
記述リスト

Markup:
<dl class="p-list-description">
<dt>タイトル</dt>
<dd>テキスト</dd>
<dt>タイトル</dt>
<dd>テキスト</dd>
</dl>

Styleguide 2.3.3
*/
.p-list-description {
	& > dt {
		font-weight: var(--font-weight-bold);
	}

	& > dd + dt {
		margin-block-start: 0.5em;
	}

	& > dd {
		margin-inline-start: 1em;
	}
}

/*
記述リスト（表形式）

Markup:
<dl class="p-list-table">
<div>
<dt>タイトル</dt>
<dd>テキスト</dd>
</div>
<div>
<dt>タイトル</dt>
<dd>テキスト</dd>
</div>
</dl>

Styleguide 2.3.4
*/
.p-list-table {
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	display: block table;
	border-collapse: collapse;
	line-height: var(--line-height-narrow);

	& > div {
		display: table-row;
	}

	/* .p-table のスタイルに合わせる */
	& :is(dt, dd) {
		display: table-cell;
		border: 1px solid;
		background: var(--_bg-color);
		padding: 0.75em min(1vw, 10px);
		color: var(--_color);
	}

	& dt {
		--_bg-color: var(--color-bg-superlight);

		font-weight: var(--font-weight-bold);
	}
}

/*
注釈リスト

Markup:
<ul class="p-notes">
<li>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</li>
</ul>

Styleguide 2.3.5
*/
.p-notes {
	color: var(--color-darkgray);
	font-size: calc(100% / var(--font-ratio-1));

	& > li {
		margin-inline-start: 1.25em;
		list-style-type: "※ ";

		& + li {
			margin-block-start: 0.75em;
		}
	}
}

/*
リンクリスト

Markup:
<ul class="p-links">
<li><a href="https://example.com/">リンク</a></li>
<li><a href="https://example.com/">リンク</a>
<p>テキストテキストテキスト</p></li>
<li><a href="https://example.com/">リンク</a>
	<ul>
	<li><a href="https://example.com/">リンク</a></li>
	</ul></li>
</ul>

Styleguide 2.3.6
*/
.p-links {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-block-size: 0.75em;
	--_icon-inline-size: calc(var(--_icon-block-size) * 0.6);
	--_icon-color: var(--color-gray);
	--_icon-gap: 0.5em;

	line-height: var(--line-height-normal);

	& > li {
		margin-inline-start: calc((var(--_icon-inline-size) + var(--_icon-gap)) * var(--font-ratio-2));

		& + li {
			margin-block-start: 1em;
		}

		& > ul {
			--_icon-clip-path: polygon(55% 0, 55% 45%, 100% 45%, 100% 55%, 45% 55%, 45% 0);
			--_icon-inline-size: var(--_icon-block-size);
			--_icon-color: var(--color-black);

			& > li {
				margin-block-start: 0.25em;
				margin-inline-start: calc((var(--_icon-inline-size) + var(--_icon-gap)) / 2 * var(--font-ratio-1));
			}
		}

		& > a,
		& > ul > li > a {
			margin-inline-start: calc(0px - var(--_icon-inline-size) - var(--_icon-gap));

			&::before {
				display: inline flow-root;
				clip-path: var(--_icon-clip-path);
				margin-inline-end: var(--_icon-gap);
				border-block-start: var(--_icon-block-size) solid var(--_icon-color);
				inline-size: var(--_icon-inline-size);
				content: "";
			}
		}

		& > a {
			font-size: calc(100% * var(--font-ratio-2));
		}

		& > :any-link {
			--_icon-color: var(--link-color-bullet);

			outline-offset: var(--outline-offset-linkonly);

			&:hover {
				--_icon-color: var(--link-color-hover);
			}
		}

		& > ul > li > a {
			font-size: calc(100% * var(--font-ratio-1));
		}
	}
}

/*
映像比較

Markup:
<dl class="p-video-diff">
<div>
<dt class="p-video-diff__time">タイトル</dt>
<dd class="p-video-diff__content">
テキストテキストテキスト
</dd>
</div>
</dl>

Styleguide 2.3.7
*/
.p-video-diff {
	border: 1px solid;
	background: var(--color-white);
	color: var(--color-black);

	& > div {
		padding: 1em min(1vw, 1em);

		& + div {
			border-block-start: 1px solid;
		}

		& > dt {
			font-size: calc(100% * var(--font-ratio-1));
			font-weight: var(--font-weight-bold);
		}

		& > dd {
			margin-block-start: 0.5em;
		}
	}
}

/*
脚注リスト

Markup:
<div class="p-footnote">
<h2 class="p-footnote__hdg">脚注</h2>
<ul class="p-footnote__list">
<li>
<span class="p-footnote__no">1.</span>
<p class="p-footnote__content">テキストテキストテキスト</p>
</li>
<li>
<span class="p-footnote__no">2.</span>
<p class="p-footnote__content">テキストテキストテキスト <a href="#" class="p-footnote__backref">↩ 戻る</a></p>
</li>
</ul>
</div>

Styleguide 2.3.8
*/
.p-footnote {
	border: 1px solid var(--color-bg-light);
	border-radius: var(--border-radius-large);
	background: var(--color-bg-light);
	padding: 1em;
	font-size: calc(100% / var(--font-ratio-1));

	.l-content__main & {
		&:last-child {
			margin-block-start: calc(var(--stack-margin-base) * 6);
		}
	}
}

.p-footnote__hdg {
}

.p-footnote__list {
	display: block table;
	margin-block-start: 0.25em;

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > * {
				border-block-start: 0.5em solid transparent;
			}
		}
	}
}

.p-footnote__no,
.p-footnote__content {
	display: table-cell;
	vertical-align: top;
}

.p-footnote__no {
	padding-block-start: 0.5em;
	text-align: end;
	white-space: nowrap;
}

.p-footnote__content {
	padding-block-start: 0.5em;
	padding-inline-start: 0.5em;
	inline-size: 100%;
}

.p-footnote__backref {
	margin-inline-start: 1em;
	font-size: calc(100% / var(--font-ratio-2));
}
