/*
汎用テキスト

Styleguide 2.2.
*/

/*
ブロック引用

Markup:
<blockquote class="p-quote">
<p>テキストテキストテキスト</p>
</blockquote>

Styleguide 2.2.1
*/
.p-quote {
	border-width: 1px 5px;
	border-style: solid;
	border-radius: var(--border-radius-large);
	border-color: var(--color-green);
	background: var(--color-white);
	padding: 1em min(1vi, 1em);
}
