/* ==============================
 *   ウェブ巡回
 * ============================== */
.p-admin-crawler-diff {
	border: 1px solid;
	background: var(--color-white);
	color: var(--color-black);
	font-size: calc(100% / var(--font-ratio-2));

	& td {
		padding: 0.25em 0.5em;
	}
}

.p-admin-crawler-diff__line {
	--bg-color: var(--color-white);

	background: var(--bg-color);

	&.-added {
		--bg-color: #e6ffec;
	}

	&.-removed {
		--bg-color: #ffebe9;
	}
}

.p-admin-crawler-diff__type {
	text-align: center;
	font-weight: var(--font-weight-bold);
}
