/*
トップページ

Styleguide 2.8.
*/

/*
下層ページへのナビゲーションエリア

Markup:
<nav class="p-top-nav">
<header class="p-top-nav__header">
<div class="p-top-nav__hdg">
<h2>サイトコンテンツ</h2>
</div>
<div class="p-top-nav__notice">
</div>
</header>
<div class="p-top-nav__main">

</div>
</nav>

Styleguide 2.8.1
*/
.p-top-nav {
}

.p-top-nav__header {
}

.p-top-nav__hdg {
	border-block-end: 1px solid var(--color-border-light);
	padding-block: 0.25em;
	font-size: calc(100% * var(--font-ratio-5));
	line-height: var(--line-height-narrow);
}

.p-top-nav__main {
	margin-block-start: 2.5em;
}

/*
下層ページへのナビゲーション（カード型）

Markup:
<ul class="p-top-nav-card">
<li class="p-top-nav-card__box">
<a href="">
<div class="p-top-nav-card__image">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=360;quality=30" alt="" />
</div>
<div class="p-top-nav-card__title">ページタイトル</div>
<p class="p-top-nav-card__description">ページ説明</p>
</a>
</li>
<li class="p-top-nav-card__box">
<a href="">
<div class="p-top-nav-card__image">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=360;quality=30" alt="" />
</div>
<div class="p-top-nav-card__title">ページタイトル</div>
<p class="p-top-nav-card__description">ページ説明</p>
</a>
</li>
</ul>

Styleguide 2.8.2
*/
.p-top-nav-card {
	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(15.3em, 1fr));
	gap: 15px;
	container-type: inline-size;
}

.p-top-nav-card__box {
	display: block flex; /* リンクのクリッカブルエリアを上下方向に伸ばすため */

	& > a {
		--_border-width: 1px;
		--_bg-color: var(--color-bg-light);
		--_color: var(--color-darkgray);

		flex: 1;
		outline-width: var(--outline-width-bold);
		outline-offset: calc(0px - var(--_border-width));
		box-shadow: 0 1px 2px var(--color-border-light);
		border: var(--_border-width) solid var(--color-border-light);
		border-radius: var(--border-radius-normal);
		background: var(--_bg-color);
		overflow: hidden;
		color: var(--_color);
		text-decoration-line: none;

		&:hover {
			--_bg-color: var(--color-bg-verylight);
			--_color: inherit;
		}
	}
}

.p-top-nav-card__image {
	:any-link:hover & {
		opacity: 0.9;
	}

	& img {
		display: block flow;
		inline-size: 100%;
		object-fit: cover;
		object-position: var(--object-position, center);

		@container (inline-size <= calc(15.3em * 2 + 15px)) {
			/* 1列表示の時のみ画像高さを狭くする */
			max-block-size: 15vh;
		}
	}
}

.p-top-nav-card__title {
	--_text-color: inherit;
	--_icon-color: var(--color-gray); /* アイコンの色 */
	--_icon-inline-size: 0.5625em; /* アイコンの幅 */
	--_icon-block-size: 1em; /* アイコンの高さ */
	--_icon-gap: 0.75em; /* テキストとアイコンの間隔 */

	contain: content;
	margin: 16px;
	padding-inline-end: calc(var(--_icon-gap) + var(--_icon-inline-size));
	color: var(--_text-color);
	font-weight: var(--font-weight-bold);
	font-size: 150%;
	line-height: var(--line-height-narrow);

	:any-link:hover & {
		--_text-color: var(--color-black);
		--_icon-color: var(--color-darkgray);
	}

	&::after {
		position: absolute;
		clip-path: var(--shape-link-arrow);
		inset-block-start: calc(50% - var(--_icon-block-size) / 2);
		inset-inline-end: 0;
		border-block-start: var(--_icon-block-size) solid var(--_icon-color);
		inline-size: var(--_icon-inline-size);
		content: "";
	}

	/* 画像がない場合 */
	&:first-child {
		margin-block-start: 16px;
	}
}

.p-top-nav-card__description {
	margin: 8px 16px 16px;
}

/*
更新履歴エリア

Markup:
<section class="p-top-update">
<header class="p-top-update__header">
<div class="p-top-update__hdg">
<h2>更新履歴</h2>
</div>
<div class="p-top-update__notice">
</div>
</header>
<div class="p-top-update__main">

</div>
</section>

Styleguide 2.8.3
*/
.p-top-update {
	margin-block-start: 5em;
}

.p-top-update__header {
	display: block flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-items: baseline;
	gap: 0.25em 1em;
}

.p-top-update__hdg {
	font-size: calc(100% * var(--font-ratio-2));
	line-height: var(--line-height-narrow);
}

.p-top-update__main {
	margin-block-start: 0.125em;
}

/*
更新履歴

Markup:
<ul class="p-top-update-list">
<li>
<div class="p-top-update-list__date">日付</div>
<div class="p-top-update-list__info">
<p>更新内容</p>
</div>
</li>
<li>
<div class="p-top-update-list__date">日付</div>
<div class="p-top-update-list__info">
<p>更新内容</p>
</div>
</li>
</ul>

Styleguide 2.8.4
*/
.p-top-update-list {
	container-type: inline-size;
	border: 2px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	overflow: hidden;

	& > li {
		--_padding: 15px;

		display: block grid;
		grid-template-columns: calc(7.5em + var(--_padding) * 2) 1fr;
		grid-template-areas: "date info";

		&:not(:first-child) {
			border-block-start: 1px dotted var(--color-border-light);
		}
	}
}

.p-top-update-list__date {
	grid-column: date;
	background: var(--color-bg-verylight);
	padding: var(--_padding);
}

.p-top-update-list__info {
	grid-column: info;
	padding: var(--_padding);
}

@container (inline-size <= 40em) {
	.p-top-update-list {
		& > li {
			grid-template-columns: 1fr;
			grid-template-areas:
				"date"
				"info";
		}
	}

	.p-top-update-list__date {
		padding-block: calc(var(--_padding) / 2);
		font-weight: bold;
	}
}
