/*
表

Styleguide 2.6.
*/

/*
データ表

Markup:
<div class="p-table {{modifier_class}}">
<table>
<caption>キャプション</caption>
<thead>
<tr>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">見出し</th>
<td>データ</td>
<td>データ</td>
</tr>
<tr>
<th scope="row">見出し</th>
<td>データ</td>
<td>データ</td>
</tr>
</tbody>
<tfoot>
<tr>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
</tr>
</tfoot>
</table>
</div>

.-full - 全幅
.-scroll - 横スクロール
.-font-small - 文字サイズを小さくする

Styleguide 2.6.1
*/
.p-table {
	--stickey-thead-block-size: 1em;
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);
	--_font-size-base: 100%;
	--_text-align: start;

	@media print {
		--_border-color: var(--color-black);
	}

	/* 全幅 */
	&.-full {
		--_inline-size: 100%;
	}

	/* 横スクロール */
	&.-scroll {
		--_text-wrap: nowrap;

		padding-block-end: 2px; /* 横スクロールバー上部の空き */
		overflow-x: auto;
	}

	/* 文字サイズを小さくする */
	&.-font-small {
		--_font-size-base: calc(100% / var(--font-ratio-2));
	}

	& > table {
		inline-size: var(--_inline-size);
		line-height: var(--line-height-narrow);

		& > caption {
			margin-block-end: 0.25em;
			text-align: center;
			font-weight: var(--font-weight-bold);
		}

		& > :is(thead + tbody, tbody + tbody, tfoot) {
			border-block-start: 2px solid var(--_border-color);
		}

		& :is(td, th) {
			border: 1px solid var(--_border-color);
			background: var(--_bg-color);
			background-clip: padding-box; /* for Firefox, Safari (<thead> sticky) */
			padding: 0.75em min(1vi, 10px);
			text-align: var(--_text-align);
			white-space: var(--_text-wrap);
			color: var(--_color);
			font-size: clamp(calc(var(--_font-size-base) / var(--font-ratio-1)), 2vi, var(--_font-size-base));
		}

		& > thead {
			--_bg-color: var(--color-bg-light);
			--_text-align: center;

			position: sticky;
			inset-block-start: 0;
			z-index: 1;
		}

		& > tbody th {
			--_bg-color: var(--color-bg-superlight);
		}

		& > tfoot {
			--_bg-color: var(--color-bg-light);
		}

		& > :is(tbody, tfoot) :target {
			scroll-margin-block-start: var(--stickey-thead-block-size);
		}
	}
}
