/*
その他

Styleguide 2.99.
*/

/*
ボックス

Markup:
<div class="p-box">
<p>テキスト</p>
</div>

Styleguide 2.99.1
*/
.p-box {
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 1em;
}

/*
トグル

Markup:
<details class="p-toggle">
<summary>タイトル</summary>
<div class="p-toggle__contents">
<p>テキスト</p>
</div>
</details>

Styleguide 2.99.2
*/
.p-toggle {
	--_summary-inline-size: 100%;
	--_summary-padding: 0.75em;
	--_icon: polygon(0 42%, 42% 42%, 42% 0, 58% 0, 58% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 58%, 0 58%);
	--_icon-size: 1em;
	--_icon-gap: 1em;

	& > summary {
		box-sizing: border-box;
		outline-offset: -1px;
		outline-width: var(--outline-width-bold);
		contain: layout;
		border: 1px solid var(--color-border-dark);
		border-radius: var(--border-radius-small);
		background: var(--color-white);
		cursor: default;
		padding: var(--_summary-padding) var(--_summary-padding) var(--_summary-padding) calc(var(--_summary-padding) + var(--_icon-size) + var(--_icon-gap));
		inline-size: var(--_summary-inline-size);
		list-style: none;
		line-height: var(--line-height-narrow);
		color: var(--color-darkblue);
		font-size: calc(100% * pow(var(--font-ratio), 1));

		&:hover {
			box-shadow: 0 0 0.25em var(--color-border-light);
		}

		&:not(:focus-visible) {
			outline: none;
		}

		&::before {
			position: absolute;
			clip-path: var(--_icon);
			inset-block: calc((100% - var(--_icon-size)) / 2);
			inset-inline-start: var(--_summary-padding);
			border-block-start: var(--_icon-size) solid var(--color-darkblue);
			inline-size: var(--_icon-size);
			content: "";
		}

		&::-webkit-details-marker {
			display: none; /* for Safari */
		}
	}

	&[open],
	&[data-pre-open="true"] {
		--_icon: polygon(0 42%, 100% 42%, 100% 58%, 0 58%);
	}

	&.-fit {
		--_summary-inline-size: fit-content; /* TODO: Android Chrome で正しく fit されず2行になってしまう */
		--_icon-gap: 0.75em;
	}
}

.p-toggle__contents {
	padding-block-start: 16px;
}

/*
脚注ポップオーバー

Markup:
<div class="p-footnote-popover" popover="">
<div part="content">
<p>テキスト</p>

<button part="hide-button"><img src="/assets/image/footnote-popover-close.svg" alt="閉じる"/></button>
</div>
</div>

Styleguide 2.99.3
*/
.p-footnote-popover {
	--_border-color: var(--color-border-light);
	--_hide-button-padding: 6px;
	--_hide-button-image-size: 24px;

	outline: none;

	&::part(content) {
		outline-offset: -1px;
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--color-white);
		padding: 15px;
		max-inline-size: min(30em, 100%);
		color: var(--color-black);
		font-size: calc(100% / pow(var(--font-ratio), 1));

		&:focus {
			outline: var(--outline-width-bold) solid var(--outline-color);
		}

		&:hover {
			box-shadow: 0 0 0.5em var(--_border-color);
		}

		&::before {
			display: block flow;
			float: inline-end;
			block-size: calc(var(--_hide-button-image-size) + var(--_hide-button-padding) * 2);
			inline-size: calc(var(--_hide-button-image-size) + var(--_hide-button-padding) * 2);
			content: "";
		}
	}

	&::part(hide-button) {
		--_border-color: var(--color-white);
		--_background-color: transparent;

		position: absolute;
		inset-block-start: 1px;
		inset-inline-end: 1px;
		outline-offset: -1px;
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--_background-color);
		padding: var(--_hide-button-padding);

		&:focus {
			outline: var(--outline-width-bold) solid var(--outline-color);
		}

		&:hover {
			--_border-color: var(--color-bg-light);
			--_background-color: var(--color-bg-superlight);
		}
	}
}

/*
Amazon商品

Markup:
<div class="p-amazon">
<p class="p-amazon__label"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う"/></p>
<ul class="p-amazon__list">
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=160;h=160;quality=30" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=160;h=160;quality=30" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
</ul>
</div>

Styleguide 2.99.4
*/
.p-amazon {
	border: 1px solid var(--color-amazon-dark);
	border-radius: var(--border-radius-large);
	background: linear-gradient(var(--color-amazon-light), var(--color-white));
	padding: 15px;
	color: var(--color-black);
}

.p-amazon__label {
	display: block flex;
	margin-block-start: -16px;
	margin-inline-start: -16px;
}

.p-amazon__list {
	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
	gap: 12px;
	margin-block-start: 15px;
}

.p-amazon__link {
	--_bg-color: var(--color-amazon);

	display: block grid;
	grid-template-areas: "image gap text";
	grid-template-columns: min(40%, 160px) 15px 1fr;
	transition:
		border-color var(--link-hover-transition-duration),
		background-color var(--link-hover-transition-duration);
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-large);
	background: var(--_bg-color);
	padding: 14px;
	text-decoration-line: none;
	line-height: var(--line-height-narrow);

	&:hover {
		--_bg-color: var(--color-amazon-dark);
	}

	&:any-link {
		color: var(--color-darkgray);
	}
}

/* 画像エリア */
.p-amazon__thumb {
	grid-column: image;
}

/* 商品画像 */
.p-amazon__image {
	display: block flow;
	transition: box-shadow var(--link-hover-transition-duration);
	margin: auto;
	block-size: auto;
	max-inline-size: 100%;

	:any-link:hover & {
		box-shadow: 0 0 4px 3px var(--color-amazon-verydark);
	}
}

/* テキストエリア */
.p-amazon__text {
	--_bullet-block-size: 0.75em;
	--_bullet-inline-size: calc(var(--_bullet-block-size) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	grid-column: text;
	margin-inline-start: calc(var(--_bullet-inline-size) + var(--_bullet-gap));
}

/* 商品タイトル */
.p-amazon__title {
	display: inline flow;
	margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));
	text-decoration-line: underline;
	font-weight: var(--font-weight-bold);

	&::before {
		display: inline flow-root;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: var(--_bullet-gap);
		border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
		inline-size: var(--_bullet-inline-size);
		content: "";
	}
}

/* 発売日 */
.p-amazon__date {
	margin-block-start: 0.5em;
}

/*
ブロックコード

Markup:
<div class="p-code">
<div class="p-code__clipboard">
<button type="button" class="p-code__clipboard-button">Copy</button>
</div>
<pre class="p-code__code">Code
</pre>
</div>

Styleguide 2.99.5
*/
.p-code {
	position: relative;
	contain: content;
}

.p-code__clipboard {
	display: none;
	position: absolute;
	inset-block-start: 0.5em;
	inset-inline-end: 0.5em;

	.p-code:hover > & {
		display: block flow;
	}
}

.p-code__clipboard-button {
	--_bg-color: var(--color-bg-superlight);
	--_ripple-color: var(--color-black);
	--_ripple-opacity: 0.25;
	--_ripple-transition-duration: 0.5s;

	display: block flow;
	contain: layout; /* ripple effect */
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: 0.5em;
	overflow: hidden; /* ripple effect */
	color: var(--color-black);

	&:hover {
		--_bg-color: var(--color-white);
	}

	/* ripple effect */
	&::before {
		position: absolute;
		inset: 0;
		transform: scale(4);
		transition: var(--_ripple-transition-duration);
		opacity: 0;
		background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
		block-size: 100%;
		inline-size: 100%;
		content: "";
	}

	/* ripple effect */
	&:active::before {
		transform: scale(0);
		transition: initial;
		opacity: var(--_ripple-opacity);
	}

	& > img {
		display: block flow;
		block-size: 1em;
		inline-size: 1em;
	}
}

.p-code__code {
	border: 1px solid var(--color-border-light);
	background: var(--color-white);
	padding: 1em;
	overflow-x: auto;
	line-height: var(--line-height-narrow);
	color: var(--color-black);

	&:focus {
		border-color: var(--outline-color); /* 横スクロールバーが表示される場合はブラウザによってフォーカス可能 */
	}

	& > code {
		color: #24292e; /* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
	}
}

/*
ダイアログオーバーレイ

Markup:
<dialog class="p-dialog-overlay">
</dialog>

Styleguide 2.99.6
*/
.p-dialog-overlay {
	position: fixed;
	inset: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	background: transparent;
	padding: 1em;
	block-size: 100vb;
	inline-size: 100vi;
	color: var(--color-white);
	font-size: 1.2rem;

	&[open] {
		display: block flex;
	}

	&::backdrop {
		background: rgb(0 0 0 / 80%);
	}
}
