/* ==============================
 *   東急電車資料室・自動放送
 * ============================== */

/* ===== メタ情報・行先 ===== */
.p-tokyu-announce-train {
	font-size: calc(100% * pow(var(--font-ratio), 2));
	font-weight: var(--font-weight-bold);
}

/* ===== メタ情報・車種 ===== */
.p-tokyu-announce-car {
}

/* ===== メタ情報・補足 ===== */
.p-tokyu-announce-note {
	color: var(--color-gray);

	&::before {
		content: "（";
	}

	&::after {
		content: "）";
	}
}

/* ===== 駅ごとのまとまり ===== */
.p-tokyu-announce-station {
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: var(--color-border-dark);
	background: var(--color-white);
	padding: 1em min(1.5vi, 15px);

	& > section + section {
		margin-block-start: 1em;
	}

	& h2 {
		color: var(--color-gray);
		font-weight: var(--font-weight-normal);

		&::before {
			content: "（";
		}

		&::after {
			content: "）";
		}
	}

	& p {
		margin-block-start: 0.25em;
	}
}

/* ===== 直通先の備考 ===== */
.p-tokyu-announce-through-note {
	margin-block-start: 1em;
	text-align: center;
}

/* ===== メタ情報・収録データ ===== */
.p-tokyu-announce-data {
	display: block flex;
	flex-flow: wrap;
	gap: 0.5em 2em;
	justify-content: center;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-lightorange);
	padding: 0.5em 15px;
	line-height: var(--line-height-narrow);

	& > div {
		display: block flex;
		flex-flow: wrap;
	}

	& dt {
		&::after {
			margin: 0.25em;
			content: ":";
		}
	}
}
