<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>AnimeJapan 2017 「マギアレコード」ブース時報</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">AnimeJapan 2017 「マギアレコード」ブース時報</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2017年3月28日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>AnimeJapan 2017 の「マギアレコード」ブースで毎時00分に流れた時報の内容をまとめました。</p>
					</div>
				</div>
				<main class="l-content__main">
					<figure>
						<div class="p-embed -border">
							<video controls="" poster="https://media.w0s.jp/thumbimage/madoka/yomoyama/index_aj2017_magireco_jiho.jpg?type=webp;w=1280;quality=30" width="640" height="360">
								<source src="https://media.w0s.jp/video/madoka/yomoyama/aj2017_magireco_jiho_1100.webm" type="video/webm" />
								<source src="https://media.w0s.jp/video/madoka/yomoyama/aj2017_magireco_jiho_1100.mp4" type="video/mp4" />
								<track kind="captions" label="セリフ字幕" src="/madoka/yomoyama/video/aj2017_magireco_jiho_1100.vtt" />
							</video>
						</div>
						<figcaption class="c-caption">11:00 の時報の例（暁美ほむら）</figcaption>
					</figure>

					<section class="p-section -hdg-a" id="10:00">
						<div class="p-section__hdg">
							<h2>10:00　巴マミ</h2>
						</div>

						<div class="p-box">
							<p>おはようございます、巴マミです。10時をお知らせします。アニメジャパン2017、楽しんでくださいね。疲れたら紅茶を飲んで一休みしましょう。</p>
							<p>11時の時報は暁美さんです。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="11:00">
						<div class="p-section__hdg">
							<h2>11:00　暁美ほむら</h2>
						</div>

						<div class="p-box">
							<p>11時ね。私は暁美ほむら。あなたたちに伝えたいことがあるの。大きな荷物はビッグサイトの大型荷物預かりサービスを利用して。あと、気分が悪いときは近くの係員に伝えて。私からはそれだけ。</p>
							<p>12時の時報は、巴マミ、あなたよ。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="12:00">
						<div class="p-section__hdg">
							<h2>12:00　巴マミ</h2>
						</div>

						<div class="p-box">
							<p>こんにちは、巴マミです。12時になりました。皆さん、お昼ご飯はどうされてますか。会場の中にはフードパークという飲食エリアがあります。オリジナルメニューもあるのでぜひチェックしてみてくださいね。</p>
							<p>1時の時報は、鹿目さん、お願いね。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="13:00">
						<div class="p-section__hdg">
							<h2>13:00　鹿目まどか</h2>
						</div>

						<div class="p-box">
							<p>えっと、1時になりました。アニメジャパン2017、この後も続くからみんなも引き続き楽しんでね。まだまだいろんな発見が会場内にあるはずだよ。鹿目まどかでした。</p>
							<p>2時の時報は……、えっ、キュゥべえ!?</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="14:00">
						<div class="p-section__hdg">
							<h2>14:00　キュゥべえ</h2>
						</div>

						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>3月25日バージョン</h3>
							</div>

							<div class="p-box">
								<p>僕はキュゥべえ、2時になったよ。この後、オープンステージで「マギアレコード」のイベントが行われるんだけど、僕と契約して……、じゃなくて、僕と約束して来て欲しいんだ。もうすぐ始まるからね。</p>
								<p>3時の時報は鹿目まどかだよ。</p>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-section__hdg">
								<h3>3月26日バージョン</h3>
							</div>

							<div class="p-box">
								<p>僕はキュゥべえ、2時になったよ。ふーん、ここはずいぶん人が多いね。これだけいれば、誰か僕と契約して魔法少女になってくれるかも。ちょっとあたりを探してみるよ。</p>
								<p>3時の時報は鹿目まどかだよ。</p>
							</div>
						</section>
					</section>

					<section class="p-section -hdg-a" id="15:00">
						<div class="p-section__hdg">
							<h2>15:00　鹿目まどか</h2>
						</div>

						<div class="p-box">
							<p>（もぐもぐ）マミさん、このケーキちょうどいい甘さで。えっ、時報? あ、す、すみません、3時です。か、鹿目まどかです。あの、いまおやつを食べてて。え、味は……うん、すっごくおいしかったよ。えへへ。</p>
							<p>4時はマミさん、お願いします。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="16:00">
						<div class="p-section__hdg">
							<h2>16:00　巴マミ</h2>
						</div>

						<div class="p-box">
							<p>4時になりました、巴マミです。皆さん、そろそろお疲れじゃないですか。紅茶を飲んで一休みしましょう。いまお湯を沸かしてきますから。</p>
							<p>あ、5時の時報は暁美さんにお願いしてあります。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="17:00">
						<div class="p-section__hdg">
							<h2>17:00　暁美ほむら（眼鏡）</h2>
						</div>

						<div class="p-box">
							<p>あ、あの……、あ、暁美、ほ、ほむらです。その、ええと……、5時になりました。今日はご来場いただきまして、その、あ、ありがとうございました。気を付けて帰ってくださいね。</p>
						</div>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
