<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>『まどか☆マギカ』TVシリーズ オーディオコメンタリー</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/">よもやま</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/commentary">オーディオコメンタリー</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">『まどか☆マギカ』TVシリーズ オーディオコメンタリー</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page">TVシリーズ</a></li>
							<li><a href="commentary_zenpen" rel="next">前編</a></li>
							<li><a href="commentary_kouhen">後編</a></li>
							<li><a href="commentary_shinpen">新編</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>『魔法少女まどか☆マギカ』TVシリーズの Blu-ray / DVD 限定版に収録されているオーディオコメンタリーの要約をまとめました。</p>
					</div>

					<ol class="p-subtoc">
						<li><a href="#tv-1">第1話「夢の中で逢った、ような……」</a></li>
						<li><a href="#tv-2">第2話「それはとっても嬉しいなって」</a></li>
						<li><a href="#tv-3">第3話「もう何も恐くない」</a></li>
						<li><a href="#tv-4">第4話「奇跡も、魔法も、あるんだよ」</a></li>
						<li><a href="#tv-5">第5話「後悔なんて、あるわけない」</a></li>
						<li><a href="#tv-6">第6話「こんなの絶対おかしいよ」</a></li>
						<li><a href="#tv-7">第7話「本当の気持ちと向き合えますか?」</a></li>
						<li><a href="#tv-8">第8話「あたしって、ほんとバカ」</a></li>
						<li><a href="#tv-9">第9話「そんなの、あたしが許さない」</a></li>
						<li><a href="#tv-10">第10話「もう誰にも頼らない」</a></li>
						<li><a href="#tv-11">第11話「最後に残った道しるべ」</a></li>
						<li><a href="#tv-12">第12話「わたしの、最高の友達」</a></li>
					</ol>
				</div>
				<main class="l-main__main">
					<section class="p-section -hdg-a" id="tv-1">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第1話「夢の中で逢った、ような……」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、喜多村英梨</b></p>
						</div>

						<ul class="p-list">
							<li>
								<p>（斎藤）このオーディオコメンタリーを録ったのは、9話か10話を収録した頃。</p>
								<p>（悠木）放送だと3話が終わったくらい。</p>
							</li>
							<li><p>（悠木）オーディションの時からまどかのイメージは変わっていない。</p></li>
							<li>
								<p>（喜多村）オーディションの時、どの役をやるかは自由だった。最初は違う役を受けていて、どなたか（監督?）に「さやかをやってみてください」と言われた。</p>
								<p>（斎藤）私も違う役を受けた。「ほむらをやってみてもらえませんか」と言われた。</p>
								<p>（斎藤）オーディションの日にいたのは碧ちゃんより年下の子ばかりだったが、実際に決まってみたら案外堅実な年齢のキャストになっていた。</p>
							</li>
							<li>
								<p>（斎藤）さやかもまどかも、泣いてばっかりだね。</p>
								<p>（喜多村）"さやかマジカ" ですよ。</p>
							</li>
							<li><p>（斎藤）まどかはちゃんと物事から逃げる。</p></li>
							<li><p>（斎藤）キャラクターが調子に乗るとやばい。</p></li>
							<li><p>（喜多村）さやかの「なにそれ、生き物?」のセリフの部分はCM番宣か何かで抜粋されていた。</p></li>
							<li>
								<p>（斎藤）ヒゲの魔女がしゃべっているのはドイツ語。</p>
								<p>（悠木）みんなで演っている。</p>
								<p>（斎藤）ヒゲの "おじさん" なのに幼女声。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-2">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第2話「それはとっても嬉しいなって」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、蒼樹うめ</b></p>
						</div>

						<ul class="p-list">
							<li><p>（悠木）うめ先生と身長が変わらないことにシンパシーを感じる。</p></li>
							<li>
								<p>（蒼樹）最初はプロデューサーの岩上さんから声をかけていただいた。</p>
								<p>（蒼樹）いちばんはじめにお話しいただいたときは、「魔法少女モノである」「虚淵さんが脚本でおもしろい感じになるんじゃないか」と聞いた。</p>
							</li>
							<li><p>（蒼樹）キャラクターを考える際、デザインの設定（世界観やキャラクター、アイテム）と、ざっくりとしたあらすじはいただいていた。</p></li>
							<li>
								<p>（蒼樹）虚淵さんから各キャラクターのイメージカラーはいただいていたが、それをすっかり忘れて（守らずに）描いてしまった。もしかしたらほむらが違ったかもしれない。</p>
							</li>
							<li>
								<p>（蒼樹）キャラクターを生み出すとき、まどかとほむらとマミはあまり悩まなかったが、さやかに苦戦した。性格がボーイッシュなので、見た目までボーイッシュになりすぎないように。</p>
							</li>
							<li><p>（蒼樹）キュゥべえのモチーフは小動物ということだけで、具体的な種類（猫など）は決まっていなかった。</p></li>
							<li><p>（斎藤）オーディションではブルーなセリフが多かった。</p></li>
							<li><p>（斎藤）このオーディオコメンタリーの収録の前に、本編の10話を録っていた。</p></li>
							<li><p>（蒼樹）衣装を考えるときに、武器のイメージについては聞いていたので、それに合わせた。</p></li>
							<li>
								<p>（悠木）まどかの魔法少女ノートの表紙に描いてあるまどかは、うめ先生が描かれた。</p>
								<p>（蒼樹）最初にわざと下手に描いたら「年齢が低すぎる」と言われた。まどかは普段ノートに落書きしている子なので、と。</p>
							</li>
							<li><p>（蒼樹）上条くんの髪の色はグレー。</p></li>
							<li><p>（蒼樹）キュゥべえは、基本は猫っぽいものだが、もうひとつ重要なキーワード（"キュゥべえ" の名前の由来）を意識しつつ……。</p></li>
							<li><p>（斎藤）「また あした」はさっき初めて聴いた。</p></li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-3">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第3話「もう何も恐くない」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、水橋かおり</b></p>
						</div>

						<ul class="p-list">
							<li><p>（水橋）うちはテレビが繋がっていなくて白パケで観るので、（リアルタイム視聴より）遅れている。</p></li>
							<li>
								<p>（悠木）マミさんが死ぬことは設定資料集に書かれていた。</p>
								<p>（斎藤）わたし何も知らない。</p>
								<p>（水橋）マミ役は自分チョイス。ほかは恭介君とキュゥべえ。</p>
								<p>（斎藤）私もキュゥべえをやったが「馬鹿すぎる」と言われた、</p>
								<p>（悠木）私は「かわいすぎる」と言われた。</p>
							</li>
							<li><p>（斎藤）最初に演じたのは別作品の番組のCMで一人ずつ発表していったやつと、ホームページ用。</p></li>
							<li><p>（斎藤）3話が終わってから、私たちの中では「調子に乗るとやばい」と。</p></li>
							<li>
								<p>（悠木）いまだに結末を知らない。</p>
								<p>（斎藤）いま11話まで録ってるが、12話を知らずにやっている。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-4">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第4話「奇跡も、魔法も、あるんだよ」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、虚淵玄</b></p>
						</div>

						<ul class="p-list">
							<li><p>（悠木）恭介の髪の色はオンエアでは白いこともあったが、（BD / DVDで）茶色に修正されている。</p></li>
							<li>
								<p>（虚淵）最初に魔法少女モノというオーダーありき。プロデューサーの岩上さんから「魔法少女で、新房さんとうめ先生とで、バトルロワイヤルもの」をと。</p>
								<p>（虚淵）最初は1話に一人ずつリタイアしていく話だったが、さすがにそれはということで3話に一人ずつ殺していきましょうと。</p>
								<p>（虚淵）12話ということは端から決まっていた。</p>
							</li>
							<li>
								<p>（斎藤）オーディションの時は脚本はほぼできていたんですか。</p>
								<p>（虚淵）そうですね。</p>
							</li>
							<li><p>（虚淵）あまり男性向けには意識して作っていない。男の子が見たがる綺麗な女の子ばかり描く話にはしないようにしようと。</p></li>
							<li>
								<p>（虚淵）男性キャラクター率が比較的高い話ばかり創ってきたので、こんなに女性ばかりが出る作品は初めて。</p>
								<p>（虚淵）べぇさんは性別ないでしょう。</p>
							</li>
							<li>
								<p>（虚淵）後藤邑子さんの演技が怖かったので、まどかの「ママ、目が怖いよ」のセリフは説明過多になってしまった。単に「ママ、怖いよ」で良かった。</p>
							</li>
							<li><p>（虚淵）（まどかが引き延ばされるシーンで）シナリオではセリフと段取りの数行だけで、この辺の世界観はイヌカレーさんが作ってくれた。</p></li>
							<li><p>（虚淵）オーディションの時、杏子は悪い子の演技が多かったが、新房さんが「意外性を出そう」と。</p></li>
							<li>
								<p>（斎藤）12話の収録をしていないので最終的なオチをまだ知らない。</p>
								<p>（虚淵）堕とすだけ堕として絶望で終わらせる話ではないが、完全なる救いではないかもしれない。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-5">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第5話「後悔なんて、あるわけない」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、野中藍</b></p>
						</div>

						<ul class="p-list">
							<li>
								<p>（野中）オーディションでは全部のキャラの台本をいただいて、好きなキャラを2つ選んでと言われて杏子とマミさんを。</p>
								<p>（悠木）私はまどかだけ決まっていて、あと1つ。</p>
							</li>
							<li><p>（斎藤）いちばん最初に「仁美はひどい女なんですよ」と聞いていた。</p></li>
							<li><p>（野中）悪ぶった演技をしようとしたら、音響監督から「野中でいいから」と言われた。</p></li>
							<li><p>（悠木）これ（落書きの魔女の手下）私が演ったんですよ。</p></li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-6">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第6話「こんなの絶対おかしいよ」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、宮本幸裕</b></p>
						</div>

						<ul class="p-list">
							<li><p>（斎藤）これでやっと全話終わってからのコメンタリー。</p></li>
							<li>
								<p>（宮本）（『まどか☆マギカ』のシリーズディレクターに）決まったタイミングが遅かった。『荒川アンダーザブリッジ』が終わって、『電波女』を。</p>
							</li>
							<li>
								<p>（悠木）オンエアのときは表にしちゃいけないことがDVD版で細かく描かれているということはこの間お伺いした。</p>
								<p>（斎藤）戦いの所をアングル変えてみたりとか。</p>
							</li>
							<li>
								<p>（宮本）原画さんが感情を乗せて描いてから声優さんにしゃべってもらうより、声優さんにしゃべってもらってから絵を考える方がやりやすい。俗に「プレスコ」と言う。</p>
							</li>
							<li><p>（宮本）キュゥべえが好き。合理的でスケジュールどおり事が運ぶところ。</p></li>
							<li><p>（斎藤）6話の最初のベッドのシーンで、オンエアではソウルジェムとグリーフシードが混同していたが、（DVD/BDでは）直っている。</p></li>
							<li>
								<p>（宮本）初期の表情集ではキュゥべえの口が空いたものがあったが、監督が無しにした。</p>
								<p>（斎藤）最初のアフレコでは（口）パクがあった。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-7">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第7話「本当の気持ちと向き合えますか?」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、新谷良子</b></p>
						</div>

						<ul class="p-list">
							<li>
								<p>（新谷）オーディションではさやかとほむらをやって、仁美は受けていない。</p>
								<p>（斎藤）私はキュゥべえと恭介を受けて、虚淵さんからほむらをお願いされた。</p>
							</li>
							<li><p>（新谷）オーディションのスタジオにシナリオがあって、仁美が悪女だと思っていたが、台本を見て自分のイメージする純真なお嬢様で演技した。</p></li>
							<li>
								<p>（新谷）（さやかの「邪魔しないで、一人でやれるわ」のシーンの）台本に「クラウジングスタート」と書かれていて笑ってしまったが、オンエアを観たら格好良すぎた。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-8">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第8話「あたしって、ほんとバカ」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、谷口淳一郎</b></p>
						</div>

						<ul class="p-list">
							<li><p>（谷口）一話で動きを書く原画さんがおよそ10人、それを直す人が1人か2人。さらに僕と高橋美香さん（もうひとりの総作画監督）で直す。</p></li>
							<li><p>（谷口）タッチを入れるというキャラクターデザインの岸田隆宏さんの指示。</p></li>
							<li><p>（谷口）描いていていちばん大変だったのは仁美。まつげが多い。描きやすかったのはほむら。クールなキャラの分、表情の動かしがいがある。</p></li>
							<li><p>（谷口）自宅作業が多い。</p></li>
							<li><p>（斎藤）ほむらは感情が爆発すると想いが大きすぎて声が出なくなり、力が抜けて立てなくなる。芝居付けが台本のト書きにも書いてあった。</p></li>
							<li>
								<p>（谷口）まだ最終話終わっていない。</p>
								<p>（斎藤）絶賛作業中。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-9">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第9話「そんなの、あたしが許さない」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、加藤英美里</b></p>
						</div>

						<ul class="p-list">
							<li><p>（加藤）オーディションで初めてやった時は、かわいい動物キャラでやってと言われて演じたところ、決まった。</p></li>
							<li>
								<p>（斎藤）1～2話くらいのアフレコ時は、キュゥべえにブレスがあって、放送を観て口が開かないことに衝撃を受けた。</p>
								<p>（加藤）画面に（絵がない代わりに）「キュゥべえ」の名前が出ていて、消えている間が口が開いていない状態。</p>
								<p>（加藤）放送を見てパクパクしないことが分かってからもきちんと合わせていた。</p>
							</li>
							<li>
								<p>（悠木）（まどかがベッドのうえでキュゥべえと対話するシーンで）キュゥべえに対して敵意を向けているのではなく、自分自身と葛藤してと鶴岡陽太さんが言われていた。</p>
							</li>
							<li><p>（悠木）魔女空間内に貼られたポスターに「Look at me」と書いてあるらしい。</p></li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-10">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第10話「もう誰にも頼らない」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和</b></p>
						</div>

						<ul class="p-list">
							<li><p>（斎藤）前の回（9話）のアフレコ時にほむらのメガネっ娘バージョンの絵を見せてもらった。</p></li>
							<li><p>（悠木）まどかも周回ごとに性格を変えている。</p></li>
							<li><p>（斎藤）公式ガイドブックの取材がこの前にあった。</p></li>
							<li><p>（斎藤）1話のときにあったキュゥべえの尻尾のSEを（10話では）鶴岡さんが消した。</p></li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-11">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第11話「最後に残った道しるべ」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、水橋かおり、喜多村英梨、加藤英美里、野中藍</b></p>
						</div>

						<ul class="p-list">
							<li><p>（水橋）ワルプルギスの夜はキャストが書かれておらず、たっくんの収録のために行ったら鶴岡陽太さんに指名された。</p></li>
							<li><p>（斎藤）12話ラストのほむらとキュゥべえは「ほむキュゥエンド」と呼んでいる。</p></li>
						</ul>
					</section>

					<section class="p-section -hdg-a" id="tv-12">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">第12話「わたしの、最高の友達」</h2>
						</div>

						<div class="p-text">
							<p><b class="c-lede">悠木碧、斎藤千和、虚淵玄、蒼樹うめ、宮本幸裕</b></p>
						</div>

						<ul class="p-list">
							<li><p>（虚淵）シナリオそのものの厚さは薄く、大きな変更もなかった。</p></li>
							<li><p>（虚淵）最後にまどかにノートを返すのはやりたかったんですよ。</p></li>
							<li><p>（斎藤）ほむらちゃんずっと血垂れているけど……。拭いてあげてよ。</p></li>
							<li>
								<p>（悠木）「ハイパーアルティメットまどか」ですよ、台本のト書きに。</p>
								<p>（蒼樹）設定では「ハイパーアルティメットまどか」とか「最終形態まどか」とか。</p>
							</li>
							<li>
								<p>（斎藤）アフレコ時、（まどかとほむらが）キラキラしているところはヒョウ柄だった。</p>
								<p>（虚淵）ダビング中は無修正でしたよ(笑)。</p>
							</li>
							<li><p>（虚淵）タツヤも知恵付けて大人になると（まどかが）見えなくなっちゃう。</p></li>
							<li>
								<p>（虚淵）改変後世界では、キュゥべえは昔ほど（魔法少女から）搾取し尽くすメリットが無くなったので、ならば（ほむらと）協力関係のほうが宜しいということ。</p>
								<p>（虚淵）本質的な解決にならなくても、譲歩案で仲良しになれる方法をやっておきたかった。</p>
							</li>
							<li>
								<p>（蒼樹）この世界のキュゥべえは、ソウルジェムが濁ると消滅するということは、言わないまま契約させているんですよね?</p>
								<p>（虚淵）言っていると思いますよ。（魔法少女には）長持ちしてもらわないと困るので。</p>
							</li>
							<li>
								<p>（宮本）早めに2期を決めていただけると。いま苦しんでいるスタッフが助かるので。</p>
								<p>（虚淵）プロットまでは蒼樹さんに見せている。</p>
							</li>
						</ul>
					</section>
				</main>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page">TVシリーズ</a></li>
							<li><a href="commentary_zenpen" rel="next">前編</a></li>
							<li><a href="commentary_kouhen">後編</a></li>
							<li><a href="commentary_shinpen">新編</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
