<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>『まどか☆マギカ』オーディオコメンタリー</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<main id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/">よもやま</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">『まどか☆マギカ』オーディオコメンタリー</h1>
					</div>

					<div class="p-description" itemprop="description">
						<p>『まどか☆マギカ』TVシリーズ、劇場版の Blu-ray / DVD に収録されているオーディオコメンタリーの要約をまとめました。</p>
					</div>
				</div>
				<div class="l-main__main">
					<ul class="p-links -large" style="--component-interval-ratio: 2">
						<li><a href="commentary_tv">TVシリーズ</a>（悠木碧、斎藤千和 ほか）</li>
						<li><a href="commentary_zenpen">[前編]始まりの物語</a>（悠木碧、斎藤千和、水橋かおり、喜多村英梨）</li>
						<li><a href="commentary_kouhen">[後編]永遠の物語</a>（悠木碧、斎藤千和、野中藍、加藤英美里）</li>
						<li><a href="commentary_shinpen">[新編]叛逆の物語</a>（悠木碧、斎藤千和、水橋かおり、野中藍、喜多村英梨、加藤英美里）</li>
					</ul>

					<div class="p-block" style="--component-interval-ratio: 4">
						<aside class="p-amazon">
							<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う" /></h2>
							<ul class="p-amazon__list">
								<li>
									<a href="https://www.amazon.co.jp/dp/B004INGZAE/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51kDXEQIAnL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51kDXEQIAnL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 1 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年4月27日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B004L7A7WO/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51CS8vsUzZL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51CS8vsUzZL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 2 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年5月25日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B004MMFTMQ/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51dFkKTKYiL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51dFkKTKYiL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 3 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年6月22日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B004P4RTKQ/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51Vk2uZjtTL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51Vk2uZjtTL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 4 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年7月27日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B004RCJJFE/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/515jYWFP0YL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/515jYWFP0YL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 5 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年8月24日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B004XCMYEG/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/515W7cHVttL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/515W7cHVttL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">魔法少女まどか☆マギカ 6 【完全生産限定版】 [Blu-ray]</p>
											<p class="p-amazon__time">2011年9月21日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B00C3EDY68/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51IOl9Ky54L._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51IOl9Ky54L._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]</p>
											<p class="p-amazon__time">2013年7月24日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B00I9YND9E/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/617z%2BzYhJ3L._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/617z%2BzYhJ3L._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語(通常版) [Blu-ray]</p>
											<p class="p-amazon__time">2014年4月2日 発売</p>
										</div>
									</a>
								</li>
							</ul>
						</aside>
					</div>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
