<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>『劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語』オーディオコメンタリー</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/commentary">オーディオコメンタリー</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">[新編]叛逆の物語　オーディオコメンタリー</h1>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a href="commentary_tv" class="c-link">TV シリーズ</a></li>
							<li><a href="commentary_zenpen" class="c-link">前編</a></li>
							<li><a href="commentary_kouhen" rel="prev" class="c-link">後編</a></li>
							<li><a aria-current="page" class="c-link">新編</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>『劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語』の Blu-ray / DVD に収録されているオーディオコメンタリーの要約をまとめました。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter1">
						<div class="p-section__hdg">
							<h2>Chapter 1</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和</p>

						<ul class="p-list">
							<li>
								<p>（斎藤）冒頭のシーンを録ったときは前半の台本しか貰っていなかった。</p>
								<p>（悠木）冒頭のおとぎ話の部分の台本は、まどかのナレーションだけひらがなで書かれていた。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter4">
						<div class="p-section__hdg">
							<h2>Chapter 4</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり</p>

						<ul class="p-list">
							<li>
								<p>（斎藤）転校したほむらがさりげなく指輪を見せるところはアドリブを入れてみたが、あざといと思い止めた。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter14">
						<div class="p-section__hdg">
							<h2>Chapter 14</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和、水橋かおり、野中藍</p>

						<ul class="p-list">
							<li>
								<p>（悠木）虚淵さんに本気で戦ったら誰がいちばん強いのか聞いたら、マミさんと仰られていた気が。</p>
							</li>
							<li>
								<p>（水橋）ほむマミ戦は映画の『リベリオン』を観ていただけると補足になっておもしろいと思う。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter17">
						<div class="p-section__hdg">
							<h2>Chapter 17</h2>
						</div>

						<p>コメンテーター: 喜多村英梨</p>

						<ul class="p-list">
							<li>
								<p>（喜多村）ほむらを諭すシーンで、テスト（アフレコ）では悲痛度を込めすぎてはダメだと言われた。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter20">
						<div class="p-section__hdg">
							<h2>Chapter 20</h2>
						</div>

						<p>コメンテーター: 喜多村英梨</p>

						<ul class="p-list">
							<li>
								<p>（喜多村）ここ（バスが空から降ってくるシーン）は台本上で言うとDパート。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter21">
						<div class="p-section__hdg">
							<h2>Chapter 21</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和、加藤英美里</p>

						<ul class="p-list">
							<li>
								<p>（加藤）「わけが分からないよ」のシーンではひとりでいろんなパターンのキュゥべえをやった。</p>
								<p>（斎藤）太っているキュゥべえやアホっぽいやつとか。</p>
								<p>（加藤）おじさんみたいなキュゥべえとか。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter26">
						<div class="p-section__hdg">
							<h2>Chapter 26</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和、加藤英美里</p>

						<ul class="p-list">
							<li>
								<p>（悠木）ほむらが悪魔と自称するシーン、台本では「悪魔」と明言しない方がいいんじゃないかということが書いてあった。</p>
								<p>（斎藤）「どうしようか悩み中」となっていた。</p>
							</li>
						</ul>
					</section>

					<section class="p-section -hdg-a htmlbuild-heading-self-link" id="chapter28">
						<div class="p-section__hdg">
							<h2>Chapter 28</h2>
						</div>

						<p>コメンテーター: 悠木碧、斎藤千和、加藤英美里</p>

						<ul class="p-list">
							<li>
								<p>（斎藤）渡り廊下のシーンが1stテイクと比較していちばん違う。1stテイクは自分がコントロールしようという意思があったが、上映版はまどかが元に戻りそうなことに動揺している演技。</p>
								<p>（斎藤）演技を変えるというよりは、考え方を変えている。</p>
							</li>
							<li>
								<p>（斎藤）最初のアフレコ時はとくに最後の方は映像がコンテ絵だったので、ほむらが涙を溜めていることを知らなかった。絵ができたときにそれに気づき、そこから逆算して芝居を付けた。</p>
							</li>
						</ul>
					</section>

					<aside class="p-amazon">
						<h2 class="p-amazon__hdg"><img src="/assets/image/amazon-buy.png" srcset="/assets/image/amazon-buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h2>

						<ul class="p-amazon__list">
							<li>
								<a href="https://www.amazon.co.jp/dp/B00I9YND9E/" class="p-amazon__link htmlbuild-amazon-associate">
									<div class="p-amazon__thumb">
										<img src="https://m.media-amazon.com/images/I/617z%2BzYhJ3L._SL160_.jpg" alt="" width="136" height="160" class="p-amazon__image htmlbuild-image-amazon" />
									</div>
									<div class="p-amazon__text">
										<p class="p-amazon__title">劇場版 魔法少女まどか☆マギカ[新編]叛逆の物語(通常版) [Blu-ray]</p>
										<p class="p-amazon__date">2014年4月2日 発売</p>
									</div>
								</a>
							</li>
						</ul>
					</aside>
				</main>
				<div class="l-content__footer"><%- include('./_include/_contents_footer_source') %></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
