<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>『さよなら絶望先生』における『まどか☆マギカ』ネタ</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<main id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/">よもやま</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/kumeta">久米田作品における『まどか☆マギカ』ネタ</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">『さよなら絶望先生』における『まどか☆マギカ』ネタ</h1>
						<p class="p-page-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2017年4月25日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="kumeta_kaizo" rel="prev">かってに改蔵</a></li>
							<li><a aria-current="page">さよなら絶望先生</a></li>
							<li><a href="kumeta_joshiraku" rel="next">じょしらく</a></li>
							<li><a href="kumeta_sekadoro">せっかち伯爵と時間どろぼう</a></li>
							<li><a href="kumeta_kakushigoto">かくしごと</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>「週刊少年マガジン」において2005年～2012年に連載され、2011年以降に描かれた話には『まどか☆マギカ』ネタも随所で登場します。</p>
						<p>2007年には久米田作品として初めてアニメ化がなされ、シャフト制作、新房昭之監督、メインキャストに野中藍、新谷良子、斎藤千和など、『まどか☆マギカ』と共通する関係者も多いのですが、基本的に2010年以前の制作なため、アニメでネタにされた例は存在しません。ただし、一部に劇団イヌカレーが演出に関わっているパートがあり、『まどか☆マギカ』ファンにとっても一見の価値があります。</p>
						<p>一方、2007年から4年間の長きにわたり配信されたウェブラジオ「さよなら絶望放送」では、原作漫画と同じく他作品のパロディを多用するのに加え、パーソナリティの一人が新谷良子ということもあり、2010年秋の『まどか☆マギカ』制作発表の段階からたびたび言及、ネタにされています。</p>
					</div>

					<ul class="p-subtoc" role="directory">
						<li><a href="#manga">漫画</a></li>
						<li><a href="#radio">ラジオ （さよなら絶望放送）</a></li>
					</ul>
				</div>
				<div class="l-main__main">
					<section class="p-section -hdg-a" id="manga">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">漫画</h2>
						</div>

						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百五十六話　出でよ、オツベルと象！</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年7月15日</span>　単行本「第二六集」発売</p>
								<p>11ページ目（第二六集の86ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li>
										<p>超難易度高い召喚獣（＝ただのニート）の部屋に「契約は計画的に!」と書かれたキュゥべえのポスター。また、ニートの男性が手にしている『MDK MGK』の表紙には鹿目まどかのような少女が描かれている。</p>
									</li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百五十九話　アウェイなる一族</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年7月15日</span>　単行本「第二六集」発売</p>
								<p>7ページ目（第二六集の124ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>メイド喫茶のメイドが巴マミの髪型。それについて「マミさんみたい」と言う男性客が着ているTシャツ文字は「QB」。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百六十一話　春は曙。やうやう難くなりゆくやめ際。</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年10月17日</span>　単行本「第二七集」発売</p>
								<p>12ページ目（第二七集の17ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>やめる時の方が大変なものの例として、「契約した魔法少女」が挙げられている。背景の壁画はシャルロッテに喰われる直前の巴マミ。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百六十六話　笹の上のメモ</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年10月17日</span>　単行本「第二七集」発売</p>
								<p>2ページ目（第二七集の77ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>笹に吊された短冊のひとつが「彼女を守る私になりたい ほむら」。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百七十四話　善いサマリア人ね。善いサマリア人は善いね。</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2012年2月17日</span>　単行本「第二八集」発売</p>
								<p>6ページ目（第二八集の39ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>直してあげようとして壊してしまった例として巴マミのフィギュアが描かれている。ちなみに壊れ方は首が……。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百七十六話　悲しき絶対</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2012年2月17日</span>　単行本「第二八集」発売</p>
								<p>12ページ目（第二八集の73ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>絶対ギャグ（モチーフを持たぬギャグのためのギャグ）の一例としてバタコさんが新しい顔を投げようとしているが、その顔がなぜか巴マミ。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百七十八話　似勢物語</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2012年2月17日</span>　単行本「第二八集」発売</p>
								<p>2～5, 13ページ目（第二八集の93～96, 104ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>藤吉晴美の読んでいる「アニメジュア」の表紙がメガネほむら。本の中身もまどか、キュゥべえ、マミ、文字のみでワルプルギスの夜。</p></li>
									<li>
										<p>本屋で会話するコスプレーヤーの会話が「今年のハロウィン何コス？」「『マゴマギ』やってみようと思うの」。実際に「としまゑん」でコスプレした結果が（顔が残念な）鹿目まどか。</p>
									</li>
									<li><p>アニメや漫画を再現するのが難しい例として、背景にキュゥべえのようなコスプレ。</p></li>
									<li><p>衣装と中身が「装丁の範囲内」な例として、メガネほむら。</p></li>
									<li>
										<p>プロのモデルさんがキャラを知らずにコスプレする例として、巴マミのコスプレ。PSPポータブル『マギカ』の販売イベントな模様。客の男性から『首大丈夫っスか？』と話しかけられている。</p>
									</li>
									<li><p>棺桶でくつろぐ望が持ち込んでいる漫画の1冊が『まど☆マギ』。表紙は髪型から鹿目まどかと思われる。</p></li>
								</ul>
							</div>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第二百九十七話　（あと）五回の憂鬱</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2012年8月17日</span>　単行本「第三十集」発売</p>
								<p>8ページ目（第三十集の90ページ）</p>
							</div>

							<div class="p-box">
								<ul class="p-list">
									<li><p>2次元との死後婚を希望されるケースとして、遺影のオタク男性の相手が巴マミ。</p></li>
									<li><p>「同じ作品内のキャラだからいいだろう」ということで、美樹さやか、佐倉杏子となぜかキュゥべえの遺影。</p></li>
									<li>
										<p>倫が「棺にフィギュアやら同人誌やら入れられたり」と言うコマで、棺の中には巴マミのフィギュアが大小2つ、マミの顔が表紙に書かれた本が1冊、「巴」とだけ書かれた本が1冊、かなりデフォルメされているがシャルロッテ第2形態と思われる表紙の本が1冊入っている。</p>
									</li>
									<li>
										<p>続く「出棺の時魔法少女のアニメの音楽で見送られるのは」のセリフも、それまでの流れから『まどか☆マギカ』のことを指していると思われる。コマ背景ではメロディが「エエエーエエー」と文字表現されているので曲は「Magia」か。</p>
									</li>
								</ul>
							</div>
						</section>

						<aside class="p-amazon">
							<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う" /></h2>
							<ul class="p-amazon__list">
								<li>
									<a href="https://www.amazon.co.jp/dp/B00A765D5E/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/513b3GIZKxL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/513b3GIZKxL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">単行本 第二六集</p>
											<p class="p-amazon__time">2011年7月15日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B00A765DCM/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51PTVTKsCCL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51PTVTKsCCL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">単行本 第二七集</p>
											<p class="p-amazon__time">2011年10月17日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B00A765DGI/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51blIkT7EXL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51blIkT7EXL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">単行本 第二八集</p>
											<p class="p-amazon__time">2012年2月17日 発売</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://www.amazon.co.jp/dp/B005XOK9N6/" class="p-amazon__dp htmlbuild-amazon-associate">
										<div class="p-amazon__image-area">
											<img src="https://m.media-amazon.com/images/I/51Co7rOEM-L._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51Co7rOEM-L._SL320_.jpg 2x" alt="" class="p-amazon__image" />
										</div>
										<div class="p-amazon__text-area">
											<p class="p-amazon__title">単行本 第三十集</p>
											<p class="p-amazon__time">2012年8月17日 発売</p>
										</div>
									</a>
								</li>
							</ul>
						</aside>
					</section>

					<section class="p-section -hdg-a" id="radio">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">ラジオ <span class="p-hdg__sub-hdg">（さよなら絶望放送）</span></h2>
						</div>

						<div class="p-text">
							<p>全203回配信 + DJCD16枚、その他DJDVDや携帯版、オールナイトニッポンRでの放送など。パーソナリティは神谷浩史（糸色望 役）と新谷良子（日塔奈美 役）。</p>
						</div>

						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第166回　ティモシー・アーチャーの変声</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2010年11月24日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">エンディング</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>投稿はアニメイトTVのホームページから、各番組へのメールやあるいは、シャフトの皆さん『魔法少女まどか☆マギカ』の制作発表おめでとうございます。たまにでいいので絶望先生のことも思い出してくださいね。</td>
										</tr>
									</tbody>
								</table>

								<div class="p-note">
									<p class="p-note__note">
										<span class="p-note__mark">※</span>
										<span class="p-note__text">放送前の制作発表へのメッセージ。絶望先生のアニメは三期の放送から1年が過ぎた時期。</span>
									</p>
								</div>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第175回　フェッセンデンの普通</h3>
							</div>

							<div class="p-text"><span class="htmlbuild-datetime">2011年2月2日</span>配信</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">エンディング</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>氷川先生、『まどか☆マギカ』ではエンドカード描かせてもらえてよかったですね。</td>
										</tr>
									</tbody>
								</table>

								<div class="p-note">
									<p class="p-note__note">
										<span class="p-note__mark">※</span>
										<span class="p-note__text">氷川へきる先生が第2話の予告イラストを担当されたことに対する言及。</span>
									</p>
								</div>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第177回　春季の祭典</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年2月16日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">コーナー「さのすけを探せ！」</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>さのすけ（神谷）</th>
											<td>シャフト制作の大人気アニメ『魔法少女まどか☆マギカ』第5話の予告イラストに俺を描いてくれたニトロプラス社のゆーぽん先生、ありがとちゃん。</td>
										</tr>
									</tbody>
								</table>

								<div class="p-note">
									<p class="p-note__note">
										<span class="p-note__mark">※</span>
										<span class="p-note__text">再び予告イラストへの言及。「さのすけ」は第31回で誕生した絶望放送発祥のマスコットキャラクター（CV：神谷浩史）だが、後に久米田作品はもとより様々な漫画、アニメに登場している。</span>
									</p>
								</div>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第179回　はしごからの眺め</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年3月2日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">今週の標語</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>さのすけ（神谷）</th>
											<td>りょーこ、俺と契約して絶望少女になってくれよ。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、マスコットは架空のものです。</td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">お別れの一言</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>キュゥべえ（新谷）</th>
											<td>君たちはいつもそうだね。ラジオでありのままに伝えると決まって同じ反応をする。わけがわからないよ。</td>
										</tr>
										<tr>
											<th>神谷浩史</th>
											<td>さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、契約は架空のものです。180回に続きます。</td>
										</tr>
									</tbody>
								</table>

								<div class="p-note">
									<p class="p-note__note">
										<span class="p-note__mark">※</span>
										<span class="p-note__text">「このラジオはフィクションであり……」のくだりは毎回読まれるものであるが、標語のネタ元に合わせて組織名の後の単語（今回で言えば"マスコット"、"契約"）は差し替えられる。</span>
									</p>
								</div>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第182回　猫のネタに釘を打て</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年3月25日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">オープニングドラマ</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>新谷良子</th>
											<td>あちゃー、「なぜ11話が放送されないんだ」とかつぶやいてる外国の方いますね。</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第184回　真・さよなら絶望放送</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年4月13日</span>配信</p>
								<p>ゲスト：野中藍（風浦可符香(PN) 役）</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">今週の標語</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>野中藍</th>
											<td>絶望ネーム「さやか、かわいそうです」、その他の皆さんから寄せられました、今週の標語。</td>
										</tr>
										<tr>
											<th>志筑仁美（新谷）</th>
											<td>ずっと前から私、糸色望君のことお慕いしていましたの。</td>
										</tr>
										<tr>
											<th>野中藍</th>
											<td>さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、「緑、許さない、絶対にだ」は架空のものです。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>（あたしのせいじゃないっつーの。）</td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">コーナー「新谷良子・野中藍 酒と谷の日々」</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>野中藍</th>
											<td>仁美さん、杏子さん、こんにちは。『魔法少女まどか☆マギカ』感想です。脚本家さんとシャフトさんの組み合わせからは危険な香りしかしていませんでしたが、うめてんてーの可愛いほのぼののイラストに気を許してしまった結果がこれですよ。</td>
										</tr>
										<tr>
											<td colspan="2">（BGM一瞬止まる）</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>うん……。あ……ありがとうメール。</td>
										</tr>
										<tr>
											<th>野中藍</th>
											<td>あ、ありがと、キャピキャピだ。でもちょっと、送り先間違えてる。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>間違えてるね。あ、でもそっかー、あっちはラジオないんだぁ。</td>
										</tr>
										<tr>
											<th>新谷&amp;野中</th>
											<td>あー……。</td>
										</tr>
										<tr>
											<th>野中藍</th>
											<td>「まどかラジオ」、とかそういうのはないんだね。</td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">お別れの一言</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>新谷良子</th>
											<td>それでは今回のお別れの一言、絶望ネーム「食べ物を粗末にするな」さんのリクエストで。</td>
										</tr>
										<tr>
											<th>野中藍</th>
											<td>（あれ、これ可符香だよねでもね、難しいよね。）</td>
										</tr>
										<tr>
											<th>風浦可符香（野中）</th>
											<td>独りぼっちは寂しいもんな。いいよ、一緒に絶望してやるよ、奈美。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>さよなら絶望放送、このラジオはフィクションであり、登場する人物、団体、組織名、杏子ちゃんマジ天使は架空のものです。185回に続きます。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>（可符香でやるとちょっと怖いね、これ。）</td>
										</tr>
										<tr>
											<th>野中藍</th>
											<td>（怖いね、逆の意味が。）</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>（そうそうそうそう。）</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第190回　妻という名の魔女子たち</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年6月1日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">オープニングドラマ</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>しかし女子力をアップしていくと、自ずと魔女子力をアップすることになりかねませんよ。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>なんですか、魔女子力って。</td>
										</tr>
										<tr>
											<th>神谷浩史</th>
											<td>魔法少女がいずれ魔女になるのが宿命であるように、女子力が上がり過ぎると男をたぶらかす魔女子力になるのもまた自明の理(り)。</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第191回　五十歩万歩の男</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年6月8日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">オープニングドラマ</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>一見差があるように見えて大して差がないのが五十歩百歩ですが、いつの間にかその差が大きくなってしまうこと、それが五十歩万歩です。</td>
										</tr>
										<tr>
											<td colspan="2" class="p-talk__omit">（中略）</td>
										</tr>
										<tr>
											<th>神谷浩史</th>
											<td>去年は DVD が『化物語』の10分の1しか売れないとネタにしていたら、今年は Blu-ray が『まどか☆マギカ』の10分の1以下しか売れない状態に。</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">第201回　幻想と解禁</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年8月17日</span>配信</p>
							</div>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">コーナー「かってに絶望ラジオしてもいいぜ」</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>『懺・さよなら絶望先生』BD-BOX購入しましたー。『懺』に加えて『獄』に『番外地』も収録されていて、今やすっかり有名になった劇団イヌカレーさんのオープニング・デチューンや公演回などが全部一緒に高画質で入っててお得だと思います。とくに「エノデンの回」の、えー細い線の書き込みっぷりはBDで観て、えー鳥肌が立ちました。『絶望先生』との相性っぷりはま……え、なにこれ、『絶望先生』との相性っぷりは『まどマギ』に負けていないと思います。</td>
										</tr>
									</tbody>
								</table>

								<div class="p-note">
									<p class="p-note__note">
										<span class="p-note__mark">※</span>
										<span class="p-note__text">「公演回」、「エノデンの回」とは、『懺・さよなら絶望先生』第8話 Cパートの「最後の、そして始まりのエノデン」のことで、全編にわたってイヌカレー空間による表現となった異色回。登場キャラクターは『まどか☆マギカ』でも多用された、切り絵風の表現となっている。</span>
									</p>
								</div>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">携帯版　第190回　誰か注意してあげて下さい!!</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年6月1日</span>配信</p>
							</div>

							<aside class="p-amazon">
								<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う" /></h2>
								<ul class="p-amazon__list">
									<li>
										<a href="https://www.amazon.co.jp/dp/B005XOK9N6/" class="p-amazon__dp htmlbuild-amazon-associate">
											<div class="p-amazon__image-area">
												<img src="https://m.media-amazon.com/images/I/51%2B2i1YWMNL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51%2B2i1YWMNL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
											</div>
											<div class="p-amazon__text-area">
												<p class="p-amazon__title">DJCD さよなら絶望放送 携帯盤SZ-04K</p>
												<p class="p-amazon__time">2011年12月21日 発売</p>
											</div>
										</a>
									</li>
								</ul>
							</aside>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">コーナー「たれこみったー」</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>私は杉並区のとあるラーメン屋で働いています。その夜、午後11時過ぎに男性二人組が来店いたしました。ご注文を頂いてラーメンを作っていると、カウンター越しにそのお客様の会話が聞こえてきました。「『まどか』売れてるみたいですね。『化物語』かそれ以上らしいじゃないですか。」「まあ、まだ1巻の初動しか出てないんですけどね。一安心てとこでしょうか。」どうやらアニメ関係者であることが分かりました。この手の会話は杉並ではお馴染みなので、さして驚くようなことはありません。しかし……。「宮本さん、会社の入口に婚姻届貼り出したらダメですよ。」「いい作戦だと思ったんですけどね。あ、そのスープ残すなら僕頂いてもいいですか。」</td>
										</tr>
										<tr>
											<td colspan="2" class="p-talk__omit">（中略）</td>
										</tr>
										<tr>
											<th>神谷浩史</th>
											<td>宮本幸裕さんがどうやら、えーご来店されたようで、えーまあ(笑)、いろいろこう自分の周りのことについてお話されていたわけですね。まあそうですよね。ま、『まどか』のシリーズディレクターですから、宮本さんは。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>そうですね(笑)、んー。</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">DJCD さよなら絶望放送　第十巻</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年10月26日</span>発売</p>
							</div>

							<aside class="p-amazon">
								<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う" /></h2>
								<ul class="p-amazon__list">
									<li>
										<a href="https://www.amazon.co.jp/dp/B005I065Z6/" class="p-amazon__dp htmlbuild-amazon-associate">
											<div class="p-amazon__image-area">
												<img src="https://m.media-amazon.com/images/I/51zEn8RzOML._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51zEn8RzOML._SL320_.jpg 2x" alt="" class="p-amazon__image" />
											</div>
											<div class="p-amazon__text-area">
												<p class="p-amazon__title">DJCD さよなら絶望放送 第十巻</p>
												<p class="p-amazon__time">2011年10月26日 発売</p>
											</div>
										</a>
									</li>
								</ul>
							</aside>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">コーナー「も、もげーっ！りょうこちゃん、もげーっ！」</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>ぴろし17歳（神谷）</th>
											<td>えーということで、今回のゲストを紹介します、この方でーす。</td>
										</tr>
										<tr>
											<th>新谷良子</th>
											<td>もう出ないって言ったのに……。さようなら、新谷良子です。</td>
										</tr>
										<tr>
											<th>ぴろし17歳（神谷）</th>
											<td>いやー、もげ! あー、仁美もげ! 俺は上条を絶対に許さない。いいか、絶対にだ!!</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
						<section class="p-section -hdg-b">
							<div class="p-hdg">
								<h3 class="p-hdg__hdg">糸色望のオールナイトニッポンR</h3>
							</div>

							<div class="p-text">
								<p><span class="htmlbuild-datetime">2011年10月15日</span>放送</p>
							</div>

							<aside class="p-amazon">
								<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う" /></h2>
								<ul class="p-amazon__list">
									<li>
										<a href="https://www.amazon.co.jp/dp/B0066C5J84/" class="p-amazon__dp htmlbuild-amazon-associate">
											<div class="p-amazon__image-area">
												<img src="https://m.media-amazon.com/images/I/511tDm3LUdL._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/511tDm3LUdL._SL320_.jpg 2x" alt="" class="p-amazon__image" />
											</div>
											<div class="p-amazon__text-area">
												<p class="p-amazon__title">DJCD さよなら絶望放送特別版 ～糸色望のオールナイトニッポンR～</p>
												<p class="p-amazon__time">2012年1月25日 発売</p>
											</div>
										</a>
									</li>
								</ul>
							</aside>

							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h4 class="p-hdg__hdg">オープニング</h4>
								</div>

								<table class="p-talk">
									<tbody>
										<tr>
											<th>神谷浩史</th>
											<td>ぜんぜん関係ないですけれども、あれ、まあ監督のね、新房さん、新房監督っていうまあ今もう、『まどか☆マギカ』だったりとか、あー、『化物語』だったりとか、いろんなこうものを監督をやってらっしゃる監督なんですけど、まあその監督が『さよなら絶望先生』の監督をやってくださってたんですけど、まあ当然そこんところも、その監督の手によるものなわけじゃないですか。</td>
										</tr>
									</tbody>
								</table>
							</section>
						</section>
					</section>
				</div>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="kumeta_kaizo" rel="prev">かってに改蔵</a></li>
							<li><a aria-current="page">さよなら絶望先生</a></li>
							<li><a href="kumeta_joshiraku" rel="next">じょしらく</a></li>
							<li><a href="kumeta_sekadoro">せっかち伯爵と時間どろぼう</a></li>
							<li><a href="kumeta_kakushigoto">かくしごと</a></li>
						</ul>
					</nav>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
