<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>惑語　魔法少女ものが☆モドカ</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="madoka" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/madoka/yomoyama/">よもやま</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">惑語　魔法少女ものが☆モドカ</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2018年9月22日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>MADOGATARI展で流された『惑語　魔法少女ものが☆モドカ』の情報をまとめました。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="c-section -hdg-a" id="chara">
						<div class="p-hdg">
							<h2>各魔法少女の特性</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th>キャラクター</th>
									<th>二つ名</th>
									<th>使用呪文</th>
									<th>呪装魔具</th>
									<th>願いごと</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>戦場ヶ原ひたぎ</td>
									<td>重力の魔法少女</td>
									<td>意識不明の十代　グラビティ・グラフティ</td>
									<td>ハンマー</td>
									<td>思い出をください</td>
								</tr>
								<tr>
									<td>八九寺真宵</td>
									<td>迷宮の魔法少女</td>
									<td>無限無軌道　キャタピランド、螺旋帰道 スクリューゾーン</td>
									<td>ドリル</td>
									<td>家に帰りたい</td>
								</tr>
								<tr>
									<td>神原駿河</td>
									<td>先駆の魔法少女</td>
									<td>疾走の喪失　ランナーズ・ダイ</td>
									<td>リッターバイク</td>
									<td>誰よりも速く走りたい</td>
								</tr>
								<tr>
									<td>千石撫子</td>
									<td>俯伏の魔法少女</td>
									<td>這う這うの定理　グラウンド・セオリー</td>
									<td>地雷</td>
									<td>人に見られたくない</td>
								</tr>
								<tr>
									<td>羽川翼</td>
									<td>記憶の魔法少女</td>
									<td>燃える想い　ジャンプ・ファイア</td>
									<td>火炎瓶</td>
									<td>全部忘れてしまいたい</td>
								</tr>
								<tr>
									<td>忍野忍</td>
									<td>不死の魔法少女</td>
									<td>怪異殺し　キスショット・アセロラオリオン・ハートアンダーブレード</td>
									<td>日本刀（大小）</td>
									<td>死にたい</td>
								</tr>
							</tbody>
						</table>

						<ul class="p-note">
							<li>会場で流れた映像のメモによる。</li>
						</ul>
					</section>

					<section class="c-section -hdg-a" id="reading">
						<div class="p-hdg">
							<h2>朗読内容</h2>
						</div>

						<div class="p-box">
							<div class="p-text">
								<p>
									<ruby class="c-ruby-after">惑語<rp>（</rp><rt>マドガタリ</rt><rp>）</rp></ruby> 魔法少女ものが☆モドカ。僕と契約して魔法少女になって欲しいんだ。
								</p>
							</div>

							<section class="c-section -hdg-c" id="reading-hitagi">
								<div class="p-hdg">
									<h3>戦場ヶ原ひたぎ<span class="p-hdg__sub">（重力の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>質量という概念から解放されたこの魔法少女は、攻撃した物体の重さを奪うんだ。奪えば奪うほどハンマーは重さを増し強化される。魔法を失った時、持ち主は押し潰される宿命ってわけだね。</p>
									<p>ハンマーにはサイコメトリーの機能もあるんだけれど、残念ながら使いこなせていないみたいだよ。</p>
								</div>
							</section>
							<section class="c-section -hdg-c" id="reading-mayoi">
								<div class="p-hdg">
									<h3>八九寺真宵<span class="p-hdg__sub">（迷宮の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>防御力に秀でた魔法少女だ。あらゆる攻撃が道に迷ったように彼女を避ける。ただし、こちらからの攻撃も当たらなくなるので注意が必要だ。</p>
									<p>なので手にしたドリルは攻撃用ではなく、道なき道を造るための道路工事用のアイテムだよ。それだって魔女結界の逃走経路を作る役にしか立たないけどね。</p>
								</div>
							</section>
							<section class="c-section -hdg-c" id="reading-suruga">
								<div class="p-hdg">
									<h3>神原駿河<span class="p-hdg__sub">（先駆の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>バイクと一体化した魔法少女に変身したのは、普段自転車に乗れない彼女のコンプレックスの表れかもね。願いの純度が高すぎて、もしも誰かに追い抜かれたらその瞬間に魔女化する。</p>
									<p>いくらスピードが欲しいからって、そんなことまで最速で達成しなくてもいいのにな。わけが分からないよ。</p>
								</div>
							</section>
							<section class="c-section -hdg-c" id="reading-nadeko">
								<div class="p-hdg">
									<h3>千石撫子<span class="p-hdg__sub">（俯伏の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>世にも珍しい地を這う姿の魔法少女だ。</p>
									<p>人見知りという性格がそのまま反映されているのは、さながらほふく前進のような移動手段のみならず、彼女の周囲に敷き詰められた地雷という武器においてもまた然りだ。うっかり自分で踏んじゃうことも多々あるのが興味深い。</p>
								</div>
							</section>
							<section class="c-section -hdg-c" id="reading-tsubasa">
								<div class="p-hdg">
									<h3>羽川翼<span class="p-hdg__sub">（記憶の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>重力の魔法少女のサイコメトリーとは逆で、この魔法少女は何かを燃やすたびに自身の記憶を失う。</p>
									<p>すべてを失えば魔女化するだろうけれど、失った部分に新しい想いをどんどん追加するので先は長そうだ。詰め込み教育の弊害をまざまざと見せつけられている気分だよ。</p>
									<p>とはいえ、魔法少女のままで世界を燃やし尽くしてくれるなら、そのおぞましいまでの熱量はこちらとしても望ましいまでなんだ。</p>
								</div>
							</section>
							<section class="c-section -hdg-c" id="reading-shinobu">
								<div class="p-hdg">
									<h3>忍野忍<span class="p-hdg__sub">（不死の魔法少女）</span></h3>
								</div>

								<div class="p-text">
									<p>彼女の願いは残念ながら叶わなかった。代わりに不死身の化け物を大量虐殺できる力を手に入れたよ。殺した化物はそのまま魔法少女の養分となる。結果ますます長生きすることになったのはなんとも皮肉だよ。まあそもそも600歳だからこの吸血鬼、別に思春期の女の子でも何でもないしね。</p>
								</div>
							</section>
						</div>

						<ul class="p-note">
							<li>すべてキュゥべえによる朗読。</li>
						</ul>
					</section>

					<section class="c-section -hdg-a" id="tenji">
						<div class="p-hdg">
							<h2>MADOGATARI展会場ごとの展示の様子</h2>
						</div>

						<section class="c-section -hdg-b" id="tenji-tokyo-encore">
							<div class="p-hdg">
								<h3>東京アンコール会場<span class="p-hdg__sub">（2016年9月）</span></h3>
							</div>

							<div class="p-text">
								<p>『〈物語〉シリーズ』ゾーンの最後の方に巨大なディスプレイがあり、エンドレスで映像が放映されました。</p>
								<p>神原駿河を除く5人の写真がスポーツ報知の記事<a href="https://web.archive.org/web/20160922044103/http://www.hochi.co.jp/entertainment/20160922-OHT1T50082.html" class="htmlbuild-domain">「ＭＡＤＯＧＡＴＡＲＩ展」東京アンコール展が開幕…「名セリフ投票」も実施</a>に掲載されています。</p>
							</div>
						</section>
						<section class="c-section -hdg-b" id="tenji-kanazawa">
							<div class="p-hdg">
								<h3>金沢会場（MADOGATARI GALLERY）<span class="p-hdg__sub">（2016年12月）</span></h3>
							</div>

							<div class="p-text">
								<p>展示エリア内の「シャフトシアター」にて、他作品と一緒に上映されました。上映リストは以下のとおりです。</p>
							</div>

							<ol class="p-list-num">
								<li>『暦ヒストリー』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
								<li>『惑語　魔法少女ものが☆モドカ』&lt;MADOGATARI展用特別映像&gt; 3:40</li>
								<li>『物語シリーズ 振り返り映像』～『傷物語&lt;Ⅲ冷血篇&gt;』予告映像 3:00</li>
								<li>『魔法少女まどか☆マギカ 振り返り映像』～『コンセプトムービー』 5:20</li>
								<li>
									<a href="https://www.youtube.com/watch?v=i9bFFk7egQ4">『クビキリサイクル』OP映像<img src="/assets/image/icon/youtube.svg" alt="(YouTube)" width="16" height="16" class="c-link-icon" /></a>
									1:30
								</li>
								<li>
									<a href="https://www.youtube.com/watch?v=PO2w29PwoFk">『Fate/EXTELLA』PlayStation®4&amp;PlayStation®Vita OP映像<img src="/assets/image/icon/youtube.svg" alt="(YouTube)" width="16" height="16" class="c-link-icon" /></a>
									1:30
								</li>
								<li>
									<a href="https://www.youtube.com/watch?v=XFnrnF_v5MI">『打ち上げ花火 下から見るか? 上から見るか?』（2017年8月公開予定）予告映像<img src="/assets/image/icon/youtube.svg" alt="(YouTube)" width="16" height="16" class="c-link-icon" /></a>
									1:00
								</li>
								<li>『マギアレコード』告知映像 0:15</li>
								<li>
									<a href="https://www.youtube.com/watch?v=Fz2YwmHJtHk">『3月のライオン』※Blu-ray&amp;DVD第1巻告知映像<img src="/assets/image/icon/youtube.svg" alt="(YouTube)" width="16" height="16" class="c-link-icon" /></a>
									0:15
								</li>
							</ol>

							<div class="p-text">
								<p>また、展示エリアを出たところにあるエンドカードゾーンの一角に、6人のキャラクターボードが展示されていました。</p>
							</div>

							<div class="c-grid -medium">
								<div class="c-grid__item">
									<figure class="p-embed">
										<a href="https://media.w0s.jp/image/madoka/yomoyama/monoga-modoka_kanazawa1.jpg" type="image/jpeg">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa1.jpg?type=avif;w=306;quality=50, https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa1.jpg?type=avif;w=612;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa1.jpg?type=webp;w=306;quality=50, https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa1.jpg?type=webp;w=612;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa1.jpg?type=jpeg;w=306;quality=50" alt="写真拡大" width="306" height="306" class="p-embed__image" />
											</picture>
											<!-- 2016-12-22 IMG_5289 --></a
										>
										<figcaption class="p-embed__caption c-embedded-caption">MADOGATARI GALLERY でのキャラクターボード展示</figcaption>
									</figure>
								</div>
								<div class="c-grid__item">
									<figure class="p-embed">
										<a href="https://media.w0s.jp/image/madoka/yomoyama/monoga-modoka_kanazawa2.jpg" type="image/jpeg">
											<picture>
												<source type="image/avif" srcset="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa2.jpg?type=avif;w=306;quality=50, https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa2.jpg?type=avif;w=612;quality=30 2x" />
												<source type="image/webp" srcset="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa2.jpg?type=webp;w=306;quality=50, https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa2.jpg?type=webp;w=612;quality=30 2x" />
												<img src="https://media.w0s.jp/thumbimage/madoka/yomoyama/monoga-modoka_kanazawa2.jpg?type=jpeg;w=306;quality=50" alt="写真拡大" width="306" height="204" class="p-embed__image" />
											</picture>
											<!-- 2016-12-22 IMG_5296 --></a
										>
										<figcaption class="p-embed__caption c-embedded-caption">キャラクターボードが展示されていたエリアの様子</figcaption>
									</figure>
								</div>
							</div>
						</section>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
