/*
フォーム

Styleguide 1.4.
*/

/*
スイッチ（type="checkbox" switch）

Markup:
<w0s-input-switch class="c-input-swich"></w0s-input-switch>

Styleguide 1.4.2
*/
.c-input-switch {
	--inline-size: 3em;
	--block-size: 1.5em;
	--thumb-radius: calc(0.75em - 1px);
}
