/*
フォーム

Styleguide 1.4.
*/

/*
スイッチ（type="checkbox" switch）

Markup:
<w0s-input-switch class="c-input-swich"></w0s-input-switch>

Styleguide 1.4.2
*/
.c-input-switch {
	--inline-size: 3em;
	--block-size: 1.5em;
	--thumb-radius: calc(0.75em - 1px);
}

/*
ラベル

Markup:
<label class="c-label {{modifier_class}}"><span class="c-label-input__label">ラベル</span><input/></label>

.input - 一行入力欄
.check - チェックボックス、ラジオボタン

Styleguide 1.4.7
*/
.c-label {
	display: inline flex;
	flex-wrap: wrap;
	gap: 0.5em;
	align-items: center;

	/* 一行入力欄 */
	&.-input {
	}

	/* チェックボックス、ラジオボタン */
	&.-check {
		--_border-color: transparent;
		--_bg-color: transparent;

		margin-block: calc(var(--form-control-padding-block) / 2);
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--_bg-color);
		padding: calc(var(--form-control-padding-block) / 2) 0.25em;

		[aria-invalid="true"] > & {
			--_border-color: var(--invalid-border-color);
			--_bg-color: var(--color-verylightred);

			&:hover {
				--_border-color: var(--invalid-border-color);
				--_bg-color: var(--color-verylightred);
			}
		}

		&:hover {
			--_border-color: var(--color-superlightblue);
			--_bg-color: var(--color-superlightblue);
		}

		&:focus-within {
			--_border-color: var(--color-superlightblue);
			--_bg-color: var(--color-superlightblue);

			outline: var(--outline-width-bold) solid var(--outline-color);
		}

		& input {
			outline: none;
			block-size: 1em;
			inline-size: 1em;
		}
	}

	/* チェックボックス、ラジオボタン（画像） */
	&.-image {
		--_border-color: currentColor;
		--_outline-color: transparent;

		contain: layout;

		[aria-invalid="true"] & {
			--_border-color: var(--invalid-border-color);
		}

		& .c-label__image {
			outline: var(--outline-width-bold) solid var(--_outline-color);
			outline-offset: -1px;
			border: 1px solid var(--_border-color);
			border-radius: var(--border-radius-normal);

			/* TODO: 近い将来は :has() に置き換えられる */
			:checked + & {
				--_outline-color: var(--outline-color);
			}

			:focus + & {
				--_outline-color: var(--outline-color);
			}
		}

		& input {
			position: absolute;
			inset: 0;
			opacity: 0;
		}
	}
}

.c-label__text {
}

.c-label__image {
	& img {
		display: block flow;
		border-radius: var(--border-radius-normal);
	}
}

/*
フォームコントロールを並べる

Markup:
<div class="c-form-controls {{modifier_class}}">
<label>入力欄 <input /></label>
<label>入力欄 <input /></label>
</div>

.-checkbox - チェックボックス
.-radio - ラジオボタン

Styleguide 1.4.11
*/
.c-form-controls {
	--_gap-row: 1em;
	--_gap-col: 1em;

	display: block flex;
	flex-flow: wrap;
	gap: var(--_gap-row) var(--_gap-col);
	align-items: center;

	/* チェックボックス、ラジオボタン */
	&.-checkbox,
	&.-radio {
		--_gap-row: 0em;
	}
}
