/*
レイアウト

Styleguide 1.5.
*/

/*
Stack

Markup:
<div class="c-stack">
<p>テキスト</p>
<p>テキスト</p>
<p>テキスト</p>
</div>

Styleguide 1.5.1
*/
:is(.l-content__body, .c-stack, .c-embed-sidebar__text, .p-quote, .p-box, .p-toggle__contents) {
	& > * + * {
		margin-block-start: var(--stack-margin-base);
	}
}

:is(.l-content__header, .l-content__footer) {
	& > * + * {
		margin-block-start: calc(var(--stack-margin-base) * 2);
	}
}

:is(.p-form-grid__contents) {
	& > * + * {
		margin-block-start: calc(var(--stack-margin-base) / 3);
	}
}

/*
フィット

Markup:
<div class="c-fit">
<p>フィットフィットフィット</p>
</div>

Styleguide 1.5.2
*/
.c-fit {
	inline-size: fit-content;
}

/*
グリッド

Markup:
<div class="c-grid {{modifier_class}}">
<div class="c-grid__item">
<p>グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</p>
</div>
<div class="c-grid__item">
<p>グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</p>
</div>
<div class="c-grid__item">
<p>グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</p>
</div>
<div class="c-grid__item">
<p>グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</p>
</div>
<div class="c-grid__item">
<p>グリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッドグリッド</p>
</div>
</div>

.-hdg-a - 見出しA
.-hdg-b - 見出しB
.-hdg-c - 見出しC
.-wide - 2カラム
.-medium - 3カラム
.-narrow - 4カラム

Styleguide 1.5.3
*/
.c-grid {
	--_gap-row: 1em;
	--_gap-col: 50px;
	--_min-inline-size: auto;

	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(min(var(--_min-inline-size), 100%), 1fr));
	gap: var(--_gap-row) var(--_gap-col);

	&.-hdg-a {
		--_gap-row: 3em;
	}

	&.-hdg-b {
		--_gap-row: 2.5em;
	}

	&.-hdg-c {
		--_gap-row: 2em;
	}

	/* 2カラム */
	&.-wide {
		--_min-inline-size: 360px;
	}

	/* 3カラム */
	&.-medium {
		--_min-inline-size: 240px;
	}

	/* 4カラム */
	&.-narrow {
		--_min-inline-size: 180px;
	}

	/* トップページ・ナビゲーション */
	&.-top-nav {
		--_gap-row: 4em;
		--_min-inline-size: 360px;
	}
}

.c-grid__item {
}

/*
フレックスボックス

Markup:
<div class="c-flex">
<div class="c-flex__item">
<p>フレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックス</p>
</div>
<div class="c-flex__item">
<p>フレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックス</p>
</div>
<div class="c-flex__item">
<p>フレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックスフレックス</p>
</div>
</div>

.-hdg-a - 見出しA
.-hdg-b - 見出しB
.-hdg-c - 見出しC
.-buttons - ボタン並び

Styleguide 1.5.4
*/
.c-flex {
	--_gap-row: 1em;
	--_gap-col: 50px;

	display: block flex;
	flex-wrap: wrap;
	gap: var(--_gap-row) var(--_gap-col);

	&.-hdg-a {
		--_gap-row: 3em;
	}

	&.-hdg-b {
		--_gap-row: 2.5em;
	}

	&.-hdg-c {
		--_gap-row: 2em;
	}

	&.-buttons {
		--_gap-row: 25px;
		--_gap-col: 25px;
	}
}

.c-flex__item {
}

/*
テキスト & 埋め込みコンテンツ横並び

Markup:
<div class="c-embed-sidebar {{modifier_class}}">
<div class="c-embed-sidebar__text">
<p>テキスト</p>
</div>
<div class="c-embed-sidebar__embed">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=360;quality=30" alt=""/>
</div>
</div>

.-text-first - テキストエリアが先頭
.-embed-first - 埋め込みエリアが先頭

Styleguide 1.5.5
*/
.c-embed-sidebar {
	display: block flex;
	flex-wrap: wrap;
	gap: 15px 30px;

	/* テキストエリアが先頭 */
	&.-text-first {
		& .c-embed-sidebar__embed {
			--_order: 1;
		}
	}

	/* 埋め込みエリアが先頭 */
	&.-embed-first {
		& .c-embed-sidebar__text {
			--_order: 1;
		}
	}
}

.c-embed-sidebar__text {
	flex: 999 0px;
	order: var(--_order, 0);
	min-inline-size: 50%;
}

.c-embed-sidebar__embed {
	order: var(--_order, 0);
}
