/*
テキストレベルセマンティックス

Styleguide 1.2.
*/

/*
注釈リンク

Markup:
<sup class="c-footnote-ref"><a href="#fn1" id="nt1">[1]</a></sup>

Styleguide 1.2.4
*/
.c-footnote-ref {
	vertical-align: super;
	font-size: calc(100% / pow(var(--font-ratio), 2));

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		border: 1px solid var(--_border-color);
		background-color: var(--_bg-color);
		white-space: nowrap;
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button"] {
			/* JS 有効時のみ */
			outline-offset: calc(0px - var(--outline-width));
			cursor: default;
			text-decoration: none;
			color: var(--link-color);

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/*
コードハイライト

<a href="https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css">Style Sample (github.css)</a>

Markup:
<span class="c-code-highlight {{modifier_class}}">&lt;a href=&quot;https://example.com/&quot;&gt;Link&lt;/a&gt;</span>

Styleguide 1.2.8
*/
.c-code-highlight {
	/* stylelint-disable selector-class-pattern */
	&.-doctag,
	&.-keyword,
	&.-template-tag,
	&.-template-variable,
	&.-type,
	&.-variable.language_ {
		/* prettylights-syntax-keyword */
		color: #d73a49;
	}

	&.-title,
	&.-title.class_,
	&.-title.class_.inherited__,
	&.-title.function_ {
		/* prettylights-syntax-entity */
		color: #6f42c1;
	}

	&.-attr,
	&.-attribute,
	&.-literal,
	&.-meta,
	&.-number,
	&.-operator,
	&.-variable,
	&.-selector-attr,
	&.-selector-class,
	&.-selector-id {
		/* prettylights-syntax-constant */
		color: #005cc5;
	}

	&.-regexp,
	&.-string {
		/* prettylights-syntax-string */
		color: #032f62;
	}

	&.-built_in,
	&.-symbol {
		/* prettylights-syntax-variable */
		color: #e36209;
	}

	&.-comment,
	&.-code,
	&.-formula {
		/* prettylights-syntax-comment */
		color: #6a737d;
	}

	&.-name,
	&.-quote,
	&.-selector-tag,
	&.-selector-pseudo {
		/* prettylights-syntax-entity-tag */
		color: #22863a;
	}

	&.-subst {
		/* prettylights-syntax-storage-modifier-import */
		color: #24292e;
	}

	&.-section {
		/* prettylights-syntax-markup-heading */
		color: #005cc5;
		font-weight: var(--font-weight-bold);
	}

	&.-bullet {
		/* prettylights-syntax-markup-list */
		color: #735c0f;
	}

	&.-emphasis {
		/* prettylights-syntax-markup-italic */
		color: #24292e;
		font-style: italic;
	}

	&.-strong {
		/* prettylights-syntax-markup-bold */
		color: #24292e;
		font-weight: var(--font-weight-bold);
	}

	&.-addition {
		/* prettylights-syntax-markup-inserted */
		background-color: #f0fff4;
		color: #22863a;
	}

	&.-deletion {
		/* prettylights-syntax-markup-deleted */
		background-color: #ffeef0;
		color: #b31d28;
	}

	&.-char.escape_,
	&.-link,
	&.-params,
	&.-property,
	&.-punctuation,
	&.-tag {
		/* purposely ignored */
	}
	/* stylelint-enable selector-class-pattern */
}
