/** ==============================
 *   エラーページ
 * ============================== */

.l-page {
	/* ページの左右の余白 */
	--_page-margin-inline: calc((100% - var(--page-max-width)) / 2 - var(--page-padding-inline));

	display: block grid;
	grid-template-areas:
		"margin-left padding-left header  padding-right margin-right"
		"margin-left padding-left content padding-right margin-right";
	grid-template-columns: var(--_page-margin-inline) var(--page-padding-inline) 1fr var(--page-padding-inline) var(--_page-margin-inline);
}

/* ===== ページヘッダー ===== */
.l-header {
	grid-column: header;
	border-block-end: 1px dashed var(--color-border-dark);
	padding-block: 12dvb 8dvb;
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;
	padding-block: 10dvb;
}
