---
interface Props {
	type?: 'chime' | 'manners' | 'menu' | 'door' | 'attention' | 'oneman' | 'change' | 'stand' | 'cm' | 'cmsummary';
}

const { type } = Astro.props;
---

{
	type !== 'cmsummary' && (
		<>
			{/* prettier-ignore */}
			<span class:list={['announce-phrase', type !== undefined ? `-${type}` : undefined]}><slot /></span>
		</>
	)
}
{
	type === 'cmsummary' && (
		<>
			{/* prettier-ignore */}
			<b class:list={['announce-phrase', type !== undefined ? `-${type}` : undefined]}><slot /></b>
		</>
	)
}

<style>
	@layer component {
		.announce-phrase {
			/* 放送開始時のチャイム */
			&.-chime {
			}

			/* マナー */
			&.-manners {
				color: var(--color-green);
			}

			/* メニュー、非扱、その他注意 */
			&:is(.-menu, .-door, .-attention) {
				color: var(--color-red-text);
			}

			/* ワンマン */
			&.-oneman {
				color: var(--color-blue);
			}

			/* 乗換 */
			&.-change {
				color: oklch(from var(--color-purple) calc(l + 0.061) c h); /* 背景色に対してコントラスト比 4.5:1 を満たす限界値 */
			}

			/* 立客、宣伝 */
			&:is(.-stand, .-cm) {
				color: oklch(from var(--color-blue) calc(l + 0.1) calc(c - 0.1) h);
			}

			/* 宣伝放送概略 */
			&.-cmsummary {
				display: inline flow-root;
				border: 1px solid;
				padding: 0.125em 0.5em;
				color: oklch(from var(--color-blue) calc(l + 0.1) calc(c - 0.1) h);
				font-size: calc(100% / pow(var(--font-ratio), 1));
				font-weight: initial;

				&::before {
					margin-inline-end: 0.125em;
					content: '※';
				}
			}
		}
	}
</style>
