---
interface Props {
	type?: 'light';
}

const { type } = Astro.props;
---

<span class:list={['style', type !== undefined ? `-${type}` : undefined]}><slot /></span>

<style>
	@layer component {
		.style {
			/* 軽量車（8000系、8500系） */
			&.-light {
				text-decoration: underline double;
			}
		}
	}
</style>
