---
interface Props {
	type: 'mg' | 'siv';
	use: 'much' | 'few';
	capacity: number;
}

const { use, type, capacity } = Astro.props;

let typeDisplay = '';
switch (type) {
	case 'mg': {
		typeDisplay = 'MG';
		break;
	}
	case 'siv': {
		typeDisplay = 'SIV';
		break;
	}
	default:
}
---

<span class:list={['aps', use !== undefined ? `-${use}` : undefined]}>{capacity}kVA {typeDisplay}</span>

<style>
	@layer component {
		.aps {
			display: inline flex;
			flex-wrap: wrap;
			justify-content: center;

			/* 大容量 */
			&.-much {
				color: var(--color-blue);
			}

			/* 小容量 */
			&.-few {
				color: var(--color-red);
			}
		}
	}
</style>
