<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>『劇場版 魔法少女まどか☆マギカ[後編]永遠の物語』上映版とパッケージ版の比較</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">『[後編]永遠の物語』上映版とパッケージ版の比較</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2020年8月22日</span>更新</p>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="zenpen" rel="prev" class="c-link">前編</a></li>
							<li><a aria-current="page" class="c-link">後編</a></li>
							<li><a href="shinpen" rel="next" class="c-link">新編</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>2012年10月に公開された『劇場版 魔法少女まどか☆マギカ[後編]永遠の物語』の劇場上映版と Blu-ray / DVD 版の映像の違いをまとめました。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#chapter1">Chapter 1</a></li>
						<li><a href="#chapter2">Chapter 2（オープニング）</a></li>
						<li><a href="#chapter4">Chapter 4</a></li>
						<li><a href="#chapter5">Chapter 5</a></li>
						<li><a href="#chapter6">Chapter 6</a></li>
						<li><a href="#chapter8">Chapter 8</a></li>
						<li><a href="#chapter15">Chapter 15</a></li>
						<li><a href="#chapter21">Chapter 21</a></li>
						<li><a href="#chapter22">Chapter 22</a></li>
						<li><a href="#chapter25">Chapter 25</a></li>
						<li><a href="#chapter27">Chapter 27（エンディング）</a></li>
						<li><a href="#chapter28">Chapter 28（新編予告）</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<aside class="p-amazon">
						<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h2>

						<ul class="p-amazon__list">
							<li>
								<a href="https://www.amazon.co.jp/dp/B00C3EDY68/" class="p-amazon__link htmlbuild-amazon-associate">
									<div class="p-amazon__thumb">
										<img src="https://m.media-amazon.com/images/I/51IOl9Ky54L._SL160_.jpg" srcset="https://m.media-amazon.com/images/I/51IOl9Ky54L._SL320_.jpg 2x" alt="" width="136" height="160" class="p-amazon__image" />
									</div>
									<div class="p-amazon__text">
										<p class="p-amazon__title">劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]</p>
										<p class="p-amazon__date">2013年7月24日 発売</p>
									</div>
								</a>
							</li>
						</ul>
					</aside>

					<section class="p-section -hdg-a" id="chapter1">
						<div class="p-section__hdg">
							<h2>Chapter 1</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time0m37s">
								<dt>0′ 37″ 〜 2′ 13″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面手前の曲線を描いた柵は、上映版では黒色のみで表現されていたが、パッケージ版では白も混じって円筒形であることが表現され、立体的に見えるようになった。</p>
										<p>なお、<a href="zenpen#chapter32">前編の同じシーン（2h3′ 41″ 〜 ）</a>では上映版の柵はボケていたが、後編のこのシーンでは柵にもピントが合っている状態である。</p>
									</div>
								</dd>
							</div>
							<div id="time2m07s">
								<dt>2′ 7″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>宙に浮かぶさやかのグリーフシードは、上映版では4人掛けベンチの中央に浮いていたが、少し右にずれた。（<a href="zenpen#chapter32">前編2h05m09s</a>と同じ変化）</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter2">
						<div class="p-section__hdg">
							<h2>Chapter 2<span class="p-section__subhdg">（オープニング）</span></h2>
						</div>

						<dl class="p-video-diff">
							<div id="time4m27s">
								<dt>4′ 27″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかのワンピースの肩紐の形状は、上映版ではしわの入ったようなものに見えたが、フリルの形に修正。（<a href="zenpen#chapter2">前編3m21s</a>と同じ変化）</p>
									</div>
								</dd>
							</div>
							<div id="time4m28s">
								<dt>4′ 28″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむらのワンピースの肩紐とリボンの形状が変更、胸元にフリルが追加。（<a href="zenpen#chapter2">前編3m23s</a>と同じ変化）</p>
									</div>
								</dd>
							</div>
							<div id="time4m35s">
								<dt>4′ 35″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ウェディングまどかの髪の描き分けが細かくなり、ドレスに影が付いた。</p>
									</div>

									<ul class="p-notes">
										<li><a href="https://www.amazon.co.jp/dp/4896106768/" class="htmlbuild-icon htmlbuild-amazon-associate">KEY ANIMATION NOTE extra 始まりの物語 永遠の物語</a> p.37 の宮本幸裕監督のコメントによると、<q>このまどかはアルティメットまどかではなく、ウエディングドレスという設定</q>とのこと。</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter4">
						<div class="p-section__hdg">
							<h2>Chapter 4</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time12m46s">
								<dt>12′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかの部屋の椅子の配置が変更。</p>
									</div>
								</dd>
							</div>
							<div id="time14m13s">
								<dt>14′ 13″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>チョコレート菓子のパッケージの商品名が「Rokcy」から「Rocky」に修正（※13′ 26″ にも同パッケージが描かれているが、そちらは未修正）。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter5">
						<div class="p-section__hdg">
							<h2>Chapter 5</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time14m55s">
								<dt>14′ 55″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>日光のゴーストが変更。パッケージ版では杏子の上半身にかかるようになった。</p>
									</div>
								</dd>
							</div>
							<div id="time15m07s">
								<dt>15′ 7″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版では小川の水面のカットに切り替わった時点で、その水面に駆けるまどかが写り込んでいたが、パッケージ版では1秒ほど経ってから写り込むようになった。</p>
										<p>流れる葉の質感や動きが変更。</p>
									</div>
								</dd>
							</div>
							<div id="time17m13s">
								<dt>17′ 13″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子の犬歯の表現が一つになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter6">
						<div class="p-section__hdg">
							<h2>Chapter 6</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time18m53s">
								<dt>18′ 53″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子が工事現場の仕切りドアを蹴破るSEが変更。上映版は普通にドアが破壊される音だったが、パッケージ版ではTVシリーズと同じように、ドアに掛けられた鍵の鎖が壊れる金属音も入った。</p>
									</div>
								</dd>
							</div>
							<div id="time19m14s">
								<dt>19′ 14″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子のソウルジェムの上に、円形の五線譜模様が浮かび上がるようになった（杏子のセリフ「魔力のパターンが昨日と一緒だ」に対応して追加されたものと思われる）。</p>
									</div>
								</dd>
							</div>
							<div id="time23m45s">
								<dt>23′ 45″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面中央に流れる回想映像はフィルムコマのようになっているが、パッケージ版は下から上に向かって動くようになった。</p>
									</div>
								</dd>
							</div>
							<div id="time25m42s">
								<dt>25′ 42″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむら、まどか作画修正。ほむらが俯くタイミングが遅くなった。</p>
									</div>
								</dd>
							</div>
							<div id="time26m46s">
								<dt>26′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子とオクタヴィアの奥に並ぶ巨大な槍が少し小さくなった。</p>
									</div>

									<div class="c-grid -medium">
										<div class="c-grid__item">
											<figure>
												<div class="p-embed -border">
													<a href="https://media.w0s.jp/image/madoka/video/kouhen_chapter6_00-26-50_tvcm3.jpg" type="image/jpeg">
														<img src="https://media.w0s.jp/thumbimage/madoka/video/kouhen_chapter6_00-26-50_tvcm3.jpg?type=jpeg;w=294;quality=60" alt="画像拡大" width="294" height="166" class="htmlbuild-image" />
													</a>
												</div>
												<figcaption class="c-caption">TV CM 3（前編BD/DVD収録）</figcaption>
											</figure>
										</div>
										<div class="c-grid__item">
											<figure>
												<div class="p-embed -border">
													<a href="https://media.w0s.jp/image/madoka/video/kouhen_chapter6_00-26-50_bd.jpg" type="image/jpeg">
														<img src="https://media.w0s.jp/thumbimage/madoka/video/kouhen_chapter6_00-26-50_bd.jpg?type=jpeg;w=294;quality=60" alt="画像拡大" width="294" height="166" class="htmlbuild-image" />
													</a>
												</div>
												<figcaption class="c-caption">パッケージ版</figcaption>
											</figure>
										</div>
									</div>

									<ul class="p-notes">
										<li>TV CM ではオクタヴィアに光が当たっているが、上映版では逆光になっている。上映版とパッケージ版の違いは奥に並ぶ槍の大きさのみ。</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter8">
						<div class="p-section__hdg">
							<h2>Chapter 8</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time30m36s">
								<dt>30′ 36″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版ではカットが切り替わった直後、まどか、さやか、仁美の3人が1秒ほど静止していたが、パッケージ版ではすぐ動き出すようになった。</p>
									</div>
								</dd>
							</div>
							<div id="time33m22s">
								<dt>33′ 22″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>廊下の奥の窓枠の高さが変更。</p>
									</div>
								</dd>
							</div>
							<div id="time36m16s">
								<dt>36′ 16″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむら作画修正。上映版では穏やかな笑顔をしていたが、パッケージ版では不安そうな表情になった。</p>
										<p>紅茶カップや急須の作画修正。</p>
									</div>
								</dd>
							</div>
							<div id="time36m18s">
								<dt>36′ 18″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミ作画修正。上映版ではまどかの方を向いたときに口角が上がっていたが、パッケージ版ではニヤけ具合が低減した。</p>
										<p>まどかとさやかの紅茶カップの把手の向きが逆転（右手で持つ向きへ変更）。その他、急須や皿などの作画修正。</p>
										<p>なお、1h30m09sの回想カットはパッケージ版も未修正である。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter15">
						<div class="p-section__hdg">
							<h2>Chapter 15</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h02m46s">
								<dt>1h 2′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>部屋の左側にあるパーティションが変更された。上映版は青い板状だったが、パッケージ版では茶色でアイアン風の模様なものになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter21">
						<div class="p-section__hdg">
							<h2>Chapter 21</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h29m28s">
								<dt>1h 29′ 28″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>宇宙空間(?)のほむらが全身に纏うワンピースのようなものが、より広がる感じに。とくに左肩部や膝下スカート部の変化が目立つ。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m37s">
								<dt>1h 29′ 37″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむらのワンピースのようなものが、より広がる感じに。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m46s">
								<dt>1h 29′ 46″ 〜 1h 32′ 39″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかとほむらのワンピースのようなものが、より広がる感じに。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m51s">
								<dt>1h 29′ 51″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむら作画修正。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter22">
						<div class="p-section__hdg">
							<h2>Chapter 22</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h32m46s">
								<dt>1h 32′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかが消えた後、上映版では宇宙の星空→銀河(?)を遠くから見た構図→太陽系の惑星→地球→……という順番で画面が切り替わったが、2枚目の銀河のカットが削除され、その分他のカットの表示時間が調整された。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter25">
						<div class="p-section__hdg">
							<h2>Chapter 25</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h41m52s">
								<dt>1h 41′ 52″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>前のカット（「だから私は戦い続ける……」）から画面が切り替わる時に2秒ほどの暗転が入るようになった。</p>
										<p>上映版では、画面切り替わり後すぐに魔女文字が表示されていたが、パッケージ版では2秒ほど中央のソウルジェムのみが表示される状態になった。</p>
										<p>魔法少女のシルエットや魔女文字が全体的に少し小さくなり、文字の行間も狭まった。</p>
										<p>魔女文字による登場人物のセリフが下記のように一部変更された。</p>
									</div>

									<ul class="p-list">
										<li>「<span class="u-madoka-font-witch">WATASHI HOKENIIN NANDA</span>（わたし 保健委員 なんだ）」 → 「<span class="u-madoka-font-witch">WATASHI HOKEN GAKARI NANDA</span>（わたし 保健 がかり なんだ）」</li>
										<li>「<span class="u-madoka-font-witch">KOUKAI NANTE ARUWAKE NAI</span>（後悔 なんて あるわけ ない）」 → 「<span class="u-madoka-font-witch">ATASHITTE HONTO BAKA</span>（あたしって ほんと バカ）」</li>
										<li>「<span class="u-madoka-font-witch">HITORIBOTTIHA SABISHII MONNA</span>（独りぼっちは さびしい もんな）」 → 文字色が赤から黄へ変更</li>
									</ul>

									<ul class="p-notes">
										<li><a href="https://www.amazon.co.jp/dp/4896106768/" class="htmlbuild-icon htmlbuild-amazon-associate">KEY ANIMATION NOTE VOLUME extra 始まりの物語／永遠の物語</a>に1枚画のロングポスターが封入されているが、これは「私 保健係なんだ」のみ修正されたものとなっている。なお、行間などの配置は上映版ともパッケージ版とも違う独自のものである。</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter27">
						<div class="p-section__hdg">
							<h2>Chapter 27<span class="p-section__subhdg">（エンディング）</span></h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h45m50s">
								<dt>1h 45′ 50″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>「背景」のクレジットに1人追加。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter28">
						<div class="p-section__hdg">
							<h2>Chapter 28<span class="p-section__subhdg">（新編予告）</span></h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h50m01s">
								<dt>1h 50′ 1″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミとほむらが戦うシーンが長くなった。上映版は遊園地の部分がなく、1h50m03sの壁の部分から始まっていた。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>
				</main>

				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="zenpen" rel="prev" class="c-link">前編</a></li>
							<li><a aria-current="page" class="c-link">後編</a></li>
							<li><a href="shinpen" rel="next" class="c-link">新編</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
