<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>『劇場版 魔法少女まどか☆マギカ[前編]始まりの物語』上映版とパッケージ版の比較</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<%- include('./_include/_head_ogp_madoka') %>

		<link rel="stylesheet" href="/assets/style/madoka.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_madoka') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/madoka/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">『[前編]始まりの物語』上映版とパッケージ版の比較</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2017年3月11日</span>更新</p>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li><a aria-current="page" class="c-link">前編</a></li>
							<li><a href="kouhen" rel="next" class="c-link">後編</a></li>
							<li><a href="shinpen" class="c-link">新編</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>2012年10月に公開された『劇場版 魔法少女まどか☆マギカ[前編]始まりの物語』の劇場上映版と Blu-ray / DVD 版の映像の違いをまとめました。</p>
					</div>

					<htmlbuild-toc></htmlbuild-toc>
				</div>
				<main class="l-content__main">
					<aside class="p-amazon">
						<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazon で買う" width="127" height="26" /></h2>

						<ul class="p-amazon__list">
							<li>
								<a href="https://www.amazon.co.jp/dp/B00C3EDY68/" class="p-amazon__link htmlbuild-amazon-associate">
									<div class="p-amazon__thumb">
										<img src="https://m.media-amazon.com/images/I/51IOl9Ky54L._SL160_.jpg" alt="" width="135" height="160" class="p-amazon__image htmlbuild-image-amazon" />
									</div>
									<div class="p-amazon__text">
										<p class="p-amazon__title">劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語/[後編] 永遠の物語【通常版】 [Blu-ray]</p>
										<p class="p-amazon__date">2013年7月24日 発売</p>
									</div>
								</a>
							</li>
						</ul>
					</aside>

					<section class="p-section -hdg-a" id="chapter2">
						<div class="p-section__hdg">
							<h2>Chapter 2<span class="p-section__subhdg">（オープニング）</span></h2>
						</div>

						<dl class="p-video-diff">
							<div id="time3m21s">
								<dt>3′ 21″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかのワンピースの肩紐の形状は、上映版ではしわの入ったようなものに見えたが、フリルの形に修正。</p>
									</div>
								</dd>
							</div>
							<div id="time3m23s">
								<dt>3′ 23″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむらのワンピースの肩紐とリボンの形状が変更、胸元にフリルが追加。</p>
									</div>
								</dd>
							</div>
							<div id="time3m30s">
								<dt>3′ 30″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ウェディングまどかの髪の描き分けが細かくなり、ドレスに影が付いた。</p>
									</div>

									<ul class="p-notes">
										<li><a href="https://www.amazon.co.jp/dp/4896106768/" class="htmlbuild-host htmlbuild-amazon-associate">KEY ANIMATION NOTE extra 始まりの物語 永遠の物語</a> p.37 の宮本幸裕監督のコメントによると、<q>このまどかはアルティメットまどかではなく、ウエディングドレスという設定</q>とのこと。</li>
									</ul>
								</dd>
							</div>
							<div id="time3m53s">
								<dt>3′ 53″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。髪やまつげが変わった。</p>
									</div>

									<ul class="p-notes">
										<li>後編OPの同じカットは上映版、パッケージ版とも違いはないものと思われる。</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter3">
						<div class="p-section__hdg">
							<h2>Chapter 3</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time5m55s">
								<dt>5′ 55″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>仁美作画修正。とくに咳払いで深呼吸するときの動作が、上映版だと息を吐いて顔が下がった後に少しだけ上に戻っていたが、パッケージ版では戻らずそのまま咳払いに繋がるようになった。</p>
										<p>仁美の背景の路面が変更され、勾配変化による段差のような表現がなされるようになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter4">
						<div class="p-section__hdg">
							<h2>Chapter 4</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time10m35s">
								<dt>10′ 35″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどほむ校内連絡通路のシーンの後、静止画カット（4枚）の1枚目が縦型の3灯信号機を見上げたイラストに差し替え。</p>
										<p>上映版は郊外のショッピングセンターの外観で、TVシリーズ1話の14m39sと同じもの（埼玉県羽生市の「イオンモール羽生」と思われる）。ただし、TV版より全体的にブラッシュアップされている。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter5">
						<div class="p-section__hdg">
							<h2>Chapter 5</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time10m43s">
								<dt>10′ 43″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>後方の男性の歩く位置が変わった。上映版は2人組カップルや女性が座っている席の前の通路を歩いている。パッケージ版は後ろ。</p>
									</div>
								</dd>
							</div>
							<div id="time11m13s">
								<dt>11′ 13″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>同じく後方の女性の歩く位置が変わった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter6">
						<div class="p-section__hdg">
							<h2>Chapter 6</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time12m31s">
								<dt>12′ 31″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>「セルゲイ・ラフマニノフ ヴァイオリンとピアノのため小作品」→「セルゲイ・ラフマニノフ ヴァイオリンとピアノのためのロマンス」に修正（背表紙は上映版も「ロマンス」）。</p>
									</div>
								</dd>
							</div>
							<div id="time17m03s">
								<dt>17′ 3″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミの魔法少女服の襟の内側が黄色く塗られていたミスを修正。</p>
									</div>
								</dd>
							</div>
							<div id="time17m12s">
								<dt>17′ 12″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミ作画修正。</p>
										<p>魔法少女服の襟の内側が黄色く塗られていたミスを修正。</p>
									</div>

									<div class="c-grid -medium">
										<div class="c-grid__item">
											<figure>
												<div class="p-embed -border">
													<a href="https://media.w0s.jp/image/madoka/video/zenpen_chapter6_00-17-13_trailer.jpg" type="image/jpeg">
														<img src="https://media.w0s.jp/thumbimage/madoka/video/zenpen_chapter6_00-17-13_trailer.jpg?type=jpeg;w=294;quality=60" alt="画像拡大" width="294" height="166" class="htmlbuild-image" />
													</a>
												</div>
												<figcaption class="c-caption">予告編1（後編BD/DVD収録）</figcaption>
											</figure>
										</div>
										<div class="c-grid__item">
											<figure>
												<div class="p-embed -border">
													<a href="https://media.w0s.jp/image/madoka/video/zenpen_chapter6_00-17-13_bd.jpg" type="image/jpeg">
														<img src="https://media.w0s.jp/thumbimage/madoka/video/zenpen_chapter6_00-17-13_bd.jpg?type=jpeg;w=294;quality=60" alt="画像拡大" width="294" height="166" class="htmlbuild-image" />
													</a>
												</div>
												<figcaption class="c-caption">パッケージ版</figcaption>
											</figure>
										</div>
									</div>

									<ul class="p-notes">
										<li>予告編では画面周囲に額縁のようなものが描かれているが、上映版ではなくなっている。また、花びら模様もこのタイミングでは消えている。上映版とパッケージ版の違いはマミの作画のみ。</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter7">
						<div class="p-section__hdg">
							<h2>Chapter 7</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time19m12s">
								<dt>19′ 12″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>1話パート終了後（「ぼくと契約して魔法少女になってよ」の後）、静止画カット（6枚）の5枚目が、上映版は夕日に映る街並みを描いたものだったが、時計台へ変更。</p>
									</div>
								</dd>
							</div>
							<div id="time19m19s">
								<dt>19′ 19″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画差し替え。上映版、パッケージ版ともに夕日に映る街並みのカットだが、パッケージ版ではビルがより大きく描かれている。</p>
									</div>
								</dd>
							</div>
							<div id="time19m40s">
								<dt>19′ 40″ 〜 21′ 31″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかとさやかの紅茶カップの把手の向きが逆転（右手で持つ向きへ変更）。その他、急須や皿などの作画修正。</p>
									</div>
								</dd>
							</div>
							<div id="time21m35s">
								<dt>21′ 35″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面の視点が上に上がった（3人の位置が下がった）。</p>
										<p>上映版は柵のようなものが画面手前の全体に掛かっていたが、パッケージ版では柄模様の入ったものが右上にのみ掛かる。</p>
										<p>部屋の小物が足されたり、窓から見えるビルが変更されたりといった変更もあり。</p>
									</div>
								</dd>
							</div>
							<div id="time21m46s">
								<dt>21′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面の視点が上に上がった（3人の位置が下がった）。その他、21m35sと同じ変化。</p>
									</div>
								</dd>
							</div>
							<div id="time22m05s">
								<dt>22′ 5″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面の視点が上に上がった（3人の位置が下がった）。その他、21m35sと同じ変化。</p>
									</div>
								</dd>
							</div>
							<div id="time22m11s">
								<dt>22′ 11″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版はテーブルの下からマミを透明なガラス板越しに見上げる構図だったが、テーブルの奥からの視点に変更され、キュゥべえも描かれる。</p>
									</div>
								</dd>
							</div>
							<div id="time22m26s">
								<dt>22′ 26″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミの部屋のシーンが終わった後の静止画差し替え。19m19sと同じ変化。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter8">
						<div class="p-section__hdg">
							<h2>Chapter 8</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time22m31s">
								<dt>22′ 31″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>病室の窓から見えるビルが変更。</p>
										<p>一部の椅子が少し小さくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time22m43s">
								<dt>22′ 43″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>病室の窓から見えるビルが変更。</p>
										<p>一部の椅子が少し小さくなった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter10">
						<div class="p-section__hdg">
							<h2>Chapter 10</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time27m30s">
								<dt>27′ 30″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>病院の前に放置されている廃車体が1台→4台に増加。</p>
									</div>
								</dd>
							</div>
							<div id="time27m42s">
								<dt>27′ 42″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画カット（5枚）の4枚目が差し替え。上映版はターミナル駅の上空からのカット、パッケージ版はレトロな街灯のイラスト。</p>
									</div>
								</dd>
							</div>
							<div id="time27m44s">
								<dt>27′ 44″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画カット（5枚）の5枚目が差し替え。上映版は街を横向きに眺めた構図、パッケージ版はターミナル駅の上空からのカット（上映版4枚目と同じ）。</p>
									</div>
								</dd>
							</div>
							<div id="time27m47s">
								<dt>27′ 47″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>3人が歩く一連のカットが全体的に変更。奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少。</p>
									</div>
								</dd>
							</div>
							<div id="time28m12s">
								<dt>28′ 12″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>OLの上る階段が細かく。</p>
									</div>
								</dd>
							</div>
							<div id="time28m15s">
								<dt>28′ 15″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少（27m47sと同じ変化）。</p>
									</div>
								</dd>
							</div>
							<div id="time28m21s">
								<dt>28′ 21″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>奥の街灯の数が減少、手前の街灯が追加、奥の斜張橋の形状と遠近感が変更、背景のビルが減少（27m47sと同じ変化）。</p>
									</div>
								</dd>
							</div>
							<div id="time28m29s">
								<dt>28′ 29″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>病院の前に放置されている廃車体が1台→4台に増加。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter11">
						<div class="p-section__hdg">
							<h2>Chapter 11</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time33m44s">
								<dt>33′ 44″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面右端に写っていた廃車体が消えた。</p>
									</div>
								</dd>
							</div>
							<div id="time33m46s">
								<dt>33′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>全体的に若干引いた構図になった（マミとOLが少し小さくなった）。</p>
										<p>建物の壁模様が変更。上映版は直前の引きのシーンと異なり、小さなダイヤ型パターンの模様となっていた。</p>
									</div>
								</dd>
							</div>
							<div id="time34m23s">
								<dt>34′ 23″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画カット（3枚）の1枚目が差し替え。上映版は街の遠景、パッケージ版はアーチ橋。</p>
									</div>
								</dd>
							</div>
							<div id="time34m26s">
								<dt>34′ 26″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画カット（3枚）の2枚目が差し替え。上映版はアーチ橋（パッケージ版1枚目と同じ）、パッケージ版は公園(?)にあるレトロな街灯。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter15">
						<div class="p-section__hdg">
							<h2>Chapter 15</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time44m42s">
								<dt>44′ 42″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>マミ変身シーンのラストの方で顔がアップになるところ、瞳の中にハートマークが描かれたカットが追加。</p>
									</div>

									<ul class="p-notes">
										<li>
											Blu-ray限定版に付属のブックレット p.37 に
											<q>原画担当の松本元気さんたっての希望により、パッケージ版では動きのラスト付近に少し絵が足されています。</q>
											との山村洋貴さんのコメントが掲載されているが、おそらくこの変更を指しているものと思われる。
										</li>
									</ul>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter16">
						<div class="p-section__hdg">
							<h2>Chapter 16</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time48m05s">
								<dt>48′ 5″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>魔女空間が消えるときの様子が変更。上映版はビルの壁面だった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter17">
						<div class="p-section__hdg">
							<h2>Chapter 17</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time50m16s">
								<dt>50′ 16″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版だと首を傾けているキュゥべえの顔のアップだが、パッケージ版では両目が画面いっぱいのアップになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter18">
						<div class="p-section__hdg">
							<h2>Chapter 18</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time52m20s">
								<dt>52′ 20″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ドアが明るくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time52m23s">
								<dt>52′ 23″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>テーブルの上の急須や紅茶缶が小さくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time52m30s">
								<dt>52′ 30″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>テーブルの上の急須が大きくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time52m37s">
								<dt>52′ 37″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>テーブルの上の急須が大きくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time53m29s">
								<dt>53′ 29″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>背景の工場群の照明が変化。上映版は6枚羽根のレンズで絞って撮ったように光源の周囲に6本の光芒が見られたが、パッケージ版では光芒表現がなくなった。ただし、54′ 54″のカットは上映版と同じまま。</p>
									</div>
								</dd>
							</div>
							<div id="time55m09s">
								<dt>55′ 9″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかとほむらが歩く橋の左側に見える川(?)の水面の波紋が動くようになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter21">
						<div class="p-section__hdg">
							<h2>Chapter 21</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h10m03s">
								<dt>1h 10′ 3″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>静止画カットの全体的にビルが追加。上映版では川に掛かる3本の橋がよく見えたが、パッケージ版ではいちばん奥の橋はビルに隠れてほとんど見えなくなった。太陽の位置も変更。</p>
									</div>
								</dd>
							</div>
							<div id="time1h10m08s">
								<dt>1h 10′ 8″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>背景の雲の形が変わった?</p>
									</div>
								</dd>
							</div>
							<div id="time1h10m23s">
								<dt>1h 10′ 23″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>背景の雲の形が変わった?</p>
									</div>
								</dd>
							</div>
							<div id="time1h10m44s">
								<dt>1h 10′ 44″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
									</div>
								</dd>
							</div>
							<div id="time1h10m48s">
								<dt>1h 10′ 48″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
									</div>
								</dd>
							</div>
							<div id="time1h11m01s">
								<dt>1h 11′ 1″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>背景の雲が見えづらくなった?</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter22">
						<div class="p-section__hdg">
							<h2>Chapter 22</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h12m14s">
								<dt>1h 12′ 14″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>床の模様が変更、渦巻き模様の影が追加。</p>
									</div>
								</dd>
							</div>
							<div id="time1h15m07s">
								<dt>1h 15′ 7″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版では槍の穂先を地面に突き刺していたが、直後のシーンで穂先が上に向いているので、矛盾が生じていた。パッケージ版で石突側に修正。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter23">
						<div class="p-section__hdg">
							<h2>Chapter 23</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h23m56s">
								<dt>1h 23′ 56″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>机のサラダや酒瓶の位置が右へずれた。</p>
									</div>
								</dd>
							</div>
							<div id="time1h24m06s">
								<dt>1h 24′ 6″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>詢子が暗くなった?</p>
									</div>
								</dd>
							</div>
							<div id="time1h24m28s">
								<dt>1h 24′ 28″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>酒瓶とアイス・ペール（氷入れ）の位置が低くなった。放送版では、酒瓶の蓋は詢子の肩くらいの位置にあった。また、パッケージ版ではトングが追加された。</p>
									</div>
								</dd>
							</div>
							<div id="time1h24m40s">
								<dt>1h 24′ 40″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>酒瓶とアイス・ペール（氷入れ）の位置が若干低くなった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h24m32s">
								<dt>1h 24′ 32″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p><strong>【要確認】</strong>詢子が暗くなった?</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter24">
						<div class="p-section__hdg">
							<h2>Chapter 24</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h26m17s">
								<dt>1h 26′ 17″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子の口の開き方が修正。犬歯の表現が一つになり、タイミングによって歯が見えるようになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter25">
						<div class="p-section__hdg">
							<h2>Chapter 25</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h27m33s">
								<dt>1h 27′ 33″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子変身シーン修正。とくに私服から魔法少女服に替わる瞬間の、回転する動きなどが大きく変わっている。また、胸のソウルジェムが光る部分も身体が斜めに傾く変化が分かりやすい。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m32s">
								<dt>1h 29′ 32″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。足の先が外側を向くようになるなど。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m39s">
								<dt>1h 29′ 39″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>困惑する杏子の動きが少なくなった。とくに「100メートル?」の部分で首を振る動きや、「何のことだ?」の部分で右腕を振る動きがなくなった変化が目立つ。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m43s">
								<dt>1h 29′ 43″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。足の先が外側を向くようになったり、キュゥべえの方を向いたときの振り向き角度が急になり、横顔だったのが両目とも見えるようになったりするなど。</p>
									</div>
								</dd>
							</div>
							<div id="time1h29m54s">
								<dt>1h 29′ 54″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版はキュゥべえを下から見上げたカットで、ため息をついたり首を横に振る動きがあったが、パッケージ版では両目のアップの静止画になった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h30m01s">
								<dt>1h 30′ 1″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。上映版では少し口角が上がった表情だったが、瞳にハイライトが入り、口が開いて呆然としたような表情になった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h30m36s">
								<dt>1h 30′ 36″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかの震え方が変わり、肩や瞳の揺れが少なくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h30m44s">
								<dt>1h 30′ 44″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。上映版では少し口角が上がった表情だったが、瞳にハイライトが入り、口が開いて呆然としたような表情になった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h31m06s">
								<dt>1h 31′ 6″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか作画修正。瞳にハイライトが入るなど。</p>
									</div>
								</dd>
							</div>
							<div id="time1h31m25s">
								<dt>1h 31′ 25″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>上映版ではまどかはさやかを前後に揺らす動きをしていたが、パッケージ版では前後方向の揺れがなくなり、号泣による身体の震えのみとなった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter26">
						<div class="p-section__hdg">
							<h2>Chapter 26</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h32m42s">
								<dt>1h 32′ 42″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>
										<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h33m43s">
								<dt>1h 33′ 43″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>
										<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h34m06s">
								<dt>1h 34′ 6″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>柵の後方から光が差し込んでいるようなエフェクトが追加。</p>
										<p>柵の影が変更。上映版は、まどかの影が画面真下に向かっているのに対して、柵の影は右斜め前方に伸びていて不自然だった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter27">
						<div class="p-section__hdg">
							<h2>Chapter 27</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h36m18s">
								<dt>1h 36′ 18″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>椅子の形が変更。上映版では、脚の部分が背ずりのような形をした、不思議な形状をしていた。</p>
									</div>
								</dd>
							</div>
							<div id="time1h36m46s">
								<dt>1h 36′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>教会の前に立つさやかと杏子が小さくなった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h37m24s">
								<dt>1h 37′ 24″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>さやかの左手中指の爪に青い模様が追加。</p>
									</div>
								</dd>
							</div>
							<div id="time1h41m21s">
								<dt>1h 41′ 21″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子の犬歯の表現が一つになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h41m33s">
								<dt>1h 41′ 33″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子の犬歯の表現が一つになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h42m49s">
								<dt>1h 42′ 49″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>さやかの手の作画が変更。爪の表現が追加。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter28">
						<div class="p-section__hdg">
							<h2>Chapter 28</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h43m17s">
								<dt>1h 43′ 17″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>さやかが歩く通学路の地面や岩、木々の形が変更、背景にビル追加。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m19s">
								<dt>1h 43′ 19″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>さやかが歩く通学路の地面が変更。上映版は長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m28s">
								<dt>1h 43′ 28″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>さやかの背景の地面や小川が変更。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m28s-2">
								<dt>1h 43′ 28″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどかと仁美の背景の地面や小川が変更。上映版は地面が長方形のタイルが組み合わさった模様だったが、パッケージ版では雑多な石の組み合わせになった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m30s">
								<dt>1h 43′ 30″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか、さやか、仁美が作画修正。とくにまどかは上映版では終始糸目の笑顔だったのが、パッケージ版では不安そうな表情になった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m35s">
								<dt>1h 43′ 35″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか、さやか、仁美が作画修正。背景の木々の様子も変わっている（というより位置がずれた?）。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m48s">
								<dt>1h 43′ 48″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか、さやか、仁美が作画修正。</p>
									</div>
								</dd>
							</div>
							<div id="time1h43m55s">
								<dt>1h 43′ 55″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>まどか、さやか、仁美が作画修正。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter29">
						<div class="p-section__hdg">
							<h2>Chapter 29</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h48m26s">
								<dt>1h 48′ 26″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子、ほむらが作画修正。</p>
									</div>
								</dd>
							</div>
							<div id="time1h48m46s">
								<dt>1h 48′ 46″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子、ほむらが作画修正。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter30">
						<div class="p-section__hdg">
							<h2>Chapter 30</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h54m24s">
								<dt>1h 54′ 24″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>杏子がそばを啜った時のつゆの跳ねが多くなった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h54m25s">
								<dt>1h 54′ 25″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>つゆの跳ねが多くなった。</p>
									</div>
								</dd>
							</div>
							<div id="time1h54m30s">
								<dt>1h 54′ 30″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>ほむらの部屋のパネルが変更。上映版は右上を見上げた構図、パッケージ版は左上を見上げた構図。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter31">
						<div class="p-section__hdg">
							<h2>Chapter 31</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time1h58m47s">
								<dt>1h 58′ 47″ 〜 2h 3′ 19″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>噴水の紫や橙に輝く照明の動きがゆっくりになった。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter32">
						<div class="p-section__hdg">
							<h2>Chapter 32</h2>
						</div>

						<dl class="p-video-diff">
							<div id="time2h03m41s">
								<dt>2h 3′ 41″ 〜 2h 5′ 14″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>画面手前の曲線を描いた柵は、上映版では黒色のみで表現されていたが、パッケージ版では白も混じって円筒形であることが表現され、立体的に見えるようになった。</p>
										<p>なお、上映版では画面のピントは奥のさやか、杏子やベンチに合っており、柵はボケていたが、<a href="kouhen#chapter1">後編冒頭の同じシーン（0′ 37″ 〜 ）</a>ではパンフォーカスのように柵にもピントが合っている状態である。</p>
									</div>
								</dd>
							</div>
							<div id="time2h05m09s">
								<dt>2h 5′ 9″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>宙に浮かぶさやかのグリーフシードは、上映版では4人掛けベンチの中央に浮いていたが、少し右にずれた。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>

					<section class="p-section -hdg-a" id="chapter33">
						<div class="p-section__hdg">
							<h2>Chapter 33<span class="p-section__subhdg">（エンディング）</span></h2>
						</div>

						<dl class="p-video-diff">
							<div id="time2h07m24s">
								<dt>2h 7′ 24″</dt>
								<dd class="c-stack">
									<div class="p-text">
										<p>「背景」のクレジットに1人追加。</p>
									</div>
								</dd>
							</div>
						</dl>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
