---
import GithubSlugger from 'github-slugger';
import Layout from '@layouts/Kumeta.astro';
import Anchor from '@components/+phrasing/Anchor.astro';
import Embedded from '@components/Embedded.astro';
import Image from '@components/+phrasing/Image.astro';
import NoteRef from '@components/+phrasing/NoteRef.astro';
import NoteRefContent from '@components/NoteRefContent.astro';
import Section from '@components/Section.astro';
import Table from '@components/Table.astro';
import type { StructuredData } from '../../../../@types/util.d.ts';

const structuredData: StructuredData = {
	title: '久米田康治先生のメディア出演',
	heading: 'メディア出演',
	dateModified: '2022-08-03',
	description: '久米田先生がラジオ、テレビに出演された事例、および Blu-ray やウェブ配信で声、姿が収録された事例のリストです。',
	image: 'https://media.w0s.jp/image/kumeta/kumeta/media/r-select-anime_12.jpg',
	breadcrumb: [{ path: '/kumeta/', name: '久米田康治データベース' }],
};

const slugger = new GithubSlugger();
---

<Layout astroFilePath={Astro.self.moduleId} structuredData={structuredData}>
	<Section slugger={slugger}>
		<Fragment slot="heading">ラジオ</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">番組名</th>
					<th scope="col">放送局</th>
					<th scope="col" aria-sort="ascending">放送日</th>
					<th scope="col">パーソナリティー</th>
					<th scope="col">内容</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><cite>島本和彦のマンガチックにいこう!</cite>　第87回</td>
					<td>STVラジオ</td>
					<td>2003年5月31日</td>
					<td>島本和彦、室田智美<small>（アシスタント）</small></td>
					<td>『<cite>かってに改蔵</cite>』特集で電話出演</td>
					<td>第90回でもリスナー感想の紹介があった</td>
				</tr>
				<tr>
					<td><cite lang="zh-Hant">青春點點點</cite></td>
					<td><span lang="zh-Hant">飛碟聯播網</span></td>
					<td>2008年8月16日<small>（15日深夜）</small></td>
					<td></td>
					<td>『<cite>さよなら絶望先生</cite>』の話題や訪台の感想など</td>
					<td>台湾のラジオ番組、担当編集の三浦敏宏も同席</td>
				</tr>
				<tr>
					<td><cite lang="zh-Hant">星夜麒航</cite></td>
					<td><span lang="zh-Hant">警察廣播電臺</span></td>
					<td>2008年9月18日</td>
					<td></td>
					<td>『<cite>さよなら絶望先生</cite>』や生前葬の話題</td>
					<td>台湾のラジオ番組</td>
				</tr>
				<tr>
					<td><cite>さよなら絶望放送</cite>　第200回</td>
					<td>アニメイトTV</td>
					<td>2011年8月10日</td>
					<td>神谷浩史、新谷良子</td>
					<td>第200回記念で録音メッセージを送る</td>
					<td>MAEDAX もメッセージ出演</td>
				</tr>
				<tr>
					<td><cite>さよなら絶望放送</cite>　第203回<small>（最終回）</small></td>
					<td>アニメイトTV</td>
					<td>2011年8月31日</td>
					<td>神谷浩史、新谷良子</td>
					<td>第200回での録音の続き</td>
					<td></td>
				</tr>
			</tbody>
		</Table>

		<p>久米田先生のメディア出演は、『<cite>かってに改蔵</cite>』時代に島本和彦先生がパーソナリティーを務めるラジオに電話出演したのが初の事例です。久米田先生が自身の作中で島本先生をネタにしたことは多くはありませんが、島本先生の方はラジオ本編で『<cite>行け!!南国アイスホッケー部</cite>』の初期のストーリーを詳細に紹介するだけではなく、当時連載していた『<cite>吠えろペン</cite>』のクイズ大会のシーンで主人公が<q cite="urn:ISBN:4-09-157024-0">『かってに改蔵』ッ!!</q>と叫んだり<small>（第15話、<Anchor href="https://www.amazon.co.jp/dp/B00BEPFQHW/">単行本4巻</Anchor>に収録）</small>、『<cite>改蔵</cite>』220話のパロディイラストを掲載したり<small>（第32話、<Anchor href="https://www.amazon.co.jp/dp/B00BEPFQLS/">単行本8巻</Anchor>に収録）</small>するなど、久米田作品をかなり読み込んでいたことが窺えます。電話出演の内容は、当時のサンデー本誌（2003年24号）に掲載された特別企画「<cite>かってに人生相談室</cite>」予告にあった久米田先生の悩みを取り上げ、それに対してアシスタントの室田智美さんがアドバイスをするというもので、その結末は<Anchor href="https://www.amazon.co.jp/dp/B009JZH05A/">『<cite>改蔵</cite>』単行本23巻</Anchor>の「<cite>今巻の反省文</cite>」で語られています。</p>

		<p>2007年には『<cite>さよなら絶望先生</cite>』の TV アニメ化の一環で『<cite>さよなら絶望放送</cite>』の Web 配信が始まりましたが、期待されていた久米田先生の出演はない一方で、2008年に台湾で行われたサイン会の夜には現地のラジオ番組「<cite lang="zh-Hant">青春點點點</cite>」に出演し、『<cite>絶望先生</cite>』執筆の話やリスナーとの電話交流などが行われました。また、なぜか当日誕生日のリスナーを祝う流れになって <cite lang="en">Happy Birthday to You</cite> を歌ったり、パーソナリティーから “イケメン” コールを受けたりするなどの変わった歓迎も受けており、このあたりは<Anchor href="https://www.amazon.co.jp/dp/B00A765CCI/">『<cite>絶望先生</cite>』単行本一五集</Anchor>の「<cite>紙ブログ</cite>」で語られています。また、同年9月には同じく台湾のラジオ番組「<cite lang="zh-Hant">星夜麒航</cite>」への出演もありましたが、こちらはサイン会の翌日に収録された録音によるものと思われます。</p>

		<p>さて、『<cite>さよなら絶望放送</cite>』では久米田先生のゲスト出演は最後までありませんでしたが、最終回を目前にした<Anchor href="https://web.archive.org/web/20110811003749/http://www.animate.tv/radio/details.php?id=szbh#player">第200回</Anchor>では放送開始当初にカセットテープに録音していた（という体の）音声が公開され、生前葬のビデオメッセージなどでお馴染みの<q>みなさんがこのテープを聞いているということは……</q>の挨拶で笑いを誘いました。この時のメッセージはひじょうに短く、そのこと自体がツッコミ待ちの感があるものでしたが、<Anchor href="https://web.archive.org/web/20110902021239/http://www.animate.tv/radio/details.php?id=szbh#player">最終回</Anchor>ではその続きが流され、パーソナリティーへの絶望的な労いの言葉で長きにわたる番組を締めるものとなりました。</p>
	</Section>

	<Section slugger={slugger}>
		<Fragment slot="heading">テレビ</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">番組名</th>
					<th scope="col">放送局</th>
					<th scope="col" aria-sort="ascending">放送日</th>
					<th scope="col">出演者</th>
					<th scope="col">内容</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><cite>あの子は漫画を読まない。</cite> #10</td>
					<td>BS日テレ</td>
					<td>2020年4月15日<small>（14日深夜）</small></td>
					<td>花江夏樹、岩井勇気、宇垣美里</td>
					<td>『<cite>かくしごと</cite>』特集</td>
					<td>担当編集の竹田哲也も出演</td>
				</tr>
				<tr>
					<td><cite>あの子は漫画を読まない。</cite> #14</td>
					<td>BS日テレ</td>
					<td>2020年5月20日<small>（19日深夜）</small></td>
					<td>花江夏樹、岩井勇気、宇垣美里</td>
					<td>番組の最後に #10 の未公開トークが放送</td>
					<td>担当編集の竹田哲也も出演</td>
				</tr>
				<tr>
					<td><cite>R指定アニメ！</cite> #12（第二部）</td>
					<td>AT-X</td>
					<td>2022年5月28日</td>
					<td>ROLAND、松澤千晶</td>
					<td>『<cite>劇場編集版　かくしごと</cite>』特集</td>
					<td>村野佑太監督も出演</td>
				</tr>
			</tbody>
		</Table>

		<p>久米田先生は『<cite>行け!!南国アイスホッケー部</cite>』時代から単行本カバーはもちろんのこと、イベント登壇や雑誌インタビューなどで顔出しをされていました。『<cite>さよなら絶望先生</cite>』では講談社漫画賞受賞と TV アニメ化という2つの大きな出来事があったことから、インタビューを受ける機会も多くなりましたが、一方で顔写真を出す事例は減っていました。アニメのオープニングで顔を晒した印象が大きいと思いますが、あの遺影写真は使用意図が正確に伝わったうえでの提供ではなく<NoteRef by="iei" />、当時きちんと本人了承の元に掲載されたケースとしては <Anchor href="https://www.amazon.co.jp/dp/4778311450/"><cite>hon-nin</cite> Vol.08</Anchor>のインタビューと新装版『<cite>かってに改蔵</cite>』での撮り下ろし写真があるくらいで、『<cite>絶望先生</cite>』関連のインタビューではすべて後ろ姿か顔を隠した写真、あるいは自画像イラストとなっていました。作品の公式企画として堂々と表に出られるようになったのは『<cite>有頂天家族</cite>』以降のことであり（<a href="#movie">後述</a>）、 TV 番組への出演となると『<cite>かくしごと</cite>』の連載終盤である2020年が初となります。</p>

		<NoteRefContent id="iei">久米田先生はインタビューで<q>僕が居ない時に持ち去られて</q>（<Anchor href="https://www.amazon.co.jp/dp/B000V7NVKS/"><cite>季刊エス</cite> 20号</Anchor>）、<q cite="urn:ISBN:978-4-86248-199-3">無許可ですよ。ギャグで小さく使うぐらいならいいかな、と思って渡した</q>（<Anchor href="https://www.amazon.co.jp/dp/486248199X/"><cite>オトナアニメ</cite> Vol.6</Anchor>）と証言しています。また、元アシスタントの MAEDAX が <Anchor href="https://order.mandarake.co.jp/order/detailPage/item?itemCode=1145162056"><cite>Voice</cite> Vol.01</Anchor>に掲載されたインタビュー内で本件について詳しく語られています。</NoteRefContent>

		<p>「<cite>あの子は漫画を読まない。</cite>」での初出演時は担当編集の竹田哲也さんが同席し、『<cite>かくしごと</cite>』を始めたきっかけや、逗子でロケハンをしたときの様子など、短い出演時間の中でも貴重な話がありました。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/anokoha-mangawo-yomanai_10.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">「<cite>あの子は漫画を読まない。</cite>」#10（左から岩井勇気、宇垣美里、花江夏樹、久米田康治、竹田哲也）</Fragment>
		</Embedded>

		<p>2022年にはアニメ専門チャンネル AT-X で『<cite>劇場編集版　かくしごと</cite>』の TV 初放送が行われ、その直後に久米田先生と村野監督をゲストに迎えた番組がありました。ここでは1時間もの放送時間を使って作品に関するトークが行われましたが、生放送の特性を活用してリアルタイムに Twitter<small>（現：X）</small>の感想投稿を取り上げるなど、視聴者参加型の側面もあったのが特徴です。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/r-select-anime_12.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">「<cite>R指定アニメ！</cite>」#12 第二部（左から松澤千晶、ROLAND、久米田康治、村野佑太）</Fragment>
		</Embedded>
	</Section>

	<Section id="movie">
		<Fragment slot="heading">DVD, Blu-ray, Web</Fragment>

		<Table>
			<thead>
				<tr>
					<th scope="col">タイトル</th>
					<th scope="col">収録・配信媒体</th>
					<th scope="col" aria-sort="ascending">公開日</th>
					<th scope="col">内容</th>
					<th scope="col">備考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>『じょしらく』OAD オーディオコメンタリー</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/4063584151/">伍巻限定版 DVD</Anchor></td>
					<td>2013年2月8日</td>
					<td>ヤス先生とのオーディオコメンタリー</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00XUAE19S/">Blu-ray BOX</Anchor>にも再録</td>
				</tr>
				<tr>
					<td>『有頂天家族』作家対談　①キャラクター編</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00DR3ZJY4/">Blu-ray&amp;DVD 第二巻</Anchor></td>
					<td>2013年10月25日</td>
					<td>森見登美彦先生との対談</td>
					<td></td>
				</tr>
				<tr>
					<td>『有頂天家族』作家対談　②ストーリー編</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00DR3ZJWG/">Blu-ray&amp;DVD 第三巻</Anchor></td>
					<td>2013年11月22日</td>
					<td>森見登美彦先生との対談</td>
					<td></td>
				</tr>
				<tr>
					<td>『有頂天家族』作家対談　③原作編</td>
					<td><Anchor href="https://www.amazon.co.jp/dp/B00DR3ZLFQ/">Blu-ray&amp;DVD 第四巻</Anchor></td>
					<td>2013年12月25日</td>
					<td>森見登美彦先生との対談</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://www.youtube.com/watch?v=UVk1rKD8jzE">TVアニメ『かくしごと』久米田康治×神谷浩史・スペシャル対談ムービー #01「これまでのこと」</Anchor></td>
					<td>YouTube</td>
					<td>2020年3月19日</td>
					<td>神谷浩史との対談</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://www.youtube.com/watch?v=bg_YBQf4QgM">TVアニメ『かくしごと』久米田康治×神谷浩史・スペシャル対談ムービー #02「今と未来について」</Anchor></td>
					<td>YouTube</td>
					<td>2020年3月26日</td>
					<td>神谷浩史との対談</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://www.youtube.com/watch?v=fxZOuYHooz0">TVアニメ『かくしごと』久米田康治×神谷浩史・スペシャル対談ムービー #03『「かくしごと」について』</Anchor></td>
					<td>YouTube</td>
					<td>2020年4月2日</td>
					<td>神谷浩史との対談</td>
					<td></td>
				</tr>
				<tr>
					<td>（<Anchor href="https://x.com/FUNimation/status/1250536878832381952">@FUNimation の投稿</Anchor>）</td>
					<td>Twitter<small>（現：X）</small></td>
					<td>2020年4月16日<small>（日本時間）</small></td>
					<td>『<cite>かくしごと</cite>』に関するメッセージ</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://l-tike.com/event/mevent/?mid=547608">久米田康治画業30周年記念トークショー「かってに回想　〜30年間の『なくしごと』〜」</Anchor></td>
					<td>ZAIKO（有料配信）</td>
					<td>2020年11月14日</td>
					<td>藤田和日郎、畑健二郎、神谷浩史、佐倉綾音を迎えてのトーク<small>（司会: 鈴木健太）</small></td>
					<td>イベント前日に<Anchor href="https://www.youtube.com/watch?v=8h_0EBx9zoY">久米田康治、まさかの背信行為</Anchor>、イベント後の17日に<Anchor href="https://www.youtube.com/watch?v=9zV9bEd4pmg">アフタートーク</Anchor>の動画も公開</td>
				</tr>
				<tr>
					<td><Anchor href="https://kakushigoto-anime.com/event/">TVアニメ『かくしごと』スペシャルイベント　〜こんなイベントやって姫にバレたらどーする！〜</Anchor></td>
					<td>楽天チケット（有料配信）、<Anchor href="https://www.amazon.co.jp/dp/B08KTV4QG9/">Blu-ray&amp;DVD</Anchor></td>
					<td>2020年12月12日</td>
					<td>夜の部のエンディングにスペシャルゲストとして登壇</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://kakushigoto-anime.com/topics/135/">『劇場編集版　かくしごと』週末配信チケット　第3弾</Anchor></td>
					<td>dTV、dアニメストア、 楽天チケット（有料配信）</td>
					<td>2021年7月24日</td>
					<td>本編映像の最後に村野佑太監督とのコメント映像が付属</td>
					<td></td>
				</tr>
				<tr>
					<td><Anchor href="https://kakushigoto-anime.com/topics/157/">『劇場編集版　かくしごと』Blu-ray 発売記念オンラインサイン会　特別インタビュー</Anchor></td>
					<td>楽天チケット（限定配信）</td>
					<td>2021年10月29日</td>
					<td>『<cite>劇場編集版　かくしごと</cite>』に関するインタビュー<small>（インタビュアー: 松澤千晶）</small></td>
					<td>『<cite>劇場編集版　かくしごと</cite>』Blu-ray の楽天チケット購入者特典、映像は10月2日のサイン会前後に収録</td>
				</tr>
			</tbody>
		</Table>

		<p>Blu-ray などのメディアに収録された最初のものは『<cite>じょしらく</cite>』コミック限定版に付属した OAD のオーディオコメンタリーです。この時は司会進行を置かずヤス先生と二人きりでの会話であり、しかも絵が完成していない状態での収録だったため<NoteRef by="jyoshiraku-commentary" />、それまでコメンタリーの経験のないお二方の戸惑いが隠しきれていないものとなっていますが、A パートでは作中に登場したご自身のキャラ（近所の漫画家）に対して<q>これ誰が（声を）演っているの?</q>とツッコミを入れたり、B パート（小学館や講談社を訪問する話）では新人時代に藤田和日郎先生や椎名高志先生らと一緒に小学館内のブースでネームを切っていた思い出話をされたりするなど、ファンとしてはたまらないコンテンツとなっています。</p>

		<NoteRefContent id="jyoshiraku-commentary">コメンタリーの C パート部分で久米田先生が（おそらく丸京の顔を見て）<q>マル“<ruby>丸<rp>（</rp><rt>ガン</rt><rp>）</rp></ruby>”と描いてあるだけ</q>と仰っているので、原撮ですらない絵コンテ撮だった可能性もあります。</NoteRefContent>

		<Embedded>
			<Image path="kumeta/kumeta/media/jyoshiraku_oad.jpg" width={480} height={270} quality={60} slot="media" />
			<Fragment slot="caption">『<cite>じょしらく</cite>』OAD Aパート（近所の漫画家と山下が出演するシーン）</Fragment>
		</Embedded>

		<p>動画形式での出演は TV アニメ『<cite>有頂天家族</cite>』が初の事例であり、Blu-ray&amp;DVD の映像特典として森見登美彦先生との対談が収録されました。久米田先生からはキャラクター原案の話にとどまらず、普段ギャグ作品を作るうえで重視していることや、原作者としての立ち位置から『<cite>じょしらく</cite>』の話に至るまで幅広い話題がありました。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/uchoten_bd2_talk.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">『<cite>有頂天家族</cite>』Blu-ray 第二巻の作家対談（左から久米田康治、森見登美彦）</Fragment>
		</Embedded>

		<p>2020年3月には『<cite>かくしごと</cite>』アニメ放送の一環で神谷浩史さんとの対談動画が<Anchor href="https://www.youtube.com/user/avexpictures">エイベックス・ピクチャーズの YouTube アカウント</Anchor>で公開されました。神谷さんといえば『<cite>さよなら絶望先生</cite>』からの付き合いですが、その放送当時は久米田先生と制作スタッフ陣との対談は複数回行われていたものの、キャスト陣とは「<cite>アニカン</cite>」Vol.43（フリーペーパー）での対談が1回あったのみであり、動画で神谷さんと対談を行うのはこれが初めてのことです。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/kakushugoto_kamiya_1.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">「<cite>TVアニメ『かくしごと』久米田康治×神谷浩史・スペシャル対談ムービー</cite>」#01（左から神谷浩史、久米田康治）</Fragment>
		</Embedded>

		<p>『<cite>かくしごと</cite>』放送終了後の2020年11月には画業30周年を記念したオンライントークショーが開催されました。有観客に対応した<Anchor href="https://hall.mixalivetokyo.com/">ホールミクサ</Anchor>での公演ながらオンライン形式での開催となったのは新型コロナウイルス流行の影響と思われますが、4人のゲストと2時間近い長さで、現在に至るまでもっとも豪華な配信イベントとなっています。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/nakushigoto_1.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">「<cite>久米田康治画業30周年記念トークショー</cite>」第1部　漫画家対談（左から久米田康治、藤田和日郎、畑健二郎）</Fragment>
		</Embedded>

		<p>2020年12月に埼玉県川越で行われた『<cite>かくしごと</cite>』スペシャルイベントでは、夜の部の最後に久米田先生が登壇し、その御前で劇場編集版の制作発表が行われました。このイベントは会場に客を入れるリアルイベントでしたが、インターネット配信および後日発売された <Anchor href="https://www.amazon.co.jp/dp/B08KTV4QG9/">Blu-ray&amp;DVD</Anchor>にも収録されています。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/kakushigoto_event_night.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">「<cite>TVアニメ『かくしごと』スペシャルイベント</cite>」夜の部（左から神谷浩史、久米田康治、大槻ケンヂ、高橋李依）</Fragment>
		</Embedded>

		<p>2021年7月に『<cite>かくしごと</cite>』の劇場編集版が公開されましたが、公開と同時に Blu-ray が発売、また週末の土日には3週連続でインターネット配信が行われ、<Anchor href="https://kakushigoto-anime.com/topics/96/">1週目</Anchor>は神谷浩史さん、<Anchor href="https://kakushigoto-anime.com/topics/127/">2週目</Anchor>は高橋李依さん、そして<Anchor href="https://kakushigoto-anime.com/topics/135/">3週目</Anchor>には久米田先生&amp;村野監督によるコメント映像が収録されました。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/kakushigoto_haishin_3.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">『<cite>劇場編集版　かくしごと</cite>』週末配信チケット　第3弾　コメント映像（左から村野佑太、久米田康治）</Fragment>
		</Embedded>

		<p>2021年10月には『<cite>劇場編集版　かくしごと</cite>』の Blu-ray 全国発売に関連した特典映像の配信が行われました。これは楽天チケットでの Blu-ray 購入者を対象に配信されたもので、10月2日に行われたオンラインサイン会の前後に収録されています。インタビュアーは舞台挨拶での司会を5回とも務められ、青春時代が『<cite>かってに改蔵</cite>』で成り立っていたという松澤千晶さんで、「<cite>久米田康治先生へ10の質問</cite>」と題して劇場編集版を受けての感想やキービジュアル制作のエピソード、「<cite>全曝し展</cite>」の話などで盛り上がりました。</p>

		<Embedded>
			<Image path="kumeta/kumeta/media/kakushigoto_sign_interview.jpg" width={720} height={405} quality={90} slot="media" />
			<Fragment slot="caption">『<cite>劇場編集版　かくしごと</cite>』Blu-ray 発売記念オンラインサイン会　特別インタビュー（左から松澤千晶、久米田康治）</Fragment>
		</Embedded>
	</Section>
</Layout>
