---
import Anchor from '@components/+phrasing/Anchor.astro';

interface Props {
	title: string;
	linkPath: string;
	iconPath: string;
}

const { title, linkPath, iconPath } = Astro.props;
---

<li>
	<Anchor href={linkPath} icon={false}>
		<span class="image"><img src={iconPath} alt="" width="64" height="64" /></span>
		<span class="title">{title}</span>
	</Anchor>
</li>

<style>
	@layer component {
		.image {
			display: inline flex;
			align-items: center;
			margin-block-end: 0.5em;
		}

		.title {
			&::before {
				display: block flow;
				content: '';
			}
		}
	}
</style>
