/*
久米田康治データベース

Styleguide 3.5.
*/

/*
筆記体フォント

Markup:
<span class="u-kumeta-cursive">筆記体フォント</span>

Styleguide 3.5.1
*/
.u-kumeta-cursive {
	font-family: cursive;
}

/*
× 印での取り消し

Markup:
<s class="u-kumeta-text-decoration-times">取り消し</s>

Styleguide 3.5.2
*/
.u-kumeta-text-decoration-times {
	display: inline-block;
	contain: paint;
	text-decoration: none;

	&::before,
	&::after {
		--_weight: 5%;

		position: absolute;
		inset: 0;
		background: currentColor;
		content: "";
	}

	&::before {
		clip-path: polygon(0 var(--_weight), calc(100% - var(--_weight)) 100%, 100% calc(100% - var(--_weight)), var(--_weight) 0);
	}

	&::after {
		clip-path: polygon(0 calc(100% - var(--_weight)), var(--_weight) 100%, 100% var(--_weight), calc(100% - var(--_weight)) 0);
	}
}
