/*
表

Styleguide 3.3.
*/

/*
表セル

Markup:
<table border="">
<tbody>
<tr>
<td class="u-cell {{modifier_class}}">セル</td>
<td class="u-cell">セルセルセルセル</td>
</tr>
<tr>
<td class="u-cell">セルセルセルセル</td>
<td class="u-cell">セル</td>
</tr>
</tbody>
</table>

.-center - センタリング
.-num - 金額

Styleguide 3.3.1
*/
.u-cell {
	/* センタリング */
	&.-center {
		text-align: center;
	}

	/* 金額 */
	&.-num {
		text-align: end;
	}
}
