/*
表

Styleguide 3.2.
*/

/*
表セル

Markup:
<table class="p-table-data">
<tbody>
<tr>
<td class="u-cell {{modifier_class}}">セル</td>
<td class="u-cell">セルセルセルセル</td>
</tr>
<tr>
<td class="u-cell">セルセルセルセル</td>
<td class="u-cell">セル</td>
</tr>
</tbody>
</table>

.-center - センタリング
.-num - 金額
.-nowrap - 改行禁止
.-sum - 合計

Styleguide 3.2.1
*/
.u-cell {
	/* センタリング */
	&.-center {
		text-align: center;
	}

	/* 金額 */
	&.-num {
		text-align: right;
	}

	/* 改行禁止 */
	&.-nowrap {
		white-space: nowrap;
	}

	/* 合計 */
	&.-sum {
		text-align: right;

		@nest .p-table-data & {
			background-color: #ffc;
		}
	}
}
