/*
テキスト

Styleguide 3.1.
*/

/*
等幅フォント

Markup:
<span class="u-monospace">等幅フォント</span>

Styleguide 3.1.1
*/
.u-monospace {
	font-family: var(--font-monospace);
}

/*
圏点

Markup:
<em class="u-emphasis">圏点</em>

Styleguide 3.1.2
*/
.u-emphasis {
	@supports (text-emphasis: dot) {
		font-weight: var(--font-weight-normal);
		text-emphasis: dot;
	}
}
