/*
テキスト

Styleguide 3.1.
*/

/*
小さい文字

Markup:
<span class="u-small">小さい文字</span>

Styleguide 3.1.1
*/
.u-small {
	font-size: 80%;
}

/*
等幅フォント

Markup:
<span class="u-font-monospace">等幅フォント</span>

Styleguide 3.1.2
*/
.u-font-monospace {
	font-family: monospace;
}
