/*
テキスト

Styleguide 3.1.
*/

/*
小さい文字

Markup:
<span class="u-small">小さい文字</span>

Styleguide 3.1.1
*/
.u-small {
	font-size: calc(100% / var(--font-ratio-2));
}

/*
等幅フォント

Markup:
<span class="u-monospace">等幅フォント</span>

Styleguide 3.1.2
*/
.u-monospace {
	font-family: monospace;
}
