/*
表

Styleguide 3.3.
*/

/*
表セル

Markup:
<table border="">
<tbody>
<tr>
<td class="u-cell {{modifier_class}}">セル</td>
<td class="u-cell">セルセルセルセル</td>
</tr>
<tr>
<td class="u-cell">セルセルセルセル</td>
<td class="u-cell">セル</td>
</tr>
</tbody>
</table>

.-center - センタリング
.-end - 末尾寄せ

Styleguide 3.3.1
*/
.u-cell {
	/* センタリング */
	&.-center {
		text-align: center;
	}

	/* 末尾寄せ */
	&.-end {
		text-align: end;
	}

	/* 改行禁止 */
	&.-wrap-no {
		white-space: nowrap;
	}

	/* 任意の位置で改行 */
	&.-wrap-anywhere {
		overflow-wrap: anywhere;
	}
}
