<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>上田電鉄別所線 下りの自動放送（2006年、7200系）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">上田電鉄別所線 下り</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="bessho_up_2006_7200" class="c-link">上り 7200系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="bessho_up_2009_1000" class="c-link">上り 1000系<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="bessho_up_2013_1000_twoman" class="c-link">上り 1000系ツーマン<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">下り 7200系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="bessho_down_2009_1000" class="c-link">下り 1000系<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="bessho_down_2013_1000_twoman" class="c-link">下り 1000系ツーマン<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通ワンマン 別所温泉</span>行</h2>
							<p class="p-tokyu-announce__meta-car">7200系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__meta-note">別所温泉駅無人時間帯に流れる部分を含む</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上田発車</h3>
									<p class="p-tokyu-announce__chime">お待たせしました。ご乗車ありがとうございます。この電車は別所温泉行きです。<span class="c-tokyu-announce -oneman">電車はワンマンカーです。降り口はいちばん前のドアとなります。お降りの際、お手持ちのきっぷは運賃箱にお入れください。定期券は運転士にはっきりお見せください。</span></p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上田～城下走行中</h3>
									<p class="p-tokyu-announce__chime"><span class="c-tokyu-announce -stand">電車は事故防止のため、急停車することがあります。お立ちのお客様は、吊り革か手すりにお掴まりください。</span>次は城下、城下です。降り口はいちばん前、左側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">城下発車</h3>
									<p class="p-tokyu-announce__chime">次は三好町、三好町です。降り口はいちばん前、右側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">三好町発車</h3>
									<p class="p-tokyu-announce__chime">次は赤坂上、赤坂上です。降り口はいちばん前、左側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">赤坂上発車</h3>
									<p class="p-tokyu-announce__chime">ご乗車ありがとうございました。次は上田原、上田原です。降り口はいちばん前、右側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上田原発車</h3>
									<p class="p-tokyu-announce__chime">次は寺下、寺下です。降り口はいちばん前、左側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">寺下発車</h3>
									<p class="p-tokyu-announce__chime">次は神畑、神畑です。降り口はいちばん前、右側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">神畑発車</h3>
									<p class="p-tokyu-announce__chime">次は大学前、大学前です。降り口はいちばん前、左側のドアです。お降りの際は、足元に充分ご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大学前発車</h3>
									<p class="p-tokyu-announce__chime">次は下之郷、下之郷です。降り口は右側です。当駅では全部のドアが開きます。右側ドア付近のお客様は、ドアの開け閉めにご注意ください。きっぷ、運賃、整理券は駅員にお渡しください。定期券は拝見いたします。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">下之郷発車</h3>
									<p class="p-tokyu-announce__chime">次は中塩田、中塩田です。降り口はいちばん前、左側のドアです。お降りの際、足元に充分ご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">中塩田発車</h3>
									<p class="p-tokyu-announce__chime">次は塩田町、塩田町です。降り口はいちばん前、左側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">塩田町発車</h3>
									<p class="p-tokyu-announce__chime">次は中野、中野です。降り口はいちばん前、右側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">中野発車</h3>
									<p class="p-tokyu-announce__chime">次は舞田、舞田です。降り口はいちばん前、左側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">舞田発車</h3>
									<p class="p-tokyu-announce__chime">次は八木沢、八木沢です。降り口はいちばん前、右側のドアです。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">八木沢発車</h3>
									<p class="p-tokyu-announce__chime">ご乗車ありがとうございました。次は別所温泉、別所温泉、終点です。<span class="c-tokyu-announce -attention">降り口はいちばん前、左側のドアです。どなた様も車内にお忘れ物、落とし物のございませんよう、もう一度お手回り品をお確かめください。両替をされるお客様は、お早めに両替機をご利用ください。</span></p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">別所温泉到着</h3>
									<p class="p-tokyu-announce__chime"><span class="c-tokyu-announce -attention">まもなく別所温泉に到着いたします。</span></p>
								</section>
							</div>

							<ul class="p-note">
								<li>八木沢発車時の「降り口はいちばん前、……」以降、および別所温泉到着時の放送は早朝、夜間の駅無人時間帯しか流れません。</li>
							</ul>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2006年12月24日</span></dd>
								<dt>車種</dt>
								<dd>7200系2両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="bessho_up_2006_7200" class="c-link">上り 7200系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="bessho_up_2009_1000" class="c-link">上り 1000系<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="bessho_up_2013_1000_twoman" class="c-link">上り 1000系ツーマン<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">下り 7200系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="bessho_down_2009_1000" class="c-link">下り 1000系<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="bessho_down_2013_1000_twoman" class="c-link">下り 1000系ツーマン<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
