<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急田園都市線　下り普通の自動放送（2000系、2006年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">田園都市線　下り普通<span class="p-title__sub-hdg">（2000系、2006年）</span></h1>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li>
								<a href="dento_up_local_2006" class="c-link">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="dento_up_semiexp_2009" class="c-link">上り 準急<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="dento_up_semiexp_2013" class="c-link">上り 準急<span class="u-small">（2013年）</span></a>
							</li>
							<li>
								<a href="dento_up_exp_2005" class="c-link">上り 急行<span class="u-small">（2005年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="dento_down_exp_2005" class="c-link">下り 急行<span class="u-small">（2005年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通　中央林間</span>行</p>
							<p class="p-tokyu-announce__car">2000系、8590系、8500系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2003年の携帯電話マナー変更から、2009年の大井町線溝の口延伸まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>渋谷停車中</h2>
									<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。</p>
									<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan.</p>
								</section>
								<section>
									<h2>渋谷発車</h2>
									<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。次は池尻大橋、池尻大橋です。お出口は左側です。</p>
									<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan. The next station is Ikejiri-ōhashi.</p>
									<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力を、お願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>池尻大橋発車</h2>
									<p>次は三軒茶屋、三軒茶屋です。<span class="c-tokyu-announce -change">世田谷線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Sangen-jaya. <span class="c-tokyu-announce -change">Passengers changing to the Setagaya Line, please transfer at this station.</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>三軒茶屋発車</h2>
									<p>次は駒沢大学、駒沢大学です。お出口は右側です。</p>
									<p lang="en">The next station is Komazawa-daigaku.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>駒沢大学発車</h2>
									<p>次は桜新町、桜新町です。</p>
									<p lang="en">The next station is Sakura-shimmachi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桜新町発車</h2>
									<p>次は用賀、用賀です。お出口は左側です。</p>
									<p lang="en">The next station is Yōga.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>用賀発車</h2>
									<p>次は二子玉川、二子玉川です。<span class="c-tokyu-announce -change">大井町線ご利用のお客様は乗り換えです。</span>お出口は右側です。</p>
									<p lang="en">The next station is Futako-tamagawa. <span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span></p>
									<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>二子玉川停車中</h2>
									<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。</p>
									<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan.</p>
								</section>
								<section>
									<h2>二子玉川発車</h2>
									<p>次は二子新地、二子新地です。お出口は左側です。</p>
									<p lang="en">The next station is Futako-shinchi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>二子新地発車</h2>
									<p>次は高津、高津です。</p>
									<p lang="en">The next station is Takatsu.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>高津発車</h2>
									<p>次は溝の口、溝の口です。<span class="c-tokyu-announce -change">JR南武線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Mizonokuchi. <span class="c-tokyu-announce -change">Passengers changing to the JR Nambu Line, please transfer at this station.</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>溝の口発車</h2>
									<p>次は梶が谷、梶が谷です。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Kajigaya.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>梶が谷発車</h2>
									<p>次は宮崎台、宮崎台です。</p>
									<p lang="en">The next station is Miyazakidai.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>宮崎台発車</h2>
									<p>次は宮前平、宮前平です。</p>
									<p lang="en">The next station is Miyamaedaira.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>宮前平発車</h2>
									<p>次は鷺沼、鷺沼です。</p>
									<p lang="en">The next station is Saginuma.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>鷺沼発車</h2>
									<p>次はたまプラーザ、たまプラーザです。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Tama-plaza.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>たまプラーザ発車</h2>
									<p>次はあざみ野、あざみ野です。<span class="c-tokyu-announce -change">横浜市営地下鉄線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Azamino. <span class="c-tokyu-announce -change">Passengers changing to the Yokohama Municipal Subway, please transfer at this station.</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>あざみ野発車</h2>
									<p>次は江田、江田です。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Eda.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>江田発車</h2>
									<p>次は市が尾、市が尾です。</p>
									<p lang="en">The next station is Ichigao.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>市が尾発車</h2>
									<p>次は藤が丘、藤が丘です。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Fujigaoka.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>藤が丘発車</h2>
									<p>次は青葉台、青葉台です。</p>
									<p lang="en">The next station is Aobadai.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>青葉台発車</h2>
									<p>次は田奈、田奈です。</p>
									<p lang="en">The next station is Tana.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>田奈発車</h2>
									<p>次は長津田、長津田です。<span class="c-tokyu-announce -change">こどもの国線、JR横浜線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Nagatsuta. <span class="c-tokyu-announce -change">Passengers changing to the Kodomonokuni Line and the JR Yokohama Line, please transfer at this station.</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>長津田発車</h2>
									<p>この電車は各駅停車中央林間行きです。次はつくし野、つくし野です。</p>
									<p lang="en">This is the local train bound for Chūō-rinkan. The next station is Tsukushino.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>つくし野発車</h2>
									<p>次はすずかけ台、すずかけ台です。</p>
									<p lang="en">The next station is Suzukakedai.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>すずかけ台発車</h2>
									<p>次は南町田、南町田です。</p>
									<p lang="en">The next station is Minami-machida.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>南町田発車</h2>
									<p>次はつきみ野、つきみ野です。</p>
									<p lang="en">The next station is Tsukimino.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>つきみ野発車</h2>
									<p>次は中央林間、中央林間、終点です。<span class="c-tokyu-announce -change">小田急江ノ島線ご利用のお客様は乗り換えです。</span>東急田園都市線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">The next station is Chūō-rinkan. This is the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Odakyū Enoshima Line, please transfer at this station.</span> Thank you for using the Tōkyū Den-en-toshi Line.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>中央林間到着後</h2>
									<p>中央林間、中央林間、終点です。お忘れ物ないようにご注意ください。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年3月22日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>2000系10両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
