<!DOCTYPE html>
<html lang="ja">
	<head>
		<script type="application/json" id="page-structured">
			{
				"template": {
					"name": "tokyu",
					"toc": false
				},
				"title": "自動放送　東急田園都市線　下り普通（2000系、2006年）",
				"heading": "田園都市線　下り普通",
				"subHeading": "2000系、2006年",
				"dateModified": "2006-03-22",
				"breadcrumb": [
					{ "path": "/tokyu/", "name": "ホーム" },
					{ "path": "/tokyu/an/", "name": "自動放送" }
				],
				"localNav": [
					{ "path": "/tokyu/an/dento_up_local_2006", "name": "上り 普通（2006年）" },
					{ "path": "/tokyu/an/dento_up_semiexp_2009", "name": "上り 準急（2009年）" },
					{ "path": "/tokyu/an/dento_up_semiexp_2013", "name": "上り 準急（2013年）" },
					{ "path": "/tokyu/an/dento_up_exp_2005", "name": "上り 急行（2005年）" },
					{ "path": "/tokyu/an/dento_down_local_2006", "name": "下り 普通（2006年）" },
					{ "path": "/tokyu/an/dento_down_exp_2005", "name": "下り 急行（2005年）" }
				]
			}
		</script>
	</head>
	<body>
		<main>
			<div class="l-tokyu-announce">
				<div class="l-tokyu-announce__header">
					<p class="p-tokyu-announce-train"><span class="c-tokyu-train -local">普通　中央林間</span>行</p>
					<p class="p-tokyu-announce-car">2000系、8590系、8500系に搭載されているタイプ</p>
					<p class="p-tokyu-announce-period">2003年の携帯電話マナー変更から、2009年の大井町線溝の口延伸まで</p>
				</div>
				<div class="l-tokyu-announce__main">
					<div class="p-tokyu-announce-station">
						<section>
							<h2>渋谷停車中</h2>
							<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。</p>
							<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan.</p>
						</section>
						<section>
							<h2>渋谷発車</h2>
							<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。次は池尻大橋、池尻大橋です。お出口は左側です。</p>
							<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan. The next station is Ikejiri-ōhashi.</p>
							<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力を、お願いいたします。</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>池尻大橋発車</h2>
							<p>次は三軒茶屋、三軒茶屋です。<span class="c-tokyu-announce -change">世田谷線ご利用のお客様は乗り換えです。</span></p>
							<p lang="en">The next station is Sangen-jaya. <span class="c-tokyu-announce -change">Passengers changing to the Setagaya Line, please transfer at this station.</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>三軒茶屋発車</h2>
							<p>次は駒沢大学、駒沢大学です。お出口は右側です。</p>
							<p lang="en">The next station is Komazawa-daigaku.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>駒沢大学発車</h2>
							<p>次は桜新町、桜新町です。</p>
							<p lang="en">The next station is Sakura-shimmachi.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>桜新町発車</h2>
							<p>次は用賀、用賀です。お出口は左側です。</p>
							<p lang="en">The next station is Yōga.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>用賀発車</h2>
							<p>次は二子玉川、二子玉川です。<span class="c-tokyu-announce -change">大井町線ご利用のお客様は乗り換えです。</span>お出口は右側です。</p>
							<p lang="en">The next station is Futako-tamagawa. <span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span></p>
							<p><span class="c-tokyu-announce -manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>二子玉川停車中</h2>
							<p>東急田園都市線をご利用くださいまして、ありがとうございます。この電車は各駅停車中央林間行きです。</p>
							<p lang="en">Thank you for using the Tōkyū Den-en-toshi Line. This is the local train bound for Chūō-rinkan.</p>
						</section>
						<section>
							<h2>二子玉川発車</h2>
							<p>次は二子新地、二子新地です。お出口は左側です。</p>
							<p lang="en">The next station is Futako-shinchi.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>二子新地発車</h2>
							<p>次は高津、高津です。</p>
							<p lang="en">The next station is Takatsu.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>高津発車</h2>
							<p>次は溝の口、溝の口です。<span class="c-tokyu-announce -change">JR南武線ご利用のお客様は乗り換えです。</span></p>
							<p lang="en">The next station is Mizonokuchi. <span class="c-tokyu-announce -change">Passengers changing to the JR Nambu Line, please transfer at this station.</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>溝の口発車</h2>
							<p>次は梶が谷、梶が谷です。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
							<p lang="en">The next station is Kajigaya.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>梶が谷発車</h2>
							<p>次は宮崎台、宮崎台です。</p>
							<p lang="en">The next station is Miyazakidai.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>宮崎台発車</h2>
							<p>次は宮前平、宮前平です。</p>
							<p lang="en">The next station is Miyamaedaira.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>宮前平発車</h2>
							<p>次は鷺沼、鷺沼です。</p>
							<p lang="en">The next station is Saginuma.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>鷺沼発車</h2>
							<p>次はたまプラーザ、たまプラーザです。お降りの際は、足元にご注意ください。</p>
							<p lang="en">The next station is Tama-plaza.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>たまプラーザ発車</h2>
							<p>次はあざみ野、あざみ野です。<span class="c-tokyu-announce -change">横浜市営地下鉄線ご利用のお客様は乗り換えです。</span></p>
							<p lang="en">The next station is Azamino. <span class="c-tokyu-announce -change">Passengers changing to the Yokohama Municipal Subway, please transfer at this station.</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>あざみ野発車</h2>
							<p>次は江田、江田です。お降りの際は、足元にご注意ください。</p>
							<p lang="en">The next station is Eda.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>江田発車</h2>
							<p>次は市が尾、市が尾です。</p>
							<p lang="en">The next station is Ichigao.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>市が尾発車</h2>
							<p>次は藤が丘、藤が丘です。お降りの際は、足元にご注意ください。</p>
							<p lang="en">The next station is Fujigaoka.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>藤が丘発車</h2>
							<p>次は青葉台、青葉台です。</p>
							<p lang="en">The next station is Aobadai.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>青葉台発車</h2>
							<p>次は田奈、田奈です。</p>
							<p lang="en">The next station is Tana.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>田奈発車</h2>
							<p>次は長津田、長津田です。<span class="c-tokyu-announce -change">こどもの国線、JR横浜線ご利用のお客様は乗り換えです。</span></p>
							<p lang="en">The next station is Nagatsuta. <span class="c-tokyu-announce -change">Passengers changing to the Kodomonokuni Line and the JR Yokohama Line, please transfer at this station.</span></p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>長津田発車</h2>
							<p>この電車は各駅停車中央林間行きです。次はつくし野、つくし野です。</p>
							<p lang="en">This is the local train bound for Chūō-rinkan. The next station is Tsukushino.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>つくし野発車</h2>
							<p>次はすずかけ台、すずかけ台です。</p>
							<p lang="en">The next station is Suzukakedai.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>すずかけ台発車</h2>
							<p>次は南町田、南町田です。</p>
							<p lang="en">The next station is Minami-machida.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>南町田発車</h2>
							<p>次はつきみ野、つきみ野です。</p>
							<p lang="en">The next station is Tsukimino.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>つきみ野発車</h2>
							<p>次は中央林間、中央林間、終点です。<span class="c-tokyu-announce -change">小田急江ノ島線ご利用のお客様は乗り換えです。</span>東急田園都市線をご利用くださいまして、ありがとうございました。</p>
							<p lang="en">The next station is Chūō-rinkan. This is the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Odakyū Enoshima Line, please transfer at this station.</span> Thank you for using the Tōkyū Den-en-toshi Line.</p>
						</section>
					</div>

					<div class="p-tokyu-announce-station">
						<section>
							<h2>中央林間到着後</h2>
							<p>中央林間、中央林間、終点です。お忘れ物ないようにご注意ください。</p>
						</section>
					</div>
				</div>
				<div class="l-tokyu-announce__footer">
					<dl class="p-tokyu-announce-data">
						<div>
							<dt>収録日</dt>
							<dd><span class="htmlbuild-datetime">2006年3月22日</span></dd>
						</div>
						<div>
							<dt>車種</dt>
							<dd>2000系10両編成</dd>
						</div>
					</dl>
				</div>
			</div>
		</main>
	</body>
</html>
