<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>伊賀鉄道　下りの自動放送（200系、2013年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">伊賀鉄道　下り<span class="p-title__sub-hdg">（200系、2013年）</span></h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iga_up_2012" class="c-link">上り 普通<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">下り 普通<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　伊賀神戸</span>行</p>
							<p class="p-tokyu-announce__period">2009年の200系導入から</p>
							<p class="p-tokyu-announce__option">（観光放送）</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊賀上野停車中</h2>
									<p>
										<span class="c-tokyu-announce -chime">♪</span> 伊賀鉄道をご利用いただき、ありがとうございます。この電車は上野市方面伊賀神戸行きです。<span class="c-tokyu-announce -cm">上野城、上野公園、忍者博物館へお越しのお客様は、上野市駅が便利です。</span>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所では、マナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
								</section>
								<section>
									<h2>伊賀上野停車中</h2>
									<p>
										<span class="c-tokyu-announce -chime">♪</span> 伊賀鉄道をご利用いただき、ありがとうございます。この電車は上野市方面伊賀神戸行きです。<span class="c-tokyu-announce -cm">上野城、上野公園、忍者博物館へお越しのお客様は、上野市駅が便利です。</span>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所では、マナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
									<p>お客様にお知らせいたします。この電車は係員の居ない駅では、いちばん前の扉だけが開きます。お降りの際は、いちばん前の扉をご利用願います。</p>
								</section>
								<section>
									<h2>伊賀上野発車</h2>
									<p>お待たせしました。ご乗車ありがとうございます。この電車は上野市方面伊賀神戸行きです。<span class="c-tokyu-announce -cm">これよりみなさまを忍者と芭蕉の上野町へご案内いたします。</span>まもなく新居、新居です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>新居発車</h2>
									<p>次は西大手、西大手です。</p>
									<p>
										<span class="c-tokyu-announce -chime">♪</span>
										<span class="c-tokyu-announce -cm">荒木又右衛門の仇討ちで有名な鍵屋の辻や、江戸時代に建てられた藤堂藩藩校崇廣堂へお越しのお客様は、次の駅が便利です。いま左前方に上野城がご覧いただけます。上野城は上野市駅近くにあり、1階は上野公園になっています。園内には伊賀流忍者博物館や松尾芭蕉ゆかりの俳聖殿がございます。また公園周辺には、だんじり会館、上野歴史民俗資料館、伊賀焼きの展示販売をしている伊賀信楽古陶館など観光スポットが点在しています。観光地散策に便利な伊賀鉄道に乗って、上野町巡りを存分にお楽しみください。</span>
									</p>
								</section>
								<section>
									<h2>西大手到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>西大手、西大手です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>西大手発車</h2>
									<p>次は上野市、上野市です。<span class="c-tokyu-announce -cm">上野城、上野公園、忍者博物館へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>上野市到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく上野市、上野市です。この電車は伊賀神戸行きです。先へお越しのお客様は、このままご乗車ください。お降りの際は、駅の改札口できっぷをお渡しください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。伊賀鉄道をご利用いただきありがとうございました。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上野市停車中</h2>
									<p>お客様にお知らせいたします。この電車は係員の居ない駅では、いちばん前の扉だけが開きます。お降りの際は、いちばん前の扉をご利用願います。</p>
								</section>
								<section>
									<h2>上野市発車</h2>
									<p>伊賀鉄道をご利用いただき、ありがとうございます。この電車は伊賀神戸行きです。次は広小路、広小路です。</p>
								</section>
								<section>
									<h2>広小路到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>広小路、広小路です。お出口は左側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>広小路発車</h2>
									<p>次は茅町、茅町です。<span class="c-tokyu-announce -cm">芭蕉翁ゆかりの蓑虫庵へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>茅町到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>茅町、茅町です。お降りの際は、駅の改札口できっぷをお渡しください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>茅町発車</h2>
									<p>次は桑町、桑町です。<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先座席付近では、携帯電話の電源をお切りください。それ以外の場所では、マナーモードにしていただき、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
								<section>
									<h2>茅町～桑町走行中</h2>
									<p>お客様にお知らせいたします。この電車は終点の伊賀神戸を除き、いちばん前の扉だけが開きます。お降りの際は、いちばん前の扉をご利用願います。</p>
								</section>
								<section>
									<h2>桑町到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>桑町、桑町です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桑町発車</h2>
									<p>次は猪田道、猪田道です。</p>
								</section>
								<section>
									<h2>猪田道到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>猪田道、猪田道です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>猪田道停車中</h2>
									<p>電車の行き違い待ちをいたします。発車までしばらくお待ち願います。</p>
								</section>
								<section>
									<h2>猪田道発車</h2>
									<p>次は市部、市部です。<span class="c-tokyu-announce -cm">市部駅には無料駐車場がございます。パーク&amp;ライドに是非ご利用ください。</span></p>
								</section>
								<section>
									<h2>市部到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>市部、市部です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>市部発車</h2>
									<p>次は依那古、依那古です。</p>
								</section>
								<section>
									<h2>依那古到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>依那古、依那古です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>依那古発車</h2>
									<p>次は丸山、丸山です。</p>
								</section>
								<section>
									<h2>丸山到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>丸山、丸山です。この駅でお降りのお客様は、前の運賃箱にきっぷ、運賃をお入れください。定期券のお客様は、お示し願います。お出口は右側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>丸山発車</h2>
									<p>次は上林、上林です。</p>
								</section>
								<section>
									<h2>上林到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>上林、上林です。お出口は右側です。扉にご注意ください。電車とホームの間が広く空いています。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上林停車中</h2>
									<p>みなさまにお願いいたします。ただいまから乗車券を集めさせていただきます。定期券のお客様は、お示し願います。</p>
								</section>
								<section>
									<h2>上林発車</h2>
									<p>次は比土、比土です。<span class="c-tokyu-announce -cm">古代の祭祀場、城之越遺跡へお越しのお客様は、次の駅が便利です。</span></p>
								</section>
								<section>
									<h2>比土到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>比土、比土です。お出口は左側です。扉にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>比土発車</h2>
									<p>次は伊賀神戸、伊賀神戸、終点です。<span class="c-tokyu-announce -change">近鉄線はお乗り換えです。</span></p>
								</section>
								<section>
									<h2>伊賀神戸到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく伊賀神戸、伊賀神戸、終点です。<span class="c-tokyu-announce -change">近鉄線はお乗り換えです。名張、大和八木、大阪難波方面は2番のりば、伊勢、名古屋方面は1番のりばからご乗車ください。</span>お出口は右側です。扉にご注意ください。伊賀鉄道をご利用いただきありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2013年10月5日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>200系2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iga_up_2012" class="c-link">上り 普通<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">下り 普通<span class="u-small">（2013年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
