<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>福島交通飯坂線 上りの自動放送（7000系3連、2012年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">福島交通飯坂線 上り</h1>
					</div>
				</div>
				<div class="l-main__header">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_up_2006_7000_2r">上り 7000系2連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_7000_3r">上り 7000系3連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_2_7000_2r">上り 7000系2連<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_2r">上り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_3r">上り 7000系3連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_2r">上り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_3r">上り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_down_2006_7000_2r">下り 7000系2連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2006_7000_3r">下り 7000系3連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_sakuramizu_2007_7000_2r">下り 桜水行 7000系2連<span class="u-small">（2007年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2008_7000_2r">下り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2011_7000_2r">下り 7000系2連<span class="u-small">（2011年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2012_7000_3r">下り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_2r">下り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_3r">下り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-main__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-period">2012年度時点の放送</h2>
							<p class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通 福島</span>行</p>
							<p class="p-tokyu-announce__meta-car">3両編成列車で放送されるタイプ</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">飯坂温泉発車</h3>
									<p>ご乗車ありがとうございます。この電車は福島行きです。終点の福島まで各駅に停まります。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いいたします。</span>次は花水坂、花水坂でございます。</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">花水坂到着</h3>
									<p>まもなく花水坂です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">花水坂発車</h3>
									<p>次は医王寺前、医王寺前でございます。乗車券をお持ちでないお客様は、車掌が参りました際にお求めください。</p>
									<p class="p-tokyu-announce__cm-summary"><b>※内科・外科・泌尿器科医院の宣伝</b></p>
									<p>まもなく医王寺前です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">医王寺前発車</h3>
									<p>次は平野、平野でございます。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いいたします。お体の不自由な方、お年寄りには、席をお譲りください。</span></p>
									<p class="p-tokyu-announce__cm-summary"><b>※斎場の宣伝</b></p>
									<p>まもなく平野です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">平野発車</h3>
									<p>次は桜水、桜水でございます。</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">桜水到着</h3>
									<p>まもなく桜水です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">桜水発車</h3>
									<p>次は笹谷、笹谷でございます。</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">笹谷到着</h3>
									<p>まもなく笹谷です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際は足元にご注意ください。<span class="c-tokyu-announce -door">また、3両目の後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">笹谷発車</h3>
									<p>次は上松川、上松川でございます。</p>
									<p class="p-tokyu-announce__cm-summary"><b>※子供クリニックの宣伝</b></p>
									<p>まもなく上松川です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上松川発車</h3>
									<p>次は泉、泉でございます。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内は禁煙です。また、携帯電話での通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">泉到着</h3>
									<p>まもなく泉です。降り口は右側です。<span class="c-tokyu-announce -door">なお、3両目の後ろのドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">泉発車</h3>
									<p>次は岩代清水、岩代清水でございます。</p>
									<p class="p-tokyu-announce__cm-summary"><b>※眼科医院の宣伝</b></p>
									<p class="p-tokyu-announce__cm-summary"><b>※薬局の宣伝</b></p>
									<p>まもなく岩代清水です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">岩代清水発車</h3>
									<p>次は美術館図書館前、美術館図書館前でございます。</p>
									<p class="p-tokyu-announce__cm-summary"><b>※金物店の宣伝</b></p>
									<p>まもなく美術館図書館前です。降り口は右側です。なお、電車とホームの間が離れております。お降りの際は足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">美術館図書館前発車</h3>
									<p>次は曽根田、曽根田でございます。</p>
									<p class="p-tokyu-announce__cm-summary"><b>※風呂店の宣伝</b></p>
									<p>まもなく曽根田です。降り口は左側です。<span class="c-tokyu-announce -door">なお、1両目の前ドア、および中ドアは開きません。お降りの際はその他のドアをご利用ください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">曽根田発車</h3>
									<p>ご乗車ありがとうございました。次は終点、福島でございます。どなた様もお忘れ物のないよう、ご注意ください。<span class="c-tokyu-announce -change">JR線ご利用の方は、JR1番線ホームにお回りください。</span></p>
									<p class="p-tokyu-announce__cm-summary"><b>※クリニックの宣伝</b></p>
									<p class="p-tokyu-announce__cm-summary"><b>※クリニックの宣伝</b></p>
									<p>まもなく終点、福島です。降り口は右側です。ご乗車ありがとうございました。</p>
								</section>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2012年9月20日</span></dd>
								<dt>車種</dt>
								<dd>7000系3両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_up_2006_7000_2r">上り 7000系2連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_7000_3r">上り 7000系3連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_2_7000_2r">上り 7000系2連<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_2r">上り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_3r">上り 7000系3連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_2r">上り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_3r">上り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_down_2006_7000_2r">下り 7000系2連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2006_7000_3r">下り 7000系3連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_sakuramizu_2007_7000_2r">下り 桜水行 7000系2連<span class="u-small">（2007年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2008_7000_2r">下り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2011_7000_2r">下り 7000系2連<span class="u-small">（2011年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2012_7000_3r">下り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_2r">下り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_3r">下り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
