<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>福島交通飯坂線　下りの自動放送（7000系2連、2006年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">福島交通飯坂線　下り<span class="p-title__sub-hdg">（7000系2連、2006年）</span></h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_up_2006_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_2_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2012_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_2r" class="c-link">上り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_3r" class="c-link">上り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">下り 7000系2連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2006_7000_3r" class="c-link">下り 7000系3連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_sakuramizu_2007_7000_2r" class="c-link">下り 桜水行 7000系2連<span class="u-small">（2007年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2008_7000_2r" class="c-link">下り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2011_7000_2r" class="c-link">下り 7000系2連<span class="u-small">（2011年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2012_7000_3r" class="c-link">下り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_2r" class="c-link">下り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_3r" class="c-link">下り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通　飯坂温泉</span>行</p>
							<p class="p-tokyu-announce__car">7000系2両編成列車で放送されるタイプ</p>
							<p class="p-tokyu-announce__period">2006年春から、2007年の放送装置IC化まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>福島発車</h2>
									<p>ご乗車ありがとうございます。この電車は飯坂温泉行きです。各駅に停まります。<span class="c-tokyu-announce -manners">車内は禁煙となっておりますので、お煙草はご遠慮願います。また、優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。</span>次は曽根田、曽根田でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">旅館の宣伝</b></p>
									<p>まもなく曽根田です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>曽根田発車</h2>
									<p>次は美術館図書館前、美術館図書館前でございます。乗車券をお持ちでない方は、車掌が参りました際にお求め願います。</p>
									<p><b class="c-tokyu-announce -cmsummary">病院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">着物店の宣伝</b></p>
									<p>まもなく美術館図書館前です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>美術館図書館前発車</h2>
									<p>次は岩代清水、岩代清水でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">眼科医院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">耳鼻咽喉科医院の宣伝</b></p>
									<p>まもなく岩代清水です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>岩代清水発車</h2>
									<p>次は泉、泉でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">皮膚科医院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">カジノ店の宣伝</b></p>
									<p>まもなく泉です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>泉発車</h2>
									<p>次は上松川、上松川でございます。<span class="c-tokyu-announce -manners">お客様へお願いいたします。優先席付近では携帯電話の電源を切って頂きますよう、お願いいたします。そのほかの場所では、マナーモードに設定のうえ、通話はご遠慮願います。</span></p>
									<p><b class="c-tokyu-announce -cmsummary">お風呂工房の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">餃子店の宣伝</b></p>
									<p>まもなく上松川です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>上松川発車</h2>
									<p>次は笹谷、笹谷でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">ビューティースリムの宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">子供クリニックの宣伝</b></p>
									<p>まもなく笹谷です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>笹谷発車</h2>
									<p>次は桜水、桜水でございます。<span class="c-tokyu-announce -manners">お体の不自由な方、お年寄りには、なるべく席をお譲り願います。</span></p>
									<p><b class="c-tokyu-announce -cmsummary">歯科医院の宣伝</b></p>
									<p><b class="c-tokyu-announce -cmsummary">歯科医院の宣伝</b></p>
									<p>まもなく桜水です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>桜水発車</h2>
									<p>次は平野、平野でございます。</p>
								</section>
								<section>
									<h2>平野到着</h2>
									<p>まもなく平野です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>平野発車</h2>
									<p>ご乗車ありがとうございます。次は医王寺前、医王寺前でございます。</p>
									<p><b class="c-tokyu-announce -cmsummary">内科・外科・泌尿器科医院の宣伝</b></p>
									<p>まもなく医王寺前です。降り口は右側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>医王寺前発車</h2>
									<p>次は花水坂、花水坂でございます。</p>
								</section>
								<section>
									<h2>花水坂到着</h2>
									<p>まもなく花水坂です。降り口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>花水坂発車</h2>
									<p>ご乗車ありがとうございました。次は終点、飯坂温泉でございます。どなた様もお忘れ物のないよう、お支度願います。</p>
								</section>
								<section>
									<h2>飯坂温泉到着</h2>
									<p>まもなく終点、飯坂温泉です。降り口は右側です。ご乗車ありがとうございました。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2006年5月3日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>7000系2両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="iizaka_up_2006_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2006_2_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_2r" class="c-link">上り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2008_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2012_7000_3r" class="c-link">上り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_2r" class="c-link">上り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_up_2017_1000_3r" class="c-link">上り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">下り 7000系2連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2006_7000_3r" class="c-link">下り 7000系3連<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_sakuramizu_2007_7000_2r" class="c-link">下り 桜水行 7000系2連<span class="u-small">（2007年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2008_7000_2r" class="c-link">下り 7000系2連<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2011_7000_2r" class="c-link">下り 7000系2連<span class="u-small">（2011年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2012_7000_3r" class="c-link">下り 7000系3連<span class="u-small">（2012年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_2r" class="c-link">下り 1000系2連<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a href="iizaka_down_2017_1000_3r" class="c-link">下り 1000系3連<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
