<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>伊豆急行　下り快速の自動放送（8000系、2007年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" />
		<link rel="stylesheet" href="/assets/style/layout_reader.css" media="print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">伊豆急行　下り快速<span class="p-title__sub-hdg">（8000系、2007年）</span></h1>
					</div>

					<nav class="p-local-nav htmlbuild-localnav">
						<ul class="p-local-nav__list">
							<li>
								<a href="izukyu_up_2006_ito" class="c-link">上り 普通 伊東行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="izukyu_up_2006_atami" class="c-link">上り 普通 熱海行<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="izukyu_down_2006" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="izukyu_down_2017" class="c-link">下り 普通<span class="u-small">（2017年）</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">下り 快速<span class="u-small">（2007年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -ikk-rapid">快速さくらリレー号ワンマン　伊豆急下田</span>行（伊東始発）</p>
							<p class="p-tokyu-announce__period">4連時代</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊東停車中</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせいたしました。本日は伊豆急線をご利用くださいまして、ありがとうございます。快速列車の伊豆急下田行きです。停車駅は、伊豆高原、伊豆熱川、伊豆稲取、今井浜海岸、河津、蓮台寺、伊豆急下田です。それ以外の駅には停車しませんので、お気を付けください。次の停車駅は伊豆高原、伊豆高原です。<span class="c-tokyu-announce -manners">車内は禁煙になっております。お煙草はご遠慮ください。携帯電話をお持ちのお客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。ご協力お願いいたします。</span></p>
								</section>
								<section>
									<h2>伊東発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせいたしました。本日は伊豆急線をご利用くださいまして、ありがとうございます。快速列車の伊豆急下田行きです。停車駅は、伊豆高原、伊豆熱川、伊豆稲取、今井浜海岸、河津、蓮台寺、伊豆急下田です。それ以外の駅には停車しませんので、お気を付けください。次の停車駅は伊豆高原、伊豆高原です。<span class="c-tokyu-announce -manners">車内は禁煙になっております。お煙草はご遠慮ください。携帯電話をお持ちのお客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。ご協力お願いいたします。</span></p>
								</section>
								<section>
									<h2>伊豆高原到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく伊豆高原、伊豆高原です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊豆高原発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>お待たせいたしました。本日は伊豆急線をご利用くださいまして、ありがとうございます。快速列車の伊豆急下田行きです。停車駅は、伊豆熱川、伊豆稲取、今井浜海岸、河津、蓮台寺、伊豆急下田です。それ以外の駅には停車しませんので、お気を付けください。次の停車駅は伊豆熱川、伊豆熱川です。<span class="c-tokyu-announce -manners">車内は禁煙になっております。お煙草はご遠慮ください。携帯電話をお持ちのお客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。ご協力お願いいたします。</span></p>
								</section>
								<section>
									<h2>伊豆熱川到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく伊豆熱川、伊豆熱川です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊豆熱川発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は伊豆稲取、伊豆稲取です。</p>
								</section>
								<section>
									<h2>伊豆稲取到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく伊豆稲取、伊豆稲取です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>伊豆稲取発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は今井浜海岸、今井浜海岸です。</p>
								</section>
								<section>
									<h2>今井浜海岸到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく今井浜海岸、今井浜海岸です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>今井浜海岸発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は河津、河津です。</p>
								</section>
								<section>
									<h2>河津到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく河津、河津です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>河津発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次の停車駅は蓮台寺、蓮台寺です。</p>
								</section>
								<section>
									<h2>蓮台寺到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>まもなく蓮台寺、蓮台寺です。お降りのお客様は、ドア付近でお待ちください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>蓮台寺発車</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>次は伊豆急下田、伊豆急下田、終点です。どなた様もお忘れ物ございませんよう、お支度ください。</p>
								</section>
								<section>
									<h2>伊豆急下田到着</h2>
									<p><span class="c-tokyu-announce -chime">♪</span>ご乗車ありがとうございました。まもなく伊豆急下田、伊豆急下田、終点です。どなた様も、お忘れ物ございませんよう、お気を付けください。本日は伊豆急線をご利用くださいまして、ありがとうございました。まもなく伊豆急下田、終点です。</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2007年2月18日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>8000系4両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
