<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>弘南鉄道弘南線 上りの自動放送（2016年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">弘南鉄道弘南線 上り</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="konan_up_2006">上り<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="konan_up_2008">上り<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="konan_up_rapid_2006">上り 快速<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="konan_down_2006">下り<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="konan_down_2008">下り<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="konan_down_2016">下り<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="konan_down_rapid_2006">下り 快速<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-main__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通ワンマン 弘前</span>行</h2>
							<p class="p-tokyu-announce__meta-period">2016年の「弘前医療福祉大学」案内放送開始から</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">黒石停車中</h3>
									<p class="p-tokyu-announce__chime">
										本日は弘南鉄道弘南線をご利用くださいまして、ありがとうございます。<span class="c-tokyu-announce -oneman">この列車は、ワンマン列車になっておりますので、係員が居ない駅でお降りの際には、いちばん前のドアをご利用くださいますよう、皆様のご協力をお願いいたします。</span>
										<span class="c-tokyu-announce -manners">また、車内での携帯電話は、ご遠慮くださるようお願いいたします。</span>
									</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">黒石発車</h3>
									<p class="p-tokyu-announce__chime">お待ち遠さまでした。弘前行きの発車です。お降りの際は、お忘れ物ございませんよう、ご注意ください。次の停車駅は境松、境松、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">境松発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は田舎館、田舎館、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">田舎館発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は田んぼアート、田んぼアート、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">田んぼアート発車</h3>
									<p class="p-tokyu-announce__chime"><span class="c-tokyu-announce -oneman">この列車は、弘前行きのワンマン列車です。皆様のご協力をお願いいたします。</span>次の停車駅は尾上高校前、尾上高校前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">尾上高校前発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は津軽尾上、津軽尾上、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">津軽尾上発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は柏農高校前、柏農高校前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">柏農高校前発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は平賀、平賀、降り口は左側です。整理券のお客様は、駅でご精算ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">平賀発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は館田、館田、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -manners">お客様にお願いいたします。車内での携帯電話は、ご遠慮くださるようお願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">館田発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は新里、新里、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">新里発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は運動公園前、運動公園前、降り口は右側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。<span class="c-tokyu-announce -cm">弘前医療福祉大学、弘前医療福祉大学短期大学部へお越しの方は、こちらでお降りください。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">運動公園前発車</h3>
									<p class="p-tokyu-announce__chime">次の停車駅は弘前東高校前、弘前東高校前、降り口は左側です。お降りのお客様は、いちばん前のドアをご利用ください。きっぷは運賃箱にお入れください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">弘前東高前発車</h3>
									<p class="p-tokyu-announce__chime">お疲れさまでした。次の停車駅は終点、弘前、弘前です。お降りの際には、お忘れ物ございませんよう、いま一度お手回り品をお確かめください。降り口は右側です。整理券のお客様は、駅でご精算ください。本日は弘南線をご利用いただきまして、ありがとうございました。またのご乗車をお待ちいたしております。</p>
								</section>
							</div>

							<div class="p-note">
								<p class="p-note__note">
									<span class="p-note__mark">※</span>
									<span class="p-note__text"
										>上記のほか、駅停車中に以下の放送がいずれか片方、または両方流れる場合があります。<br />
										「きっぷをお持ちでないお客様は、整理券をお取りください。」<br />
										「ドアが閉まります。ご注意ください。」</span
									>
								</p>
								<p class="p-note__note">
									<span class="p-note__mark">※</span>
									<span class="p-note__text">2008年の放送装置IC化以降、「弘前東高前」駅のことを「弘前東高<em>校</em>前」と放送しています。</span>
								</p>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2016年9月11日</span></dd>
								<dt>車種</dt>
								<dd>7000系2両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="konan_up_2006">上り<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="konan_up_2008">上り<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="konan_up_rapid_2006">上り 快速<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="konan_down_2006">下り<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="konan_down_2008">下り<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="konan_down_2016">下り<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="konan_down_rapid_2006">下り 快速<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
