<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急目黒線 下り急行の自動放送（3000系、2008年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main role="main" id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">目黒線 下り 急行</h1>
					</div>

					<nav role="navigation" class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_up_local_2006">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2009">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2020">上り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2006">上り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2008">上り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2020">上り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_down_local_2006">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2009">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2020">下り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2006">下り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a aria-current="page">下り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2020">下り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="l-main__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -exp">急行ワンマン 日吉</span>行</h2>
							<p class="p-tokyu-announce__meta-period">2008年の日吉延伸から</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">目黒発車</h3>
									<p>本日も東急目黒線をご利用くださいまして、ありがとうございます。この電車は大岡山、田園調布方面、急行日吉行きです。停まる駅は、武蔵小山、大岡山、田園調布、多摩川、武蔵小杉、終点日吉です。</p>
									<p lang="en">Thank you for using the Tōkyū Meguro Line. This is the express bound for Hiyoshi.</p>
									<p>
										<span class="c-tokyu-announce -manners">東急電鉄からのお願いです。優先席ではお年寄りやお体の不自由なお客様、妊娠中や乳幼児をお連れのお客様には、席をお譲りください。車内マナーにご協力をお願いいたします。</span>
									</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小山到着</h3>
									<p>まもなく武蔵小山です。武蔵小山の次は大岡山に停まります。西小山、洗足には停まりません。出口は左側です。</p>
									<p lang="en">We will soon make a brief stop at Musashi-koyama. The stop after Musashi-koyama, will be Ōokayama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小山発車</h3>
									<p>この電車は急行日吉行きです。</p>
									<p lang="en">This is the express bound for Hiyoshi.</p>
									<p>
										<span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</span>
									</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小山～大岡山走行中</h3>
									<p>
										<span class="c-tokyu-announce -menu">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大岡山到着</h3>
									<p>まもなく大岡山です。<span class="c-tokyu-announce -change">大井町線はお乗り換えです。</span>出口は右側です。大岡山の次は田園調布に停まります。奥沢には停まりません。</p>
									<p lang="en">
										We will soon make a brief stop at Ōokayama.
										<span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span> The stop after Ōokayama, will be Den-en-chōfu.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大岡山発車</h3>
									<p>この電車は急行日吉行きです。</p>
									<p lang="en">This is the express bound for Hiyoshi.</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大岡山～田園調布走行中</h3>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</span>
									</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">田園調布到着</h3>
									<p>まもなく田園調布です。<span class="c-tokyu-announce -change">東横線中目黒、渋谷方面はお乗り換えです。</span>出口は左側です。田園調布の次は多摩川に停まります。</p>
									<p lang="en">
										We will soon make a brief stop at Den-en-chōfu.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line for Nakameguro and Shibuya, please transfer at this station.</span>
										The stop after Den-en-chōfu, will be Tamagawa.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">多摩川到着</h3>
									<p>まもなく多摩川です。<span class="c-tokyu-announce -change">東急多摩川線はお乗り換えです。</span>多摩川の次は武蔵小杉に停まります。新丸子には停まりません。お降りの際は、足元にご注意ください。</p>
									<p lang="en">
										We will soon make a brief stop at Tamagawa.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</span> The stop after Tamagawa, will be Musashi-kosugi.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小杉到着</h3>
									<p>まもなく武蔵小杉です。<span class="c-tokyu-announce -change">JR線はお乗り換えです。</span>武蔵小杉の次は日吉、終点です。元住吉には停まりません。</p>
									<p lang="en">
										We will soon make a brief stop at Musashi-kosugi.
										<span class="c-tokyu-announce -change">Passengers changing to the JR Line, please transfer at this station.</span> The stop after Musashi-kosugi, will be Hiyoshi.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">日吉到着</h3>
									<p>まもなく日吉、終点です。<span class="c-tokyu-announce -change">東横線、横浜市営地下鉄はお乗り換えです。</span>出口は左側です。お忘れ物無さいませんように、ご注意ください。本日も東急目黒線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">
										We will soon be arriving at Hiyoshi, the last stop of this line.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line, and the Yokohama Municipal Subway, please transfer at this station.</span>
										Thank you for using the Tōkyū Meguro Line.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">日吉到着後</h3>
									<p>ご乗車ありがとうございました。日吉、この電車の終点です。お忘れ物無さいませんように、ご注意ください。この電車は車庫に入ります。ご乗車にはなれませんので、ご注意ください。</p>
								</section>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2008年6月22日</span></dd>
								<dt>車種</dt>
								<dd>3000系6両編成</dd>
							</dl>
						</footer>
					</section>
				</div>
				<div class="l-main__footer">
					<nav role="navigation" class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_up_local_2006">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2009">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2020">上り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2006">上り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2008">上り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2020">上り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_down_local_2006">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2009">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2020">下り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2006">下り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a aria-current="page">下り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2020">下り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
