<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急目黒線 上り普通の自動放送（3000系、2006年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">目黒線 上り 普通</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2009" class="c-link">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2020" class="c-link">上り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2006" class="c-link">上り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2008" class="c-link">上り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2020" class="c-link">上り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_down_local_2006" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2009" class="c-link">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2020" class="c-link">下り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2006" class="c-link">下り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2008" class="c-link">下り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2020" class="c-link">下り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通ワンマン 浦和美園</span>行</h2>
							<p class="p-tokyu-announce__meta-period">2006年の急行運転開始まで</p>
							<p class="p-tokyu-announce__meta-note">（全国交通安全運動）</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小杉停車中</h3>
									<p class="p-tokyu-announce__chime">ご案内いたします。この電車は目黒方面、南北線・埼玉高速鉄道線直通、浦和美園行きです。</p>
									<p lang="en">This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono.</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小杉発車</h3>
									<p class="p-tokyu-announce__chime">東急目黒線をご利用くださいまして、ありがとうございます。この電車は目黒方面、南北線・埼玉高速鉄道線直通、浦和美園行きです。<span class="c-tokyu-announce -change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</span>次は新丸子、新丸子です。お出口は左側です。</p>
									<p lang="en">Thank you for using the Tōkyū Meguro Line. This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. The next station is Shin-maruko.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">新丸子発車</h3>
									<p class="p-tokyu-announce__chime">次は多摩川、多摩川です。<span class="c-tokyu-announce -change">東急多摩川線ご利用のお客様は乗り換えです。</span>次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
									<p>
										<span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車サイン音が鳴り終わりましたら、ドアが閉まりますので、無理なご乗車はお止めください。</span>
									</p>
									<p lang="en">
										The next station is Tamagawa.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">多摩川発車</h3>
									<p class="p-tokyu-announce__chime">次は田園調布、田園調布です。<span class="c-tokyu-announce -change">東横線渋谷方面ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Den-en-chōfu.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line for Shibiya, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">田園調布発車</h3>
									<p class="p-tokyu-announce__chime">この電車は南北線・埼玉高速鉄道線直通、浦和美園行きです。<span class="c-tokyu-announce -change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</span>次は奥沢、奥沢です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由なお客様には、席をお譲りくださいますよう、お願いします。</span></p>
									<p lang="en">This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. The next station is Okusawa.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">奥沢発車</h3>
									<p class="p-tokyu-announce__chime">次は大岡山、大岡山です。お出口は右側に変わります。<span class="c-tokyu-announce -change">大井町線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Ōokayama.
										<span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span>
									</p>
									<p>
										<span class="c-tokyu-announce -menu">お客様にお知らせいたします。ただいま全国交通安全運動を実施しております。線路への置き石、電車への投石など、列車妨害行為の防止に、ご協力ください。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大岡山発車</h3>
									<p class="p-tokyu-announce__chime">次は洗足、洗足です。お出口は左側に変わります。次の駅は電車とホームの間が一部広く空いております。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Senzoku.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">洗足発車</h3>
									<p class="p-tokyu-announce__chime">次は西小山、西小山です。お出口は右側に変わります。</p>
									<p lang="en">The next station is Nishi-koyama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">西小山発車</h3>
									<p class="p-tokyu-announce__chime">次は武蔵小山、武蔵小山です。</p>
									<p lang="en">The next station is Musashi-koyama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小山発車</h3>
									<p class="p-tokyu-announce__chime">次は不動前、不動前です。お出口は左側に変わります。</p>
									<p lang="en">The next station is Fudō-mae.</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。足を組んだり、前の方に出したりしますと、ほかのお客様のご迷惑となりますので、ご注意ください。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">不動前発車</h3>
									<p class="p-tokyu-announce__chime">次は目黒、目黒です。お出口は右側に変わります。<span class="c-tokyu-announce -change">山手線ご利用のお客様は乗り換えです。</span>この電車は南北線・埼玉高速鉄道線直通、浦和美園行きです。<span class="c-tokyu-announce -change">三田線ご利用のお客様は、目黒から二つ目の白金高輪駅でお乗り換えください。</span>東急目黒線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">
										The next station is Meguro.
										<span class="c-tokyu-announce -change">Passengers changing to the Yamanote Line, please transfer at this station.</span> This train will merge and continue traveling on the Namboku Line and the Saitama Railway Line to Urawa-misono. Thank you for using the Tōkyū Meguro Line.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__note">（地下鉄南北線へ直通）</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2006年4月15日</span></dd>
								<dt>車種</dt>
								<dd>3000系6両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2009" class="c-link">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_up_local_2020" class="c-link">上り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2006" class="c-link">上り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2008" class="c-link">上り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_up_exp_2020" class="c-link">上り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="meguro_down_local_2006" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2009" class="c-link">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="meguro_down_local_2020" class="c-link">下り 普通<span class="u-small">（2020年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2006" class="c-link">下り 急行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2008" class="c-link">下り 急行<span class="u-small">（2008年）</span></a>
							</li>
							<li>
								<a href="meguro_down_exp_2020" class="c-link">下り 急行<span class="u-small">（2020年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
