<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車　メニュー放送一覧</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">メニュー放送一覧</h1>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急線を走る列車の自動放送では、次駅案内や乗換案内のほかに、一部区間では優先席や足組みなどの注意喚起を行う各種運動放送が行われています。</p>
						<p>ワンマン運転を行う池上線では、これに加えて「メニュー放送」なるものが用意されており、2000年からは目黒線、東急多摩川線でも行われています。これは乗務員操作により、状況に応じて放送内容を変えることができるもので、通常時は携帯電話利用に関する放送が流れるのですが、列車遅延時や交通運動期間には専用の案内が行われます。</p>
						<p>ここでは、定められた期間内なら毎日聴くことができる、各種交通運動に関する放送を集めてみました。なお、世田谷線車両にもメニュー放送が用意されていますが、通常は乗務員によるマイク放送で案内されるので割愛します。</p>
					</div>

					<ol class="p-toc" aria-label="目次">
						<li><a href="#portable">携帯電話</a></li>
						<li><a href="#trans">全国交通安全運動</a></li>
						<li><a href="#summer">夏季の輸送対策と安全運動</a></li>
						<li><a href="#fire">全国火災予防運動</a></li>
						<li><a href="#year">年末年始輸送安全総点検</a></li>
						<li><a href="#link">参考リンク</a></li>
					</ol>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="portable">
						<div class="p-section__hdg">
							<h2>携帯電話<span class="p-section__subhdg">（通常時）</span></h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>池上、多摩川線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>目黒線</h3>
									</div>

									<div class="p-box">
										<p><b>池上、多摩川線と同内容</b></p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="trans">
						<div class="p-section__hdg">
							<h2>全国交通安全運動<span class="p-section__subhdg">（例年4月上旬、9月下旬）</span></h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>池上、多摩川線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま全国交通安全運動を実施しております。交通ルールを守り、事故を防止しましょう。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>目黒線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま全国交通安全運動を実施しております。線路への置き石、電車への投石など、列車妨害行為の防止に、ご協力ください。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="summer">
						<div class="p-section__hdg">
							<h2>夏季の輸送対策と安全運動<span class="p-section__subhdg">（例年7月下旬）</span></h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>池上、多摩川線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま夏季の輸送対策と安全運動を実施しております。踏切の無理な横断はお止めください。皆様方のご理解とご協力をお願い申し上げます。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>目黒線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま夏季の輸送対策と安全運動を実施しております。車内や駅構内で不審なものを発見されましたら、乗務員または駅係員までお知らせください。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="fire">
						<div class="p-section__hdg">
							<h2>全国火災予防運動<span class="p-section__subhdg">（例年11月中旬、3月上旬）</span></h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>池上、多摩川線</h3>
									</div>

									<div class="p-box">
										<p><b>設定なし</b>（通常時の放送が流れる）</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>目黒線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま全国火災予防運動を実施しております。危険品の車内持ち込みや車内でのお煙草は、事故の元になるばかりでなく、ほかのお客様のご迷惑となりますので、固くお断りいたします。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="year">
						<div class="p-section__hdg">
							<h2>年末年始輸送安全総点検<span class="p-section__subhdg">（例年12月下旬～1月上旬）</span></h2>
						</div>

						<div class="c-grid -wide -hdg-c">
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>池上、多摩川線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま年末年始輸送安全総点検を実施しております。危険物の車内持ち込みや、駆け込み乗車はお止めくださるよう、お願い申し上げます。</p>
									</div>
								</section>
							</div>
							<div class="c-grid__item">
								<section class="p-section -hdg-c">
									<div class="p-section__hdg">
										<h3>目黒線</h3>
									</div>

									<div class="p-box">
										<p>お客様にお知らせいたします。ただいま年末年始輸送安全総点検を実施しております。危険品の車内持ち込みや、駆け込み乗車はお止めください。お客様のご協力をお願いいたします。</p>
									</div>
								</section>
							</div>
						</div>
					</section>

					<section class="p-section -hdg-a" id="link">
						<div class="p-section__hdg">
							<h2>参考リンク</h2>
						</div>
						<ul class="p-links">
							<li><a href="http://www.mlit.go.jp/list/anzen_04.html" class="htmlbuild-domain">国土交通省／政策分野別情報／安全４</a></li>
							<li><a href="http://www.fdma.go.jp/" class="htmlbuild-domain">総務省消防庁</a></li>
						</ul>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
