<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急大井町線 上り普通の自動放送（9000系、2006年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">大井町線 上り 普通</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_2009" class="c-link">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_2017" class="c-link">上り 普通<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_down_local_2006" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_2009" class="c-link">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_2017" class="c-link">下り 普通<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_up_local_saginuma_2006" class="c-link">上り 普通 鷺沼発<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_saginuma_2009" class="c-link">上り 普通 鷺沼発<span class="u-small">（2009年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_down_local_saginuma_2006" class="c-link">下り 普通 鷺沼行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_saginuma_2009" class="c-link">下り 普通 鷺沼行<span class="u-small">（2009年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-period">2003年の携帯電話マナー変更から、旗の台駅追越し設備設置まで</h2>
							<p class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通 大井町</span>行</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">二子玉川発車</h3>
									<p>
										東急大井町線をご利用くださいまして、ありがとうございます。この電車は大井町行きです。次は上野毛、上野毛です。お出口は右側です。<span class="c-tokyu-announce -stand">お立ちのお客様は、吊り革・手摺りにお掴まりください。</span>
										<span class="c-tokyu-announce -door">この電車は途中の九品仏では後ろの1両扉が開きません。九品仏でお降りのお客様は、前の車両にお移りください。</span>
									</p>
									<p lang="en">Thank you for using the Tōkyū Ōimachi Line. This train is bound for Ōimachi. The next station is Kaminoge.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上野毛発車</h3>
									<p>次は等々力、等々力です。</p>
									<p lang="en">The next station is Todoroki.</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">等々力発車</h3>
									<p>次は尾山台、尾山台です。お出口は左側に変わります。</p>
									<p lang="en">The next station is Oyamadai.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">尾山台発車</h3>
									<p>次は九品仏、九品仏です。お出口は右側に変わります。<span class="c-tokyu-announce -door">次の九品仏では、後ろの1両扉が開きません。前の車両からお降りください。</span></p>
									<p lang="en">The next station is Kuhombutsu.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">九品仏発車</h3>
									<p>次は自由が丘、自由が丘です。お出口は左側に変わります。<span class="c-tokyu-announce -change">東横線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Jiyūgaoka.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">自由が丘発車</h3>
									<p>次は緑が丘、緑が丘です。</p>
									<p lang="en">The next station is Midorigaoka.</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力をお願いいたします。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">緑が丘発車</h3>
									<p>次は大岡山、大岡山です。<span class="c-tokyu-announce -change">目黒線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Ōokayama.
										<span class="c-tokyu-announce -change">Passengers changing to the Meguro Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大岡山発車</h3>
									<p>次は北千束、北千束です。お出口は右側に変わります。</p>
									<p lang="en">The next station is Kita-senzoku.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">北千束発車</h3>
									<p>次は旗の台、旗の台です。お出口は左側に変わります。<span class="c-tokyu-announce -change">池上線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Hatanodai.
										<span class="c-tokyu-announce -change">Passengers changing to the Ikegami Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">旗の台発車</h3>
									<p>次は荏原町、荏原町です。<span class="c-tokyu-announce -door">この電車は途中の戸越公園では前の2両扉が開きません。戸越公園でお降りのお客様は、後ろの車両にお移りください。</span></p>
									<p lang="en">The next station is Ebara-machi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">荏原町発車</h3>
									<p>次は中延、中延です。<span class="c-tokyu-announce -change">都営浅草線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Nakanobu.
										<span class="c-tokyu-announce -change">Passengers changing to the Toei Asakusa Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">中延発車</h3>
									<p>次は戸越公園、戸越公園です。<span class="c-tokyu-announce -door">次の戸越公園では、前の2両扉が開きません。後ろの車両からお降りください。</span></p>
									<p lang="en">The next station is Togoshi-kōen.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">戸越公園発車</h3>
									<p>次は下神明、下神明です。</p>
									<p lang="en">The next station is Shimo-shimmei.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大井町到着</h3>
									<p>まもなく大井町、大井町、終点です。<span class="c-tokyu-announce -change">JR京浜東北線、りんかい線ご利用のお客様は乗り換えです。</span>東急大井町線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">
										We will soon make a brief stop at Ōimachi. This is the last stop of this line.
										<span class="c-tokyu-announce -change">Passengers changing to the JR Keihin-tōhoku Line and the Rinkai Line, please transfer at this station.</span>
										Thank you for using the Tōkyū Ōimachi Line.
									</p>
								</section>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2006年2月15日</span></dd>
								<dt>車種</dt>
								<dd>9000系5両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a aria-current="page" class="c-link">上り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_2009" class="c-link">上り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_2017" class="c-link">上り 普通<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_down_local_2006" class="c-link">下り 普通<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_2009" class="c-link">下り 普通<span class="u-small">（2009年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_2017" class="c-link">下り 普通<span class="u-small">（2017年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_up_local_saginuma_2006" class="c-link">上り 普通 鷺沼発<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_up_local_saginuma_2009" class="c-link">上り 普通 鷺沼発<span class="u-small">（2009年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="oimachi_down_local_saginuma_2006" class="c-link">下り 普通 鷺沼行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="oimachi_down_local_saginuma_2009" class="c-link">下り 普通 鷺沼行<span class="u-small">（2009年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
