<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急世田谷線 上り 上町行の自動放送（2006年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">世田谷線 上り</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="setagaya_up_2006">上り <span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り 上町行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="setagaya_up_2015">上り<span class="u-small">（2015年）</span></a>
							</li>
							<li>
								<a href="setagaya_up_2016">上り<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="setagaya_down_2006">下り<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2006_2">下り<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2015">下り<span class="u-small">（2015年）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2016">下り<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="l-main__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通 上町</span>行</h2>
							<p class="p-tokyu-announce__meta-period">2006年春から、2015年まで</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">下高井戸発車</h3>
									<p>本日も東急世田谷線をご利用くださいましてありがとうございます。この電車は上町行きです。途中の駅でお降りのお客様は、中程2ヶ所のドアよりお降りください。<span class="c-tokyu-announce -manners">東急電鉄からのお願いです。優先席ではお年寄りやお体の不自由なお客様、妊娠中や乳幼児をお連れのお客様には席をお譲りください。車内マナーにご協力をお願いいたします。</span></p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">松原到着</h3>
									<p>まもなく松原です。出口は左側です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">山下到着</h3>
									<p>まもなく山下です。<span class="c-tokyu-announce -change">小田急線豪徳寺駅をご利用のお客様はお乗り換えです。</span>お降りの際は、足元にご注意ください。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">山下発車</h3>
									<p>この電車は上町行きです。途中の駅でお降りのお客様は、中程2ヶ所のドアよりお降りください。<span class="c-tokyu-announce -manners">東急電鉄からのお願いです。吊り革がオレンジ色の優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はお控えください。車内マナーにご協力をお願いいたします。</span></p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">宮の坂到着</h3>
									<p>まもなく宮の坂です。</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">上町到着</h3>
									<p>まもなく上町、この電車の終点です。お忘れ物なさいませんようにご注意ください。出口は中程2ヶ所のドアです。本日も東急世田谷線をご利用くださいましてありがとうございました。</p>
								</section>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2006年4月26日</span></dd>
								<dt>車種</dt>
								<dd>300系2両編成</dd>
							</dl>
						</footer>
					</section>
				</div>
				<div class="l-main__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="setagaya_up_2006">上り <span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a aria-current="page">上り 上町行<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="setagaya_up_2015">上り<span class="u-small">（2015年）</span></a>
							</li>
							<li>
								<a href="setagaya_up_2016">上り<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="setagaya_down_2006">下り<span class="u-small">（2006年1月）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2006_2">下り<span class="u-small">（2006年4月）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2015">下り<span class="u-small">（2015年）</span></a>
							</li>
							<li>
								<a href="setagaya_down_2016">下り<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
