<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急多摩川線　上りの自動放送（1000系1500番台、2014年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">東急多摩川線　上り<span class="p-title__sub-hdg">（1000系1500番台、2014年）</span></h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="tamagawa_up_2004_7700" class="c-link">上り 7700系<span class="u-small">（2004年）</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">上り 1000系1500番台<span class="u-small">（2014年）</span></a>
							</li>
							<li>
								<a href="tamagawa_up_2016_7700" class="c-link">上り 7700系<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="tamagawa_up_2016_1000" class="c-link">上り 1000系<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="tamagawa_down_2006_7700" class="c-link">下り 7700系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2014_1500" class="c-link">下り 1000系1500番台<span class="u-small">（2014年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2016_7700" class="c-link">下り 7700系<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2016_1000" class="c-link">下り 1000系<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<div class="p-tokyu-announce">
						<div class="p-tokyu-announce__header">
							<p class="p-tokyu-announce__train"><span class="c-tokyu-train -local">普通ワンマン　多摩川</span>行</p>
							<p class="p-tokyu-announce__car">1000系1500番台に搭載されているタイプ</p>
							<p class="p-tokyu-announce__period">2014年の1500番台営業開始から、2015年まで</p>
						</div>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section>
									<h2>蒲田停車中</h2>
									<p>東急多摩川線をご利用くださいまして、ありがとうございます。この電車は多摩川行きです。</p>
									<p lang="en">Thank you for using the Tōkyū Tamagawa Line. This train is bound for Tamagawa.</p>
								</section>
								<section>
									<h2>蒲田発車</h2>
									<p>東急多摩川線をご利用くださいまして、ありがとうございます。この電車は多摩川行きです。次は矢口渡、矢口渡です。お出口は左側です。</p>
									<p><span class="c-tokyu-announce -oneman">この電車はワンマン運転を行っております。発車ベルが鳴り終わりましたらドアが閉まりますので、無理なご乗車はお止めください。</span></p>
									<p lang="en">Thank you for using the Tōkyū Tamagawa Line. This train is bound for Tamagawa. The next station is Yaguchi-no-watashi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>矢口渡発車</h2>
									<p>次は武蔵新田、武蔵新田です。</p>
									<p lang="en">The next station is Musashi-nitta.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>武蔵新田発車</h2>
									<p>次は下丸子、下丸子です。<span class="c-tokyu-announce -manners">お年寄りや体の不自由なお客様には、席をお譲りください。皆様のご協力をお願いいたします。</span></p>
									<p lang="en">The next station is Shimomaruko.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>下丸子発車</h2>
									<p>次は鵜の木、鵜の木です。</p>
									<p lang="en">The next station is Unoki.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>鵜の木発車</h2>
									<p>次は沼部、沼部です。</p>
									<p lang="en">The next station is Numabe.</p>
									<p><span class="c-tokyu-announce -menu">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span></p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section>
									<h2>沼部発車</h2>
									<p>次は多摩川、多摩川、終点です。<span class="c-tokyu-announce -change">東横線、目黒線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">The next station is Tamagawa. This is the last stop of this line. <span class="c-tokyu-announce -change">Passengers changing to the Tōyoko Line and the Meguro Line, please transfer at this station.</span></p>
								</section>
								<section>
									<h2>多摩川到着</h2>
									<p>まもなく多摩川、多摩川、終点です。東急多摩川線をご利用くださいましてありがとうございました。</p>
									<p lang="en">We will soon be arriving at Tamagawa. Thank you for using the Tōkyū Tamagawa Line.</p>
								</section>
							</div>
						</div>
						<div class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<div>
									<dt>収録日</dt>
									<dd><span class="htmlbuild-datetime">2014年5月11日</span></dd>
								</div>
								<div>
									<dt>車種</dt>
									<dd>1000系（1500番台）3両編成</dd>
								</div>
							</dl>
						</div>
					</div>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li>
								<a href="tamagawa_up_2004_7700" class="c-link">上り 7700系<span class="u-small">（2004年）</span></a>
							</li>
							<li>
								<a aria-current="page" class="c-link">上り 1000系1500番台<span class="u-small">（2014年）</span></a>
							</li>
							<li>
								<a href="tamagawa_up_2016_7700" class="c-link">上り 7700系<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="tamagawa_up_2016_1000" class="c-link">上り 1000系<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li>
								<a href="tamagawa_down_2006_7700" class="c-link">下り 7700系<span class="u-small">（2006年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2014_1500" class="c-link">下り 1000系1500番台<span class="u-small">（2014年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2016_7700" class="c-link">下り 7700系<span class="u-small">（2016年）</span></a>
							</li>
							<li>
								<a href="tamagawa_down_2016_1000" class="c-link">下り 1000系<span class="u-small">（2016年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
