<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急東横線 上り普通の自動放送（9000系、2011年）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/an/">東急電車の自動放送</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">東横線 上り 普通</h1>
					</div>

					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li class="c-link">
								<a aria-current="page">上り 普通<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_exp_2011">上り 急行<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_ltd_2011">上り 特急<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_hibiya_2011">上り 日比谷線直通<span class="u-small">（2011年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li class="c-link">
								<a href="toyoko_down_local_2011">下り 普通<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_exp_2011">下り 急行<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_ltd_2011">下り 特急<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_hibiya_2006">下り 日比谷線直通<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<main class="l-content__main">
					<section class="p-tokyu-announce">
						<header class="p-tokyu-announce__header">
							<h2 class="p-tokyu-announce__meta-train"><span class="c-tokyu-train -local">普通 渋谷</span>行</h2>
							<p class="p-tokyu-announce__meta-car">9000系に搭載されているタイプ</p>
							<p class="p-tokyu-announce__meta-period">2008年の副都心線渋谷延伸から、2013年の副都心線直通開始まで</p>
						</header>
						<div class="p-tokyu-announce__main">
							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">横浜停車中</h3>
									<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車渋谷行きです。</p>
									<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This is the local train bound for Shibuya.</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">横浜発車</h3>
									<p>この電車は各駅停車渋谷行きです。次は反町、反町です。お降りの際は、足元にご注意ください。</p>
									<p lang="en">This is the local train bound for Shibuya. The next station is Tammachi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">反町発車</h3>
									<p>次は東白楽、東白楽です。お出口は左側です。</p>
									<p lang="en">The next station is Higashi-hakuraku.</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">東白楽発車</h3>
									<p>次は白楽、白楽です。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Hakuraku.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">白楽発車</h3>
									<p>次は妙蓮寺、妙蓮寺です。お降りの際は、足元にご注意ください。</p>
									<p lang="en">The next station is Myōrenji.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">妙蓮寺発車</h3>
									<p>次は菊名、菊名です。<span class="c-tokyu-announce -change">JR横浜線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Kikuna.
										<span class="c-tokyu-announce -change">Passengers changing to the JR Yokohama Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">菊名発車</h3>
									<p>この電車は各駅停車渋谷行きです。次は大倉山、大倉山です。お出口は左側です。</p>
									<p lang="en">This is the local train bound for Shibuya. The next station is Ōkurayama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">大倉山発車</h3>
									<p>次は綱島、綱島です。</p>
									<p lang="en">The next station is Tsunashima.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">綱島発車</h3>
									<p>次は日吉、日吉です。<span class="c-tokyu-announce -change">目黒線、横浜市営地下鉄ご利用のお客様は乗り換えです。</span>お出口は右側です。</p>
									<p lang="en">
										The next station is Hiyoshi.
										<span class="c-tokyu-announce -change">Passengers changing to the Meguro Line, and the Yokohama Municipal Subway, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">日吉発車</h3>
									<p>次は元住吉、元住吉です。</p>
									<p lang="en">The next station is Motosumiyoshi.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">元住吉発車</h3>
									<p>次は武蔵小杉、武蔵小杉です。<span class="c-tokyu-announce -change">目黒線、JR線ご利用のお客様は乗り換えです。</span>お出口は右側です。</p>
									<p lang="en">
										The next station is Musashi-kosugi.
										<span class="c-tokyu-announce -change">Passengers changing to the Meguro Line, and the JR Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小杉停車中</h3>
									<p>東急東横線をご利用くださいまして、ありがとうございます。この電車は各駅停車渋谷行きです。</p>
									<p lang="en">Thank you for using the Tōkyū Tōyoko Line. This is the local train bound for Shibuya.</p>
								</section>
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">武蔵小杉発車</h3>
									<p>この電車は各駅停車渋谷行きです。次は新丸子、新丸子です。</p>
									<p lang="en">This is the local train bound for Shibuya. The next station is Shin-maruko.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">新丸子発車</h3>
									<p>次は多摩川、多摩川です。<span class="c-tokyu-announce -change">東急多摩川線ご利用のお客様は乗り換えです。</span>お降りの際は、足元にご注意ください。</p>
									<p lang="en">
										The next station is Tamagawa.
										<span class="c-tokyu-announce -change">Passengers changing to the Tōkyū Tamagawa Line, please transfer at this station.</span>
									</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。各車両に優先席が設けてあります。皆様のご理解とご協力を、お願いいたします。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">多摩川発車</h3>
									<p>次は田園調布、田園調布です。<span class="c-tokyu-announce -change">目黒線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Den-en-chōfu.
										<span class="c-tokyu-announce -change">Passengers changing to the Meguro Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">田園調布発車</h3>
									<p>次は自由が丘、自由が丘です。<span class="c-tokyu-announce -change">大井町線ご利用のお客様は乗り換えです。</span></p>
									<p lang="en">
										The next station is Jiyūgaoka.
										<span class="c-tokyu-announce -change">Passengers changing to the Ōimachi Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">自由が丘発車</h3>
									<p>この電車は各駅停車渋谷行きです。次は都立大学、都立大学です。お出口は左側です。</p>
									<p lang="en">This is the local train bound for Shibuya. The next station is Toritsu-daigaku.</p>
									<p>
										<span class="c-tokyu-announce -manners">お客様にお願いいたします。優先席付近では携帯電話の電源をお切りください。それ以外の場所ではマナーモードに設定のうえ、通話はご遠慮ください。ご協力をお願いいたします。</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">都立大学発車</h3>
									<p>次は学芸大学、学芸大学です。お出口は右側です。</p>
									<p lang="en">The next station is Gakugei-daigaku.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">学芸大学発車</h3>
									<p>次は祐天寺、祐天寺です。お出口は左側です。</p>
									<p lang="en">The next station is Yūtenji.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">祐天寺発車</h3>
									<p>次は中目黒、中目黒です。<span class="c-tokyu-announce -change">日比谷線ご利用のお客様は乗り換えです。</span>お出口は右側です。</p>
									<p lang="en">
										The next station is Naka-meguro.
										<span class="c-tokyu-announce -change">Passengers changing to the Hibiya Line, please transfer at this station.</span>
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">中目黒発車</h3>
									<p>次は代官山、代官山です。お出口は左側です。</p>
									<p lang="en">The next station is Daikan-yama.</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">代官山発車</h3>
									<p>次は渋谷、渋谷、終点です。<span class="c-tokyu-announce -change">田園都市線、JR線、京王井の頭線、銀座線、半蔵門線、副都心線ご利用のお客様は乗り換えです。</span>お降りの際は、足元にご注意ください。東急東横線をご利用くださいまして、ありがとうございました。</p>
									<p lang="en">
										The next station is Shibuya. This is the last stop of this line.
										<span class="c-tokyu-announce -change">Passengers changing to the Den-en-toshi Line, the JR Line, the Keiō Inokashira Line, the Ginza Line, the Hanzōmon Line, and the Fukutoshin Line, please transfer at this station.</span>
										Thank you for using the Tōkyū Tōyoko Line.
									</p>
								</section>
							</div>

							<div class="p-tokyu-announce__station">
								<section class="p-tokyu-announce__announce">
									<h3 class="p-tokyu-announce__hdg">渋谷到着後</h3>
									<p>渋谷、渋谷、終点です。お忘れ物のないよう、ご注意ください。</p>
								</section>
							</div>
						</div>
						<footer class="p-tokyu-announce__footer">
							<dl class="p-tokyu-announce__data">
								<dt>収録日</dt>
								<dd><span class="htmlbuild-datetime">2011年7月31日</span></dd>
								<dt>車種</dt>
								<dd>9000系8両編成</dd>
							</dl>
						</footer>
					</section>
				</main>
				<div class="l-content__footer">
					<nav class="p-local-nav">
						<ul class="p-local-nav__list">
							<li class="c-link">
								<a aria-current="page">上り 普通<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_exp_2011">上り 急行<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_ltd_2011">上り 特急<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_up_hibiya_2011">上り 日比谷線直通<span class="u-small">（2011年）</span></a>
							</li>
						</ul>
						<ul class="p-local-nav__list">
							<li class="c-link">
								<a href="toyoko_down_local_2011">下り 普通<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_exp_2011">下り 急行<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_ltd_2011">下り 特急<span class="u-small">（2011年）</span></a>
							</li>
							<li class="c-link">
								<a href="toyoko_down_hibiya_2006">下り 日比谷線直通<span class="u-small">（2006年）</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
