<section class="ads">
	<h2>広告</h2>

	<ins class="adsbygoogle js-ads-google" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-3297715785193216" data-ad-slot="9399879773"></ins>
</section>

<style>
	@layer component {
		/* ===== アドセンス ===== */
		.ads {
			margin-inline: auto;
			inline-size: min(100%, 960px);
		}

		.adsbygoogle {
			display: block flow;
		}
	}
</style>
