---
interface Props {
	pagePath: string;
}

const { pagePath } = Astro.props;
---

<ul class="nav">
	{
		[
			{ path: '/info', name: '制作者' },
			{ path: '/privacy', name: 'プライバシーポリシー', rel: 'privacy-policy' },
			{ path: '/technology', name: '当サイトの Web 技術' },
			{ path: '/contact', name: '問い合わせ' },
		].map(({ path, name, rel }) => (
			<li>
				<a href={path !== pagePath ? path : undefined} rel={path !== pagePath ? rel : undefined} aria-current={path === pagePath ? 'page' : undefined}>
					{name}
				</a>
			</li>
		))
	}
</ul>

<style>
	@layer component {
		.nav {
			--_flex-direction: column;

			display: block flex;
			flex-direction: var(--_flex-direction);
			flex-wrap: wrap;
			gap: 1em 2em;
			justify-content: flex-start;

			@container footer-nav (inline-size >= 30em) {
				--_flex-direction: row;
			}

			& :any-link {
				outline-offset: var(--outline-offset-linkonly);
			}
		}
	}
</style>
