---
interface Props {
	pagePath: string;
}

const { pagePath } = Astro.props;
---

<ul class="nav">
	{
		[
			{ path: '/info', name: '制作者' },
			{ path: '/privacy', name: 'プライバシーポリシー' },
			{ path: '/technology', name: '当サイトの Web 技術' },
			{ path: '/contact', name: '問い合わせ' },
		].map((page) => (
			<li>
				{page.path === pagePath && <a aria-current="page">{page.name}</a>}
				{page.path !== pagePath && <a href={page.path}>{page.name}</a>}
			</li>
		))
	}
</ul>

<style>
	.nav {
		--_flex-direction: column;

		display: block flex;
		flex-flow: var(--_flex-direction) wrap;
		gap: 1em 2em;
		justify-content: flex-start;

		@container footer-nav (inline-size >= 30em) {
			--_flex-direction: row;
		}

		& :any-link {
			outline-offset: var(--outline-offset-linkonly);
		}
	}
</style>
