<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車　主要機器搭載表（路線別）</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:sidebar:amazon" content="tokyu" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<main role="main" id="main" class="l-main">
				<div class="l-main__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/data/">東急電車の車両データ</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-page-title">
						<h1 itemprop="name">主要機器搭載表<span class="p-page-title__sub-hdg">（路線別）</span></h1>
						<p class="p-page-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2009年3月31日</span>更新</p>
					</div>

					<nav role="navigation" class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="form_car">車種別</a></li>
							<li><a aria-current="page">路線別</a></li>
						</ul>
					</nav>

					<div class="p-description" itemprop="description">
						<p>東京急行電鉄、横浜高速鉄道の車両（新5000系以降を除く）について、制御装置、補助電源装置、空気圧縮機、蓄電池の搭載状況を編成表形式で紹介します。</p>
					</div>

					<ol class="p-subtoc" role="directory">
						<li><a href="#toyoko">東横線</a></li>
						<li><a href="#meguro">目黒線</a></li>
						<li><a href="#dento">田園都市線</a></li>
						<li><a href="#oimachi">大井町線</a></li>
						<li><a href="#iketama">池上、多摩川線</a></li>
						<li><a href="#kodomo">こどもの国線</a></li>
						<li><a href="#setagaya">世田谷線</a></li>
					</ol>
				</div>
				<div class="l-main__main">
					<section class="p-section -hdg-a" id="toyoko">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">東横線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">9000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">9000形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">9200形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">9700形 <span class="c-tokyu-form-type -t">T2</span></th>
											<th scope="col">9300形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">9800形 <span class="c-tokyu-form-type -t">T1</span></th>
											<th scope="col">9400形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">9600形 <span class="c-tokyu-form-type -m-ac">M0</span></th>
											<th scope="col">9100形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">1000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">1000形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">1250形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">1200形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">1350形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">1300形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">1450形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">1400形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">1100形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="meguro">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">目黒線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">3000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">3000形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">3250形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">3200形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">3500形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">3400形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">3100形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-igbt">IGBT-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-igbt">IGBT-VVVF</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">210kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">210kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 C2500</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 C2500</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・60Ah / 24V・30Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・60Ah / 24V・30Ah</span></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="dento">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">田園都市線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8500系（CP3台編成）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8600形 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">8700形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8900形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8800形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8700形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8800形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8700形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8900形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8800形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8500形 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
								<div class="p-note">
									<p class="p-note__note"><span class="p-note__mark">※</span> <span class="p-note__text">18次車以降の空気圧縮機はHS-20形</span></p>
								</div>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8500系（CP4台編成・8637F）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">デハ8637 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">デハ8797 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">サハ8973 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">デハ0801 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">デハ8798 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">デハ0808 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">デハ0711 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">サハ8980 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">デハ0803 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">デハ8537 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8500系（VVVF車組込・8642F）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">デハ8642 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">デハ0710 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">サハ8979 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">デハ0818 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">デハ0718 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">デハ0802 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">デハ8799 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">サハ8974 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">デハ0809 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">デハ8542 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8090系（先頭車が8590系）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8690形 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8390形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8390形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8590形 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">2000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">2000形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">2250形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">2200形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">2700形 <span class="c-tokyu-form-type -t">T2</span></th>
											<th scope="col">2350形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">2300形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">2800形 <span class="c-tokyu-form-type -t">T1</span></th>
											<th scope="col">2450形 <span class="c-tokyu-form-type -m-ac">M2</span></th>
											<th scope="col">2400形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">2100形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="oimachi">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">大井町線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8090系（先頭車が12～13次車）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8090形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">8490形 <span class="c-tokyu-form-type -m-dc">M</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8090形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">140kVA-MG</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-few">10kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000（2台）</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span>、<span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
								<div class="p-note">
									<p class="p-note__note"><span class="p-note__mark">※</span> <span class="p-note__text">デハ8296の補助電源装置は100kVA-SIV</span></p>
								</div>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8090系（先頭車が16～17次車）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8090形 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">8490形 <span class="c-tokyu-form-type -m-dc">M</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8090形 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-few">10kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000（2台）</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span>、<span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
								<div class="p-note">
									<p class="p-note__note"><span class="p-note__mark">※</span> <span class="p-note__text">デハ8298、8282、8290の補助電源装置は100kVA-SIV</span></p>
								</div>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8090系（先頭車が8590系）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8690形 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">8190形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8390形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8290形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8590形 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HB-2000（2台）</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah（2台）</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">8500系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">8600形 <span class="c-tokyu-form-type -m-dc">M2c</span></th>
											<th scope="col">8700形 <span class="c-tokyu-form-type -m-dc">M1</span></th>
											<th scope="col">8900形 <span class="c-tokyu-form-type -t">T</span></th>
											<th scope="col">8800形 <span class="c-tokyu-form-type -m-dc">M2</span></th>
											<th scope="col">8500形 <span class="c-tokyu-form-type -m-dc">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-ch">界磁チョッパ</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-few">2kVA-SIV</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">170kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">9000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">クハ9007 <span class="c-tokyu-form-type -tc">Tc2</span></th>
											<th scope="col">デハ9207 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">デハ9407 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">デハ9607 <span class="c-tokyu-form-type -m-ac">M0</span></th>
											<th scope="col">クハ9107 <span class="c-tokyu-form-type -tc">Tc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
											<td></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">デヤ7200形</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">デヤ7200 <span class="c-tokyu-form-type -m-dc">cMc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td><span class="c-tokyu-form-device -ctr-r">抵抗制御</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">50kVA-SIV</span></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">デヤ7290形</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">デヤ7290 <span class="c-tokyu-form-type -m-dc">cMc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td><span class="c-tokyu-form-device -ctr-r">抵抗制御</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-few">7.5kVA-MG</span>、<span class="c-tokyu-form-device -aps-few">5.5kVA-MG</span></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">サヤ7590形</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">サヤ7590 <span class="c-tokyu-form-type -t">T</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="iketama">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">池上、多摩川線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">7600系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">7600形 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">7670形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">7650形 <span class="c-tokyu-form-type -m-ac">Mc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">90kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span></td>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-24">24V・20Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">7700系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">7900形 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">7800形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">7700形 <span class="c-tokyu-form-type -m-ac">Mc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・40Ah</span>、<span class="c-tokyu-form-device -bt-24">24V・20Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">7700系（7915F）</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">クハ7915 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">デハ7815 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">デハ7715 <span class="c-tokyu-form-type -m-ac">Mc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-igbt">IGBT-VVVF</span></td>
											<td rowspan="2"><span class="c-tokyu-form-device -ctr-siv">IGBT-VVVF（140kVA-SIV一体型）</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-20</span></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span>、<span class="c-tokyu-form-device -bt-24">24V・20Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">1000N′系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">1000形 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">1200形 <span class="c-tokyu-form-type -m-ac">M</span></th>
											<th scope="col">1310形 <span class="c-tokyu-form-type -m-ac">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-10</span></td>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-10</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">1000N系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">1000形 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">1200形 <span class="c-tokyu-form-type -m-ac">M1</span></th>
											<th scope="col">1310形 <span class="c-tokyu-form-type -m-ac">M1c</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
											<td><span class="c-tokyu-form-device -ctr-gto">GTO-VVVF</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">120kVA-SIV</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-20（2台）</span></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td></td>
											<td><span class="c-tokyu-form-device -bt-124">100V・30Ah / 24V・30Ah</span></td>
											<td><span class="c-tokyu-form-device -bt-100">100V・30Ah</span></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="kodomo">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">こどもの国線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">横浜高速鉄道Y000系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">Y000形 <span class="c-tokyu-form-type -tc">Tc</span></th>
											<th scope="col">Y010形 <span class="c-tokyu-form-type -m-ac">Mc</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td rowspan="2"><span class="c-tokyu-form-device -ctr-siv">IGBT-VVVF（80kVA-SIV一体型）</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-ac">交流 HS-5（2台）</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-124">100V・60Ah / 24V・30Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>

					<section class="p-section -hdg-a" id="setagaya">
						<div class="p-hdg">
							<h2 class="p-hdg__hdg">世田谷線</h2>
						</div>

						<div class="p-tokyu-form">
							<section class="p-section -hdg-c">
								<div class="p-hdg">
									<h3 class="p-hdg__hdg">300系</h3>
								</div>

								<table class="p-tokyu-form__form">
									<thead>
										<tr>
											<th></th>
											<th scope="col">300B形 <span class="c-tokyu-form-type -m-ac">Mc2</span></th>
											<th scope="col">300A形 <span class="c-tokyu-form-type -m-ac">Mc1</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">制御装置</th>
											<td></td>
											<td><span class="c-tokyu-form-device -ctr-igbt">IGBT-VVVF</span></td>
										</tr>
										<tr>
											<th scope="row">補助電源</th>
											<td><span class="c-tokyu-form-device -aps-much">20kVA-SIV</span></td>
											<td><span class="c-tokyu-form-device -aps-much">20kVA-SIV</span></td>
										</tr>
										<tr>
											<th scope="row">空気圧縮機</th>
											<td><span class="c-tokyu-form-device -cp-dc">直流 HS-5（2台）</span></td>
											<td></td>
										</tr>
										<tr>
											<th scope="row">蓄電池</th>
											<td><span class="c-tokyu-form-device -bt-124">100V・20Ah / 24V・80Ah</span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</section>
				</div>
				<div class="l-main__footer">
					<nav role="navigation" class="p-local-nav">
						<ul class="p-local-nav__list">
							<li><a href="form_car">車種別</a></li>
							<li><a aria-current="page">路線別</a></li>
						</ul>
					</nav>
				</div>
			</main>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
