<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急電車　保存車両リスト</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://analytics.w0s.jp/matomo/matomo.js" async=""></script>
		<script src="/assets/script/analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/data/">東急電車の車両データ</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">保存車両リスト</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2019年10月21日</span>更新</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>東急電鉄関連の日本国内の保存車リストです。廃車体を含む一方、現役車両用の部品取り車は含みません。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="list">
						<div class="p-section__hdg">
							<h2>保存車リスト</h2>
						</div>

						<table class="p-table">
							<thead>
								<tr>
									<th scope="col">東急車号</th>
									<th scope="col">譲渡先車号</th>
									<th scope="col">保存場所</th>
									<th scope="col">備考</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>目黒蒲田モハ41</td>
									<td>日立電鉄モハ101</td>
									<td>埼玉県　<a href="http://www.railway-museum.jp/">鉄道博物館</a></td>
									<td>鉄道院ナデ6141に復元、重要文化財</td>
								</tr>
								<tr>
									<td>池上電気デハ2</td>
									<td>日ノ丸自動車デハ203</td>
									<td>鳥取県　<a href="https://www.town.nanbu.tottori.jp/admin/kouminkan/saihaku_koumin/">南部町公民館さいはく分館</a></td>
									<td>鳥取県保護文化財</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>デハ3450</td>
									<td></td>
									<td>神奈川県　<a href="https://www.tokyu.co.jp/museum-2/">電車とバスの博物館</a></td>
									<td>目黒蒲田電鉄モハ510に復元</td>
								</tr>
								<tr>
									<td>デハ3455</td>
									<td></td>
									<td>千葉県　<a href="http://isumigakuen.or.jp/">いすみ学園</a></td>
									<td>台車間の床下機器は撤去</td>
								</tr>
								<tr>
									<td>デハ3456</td>
									<td></td>
									<td>神奈川県　<a href="https://www.tokyu.co.jp/museum-2/">電車とバスの博物館</a></td>
									<td>車体前部のみ、宮崎台移転時に台車撤去</td>
								</tr>
								<tr>
									<td>デハ3499</td>
									<td>東急車輛製造</td>
									<td>群馬県前橋市富士見町</td>
									<td><a href="http://www.mc-tc.net/3499/">デハ3499号車保存会</a>により修復中</td>
								</tr>
								<tr>
									<td>デハ3655</td>
									<td>十和田観光電鉄モハ3603</td>
									<td>青森県　十和田観光電鉄七百車庫跡</td>
									<td><a href="https://www.facebook.com/%E4%B8%83%E7%99%BE%E3%83%AC%E3%83%BC%E3%83%AB%E3%83%95%E3%82%A1%E3%83%B3%E3%82%AF%E3%83%A9%E3%83%96-1014675581876815/">七百レールファンクラブ</a>により管理</td>
								</tr>
								<tr>
									<td>クハ3773</td>
									<td>弘南鉄道クハ3773</td>
									<td>青森県　<a href="https://web.archive.org/web/20171113174735/http://www.hirosakipark.or.jp/takanagane/">高長根レクリエーションの森</a>跡</td>
									<td></td>
								</tr>
								<tr>
									<td>サハ3104</td>
									<td>加悦鉄道サハ3104</td>
									<td>京都府　<a href="http://www.kyt-net.jp/kayaslhiroba/">加悦SL広場</a></td>
									<td>車体は大改装</td>
								</tr>
								<tr>
									<td>デハ5001</td>
									<td>上田交通モハ5001</td>
									<td>東京都　渋谷駅ハチ公前広場</td>
									<td>車体前部のみ</td>
								</tr>
								<tr>
									<td>デハ5015</td>
									<td>長野電鉄モハ2510</td>
									<td>長野県　<a href="http://w1.avis.ne.jp/~fukachan/">トレインギャラリーNAGANO</a></td>
									<td></td>
								</tr>
								<tr>
									<td>デハ5016</td>
									<td>長野電鉄クハ2560</td>
									<td>長野県　<a href="http://w1.avis.ne.jp/~fukachan/">トレインギャラリーNAGANO</a></td>
									<td></td>
								</tr>
								<tr>
									<td>デハ5031</td>
									<td>熊本電気鉄道モハ5101A</td>
									<td>熊本県　熊本電気鉄道北熊本車庫</td>
									<td>動態保存</td>
								</tr>
								<tr>
									<td>デハ5048</td>
									<td>松本電気鉄道クハ5006</td>
									<td>長野県　アルピコ交通新村車庫</td>
									<td>ワンマン機器撤去</td>
								</tr>
								<tr>
									<td>デハ5055</td>
									<td>松本電気鉄道モハ5005</td>
									<td>長野県　アルピコ交通新村車庫</td>
									<td>ワンマン機器撤去</td>
								</tr>
								<tr>
									<td>デハ5201</td>
									<td>上田交通モハ5201</td>
									<td>神奈川県　<a href="https://www.j-trec.co.jp/">総合車両製作所</a></td>
									<td>東急車輛産業遺産</td>
								</tr>
								<tr>
									<td>デハ5202</td>
									<td>上田交通クハ5251</td>
									<td>長野県　上田電鉄下之郷車庫</td>
									<td>集電装置復元</td>
								</tr>
								<tr>
									<td>デハ6005</td>
									<td>弘南鉄道デハ6005</td>
									<td>青森県　弘南鉄道津軽大沢車庫</td>
									<td>車体のみ</td>
								</tr>
								<tr>
									<td>デハ6105</td>
									<td></td>
									<td>青森県　弘南鉄道平賀車庫</td>
									<td>車体のみ</td>
								</tr>
								<tr>
									<td>デハ6106</td>
									<td></td>
									<td>青森県　弘南鉄道平賀車庫</td>
									<td>車体のみ</td>
								</tr>
								<tr>
									<td>デハ6108</td>
									<td></td>
									<td>青森県　弘南鉄道平賀車庫</td>
									<td>車体のみ</td>
								</tr>
								<tr>
									<td>デハ7017</td>
									<td>秩父鉄道デハ2001</td>
									<td>埼玉県大里郡寄居町</td>
									<td>車体前部のみ</td>
								</tr>
								<tr>
									<td>デハ7028</td>
									<td>秩父鉄道デハ2304</td>
									<td>埼玉県大里郡寄居町</td>
									<td>車体前部のみ</td>
								</tr>
								<tr>
									<td>デハ7052</td>
									<td>東急車輛製造</td>
									<td>神奈川県　<a href="https://www.j-trec.co.jp/">総合車両製作所</a></td>
									<td>東急車輛産業遺産</td>
								</tr>
								<tr>
									<td>デハ7061</td>
									<td>秩父鉄道デハ2004</td>
									<td>埼玉県秩父市</td>
									<td>車体前部のみ</td>
								</tr>
								<tr>
									<td>デハ7258</td>
									<td>上田電鉄モハ7255</td>
									<td>千葉県市原市ちはら台南</td>
									<td>一部の床下機器撤去</td>
								</tr>
								<tr>
									<td>クハ7558</td>
									<td>上田電鉄クハ7555</td>
									<td>千葉県市原市ちはら台南</td>
									<td></td>
								</tr>
								<tr>
									<td>デハ7702</td>
									<td></td>
									<td>東京都　藤久ビル東5号館（<a href="https://honto.jp/store/detail_1570187_14HB310.html">丸善 池袋店</a>）</td>
									<td>車体前頭部のみ</td>
								</tr>
								<tr>
									<td>デキ3021</td>
									<td></td>
									<td>群馬県　上毛電気鉄道大胡車庫</td>
									<td>動態保存</td>
								</tr>
								<tr>
									<td>日車3450台車</td>
									<td></td>
									<td>山梨県　河口湖駅前</td>
									<td>富士山麓電気鉄道モ1復元車が履用</td>
								</tr>
								<tr>
									<td>川車3450台車</td>
									<td>上田交通クハ271</td>
									<td>長野県　<a href="https://chihiro.jp/azumino/visit/floormap/chihiropark/">安曇野ちひろ公園</a></td>
									<td>長野電鉄モハ604に復元</td>
								</tr>
								<tr>
									<td>デハ3450形車輪</td>
									<td></td>
									<td>東京都　東急労働会館</td>
									<td></td>
								</tr>
								<tr>
									<td>KS-33型台車</td>
									<td>大井川鐵道クハ6061</td>
									<td>石川県　<a href="https://yukemuri.kagashi-ss.com/">山中温泉ゆけむり健康村</a></td>
									<td></td>
								</tr>
								<tr>
									<td>旧3000系車輪</td>
									<td></td>
									<td>神奈川県　長津田車両工場</td>
									<td>車種不明、電動車用</td>
								</tr>
								<tr>
									<td>旧3000系車輪</td>
									<td></td>
									<td>神奈川県　<a href="https://www.tokyu.co.jp/museum-2/">電車とバスの博物館</a></td>
									<td>車種不明</td>
								</tr>
								<tr>
									<td>TS-701型台車</td>
									<td></td>
									<td>群馬県　上毛電気鉄道大胡車庫</td>
									<td>4台（2両分）</td>
								</tr>
								<tr>
									<td>TS-701台車車輪</td>
									<td></td>
									<td>東京都　新奥沢駅跡近く</td>
									<td>4軸（1両分）</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>デハ87</td>
									<td>江ノ島電鉄デハ601</td>
									<td>東京都　<a href="https://www.city.setagaya.lg.jp/mokuji/kusei/012/002/002/d00004100.html">宮坂区民センター</a></td>
									<td></td>
								</tr>
								<tr>
									<td>デハ88</td>
									<td>江ノ島電鉄デハ651</td>
									<td>神奈川県　扇屋（江ノ島駅近く）</td>
									<td>車体前頭部のみ</td>
								</tr>
								<tr>
									<td>デハ204</td>
									<td></td>
									<td>神奈川県　<a href="https://www.tokyu.co.jp/museum-2/">電車とバスの博物館</a></td>
									<td></td>
								</tr>
								<tr>
									<td>デハ70形車輪</td>
									<td></td>
									<td>東京都　東急労働会館</td>
									<td></td>
								</tr>
								<tr>
									<td>吊掛車車輪</td>
									<td></td>
									<td>神奈川県　長津田車両工場</td>
									<td>車種不明</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section class="p-section -hdg-a" id="map">
						<div class="p-section__hdg">
							<h2>保存車マップ</h2>
						</div>

						<figure>
							<div class="p-embed -border">
								<iframe src="https://www.google.com/maps/d/embed?mid=1wcErO5GFrxTDWgFmFvooaScjytnyRnSy&amp;hl=ja" title="保存車両マップ" style="height: min(100vh, 720px)"></iframe>
							</div>
							<figcaption class="c-caption -meta">
								<p><a href="https://www.google.com/maps/d/viewer?mid=1wcErO5GFrxTDWgFmFvooaScjytnyRnSy&amp;hl=ja&amp;usp=sharing" class="c-link">Google マップのページで見る</a></p>
							</figcaption>
						</figure>
					</section>
				</main>
				<div class="l-content__footer"></div>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
