<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<title>東急8500系　大容量SIV形式一覧</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="w0s:blog:newly" content="railway" />
		<meta name="w0s:amazon" content="railway" />
		<%- include('./_include/_head_ogp_tokyu') %>

		<link rel="stylesheet" href="/assets/style/tokyu.css" />
		<link rel="stylesheet" href="/assets/style/layout_full.css" title="通常表示" />
		<link rel="alternate stylesheet" href="/assets/style/layout_reader.css" title="リーダー表示" id="stylesheet-print" />

		<script src="/assets/script/trusted-types.js"></script>
		<script src="/assets/script/w0s.mjs" type="module"></script>
		<script src="https://www.googletagmanager.com/gtag/js?id=G-SZYWFCF4JS" defer=""></script>
		<script src="/assets/script/google-analytics.js" defer=""></script>
	</head>
	<body itemscope="" itemtype="http://schema.org/WebPage">
		<div class="l-page">
			<%- include('./_include/_header_tokyu') %>

			<div id="content" class="l-content">
				<div class="l-content__header">
					<div class="p-topic-path">
						<p itemprop="breadcrumb"><a href="/tokyu/">ホーム</a><span class="p-topic-path__separator">&gt;</span><a href="/tokyu/data/">東急電車の車両データ</a><span class="p-topic-path__separator">&gt;</span><a aria-current="page">現在のページ</a></p>
					</div>

					<div class="p-title">
						<h1 itemprop="name">8500系　大容量SIV形式一覧</h1>
						<p class="p-title__update"><span itemprop="dateModified" class="htmlbuild-datetime">2005年2月1日</span>更新</p>
					</div>

					<div class="p-attention">
						<p>
							<span class="p-attention__mark">※</span>
							<span class="p-attention__text"><strong>このコンテンツの最終更新日は古いため、現状とは異なる記述になっているかもしれません。</strong></span>
						</p>
					</div>

					<div class="p-description" itemprop="description">
						<p>8500系の冷房電源はMGとSIVを含めて5種類が存在しますが、このうちSIVのバリエーションを紹介します。</p>
					</div>
				</div>
				<main class="l-content__main">
					<section class="p-section -hdg-a" id="explain">
						<div class="p-section__hdg">
							<h2>概要</h2>
						</div>

						<div class="p-text">
							<p>8500系の冷房電源は当初MGでしたが、7-2次車で逆導通サイリスタを使用した大容量SIVが搭載され、13次車からはGTOサイリスタ式のBS-482形、18次車からは出力電圧を440Vに上げたINV-008形となりました。</p>
							<p>1990年より初期SIVの更新工事が開始されINV-029形に換装、1993年からは主回路素子にIGBTを使用したINV-095形となり、1996年までに置き換えが完了しました。</p>
						</div>
					</section>

					<section class="p-section -hdg-a" id="table">
						<div class="p-section__hdg">
							<h2>SIV形式一覧表</h2>
						</div>
						<table class="p-table">
							<colgroup></colgroup>
							<colgroup span="2"></colgroup>
							<colgroup span="2"></colgroup>
							<thead>
								<tr>
									<th scope="colgroup" rowspan="2">編成</th>
									<th scope="colgroup" colspan="2">3号車</th>
									<th scope="colgroup" colspan="2">8号車</th>
								</tr>
								<tr>
									<th scope="col">車号</th>
									<th scope="col">SIV型式</th>
									<th scope="col">車号</th>
									<th scope="col">SIV型式</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">8606F</th>
									<td>8947（13次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8923（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8607F</th>
									<td>8948（13次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8924（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8608F</th>
									<td>8949（13次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8925（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8609F</th>
									<td>8950（13次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8926（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8610F</th>
									<td>8951（13次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8927（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8611F</th>
									<td>8911（7-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8928（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8612F</th>
									<td>8912（7-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8929（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8613F</th>
									<td>8913（7-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8930（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8614F</th>
									<td>8914（8次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8938（11-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8615F</th>
									<td>8915（8次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8932（10-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8616F</th>
									<td>8916（8次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8952（14-1次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8617F</th>
									<td>8934（11-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8953（14-1次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8618F</th>
									<td>8935（11-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
									<td>8954（14-1次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8619F</th>
									<td>8936（11-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
									<td>8955（14-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8620F</th>
									<td>8937（11-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8956（14-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8621F</th>
									<td>8941（12-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8957（14-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8622F</th>
									<td>8942（12-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8958（14-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8623F</th>
									<td>8943（12-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8960（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8624F</th>
									<td>8944（12-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8920（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8625F</th>
									<td>8945（12-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8921（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8626F</th>
									<td>8946（12-2次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
									<td>8922（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8627F</th>
									<td>8917（9-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8939（11-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8628F</th>
									<td>8918（9-2次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
									<td>8940（11-1次車）</td>
									<td class="c-tokyu-siv -inv095">INV-095</td>
								</tr>
								<tr>
									<th scope="row">8629F</th>
									<td>8919（9-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8931（10-1次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
								</tr>
								<tr>
									<th scope="row">8630F</th>
									<td>8933（10-2次車）</td>
									<td class="c-tokyu-siv -inv029">INV-029</td>
									<td>8959（14-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8631F</th>
									<td>8961（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8962（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8632F</th>
									<td>8963（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8964（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8633F</th>
									<td>8965（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8966（15次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8634F</th>
									<td>8967（16-3次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8968（16-3次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8635F</th>
									<td>8969（17-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8970（17-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8636F</th>
									<td>8971（17-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
									<td>8972（17-2次車）</td>
									<td class="c-tokyu-siv -bs482">BS-482</td>
								</tr>
								<tr>
									<th scope="row">8637F</th>
									<td>8973（18-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td>8980（19-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
								</tr>
								<tr>
									<th scope="row">8638F</th>
									<td>8975（18-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td colspan="2" class="u-cell -center">―</td>
								</tr>
								<tr>
									<th scope="row">8639F</th>
									<td>8976（18-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td colspan="2" class="u-cell -center">―</td>
								</tr>
								<tr>
									<th scope="row">8640F</th>
									<td>8977（18-2次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td colspan="2" class="u-cell -center">―</td>
								</tr>
								<tr>
									<th scope="row">8641F</th>
									<td>8978（18-2次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td colspan="2" class="u-cell -center">―</td>
								</tr>
								<tr>
									<th scope="row">8642F</th>
									<td>8979（19-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
									<td>8974（18-1次車）</td>
									<td class="c-tokyu-siv -inv008">INV-008</td>
								</tr>
							</tbody>
						</table>
					</section>
				</main>
			</div>

			<%- include('./_include/_sidebar') %> <%- include('./_include/_footer') %>
		</div>
	</body>
</html>
