/* ==============================
 *   ウェブ巡回
 * ============================== */
.p-admin-crawler-table-ctrl {
	display: flex;
	flex-direction: column;
	gap: 0.5em 0;
	text-align: center;
}

.p-admin-crawler-diff {
	border: 1px solid;
	color: var(--color-black);
	background: var(--color-white);
	font-size: 85%;

	& td {
		padding: 0.25em 0.5em;
	}

	& pre {
		white-space: pre-wrap;
	}
}

.p-admin-crawler-diff__line {
	--bgcolor: var(--color-white);

	background: var(--bgcolor);

	&.-added {
		--bgcolor: #e6ffec;
	}

	&.-removed {
		--bgcolor: #ffebe9;
	}
}

.p-admin-crawler-diff__type {
	text-align: center;
	font-weight: bold;
}

/* ==============================
 *   Amazon商品広告管理
 * ============================== */
.p-admin-astore-list {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	& > li {
		--column: 4;

		padding: 0.75em;
		border: 1px solid #ccc;
		border-radius: var(--border-radius-normal);
		box-sizing: border-box;
		width: calc((100% - 15px * (var(--column) - 1)) / var(--column));
		background: #ffc;
		line-height: var(--line-height-narrow);

		@media (max-width: 60em) {
			--column: 3;
		}

		@media (max-width: 40em) {
			--column: 2;
		}
	}
}

.p-admin-astore-list__ctrl {
}

.p-admin-astore-list__asin {
	margin-left: 1em;
}

.p-admin-astore-list__link {
	margin-top: 1em;
	display: flow-root;
	font-size: 90%;
}

.p-admin-astore-list__image {
	margin-right: 15px;
	float: left;
}

.p-admin-astore-list__title {
	display: block;
	overflow-wrap: break-word;
}

.p-admin-astore-list__date {
	margin-top: 0.5em;
	display: block;
}

.p-admin-astore-list__code {
	margin-top: 1em;

	& > li {
		margin-top: 0.25em;
		padding: 0.25em;
		border: 1px solid #ccc;
		background: var(--color-white);
		font-size: 75%;
	}
}

/* ==============================
 *   日記用Amazon商品一覧
 * ============================== */
.p-admin-blog-amazon-edit-table {
	& button {
		white-space: nowrap;
	}
}

/* ==============================
 *   日記編集
 * ============================== */
.p-admin-blog-message-preview {
	border: 1px solid var(--color-black);
	max-height: 75vh;
	overflow-y: scroll;
}

.p-admin-blog-select-image {
	& label {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	& [type="radio"] {
		display: none;
	}

	& img {
		display: block;
		max-width: 240px;
		max-height: 240px;
	}

	& :checked + img {
		outline: 2px solid red;
	}
}

.p-admin-blog-select-image-errors {
	& > li {
		padding: 1em;
		border: 1px solid #f00;
		border-radius: var(--border-radius-large);
		background: #fee;
	}
}
