/* ==============================
 *   コンテンツエリア（.l-content__header, l-content__footer）
 * ============================== */

/* ===== パンくず ===== */
.p-topic-path {
	--_stack-margin-row: 0.5em;
	--_line-height: var(--line-height-narrow);

	line-height: var(--_line-height);

	& > p {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0 0.5em;
	}
}

.p-topic-path__separator {
	font-family: monospace;
}

/* ===== ページタイトル ===== */
.p-title {
	--_stack-margin-row: 0.75em;
	--_line-height: var(--line-height-narrow);

	line-height: var(--_line-height);

	& h1 {
		padding: 0.75em 1.5%;
		border: 1px solid var(--color-black);
		border-radius: var(--border-radius-small);
		background: linear-gradient(var(--color-white), var(--color-bg-verydark));
		font-size: clamp(calc(100% * var(--font-ratio-1)), 7vw, calc(100% * var(--font-ratio-5)));
		font-weight: var(--font-weight-bold);
		text-shadow: 1px 1px 1px var(--color-lightgray);
	}
}

.p-title__sub-hdg {
	font-size: 60%;
	font-weight: var(--font-weight-normal);
	text-shadow: none;
}

.p-title__update {
	margin-top: 0.5em;
	text-align: right;
}

/* ===== ローカルナビ ===== */
.p-local-nav {
	--_stack-margin-row: 3em;
	--_stack-width: min(50em, 100%);
	--_line-height: var(--line-height-narrow);

	line-height: var(--_line-height);
}

.p-local-nav__list {
	display: flex;
	flex-flow: wrap;

	&:not(:first-child) {
		margin-top: 0.5em;
	}

	& > li {
		margin: -0.5px;
		border: 1px solid var(--color-border-light);
		display: flex;
		flex: auto;
	}

	& a {
		--_bg-color: var(--color-white);

		padding: 0.75em;
		flex: 100%;
		background: var(--_bg-color);
		text-align: center;
		outline-width: 2px;
		outline-offset: -1.5px;

		&:any-link {
			&:hover {
				--_bg-color: var(--color-bg-verylight);
			}
		}

		/* 現在ページ */
		&:not(:any-link) {
			--_bg-color: var(--color-bg-lightpink);

			color: var(--color-darkgray);
		}
	}
}

/* ===== 注意事項 ===== */
.p-attention {
	--_stack-margin-row: 2em;

	padding: 1em 12px;
	border: 1px solid #f00;
	color: #d00;
	background: #fee;
}

.p-attention__mark,
.p-attention__text {
	display: table-cell;
	font-weight: var(--font-weight-bold);
	vertical-align: top;
}

.p-attention__mark {
	padding-right: 0.1em;
}

/* ===== コンテンツ説明 ===== */
.p-description {
	--_stack-margin-row: 3em;
	--_stack-width: min(50em, 90%);

	& > p {
		text-indent: 1em;

		& + p {
			margin-top: 0.5em;
		}
	}
}

/* ===== ステップ ===== */
.p-step {
	--_stack-margin-row: 2em;
	--_line-height: var(--line-height-narrow);
	--_step-arrow-color: var(--page-bg-color); /* 矢印の色 */
	--_step-arrow-width: 2px; /* 矢印の幅 */
	--_step-arrow-height: 1.15em; /* 矢印の高さ */
	--_step-arrow-inclination: 0.6; /* 矢印の傾斜度（高さに対する割合、 1 = 45°） */

	display: flex;
	line-height: var(--_line-height);

	& > li {
		margin: var(--_step-arrow-width) var(--_step-arrow-width) var(--_step-arrow-width) 0;
		flex: auto;
		position: relative;
		font-size: calc(1rem * var(--font-ratio-1));
		text-align: center;

		&:not(:first-child) {
			& .p-step__text {
				padding-left: 1.5em;
			}
		}

		&:not(:last-child) {
			&::after {
				border-top: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
				border-bottom: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
				border-left: calc(var(--_step-arrow-height) * var(--_step-arrow-inclination)) solid var(--_step-arrow-color);
				content: "";
				position: absolute;
				top: calc(50% - var(--_step-arrow-height) - (var(--_step-arrow-width) / 2));
				left: 100%;
				transform: translateX(var(--_step-arrow-width));
				z-index: 1;
			}

			& .p-step__text {
				&::after {
					border-top: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
					border-bottom: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
					border-left: calc(var(--_step-arrow-height) * var(--_step-arrow-inclination)) solid;
					border-left-color: inherit;
					content: "";
					position: absolute;
					top: calc(50% - var(--_step-arrow-height) - (var(--_step-arrow-width) / 2));
					left: 100%;
					z-index: 2;
				}
			}
		}
	}
}

.p-step__text {
	padding: 0.5em;
	border-color: var(--color-bg-dark);
	display: block;
	background: var(--color-bg-dark);

	&.-current {
		border-color: #fdd;
		color: var(--color-darkgray);
		background-color: #fdd;
		font-weight: var(--font-weight-bold);
	}
}

/* ===== 目次 ===== */
.p-toc {
	--_stack-margin-row: 3em;
	--_icon-width: 0.75em;
	--_icon-height: 0.5625em;
	--_icon-color: var(--color-gray);
	--_icon-gap: 0.5em; /* アイコンと後続テキストの間隔 */

	padding: 1em;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-verylight);
	line-height: var(--line-height-narrow);

	& > li {
		margin-left: calc(var(--_icon-width) + var(--_icon-gap));

		& + li {
			margin-top: 0.5em;
		}
	}

	& :any-link {
		margin-left: calc(0px - var(--_icon-width) - var(--_icon-gap));

		&::before {
			margin-right: var(--_icon-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-pagelink-triangle);
			width: var(--_icon-width);
			height: var(--_icon-height);
			background: var(--_icon-color);
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}
