/* ==============================
 *   コンテンツエリア（.l-content__header, l-content__footer）
 * ============================== */

/* ===== パンくず ===== */
.p-topic-path {
	line-height: var(--line-height-narrow);

	&:not(:last-child) {
		margin-block-end: 0.75em;
	}

	& > p {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0 0.5em;
	}

	& :any-link {
		outline-offset: var(--outline-offset-linkonly);
	}
}

.p-topic-path__separator {
	font-family: monospace;
}

/* ===== ページタイトル ===== */
.p-title {
	line-height: var(--line-height-narrow);

	@nest .p-topic-path + & {
		margin-block-start: 0.75em;
	}

	& > h1 {
		padding: 0.75em 1.5%;
		border: 1px solid var(--color-black);
		border-radius: var(--border-radius-small);
		background: linear-gradient(var(--color-white), var(--color-bg-dark));
		font-size: clamp(calc(100% * var(--font-ratio-1)), 7vw, calc(100% * var(--font-ratio-5)));
		text-shadow: 1px 1px 1px var(--color-lightgray);
	}
}

.p-title__sub-hdg {
	font-size: calc(100% / var(--font-ratio-4));
	font-weight: var(--font-weight-normal);
	text-shadow: none;
}

.p-title__update {
	margin-block-start: 0.5em;
	text-align: end;
}

/* ===== ローカルナビ ===== */
.p-local-nav {
	margin-inline: auto;
	width: min(50em, 100%);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.p-local-nav__list {
	display: flex;
	flex-flow: wrap;

	& > li {
		margin: -0.5px;
		border: 1px solid var(--color-border-light);
		display: flex;
		flex: auto;
		line-height: var(--line-height-narrow);
	}

	& a {
		--_bg-color: var(--color-white);

		padding: 0.75em;
		flex: 100%;
		contain: content;
		background: var(--_bg-color);
		text-align: center;
		outline-width: var(--outline-width-bold);
		outline-offset: calc(1px - var(--outline-width-bold));

		&:any-link {
			&:hover {
				--_bg-color: var(--color-bg-verylight);
			}
		}

		/* 現在ページ */
		&:not(:any-link) {
			--_bg-color: var(--color-lightpink);

			color: var(--color-darkgray);
		}
	}
}

/* ===== 注意事項 ===== */
.p-attention {
	margin-inline: auto;
	padding: 1em 12px;
	border: 1px solid var(--color-red);
	box-sizing: border-box;
	width: min(50em, 90%);
	color: var(--color-darkred);
	background: var(--color-lightred);
	font-weight: var(--font-weight-bold);
}

.p-attention__mark,
.p-attention__text {
	display: table-cell;
	vertical-align: top;
}

.p-attention__mark {
	padding-inline-end: 0.125em;
}

/* ===== コンテンツ説明 ===== */
.p-description {
	margin-inline: auto;
	width: min(50em, 90%);

	& > p {
		text-indent: 1em;

		& + p {
			margin-block-start: 0.5em;
		}
	}
}

/* ===== ステップ ===== */
.p-step {
	--_step-arrow-color: var(--page-bg-color); /* 矢印の色 */
	--_step-arrow-width: 2px; /* 矢印の幅 */
	--_step-arrow-height: 1.15em; /* 矢印の高さ */
	--_step-arrow-inclination: 0.6; /* 矢印の傾斜度（高さに対する割合、 1 = 45°） */

	display: flex;
	contain: content;
	line-height: var(--line-height-narrow);

	& > li {
		margin: var(--_step-arrow-width) var(--_step-arrow-width) var(--_step-arrow-width) 0;
		flex: auto;
		position: relative;
		font-size: calc(100% * var(--font-ratio-1));
		text-align: center;

		&:not(:first-child) {
			& .p-step__text {
				padding-inline-start: 1.5em;
			}
		}

		&:not(:last-child) {
			&::after {
				border-block-start: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
				border-block-end: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
				border-inline-start: calc(var(--_step-arrow-height) * var(--_step-arrow-inclination)) solid var(--_step-arrow-color);
				content: "";
				position: absolute;
				top: calc(50% - var(--_step-arrow-height) - (var(--_step-arrow-width) / 2));
				left: 100%;
				transform: translateX(var(--_step-arrow-width));
				z-index: 1;
			}

			& .p-step__text {
				&::after {
					border-block-start: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
					border-block-end: calc(var(--_step-arrow-height) + var(--_step-arrow-width)) solid transparent;
					border-inline-start: calc(var(--_step-arrow-height) * var(--_step-arrow-inclination)) solid;
					border-inline-start-color: inherit;
					content: "";
					position: absolute;
					top: calc(50% - var(--_step-arrow-height) - (var(--_step-arrow-width) / 2));
					left: 100%;
					z-index: 2;
				}
			}
		}
	}
}

.p-step__text {
	padding: 0.5em;
	border-color: var(--color-bg-dark);
	display: block;
	background: var(--color-bg-dark);

	&.-current {
		border-color: #fdd;
		color: var(--color-darkgray);
		background-color: #fdd;
		font-weight: var(--font-weight-bold);
	}
}

/* ===== 目次 ===== */
.p-toc {
	--_icon-width: 0.75em; /* アイコンの幅 */
	--_icon-height: calc(var(--_icon-width) * 0.75); /* アイコンの高さ */
	--_icon-color: var(--color-gray); /* アイコンの色 */
	--_icon-gap: 0.5em; /* アイコンと後続テキストの間隔 */

	padding: 1.25em min(1.25vw, 1.25em);
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-verylight);
	line-height: var(--line-height-narrow);

	& > li {
		margin-inline-start: calc(var(--_icon-width) + var(--_icon-gap));
		font-size: calc(100% * var(--font-ratio-1));

		& + li {
			margin-block-start: 0.75em; /* 平均的な文字分量の特性上、 blog.w0s.jp よりあえて広い値とする */
		}

		& > ol > li {
			margin-block-start: 0.5em;
			margin-inline-start: calc(var(--_icon-width) + var(--_icon-gap));
			font-size: calc(100% / var(--font-ratio-1));
		}
	}

	& :any-link {
		margin-inline-start: calc(0px - var(--_icon-width) - var(--_icon-gap));
		outline-offset: var(--outline-offset-linkonly);

		&::before {
			margin-inline-end: var(--_icon-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-pagelink-triangle);
			width: var(--_icon-width);
			height: var(--_icon-height);
			background: var(--_icon-color);
		}

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}
