/* ===== 公式サイトニュース ===== */
.p-madoka-official-news {
	& > li {
		margin-top: 1em;
		padding-bottom: 1em;
		border-bottom: 1px dotted #ccc;
	}

	&.-compact {
		& > li {
			margin-top: 0.5em;
			padding-bottom: 0.5em;
		}

		& .p-madoka-official-news__title {
			margin-top: 0;
			font-size: 1rem;
			font-weight: var(--font-weight-normal);
		}
	}
}

.p-madoka-official-news__date {
	color: #666; /* lighten(var(--page-color), 40%) */
}

.p-madoka-official-news__title {
	margin-top: 0.25em;
	font-size: calc(1rem * var(--font-ratio-2));
	font-weight: var(--font-weight-bold);

	& :any-link {
		--bullet-width: 0.45em;
		--bullet-height: 0.75em;
		--bullet-color: #0bb;
		--bullet-gap: 0.5em;

		padding-left: calc(var(--bullet-width) + var(--bullet-gap));
		display: inline-block;
		font-size: calc(1rem * var(--font-ratio-1));
		text-indent: calc(0em - var(--bullet-width) - var(--bullet-gap));

		&::before {
			margin-right: var(--bullet-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-link-triangle);
			width: var(--bullet-width);
			height: var(--bullet-height);
			background: var(--bullet-color);
		}

		&:focus,
		&:hover {
			--bullet-color: var(--link-color-hover);
		}
	}
}

.p-madoka-official-news__message {
	margin-top: 1em;
	font-size: calc(1rem / var(--font-ratio-1));
}

.p-madoka-official-news__images {
	margin-top: 1em;
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
	gap: 15px;

	& img {
		max-width: 240px;
		height: auto;
	}
}
