/*
リンク

Styleguide 2.4.
*/

/*
商品リンク

Markup:
<div class="p-item">
<a href="https://example.com/">
<img src="https://dummyimage.com/360x180/ccc/fff" alt="" class="p-item__image"/>
<span class="p-item__title">タイトル</span>
</a>
<div class="p-item__text">
<p>テキスト</p>
</div>
</div>

Styleguide 2.4.1
*/
.p-item {
	--_gap: 15px;
	--_bullet-width: 0.45em;
	--_bullet-height: 0.75em;
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	display: flow-root;
	font-size: calc(100% * var(--font-ratio-2));
	line-height: var(--line-height-narrow);
}

.p-item__image {
	margin-right: calc(var(--_gap) + var(--_bullet-width) + var(--_bullet-gap));
	border: 1px solid var(--color-black);
	float: left;
	height: auto;
	max-width: 50%;

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.p-item__title {
	margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));

	&::before {
		margin-right: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
	}

	@nest :any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}
}

.p-item__text {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-2));
	line-height: var(--line-height-normal);
	overflow: hidden;
}
