/*
リスト

Styleguide 2.3.
*/

/*
通常リスト

Markup:
<ul class="p-list">
<li>リストテキスト</li>
<li>リストテキスト
<ul>
<li>リストテキスト</li>
</ul></li>
<li><p>リスト文章</p></li>
<li><p>リスト文章</p>
<ul>
<li><p>リスト文章</p></li>
</ul></li>
</ul>

Styleguide 2.3.1
*/
.p-list {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& > li {
		margin-left: 1em;
		list-style-type: disc;

		& > p:first-child {
			margin-top: 0.5em;
		}

		&:not(:last-child) {
			& > ol,
			& > ul {
				& > li:last-child {
					margin-bottom: 0.25em;
				}
			}
		}

		& > ol,
		& > ul {
			& > li {
				margin-left: 1em;
				list-style-type: circle;

				& > p:first-child {
					margin-top: 0.25em;
				}

				&:not(:last-child) {
					& > ol,
					& > ul {
						& > li:last-child {
							margin-bottom: 0.25em;
						}
					}
				}

				& > ol,
				& > ul {
					& > li {
						margin-left: 1em;
						list-style-type: square;
						font-size: 90%;
					}
				}
			}
		}
	}
}

/*
番号リスト

Markup:
<ul class="p-list-num">
<li>リストテキスト</li>
<li>リストテキスト</li>
<li><p>リスト文章</p></li>
</ul>

Styleguide 2.3.2
*/
.p-list-num {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& > li {
		margin-left: 1.5em;
		list-style: decimal;

		& > p:first-child {
			margin-top: 0.5em;
		}
	}
}

/*
記述リスト

Markup:
<dl class="p-list-description">
<dt>タイトル</dt>
<dd>テキスト</dd>
<dt>タイトル</dt>
<dd>テキスト</dd>
</dl>

Styleguide 2.3.3
*/
.p-list-description {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& > dt {
		font-weight: bold;
	}

	& > dd {
		margin-left: 1em;

		& + dt {
			margin-top: 0.5em;
		}
	}
}
