/*
埋め込みコンテンツ

Styleguide 2.6.
*/

/*
ブロック画像

Markup:
<div class="p-image">
<div class="p-image__image-area">
<img src="https://dummyimage.com/320x180/ccc/fff" alt="" class="c-image"/>
</div>
</div>

Styleguide 2.6.1
*/
.p-image {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
}

.p-image__image-area {
	position: relative;

	& > a {
		&::before {
			padding: 4px;
			box-sizing: border-box;
			position: absolute;
			top: 1px;
			left: 1px;
			content: "";
			height: 24px;
			width: 24px;
			display: block;
			background: rgba(0, 0, 0, 70%) var(--image-image-expand) center/contain no-repeat content-box border-box;
		}

		& .c-image {
			min-width: 25px;
			min-height: 25px;
		}

		&:hover,
		&:focus {
			outline: var(--focus-ring-width) solid var(--focus-ring-color);

			&::before {
				padding: 3px;
			}

			& .c-image {
				border-color: var(--focus-ring-color);
			}
		}
	}
}

/*
動画

Markup:
<div class="p-video">
<figure class="p-video__video-area">
<video controls="" poster="https://dummyimage.com/320x180/ccc/fff" width="320" height="180">
<source src="hoge.mp4" type="video/mp4"/>
</video>
</figure>
</div>

Styleguide 2.6.2
*/
.p-video {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
}

.p-video__video-area {
}

/*
音声

Markup:
<div class="p-audio">
<figure class="p-audio__audio-area">
<audio src="hoge.m4a" controls="" preload="none">
</audio>
</figure>
</div>

Styleguide 2.6.3
*/
.p-audio {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
}

.p-audio__audio-area {
}

/*
テキスト & 画像横並び

Markup:
<div class="p-image-sbs {{modifier_class}}">
<div class="p-image-sbs__text-area">
<p>テキスト</p>
</div>
<div class="p-image-sbs__image-area">
<img src="https://dummyimage.com/320x180/ccc/fff" alt="" class="c-image"/>
</div>
</div>

.-text-first - テキストが先（左）
.-image-first - 画像が先（左）
.-small - 画像サイズ小
.-medium - 画像サイズ中
.-large - 画像サイズ大

Styleguide 2.6.4
*/
.p-image-sbs {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	display: flex;
	gap: 15px 20px;

	/* テキストエリアが先頭（左） */
	&.-text-first {
		& .p-image-sbs__text-area {
			order: 1;
		}

		& .p-image-sbs__image-area {
			order: 2;
		}
	}

	/* 画像エリアが先頭（左） */
	&.-image-first {
		& .p-image-sbs__text-area {
			order: 2;
		}

		& .p-image-sbs__image-area {
			order: 1;
		}
	}

	&.-small {
		@media (max-width: 30em) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}

	&.-medium {
		@media (max-width: 37.5em) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}

	&.-large {
		@media (--viewport-main-full) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}
}

.p-image-sbs__text-area {
	& > :first-child {
		margin-top: 0;
	}
}

.p-image-sbs__image-area {
	flex-shrink: 0;
	position: relative;

	& > a {
		&::before {
			padding: 4px;
			box-sizing: border-box;
			position: absolute;
			top: 1px;
			left: 1px;
			content: "";
			height: 24px;
			width: 24px;
			display: block;
			background: rgba(0, 0, 0, 70%) var(--image-image-expand) center/contain no-repeat content-box border-box;
		}

		& .c-image {
			min-width: 25px;
			min-height: 25px;
		}

		&:hover,
		&:focus {
			outline: var(--focus-ring-width) solid var(--focus-ring-color);

			&::before {
				padding: 3px;
			}

			& .c-image {
				border-color: var(--focus-ring-color);
			}
		}
	}
}
