/*
タイル状レイアウト（等幅グリッド）

Markup:
<div class="p-tile {{modifier_class}}">
<div class="p-tile__tile">
<p>タイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイル</p>
</div>
<div class="p-tile__tile">
<p>タイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイル</p>
</div>
<div class="p-tile__tile">
<p>タイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイル</p>
</div>
<div class="p-tile__tile">
<p>タイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイル</p>
</div>
<div class="p-tile__tile">
<p>タイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイルタイル</p>
</div>
</div>

.-wide - 2カラム
.-medium - 3カラム
.-narrow - 4カラム
.-wide - 2カラム

Styleguide 2.5.
*/
.p-tile {
	--gap: 0 30px;

	display: grid;
	gap: var(--gap);

	/* ===== 2カラム ===== */
	&.-wide {
		@media (min-width: 44.4em) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	/* ===== 3カラム ===== */
	&.-medium {
		@media (min-width: 33.4em) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 50.3em) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	/* ===== 4カラム ===== */
	&.-narrow {
		@media (min-width: 26.75em) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 40.4em) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 54.1em) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.p-tile__tile {
}
