/*
表

Styleguide 2.7.
*/

/*
データ表

Markup:
<table class="p-table-data {{modifier_class}}">
<caption>キャプション<small>（注釈）</small></caption>
<thead>
<tr>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">見出し</th>
<td>データ</td>
<td>データ</td>
</tr>
<tr>
<th scope="row">見出し</th>
<td>データ</td>
<td>データ</td>
</tr>
</tbody>
<tfoot>
<tr>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
<th scope="col">見出し</th>
</tr>
</tfoot>
</table>

.-full - 全幅
.-thead-nowrap - thead 内改行禁止
.-tbody-th-nowrap - tbody th 内改行禁止

Styleguide 2.7.1
*/
.p-table-data {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& + .p-table-data {
		margin-top: 25px;
	}

	& > caption {
		font-weight: bold;
		text-align: center;

		& small {
			font-size: calc(1rem / var(--font-ratio-1));
			font-weight: normal;
		}
	}

	& col {
		width: var(--col-width, auto);
	}

	& th,
	& td {
		padding: 0.55em min(1vw, 10px) 0.45em;
		border: 1px solid var(--color-black);
		font-size: clamp(calc(var(--font-size, 1rem) / var(--font-ratio-1)), 2vw, var(--font-size, 1rem));

		& > :first-child {
			margin-top: 0;
		}
	}

	& th {
		background: #eee;
		font-weight: normal;
		text-align: left;
	}

	& td {
		background: var(--color-white);
	}

	& > thead {
		& th {
			background: #ddd;
			font-weight: bold;
			text-align: center;
		}
	}

	& > thead + tbody,
	& > tbody + tbody,
	& > tfoot {
		& > tr:first-child {
			& > th,
			& > td {
				border-top-width: 2px;
			}
		}
	}

	& > tfoot {
		& th,
		& td {
			background: #f4f4f4;
		}
	}

	/* 全幅の表 */
	&.-full {
		width: 100%;
	}

	/* 表ヘッダーの見出しセルを改行禁止にする */
	&.-thead-nowrap {
		& > thead {
			& td,
			& th {
				white-space: nowrap;
			}
		}
	}

	/* 表本体の見出しセルを改行禁止にする */
	&.-tbody-th-nowrap {
		& > tbody {
			& th {
				white-space: nowrap;
			}
		}
	}
}
