/* ==============================
 *   東急電車形態研究・写真がメインのページ
 * ============================== */

/* ===== スペック ===== */
.p-tokyu-spec {
	margin: 0.25em 0 0;
	color: #666;
	font-size: calc(1rem / var(--font-ratio-1));
}
