/* ===== トップページナビゲーション ===== */
.p-madoka-library-top-nav {
	margin: 4em 20px;
	display: grid;
	grid-gap: min(1.5vw, 20px);
	grid-template-columns: repeat(3, 1fr);

	@media (--viewport-main-full) {
		margin-left: 0;
		margin-right: 0;
	}

	@media screen and (max-width: 24em) {
		grid-template-columns: repeat(2, 1fr);
	}

	& > li {
		border: 1px solid #000;
		box-shadow: 0 2px 2px #ccc;
	}
}

.p-madoka-library-top-nav__link {
	display: block;
	color: inherit;
	background: #f8f8f8;
	text-decoration: none;
	outline-width: 2px;
	outline-offset: 8px;

	&:focus,
	&:hover {
		color: inherit;
		background-color: #f1f1f1; /* lighten(#eee, 1%) */
	}
}

.p-madoka-library-top-nav__image {
	padding: 20px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center; /* for Chrome */

	& img {
		height: auto;
		max-width: 100%;
	}

	& :any-link:hover &,
	& :any-link:focus & {
		opacity: 0.9;
	}
}

.p-madoka-library-top-nav__text {
	padding: 1em 0.5em 0.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: var(--line-height-narrow);
}

.p-madoka-library-top-nav__page-name {
	padding-right: 0.7em;
	font-size: clamp(1.2rem, 4vw, calc(1rem * var(--font-ratio-5)));
	font-weight: bold;
	text-decoration: underline;

	&::before {
		content: "";
		display: inline-block;
		-webkit-mask: var(--image-link-bullet) left/contain no-repeat;
		mask: var(--image-link-bullet) left/contain no-repeat;
		height: 0.7em;
		width: 0.7em;
		background: #0bb;
	}
}

/* ===== データリスト ===== */
.p-madoka-library-list {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
}

.p-madoka-library-list__item {
	border: 1px solid #999;
	border-radius: 5px;

	&:not(:first-child) {
		margin-top: 1em;
	}

	& > :first-child {
		border-radius: calc(5px - 1px) calc(5px - 1px) 0 0;
	}

	& > :last-child {
		border-radius: 0 0 calc(5px - 1px) calc(5px - 1px);
	}
}

.p-madoka-library-list__hdg {
	padding: 0.7em clamp(0.5em, 1.5vw, 1em) 0.6em;
	color: #000;
	background: #cfc;
}

.p-madoka-library-list__title {
	line-height: var(--line-height-narrow);
}

.p-madoka-library-list__title [itemprop="name"] {
	font-size: calc(1rem * var(--font-ratio-2));
	font-weight: bold;
}

.p-madoka-library-list__release {
}

.p-madoka-library-list__isbn {
	margin-block-start: 0.5em;
	display: block;
	text-align: end;
}

.p-madoka-library-list__content {
	padding: 1em clamp(0.5em, 1.5vw, 1em);
	color: #000;
	background: #fff;
}

/* ===== Amazonリンク ===== */
.p-madoka-library-list__amazon {
	padding: 1em clamp(0.5em, 1.5vw, 1em) 0;
	color: #000;
	background: #fff;
	font-size: calc(1rem / var(--font-ratio-1));
}

.p-madoka-library-list-amazon__image {
	margin-right: 0.5em;
	border: 1px solid #000;
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: text-top;
}
