/* ==============================
 *   東急電車形態研究・車両データ
 * ============================== */

/* ===== 車歴表 ===== */
.p-tokyu-history-table {
	& td {
		padding: 0.2em;
	}

	& tr {
		&.-hover {
			& td {
				background-color: #fee;
			}
		}
	}
}

/* ===== 編成表 ===== */
.p-tokyu-form {
	margin-right: -4em;
	display: flex;
	flex-flow: wrap;

	& > section {
		margin: 2em 4em 0 0;
	}
}

/* 編成表 */
.p-tokyu-form__form {
	margin-top: 0.5em;
	border-collapse: collapse;

	& th,
	& td {
		padding: 0.2em;
		font-weight: normal;
		text-align: center;
		line-height: var(--line-height-narrow);
	}

	& tbody {
		& th,
		& td {
			border: 1px solid #000;
		}

		& th {
			background: #eee;
			text-align: left;
			white-space: nowrap;
		}

		& td {
			padding: 0.2em 0;
			width: 8em;
			background: #fff;
			font-size: calc(1rem / var(--font-ratio-2));
		}
	}
}

/* 編成表（譲渡車両） */
.p-tokyu-localform {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	margin-bottom: calc(var(--component-interval) * 2);
	display: flex;
	align-items: start;
	flex-flow: wrap;
	gap: 30px 60px;
}

.p-tokyu-localform__form {
	& th,
	& td {
		padding: 0.2em;
		min-width: 6.7em;
		font-weight: normal;
		text-align: center;
		line-height: var(--line-height-narrow);
	}

	& tbody {
		& td {
			padding: 0.5em 0.2em 0.2em;
			vertical-align: top;
		}
	}
}

/* 編成表内の上下方向 */
.p-tokyu-localform__form-dir {
	display: flex;
	justify-content: space-between;
	font-size: 80%;
}
