/*
埋め込みコンテンツ

Styleguide 2.5.
*/

/*
ブロック画像

Markup:
<div class="p-embedded">
<img src="https://dummyimage.com/320x180/ccc/fff" alt="" class="c-image"/>
</div>

Styleguide 2.5.1
*/
.p-embedded {
	position: relative;

	& > :any-link {
		--_expand-icon-padding: 4px;

		display: inline-block;
		outline-width: 2px;
		outline-offset: -1px;

		&::before {
			padding: var(--_expand-icon-padding);
			box-sizing: border-box;
			position: absolute;
			top: 1px;
			left: 1px;
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			background: rgb(0 0 0 / 70%) url("/assets/image/media-expansion.svg") center/contain no-repeat content-box border-box;
		}

		&:hover {
			--_expand-icon-padding: 3px;
		}
	}
}

/*
テキスト & 画像横並び

Markup:
<div class="p-image-sbs {{modifier_class}}">
<div class="p-image-sbs__text-area">
<p>テキスト</p>
</div>
<div class="p-image-sbs__image-area">
<img src="https://dummyimage.com/320x180/ccc/fff" alt="" class="c-image"/>
</div>
</div>

.-text-first - テキストが先（左）
.-image-first - 画像が先（左）
.-small - 画像サイズ小
.-medium - 画像サイズ中
.-large - 画像サイズ大

Styleguide 2.5.2
*/
.p-image-sbs {
	display: flex;
	gap: 15px 20px;

	/* テキストエリアが先頭（左） */
	&.-text-first {
		& .p-image-sbs__text-area {
			order: 1;
		}

		& .p-image-sbs__image-area {
			order: 2;
		}
	}

	/* 画像エリアが先頭（左） */
	&.-image-first {
		& .p-image-sbs__text-area {
			order: 2;
		}

		& .p-image-sbs__image-area {
			order: 1;
		}
	}

	&.-small {
		@media (max-width: 30em) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}

	&.-medium {
		@media (max-width: 37.5em) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}

	&.-large {
		@media (--breakpoint) {
			flex-flow: column;

			& + .p-image-sbs {
				margin-top: 30px;
			}

			& .p-image-sbs__text-area,
			& .p-image-sbs__image-area {
				order: 0;
			}
		}
	}
}

.p-image-sbs__text-area {
}

.p-image-sbs__image-area {
	flex-shrink: 0;
	position: relative;

	& > a {
		&::before {
			padding: 4px;
			box-sizing: border-box;
			position: absolute;
			top: 1px;
			left: 1px;
			content: "";
			height: 24px;
			width: 24px;
			display: block;
			background: rgb(0 0 0 / 70%) url("/assets/image/media-expansion.svg") center/contain no-repeat content-box border-box;
		}

		& .c-image {
			min-width: 25px;
			min-height: 25px;
		}

		&:hover,
		&:focus {
			outline: var(--focus-ring-width) solid var(--focus-ring-color);

			&::before {
				padding: 3px;
			}

			& .c-image {
				border-color: var(--focus-ring-color);
			}
		}
	}
}

/*
外部サービス埋め込み

Markup:
<div class="p-external">
	<div class="p-external__frame">
		<iframe src="https://example.com/embed" title="埋め込みタイトル"></iframe>
	</div>
	<div class="p-external__meta">
		リンクなど
	</div>
</div>

Styleguide 2.5.3
*/
.p-external {
	@media (--breakpoint) {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.p-external__frame {
	& > iframe {
		border: 1px solid;
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: min(100vh, var(--height, 600px));
	}
}

.p-external__meta {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-1));
	text-align: right;
}
