/* ==============================
 *   ウェブ巡回
 * ============================== */
.p-admin-crawler-diff {
	border: 1px solid;
	color: var(--color-black);
	background: var(--color-white);
	font-size: calc(100% / var(--font-ratio-2));

	& td {
		padding: 0.25em 0.5em;
	}
}

.p-admin-crawler-diff__line {
	--bg-color: var(--color-white);

	background: var(--bg-color);

	&.-added {
		--bg-color: #e6ffec;
	}

	&.-removed {
		--bg-color: #ffebe9;
	}
}

.p-admin-crawler-diff__type {
	text-align: center;
	font-weight: var(--font-weight-bold);
}

/* ==============================
 *   日記編集
 * ============================== */
.p-admin-blog-entry-preview {
	border: 1px solid;
	max-height: 75vh;
	overflow-y: scroll;
}

.p-admin-blog-entry-image {
	& [type="radio"] {
		display: none;
	}

	& img {
		display: block;
		object-fit: contain;
	}

	& :checked + img {
		outline: var(--outline-width-bold) solid var(--color-red);
	}
}
