/* ==============================
 *   東急電車形態研究・写真がメインのページ
 * ============================== */

/* ===== スペック ===== */
.p-hdg__tokyu-spec {
	margin-top: 0.5em;
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
}
