/*
その他

Styleguide 2.99.
*/

/*
汎用ブロック

Markup:
<div class="p-block {{modifier_class}}">
<p>テキスト</p>
</div>

-center - センタリング

Styleguide 2.99.1
*/
.p-block {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	&.-center {
		text-align: center;
	}
}

/*
ボックス

Markup:
<div class="p-box {{modifier_class}}">
<p>テキスト</p>
</div>

Styleguide 2.99.2
*/
.p-box {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	padding: 1em;
	border: 1px solid #666;
	border-radius: var(--border-radius-large);
	background: var(--color-white);

	& > :first-child {
		margin-top: 0;
	}
}

/*
タブ

Markup:
<div class="p-tab {{modifier_class}} js-tab">
<ul role="tablist" class="p-tab__tablist -header">
<li role="tab" aria-selected="false" id="tab-タブ1-1"><a href="#タブ1-1">タブ1</a></li>
<li role="tab" aria-selected="false" id="tab-タブ1-2"><a href="#タブ1-2">タブ2</a></li>
</ul>
<div class="p-tab__tabpanels js-tabpanels">
<div role="tabpanel" aria-hidden="false" id="タブ1-1">
<p>テキスト1</p>
</div>
<div role="tabpanel" aria-hidden="false" id="タブ1-2">
<p>テキスト2</p>
</div>
</div>
<ul role="tablist" class="p-tab__tablist -footer -full">
<li role="tab" aria-selected="false"><a href="#タブ2-1">タブ1</a></li>
<li role="tab" aria-selected="false"><a href="#タブ2-2">タブ2</a></li>
</ul>
</div>

Styleguide 2.99.3
*/
.p-tab {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& [role="tabpanel"] {
		padding: 20px;
		border: 1px solid #999;

		@media (max-width: 37.5em) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

/* タブリスト */
.p-tab__item {
	padding: 0.8em 0.5em;
	border: 1px solid #999;
	color: var(--color-black);
	background: #f8f8f8;
	line-height: var(--line-height-narrow);
	text-align: center;
	display: inline-block; /* Shadow DOM v1 未対応環境 */
	text-decoration: none; /* Shadow DOM v1 未対応環境 */

	&[role="tab"] {
		cursor: default;
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	&:focus {
		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		color: inherit; /* Shadow DOM v1 未対応環境 */
		background-color: #eee;
	}

	&[aria-selected="true"] {
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		font-weight: bold;
		background-color: var(--color-white);
	}
}

/*
トグル

Markup:
<ul class="p-toggle">
<li>
<details class="js-toggle">
<summary>タイトル</summary>
<div class="p-toggle__contents js-toggle-contents">
<p>テキスト</p>
</div>
</details>
</li>
<li>
<details class="js-toggle">
<summary>タイトル</summary>
<div class="p-toggle__contents js-toggle-contents">
<p>テキスト</p>
</div>
</details>
</li>
</ul>

Styleguide 2.99.4
*/
.p-toggle {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& > li {
		& + li {
			margin-top: 0.5em;
		}
	}

	& details {
		& > summary {
			padding: 0.8em 2.5em 0.7em 1em;
			border: 1px solid #999;
			border-radius: var(--border-radius-small);
			box-sizing: border-box;
			display: block;
			width: 100%;
			color: #009;
			background: #fcfcfc url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48cmVjdCB4PSIwIiB5PSIxNSIgd2lkdGg9IjM2IiBoZWlnaHQ9IjYiIGZpbGw9IiMwMDkiLz48cmVjdCB4PSIxNSIgeT0iMCIgd2lkdGg9IjYiIGhlaWdodD0iMzYiIGZpbGw9IiMwMDkiLz48L3N2Zz4=") no-repeat right 0.5em top 50% / 1.5em;
			font-size: calc(1rem * var(--font-ratio-1));
			line-height: var(--line-height-narrow);
			text-align: left;
			cursor: default;

			&:focus,
			&:hover {
				box-shadow: 0 0 0.2em #ccc;
			}

			@media (max-width: 37.5em) {
				padding-left: 0.5em;
			}

			&::-webkit-details-marker {
				display: none;
			}
		}

		&[data-pre-open="true"] {
			margin-bottom: 3em;

			& > summary {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij48cmVjdCB4PSIwIiB5PSIxNSIgd2lkdGg9IjM2IiBoZWlnaHQ9IjYiIGZpbGw9IiMwMDkiLz48L3N2Zz4=");
			}
		}
	}
}

.p-toggle__contents {
	padding-top: 16px;

	& > :first-child {
		margin-top: 0;
	}
}

/*
Amazon商品

Markup:
<aside class="p-amazon">
<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う"/></h2>
<ul class="p-amazon__list">
<li>
<a href="https://example.com/" class="p-amazon__dp">
<div class="p-amazon__image-area">
<img src="https://dummyimage.com/100x160/ccc/fff" srcset="https://dummyimage.com/200x320/ccc/fff 2x" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text-area">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__time">2000年1月1日 発売</p>
</div>
</a>
</li>
<li>
<a href="https://example.com/" class="p-amazon__dp">
<div class="p-amazon__image-area">
<img src="https://dummyimage.com/100x160/ccc/fff" srcset="https://dummyimage.com/200x320/ccc/fff 2x" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text-area">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__time">2000年1月1日 発売</p>
</div>
</a>
</li>
</ul>
</aside>

Styleguide 2.99.5
*/
.p-amazon {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	padding: 15px;
	border: 1px solid #cb4;
	border-radius: var(--border-radius-large);
	background: linear-gradient(#fed, var(--color-white));
}

.p-amazon__hdg {
	margin: -16px 0 0 -16px;
}

.p-amazon__list {
	margin: calc(0.5em - 6px) -6px -6px;
	display: flex;
	flex-flow: wrap;

	& > li {
		margin: 6px;
		width: calc(50% - 12px);

		@media (max-width: 46em) {
			width: calc(100% - 12px);
		}
	}

	@supports (display: grid) {
		margin: 0.5em 0 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 12px;

		@media (max-width: 46em) {
			grid-template-columns: 1fr;
		}

		& > li {
			margin: 0;
			width: auto;
		}
	}
}

.p-amazon__dp {
	padding: 15px;
	border-radius: var(--border-radius-large);
	display: flex;
	line-height: var(--line-height-narrow);
	text-decoration-line: none;
	transition: color var(--link-hover-transition-delay), background-color var(--link-hover-transition-delay);
	outline-offset: 0.1em;

	&:any-link {
		color: #444;
		background: #fdb;

		&:focus,
		&:hover {
			color: #333;
			background-color: #ffd7ae; /* darken(#fdb, 2.5%) */
		}
	}
}

.p-amazon__image-area {
	margin-right: 1em;

	/* min-height: 160px; */
	width: 40%;
}

.p-amazon__text-area {
	width: 60%;
}

/* 商品画像 */
.p-amazon__image {
	margin: auto;
	display: block;
	height: auto;
	max-width: 100%;
	transition: box-shadow var(--link-hover-transition-delay);

	@nest :any-link:focus &, :any-link:hover & {
		box-shadow: 0 0 4px 3px #f92;
	}
}

/* 商品タイトル */
.p-amazon__title {
	--bullet-color: #0bb; /* アイコンの色 */
	--bullet-width: 0.75em; /* ビュレットアイコンの幅 */
	--bullet-height: 0.75em; /* ビュレットアイコンの高さ */

	padding-left: var(--bullet-width);
	text-indent: calc(0em - var(--bullet-width));
	display: inline-block;
	font-weight: bold;
	text-decoration-line: underline;

	&::before {
		content: "";
		display: inline-block;
		-webkit-mask: var(--image-link-bullet) left/contain no-repeat;
		mask: var(--image-link-bullet) left/contain no-repeat;
		width: var(--bullet-width);
		height: var(--bullet-height);
		background: var(--bullet-color);
	}

	@nest :any-link:focus &, :any-link:hover & {
		--bullet-color: var(--link-color-hover);

		color: var(--link-color-hover);
	}
}

/* 発売日 */
.p-amazon__time {
	margin: 0.5em 0 0 0.702em;
	font-size: calc(1rem / var(--font-ratio-1));
}

/*
外部サービスのフレーム埋め込み

Markup:
<div class="p-external-embed">
<p class="p-external-embed__frame"><iframe src="https://example.com/embed" title="埋め込みタイトル"></iframe></p>
<p class="p-external-embed__link"><a href="https://example.com/viewer">リンクテキスト</a></p>
</div>

Styleguide 2.99.6
*/
.p-external-embed {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	@media (--breakpoint) {
		margin-right: 20px;
		margin-left: 10px;
	}
}

.p-external-embed__frame {
	& > iframe {
		border: 1px solid;
		box-sizing: border-box;
		display: block;
		height: var(--height, 600px);
		width: 100%;

		@media (--breakpoint) {
			--height: 100vh;
		}
	}
}

.p-external-embed__link {
	margin-top: 0.5em;
	font-size: calc(1rem / var(--font-ratio-1));
	text-align: right;

	& :any-link {
		--bullet-width: 0.45em;
		--bullet-height: 0.75em;
		--bullet-color: #0bb;
		--bullet-gap: 0.5em;

		padding-left: calc(var(--bullet-width) + var(--bullet-gap));
		display: inline-block;
		text-indent: calc(0em - var(--bullet-width) - var(--bullet-gap));

		&::before {
			margin-right: var(--bullet-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-link-triangle);
			width: var(--bullet-width);
			height: var(--bullet-height);
			background: var(--bullet-color);
		}

		&:focus,
		&:hover {
			--bullet-color: var(--link-color-hover);
		}
	}
}

/*
コード

Markup:
<figure class="p-code">
<figcaption class="p-code__caption">キャプション</figcaption>
<div class="p-code__box">
<pre><code>
.code {
}
</code></pre>
</div>
</figure>

Styleguide 2.99.7
*/
.p-code {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
}

.p-code__caption {
	font-size: calc(var(--page-font-size) / var(--font-ratio-1));
	font-weight: bold;
}

.p-code__box {
	border: 1px solid #ccc;
	display: flow-root;
	position: relative;
	color: var(--color-black);
	background: var(--color-white);
}

.p-code__clipboard {
	margin: 0.5em 0.5em 1em 1em;
	float: right;
}

.p-code__clipboard-button {
	--border-width: 1px;
	--border-color: #eee;
	--color: var(--color-black);
	--bgcolor: #fcfcfc;
	--ripple-effect-color: var(--color-black);
	--ripple-effect-opacity: 0.25;
	--ripple-effect-transition-duration: 0.5s;

	margin: calc(2px - var(--border-width));
	padding: 0.5em;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius-normal);
	color: var(--color);
	background-color: var(--bgcolor);
	outline: none;
	position: relative; /* for ripple effect */
	overflow: hidden; /* for ripple effect */

	&:focus,
	&:hover {
		--bgcolor: #f8f8f8;
	}

	&:focus {
		--border-width: 2px;
		--border-color: var(--outline-color);
	}

	/* ripple effect */
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: radial-gradient(circle, var(--ripple-effect-color) 25%, transparent 0);
		opacity: 0;
		transform: scale(4);
		transition: var(--ripple-effect-transition-duration);
	}

	/* ripple effect */
	&:active::before {
		opacity: var(--ripple-effect-opacity);
		transform: scale(0);
		transition: initial;
	}

	& img {
		display: block;
		height: auto;
		width: 1.5em;
	}
}

.p-code__code {
	padding: 1em;
	line-height: var(--line-height-narrow);
	white-space: pre-wrap;

	& code {
		font-family: monospace;
	}
}

/*
ダイアログオーバーレイ

Markup:
<dialog class="p-dialog-overlay">
</dialog>

Styleguide 2.99.8
*/
.p-dialog-overlay {
	border: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	color: var(--color-white);
	background: transparent;
	font-size: 1.2rem;

	@supports not (inset: 0) {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&[open] {
		display: flex;
	}

	&::backdrop {
		background: rgba(0, 0, 0, 80%);
	}

	& + .backdrop {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 80%);

		@supports not (inset: 0) {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
