/*
汎用見出し

Styleguide 2.1.
*/

/*
見出し

Markup:
<div class="p-section {{modifier_class}}">
<div class="p-hdg">
<h2 class="p-hdg__hdg">見出し<span class="p-hdg__sub-hdg">（サブ）</span></h2>
</div>
</div>

.-hdg-a - Aタイプ
.-hdg-b - Bタイプ
.-hdg-c - Cタイプ
.-hdg-d - Dタイプ

Styleguide 2.1.1
*/
.p-hdg {
	line-height: var(--line-height-narrow);

	@nest .p-section.-hdg-a > & {
		padding-bottom: 0.3em;
		border-bottom: 1px solid #999;

		& .p-hdg__hdg {
			padding-left: 0.8em;
			position: relative;
			font-size: calc(1rem * var(--font-ratio-5) * var(--font-ratio-1));
			font-weight: bold;

			&::before {
				border-radius: 1em;
				content: "";
				display: block;
				height: 90%;
				width: 0.3em;
				position: absolute;
				top: 0;
				left: 0;
				background: #666;
			}
		}
	}

	@nest .p-section.-hdg-b > & {
		& .p-hdg__hdg {
			padding-left: 0.8em;
			position: relative;
			font-size: calc(1rem * var(--font-ratio-4));
			font-weight: bold;

			&::before {
				border-radius: 1em;
				content: "";
				display: block;
				height: 95%;
				width: 0.3em;
				position: absolute;
				top: 0;
				left: 0;
				background: #999;
			}
		}
	}

	@nest .p-section.-hdg-c > & {
		& .p-hdg__hdg {
			font-size: calc(1rem * var(--font-ratio-2));
			font-weight: bold;
		}
	}

	@nest .p-section.-hdg-d > & {
		& .p-hdg__hdg {
			font-weight: bold;
		}
	}
}

.p-hdg__sub-hdg {
	font-size: 75%;
	font-weight: normal;
}
