/*
汎用テキスト

Styleguide 2.2.
*/

/*
テキスト

Markup:
<div class="p-text {{modifier_class}}">
<p>テキストテキストテキスト</p>
<p>テキストテキストテキスト</p>
</div>

.-col2 - 2カラム

Styleguide 2.2.1
*/
.p-text {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));

	& > p {
		& + p {
			margin-top: 0.5em;
		}
	}

	&.-col2 {
		columns: 2;
		column-gap: 3em;

		@media screen and (max-width: 37.5em) {
			columns: 1;
		}

		& > p {
			& + p {
				margin-top: 1em;
			}
		}
	}
}

/*
注釈

Markup:
<div class="p-note {{modifier_class}}">
<p class="p-note__note">
<span class="p-note__mark">※</span>
<span class="p-note__text">テキストテキストテキスト</span>
</p>
<p class="p-note__note">
<span class="p-note__mark">※</span>
<span class="p-note__text">テキストテキストテキスト</span>
</p>
</div>

Styleguide 2.2.2
*/
.p-note {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	margin-left: 1rem;
	margin-right: 1rem;
	color: #333;
	font-size: calc(1rem / var(--font-ratio-1));
}

.p-note__note {
	display: flex;

	&:not(:first-child) {
		margin-top: 0.5em;
	}
}

/* `※`マーク */
.p-note__mark {
	margin-right: 0.25em;
}

/* 注釈のテキスト */
.p-note__text {
}

/*
ブロック引用

Markup:
<figure class="p-quote">
<blockquote class="p-quote__quote">
<p>テキストテキストテキスト</p>
</blockquote>
<figcaption class="p-quote__caption"><cite>出典</cite><a href=""><cite>リンク付き出典</cite></a>出典</figcaption>
</figure>

Styleguide 2.2.3
*/
.p-quote {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	margin-left: 1rem;
	margin-right: 1rem;
}

.p-quote__quote {
	padding: 0.5em 1em;
	border-color: #090;
	border-style: solid;
	border-width: 1px 5px;
	border-radius: 1em;

	& > p {
		margin: 0.5em 0;
	}
}

.p-quote__caption {
	margin: 0.1em 0 0 auto;
	padding-left: 10%;
	color: #555;
	font-size: calc(1rem / var(--font-ratio-2));
	text-align: right; /* for IE, Edge */

	@supports (width: -moz-fit-content) {
		text-align: justify;
		width: -moz-fit-content; /* for Firefox */
	}

	@supports (width: fit-content) {
		text-align: justify;
		width: fit-content; /* for Chrome, Safari */
	}

	@supports (width: fit-content(0)) {
		text-align: justify;
		width: fit-content(0); /* No support browser yet */
	}

	& cite {
		font-weight: bold;
	}
}

/*
脚注

Markup:
<ul class="p-footnote">
<li id="fn1">
<span class="p-footnote__no"><a href="#r1">[1]</a></span>
<span class="p-footnote__text">テキストテキストテキスト</span>
</li>
<li id="fn2">
<span class="p-footnote__no"><a href="#r2">[2]</a></span>
<span class="p-footnote__text">テキストテキストテキスト</span>
</li>
</ul>

Styleguide 2.2.4
*/
.p-footnote {
	margin-top: calc(var(--component-interval) * 4);
	padding: 1em;
	border-radius: 0.5em;
	box-sizing: border-box;
	display: table;
	width: 100%;
	background: #e8e8e8;

	@nest .p-hdg + & {
		margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	}

	& > li {
		display: table-row;
	}
}

.p-footnote__no,
.p-footnote__text {
	display: table-cell;
	vertical-align: top;
}

.p-footnote__no {
	padding: 0 0.75em 0.1em 0;
	font-size: calc(1rem / var(--font-ratio-2));
	font-weight: bold;
	text-align: right;
	white-space: nowrap;

	& > a {
		padding: 0.25em;
		display: inline-block;
	}
}

.p-footnote__text {
	padding: 0.25em 0;
	width: 100%;
	font-size: calc(1rem / var(--font-ratio-1));
}
