/*
リンク

Styleguide 2.4.
*/

/*
商品リンク

Markup:
<div class="p-item">
<a href="https://example.com/" class="p-item__link {{modifier_class}}">
<img src="https://dummyimage.com/360x180/ccc/fff" alt="" class="p-item__image"/>
<span class="p-item__title">タイトル</span>
</a>
<div class="p-item__text">
<p>テキスト</p>
</div>
</div>

Styleguide 2.4.1
*/
.p-item {
	display: flow-root;
}

.p-item__link {
	--bullet-width: 0.75em; /* ビュレットアイコンの幅 */
	--bullet-height: 0.75em; /* ビュレットアイコンの高さ */

	margin-left: calc(0em - var(--bullet-width));
	margin-bottom: 0.5em;

	&:any-link {
		&:focus,
		&:hover {
			& .p-item__image {
				box-shadow: 0 0 5px #999;
			}
		}
	}
}

.p-item__image {
	margin-right: calc(1em + var(--bullet-width));
	float: left;
	height: auto;
	max-width: 40%;
}

.p-item__title {
	--bullet-color: #0bb; /* アイコンの色 */

	display: inline;
	font-weight: bold;

	&::before {
		content: "";
		display: inline-block;
		-webkit-mask: var(--image-link-bullet) left/contain no-repeat;
		mask: var(--image-link-bullet) left/contain no-repeat;
		width: var(--bullet-width);
		height: var(--bullet-height);
		background: var(--bullet-color);
	}

	@nest :any-link:focus &, :any-link:hover & {
		--bullet-color: var(--link-color-hover);
	}
}

.p-item__text {
	margin-top: 0.5em;
	overflow: hidden;
}
