/*
フォーム

Styleguide 2.8.
*/

/*
フォームコントロールエリア（グリッド形式の整形）

Markup:
<div class="p-form-grid {{modifier_class}}">
<div class="p-form-grid__group"><fieldset>
<legend class="p-form-grid__legend"><label for="fc-1-1">入力欄1</label></legend>
<div class="p-form-grid__contents">
<div class="p-form-grid__contents-block">
<input id="fc-1-1" class="c-input"/>
</div>
</div>
</fieldset></div>
<div class="p-form-grid__group"><fieldset>
<legend class="p-form-grid__legend">入力欄2</legend>
<div class="p-form-grid__contents">
<div class="p-form-grid__contents-block -check">
<label class="c-label-check -checkbox"><input type="checkbox"/><span class="c-label-check__label">チェックボックス</span></label>
</div>
</div>
</fieldset></div>
<div class="p-form-grid__group"><fieldset>
<legend class="p-form-grid__legend">入力欄3</legend>
<div class="p-form-grid__contents">
<fieldset class="p-form-grid__contents-block -fieldset">
<legend>キャプション</legend>
<p>テキスト</p>
</fieldset>
</div>
</fieldset></div>
</div>

.-complex - 複雑なフォーム

Styleguide 2.8.1
*/
.p-form-grid {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	display: grid;
	gap: 1em 1em;
	grid-template-columns: [legend] auto [contents] 1fr;

	/* 複雑なフォーム */
	&.-complex {
		gap: 0 1em;
	}
}

.p-form-grid__group {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: subgrid;

	@supports not (grid-template-columns: subgrid) {
		display: contents; /* for Firefox <= 70, Chrome, Safari, Edge */
	}

	/* 複雑なフォーム */
	@nest .p-form-grid.-complex & {
		padding-bottom: 0.8em;
		border-bottom: 1px solid #ccc;

		&:not(:last-child) {
			margin-bottom: 0.8em;
		}
	}
}

.p-form-grid__group > fieldset {
	display: contents;
}

.p-form-grid__legend {
	margin: 0.75em 0 0.55em;
	grid-column: legend;
	font-weight: bold;
}

.p-form-grid__contents {
	grid-column: contents;
}

@supports not (grid-template-columns: subgrid) {
	.p-form-grid.-complex {
		& .p-form-grid__group:not(:last-child) {
			& .p-form-grid__contents {
				margin-bottom: 1em;
			}
		}
	}
}

@media (max-width: 37.5em) {
	.p-form-grid {
		display: block;
	}

	.p-form-grid__group {
		display: block;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	.p-form-grid__legend {
		margin: 0;
	}

	.p-form-grid__contents {
		margin-top: 0.5em;
	}
}

.p-form-grid__contents-block {
	margin: 0.5em 0 0;

	&:first-child {
		margin-top: 0.15em;
	}

	& > :first-child {
		margin-top: 0;
	}

	/* チェックボックス、ラジオボタン */
	&.-check {
		@supports (display: flex) {
			/* IE 11 は表セルの中で Flexbox を使うと flex-flow: wrap が効かないので、 @supports を使って適用されないようにする */
			display: flex;
			flex-flow: wrap;
			align-items: center;
		}

		&:first-child {
			margin-top: 0.35em;
		}
	}

	/* <fieldset> */
	&.-fieldset {
		margin: 0.75em 0 0;
		padding: 0.25em 1em 0.75em;
		border: 1px solid #ccc;
		border-radius: 0.25em;
		background: #fcfcfc;

		& > legend {
			padding: 0 0.5em;
			color: #333;
			font-weight: bold;
		}
	}
}

/*
送信ボタンエリア

Markup:
<div class="p-submit {{modifier_class}}">
<span class="p-submit__button"><button class="c-button-submit">送信</button></span>
<span class="p-submit__button"><button class="c-button-submit">送信</button></span>
</div>

.-center - センタリング

Styleguide 2.8.2
*/
.p-submit {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	margin-left: -3em;
	display: flex;
	flex-flow: wrap;
	align-items: center;

	&.-center {
		justify-content: center;
	}
}

.p-submit__button {
	margin: 0.5em 0 0 3em;
}

/*
フォームコントロールエリア（横並び）

Markup:
<div class="p-fc-sbs {{modifier_class}}">
<div class="p-fc-sbs__fc">
<input class="c-input"/>
</div>
<div class="p-fc-sbs__fc">
<button class="c-button-submit">送信</button>
</div>
</div>

.-center - センタリング

Styleguide 2.8.3
*/
.p-fc-sbs {
	display: flex;
	flex-flow: wrap;

	&.-center {
		justify-content: center;
	}
}

.p-fc-sbs__fc {
	&:not(:last-child) {
		margin-right: 0.5em;
	}

	&.-grow {
		flex: 1;
	}
}

/*
エラー文言

Markup:
<div class="p-form-errors">
<p><strong>エラーがあります。</strong></p>
<ul>
<li>エラー文言</li>
<li>エラー文言</li>
</ul>
</div>

Styleguide 2.8.4
*/
.p-form-errors {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	padding: 1em;
	border: 1px solid #f00;
	border-radius: 0.5em;
	background: #fee;
	outline: none;

	& li {
		margin: 0.25em 0 0 1em;
		list-style-type: disc;
	}
}

/*
エラー文言

Markup:
<ul class="p-form-results">
<li class="p-form-results__item -success">エラー文言</li>
<li class="p-form-results__item -error">エラー文言</li>
</ul>

Styleguide 2.8.5
*/
.p-form-results {
	margin-top: calc(var(--component-interval) * var(--component-interval-ratio));
	padding: 1em;
	border: 1px solid;
	border-radius: 0.5em;
	color: #000;
	background: #fff;
}

.p-form-results__item {
	display: flex;
	gap: 0.5em;
	color: var(--color);

	&.-success {
		--color: #090;
	}

	&.-error {
		--color: #e00;
	}
}

.p-form-results__mark {
	min-width: 1em;
	font-weight: bold;
	text-align: center;
}

.p-form-results__message {
}

/*
プレビューエリア

Markup:
<div class="p-fc-preview">
<div class="p-fc-preview__title">タイトル</div>
<div class="p-fc-preview__contents">コンテンツ</div>
</div>

Styleguide 2.8.6
*/
.p-fc-preview {
	margin: 0.5em 0;
	padding: 0.5em 1em 1em;
	border: 1px solid #eee;
	color: #666;
	background: #eee;
}

.p-fc-preview__title {
	font-size: calc(1rem / var(--font-ratio-1));
	font-weight: bold;
}

.p-fc-preview__contents {
	margin-top: 0.25em;
	padding: 0.5em 0.75em;
	border-radius: 0.5em;
	box-sizing: border-box;
	min-height: 2em;
	color: #000;
	background: #efe;
}

/*
入力欄ごとの注釈

Markup:
<div class="p-fc-note">
<p>注釈</p>
</div>

Styleguide 2.8.7
*/
.p-fc-note {
	margin: 0.5em 0 0;
	color: #666;
	font-size: calc(1rem / var(--font-ratio-1));
}

/*
入力欄ごとのバリデートエラー文言

Markup:
<div class="p-fc-invalid">
<p>エラー文言</p>
</div>

Styleguide 2.8.8
*/
.p-fc-invalid {
	margin: 0.5em 0 0;
	color: #e00;
	font-size: calc(1rem / var(--font-ratio-1));

	& > p::before {
		margin-right: 0.25em;
		content: "⚠";
	}
}

/*
チェックボックス全選択/解除ボタン

Markup:
<span class="p-fc-allcheck">
<button type="button" disabled="">全てを選択</button>
<button type="button" disabled="">全ての選択を解除</button>
</span>

Styleguide 2.8.9
*/
.p-fc-allcheck {
	margin-left: 1em;
	display: inline-flex;

	& [type="button"] {
		margin: 0 1px;
		font-size: calc(1rem / var(--font-ratio-1));
	}
}

/*
<textarea>の入力データを整形したまま表示

Markup:
<pre class="p-form-pre">プレビュー</pre>

Styleguide 2.8.10
*/
.p-form-pre {
	font-family: inherit;
	white-space: pre-wrap;
}

/*
投稿画像プレビュー

Markup:
<ul class="p-image-preview-list"></ul>

Styleguide 2.8.11
*/
.p-image-preview-list {
	display: flex;
	flex-flow: wrap;
	font-size: calc(1rem / var(--font-ratio-1));

	& > li {
		margin: 10px 10px 0 0;
		max-width: 120px;
	}

	& img,
	& canvas {
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 141px;
		width: auto;
	}

	& .error {
		padding: 10px;
		border: 1px solid #999;
		display: block;
		font-weight: normal;
	}

	& .filename {
		margin-right: 0.5em;
		font-weight: bold;
		overflow-wrap: break-word;
	}
}
