/* ==============================
 *   久米田康治データベース・ Twitter
 * ============================== */

/* ===== 画像リスト ===== */
.p-kumeta-twitter-images {
	--_image-width: auto;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(calc(var(--_image-width) + 2px), 100%), 1fr));
	gap: 30px;
}

.p-kumeta-twitter-images.-icon {
	--_image-width: 100px;
}

.p-kumeta-twitter-images.-banner {
	--_image-width: 300px;
}
