/*
その他

Styleguide 2.99.
*/

/*
汎用ブロック

Markup:
<div class="p-block {{modifier_class}}">
<p>テキスト</p>
</div>

-center - センタリング

Styleguide 2.99.1
*/
.p-block {
	&.-center {
		text-align: center;
	}
}

/*
ボックス

Markup:
<div class="p-box">
<p>テキスト</p>
</div>

Styleguide 2.99.2
*/
.p-box {
	padding: 1em;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
}

/*
タブ

Markup:
<div class="p-tab {{modifier_class}} js-tab">
<ul role="tablist" class="p-tab__tablist -header">
<li role="tab" aria-selected="false" id="tab-タブ1-1"><a href="#タブ1-1">タブ1</a></li>
<li role="tab" aria-selected="false" id="tab-タブ1-2"><a href="#タブ1-2">タブ2</a></li>
</ul>
<div class="p-tab__tabpanels js-tabpanels">
<div role="tabpanel" aria-hidden="false" id="タブ1-1">
<p>テキスト1</p>
</div>
<div role="tabpanel" aria-hidden="false" id="タブ1-2">
<p>テキスト2</p>
</div>
</div>
<ul role="tablist" class="p-tab__tablist -footer -full">
<li role="tab" aria-selected="false"><a href="#タブ2-1">タブ1</a></li>
<li role="tab" aria-selected="false"><a href="#タブ2-2">タブ2</a></li>
</ul>
</div>

Styleguide 2.99.3
*/
.p-tab {
	& [role="tabpanel"] {
		padding: 20px;
		border: 1px solid #999;

		@media (max-width: 37.5em) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

/* タブリスト */
.p-tab__item {
	padding: 0.8em 0.5em;
	border: 1px solid #999;
	color: var(--color-black);
	background: #f8f8f8;
	line-height: var(--line-height-narrow);
	text-align: center;
	display: inline-block; /* Shadow DOM v1 未対応環境 */
	text-decoration: none; /* Shadow DOM v1 未対応環境 */

	&[role="tab"] {
		cursor: default;
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	&:focus {
		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		color: inherit; /* Shadow DOM v1 未対応環境 */
		background-color: #eee;
	}

	&[aria-selected="true"] {
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		font-weight: var(--font-weight-bold);
		background-color: var(--color-white);
	}
}

/*
トグル

Markup:
<details class="p-toggle">
<summary>タイトル</summary>
<div class="p-toggle__contents">
<p>テキスト</p>
</div>
</details>

Styleguide 2.99.4
*/
.p-toggle {
	--_color: #009;
	--_icon: polygon(0 42%, 42% 42%, 42% 0, 58% 0, 58% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 58%, 0 58%);

	& > summary {
		padding: 0.75em 1.5%;
		border: 1px solid var(--color-border-dark);
		border-radius: var(--border-radius-small);
		box-sizing: border-box;
		color: var(--_color);
		background: var(--color-bg-superlight);
		font-size: calc(100% * var(--font-ratio-1));
		line-height: var(--line-height-narrow);
		cursor: default;
		outline-width: 2px;
		outline-offset: -1px;

		&:hover {
			box-shadow: 0 0 0.25em var(--color-border-light);
		}

		&:not(:focus-visible) {
			outline: none;
		}

		& > :is(h2, h3, h4) {
			display: inline-block;
		}
	}

	&[data-pre-open] {
		& > summary {
			list-style: none;

			&::before {
				margin-right: 1.5%;
				content: "";
				display: inline-block;
				clip-path: var(--_icon);
				width: 1em;
				height: 1em;
				background: var(--_color);
				vertical-align: calc((1 - var(--line-height-narrow)) * 0.5em);
			}

			&::-webkit-details-marker {
				display: none; /* for Safari */
			}
		}
	}

	&[data-pre-open="true"] {
		--_icon: polygon(0 42%, 100% 42%, 100% 58%, 0 58%);
	}
}

.p-toggle__contents {
	padding-top: 16px;
}

/*
Amazon商品

Markup:
<aside class="p-amazon">
<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う"/></h2>
<ul class="p-amazon__list">
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://dummyimage.com/100x160/ccc/fff" srcset="https://dummyimage.com/200x320/ccc/fff 2x" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://dummyimage.com/100x160/ccc/fff" srcset="https://dummyimage.com/200x320/ccc/fff 2x" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
</ul>
</aside>

Styleguide 2.99.5
*/
.p-amazon {
	padding: 15px;
	border: 1px solid #cb4;
	border-radius: var(--border-radius-large);
	color: var(--color-black);
	background: linear-gradient(#fed, var(--color-white));
}

.p-amazon__hdg {
	margin-block-start: -16px;
	margin-inline-start: -16px;

	& > img {
		display: block;
	}
}

.p-amazon__list {
	margin-block-start: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
	grid-gap: 12px;
}

.p-amazon__link {
	--_bg-color: var(--color-amazon-bg);

	padding: 14px;
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-large);
	display: grid;
	grid-template-areas: "image gap text";
	grid-template-columns: min(40%, 160px) 15px 1fr;
	background: var(--_bg-color);
	line-height: var(--line-height-narrow);
	text-decoration-line: none;
	outline-width: 2px;
	outline-offset: -1px;
	transition: border-color var(--link-hover-transition-duration), background-color var(--link-hover-transition-duration);

	&:hover {
		--_bg-color: var(--color-amazon-bg-hover);
	}

	&:any-link {
		color: var(--color-darkgray);
	}
}

/* 画像エリア */
.p-amazon__thumb {
	grid-column: image;
}

/* 商品画像 */
.p-amazon__image {
	margin: auto;
	display: block;
	max-width: 100%;
	height: auto;
	transition: box-shadow var(--link-hover-transition-duration);

	@nest :any-link:hover & {
		box-shadow: 0 0 4px 3px var(--color-amazon-box-shadow-hover);
	}
}

/* テキストエリア */
.p-amazon__text {
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	margin-inline-start: calc(var(--_bullet-width) + var(--_bullet-gap));
	grid-column: text;
}

/* 商品タイトル */
.p-amazon__title {
	margin-inline-start: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
	display: inline;
	font-weight: bold;
	text-decoration-line: underline;
	transition: color var(--link-hover-transition-duration);

	&::before {
		margin-inline-end: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
		transition: background-color var(--link-hover-transition-duration);
	}

	@nest :any-link:hover & {
		--_bullet-color: var(--link-color-hover);

		color: var(--link-color-hover);
	}
}

/* 発売日 */
.p-amazon__date {
	margin-block-start: 0.5em;
}

/*
コード

Markup:
<figure class="p-code">
<figcaption class="p-code__caption">キャプション</figcaption>
<div class="p-code__box">
<pre><code>
.code {
}
</code></pre>
</div>
</figure>

Styleguide 2.99.7
*/
.p-code {
}

.p-code__caption {
	font-size: calc(var(--page-font-size) / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
}

.p-code__box {
	border: 1px solid #ccc;
	display: flow-root;
	position: relative;
	color: var(--color-black);
	background: var(--color-white);
}

.p-code__clipboard {
	margin: 0.5em 0.5em 1em 1em;
	float: right;
}

.p-code__clipboard-button {
	--border-width: 1px;
	--border-color: #eee;
	--color: var(--color-black);
	--bgcolor: #fcfcfc;
	--ripple-effect-color: var(--color-black);
	--ripple-effect-opacity: 0.25;
	--ripple-effect-transition-duration: 0.5s;

	margin: calc(2px - var(--border-width));
	padding: 0.5em;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius-normal);
	color: var(--color);
	background-color: var(--bgcolor);
	outline: none;
	position: relative; /* for ripple effect */
	overflow: hidden; /* for ripple effect */

	&:focus,
	&:hover {
		--bgcolor: #f8f8f8;
	}

	&:focus {
		--border-width: 2px;
		--border-color: var(--outline-color);
	}

	/* ripple effect */
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: radial-gradient(circle, var(--ripple-effect-color) 25%, transparent 0);
		opacity: 0;
		transform: scale(4);
		transition: var(--ripple-effect-transition-duration);
	}

	/* ripple effect */
	&:active::before {
		opacity: var(--ripple-effect-opacity);
		transform: scale(0);
		transition: initial;
	}

	& img {
		display: block;
		height: auto;
		width: 1.5em;
	}
}

.p-code__code {
	padding: 1em;
	line-height: var(--line-height-narrow);
	white-space: pre-wrap;

	& code {
		font-family: monospace;
	}
}

/*
ダイアログオーバーレイ

Markup:
<dialog class="p-dialog-overlay">
</dialog>

Styleguide 2.99.8
*/
.p-dialog-overlay {
	border: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	color: var(--color-white);
	background: transparent;
	font-size: 1.2rem;

	@supports not (inset: 0) {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&[open] {
		display: flex;
	}

	&::backdrop {
		background: rgba(0, 0, 0, 80%);
	}

	& + .backdrop {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 80%);

		@supports not (inset: 0) {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
