/* ===== 映像比較表 ===== */
.p-madoka-video-compare {
	border: 1px solid;
	color: var(--color-black);
	background: var(--color-white);

	& > div {
		padding: 1em 1vw;

		& + div {
			border-top: 1px solid;
		}
	}
}

.p-madoka-video-compare__time {
	font-size: calc(100% * var(--font-ratio-1));
	font-weight: var(--font-weight-bold);
}

.p-madoka-video-compare__content {
	margin-top: 0.5em;
}
