/*
その他

Styleguide 2.99.
*/

/*
ボックス

Markup:
<div class="p-box">
<p>テキスト</p>
</div>

Styleguide 2.99.1
*/
.p-box {
	padding: 1em;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
}

/*
トグル

Markup:
<details class="p-toggle">
<summary>タイトル</summary>
<div class="p-toggle__contents">
<p>テキスト</p>
</div>
</details>

Styleguide 2.99.2
*/
.p-toggle {
	--_icon: polygon(0 42%, 42% 42%, 42% 0, 58% 0, 58% 42%, 100% 42%, 100% 58%, 58% 58%, 58% 100%, 42% 100%, 42% 58%, 0 58%);

	& > summary {
		padding: 0.75em 1.5%;
		border: 1px solid var(--color-border-dark);
		border-radius: var(--border-radius-small);
		box-sizing: border-box;
		color: var(--color-darkblue);
		background: var(--color-white);
		font-size: calc(100% * var(--font-ratio-1));
		line-height: var(--line-height-narrow);
		cursor: default;
		outline-width: var(--outline-width-bold);
		outline-offset: -1px;

		&:hover {
			box-shadow: 0 0 0.25em var(--color-border-light);
		}

		&:not(:focus-visible) {
			outline: none;
		}

		& > :is(h2, h3, h4) {
			display: inline-block;
		}
	}

	&[data-pre-open] {
		& > summary {
			list-style: none;

			&::before {
				margin-inline-end: 1.5%;
				content: "";
				display: inline-block;
				clip-path: var(--_icon);
				width: 1em;
				height: 1em;
				background: var(--color-darkblue);
				vertical-align: calc((1 - var(--line-height-narrow)) * 0.5em);
			}

			&::-webkit-details-marker {
				display: none; /* for Safari */
			}
		}
	}

	&[data-pre-open="true"] {
		--_icon: polygon(0 42%, 100% 42%, 100% 58%, 0 58%);
	}
}

.p-toggle__contents {
	padding-block-start: 16px;
}

/*
Amazon商品

Markup:
<aside class="p-amazon">
<h2 class="p-amazon__hdg"><img src="/assets/image/amazon_buy.png" srcset="/assets/image/amazon_buy@2x.png 2x" alt="Amazonで買う"/></h2>
<ul class="p-amazon__list">
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=160;h=160;quality=30" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
<li>
<a href="https://example.com/" class="p-amazon__link">
<div class="p-amazon__thumb">
<img src="https://media.w0s.jp/thumbimage/sample.jpg?type=webp;w=160;h=160;quality=30" alt="" class="p-amazon__image"/>
</div>
<div class="p-amazon__text">
<p class="p-amazon__title">商品タイトル</p>
<p class="p-amazon__date">2000年1月1日 発売</p>
</div>
</a>
</li>
</ul>
</aside>

Styleguide 2.99.3
*/
.p-amazon {
	padding: 15px;
	border: 1px solid var(--color-amazon-dark);
	border-radius: var(--border-radius-large);
	color: var(--color-black);
	background: linear-gradient(var(--color-amazon-light), var(--color-white));
}

.p-amazon__hdg {
	margin-block-start: -16px;
	margin-inline-start: -16px;

	& > img {
		display: block;
	}
}

.p-amazon__list {
	margin-block-start: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
	grid-gap: 12px;
}

.p-amazon__link {
	--_bg-color: var(--color-amazon);

	padding: 14px;
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-large);
	display: grid;
	grid-template-areas: "image gap text";
	grid-template-columns: min(40%, 160px) 15px 1fr;
	background: var(--_bg-color);
	line-height: var(--line-height-narrow);
	text-decoration-line: none;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	transition: border-color var(--link-hover-transition-duration), background-color var(--link-hover-transition-duration);

	&:hover {
		--_bg-color: var(--color-amazon-dark);
	}

	&:any-link {
		color: var(--color-darkgray);
	}
}

/* 画像エリア */
.p-amazon__thumb {
	grid-column: image;
}

/* 商品画像 */
.p-amazon__image {
	margin: auto;
	display: block;
	max-width: 100%;
	height: auto;
	transition: box-shadow var(--link-hover-transition-duration);

	@nest :any-link:hover & {
		box-shadow: 0 0 4px 3px var(--color-amazon-verydark);
	}
}

/* テキストエリア */
.p-amazon__text {
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	margin-inline-start: calc(var(--_bullet-width) + var(--_bullet-gap));
	grid-column: text;
}

/* 商品タイトル */
.p-amazon__title {
	margin-inline-start: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
	display: inline;
	font-weight: var(--font-weight-bold);
	text-decoration-line: underline;

	&::before {
		margin-inline-end: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
	}
}

/* 発売日 */
.p-amazon__date {
	margin-block-start: 0.5em;
}

/*
ブロックコード

Markup:
<div class="p-code">
<div class="p-code__clipboard">
<button type="button" class="p-code__clipboard-button">Copy</button>
</div>
<pre class="p-code__code">Code
</pre>
</div>

Styleguide 2.99.4
*/
.p-code {
	border: 1px solid var(--color-border-light);
	contain: content;
	display: flow-root; /* for Safari */
	color: var(--color-black);
	background: var(--color-white);
}

.p-code__clipboard {
	margin: 0.5em 0.5em 1em 1em;
	float: right;
}

.p-code__clipboard-button {
	--_bg-color: var(--color-bg-superlight);
	--_ripple-color: var(--color-black);
	--_ripple-opacity: 0.25;
	--_ripple-transition-duration: 0.5s;

	padding: 0.5em;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	color: var(--color-black);
	background: var(--_bg-color);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	/* ripple effect */
	contain: layout;
	position: relative; /* for Safari */
	overflow: hidden;

	&:hover {
		--_bg-color: var(--color-white);
	}

	/* ripple effect */
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
		opacity: 0;
		transform: scale(4);
		transition: var(--_ripple-transition-duration);
	}

	/* ripple effect */
	&:active::before {
		opacity: var(--_ripple-opacity);
		transform: scale(0);
		transition: initial;
	}

	& > img {
		display: block;
		width: 1.5em;
		height: 1.5em;
	}
}

.p-code__code {
	padding: 1em;
	font-family: monospace;
	line-height: var(--line-height-narrow);

	& > code {
		color: #24292e; /* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
	}
}

/*
ダイアログオーバーレイ

Markup:
<dialog class="p-dialog-overlay">
</dialog>

Styleguide 2.99.5
*/
.p-dialog-overlay {
	margin: 0;
	padding: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	color: var(--color-white);
	background: transparent;
	font-size: 1.2rem;

	&[open] {
		display: flex;
	}

	&::backdrop {
		background: rgb(0 0 0 / 80%);
	}
}
