/* ===== トップページナビゲーション ===== */
.p-library-index-nav {
	display: block;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	box-shadow: 0 2px 2px var(--color-border-light);
	border: 1px solid var(--color-black);
	background: var(--color-bg-superlight);
	color: inherit;

	&:hover {
		background-color: var(--color-bg-light);
		color: inherit;
	}
}

.p-library-index-nav__image {
	display: flex;
	justify-content: center;
	background: var(--color-white);
	padding: 40px;

	& img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.p-library-index-nav__title {
	display: block;
	padding: 0.5em min(0.5vw, 0.5em);
	font-weight: var(--font-weight-bold);
	font-size: calc(100% * var(--font-ratio-5));
	line-height: var(--line-height-narrow);
	text-align: center;

	&::before {
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: 0.5em;
		background: var(--link-color-bullet);
		width: 0.45em;
		height: 0.75em;
		content: "";
	}

	&::after {
		display: inline-block;
		margin-inline-start: 0.5em;
		width: 0.45em;
		content: "";
	}
}

/* ===== データ ===== */
.p-library {
	--_border-width: 1px;
	--_border-radius-inner: calc(var(--border-radius-normal) - var(--_border-width));
	--_padding-inline: clamp(8px, 1.5vw, 16px);

	border: var(--_border-width) solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	color: var(--color-black);
}

.p-library__header {
	--_padding-block: 16px;
	--_line-height: var(--line-height-narrow);

	display: flex;
	position: relative; /* for Safari */
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em;
	contain: layout;
	border-start-start-radius: var(--_border-radius-inner);
	border-start-end-radius: var(--_border-radius-inner);
	background: var(--color-verylightgreen);
	padding: var(--_padding-block) var(--_padding-inline) var(--_padding-block) calc(var(--_padding-inline) + var(--self-link-size));
	line-height: var(--_line-height);
}

.p-library__main {
	padding: 24px var(--_padding-inline);
}

.p-library__title {
	font-size: calc(100% * var(--font-ratio-2));

	& .c-self-link {
		position: absolute;
		inset-block-start: calc(var(--_padding-block) + 0.15em * var(--font-ratio-1));
		inset-inline-start: var(--_padding-inline);
	}
}

.p-library__release {
	&::before {
		content: "（";
	}

	&::after {
		content: "）";
	}
}

.p-library__isbn {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-end;
}
