/*
セクション

Styleguide 2.1.
*/

/*
セクション

Markup:
<section class="p-section {{modifier_class}}">
<div class="p-section__hdg">
	<h2>見出し <span class="p-section__subhdg">（注釈）</span></h2>
	<p class="p-section__hdg-note">補足</p>
</div>
</section>

.-hdg-a - 子に見出しA を含む
.-hdg-b - 子に見出しB を含む
.-hdg-c - 子に見出しC を含む

Styleguide 2.1.1
*/
@keyframes section-target {
	0% {
		background-color: var(--color-bg-pink);
	}

	50% {
		background-color: var(--color-bg-pink);
	}

	100% {
		background-color: transparent;
	}
}

.p-section {
	--_margin-block: 1em;

	&:not(:first-child) {
		@nest :not(.p-section__hdg) + & {
			margin-block-start: var(--_margin-block);
		}
	}

	&:not(:last-child) {
		margin-block-end: var(--_margin-block);
	}

	&.-hdg-a {
		--_margin-block: 4.5em;
	}

	&.-hdg-b {
		--_margin-block: 3.75em;
	}

	&.-hdg-c {
		--_margin-block: 3em;
	}

	&:target {
		animation: section-target 1s;
	}
}

.p-section__hdg {
	line-height: var(--line-height-narrow);

	@nest .p-section.-hdg-a > & {
		--stack-margin-block: 2em;

		padding: 0.25em 0;
		border-block-start: 1px solid transparent;
		border-block-end: 1px solid var(--color-border-dark);

		& > h2 {
			--_stick-width: 0.25em;
			--_stick-height: 80%;

			padding-inline-start: calc(var(--_stick-width) + 0.5em);
			contain: content;
			position: relative; /* for Safari */
			font-size: calc(100% * var(--font-ratio-6));

			&::before {
				border-radius: var(--border-radius-full);
				content: "";
				display: block;
				width: var(--_stick-width);
				height: var(--_stick-height);
				position: absolute;
				top: calc((100% - var(--_stick-height)) / 2);
				left: 0;
				background: var(--color-gray);
			}
		}
	}

	@nest .p-section.-hdg-b > & {
		& > h3 {
			--_stick-width: 0.25em;
			--_stick-height: 80%;

			padding-inline-start: calc(var(--_stick-width) + 0.5em);
			contain: content;
			position: relative; /* for Safari */
			font-size: calc(100% * var(--font-ratio-4));

			&::before {
				border-radius: var(--border-radius-full);
				content: "";
				display: inline-block;
				width: var(--_stick-width);
				height: var(--_stick-height);
				position: absolute;
				top: calc((100% - var(--_stick-height)) / 2);
				left: 0;
				background: var(--color-lightgray);
			}
		}
	}

	@nest .p-section.-hdg-c > & {
		& > :is(h3, h4) {
			font-size: calc(100% * var(--font-ratio-2));
		}
	}
}

/* 注釈 */
.p-section__subhdg {
	font-size: calc(100% / var(--font-ratio-2));
	font-weight: var(--font-weight-normal);
}

/* 補足 */
.p-section__hdg-note {
	margin-block-start: 0.5em;
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
}
