/* ==============================
 *   サイドバー
 * ============================== */

/* ===== プロフィール ===== */
.p-sidebar-profile {
	--_heading-offset: calc(-0.5em * var(--line-height-narrow));
	--_stack-margin-top: calc(20px - var(--_heading-offset));

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
}

.p-sidebar-profile__hdg {
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
}

.p-sidebar-profile__info {
	margin-top: calc(10px + var(--_heading-offset));
	contain: layout;
	display: flow-root; /* for Safari */
}

.p-sidebar-profile__address {
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-nowrap);

	& > :any-link {
		outline-offset: var(--outline-offset-linkonly);
	}
}

/* アバター */
.p-sidebar-profile__avatar {
	margin-right: 10px;
	float: left;

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-lightgray);
	}
}

/* BIO */
.p-sidebar-profile__bio {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-1));
	text-align: justify;
	overflow: hidden;
}

/* バナー */
.p-sidebar-profile__banners {
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== 日記記事リスト ===== */
.p-sidebar-blog-entry {
	--_heading-offset: calc(-0.5em * var(--line-height-narrow));
	--_stack-margin-top: calc(20px - var(--_heading-offset));

	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}

.p-sidebar-blog-entry__hdg {
	margin: 0 10px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
}

.p-sidebar-blog-entry__link {
	margin-top: var(--_heading-offset);
}

/* ===== リンクリスト ===== */
.p-sidebar-links {
	& a {
		--_padding-row: 0.5em;
		--_padding-col: 0.5em;
		--_bg-color: var(--color-bg-skyblue);

		padding: var(--_padding-row) var(--_padding-col);
		display: flex;
		align-items: center;
		position: relative;
		font-size: calc(100% / var(--font-ratio-1));
		background: var(--_bg-color);
		outline-width: 2px;
		outline-offset: -1px;

		&:any-link {
			--_bg-color: var(--color-white);
			--_icon-color: var(--color-lightgray); /* アイコンの色 */
			--_icon-width: 0.67em; /* アイコンの幅 */
			--_icon-height: 1em; /* アイコンの高さ */
			--_icon-gap: 0.75em; /* テキストとアイコンの間隔 */

			padding-right: calc(var(--_icon-gap) + var(--_icon-width) + var(--_padding-col));
			text-decoration: none;

			&::after {
				content: "";
				clip-path: var(--shape-link-arrow);
				width: var(--_icon-width);
				height: var(--_icon-height);
				background: var(--_icon-color);
				position: absolute;
				top: calc(50% - var(--_icon-height) / 2);
				right: var(--_padding-col);
			}

			&:hover {
				--_bg-color: var(--color-bg-lightyellow);
				--_icon-color: var(--color-gray);
			}
		}
	}

	& > li {
		& + li {
			border-top: 1px dotted var(--color-border-dark);
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a {
				&:any-link {
					--_bg-color: var(--color-bg-verylight);

					&:hover {
						--_bg-color: var(--color-bg-lightyellow);
					}
				}
			}
		}
	}

	/* 記事 */
	&.-entry {
		& a {
			min-height: 2em;
		}
	}
}

.p-sidebar-links__icon {
	margin-left: 1em;
}

/* ===== Amazon 商品広告 ===== */
.p-sidebar-amazon {
	--_heading-offset: calc(-0.5em * var(--line-height-narrow));
	--_stack-margin-top: calc(20px - var(--_heading-offset));

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
}

.p-sidebar-amazon__hdg {
	margin: 0 4px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
}

.p-sidebar-amazon__link {
	margin-top: calc(10px + var(--_heading-offset));
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(90px, 100%), 1fr));
	gap: 10px;
}

/* ===== Amazon 商品リンク ===== */
.p-sidebar-amazon-link {
	display: block;
	text-decoration: none;
	outline-width: 2px;
	outline-offset: 0.125em;
}

/* 画像エリア */
.p-sidebar-amazon-link__thumb {
}

/* 商品画像 */
.p-sidebar-amazon-link__image {
	display: block;
	width: 100%;
	height: auto;
	transition: box-shadow var(--link-hover-transition-duration);

	@nest :any-link:hover & {
		box-shadow: 0 0 3px 3px var(--color-amazon-box-shadow-hover);
	}
}

/* テキストエリア */
.p-sidebar-amazon-link__text {
	--_color: var(--color-darkgray);
	--_bg-color: var(--color-amazon-bg);

	margin-top: 1px;
	padding: 5px;
	border-radius: var(--border-radius-large);
	color: var(--_color);
	background: var(--_bg-color);
	overflow-wrap: anywhere;
	transition: color var(--link-hover-transition-duration), background-color var(--link-hover-transition-duration);

	@nest :any-link:hover & {
		--_bg-color: var(--color-amazon-bg-hover);
	}
}

/* 商品タイトル */
.p-sidebar-amazon-link__title {
	font-size: calc(100% / var(--font-ratio-1));

	&:not([hidden]) {
		display: block;
	}
}

/* 発売日 */
.p-sidebar-amazon-link__date {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-2));
	font-weight: var(--font-weight-bold);

	&:not([hidden]) {
		display: block;
	}
}
