name: Astro project

on:
  pull_request:
    paths:
      - 'astro/build/**/*.ts'
      - 'astro/src/**/*.astro'
      - 'astro/src/**/*.ts'
      - 'astro/eslint.config.js'
      - 'astro/markuplint.config.js'
      - 'astro/package.json'
      - 'astro/stylelint.config.js'
      - 'package.json'
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
      - run: npm ci
      - run: npm run lint:src -w '@w0s.jp/astro'
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
      - run: npm ci
      - run: npm test -w '@w0s.jp/astro'
